<div class="createNewEventModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeCreateNewEventModal()"></span>
        <h4 data-ng-show="vm.type == 'CREATE'" class="modal-title"><span class="glyphicon glyphicon-calendar"></span> Neuen Termin anlegen</h4>
        <h4 data-ng-show="vm.type == 'EDIT'" class="modal-title"><span class="glyphicon glyphicon-calendar"></span> Termin &auml;ndern</h4>
    </div>
    <div class="modal-body">
       
       <form name="createNewEventForm" class="form-horizontal" data-ng-submit="vm.createOrUpdateCalendarEvent()">
			<div class="form-group">
			    <label class="control-label col-sm-3" for="title">Thema:<span class="mandatory">*</span></label>
			    <div class="col-sm-6">
			      <input type="text" class="form-control" name="title" data-ng-model="vm.calendarEvent.title" placeholder="Thema" data-ng-minlength="3" data-ng-maxlength="50" required>
			    </div>
			    <br />
			    <br />
			    <div class="errorMessage col-sm-offset-2" data-ng-show="createNewEventForm.title.$error.minlength && !createNewEventForm.title.$pristine">Thema muss mindestens 3 Zeichen lang sein</div>
			    <div class="errorMessage col-sm-offset-2" data-ng-show="createNewEventForm.title.$error.maxlength && !createNewEventForm.title.$pristine">Thema darf maximal 50 Zeichen lang sein</div>
			</div>
			<div class="form-group">
			    <label class="control-label col-sm-3" for="title">Ort:<span class="mandatory">*</span></label>
			    <div class="col-sm-6">
			      <input type="text" class="form-control" name="location" data-ng-model="vm.calendarEvent.location" placeholder="Ort" data-ng-minlength="3" data-ng-maxlength="90" required>
			    </div>
			    <br />
			    <br />
			    <div class="errorMessage col-sm-offset-2" data-ng-show="createNewEventForm.location.$error.minlength && !createNewEventForm.location.$pristine">Ort muss mindestens 3 Zeichen lang sein</div>
			    <div class="errorMessage col-sm-offset-2" data-ng-show="createNewEventForm.location.$error.maxlength && !createNewEventForm.location.$pristine">Ort darf maximal 90 Zeichen lang sein</div>
			</div>
			<div class="form-group">
			    <label class="control-label col-sm-3 startLabel" for="startsAt">Start:<span class="mandatory">*</span></label>
			    <div class="col-sm-4">
			    	<table>
			    		<tr>
			    			<td>
			    				<p class="input-group">
							    	<input type="text"
					                            class="form-control dateInput"
					                            name="startsAt"                                
					                            data-ng-model="vm.startDate"
					                            datepicker-popup="dd.MM.yyyy"
					                            is-open="vm.calendarEventStartsAtDatePicker"
					                            close-text="schlie&szlig;en"
					                            current-text="heute"
					                            clear-text="l&ouml;schen"
					                            datepicker-options="{startingDay: 1}"
					                            placeholder="Start"
					                            disabled>
					                  	<span class="input-group-btn">
					                       		<button type="button" class="btn btn-default btn-xs datePickerButton"                         		   
					                               data-ng-click="vm.openCalendarEventStartsAtDatePicker($event)">
					                               <span class="glyphicon glyphicon-calendar"></span>
					                            </button>
					                  	</span>
								  </p>
			    			</td>
			    			<td>
			    				<datetimepicker 
									hour-step="1" 
							      	minute-step="1" 
							      	data-ng-model="vm.startTime" 
							      	data-ng-changed="vm.startTimeChanged()"
							      	show-meridian="false" 
							      	show-date="false"
							      	show-spinners="true"
							      	readonly-time="false">
							   </datetimepicker>
			    			</td>
			    		</tr>
			    	</table>
			    </div>
			</div>
			<div class="form-group">
			    <label class="control-label col-sm-3 endLabel" for="endsAt">Ende:<span class="mandatory">*</span></label>
			    <div class="col-sm-4">
			    	<table>
			    		<tr>
			    			<td>
						    	<p class="input-group">
							    	<input type="text"
					                            class="form-control dateInput"
					                            name="endsAt"                                
					                            data-ng-model="vm.endDate"
					                            datepicker-popup="dd.MM.yyyy"
					                            is-open="vm.calendarEventEndsAtDatePicker"
					                            close-text="schlie&szlig;en"
					                            current-text="heute"
					                            clear-text="l&ouml;schen"
					                            datepicker-options="{startingDay: 1}"
					                            placeholder="Ende"
					                            disabled>
					                  	<span class="input-group-btn">
					                       		<button type="button" class="btn btn-default btn-xs datePickerButton"                         		   
					                               data-ng-click="vm.openCalendarEventEndsAtDatePicker($event)">
					                               <span class="glyphicon glyphicon-calendar"></span>
					                            </button>
					                  	</span>
		            			</p>
		            		</td>
			    			<td>
			    				<datetimepicker 
									hour-step="1" 
							      	minute-step="1" 
							      	ng-model="vm.endTime" 
							      	show-meridian="false" 
							      	show-date="false"
							      	show-spinners="true"
							      	readonly-time="false">
							   </datetimepicker>
			    			</td>
			    		</tr>
			    	</table>
			    </div>
			</div>
			<div class="col-sm-offset-2 errorMessage" data-ng-show="endDateBeforeStartDate == true">
			    Ende liegt vor dem Start
			 </div>
			<hr />
			<div class="form-group">
			    <label class="control-label col-sm-3" for="name">Serientermin:</label>
			    <div class="col-sm-6">
			    	<input type="checkbox" data-ng-model="vm.calendarEvent.serialDate" />
			    </div>
			</div>
			<div class="form-group" data-ng-show="vm.calendarEvent.serialDate == true">
			    <label class="control-label col-sm-3" for="name">Serientermin- Periode:</label>
			    <div class="col-sm-6">
			    	<select class="input form-control" data-ng-model="vm.calendarEvent.calendarEventSerialDateType" data-ng-change="vm.updateUser('workingOrderView')" data-ng-options="calendarEventSerialDateType | translate for calendarEventSerialDateType in vm.calendarEventSerialDateTypes">
					</select>
			    </div>
			</div>
			<div class="form-group" data-ng-show="vm.calendarEvent.serialDate == true">
			    <label class="control-label col-sm-3" for="name">Serientermin Ende:</label>
			    <div class="col-sm-4">
			    	<p class="input-group">
				    	<input type="text"
		                            class="form-control dateInput"
		                            name="endsAt"                                
		                            data-ng-model="vm.calendarEvent.serialEndDate"
		                            datepicker-popup="dd.MM.yyyy"
		                            is-open="vm.serialEndDatePicker"
		                            close-text="schlie&szlig;en"
		                            current-text="heute"
		                            clear-text="l&ouml;schen"
		                            datepicker-options="{startingDay: 1}"
		                            date-disabled="vm.disabledFrom(date, mode)"
		                            placeholder="Ende"
		                            disabled>
		                  	<span class="input-group-btn">
		                       		<button type="button" class="btn btn-default btn-xs datePickerButton"                         		   
		                               data-ng-click="vm.openSerialEndDatePicker($event)">
		                               <span class="glyphicon glyphicon-calendar"></span>
		                            </button>
		                  	</span>
           			</p>
			    </div>
			</div>
			<hr />
			<div class="form-group">
			    <label class="control-label col-sm-3" for="name">Projekt:</label>
			    <div class="col-sm-6">
			    
				     <div class="dropdown dropdown-scroll">
					    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
					    	<span data-ng-show="vm.calendarEvent.project != null">
					    		<span data-ng-show="vm.calendarEvent.project.name != null || vm.calendarEvent.project.name != 'undefined'"></span>
					    		<span class="glyphicon glyphicon-folder-open" style="color:{{vm.calendarEvent.project.color}}"></span> 
					    		{{vm.calendarEvent.project.name}}  
					    	</span>
					    	<span data-ng-show="vm.calendarEvent.project.name == null || vm.calendarEvent.project.name == 'undefined'">Projekt ausw&auml;hlen</span> 
					    	<span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu">
					        <li role="presentation">      	
					            <div class="input-group input-group-sm search-control"> 
					            	<span class="input-group-addon">
					                    <span class="glyphicon glyphicon-search"></span>
									</span>
					                <input type="text" class="form-control" placeholder="Projekt suchen" data-ng-model="query"></input>
					            </div>
					        </li>
					        <li><span>&nbsp;</span></li>
					        <li role="presentation" data-ng-repeat="project in vm.projects | filter:query">
					        	<table class="projectTable">
					        		<tr>
					        			<td>
					        				<span data-ng-show="project.selected == true" class="glyphicon glyphicon-ok icon-hover" data-ng-click="vm.removeProject(project)"></span>
					        				<span data-ng-show="project.selected == false">&nbsp;&nbsp;&nbsp;</span>
					        			</td>
					        			<td><span>&nbsp;</span></td>
					        			<td>
					        				<span class="glyphicon glyphicon-folder-open" style="color:{{project.color}}"></span>
					        				<span class="icon-hover possibleProject" data-ng-click="vm.addProject(project, 'NON_INIT')">{{project.name}}</span>
					        			</td>
					        		</tr>
					        	</table> 
					        </li>
					    </ul>
					</div>
			    </div>
			    <br />
			    <br />
			    <div class="errorMessage col-sm-offset-2" data-ng-show="createNewEventForm.project.$error.minlength && !createNewEventForm.project.$pristine">Projekt muss mindestens 2 Zeichen lang sein</div>
			    <div class="errorMessage col-sm-offset-2" data-ng-show="createNewEventForm.project.$error.maxlength && !createNewEventForm.project.$pristine">Projekt darf maximal 50 Zeichen lang sein</div>
			</div>
			<div class="form-group">
				<br />
				<div class="col-sm-offset-1 col-sm-10">
					<b>Teilnehmer</b> ({{vm.calendarUserConnections.length}}): <span data-ng-show="vm.isCurrentUserMemberOfCalendarEvent() == false" class="errorMessage">Sie sind aktuell kein Mitglied!</span>
					<table class="table table-striped">
						<tr data-ng-repeat="calendarUserConnection in vm.calendarUserConnections track by $index">
							<td>Email:</td>
							<td><input type="checkbox" data-ng-model="calendarUserConnection.emailActive" /></td>
							<td data-ng-show="calendarUserConnection.user != null">
								<span class="glyphicon glyphicon-user" style="color:{{calendarUserConnection.user.color}}"></span>
								{{calendarUserConnection.user.title}} {{calendarUserConnection.user.firstname}} <b><span title="{{calendarUserConnection.user.email}}">{{calendarUserConnection.user.surname}}</span></b> 
								<span class="address">{{calendarUserConnection.user.address.street}} {{calendarUserConnection.user.address.postalCode}} <b>{{calendarUserConnection.user.address.region}}</b></span> 
							</td>
							<td data-ng-show="calendarUserConnection.contact != null">
								<span class="glyphicon glyphicon-home" style="color:{{calendarUserConnection.contact.color}}"></span>
		       					<span class="icon-hover" data-ng-init="calendarUserConnection.showContactPersons = false" data-ng-click="calendarUserConnection.showContactPersons = !calendarUserConnection.showContactPersons" title="{{calendarUserConnection.contact.emails}}">
		       						<b>{{calendarUserConnection.contact.institution}}</b>
		       					</span> 
		       					<span class="address">{{calendarUserConnection.contact.address.street}} {{calendarUserConnection.contact.address.postalCode}} <b>{{calendarUserConnection.contact.address.region}}</b></span>
		       					<br />
		       					<div class="contactPersons" data-ng-show="calendarUserConnection.showContactPersons == true && contactPerson.surname != null && contactPerson.surname != ''" data-ng-repeat="contactPerson in calendarUserConnection.contact.contactPersons">
		       						<input type="checkbox" data-ng-model="contactPersonSelected" data-ng-init="contactPersonSelected = vm.isContactPersonSelected(contactPerson, calendarUserConnection)" data-ng-click="vm.contactPersonSelectionChanged(contactPersonSelected, contactPerson, calendarUserConnection)" />
		       						<span class="glyphicon glyphicon-user"></span> {{contactPerson.title || '--'}} {{contactPerson.firstname || '--'}} <b>{{contactPerson.surname || '--'}}</b>
		       						<div class="contactPersonEmails" data-ng-repeat="email in contactPerson.emails">
		       							{{email}}<br />
		       						</div>
		       					</div>
							</td>
							<td>&nbsp;</td>
							<td>
								<span class="glyphicon glyphicon-minus icon-hover" data-ng-click="vm.removeContactOrUser(calendarUserConnection)"></span>
							</td>
						</tr>
					</table>

					<hr />
					
					<b>Alle User und Kontakte</b> ({{vm.allContactsAndUsers.length}}):
					<input type="text" class="form-control" name="contactOrUser" data-ng-model="contactOrUser" placeholder="User oder Kontakt suchen" />
					<br />
					<div style="height:400px;overflow:auto;">
						<div data-ng-repeat="contactOrUser in vm.allContactsAndUsers | filter:contactOrUser track by $index">
							<div data-ng-hide="vm.contactOrUserStillSelected(contactOrUser)">
								<table>
									<tr>
										<td>
											<button class="btn btn-default btn-sm" type="button" data-toggle="dropdown" data-ng-click="vm.addContactOrUser(contactOrUser)">
												<span class="glyphicon glyphicon-ok"></span>
										    </button>
										</td>
										<td><span>&nbsp;</span></td>
										<td>
											<span data-ng-show="contactOrUser.contactUserType == 'USER'">
												<span class="glyphicon glyphicon-user" style="color:{{contactOrUser.user.color}}"></span>
												{{contactOrUser.title}} {{contactOrUser.firstname}} <b>{{contactOrUser.surname}}</b> -
												<span class="address">{{contactOrUser.user.address.street || '--'}} {{contactOrUser.user.address.postalCode || '--'}} <b>{{contactOrUser.user.address.region || '--'}}</b></span>
											</span> 
											<span data-ng-show="contactOrUser.contactUserType == 'CONTACT'">
												<span class="glyphicon glyphicon-home" style="color:{{contactOrUser.contact.color}}"></span>
												{{contactOrUser.institution}} {{contactOrUser.title}} {{contactOrUser.firstname}} <b>{{contactOrUser.surname}}</b> -
												<span class="address">{{contactOrUser.contact.address.street || '--'}} {{contactOrUser.contact.address.postalCode || '--'}} <b>{{contactOrUser.contact.address.region || '--'}}</b></span>
											</span>
										</td>
									</tr>
								</table>
							</div> 
						</div>
					</div>
				</div>
			</div>
			<br />
			<div class="form-group"> 
			    <div class="col-sm-offset-6 col-sm-7">
			      <button type="submit" class="btn btn-default createNewCalendarEventButton" data-ng-disabled="createNewEventForm.$invalid">
			      	<span data-ng-show="vm.type == 'CREATE'">Termin anlegen</span>
			      	<span data-ng-show="vm.type == 'EDIT'">&Auml;nderungen speichern</span>
			      </button>
			    </div>
			</div>
		</form>
    </div>
</div>