<div class="productsOfContactModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeProductsOfContact()"></span>
        <h4 class="modal-title"><span class="glyphicon glyphicon-filter"></span> Produkte von Kontakt <b>{{vm.contact.institution}}</b></h4>
    </div>
    <div class="modal-body">
    	<div style="margin-left:45px;margin-right:40px;">
	    	<span style="font-size:1.2em;"><b>{{vm.contact.products.length}}</b> Produkt(e) am Hauptstandort <span class="glyphicon glyphicon-home" style="color:{{vm.contact.color}}"></span> <b>{{vm.contact.address.street || '--'}}, {{vm.contact.address.postalCode || '--'}} {{vm.contact.address.region || '--'}}</b></span>:
			<br /><br />
			<div style="margin-left:20px;" data-ng-show="vm.contact.products == null || vm.contact.products.length == 0">Keine Produkte f&uuml;r diesen Standort vorhanden<br /></div>
			<table data-ng-show="vm.userAuthorizationUserContainer.userAuthorizations[10].state == true">
				<tr>
					<td><span><span class="glyphicon glyphicon-plus"></span> Produkte am Hauptstandort <b>{{vm.contact.address.street || '--'}}, {{vm.contact.address.postalCode || '--'}} {{vm.contact.address.region || '--'}}</b> hinzuf&uuml;gen:</span></td>
					<td><span>&nbsp;</span></td>
					<td>
				    	<div style="margin-top:5px;">
					    	<div data-ng-repeat="product in contact.products track by $index">
					    		<span class="glyphicon glyphicon-filter" style="color:{{product.color}}"></span> {{product.number}} {{product.name}}
					    		<span class="glyphicon glyphicon-minus icon-hover" data-ng-click="removeProduct($index)"></span>
					    	</div>
					    </div>
				      	<input type="text" 
					       class="form-control" 
						   placeholder="Produkt suchen" 
						   data-ng-model="selectedProduct"
						   typeahead="product as product.number + ' ' + product.name for product in vm.getProductsByTerm($viewValue)"
						   typeahead-min-length="2"
						   typeahead-wait-ms="100"
						   typeahead-editable="false" 
						   typeahead-on-select="vm.productSelected(selectedProduct, vm.contact.address); selectedProduct = null;" />
					</td>
					<td><span>&nbsp;</span></td>
					<td><span class="errorMessage" data-ng-show="vm.contact.address.productStillAddedToContactError == true">Produkt bereits vorhanden</span></td>
				</tr>
			</table>
			<table class="table" data-ng-show="vm.contact.products.length > 0">
				<thead>
					<tr>
						<th>#</th>
						<th></th>
						<th>Artikelnummer</th>
						<th>Artikelbezeichnung</th>
						<th>Art</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr class="icon-hover" data-ng-repeat="product in vm.contact.products track by $index" data-ng-click="vm.closeProductsOfContact()" data-ui-sref="auth.products({userId: '{{vm.currentUser.id}}', productId: '{{product.id}}'})">
						<td>{{$index+1}}.</td>
						<td>
							<span class="glyphicon glyphicon-ban-circle errorMessage icon-hover" data-ng-show="product.inactive" title="Produkt eingestellt am {{(receipeProduct.product.inactiveDate | date:'dd.MM.yyyy') || '--'}}: {{receipeProduct.product.inactiveMessage || '--'}}"></span>
						</td>
						<td>{{product.number}}</td>
						<td>
							<span class="glyphicon glyphicon-filter icon-hover" style="color:{{product.color}}"></span>
							{{product.name}}
						</td>
						<td>
							<span class="typeLabel" style="margin-left:3px;" data-ng-repeat="type in product.types track by $index" data-ng-switch="type">
								 <span data-ng-switch-when="LAB_CHEMICAL">
								 	<span class="fa fa-circle" aria-hidden="true" style="color:#46bfbd"></span> {{(type | translate) || '--'}}
								 </span>
								 <span data-ng-switch-when="RAW_MATERIAL">
								 	<span class="fa fa-circle" aria-hidden="true" style="color:#97bbcd"></span> {{(type | translate) || '--'}}
								 </span>
								 <span data-ng-switch-when="TRADING_GOODS">
								 	<span class="fa fa-circle" aria-hidden="true" style="color:#f7464a"></span> {{(type | translate) || '--'}}
								 </span>
								 <span data-ng-switch-when="BLEND">
								 	<span class="fa fa-circle" aria-hidden="true" style="color:#dcdcdc"></span> {{(type | translate) || '--'}}
								 </span>
							</span>
							<span data-ng-show="product.types.length == 0 || product.types == null">--</span>
						</td>
						<td>
							<span class="glyphicon glyphicon-minus icon-hover" data-ng-show="vm.userAuthorizationUserContainer.userAuthorizations[10].state == true" data-ng-click="$event.stopPropagation();vm.removeProduct(product, vm.contact.address)"></span>
						</td>
					</tr>
				</tbody>
			</table>
			<br />
			<br />
			<div data-ng-repeat="addressWithProducts in vm.contact.addressesWithProducts track by $index" ng-class-even="'evenClass'" ng-class-odd="'oddCLass'" data-ng-hide="vm.hideAddressWithProducts(addressWithProducts)">
				<span style="font-size:1.2em;"><b>{{addressWithProducts.products.length}}</b> Produkt(e) am weiteren Standort <span class="glyphicon glyphicon-home" style="color:{{vm.contact.color}}"></span> <b>{{addressWithProducts.address.additionalInformation || '--'}} {{addressWithProducts.address.street || '--'}}, {{addressWithProducts.address.postalCode || '--'}} {{addressWithProducts.address.region || '--'}}</b></span>:
				<br /><br />
				<div style="margin-left:20px;" data-ng-show="addressWithProducts.products == null || addressWithProducts.products.length == 0">Keine Produkte f&uuml;r diesen Standort vorhanden</div>
				<table data-ng-show="vm.userAuthorizationUserContainer.userAuthorizations[10].state == true">
					<tr>
						<td><span><span class="glyphicon glyphicon-plus"></span> Produkte am Standort <b>{{addressWithProducts.address.additionalInformation || '--'}} {{addressWithProducts.address.street || '--'}}, {{addressWithProducts.address.postalCode || '--'}} {{addressWithProducts.address.region || '--'}}</b> hinzuf&uuml;gen:</span></td>
						<td><span>&nbsp;</span></td>
						<td>
					    	<div style="margin-top:5px;">
						    	<div data-ng-repeat="product in contact.products track by $index">
						    		<span class="glyphicon glyphicon-filter" style="color:{{product.color}}"></span> {{product.number}} {{product.name}}
						    		<span class="glyphicon glyphicon-minus icon-hover" data-ng-click="removeProduct($index)"></span>
						    	</div>
						    </div>
					      	<input type="text" 
						       class="form-control" 
							   placeholder="Produkt suchen" 
							   data-ng-model="selectedProduct"
							   typeahead="product as product.number + ' ' + product.name for product in vm.getProductsByTerm($viewValue)"
							   typeahead-min-length="2"
							   typeahead-wait-ms="100"
							   typeahead-editable="false" 
							   typeahead-on-select="vm.productSelectedAtAddressWithProducts(selectedProduct, addressWithProducts.address); selectedProduct = null;" />
						</td>
						<td><span>&nbsp;</span></td>
					<td><span class="errorMessage" data-ng-show="addressWithProducts.address.productStillAddedToContactError == true">Produkt bereits vorhanden</span></td>
					</tr>
				</table>
				<table class="table" data-ng-show="addressWithProducts.products.length > 0">
					<thead>
						<tr>
							<th>#</th>
							<th>Artikelnummer</th>
							<th>Artikelbezeichnung</th>
							<th>Art</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr class="icon-hover" data-ng-repeat="product in addressWithProducts.products track by $index" data-ng-click="vm.closeProductsOfContact()" data-ui-sref="auth.products({userId: '{{vm.currentUser.id}}', productId: '{{product.id}}'})">
							<td>{{$index+1}}.</td>
							<td>{{product.number}}</td>
							<td>
								<span class="glyphicon glyphicon-filter icon-hover" style="color:{{product.color}}"></span>
								{{product.name}}
							</td>
							<td>
								<span class="typeLabel" style="margin-left:3px;" data-ng-repeat="type in product.types track by $index" data-ng-switch="type">
									 <span data-ng-switch-when="LAB_CHEMICAL">
									 	<span class="fa fa-circle" aria-hidden="true" style="color:#46bfbd"></span> {{(type | translate) || '--'}}
									 </span>
									 <span data-ng-switch-when="RAW_MATERIAL">
									 	<span class="fa fa-circle" aria-hidden="true" style="color:#97bbcd"></span> {{(type | translate) || '--'}}
									 </span>
									 <span data-ng-switch-when="TRADING_GOODS">
									 	<span class="fa fa-circle" aria-hidden="true" style="color:#f7464a"></span> {{(type | translate) || '--'}}
									 </span>
									 <span data-ng-switch-when="BLEND">
									 	<span class="fa fa-circle" aria-hidden="true" style="color:#dcdcdc"></span> {{(type | translate) || '--'}}
									 </span>
								</span>
								<span data-ng-show="product.types.length == 0 || product.types == null">--</span>
							</td>
							<td><span class="glyphicon glyphicon-minus icon-hover" data-ng-show="vm.userAuthorizationUserContainer.userAuthorizations[10].state == true" data-ng-click="$event.stopPropagation();vm.removeProductOfAddressWithProducts(product, addressWithProducts.address)"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<br />
		<br />
    </div>
</div>