<div class="deletionCalendarEventModal">
    <div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeCalendarEventClickedModal()"></span>
        <h4 class="modal-title"><span class="glyphicon glyphicon-calendar"></span> Ausgew&auml;hlter Kalendereintrag</h4>
    </div>
    <div class="modal-body">
		<table>
			<tr>
				<td><b>Titel und Ort</b>:</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><span data-ng-bind-html="vm.calendarEvent.title"></span></td>
			</tr>
			<tr>
				<td><b>Start</b>:</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>{{vm.calendarEvent.startsAt | date:'dd.MM.yyyy HH:mm'}}</td>
			</tr>
			<tr>
				<td><b>Ende</b>:</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>{{vm.calendarEvent.endsAt | date:'dd.MM.yyyy HH:mm'}}</td>
			</tr>
			<tr>
				<td><b>Projekt</b>:</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><span class="glyphicon glyphicon-folder-open" data-ng-style="{'color': vm.calendarEvent.color.primary}"></span> 
				{{vm.calendarEvent.projectName}}</td>
			</tr>
			<tr>
				<td><b>Serientermin</b>:</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>
					<span data-ng-show="vm.calendarEvent.serialDate == true">Ja</span>
					<span data-ng-show="vm.calendarEvent.serialDate == null || vm.calendarEvent.serialDate == false">Nein</span>
				</td>
			</tr>
			<tr>
				<td><b>Typ</b>:</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>
					{{vm.calendarEvent.calendarEventType | translate}}
				</td>
			</tr>
			<tr data-ng-show="vm.calendarEvent.archivedHistoryType != null">
				<td><b>Archivierungstyp</b>:</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>
					{{vm.calendarEvent.archivedHistoryType | translate}}
				</td>
			</tr>
			<tr data-ng-show="vm.calendarEvent.information != null && vm.calendarEvent.information.length > 0">
				<td><b>Anmerkung</b>:</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>
					{{vm.calendarEvent.information}}
				</td>
			</tr>
		</table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" data-ng-click="vm.closeCalendarEventClickedModal()">Schlie&szlig;en</button>
    </div>
</div>
