<div class="wrapper">
   	<div ui-view="header"></div>
    <div class="legalProjectManagementContainer">
        <div class="row clearfix">
 			<div class="col-md-12 column" ui-view="content"></div>
		</div>
    </div>
    <div ui-view="footer" class="footer"></div>
</div>
