html,
body {
    height: 100%;
    background-color: #fff;
}
.legalProjectManagementContainer {
	margin-left: 2%;
	margin-right: 2%;
}
.borderlessTable tr td {
	border:none !important;
}
.loadingContainer img {
	max-height: 30px;
	max-width: 30px;
}
.buttonStyles { 
	background-color:#007ab9;
	color:#fff;
}
.loadingText {
	font-size:0.85em; 
	color:#777;
}
.project .drop-box,
.products .drop-box {
    background: #fefefe;
    border: 5px dashed #ddd;
	width: 160px;
	height: 106px;
    text-align: center;
    padding-top: 20px;
    margin: 10px;
    background-image: url(../../assets/img/upload.PNG);
    background-size: 100%;
    background-repeat:no-repeat;
}
.documentLabelContent {
	border: 1px solid #f00;
	padding: 2px;
	display: inline;
	border-radius: 4px;
	font-size: 0.85em;
	background-color: #f9f9f9;
}
.documentLabelDescriptive {
	border: 1px solid #4cae4c;
	padding: 2px;
	display: inline;
	border-radius: 4px;
	font-size: 0.85em;
	background-color: #f9f9f9;
}
.backgroundColorPulse {
	background-color: rgba(0, 122, 185, 0.1) !important;
	animation-name: color;
  	animation-duration: 2s;
  	animation-iteration-count: infinite;
}
@keyframes color {
  0% {
    background-color: rgba(0, 122, 185, 0.2);
  }
  50% {
    background-color: rgba(0, 122, 185, 0.4);
  }
  100 {
    background-color: rgba(0, 122, 185, 0.6);
  }
}
.documentLabelProductDescriptive {
	border: 1px solid #00f;
	padding: 2px;
	display: inline;
	border-radius: 4px;
	font-size: 0.85em;
	background-color: #f9f9f9;
}
.toggle, .toggle-on, 
.toggle-off,
.toggle .toggle-handle { 
	border-radius: 20px !important;  
}
dd, dt {
	padding: 2px 0;
}
.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}
.wrapper {
    min-height: 100%;
    position: relative;
    width: 100%;
    float: left;
}
.contactExpanded {
	background-color: #fcf8e3 !important; 
}
body .introContainer {
	margin-top: 250px;
	text-align: center;
}
body .introContainer .logo {
	width: 30px;
	height: 30px;
}
.footer .container-fluid {
	border-radius: 0px !important;
}
.footer {	
   background-color: #eee;
   position:absolute;
   bottom: 0px !important;
   width:100%;
   height:45px;   /* Height of the footer */
   font-size: 0.9em;
}
.controlContainer {
	background-color: #eee;     
	padding: 10px;
	border-radius: 2px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
}
.receipeBackgroundColor {
	background-color: #00c7db;
	color:#000;
}
.mixtureBackgroundColor { 
	background-color: #dbd086;
	color:#000;
}
.thinningBackgroundColor {
	background-color: #ff8040;
	color:#000;
}
.breadcrumb {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	background-color: #007ab9;
	margin-top:-20px;
	margin-left: -21px;
	margin-right:-22px;
    background-position: right; 
    height: 56px !important; 
    font-size: 1.3em;
    font-weight: bold;
    color: #fff !important; 
}
.breadcrumb .explanation {
	font-family: Arial;
	float:left;
	margin-top:8px;
	margin-left: 10px;
}
.breadcrumb .logo {
	color:#009abd;
	float:right;
	font-size:1.4em;
	margin-right:20px;
	display:none;
}
.atlwdg-trigger {
	background-color: rgb(0, 122, 185) !important; 
}
.lpm-container {
    background-color: #fff;
    margin-bottom: 50px;
    width: 100%;
    float: left;
}
.buttonWithNoBorder {
	border: none;
}
.dropdownMenu {
	width: 250px !important;
}
.widget {
    height: 340px;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
    outline: none;
    outline-offset: 0;
}
.as-modal-window {
	background-color: #f5f5f5;
}
.icon-hover {
	cursor: pointer; 
}
.design-color {
	color: #007ab9;
}
.folder-color {
	color: #e37d1d;
}
.icon-hover-danger:hover {
	color: red;
}
.editable-click { 
	border-bottom: inherit;
	color: inherit;
	text-decoration: inherit;
}
.editable-click:hover {
	cursor: text;
	color: inherit;
	text-decoration: inherit;
    background-size: 14px 14px;
    background: url(/assets/img/edit.png) no-repeat right 2px center;
    padding-right: 20px;
	margin-right: 1px;
	box-shadow: inset 0 0 1px 0 rgba(50, 50, 50, 0.75);
	border-radius: 2px;
}
.signin .icon {
	margin-top:-16px;
}
.signin .logo {
	margin-left: 5px;
	margin-top:-30px;
}
.signin .logoText {
	margin-left: 100px;
	font-size: 2.2em;
	color: #c6c6c6;
}
.cursorPointer {
	cursor: pointer;
}
.errorMessage {
	color: #f00;
	font-weight: bold;
}
.errorBorder {
	border: 1px solid #f00 !important;
}
.productTagColor {
	color: #00f;
	font-weight: bold;
}
.successMessage {
	color: #4cae4c;
	font-weight: bold;
}
.lightGrayMessage {
	color: #ccc;
}
.mandatory {
	color: #f00;
}
.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tfoot tr th,
.table-borderless tfoot tr td {
    border: none;
}
.pulseOnce {
	animation: pulse 8s;
	animation-iteration-count: 1;
 }
.pulse {
	animation: pulse 30s infinite;
}
.pulseAndBlink {
  box-shadow: 0 0 0 rgba(250,0,0, 0.6);
  animation: pulse 2s infinite;
  border-radius: 50%;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0,122,185, 0.2);
  }
  70% {
      -webkit-box-shadow: 0 0 0 15px rgba(0,122,185, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(0,122,185, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0,122,185, 0.2);
    box-shadow: 0 0 0 0 rgba(0,122,185, 0.2);
  }
  70% {
      -moz-box-shadow: 0 0 0 15px rgba(0,122,185, 0);
      box-shadow: 0 0 0 15px rgba(0,122,185, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(0,122,185, 0);
      box-shadow: 0 0 0 0 rgba(0,122,185, 0);
  }
}
.blinkText {
	-webkit-animation-name: blinker;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blinker;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
}
@-moz-keyframes blinker {
    0% { opacity: 1.0; 
    }
    50% { opacity: 0.1; 
    }
    100% { 
    	opacity: 1.0; 
    } 
}
@-webkit-keyframes blinker { 
    0% { opacity: 1.0; 
    }
    50% { opacity: 0.1; 
    }
    100% { opacity: 1.0; 
    } 
} 
@keyframes blinker { 
    0% { opacity: 1.0; 
    } 
    50% { opacity: 0.1; 
    } 
    100% { opacity: 1.0; 
    } 
}

