.navbarTop .collapse .mainMenu li a {
	margin-top:-12px;
	max-height:68px;
	color: #4e4e4e;
}
.navbarTop .collapse .mainMenu li a .glyphicon {
	display:block !important;
	text-align:center;
	padding-top:5px;
	font-size: 2.3em;
}
.navbarTop {
	background-image: -ms-linear-gradient(bottom, #FAFAFA 65%, #E5E5E5 100%);
	background-image: -moz-linear-gradient(bottom, #FAFAFA 65%, #E5E5E5 100%);
	background-image: -o-linear-gradient(bottom, #FAFAFA 65%, #E5E5E5 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(65, #FAFAFA), color-stop(100, #E5E5E5));
	background-image: -webkit-linear-gradient(bottom, #FAFAFA 65%, #E5E5E5 100%);
	background-image: linear-gradient(to top, #FAFAFA 65%, #E5E5E5 100%);
}
.navbarTop .navbar-nav > li {
	font-size: 0.88em;
}
.navbarTop .navbar-collapse span {
	padding-right: 5px;
}
.navbarTop .navbar-nav > .active > a, 
.navbarTop .navbar-nav > .active > a:focus, 
.navbarTop .navbar-nav > .active > a:hover {
	background-image: -ms-linear-gradient(bottom, #007ab9 65%, #007A8F 100%);
	background-image: -moz-linear-gradient(bottom, #007ab9 65%, #007A8F 100%);
	background-image: -o-linear-gradient(bottom, #007ab9 65%, #007A8F 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(65, #007ab9), color-stop(100, #007A8F));
	background-image: -webkit-linear-gradient(bottom, #007ab9 65%, #007A8F 100%);
	background-image: linear-gradient(to top, #007ab9 65%, #007A8F 100%);
	color: #fff !important;
}
.navbarTop .navbar-nav > li > a:focus, 
.navbarTop .navbar-nav > li > a:hover {
	background-color: #007ab9 !important;
	color: #fff;
	transition: .4s background-color;
}
.navbarTop ul li {
	border-right: 1px solid #aaa !important; 
}
