@media all and (max-width: 1550px) {
	.navbar-default .navbar-nav > li {
		font-size: 0.88em;
	}
}
@media all and (max-width: 1490px) {
	.navbar-default .navbar-nav > li { 
		font-size: 0.78em;
	}
}
@media all and (max-width: 1400px) {
	.navbar-default .navbar-nav > li .glyphicon {
		display: none;
	}
}
@media all and (max-width: 1220px) {
	.navbar-default .navbar-nav > li .glyphicon {
		display: inline;
	}
	.navbar-default .navbar-nav > li a .menuText {
		display:none;
	}
	.navbarTop .collapse .mainMenu li a {
		margin-top:0px;
		min-height: 50px;
	}
}