<div class="editReceipeToMixtureModal modal-movable non-printable">
	<span class="glyphicon glyphicon-move icon-hover" style="margin-left:0px;margin-top:0px !important;position: absolute;"></span>
	<div class="modal-header mixtureBackgroundColor">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeEditReceipeToMixtureModal()"></span>
        <h4 class="modal-title"><span class="fa fa-flask" aria-hidden="true"></span> Neue Mischung f&uuml;r das Produkt <span class="glyphicon glyphicon-filter" style="color:{{vm.product.color}}"></span> <b>{{vm.product.name}}</b> ({{vm.product.number}}) durchf&uuml;hren</h4>
    </div>
    <div class="modal-body">
		<create-receipe-directive 
			index="0"
    		current-user="vm.currentUser" 
    		receipe="vm.lastReceipeOfProduct" 
    		product="vm.product" 
    		invoker="vm"
    		type="'CHANGE_TO_MIXTURE'"
    		receipe-type="'CHANGED_MIXTURE'"
    		user-authorization-user-container="vm.userAuthorizationUserContainer"
    		unity-types="vm.unityTypes">
		</create-receipe-directive>
    	<br />
    </div>
    <div class="modal-footer">
    	<button class="btn btn-default" type="button" data-ng-disabled="vm.lastReceipeOfProduct.amountInKilo == null || vm.lastReceipeOfProduct.receipeProducts.length == 0" data-ng-click="vm.storeEditReceipeToMixture()">Speichern</button>
        <button class="btn btn-default" type="button" data-ng-click="vm.closeEditReceipeToMixtureModal()">Schlie&szlig;en</button>
    </div>
</div>