<div class="noTemplateModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeNoTemplateModal()"></span>
        <h4 class="modal-title">Keine Vorschau Vorhanden</h4>
    </div>
    <div class="modal-body">
       <br />
		Es ist derzeit keine Vorschau f&uuml;r die Endung <b>{{vm.ending}}</b> vorhanden.
		Bitte das Dokument <b>{{vm.documentName}}</b> herunterladen um es zu &ouml;ffnen.
		<br />
		<br />
    </div>
</div>