<div class="row clearfix calendar non-printable">
	<div class="breadcrumb">
		<span class="explanation"><span class="glyphicon glyphicon-calendar"></span> Kalender - Termine verwalten</span>
		<span class="logo">wdm</span>
	</div>
	<div class="col-md-1 column"></div>
    <div class="col-md-10 column">
		<div class="controlContainer">
			<table>
				<tr>
					<td><span class="icon-hover" data-ng-show="vm.loadAllContactsAndUsers == false && vm.userAuthorizationUserContainer.userAuthorizations[7].state == true" data-ng-click="vm.showCreateNewEventModal()"><span class="glyphicon glyphicon-plus pulseOnce"></span> Termin anlegen</span></td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>
						<button mwl-date-modifier date="vm.calendarDate" decrement="vm.calendarView" type="button" class="btn btn-xs btn-default">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						</button>
					</td>
					<td>&nbsp;</td>
					<td>				
				        <button
				          class="btn btn-default"
				          mwl-date-modifier
				          date="vm.calendarDate"
				          set-to-today>
				          <span class="glyphicon glyphicon-exclamation-sign" title="Navigation zum aktuellen Datum"></span>
				        </button>
					</td>
					<td>&nbsp;</td>
					<td>
				        <button mwl-date-modifier date="vm.calendarDate" increment="vm.calendarView" type="button" class="btn btn-xs btn-default">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						</button>				
					</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td><button type="button" class="btn btn-default" data-ng-click="vm.calendarView = 'day'">Tag</button></td>
					<td><button type="button" class="btn btn-default" data-ng-click="vm.calendarView = 'week'">Woche</button></td>
					<td><button type="button" class="btn btn-default" data-ng-click="vm.calendarView = 'month'">Monat</button></td>
					<td><button type="button" class="btn btn-default" data-ng-click="vm.calendarView = 'year'">Jahr</button></td>
					<td>&nbsp;</td>
					<td><span class="glyphicon glyphicon-search"></span></td>
					<td><input type="text" class="form-control" style="width:125px;border-top-right-radius:0px;border-bottom-right-radius:0px;" data-ng-model="vm.calendarEventSearchString" data-ng-enter="vm.searchCalendarEvents()" placeholder="Termine suchen" /></td>
					<td>
						<button class="btn btn-default" type="button" style="border-left:none;border-top-left-radius:0px;border-bottom-left-radius:0px;" data-ng-click="vm.searchCalendarEvents()" data-toggle="dropdown">
							Suchen
						</button>
					</td>
					<td>&nbsp;</td>
					<td><span class="glyphicon glyphicon-remove-circle icon-hover" data-ng-class="vm.calendarEventSearchString.length > 0 ? 'errorMessage' : ''" data-ng-click="vm.calendarEventSearchString = null; vm.searchCalendarEvents()" title="Suche beenden"></span></td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td><span class="glyphicon glyphicon-print icon-hover" data-ng-click="vm.showPrintCalendarEvents(vm.filteredEvents, vm.calendarEventSearchString)"></span></td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>
						<div class="dropdown dropdown-scroll">
						    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
								<span data-ng-show="vm.selectedFilterProject == null">Projekt w&auml;hlen</span>
								<span data-ng-show="vm.selectedFilterProject != null">
									<span class="glyphicon glyphicon-folder-open" style="color:{{vm.selectedFilterProject.color}}"></span>
									 <b>{{vm.selectedFilterProject.name}}</b>
								</span> 
								<span class="caret"></span>
						    </button>
						    <ul class="dropdown-menu" data-ng-click="$event.stopPropagation()" style="min-width:250px;">
						        <li role="presentation">      	
						            <div class="input-group input-group-sm search-control"> 
						            	<span class="input-group-addon">
						                    <span class="glyphicon glyphicon-search"></span>
										</span>
						                <input type="text" class="form-control" placeholder="Projekt suchen" data-ng-model="query"></input>
						            </div>
						        </li>
						        <li><span>&nbsp;</span></li>
						        <li role="presentation" data-ng-repeat="project in vm.projects | filter:query">
						        	<table class="projectTable">
						        		<tr>
						        			<td>
						        				<span data-ng-show="project.selected == true" class="glyphicon glyphicon-ok icon-hover" data-ng-click="vm.unselectProjects()"></span>
						        				<span data-ng-show="project.selected == false">&nbsp;&nbsp;&nbsp;</span>
						        			</td>
						        			<td><span>&nbsp;</span></td>
						        			<td>
						        				<span class="icon-hover possibleUserOrContact" data-ng-click="vm.setSelectedFilterProject(project)">
						        					<span class="glyphicon glyphicon-folder-open" style="color:{{project.color}}"></span>
						        				   {{project.name}}
						        				</span>
						        			</td>
						        		</tr>
						        	</table> 
						        </li>
						    </ul>
						</div>
					</td>
					<td>&nbsp;</td>
					<td>
						<div style="float:right;width:50px;height:40px;">
							<img data-ng-src="api/files/projectlogo/{{vm.selectedFilterProject.logoName == null || vm.selectedFilterProject.logoName == '' ? 'standardLogo.png' : vm.selectedFilterProject.logoName}}/" alt="logo" style="display: block;max-width:100%;max-height:100%;" />
						</div>
					</td>
					<td data-ng-show="['ADMIN','SUPER_ADMIN'].indexOf(vm.currentUser.projectUserConnectionRole)!=-1">
						<button type="button" class="btn btn-default" data-toggle="button" data-ng-click="vm.allCalendarEventsTrigger = !vm.allCalendarEventsTrigger;vm.showAllCalendarEvents()">
							Alle Termine
						</button>
					</td>
					<td>&nbsp;</td>
					<td data-ng-show="['ADMIN','SUPER_ADMIN'].indexOf(vm.currentUser.projectUserConnectionRole)!=-1" title="Gel&ouml;schte Termine und Termine vor der Verschiebung">
						<button type="button" class="btn btn-default" data-toggle="button" data-ng-click="vm.deactivatedCalendarEventsTrigger = !vm.deactivatedCalendarEventsTrigger;vm.showDeactivatedCalendarEvents()">
							Archivierte Termine
						</button>
					</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td><span class="glyphicon glyphicon-link icon-hover" style="float:right;" data-ng-click="vm.showCalendarICSLink()" title="Kalender- Link zur Einbindung in andere Kalender"></span></td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td data-ng-show="['ADMIN','SUPER_ADMIN'].indexOf(vm.currentUser.projectUserConnectionRole)!=-1">
						<span class="glyphicon glyphicon-calendar icon-hover" data-ng-click="vm.showCalendarEventsInList()" title="Termine suchen und in Listenform anzeigen"></span>
					</td>	
				</tr>
			</table>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="currentDate">Aktuell eingestelltes Kalenderdatum: <b>{{vm.calendarDate | date:'dd.MM.yyyy'}}</b></div>
			</div>
		</div>
		<mwl-calendar
			day-view-start="07:00"
   			day-view-end="20:00"
		    view="vm.calendarView"
		    view-date="vm.calendarDate"
		    events="vm.filteredEvents"
		    cell-is-open="true"
		    on-event-click="vm.eventClicked(calendarEvent);">
		</mwl-calendar>
		
    </div>
    <div class="col-md-1 column">
    </div>
</div>