<div class="editReceipeModal modal-movable non-printable">
	<span class="glyphicon glyphicon-move icon-hover" style="margin-left:0px;margin-top:0px !important;position: absolute;"></span>
	<div data-ng-class="vm.receipeType == 'STANDARD_MIXTURE' ? 'receipeBackgroundColor modal-header' : 'mixtureBackgroundColor modal-header'">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeEditReceipeModal()"></span>
        <h4 class="modal-title"><span class="fa fa-flask" aria-hidden="true"></span> 
        <span data-ng-show="vm.receipeType == 'STANDARD_MIXTURE'">Rezept(e)</span> 
        <span data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'">Mischung(en)</span> 
        f&uuml;r Produkt <span class="glyphicon glyphicon-filter" style="color:{{vm.product.color}}"></span> <b>{{vm.product.name}}</b> ({{vm.product.number}}) &auml;ndern oder l&ouml;schen</h4>
    </div>
    <div class="modal-body">
		<div data-ng-show="vm.receipesOfProduct.length == 0" style="max-width:80%;margin-left:50px;font-size: 1.2em;">
			Keine 
			<span data-ng-show="vm.receipeType == 'STANDARD_MIXTURE'">Rezept(e)</span> 
        	<span data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'">Mischung(en)</span> 
			f&uuml;r das Produkt <span class="glyphicon glyphicon-filter" style="color:{{vm.product.color}}"></span> <b>{{vm.product.name}}</b> ({{vm.product.number}}) vorhanden 
		</div>
		<div data-ng-show="vm.receipesOfProduct.length > 0" style="max-width:80%;margin-left:50px;">
			<b>{{vm.receipesOfProduct.length}}</b> <span data-ng-show="vm.receipeType == 'STANDARD_MIXTURE'">Rezepte</span><span data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'">Mischungen</span> f&uuml;r das Produkt <span class="glyphicon glyphicon-filter" style="color:{{vm.product.color}}"></span> <b>{{vm.product.name}}</b> ({{vm.product.number}}) gefunden 
		</div>
		<table style="margin-left:50px;">
			<tr>
				<td><span class="glyphicon glyphicon-search"></span></td>
				<td><span>&nbsp;</span></td>
				<td>
					<input type="text" data-ng-show="vm.receipeType == 'STANDARD_MIXTURE'" data-ng-model="vm.searchReceipeTerm" placeholder="Rezepte suchen" class="form-control" />
					<input type="text" data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'" data-ng-model="vm.searchReceipeTerm" placeholder="Mischungen suchen" class="form-control" />
				</td>
				<td><span>&nbsp;</span></td>
				<td><span>&nbsp;</span></td>
				<td>Von:</td>
				<td>
					<p class="input-group" style="margin-top:10px;width:120px;">
				    	<input type="text"
		                            class="form-control"
		                            name="searchReceipeDateFrom"                                
		                            data-ng-model="vm.receipeDateFrom"
		                            datepicker-popup="dd.MM.yyyy"
		                            is-open="vm.searchReceipeDateFromDatePicker"
		                            close-text="schlie&szlig;en"
		                            current-text="heute"
		                            clear-text="l&ouml;schen"
		                            datepicker-options="{startingDay: 1}"
		                            placeholder="Datum"
		                            disabled
		                            required>
		                  	<span class="input-group-btn">
		                       		<button type="button" class="btn btn-default btn-xs datePickerButton"                         		   
		                               data-ng-click="vm.openSearchReceipeFromDatePicker($event)">
		                               <span class="glyphicon glyphicon-calendar"></span>
		                            </button>
		                  	</span>
		              </p>
				</td>
				<td><span>&nbsp;</span></td>
				<td><span>&nbsp;</span></td>
				<td>Bis:</td>
				<td>
					<p class="input-group" style="margin-top:10px;width:120px;">
				    	<input type="text"
		                            class="form-control"
		                            name="searchReceipeDateUntil"                                
		                            data-ng-model="vm.receipeDateUntil"
		                            datepicker-popup="dd.MM.yyyy"
		                            is-open="vm.searchReceipeDateUntilDatePicker"
		                            close-text="schlie&szlig;en"
		                            current-text="heute"
		                            clear-text="l&ouml;schen"
		                            datepicker-options="{startingDay: 1}"
		                            placeholder="Datum"
		                            disabled
		                            required>
		                  	<span class="input-group-btn">
		                       		<button type="button" class="btn btn-default btn-xs datePickerButton"                         		   
		                               data-ng-click="vm.openSearchReceipeUntilDatePicker($event)">
		                               <span class="glyphicon glyphicon-calendar"></span>
		                            </button>
		                  	</span>
		              </p>
				</td>
				<td><span>&nbsp;</span></td>
				<td><span>&nbsp;</span></td>
				<td><span>&nbsp;</span></td>
				<td><span>&nbsp;</span></td>
				<td><span class="glyphicon glyphicon-remove-circle icon-hover" data-ng-click="vm.findReceipesOfProductOfTypeInLastMonth()" title="Alle Rezepte f&uuml;r dieses Produkt anzeigen"></span></td>
			</tr>
		</table>
		<hr data-ng-show="vm.receipesOfProduct.length > 0" />
		<br />
		<div data-ng-repeat="receipeOfProduct in vm.receipesOfProduct | filter:vm.searchReceipeTerm track by $index">
			<create-receipe-directive 
				index="$index"
				current-user="vm.currentUser" 
				receipe="receipeOfProduct" 
				product="vm.product" 
				invoker="vm"
				type="'CHANGE'"
				receipe-type="vm.receipeType"
				user-authorization-user-container="vm.userAuthorizationUserContainer"
				unity-types="vm.unityTypes">
			</create-receipe-directive>
			<br />
			<br />
		</div>
		<br />
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" data-ng-click="vm.closeEditReceipeModal()">Schlie&szlig;en</button>
    </div>
</div>