<div class="col-md-1 column icon-hover">
	<div>
	    <div class="drop-box" ngf-drop ngf-select data-ng-model="files"
	        ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
	        accept="image/*,application/pdf,multipart/mixed" ngf-max-size="80MB" data-ng-class="uploadFiles == true ? 'uploadFiles' : ''">
	        	<span class="fileUploadText">
	        	<b>Datei(en)</b> <span style="font-size:0.85em;">(max. je 80MB)</span><br /> <b>hier</b> hochladen<br /><br />
	        	 <span class="loadingContainer" data-ng-show="uploadFiles">
			    	<img src="assets/img/loading.gif" />
			     </span>
			     <br />
	        </span>
	     </div>
	    <div class="uploadedFilesInfo" data-ng-show="successfulUploadedFiles > 0" style="min-width:200px;"><b>{{successfulUploadedFiles}}</b> Datei(en) hochgeladen</div>
	    <div class="uploadedFilesInfo errorMessage" data-ng-show="failedUploadedFiles > 0"><b>{{failedUploadedFiles}}</b> Dateien konnten nicht hochgeladen werden</div>
	    <div ngf-no-file-drop> Drag & Drop wird von diesem Browser nicht unterst&uuml;tzt</div> 
	</div>
</div>