<div class="yesNoModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeYesNoModal()"></span>
        <h4 class="modal-title"><span class="glyphicon glyphicon-minus-sign"></span> Wollen Sie das Dokument wirklich l&ouml;schen?</h4>
    </div>
    <div class="modal-body">
        <span data-ng-show="(vm.documentFile.contactReferenceCounter == null || vm.documentFile.contactReferenceCounter == 0) && (vm.documentFile.receipeReferenceCounter == null || vm.documentFile.receipeReferenceCounter == 0)">Wollen Sie das Dokument 
        <img data-ng-src="assets/img/{{vm.documentFile.ending}}.PNG" alt="" document-file-icon-dispatch />
        <b>{{vm.documentFile.fileName}}</b> <span data-ng-show="vm.type == 'DELETE_VERSION'">(<b>{{vm.documentFileVersion.version.substr(1, vm.documentFileVersion.version.length)}}</b>), 
        hochgeladen am <b>{{vm.documentFileVersion.uploadTime}}</b>,</span> wirklich <span data-ng-show="vm.type == 'DELETE_VERSION'">deaktivieren</span><span data-ng-show="vm.type == 'DELETE_ALL_VERSIONS'">l&ouml;schen</span>?</span>
        <span data-ng-show="vm.documentFile.contactReferenceCounter > 0">
        	Dieses Dokument kann nicht gel&ouml;scht werden, da <b>{{vm.documentFile.contactReferenceCounter}} Kontakt(e)</b> auf dieses Dokument referenzieren.
        </span>
        <span data-ng-show="vm.documentFile.receipeReferenceCounter > 0">
        	Dieses Dokument kann nicht gel&ouml;scht werden, da <b>{{vm.documentFile.receipeReferenceCounter}} Rezept(e) oder Mischung(en)</b> auf dieses Dokument referenzieren.
        </span>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" data-ng-click="vm.yes()" data-ng-disabled="vm.documentFile.contactReferenceCounter > 0 || vm.documentFile.receipeReferenceCounter > 0">Ja</button>
        <button class="btn btn-default" type="button" data-ng-click="vm.no()">Nein</button>
    </div>
</div>