<div class="messageReceiverOverview"> 
	<div class="panel">
	  <div class="panel-heading">
	  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="vm.closeMessageReceiverOverviewModal()">
	  		<span aria-hidden="true">&times;</span>
	  	</button>
	  	<h4 data-ng-switch="vm.mode">
	  		&Uuml;bersicht der Empf&auml;nger 
	  		<span data-ng-show="vm.confirmationNeeded == true"><b>mit</b> Lesebest&auml;tigung</span>
	  		<span data-ng-show="vm.confirmationNeeded == false"><b>ohne</b> Lesebest&auml;tigung</span>
	  	</h4>
	  	<hr />
	  </div>
	  <div class="row clearfix">
	  	<div class="col-md-1">
	  	</div>
		<div class="col-md-10">
			<ul class="list-group">
			  <li data-ng-repeat="communicationUserConnection in vm.communicationUserConnections" data-ng-hide="communicationUserConnection.userReceivedMessage.id == vm.currentUser.id" class="list-group-item">
			  	<span class="glyphicon glyphicon-user"></span>
			  	{{communicationUserConnection.userReceivedMessage.title}} {{communicationUserConnection.userReceivedMessage.firstname}} {{communicationUserConnection.userReceivedMessage.surname}}
			  	<span data-ng-show="communicationUserConnection.confirmationNeeded == true">
				  	<span data-ng-if="communicationUserConnection.read == true" class="read">(gelesen)</span>
			  		<span data-ng-if="communicationUserConnection.read == false" class="notRead">(noch nicht gelesen)</span>
			  	</span>
			  	<span data-ng-show="communicationUserConnection.executionDate != null">
				  	<span data-ng-show="communicationUserConnection.executed == true" class="read">(erledigt)</span>
			  		<span data-ng-show="communicationUserConnection.executed == false || communicationUserConnection.executed == null" class="notRead">(nicht erledigt)</span>
			  	</span>
			  </li>
			</ul>
		</div>
	  </div>
	</div>
</div>