<div class="row clearfix fuel" id="top">
    <div class="breadcrumb non-printable">
        <span class="explanation"><span
                class="glyphicon glyphicon-filter"></span> Brennstoff Anlieferungen verwalten</span>
        <span class="logo">wdm</span>
    </div>
    <div class="col-md-1 column">
    </div>
    <div class="col-md-10 column non-printable">
        <!--  TODO check auth-->
        <!--  <div data-ng-show="vm.userAuthorizationUserContainer.userAuthorizations[xx].state == true">-->
        <div>
            <!-- fuel -->
            <div>
                <span class="glyphicon glyphicon-plus icon-hover pulseOnce"
                      data-ng-click="vm.showEditFuelModal(vm.fuel)"></span>
                Neue Brenstoff Anlieferung anlegen</span>
            </div>
        </div>
        <br/>

        <!-- paging -->
        <div class="col-sm-offset-0">
            <nav aria-label="Page navigation" data-ng-show="vm.amountOfPages > 1 && vm.searchTrigger == false">
                <table>
                    <tr>
                        <td>
                            <ul class="pagination">
                                <li data-ng-click="vm.pageChange(vm.currentPage-1)" class="icon-hover">
                                    <span aria-hidden="true">&laquo;</span>
                                </li>
                                <li data-ng-repeat="indexAmount in vm.amountOfPages">
                                    <a data-ng-click="vm.pageChange($index)"
                                       data-ng-class="vm.isCurrentPage(indexAmount) ? 'currentSelectedPage' : ''"
                                       class="icon-hover">{{$index + 1}}</a>
                                </li>
                                <li data-ng-click="vm.pageChange(vm.currentPage+1)" class="icon-hover">
                                    <span aria-hidden="true">&raquo;</span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </nav>
        </div>

        <!-- SEARCH -->
        <table>
            <tr>
                <td><span class="glyphicon glyphicon-search"></span></td>
                <td> &nbsp;</td>
                <td>
                    <input type="text" class="form-control"
                           style="width:188px;border-top-right-radius:0px;border-bottom-right-radius:0px;"
                           data-ng-model="vm.searchContactsTerm" placeholder="Suchen (mind. 4 Zeichen)"
                           data-ng-enter="vm.searchContacts()"/>
                </td>
                <td>
                    <button class="btn btn-default" type="button"
                            style="border-left:none;border-top-left-radius:0px;border-bottom-left-radius:0px;"
                            data-ng-click="vm.searchFuels()" data-ng-disabled="vm.loadingInProgress == true"
                            data-toggle="dropdown">
                        Suchen
                    </button>
                </td>
            </tr>
        </table>

        <!-- ITEMS-->
        <table class="table table-striped" id="contactsId" data-ng-show="vm.fuelList.length > 0">
            <thead>
            <tr>
                <th>#</th>
                <th>Lieferschein Nr.</th>
                <th>Lieferdatum</th>
                <th>Produkt</th>
                <th>Menge</th>
                <th>Lieferant</th>
                <th>Standort</th>
                <th>Projekt</th>
                <th>Erstellt von</th>
                <th>Bezahlt</th>
                <th style="text-align: center;"><div class="glyphicon glyphicon-menu-hamburger"></div></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="fuel in vm.fuelList track by $index" data-ng-mouseenter="showMenu=true"
                data-ng-mouseleave="showMenu=false">
                <td>{{(vm.currentPage * vm.fuelPageSize) + $index + 1}}</td>
                <td>{{fuel.deliveryNote}}</td>
                <td>{{fuel.deliveryDate}}</td>
                <td>{{fuel.product}}</td>
                <td style="text-align: right;">{{fuel.quantity}}</td>
                <td>{{fuel.supplierContact}}</td>
                <td>{{fuel.location}}</td>
                <td>{{fuel.project}}</td>
                <td>{{fuel.user.title}} {{fuel.user.firstname}} <b>{{fuel.user.surname}}</b></td>
                <td style="text-align: center;">
                    <div class="glyphicon glyphicon-ok successMessage" title="Bezahlt" data-ng-if="fuel.paid"></div>
                    <div class="glyphicon glyphicon-remove errorMessage" title="NICHT Bezahlt"
                          data-ng-if="!fuel.paid"> </div>
                </td>
                <td style="min-width:100px;">
                    <div class="dropdown dropdown-scroll" style="margin-top:-3px;">
                        <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" style="height:22px;" data-ng-show="showMenu == true">
                            <span>
                                ausw&auml;hlen
                            </span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu icon-hover" style="min-width:180px;">
                            <li role="presentation" class="list-item">
                                <table style="margin-left:10px;">
                                    <tr data-ng-click="vm.showEditFuelModal(fuel)">
                                        <td><span class="glyphicon glyphicon-edit icon-hover"></span></td>
                                        <td><span>&nbsp;</span></td>
                                        <td><span>editieren</span></td>
                                    </tr>
                                </table>
                            </li>
                            <li role="presentation" class="list-item" data-ng-if="!fuel.paid">
                                <table style="margin-left:10px;">
                                    <tr data-ng-click="vm.markFuelAsPaid(fuel)">
                                        <td><span class="glyphicon glyphicon-tag icon-hover"></span></td>
                                        <td><span>&nbsp;</span></td>
                                        <td><span>als bezahlt markieren</span></td>
                                    </tr>
                                </table>
                            </li>
                            <li role="presentation" class="list-item">
                                <table style="margin-left:10px;">
                                    <tr data-ng-click="vm.showYesNoDeleteModal(fuel)">
                                        <td><span class="glyphicon glyphicon-minus icon-hover"></span></td>
                                        <td><span>&nbsp;</span></td>
                                        <td><span>l&ouml;schen</span></td>
                                    </tr>
                                </table>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>


    </div>
    <div class="col-md-1 column">
    </div>
</div>

