<div class="timeregistration non-printable">	
	<div class="row clearfix">
		<div class="breadcrumb">
			<span class="explanation"><span class="glyphicon glyphicon-time"></span> Arbeitszeit erfassen</span>
			<span class="logo">wdm</span>
		</div>
		<div class="col-md-1"></div>
	    <div class="col-md-10 column">
	    	<div class="controlContainer" style="max-height:60px;">
				<table style="margin-top:-7px;">
				   <tr>
				   		<td>
				   			<span data-ng-show="vm.currentUser.userAuthorizationUserContainer.userAuthorizations[16].state == true" class="icon-hover" data-ng-click="vm.showCreateOrUpdateTimeRegistrationModal('CREATE', vm.timeRegistration)">
				   				<span class="glyphicon glyphicon-plus pulseOnce"></span>
				   				Neue Arbeitszeit erfassen
				   			</span>
				   		</td>
				   		<td><span>&nbsp;</span></td>
				   		<td><span>&nbsp;</span></td>
				   		<td><span>&nbsp;</span></td>
				   		<td><span>&nbsp;</span></td>
				   		<td><span>&nbsp;</span></td>
				   		<td>Projekte:</td>
				   		<td><span>&nbsp;</span></td>
				   		<td>
					      	<div class="dropdown dropdown-scroll">
							    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
							    	<span data-ng-show="vm.selectedProject == null">Projekt ausw&auml;hlen</span> 
							    	<span data-ng-show="vm.selectedProject != null">
								    	<span data-ng-show="vm.selectedProject != null">
								    	<span class="glyphicon glyphicon-folder-open" style="color:{{vm.selectedProject.color}}"></span>
								    	<b>{{vm.selectedProject.name}}</b></span>
								    </span>
							    	<span class="caret"></span>
							    </button>
							    <ul class="dropdown-menu">
							        <li role="presentation">      	
							            <div class="input-group input-group-sm search-control"> 
							            	<span class="input-group-addon">
							                    <span class="glyphicon glyphicon-search"></span>
											</span>
							                <input type="text" class="form-control" placeholder="Projekt suchen" data-ng-model="query"></input>
							            </div>
							        </li>
							        <li><span>&nbsp;</span></li>
							        <li role="presentation" data-ng-repeat="project in vm.projects | filter:query">
							        	<table class="projectTable">
							        		<tr>
							        			<td style="min-width:13px;">
							        				<span data-ng-show="project.selected == true" class="glyphicon glyphicon-ok icon-hover" data-ng-click="vm.removeSelectedProject(project)"></span>
							        			</td>
							        			<td><span>&nbsp;</span></td>
							        			<td>
							        				<span class="glyphicon glyphicon-folder-open" style="color:{{project.color}}"></span>
							        				<span class="icon-hover possibleProject" data-ng-click="vm.addSelectedProject(project)">{{project.name}}</span>
							        			</td>
							        		</tr>
							        	</table> 
							        </li>
							    </ul>
							</div>
						</td>
						<td><span>&nbsp;</span></td>
						<td>
							<div data-ng-show="vm.selectedProject.logoName != null && vm.selectedProject.logoName != ''" style="float: right;width: 80px; height: 40px;">
								<img data-ng-src="api/files/projectlogo/{{vm.selectedProject.logoName == null || vm.selectedProject.logoName == '' ? 'standardLogo.png' : vm.selectedProject.logoName}}/" alt="logo" style="display: block;max-width:100%;max-height:100%;" />
							</div>
						</td>
						<td><span>&nbsp;</span></td>
						<td><span>&nbsp;</span></td>
						<td>Von:</td>
						<td>
							<p class="input-group" style="margin-top:10px;max-width:120px;">
						    	<input type="text"
				                            class="form-control dateInput"
				                            name="filterStartDate"                                
				                            data-ng-model="vm.filterStartDate"
				                            datepicker-popup="dd.MM.yyyy"
				                            is-open="vm.filterStartDatePicker"
				                            close-text="schlie&szlig;en"
				                            current-text="heute"
				                            clear-text="l&ouml;schen"
				                            datepicker-options="{startingDay: 1}"
				                            placeholder="Start"
				                            disabled>
				                  	<span class="input-group-btn">
				                       		<button type="button" class="btn btn-default btn-xs datePickerButton"                         		   
				                               data-ng-click="vm.openFilterStartDatePicker($event)">
				                               <span class="glyphicon glyphicon-calendar"></span>
				                            </button>
				                  	</span>
							  </p>
						</td>
						<td><span>&nbsp;</span></td>
						<td>Bis:</td>
						<td>
							<p class="input-group" style="margin-top:10px;max-width:120px;">
						    	<input type="text"
				                            class="form-control dateInput"
				                            name="filterEndDate"                                
				                            data-ng-model="vm.filterEndDate"
				                            datepicker-popup="dd.MM.yyyy"
				                            is-open="vm.filterEndDatePicker"
				                            close-text="schlie&szlig;en"
				                            current-text="heute"
				                            clear-text="l&ouml;schen"
				                            datepicker-options="{startingDay: 1}"
				                            placeholder="Ende"
				                            disabled>
				                  	<span class="input-group-btn">
				                       		<button type="button" class="btn btn-default btn-xs datePickerButton"                         		   
				                               data-ng-click="vm.openFilterEndDatePicker($event)">
				                               <span class="glyphicon glyphicon-calendar"></span>
				                            </button>
				                  	</span>
							  </p>
						</td>
						<td>
							<button type="submit" class="btn btn-default" data-ng-click="vm.findTimeRegistrationsInTimeRange()">
								Zeiten anzeigen
						    </button>
						</td>
						<td><span>&nbsp;</span></td>
						<td>
							<span class="glyphicon glyphicon-print icon-hover" data-ng-click="vm.showPrintTimeRegistrations()"></span>
						</td>
					</tr>
		    	</table>
		    </div>
		    <span class="errorMessage" data-ng-show="vm.selectedProject == null">Bitte ein Projekt ausw&auml;hlen</span>
		    
		    <br />
		    
		    <span data-ng-show="vm.timeRegistrations.length > 0">
		    	<b>{{vm.timeRegistrations.length}}</b> Eintr&auml;g(e) gefunden: 
		    	<span data-ng-show="vm.timeRegistrationTimeRangeSum.timeRegistrationTimeRangeSum != ''">({{vm.timeRegistrationTimeRangeSum.timeRegistrationTimeRangeSum}})</span>
		    	<span class="fa fa-file-pdf-o icon-hover" style="margin-right:10px;margin-top:5px;color:#777;" data-ng-click="vm.printContainer('timeRegistrationsId', 'Zeiterfassung')" title="Arbeitsauftr&auml;ge herunterladen"></span>
		    </span>
		    <span data-ng-show="vm.timeRegistrations.length == 0"><b>keine</b> Eintr&auml;ge gefunden</span>
		    <br />
		    <br />
		    <div id="timeRegistrationsId">
			    <div data-ng-repeat="timeRegistration in vm.timeRegistrations track by $index" data-ng-class-odd="'odd'" data-ng-class-even="'even'">
		    		<div class="row">
		    			<div class="col-md-2">
		    				<span data-ng-bind-html="vm.formatStartEndDateTime(timeRegistration.dateTimeFrom, timeRegistration.dateTimeUntil)"></span>
						</div>
						<div class="col-md-1">
		   					{{timeRegistration.timeRange}}
						</div>
						<div class="col-md-2">
							<span class="glyphicon glyphicon-user" style="color:{{timeRegistration.user.color}}"></span>
		   					{{timeRegistration.user.title}} {{timeRegistration.user.firstname}} {{timeRegistration.user.surname}}
						</div>
						<div class="col-md-2">
							<span class="glyphicon glyphicon-folder-open" style="color:{{timeRegistration.project.color}}"></span>	    					
		   					{{timeRegistration.project.name}}
						</div>
						<div class="col-md-4">
		   					{{timeRegistration.text}}
						</div>
						<div class="col-md-1">
							<span class="glyphicon glyphicon-edit icon-hover" data-ng-show="vm.currentUser.userAuthorizationUserContainer.userAuthorizations[16].state == true" data-ng-click="vm.showCreateOrUpdateTimeRegistrationModal('EDIT', timeRegistration)"></span>
							<span class="glyphicon glyphicon-minus icon-hover" data-ng-show="vm.currentUser.userAuthorizationUserContainer.userAuthorizations[17].state == true" data-ng-click="vm.showDeleteTimeRegistrationYesNoModal(timeRegistration)"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

