.timeregistration {
	margin-bottom: 110px;
}
.timeregistration .even {
	padding: 20px;
}
.createOrUpdateTimeRegistrationForm .search-control,
.timeregistration .search-control {
	margin-left: 10px; 
	margin-right: 10px;
}
.timeregistration .projectTable, 
.createOrUpdateTimeRegistrationForm .projectTable {
	margin-left: 10px;
}
.timeregistration .odd {
	padding: 20px;
	background-color: #f9f9f9; 
}
.createOrUpdateTimeRegistrationForm .startLabel,
.createOrUpdateTimeRegistrationForm .endLabel {
	margin-top: 25px;
}
.createOrUpdateTimeRegistrationModal .close {
	float: right;
	margin-right: 5px;
	margin-top: 5px;
	font-size: 0.9em;
}
.createOrUpdateTimeRegistrationModal {
	height: 580px;
}
.createOrUpdateTimeRegistrationModal datetimepicker .datetimepicker-wrapper {
	display: none;
}