.superadministration {
	margin-bottom: 110px;
}
.superadministration .tenantsContainer {
	border: 1px solid #ccc;
	padding: 15px;
	max-width: 380px;
	border-radius: 2px;
}
.superadministration .tenantsContainer .firstColumn {
	min-width: 15px;
} 
.superadministration .tabHeading {
	color: #000;
}