<div class="row clearfix superadministration">
	<div class="breadcrumb">
		<span class="explanation"><span class="glyphicon glyphicon-king"></span> Super- Administration</span>
		<span class="logo">wdm</span>
	</div>
    <div class="col-md-12 column">
    	<tabset>
			<tab active="true">	
				<tab-heading class="tabHeading">
					<span class="glyphicon glyphicon-home"></span>
					Mandanten
				</tab-heading>
				<br />
				<div class="tenantsContainer">
				    <table>
						<tr>
							<td><b>Neuer Mandant</b>:</td>
							<td><span>&nbsp;</span></td>
							<td><input type="text" class="form-control input" data-ng-model="vm.newTenant" data-ng-enter="vm.addNewTenant(vm.newTenant)" placeholder="mit Enter best&auml;tigen" /></td>
							<td><span>&nbsp;</span></td>
							<td><span data-ng-show="vm.createTenantClicked == true" class="glyphicon glyphicon-ok successMessage"></span></td>
						</tr>
					</table>
					<div class="errorMessage" data-ng-show="vm.tenantStillExistsError">
						Dieser Mandant existiert bereits!
					</div>
					<br />
				    <table>
				    	<tr data-ng-repeat="tenant in vm.tenants">
				    		<td class="firstColumn">{{$index+1}}.</td>
				    		<td><span>&nbsp;</span></td>
				    		<td><span data-ng-class="tenant.stillExists == true ? 'errorMessage' : ''">{{tenant.name}}</span></td>
				    		<td><span>&nbsp;</span></td>
				    		<td><span class="glyphicon glyphicon-minus icon-hover lightGrayMessage" data-ng-click="vm.deleteTenant(tenant)"></span></td>
				    		<td><span>&nbsp;</span></td>
				    		<td><input type="checkbox" data-ng-click="vm.setTenantForSuperAdmin(tenant)" data-ng-model="tenant.selected" ng-true-value="true" ng-false-value="false" /></td>
				    	</tr>
				    </table>
				    <br />
				    <div data-ng-show="vm.tenantUpdated == true" class="successMessage">Mandant ausgew&auml;hlt</div>
				</div>
			</tab>
			<tab active="false">	
				<tab-heading class="tabHeading">
					<span class="glyphicon glyphicon-cog"></span>
					Einstellungen
				</tab-heading>
				<br />
				<b>Polymer- Werte:</b> (aktueller Wert: <b>{{vm.currentThinningPolymerDateTimeValue.value}}</b>)
				<span class="glyphicon glyphicon-plus icon-hover" data-ng-click="vm.createThinningPolymerDateTimeValue()"></span>
				<table class="table" style="max-width:400px;">
					<tr data-ng-repeat="thinningPolymerDateTimeValue in vm.thinningPolymerDateTimeValues track by $index">
						<td>{{$index+1}}.</td>
						<td>
							<span editable-text="thinningPolymerDateTimeValue.dateTime" onaftersave="vm.updateThinningPolymerDateTimeValue(thinningPolymerDateTimeValue)" data-e-style="width:85px; height:28px; padding:0;"><b>{{thinningPolymerDateTimeValue.dateTime || '--'}}</b></span>
						</td>
						<td>
							<span editable-text="thinningPolymerDateTimeValue.value" onaftersave="vm.updateThinningPolymerDateTimeValue(thinningPolymerDateTimeValue)" data-e-style="width:45px; height:28px; padding:0;"><b>{{thinningPolymerDateTimeValue.value || '--'}}</b></span>
						</td>
						<td><span class="glyphicon glyphicon-minus icon-hover" data-ng-click="vm.deleteThinningPolymerDateTimeValue(thinningPolymerDateTimeValue)"></span></td>
					</tr>
				</table>
			</tab>
			<tab active="false">	
				<tab-heading class="tabHeading">
					<span class="fa fa-line-chart"></span>
					Auswertungen
				</tab-heading>
				<br />
				<table style="margin-top:-8px;margin-left:20px;">
					<tr>
						<td><span class="controlLabel">Von:</span></td>
							<td>
					     		<p class="input-group" style="margin-top:10px;max-width:120px;">
				                       <input type="text"
				                              class="form-control"
				                              name="historyFrom"                                
				                              ng-model="vm.historyAmountFrom"
				                              datepicker-popup="dd.MM.yyyy"
				                              is-open="vm.historyAmountFromTrigger"
				                              close-text="schlie&szlig;en"
				                              current-text="heute"
				                              clear-text="l&ouml;schen"
				                              datepicker-options="{startingDay: 1}"
				                              disabled>
				                   	<span class="input-group-btn">
			                        		<button type="button" class="btn btn-default btn-xs"                         		   
			                                data-ng-click="vm.openHistoryAmountFrom($event)">
			                                <span class="glyphicon glyphicon-calendar"></span>
			                             	</button>
				                   	</span>
				                     </p>
				     		</td>
				     		<td><span>&nbsp;</span></td>
							<td><span>&nbsp;</span></td>
							<td><span class="controlLabel">Bis:</span></td>
							<td>
					     		<p class="input-group" style="margin-top:10px;max-width:120px;">
				                         <input type="text"
				                                class="form-control"
				                                name="historyUntil"                                
				                                ng-model="vm.historyAmountUntil"
				                                datepicker-popup="dd.MM.yyyy"
				                                is-open="vm.historyAmountUntilTrigger"
				                                close-text="schlie&szlig;en"
				                                current-text="heute"
				                                clear-text="l&ouml;schen"
				                                datepicker-options="{startingDay: 1}"
				                                disabled>
				                     		<span class="input-group-btn">
				                          		<button type="button" class="btn btn-default btn-xs"                         		   
				                                 data-ng-click="vm.openHistoryAmountUntil($event)">
				                                  <span class="glyphicon glyphicon-calendar"></span>
				                               </button>
				                     </span>
				                     </p>
				     		</td>
				     		<td><span>&nbsp;</span></td>
							<td><span>&nbsp;</span></td>
				     		<td>
								<button type="button" class="btn btn-default submitButton" aria-label="Left Align" data-ng-click="vm.getHistoryAmountsBetweenDates()()">
								  Anzeigen
								</button>
							</td>
			     		</tr>
			     	</table>
					<canvas id="line" style="max-width:80%;" class="chart chart-line" 
								  chart-data="vm.historyAmounts" 
								  chart-labels="vm.labels" 
								  chart-series="vm.series"
								  chart-options="vm.options">
					</canvas>
			</tab>
		</tabset>
    </div>
    <div class="col-md-5 column">
    </div>
</div>