<div class="communicationAttachmentFiles"> 
	<div class="panel">
		 <div class="panel-heading">
		  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="vm.closeCommunicationAttachmentFilesModal()">
		  		<span aria-hidden="true">&times;</span>
		  	</button>
		  	<h4><span class="glyphicon glyphicon-file"></span> Dokumente an die Nachricht anh&auml;ngen</h4>
		  	<hr />
		 </div>
	 	<div class="row clearfix">
	  	<div class="col-md-1">
	  	</div>
		<div class="col-md-10">
			<table>
				<tr>  
					<td>Nach Dokumenten suchen:</td>
					<td><span>&nbsp;</span></td>
					<td>
						<input type="text" 
						   	class="form-control" 
							placeholder="Suche mit Enter best&auml;tigen" 
							data-ng-model="selectedDocumentFile"
							data-ng-focus=""
							typeahead="documentFile as documentFile.fileName for documentFile in vm.findDocumentFilesBySearchString($viewValue)"
							typeahead-min-length="3"
							typeahead-wait-ms="100"
							typeahead-editable="false" 
							required="required" 
							typeahead-on-select="vm.addDocumentFile(selectedDocumentFile)"/>
						</td>
						<td><span>&nbsp;</span></td>
						<td>
							<span data-ng-show="vm.selectedDocumentFileError == true" class="glyphicon glyphicon-alert errorMessage"></span>
							<span data-ng-show="vm.selectedDocumentFileSuccess == true" class="glyphicon glyphicon-ok successMessage"></span>
						</td>
					</tr>
				</table>
				<div class="errorMessage" data-ng-show="vm.selectedDocumentFileStillExists == true">Dieses Dokument wurde bereits hinzugef&uuml;gt</div>
				<br />
				<div data-ng-show="selectedDocumentFile.documentFileVersions.length > 1">
					Welche Version(en) des Dokuments <b>{{selectedDocumentFile.fileName}}</b> wollen Sie anh&auml;ngen:
					<div data-ng-repeat="documentFileVersion in selectedDocumentFile.documentFileVersions">
						<input type="checkbox" data-ng-click="vm.documentFileVersionSelected(selectedDocumentFile, documentFileVersion, selectedState)" data-ng-model="selectedState" /> {{documentFileVersion.version.substr(1)}}
					</div>
					<br />
					<br />
				</div>
				<div data-ng-show="vm.selectedDocumentFiles.length > 0">
					Bereits ausgew&auml;hlte Dokumente:
					<div data-ng-repeat="selectedDocumentFile in vm.selectedDocumentFiles track by $index"> 
						<table>
							<tr>
								<td><span class="glyphicon glyphicon-minus icon-hover" data-ng-click="vm.removeDocumentFile(selectedDocumentFile.selectedDocumentFile, selectedDocumentFile.documentFileVersion)"></span></td>
								<td><span>&nbsp;</span></td>
								<td>
									<img data-ng-src="assets/img/{{selectedDocumentFile.selectedDocumentFile.ending}}.PNG" alt="" document-file-icon-dispatch title="Dateiendung {{selectedDocumentFile.selectedDocumentFile.ending}}" />
									{{selectedDocumentFile.selectedDocumentFile.fileName}} (<i>{{selectedDocumentFile.documentFileVersion.version.substr(1)}}</i>)
								</td>
							</tr>
						</table>
					</div>
				</div>
				<br />
				<br />
				<button class="btn btn-default dropdown-toggle attachButton" type="button" data-toggle="dropdown" data-ng-click="vm.attachFiles()">Anh&auml;ngen</button>
				<br />
				<br />				
			</div>
	 	</div>
	</div>
</div>