<div class="modal-header">
    <h3 class="modal-title text-center">Passwort &auml;ndern</h3>
</div>
<form class="changePasswordForm" name="changePasswordForm" data-ng-submit="vm.changePassword(vm.oldPassword, vm.newPassword)">
    <div class="modal-body">
        <div data-ng-show="vm.changePasswordForm.$submitted && vm.changePasswordError" class="alert alert-danger col-lg-12">
            {{vm.changePasswordError.error}}
        </div>
        <div class="form-group" show-errors="true" style="width: 100%;">
            <label>altes Passwort:</label>
            <input type="password"
                   class="form-control"
                   name="vm.oldPassword"
                   data-ng-model="vm.oldPassword"
                   placeholder="altes Passwort"
                   style="border-radius: 4px 4px 0 0"
                   required>
        </div>
        <div class="input-group" show-errors="true" style="width: 100%;">
            <label>neues Passwort:</label>
            <input type="password"
                   class="form-control"
                   name="newPassword"
                   data-ng-minlength="5"
                   data-ng-model="vm.newPassword"
                   placeholder="neues Passwort"
                   style="border-radius: 4px 4px 0 0"
                   required>
			<div class="errorMessage" data-ng-show="changePasswordForm.newPassword.$error.minlength && !changePasswordForm.newPassword.$pristine">mindestens 5 Zeichen</div>
        </div>
        <br />
        <div class="input-group" show-errors="true" style="width: 100%;">
            <input type="password"
                   class="form-control"
                   name="vm.confirmPassword"
                   data-ng-model="vm.confirmPassword"
                   ui-validate="'$value==vm.newPassword'"
                   placeholder="neues Password best&auml;tigen"
                   style="border-radius: 0 0 4px 4px"
                   required>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row clearfix">
            <div class="col-md-12">
                <button id="btn-changePassword" type="submit" data-ng-disabled="vm.changePasswordForm.$invalid" class="btn btn-default btn-block clearfix">
                    Passwort &auml;ndern
                </button>
            </div>
        </div>
    </div>
</form>