<div class="communicationGroupDeletion"> 
	<div class="panel">
	  <div class="panel-heading">
	  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="vm.closeCommunicationGroupDeletionModal()">
	  		<span aria-hidden="true">&times;</span>
	  	</button>
	  	<h4><span>Kommunikationsgruppe wirklich l&ouml;schen</span></h4>
	  	<hr />
	  </div>
	  <div class="row clearfix">
	  	<div class="col-md-1">
	  	</div>
		<div class="col-md-10">
			Wollen Sie die Kommunikationsgruppe <b>{{vm.communicationGroup.name}}</b> wirklich l&ouml;schen?
			<div class="controlButtons">
				<button type="button" class="btn btn-default" data-ng-click="vm.deleteCommunicationGroup()">Ja</button>
				<button type="button" class="btn btn-default" data-ng-click="vm.closeCommunicationGroupDeletionModal()">Nein</button>
			</div>
		</div>
	  </div>
	</div>
</div>