<div class="yesNoModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeYesNoModal()"></span>
        <h4 class="modal-title"><span class="glyphicon glyphicon-home"></span> Wollen Sie den Kontakt wirklich l&ouml;schen?</h4>
    </div>
    <div class="modal-body">
        <span data-ng-show="vm.productsReferencedToContact.length == 0">Wollen Sie den Kontakt <span class="glyphicon glyphicon-home" style="color:{{vm.contact.color}}"></span> <b>{{vm.contact.institution}}</b> wirklich l&ouml;schen?</span>
        <br />
        <br />
        <div data-ng-show="vm.productsReferencedToContact.length > 0">
        	Der Kontakt <span class="glyphicon glyphicon-home" style="color:{{vm.contact.color}}"></span> <b>{{vm.contact.institution}}</b> kann nicht gel&ouml;scht werden, da folgende Produkte 
        	auf diesen Kontakt referenzieren:
        	<br />
        	<div style="margin-left:50px; margin-top:10px;">
	        	<div data-ng-repeat="productReferencedToContact in vm.productsReferencedToContact track by $index">
	        		<span class="glyphicon glyphicon-filter" data-ng-style="{'color': productReferencedToContact.color}"></span> {{productReferencedToContact.number}} {{productReferencedToContact.name}}
	        	</div>
	        </div>
        </div>
        <div data-ng-show="vm.calendarEventUserConnections.length > 0">
        	Der Kontakt <span class="glyphicon glyphicon-home" style="color:{{vm.contact.color}}"></span> <b>{{vm.contact.institution}}</b> kann nicht gel&ouml;scht werden, da folgende Termine 
        	auf diesen Kontakt referenzieren:
        	<br />
        	<div style="margin-left:50px; margin-top:10px;">
	        	<div data-ng-repeat="calendarEventUserConnection in vm.calendarEventUserConnections track by $index">
	        		<span class="glyphicon glyphicon-calendar"></span> {{calendarEventUserConnection.calendarEvent.title}} - {{calendarEventUserConnection.calendarEvent.location}}
	        	</div>
	        </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" data-ng-click="vm.yes()" data-ng-disabled="vm.productsReferencedToContact.length > 0 || vm.calendarEventUserConnections.length > 0">Ja</button>
        <button class="btn btn-default" type="button" data-ng-click="vm.no()">Nein</button>
    </div>
</div>