<div class="createThinning" id="changeThinningId{{index}}" style="height:660px;">
	<span class="glyphicon glyphicon-print icon-hover" style="float:right;color:#777;margin-right:5px;margin-top:-10px;" data-ng-click="showPrintThinningModal(thinning)" title="ausdrucken"></span>
	<span class="fa fa-file-pdf-o icon-hover non-printable" style="float:right;color:#777;margin-right:5px;margin-top:-10px;" data-ng-click="printContainer('changeThinningId' + index, 'Verd&uuml;nnungen')" title="herunterladen"></span>
	<div style="margin-top:-15px;" title="Dichte des Produkts: {{product.density}} [g/ml]"><span class="glyphicon glyphicon-filter" style="color:{{product.color}}"></span><b>{{product.name}}</b> ({{product.number}})
		<span class="errorMessage blinkText" data-ng-show="product.inactive">(Produkt eingestellt am {{(product.inactiveDate | date:'dd.MM.yyyy') || '--'}}: {{product.inactiveMessage || '--'}})</span>
	</div>
	<br />
	<div class="col-sm-12" style="margin-bottom:30px;">
		<div class="form-group">
		    <label class="control-label col-sm-offset-1 col-sm-1" for="date" style="margin-top:7px;">Datum:<span class="mandatory">*</span></label>
		    <div class="col-sm-2">
		    	<p class="input-group" style="width: 120px;">
			    	<input type="text"
	                            class="form-control"
	                            name="createReceipeDate"                                
	                            data-ng-model="thinning.date"
	                            datepicker-popup="dd.MM.yyyy"
	                            is-open="createThinningDateDatePicker"
	                            close-text="schlie&szlig;en"
	                            current-text="heute"
	                            clear-text="l&ouml;schen"
	                            datepicker-options="{startingDay: 1}"
	                            placeholder="Datum"
	                            disabled
	                            required>
	                  	<span class="input-group-btn">
	                       		<button type="button" class="btn btn-default btn-xs datePickerButton"                         		   
	                               data-ng-click="openCreateThinningDatePicker($event)" data-ng-disabled="product.inactive">
	                               <span class="glyphicon glyphicon-calendar"></span>
	                            </button>
	                  	</span>
	              </p>
		    </div>
		    <div class="col-sm-2">
		    	<div style="margin-top:-32px;">
		    		<datetimepicker
						hour-step="1" 
						minute-step="1" 
				      	ng-model="thinningDateTime" 
				      	show-meridian="false" 
				      	show-date="false"
				      	show-spinners="true"
				      	readonly-time="false">
				    </datetimepicker>
		    	</div>
		    </div>
		</div>
	</div>
	<div class="col-sm-12">
		<textarea style="width:430px;height:60px;margin-left:210px;" class="form-control" data-ng-model="thinning.informationTop" data-ng-disabled="product.inactive" aria-label="message" placeholder="Anmerkungen eingeben">
		</textarea>
		<br />
	</div>
  	<div class="col-sm-6">
		<span style="margin-left:100px;font-size:1.2em;"><b><i class="fa fa-calculator" aria-hidden="true"></i> Berechnungswerte:</b></span>
		<div class="form-horizontal" style="margin-left:50px;margin-top:10px;">
		    <div class="form-group">
			    <label class="control-label col-sm-5" for="feGehalt"><span editable-text="thinning.labelLeft1" data-e-style="width:95px; height:28px; padding:0;">{{thinning.labelLeft1 || '--'}}</span>:<span class="mandatory">*</span></label>
			    <div class="col-sm-2">
			    	<table>
			    		<tr>
			    			<td><input type="number" class="form-control" pattern="[0-9]+([\.,][0-9]+)?" step="0.1" style="width:100px;" data-ng-model="thinning.ironContent" data-ng-disabled="product.inactive" required /></td>
			    			<td><span>&nbsp;</span></td>
			    			<td><b>[%]</b></td>
			    		</tr>
			    	</table>
			    </div>
			</div>
			<div class="form-group">
			    <label class="control-label col-sm-5" for="zielGehalt">Zielgehalt:<span class="mandatory">*</span>   </label>
			    <div class="col-sm-2">
			    	<table>
			    		<tr>
			    			<td><input type="number" class="form-control" pattern="[0-9]+([\.,][0-9]+)?" step="0.1" style="width:100px;" data-ng-model="thinning.targetContent" data-ng-disabled="product.inactive" required /></td>
			    			<td><span>&nbsp;</span></td>
			    			<td><b>[%]</b></td>
			    		</tr>
			    	</table>
			    </div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-5" for="density" style="margin-top:-10px;">Dichte
				<br /> 
				<span style="font-weight:normal;font-size:0.9em;" editable-text="thinning.labelLeft2" data-e-style="width:95px; height:28px; padding:0;">({{thinning.labelLeft2 || '--'}})</span>:<span class="mandatory">*</span></label>
			    <div class="col-sm-2">
			    	<table>
			    		<tr>
			    			<td><input type="number" class="form-control" pattern="[0-9]+([\.,][0-9]+)?" step="0.1" style="width:100px;" data-ng-model="thinning.density" data-ng-disabled="product.inactive" required /></td>
			    			<td><span>&nbsp;</span></td>
			    			<td><b>[g/ml]</b></td>
			    		</tr>
			    	</table>
			    </div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-5" for="density">Menge <span style="font-weight:normal;font-size:0.9em;">(Ziel)</span>:<span class="mandatory">*</span></label>
			    <div class="col-sm-2">
			    	<table>
			    		<tr>
			    			<td><input type="number" class="form-control" pattern="[0-9]+([\.,][0-9]+)?" step="0.1" style="width:100px;" data-ng-model="thinning.amountLiter" data-ng-change="amountInLiterChanged()" data-ng-disabled="product.inactive" required /></td>
			    			<td><span>&nbsp;</span></td>
			    			<td><span title="Liter"><b>[L]</b></span></td>
			    		</tr>
			    		<tr>
			    			<td colspan="3"><span class="errorMessage" data-ng-show="thinning.densityError == true">Dichte nicht angegeben</span></td>
			    		</tr>
			    	</table>
			    </div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-5" for="density">Masse <span style="font-weight:normal;font-size:0.9em;">(Ziel)</span>:</label>
			    <div class="col-sm-2">
			    	<table>
			    		<tr>
			    			<td><input type="number" class="form-control" pattern="[0-9]+([\.,][0-9]+)?" step="0.1" style="width:100px;" data-ng-model="thinning.amount" disabled /></td>
			    			<td><span>&nbsp;</span></td>
			    			<td><span title="Tonnen"><b>[kg]</b></span></td>
			    		</tr>
			    	</table>
			    </div>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<span style="margin-left:0px;font-size:1.2em;"><b><span class="glyphicon glyphicon-filter"></span> Komponenten:</b></span>
		<div class="form-horizontal" style="margin-top:10px;">
			<span class="errorMessage" data-ng-show="thinning.densityOfProductError == true">Dichte f&uuml;r das Produkt <span class="glyphicon glyphicon-filter" style="color:{{product.color}}"></span><b>{{product.name}}</b> ({{product.number}}) nicht angegeben</span>
		    <div class="form-group">
		    	<table>
		    		<tr>
		    			<td><label class="control-label" title="Menge [L] * Dichte des Produktes * (Zielgehalt / Fe- Gehalt)" editable-text="thinning.labelRight1" data-e-style="width:95px; height:28px; padding:0;">{{thinning.labelRight1 || '--'}}:</label></td>
		    			<td><span>&nbsp;</span></td>
		    			<td><span>&nbsp;</span></td>
		    			<td><span>&nbsp;</span></td>
		    			<td><span>&nbsp;</span></td>
		    			<td>
					    	<table style="float:right;margin-top:7px;" data-ng-show="thinning.iron != null && thinning.iron > 0 && thinning.density != null && thinning.density > 0">
					    		<tr>
					    			<td><b>{{thinning.iron | number:3}}</b></td>
					    			<td><span>&nbsp;</span></td>
					    			<td><b>[L]</b></td>
					    		</tr>
					    	</table>
		    			</td>
		    			<td></td>
		    		</tr>
		    		<tr>
		    			<td><label class="control-label" for="water" title="Menge [L] - Eisenl&ouml;sung [L]">Wasser:</label></td>
		    			<td><span>&nbsp;</span></td>
		    			<td><span>&nbsp;</span></td>
		    			<td><span>&nbsp;</span></td>
		    			<td><span>&nbsp;</span></td>
		    			<td>
		    				<table style="float:right;margin-top:7px;" data-ng-show="thinning.water != null && (thinning.water > 0 || thinning.water < 0)">
					    		<tr>
					    			<td><b>{{thinning.water | number:3}}</b></td>
					    			<td><span>&nbsp;</span></td>
					    			<td><b>[L]</b></td>
					    		</tr>
					    	</table>
		    			</td>
		    			<td></td>
		    		</tr>
		    		<tr>
		    			<td>
		    				<div data-ng-show="thinning.polymer == false" style="margin-top:6px;"><span class="glyphicon glyphicon-plus icon-hover" data-ng-click="thinning.polymer = !thinning.polymer" data-ng-hide="product.inactive"></span> Polymer hinzugeben ({{thinning.polymerPromille*1000}}&permil;)?</div>
		    				<div data-ng-show="thinning.polymer == true">
								<label class="control-label" for="polymer" title="{{thinning.amountLiter}} * {{thinning.polymerPromille}} * 8,5">Polymer</label> ({{thinning.polymerPromille*1000}}&permil;)<b>:</b>
							</div>
		    			</td>
		    			<td><span>&nbsp;</span></td>
		    			<td><span>&nbsp;</span></td>
		    			<td><span>&nbsp;</span></td>
		    			<td><span>&nbsp;</span></td>
		    			<td>
		    				<div data-ng-show="thinning.polymer == true">
						    	<table style="float:right;margin-top:7px;">
						    		<tr>
						    			<td><b>{{((thinning.amountLiter * thinning.polymerPromille * 8.5) | number:3) || '0,000'}}</b></td>
						    			<td><span>&nbsp;</span></td>
						    			<td><b>[g]</b></td>
						    		</tr>
						    	</table>
							 </div>
		    			</td>
		    			<td><span class="glyphicon glyphicon-minus icon-hover" style="margin-top:10px;" data-ng-show="thinning.polymer == true && !product.inactive" data-ng-click="thinning.polymer = false"></span></td>
		    		</tr>
		    		<tr> 
		    			<td>
		    				<div data-ng-show="thinning.ascorbinSaeure == false" style="margin-top:6px;"><span class="glyphicon glyphicon-plus icon-hover" data-ng-click="thinning.ascorbinSaeure = !thinning.ascorbinSaeure" data-ng-hide="product.inactive"></span> Ascorbins&auml;ure hinzugeben (1%)?</div>
		    				<div data-ng-show="thinning.ascorbinSaeure == true">
								<label class="control-label" for="ascorbinsaeure" title="{{thinning.iron}} * 0,01">Ascorbins&auml;ure:</label>
							</div>
		    			</td>
		    			<td><span>&nbsp;</span></td>
		    			<td><span>&nbsp;</span></td>
		    			<td><span>&nbsp;</span></td>
		    			<td><span>&nbsp;</span></td>
		    			<td>
		    				<div data-ng-show="thinning.ascorbinSaeure == true">
						    	<table style="float:right;margin-top:7px;">
						    		<tr>
						    			<td><b>{{((thinning.iron * 0.01) | number:3) || '0,000'}}</b></td>
						    			<td><span>&nbsp;</span></td>
						    			<td><b>[Kg]</b></td>
						    		</tr>
						    	</table>
							 </div>
		    			</td>
		    			<td>
		    				<span class="glyphicon glyphicon-minus icon-hover" style="margin-top:10px;" data-ng-show="thinning.ascorbinSaeure == true && !product.inactive" data-ng-click="thinning.ascorbinSaeure = false"></span>
		    			</td>
		    		</tr>
		    	</table>
			</div>
			<hr />
			<div data-ng-show="thinning.water != null && thinning.water > 0 && (thinning.polymer == true || thinning.ascorbinSaeure == true)" style="margin-top:-10px;background-color:#eee;padding:5px;">
				<table>
					<tr>
						<td>
							<table>
								<tr>
									<td><b>Wasser Endergebnis:</b></td>
								</tr>
							</table>
						</td>
						<td><span>&nbsp;</span></td>
						<td><span>&nbsp;</span></td>
						<td><span>&nbsp;</span></td>
						<td>
							<table>
								<tr>
									<td></td>
									<td><b>{{thinning.water | number:3}} [L]</b></td>
								</tr>
								<tr data-ng-show="thinning.polymer == true">
									<td>-</td>
									<td><b>{{thinning.polymerSubtract}} [L]</b> (Polymer)</td>
								</tr>
								<tr data-ng-show="thinning.ascorbinSaeure == true">
									<td>-</td>
									<td><b>{{thinning.ascorbinSaeureSubtract}} [L]</b> (Ascorbins&auml;ure)</td>
								</tr>
								<tr>
									<td>=</td>
									<td><b>{{thinning.waterAmountCalculated | number:3}} [L]</b></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</div>
			<div data-ng-show="thinning.polymer == false && thinning.ascorbinSaeure == false" style="margin-top:-10px;background-color:#eee;padding:5px;">
				<table>
					<tr>
						<td>
							<table>
								<tr>
									<td><b>Summe:</b></td>
								</tr>
							</table>
						</td>
						<td><span>&nbsp;</span></td>
						<td><span>&nbsp;</span></td>
						<td><span>&nbsp;</span></td>
						<td>
							<table>
								<tr>
									<td><b>{{((thinning.iron / thinning.density) + (thinning.amountLiter - (thinning.iron / thinning.density))  | number:3) || '0,000' }} [L]</b></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<textarea style="width:430px;height:120px;margin-left:210px;margin-top:5px;" class="form-control" data-ng-model="thinning.information" data-ng-disabled="product.inactive" aria-label="message" placeholder="Anmerkungen">
		</textarea>
	</div>
</div>
<br />
<br />
<div style="float:right;margin-right:30px;">
 	<button class="btn btn-default" type="button" data-ng-show="type == 'CREATE'" data-ng-click="createThinning()" data-ng-disabled="thinning.ironContent == null || thinning.targetContent == null || thinning.density == null || thinning.amountLiter == null">Speichern</button>
 	<button class="btn btn-default" type="button" data-ng-show="type == 'CREATE'" data-ng-click="closeCreateThinningModal()">Schlie&szlig;en</button>
 	
 	<button class="btn btn-default" type="button" data-ng-show="type == 'EDIT'" data-ng-click="updateThinning()" data-ng-disabled="thinning.ironContent == null || thinning.targetContent == null || thinning.density == null || thinning.amountLiter == null">
 		&Auml;ndern <span class="glyphicon glyphicon-ok successMessage" data-ng-show="thinning.updateSuccess == true"></span>
 	</button>
 	<button class="btn btn-default" type="button" data-ng-show="type == 'EDIT' && userAuthorizationUserContainer.userAuthorizations[32].state == true" style="border-top-right-radius: 0px !important;border-bottom-right-radius: 0px !important; border-right: none !important;" data-ng-click="deleteThinning()" data-ng-disabled="canDeleteThinning == false">L&ouml;schen</button>
 	<button type="button" style="margin-left:-5px;border-top-left-radius: 0px !important;border-bottom-left-radius: 0px !important; border-left: none !important;" class="btn btn-default" data-ng-show="type=='EDIT' && userAuthorizationUserContainer.userAuthorizations[32].state == true" data-toggle="button" data-ng-init="canDeleteThinning = false" data-ng-click="canDeleteThinning = !canDeleteThinning" title="L&ouml;schen aktiv schalten">
		<span class="glyphicon glyphicon-ban-circle"></span>
	</button>
</div>	
<br />
<br />
<br />