<div class="yesNoModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeContactImportedYesNoModal()"></span>
        <h4 class="modal-title"><span class="glyphicon glyphicon-minus"></span> Wollen Sie den importierten Kontakt wirklich l&ouml;schen?</h4>
    </div>
    <div class="modal-body">
        Wollen Sie den importierten Kontakt <span class="glyphicon glyphicon-home" style="color:{{vm.contactImported.color}}"></span> <b>{{vm.contactImported.institution}}</b> wirklich l&ouml;schen?
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" data-ng-click="vm.deleteContactImportedYesNoModal()">Ja</button>
        <button class="btn btn-default" type="button" data-ng-click="vm.closeContactImportedYesNoModal()">Nein</button>
    </div>
</div>