<div class="yesNoModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeYesNoModal()"></span>
        <h4 class="modal-title"><span class="glyphicon glyphicon-minus"></span> Wollen Sie diesen User wirklich l&ouml;schen?</h4>
    </div>
    <div class="modal-body">
       	Wollen Sie den User <span class="glyphicon glyphicon-user" style="color:{{vm.user.color}}"></span> {{vm.user.title}} {{vm.user.firstname}} <b>{{vm.user.surname}}</b> wirklich l&ouml;schen?
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" data-ng-click="vm.yes()">Ja</button>
        <button class="btn btn-default" type="button" data-ng-click="vm.no()">Nein</button>
    </div>
</div>