<div class="changeProjectPropertiesModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeProjectDataSheetModal()"></span>
        <h4 class="modal-title">Projekt- Datenblatt</h4>
    </div>
    <div class="modal-body">
    	<div data-ng-show="vm.projectDataSheet == null || vm.projectDataSheet == ''">
    		Kein Projektdatenblatt f&uuml;r dieses Projekt vorhanden
    	</div>
     	<div data-ng-show="vm.projectDataSheet != null && vm.projectDataSheet != ''">
     		<div class="projectDataSheetContainer">
		    	<div><h5>1. <label>Angaben zum Betreiber der Anlage</label></h5></div>
		    	<table class="table table-bordered">
		    		<tr>
		    			<td class="col-md-2"><label>Name</label><span class="mandatory">*</span></td>
		    			<td colspan="3">{{vm.projectDataSheet.operatorName}}</td>
		    		</tr>
		    		<tr>
		    			<td class="col-md-2"><label>Stra&szlig;e</label><span class="mandatory">*</span></td>
		    			<td class="col-md-3">{{vm.projectDataSheet.operatorStreet}}</td>
		    			<td class="col-md-2"><label>Nr.</label><span class="mandatory">*</span></td>
		    			<td class="col-md-3">{{vm.projectDataSheet.operatorNumber}}</td>
		    		</tr>
		    		<tr>
		    			<td class="col-md-2"><label>PLZ</label><span class="mandatory">*</span></td>
		    			<td class="col-md-3">{{vm.projectDataSheet.operatorZip}}</td>
		    			<td class="col-md-2"><label>Ort</label><span class="mandatory">*</span></td>
		    			<td class="col-md-3">{{vm.projectDataSheet.operatorLocation}}</td>
		    		</tr>
		    		<tr>
		    			<td class="col-md-2"><label>Bundesland</label><span class="mandatory">*</span></td>
		    			<td class="col-md-3">{{vm.projectDataSheet.operatorProvinceType | translate}}</td>
		    			<td class="col-md-2"></td>
		    			<td class="col-md-3"></td>
		    		</tr>
		    	</table>
		    </div>	
	    	<div><h5>2. <label>Standort der Anlage</label></h5></div>
	    	<table class="table table-bordered">
	    		<tr>
	    			<td class="col-md-2"><label>Stra&szlig;e</label><span class="mandatory">*</span></td>
	    			<td class="col-md-3">{{vm.projectDataSheet.locationStreet}}</td>
	    			<td class="col-md-2"><label>Nr.</label><span class="mandatory">*</span></td>
	    			<td class="col-md-3">{{vm.projectDataSheet.locationNumber}}</td>
	    		</tr>
	    		<tr>
	    			<td class="col-md-2"><label>PLZ</label><span class="mandatory">*</span></td>
	    			<td class="col-md-3">{{vm.projectDataSheet.locationZip}}</td>
	    			<td class="col-md-2"><label>Ort</label><span class="mandatory">*</span></td>
	    			<td class="col-md-3">{{vm.projectDataSheet.locationLocation}}</td>
	    		</tr>
	    		<tr>
	    			<td class="col-md-2"><label>Bundesland</label><span class="mandatory">*</span></td>
	    			<td class="col-md-3">{{vm.projectDataSheet.locationProvinceType | translate}}</td>
	    			<td class="col-md-2"><label>Bezirk</label><span class="mandatory">*</span></td>
	    			<td class="col-md-3">{{vm.projectDataSheet.locationRegion}}</td>
	    		</tr>
	    		<tr>
	    			<td class="col-md-2"><label>Grundst&uuml;cks-Nr.</label><span class="mandatory">*</span></td>
	    			<td class="col-md-3">{{vm.projectDataSheet.locationEstateNumber}}</td>
	    			<td class="col-md-2"><label>Einlagezahl</label><span class="mandatory">*</span></td>
	    			<td class="col-md-3">{{vm.projectDataSheet.locationArchiveNumber}}</td>
	    		</tr>
	    		<tr>
	    			<td class="col-md-2"><label>Kastralgemeinde</label><span class="mandatory">*</span></td>
	    			<td colspan="3">{{vm.projectDataSheet.locationCastralCommunity}}</td>
	    		</tr>
	    	</table>
	    	<div class="projectDataSheetContainer">
	    		<div><h5>3. <label>Identifizierung der Anlage</label></h5></div>
	    		<div data-ng-repeat="projectDataSheetApprovalOrder in vm.projectDataSheet.projectDataSheetIdentificationFacilities track by $index">
	    			<span data-ng-show="vm.projectDataSheet.projectDataSheetIdentificationFacilities.length > 1">Anlage {{$index+1}}:</span>
			    	<table class="table table-bordered">
			    		<tr>
			    			<td class="col-md-4"><label>Bezeichnung der Anlage (Werksname)</label><span class="mandatory">*</span></td>
			    			<td class="col-md-4">{{projectDataSheetApprovalOrder.identificationFacilityName}}</td>
			    		</tr>
			    		<tr>
			    			<td class="col-md-4"><label>Brennstoffw&auml;rmeleistung der Anlage in MW</label><span class="mandatory">*</span></td>
			    			<td class="col-md-4">{{projectDataSheetApprovalOrder.identificationFacilityPower}}</td>
			    		</tr>
			    		<tr>
			    			<td class="col-md-4"><label>Typ der Anlage</label><span class="mandatory">*</span></td>
			    			<td class="col-md-4">{{projectDataSheetApprovalOrder.identificationFacilityType}}</td>
			    		</tr>
			    	</table>
			    </div>
		    </div>
	    	<div><h5>4. <label>Genehmigungsbescheide</label></h5></div>
	    	<div data-ng-repeat="projectDataSheetApprovalOrder in vm.projectDataSheet.projectDataSheetApprovalOrders track by $index">
	    		<span data-ng-show="vm.projectDataSheet.projectDataSheetApprovalOrders.length > 1">Genehmigungsbescheid {{$index+1}}:</span>
		    	<table class="table table-bordered">
		    		<tr>
		    			<td class="col-md-4"><label>Zust&auml;ndige Beh&ouml;rde</label><span class="mandatory">*</span></td>
		    			<td class="col-md-4">{{projectDataSheetApprovalOrder.approvalOrderAgency}}</td>
		    		</tr>
		    		<tr>
		    			<td class="col-md-4"><label>Gesch&auml;ftszahl</label><span class="mandatory">*</span></td>
		    			<td class="col-md-4">{{projectDataSheetApprovalOrder.approvalOrderNumber}}</td>
		    		</tr>
		    		<tr>
		    			<td class="col-md-4"><label>Datum</label><span class="mandatory">*</span></td>
		    			<td class="col-md-4">{{projectDataSheetApprovalOrder.approvalOrderDate}}</td>
		    		</tr>
		    	</table>
	    	</div>
	    	<div class="projectDataSheetContainer">
		    	<div><h5>5. <label>Angaben zum Sachverst&auml;ndigen (Aussteller des Anlagenbuches)</label></h5></div>
		    	<div data-ng-repeat="projectDataSheetAuthority in vm.projectDataSheet.projectDataSheetAuthorities track by $index">
	    			<span data-ng-show="vm.projectDataSheet.authority.length > 1">Sachverst&auml;ndiger {{$index+1}}:</span>
			    	<table class="table table-bordered">
			    		<tr>
			    			<td class="col-md-2"><label>Name</label></td>
			    			<td colspan="3">{{projectDataSheetAuthority.authorityName}}</td>
			    		</tr>
			    		<tr>
			    			<td class="col-md-2"><label>Stra&szlig;e</label></td>
			    			<td class="col-md-3">{{projectDataSheetAuthority.authorityStreet}}</td>
			    			<td class="col-md-2"><label>Nr</label></td>
			    			<td class="col-md-3">{{projectDataSheetAuthority.authorityNumber}}</td>
			    		</tr>
			    		<tr>
			    			<td class="col-md-2"><label>PLZ</label></td>
			    			<td class="col-md-3">{{projectDataSheetAuthority.authorityZip}}</td>
			    			<td class="col-md-2"><label>Ort</label></td>
			    			<td class="col-md-3">{{projectDataSheetAuthority.authorityLocation}}</td>
			    		</tr>
			    		<tr>
			    			<td class="col-md-2"><label>Name des Pr&uuml;fberechtigten</label></td>
			    			<td colspan="3">{{projectDataSheetAuthority.authorityApprovalPerson}}</td>
			    		</tr>
			    	</table>
			    </div>
		    </div>
	    	<div><h5>6. <label>Nachtr&auml;gliche &Auml;nderungen</label></h5></div>
	    	<div data-ng-repeat="projectDataSheetChange in vm.projectDataSheet.projectDataSheetChanges track by $index">
	    		<span data-ng-show="vm.projectDataSheet.projectDataSheetChanges.length > 1">Nachtr&auml;gliche &Auml;nderung {{$index+1}}:</span>
		    	<table class="table table-bordered">
		    		<tr>
		    			<td class="col-md-4"><label>Inhalt (Freitext gem&auml;&szlig; Bescheid)</label></td>
		    			<td class="col-md-4">{{projectDataSheetChange.changeContent}}</td>
		    		</tr>
		    		<tr>
		    			<td class="col-md-4"><label>Zust&auml;ndige Beh&ouml;rde</label></td>
		    			<td class="col-md-4">{{projectDataSheetChange.chanceResponsibleAgency}}</td>
		    		</tr>
		    		<tr>
		    			<td class="col-md-4"><label>Gesch&auml;ftszahl</label></td>
		    			<td class="col-md-4">{{projectDataSheetChange.changeNumber}}</td>
		    		</tr>
		    		<tr>
		    			<td class="col-md-4"><label>Datum</label></td>
		    			<td class="col-md-4">{{projectDataSheetChange.changeDate}}</td>
		    		</tr>
		    	</table>
		    </div>
    	</div>
    </div>
</div>