<div class="pdfTemplateModal modal-movable">
	<span class="glyphicon glyphicon-move icon-hover non-printable" style="margin-left:0px;margin-top:0px !important;position: absolute;"></span>
	<span class="glyphicon glyphicon-remove close non-printable" data-ng-click="vm.closePdfTemplateModal()"></span>
	<div class="pdfPreviewWrapper">
		<ng-pdf template-url="app/project/templates/pdfTemplate.html" class="pdfTemplateContainer" page="1" scale=1 canvasid="pdf-canvas" debug="true" scale="page-fit"></ng-pdf>
	</div>
</div>