<div class="contactsImportedYesNoModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeContactsImportedYesNoModal()"></span>
        <h4 class="modal-title">
        	<span class="glyphicon glyphicon-minus"></span> Wollen Sie alle importierten Kontakte wirklich l&ouml;schen?
        </h4>
    </div>
    <div class="modal-body">
       	Wollen Sie <b>alle importierten Kontakte</b> wirklich l&ouml;schen?
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" data-ng-click="vm.contactsImportedDeleteAll()">Ja</button>
        <button class="btn btn-default" type="button" data-ng-click="vm.closeContactsImportedYesNoModal()">Nein</button>
    </div>
</div>