<div class="yesNoModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeYesNoModal()"></span>
        <h4 class="modal-title"><span class="glyphicon glyphicon-home"></span> Wollen Sie den Kontakt wirklich <span data-ng-show="vm.state == false">deaktivieren</span><span data-ng-show="vm.state == true">aktivieren</span>?</h4>
    </div>
    <div class="modal-body">
        <span>Wollen Sie den Kontakt <span class="glyphicon glyphicon-home" style="color:{{vm.contact.color}}"></span> <b>{{vm.contact.institution}}</b> wirklich <span data-ng-show="vm.state == false">deaktivieren</span><span data-ng-show="vm.state == true">aktivieren</span>?</span>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" data-ng-click="vm.yes()">Ja</button>
        <button class="btn btn-default" type="button" data-ng-click="vm.no()">Nein</button>
    </div>
</div>