<div class="printThinningModal">
	<div class="modal-header non-printable thinningBackgroundColor">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closePrintThinningModal()"></span>
        <h4 class="modal-title"><span class="fa fa-flask" aria-hidden="true"></span> Drucken </h4>
    </div>
    <div class="modal-body">
    	<div style="float:left;margin-top:-10px;" class="printInfo">
    		<br />
    		Ausgedruckt am <b>{{vm.date | date:'dd.MM.yyyy HH:mm'}}</b>
    		von {{vm.currentUser.title}} {{vm.currentUser.firstname}} <b>{{vm.currentUser.surname}}</b>
    	</div>	
    	<div style="float:right;margin-right:10px;">
    		<img class="logo" src="/assets/img/LPMLogo3.png" alt="wdm Logo">
    		<button class="btn btn-default non-printable" type="button" onClick="javascript:window.print()">
				<span class="glyphicon glyphicon-print"></span>
			</button>
    	</div>
    	<div style="background-color:#f9f9f9;padding:20px;margin-top:40px;">
    		<span><b>Verd&uuml;nnung:</b></span>
    		<br /><br />
    		<div style="padding:10px;background-color:white;">
		    	<table class="table noBorder">
					<tr>
						<td colspan="2" style="border-bottom: 1px solid #fff;border-top: 0px solid #fff;"><div style="margin-left:8px;display:block;"><b>Anmerkung:</b> {{vm.thinningOfProduct.informationTop || '--'}}</div></td>
					</tr>
					<tr>
						<td class="noBorder">
							<table class="table">
								<tr>
									<td><b>Produkt:</b></td>
									<td><span class="glyphicon glyphicon-filter" style="color:{{vm.product.color}}"></span> {{vm.product.name}}</td>
								</tr>
								<tr>
									<td><b>Datum:</b></td>
									<td>{{vm.thinningOfProduct.date | date:'dd.MM.yyyy HH:mm'}}</td>
								</tr>
								<tr>
									<td><b>{{vm.thinningOfProduct.labelLeft1}} [%]:</b></td>
									<td class="textRight"><b>{{vm.thinningOfProduct.ironContent | number:3}}</b></td>
								</tr>
								<tr>
									<td><b>Zielgehalt [%]:</b></td>
									<td class="textRight"><b>{{vm.thinningOfProduct.targetContent | number:3}}</b></td>
								</tr>
								<tr>
									<td><b>Dichte <span style="font-weight:normal;font-size:0.9em;">({{vm.thinningOfProduct.labelLeft2}})</span> [g/ml]:</b></td>
									<td class="textRight"><b>{{vm.thinningOfProduct.density | number:3}}</b></td>
								</tr>
								<tr>
									<td><b>Menge <span style="font-weight:normal;font-size:0.9em;">(Ziel)</span> [L]:</b></td>
									<td class="textRight"><b>{{vm.thinningOfProduct.amountLiter | number:3}}</b></td>
								</tr>
								<tr>
									<td><b>Masse <span style="font-weight:normal;font-size:0.9em;">(Ziel)</span> [Kg]:</b></td>
									<td class="textRight"><b>{{vm.thinningOfProduct.amount | number:3}}</b></td>
								</tr>
							</table>
						</td>
						<td  class="noBorder">
							<table class="table">
								<tr>
									<td><b>{{vm.thinningOfProduct.labelRight1}} [L]:</b></td>
									<td class="textRight"><b>{{vm.thinningOfProduct.iron | number:3}}</b></td>
								</tr>
								<tr>
									<td><b>Wasser [L]:</b></td>
									<td class="textRight"><b>{{vm.thinningOfProduct.water | number:3}}</b></td>
								</tr>
								<tr>
									<td><b>Polymer hinzugeben [g]:</b></td>
									<td class="textRight"><span style="font-weight:normal;font-size:0.9em;">(-{{vm.thinningOfProduct.polymerSubtract}} [L])</span> <span data-ng-show="vm.thinningOfProduct.polymer"><b>{{(vm.thinningOfProduct.amountLiter * vm.polymerPromille * 8.5) | number:3}}</b></span></td>
								</tr>
								<tr>
									<td><b>Ascorbins&auml;ure hinzugeben [Kg]:</b></td>
									<td class="textRight"><span style="font-weight:normal;font-size:0.9em;">(-{{vm.thinningOfProduct.ascorbinSaeureSubtract}} [L])</span> <span data-ng-show="vm.thinningOfProduct.ascorbinSaeure"><b>{{(vm.thinningOfProduct.iron * 0.01) | number:3}}</b></span></td>
								</tr>
								<tr>
									<td><b>Wasser Endergebnis [L]:</b></td>
									<td class="textRight"><b>{{vm.thinningOfProduct.waterAmountCalculated | number:3}}</b></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td colspan="2" style="border:none;"><div style="margin-left:8px;display:block;"><b>Anmerkung:</b> {{vm.thinningOfProduct.information || '--'}}</div></td>
					</tr>
				</table>
			</div>
		</div>
    </div>
    <div class="modal-footer non-printable">
        <button class="btn btn-default" type="button" data-ng-click="vm.closePrintThinningModal()">Schlie&szlig;en</button>
    </div>
</div>