<div class="yesNoModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeDocumentInformationModal()"></span>
        <h4 class="modal-title"><span class="glyphicon glyphicon-font"></span> Kommentar zu diesem Dokument</h4>
    </div>
    <div class="modal-body">
       Geben Sie eine Information f&uuml;r das Dokument <b>{{vm.documentFile.fileName}}</b> ein:
       <textarea class="form-control" data-ng-disabled="(vm.type == 'PROJECT' && vm.userAuthorizationUserContainer.userAuthorizations[1].state == false) || (vm.type == 'PRODUCT' && vm.userAuthorizationUserContainer.userAuthorizations[4].state == false) || vm.disabled == true" data-ng-model="vm.documentFile.information" style="max-width:550px;margin-top:8px;" rows="6" placeholder="Information zum Dokument eingeben"></textarea>
    </div>
    <div class="form-group"> 
    	<div class="col-sm-7"></div>
	    <div class="col-sm-5">
	    	<div style="margin-left:20px;">
		    	<button class="btn btn-default" type="button" data-ng-click="vm.storeInformation()">Speichern</button>
		        <button class="btn btn-default" type="button" data-ng-click="vm.closeDocumentInformationModal()">Schlie&szlig;en</button>
		    </div>
	    </div>
	</div>
	<br />
	<br />
</div>