<div>
    <br>
    <form name="editFuelForm" class="form-horizontal" action="">

        <div class="col-md-12"
             data-ng-style="disabled && {'background-color':'#f9f9f9','padding': '20px', 'margin-top': '-20px'}"
             style="border-bottom: 1px solid lightgrey;">
            <div class="form-group" data-ng-show="['SUPER_ADMIN'].indexOf(currentUser.userRole)!=-1">
                <label class="control-label col-sm-3" for="id">Id:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="id" data-ng-disabled="true" data-ng-model="fuel.id"
                           placeholder="Id">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" for="project">Projekt: <span class="mandatory">*</span></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="project" data-ng-disabled="disabled"
                           required
                           data-ng-model="fuel.project" placeholder="Projekt">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" for="location">Standort: <span class="mandatory">*</span></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="location" data-ng-disabled="disabled"
                           data-ng-model="fuel.location" placeholder="Standort">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" for="supplierContact">Lieferant: <span class="mandatory">*</span></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="supplierContact" data-ng-disabled="disabled"
                           data-ng-model="fuel.supplierContact" placeholder="Lieferant">
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-sm-3" for="supplierContactTypeahead">Lieferant Typeahead: <span class="mandatory">*</span></label>
                <div class="col-sm-8">
                <!--  <pre>Model: {{selected | json}}</pre>-->
                    <input type="text" ng-model="selected" typeahead="state as state.institution for state in suppliers | filter:$viewValue | limitTo:12" class="form-control"
                           name="supplierContactTypeahead"
                    >
                </div>

            </div>


            <div class="form-group">
                <label class="control-label col-sm-3" for="deliveryNote">Lieferschein: <span class="mandatory">*</span></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="deliverNote" data-ng-disabled="disabled"
                           data-ng-model="fuel.deliveryNote" placeholder="Lieferschein">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" for="deliveryDate">Lieferdatum: <span class="mandatory">*</span></label>
                <div class="col-sm-3">
                    <p class="input-group">
                        <input type="text"
                               class="form-control projectDate"
                               name="deliveryDate"
                               data-ng-model="fuel.deliveryDate"
                               datepicker-popup="dd.MM.yyyy"
                               is-open="deliveryDateDatePickerOpen"
                               close-text="schlie&szlig;en"
                               current-text="heute"
                               clear-text="l&ouml;schen"
                               datepicker-options="{startingDay: 1}"
                               placeholder="Lieferdatum"
                               disabled>
                        <span class="input-group-btn">
                       		<button type="button" class="btn btn-default btn-md datePickerButton"
                                    data-ng-click="openDeliveryDateDatePicker($event)">
                               	<span class="glyphicon glyphicon-calendar"></span>
                            </button>
                  		</span>
                    </p>
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-sm-3" for="product">Artikel: <span class="mandatory">*</span></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="product" data-ng-disabled="disabled"
                           data-ng-model="fuel.product" placeholder="Artikel">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" for="quantity">Menge: <span class="mandatory">*</span></label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="quantity" data-ng-disabled="disabled"
                           data-ng-model="fuel.quantity" placeholder="Menge">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" for="amount">Betrag: <span class="mandatory">*</span></label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="amount"
                           data-ng-model="fuel.amount" placeholder="Betrag">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" for="additionalInfo">Zusätzliche Information:</label>
                <div class="col-sm-8">
                    <textarea class="form-control" name="deliverNote" rows="3"
                              data-ng-model="fuel.additionalInfo" placeholder="Zusätzliche Information"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div>
                    <label class="control-label col-sm-3" for="paid">Bezahlt:</label>
                    <div class="col-sm-4" style="margin-top:6px;">
                        <input type="checkbox" name="paid" data-ng-true-value="true" data-ng-false-value="false" data-ng-model="fuel.paid" />
                    </div>
                </div>
            </div>

        </div>

    </form>

    <div class="col-sm-offset-9 col-sm-3" style="padding: 8px;">
        <button type="submit" class="btn btn-default" style="width: 100%;" data-ng-disabled="editFuelForm.$invalid"
                data-ng-click="saveFuel()">
            <span data-ng-show="!fuel.id">anlegen</span>
            <span data-ng-show="fuel.id">speichern</span>
            <span class="glyphicon glyphicon-ok successMessage" data-ng-show="createFuelClicked == true"></span>
        </button>
    </div>

    <br/>
</div>
