<div class="deletionCalendarEventModal">
    <div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeCalendarICSLinkModal()"></span>
        <h4 class="modal-title"><span class="glyphicon glyphicon-link"></span> Link zur ICS- Datei</h4>
    </div>
    <div class="modal-body">
		<a href="{{vm.calendarHandlingBean.icsLink}}">Internet- Kalender- Link</a><br />
	    {{vm.calendarHandlingBean.icsLink}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" data-ng-click="vm.closeCalendarICSLinkModal()">Schlie&szlig;en</button>
    </div>
</div>
