<div class="createReceipeModal modal-movable non-printable">
	<span class="glyphicon glyphicon-move icon-hover" style="margin-left:0px;margin-top:0px !important;position: absolute;"></span>
	<div class="modal-header receipeBackgroundColor">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeCreateReceipeModal()"></span>
        <h4 class="modal-title"><span class="fa fa-flask" aria-hidden="true"></span> Rezept f&uuml;r das Produkt <span class="glyphicon glyphicon-filter" style="color:{{vm.product.color}}"></span> <b>{{vm.product.name}}</b> ({{vm.product.number}}) erstellen</h4>
    </div>
    <div class="modal-body">
    	<create-receipe-directive
    		index="0" 
    		current-user="vm.currentUser" 
    		receipe="vm.receipe" 
    		product="vm.product" 
    		invoker="vm"
    		type="'CREATE'"
    		receipe-type="'STANDARD_MIXTURE'"
    		user-authorization-user-container="vm.userAuthorizationUserContainer"
    		unity-types=vm.unityTypes>
		</create-receipe-directive>
		<br />
		<div data-ng-show="vm.allReceipesOfProduct.length > 0" style="max-width:80%;margin-left:50px;">
			<br />
			<br />
			<br />
			<span class="icon-hover" data-ng-init="showAllReceipesOfProduct = false" data-ng-click="showAllReceipesOfProduct = false" data-ng-show="showAllReceipesOfProduct == true"><span class="glyphicon glyphicon-minus"></span> Alle f&uuml;r das Produkt <span class="glyphicon glyphicon-filter" style="color:{{vm.product.color}}"></span> <b>{{vm.product.name}}</b> ({{vm.product.number}}) angelegten Rezepte ausblenden</span>
			<span class="icon-hover" data-ng-click="showAllReceipesOfProduct = true" data-ng-show="showAllReceipesOfProduct == false"><span class="glyphicon glyphicon-plus"></span> Alle <b>{{vm.allReceipesOfProduct.length}}</b> f&uuml;r das Produkt <span class="glyphicon glyphicon-filter" style="color:{{vm.product.color}}"></span> <b>{{vm.product.name}}</b> ({{vm.product.number}}) angelegten Rezepte anzeigen</span>
		</div>
		<div style="max-width:80%;margin-left:50px;" data-ng-show="showAllReceipesOfProduct == true">
			<table class="table table-striped" data-ng-repeat="receipeOfProduct in vm.allReceipesOfProduct track by $index">
				<tr>
					<td style="border:none;">{{$index+1}}.</td>
					<td style="border:none;">
						<table class="table">
							<tr>
								<td><b>Datum:</b></td>
								<td>{{receipeOfProduct.date}}</td>
							</tr>
							<tr>
								<td><b>Mischungsverh&auml;ltnis:</b></td>
								<td>
									<table class="table borderlessTable">
										<tr data-ng-repeat="receipeProduct in receipeOfProduct.receipeProducts track by $index">
											<td>
												<span class="glyphicon glyphicon-ban-circle errorMessage icon-hover blinkText" data-ng-show="receipeProduct.product.inactive" title="Produkt eingestellt am {{(receipeProduct.product.inactiveDate | date:'dd.MM.yyyy') || '--'}}: {{receipeProduct.product.inactiveMessage || '--'}}"></span>
												<span class="glyphicon glyphicon-filter" style="color:{{receipeProduct.product.color}}"></span>
											</td>
											<td>{{receipeProduct.product.number}} {{receipeProduct.product.name}}</td>
											<td><span>&nbsp;</span></td>
											<td>{{receipeProduct.product.density}}[g/ml]</td>
											<td><span>&nbsp;</span></td>
											<td>{{receipeProduct.percentage}}%</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td><b>Zus&auml;tze:</b></td>
								<td>
									<table class="table borderlessTable">
										<tr data-ng-repeat="receipeAdditional in receipeOfProduct.receipeAdditionals">
											<td><div class="fa fa-eyedropper" style="color:{{receipeAdditional.product.color}}" aria-hidden="true"></div></td>
											<td>{{receipeAdditional.product.number}} {{receipeAdditional.product.name}}</td>
											<td>{{receipeAdditional.amount}}</td>
											<td>{{receipeAdditional.unityType | translate}}</td>
											<td style="text-align:right;">
						      					<div style="margin-top:5px">{{receipeAdditional.result | number:3}}</div>
						      				</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td><b>Anmerkung:</b></td>
								<td>{{receipeOfProduct.information}}</td>
							</tr>
							<tr>
								<td><b>Zugewiesene Mischvorschrift:</b></td>
								<td>
									<div data-ng-repeat="receipeAttachment in receipeOfProduct.receipeAttachments">
										<span class="icon-hover" data-ng-init="documentUrl = vm.createDocumentUrl(vm.currentUser, vm.product, receipeAttachment)" data-ng-click="vm.showTemplateModal(documentUrl, receipeAttachment)">
											<img data-ng-src="assets/img/{{receipeAttachment.ending}}.PNG" alt="" document-file-icon-dispatch /> {{receipeAttachment.filename}} <span style="font-size:0.8em;">({{receipeAttachment.version.substr(1)}})</span>
										</span>
									</div>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
    </div>
    <br />
</div>
