<div class="form-group" show-errors="true">
    <label class='control-label col-md-4'>{{asLabel}}</label>
    <div class="col-md-8 input-wrapper">
    	<ng-transclude></ng-transclude>
    </div>
</div>