<div class="editFuelModal">
    <div class="modal-header">
        <span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeEditFuelModal()"></span>
        <h4 class="modal-title"><span class="glyphicon glyphicon-road">&nbsp;</span>Brennstoff Anlieferung {{(vm.fuel && vm.fuel.id) ? 'ändern' : 'anlegen'}}</h4>
    </div>
    <div class="modal-body">
        <div class="createNewFuel">
            <edit-fuel-directive
                    fuel="vm.fuel"
                    invoker="vm.invoker"
                    modal-invoker="vm"
                    current-user="vm.currentUser"
                    roles="vm.roles"
                    users-of-project="vm.usersOfProject"
                    disabled="false">
            </edit-fuel-directive>
            <span style="color:#fff;">Bottom</span>
        </div>
    </div>
</div>
