<div class="changeProjectPropertiesModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeChangeProductPropertiesModal()"></span>
        <h4 class="modal-title"><span class="glyphicon glyphicon-filter"></span> &Auml;ndern der Produkteigenschaften</h4>
    </div>
    <div class="modal-body">
       <create-products-directive
			product="vm.product"
			products="vm.products"
			product-types="vm.productTypes"
			type-of-change="'CHANGE'"
			current-user="vm.currentUser"
			product-aggregate-condition-type-enums="vm.productAggregateConditionTypes"
			invoker="vm"
			roles="vm.roles"
			users-of-project="vm.usersOfProject">
		</create-products-directive>
    </div>
</div>