.projects {
	margin-bottom: 110px;
}
.projects .createProjectContainer .createProject {
	margin-top: 25px;
	background-color: #fefefe;
	border: 1px solid #eee;
	border-radius: 4px;
}
.projects .createProjectButton {
	margin-left: 35px;
}
.projects .projectName {
	margin-left: -15px;
}
.projects .projectNameFilterInput {
	max-width: 250px;
}
.projects .stillCreated {
	background-color: #d9edf7 !important;
}
.projects .addUserContainer {
	margin-left: 55px;
	border: 1px solid #ccc;
	padding: 15px;
	border-radius: 2px;
	padding: 10px;
}
.projectUserManagementModal .addNewUser {
	float: left;
}
.yesNoModal .close,
.projectUserManagementModal .close,
.changeProjectPropertiesModal .close,
.projectsOfTenantModal .close {
	float: right;
	margin-right: 5px;
	margin-top: 5px;
	font-size: 0.9em;
}
.changeProjectPropertiesModal .additionalEntry,
.projects .additionalEntry {
	float: right;
}
.changeProjectPropertiesModal .projectDataSheetContainer {
	background-color: #f9f9f9;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left:4px;
	padding-right:4px;
}
.changeProjectPropertiesModal .dataSheetHeadline {
	font-weight: bold;
}