<div class="row clearfix projects">
	<div class="breadcrumb">
		<span class="explanation"><span class="glyphicon glyphicon-folder-open"></span> Projekte verwalten</span>
		<span class="logo">wdm</span>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div data-ng-show="vm.userAuthorizationUserContainer.userAuthorizations[1].state == true">
			<div data-ng-show="vm.showProjectCreationTrigger == false" data-ng-click="vm.showProjectCreationTrigger = !vm.showProjectCreationTrigger" class="icon-hover"><span class="glyphicon glyphicon-plus pulseOnce"></span> Neues Projekt anlegen</div>
			<div data-ng-show="vm.showProjectCreationTrigger == true" data-ng-click="vm.showProjectCreationTrigger = !vm.showProjectCreationTrigger"><span class="glyphicon glyphicon-minus icon-hover"></span> Formular zum Erstellen eines neuen Projektes ausblenden</div>
		</div>
		<div data-ng-show="vm.showProjectCreationTrigger" class="row clearfix createProjectContainer">
			<div class="col-md-6 createProject">
				  <br />
				  <create-project-directive 
				  	project="vm.project" 
				  	project-user-connections="vm.projectUserConnections" 
				  	current-user="vm.currentUser"
				  	type-of-change="'CREATE'"
				  	invoker=""
				  	province-types="vm.provinceTypes"
				  	project-data-sheet="vm.projectDataSheet">
				  </create-project-directive>
		     </div>
		</div>
		<br />
		<div class="row clearfix">
			<div class="col-md-10">
				<div class="loadingContainer" data-ng-show="vm.projectUserConnections == null && vm.generalAvailableProjects == null">
				  	<img src="assets/img/loading.gif" />
				  	<span class="loadingText">Projekte werden geladen, bitte etwas Geduld ...</span>
				</div>
				<table data-ng-show="vm.projectUserConnections.length > 0">
					<tr>
						<td><span class="glyphicon glyphicon-search"></span></td>
						<td><span>&nbsp;</span></td>
						<td><input type="text" class="projectNameFilterInput form-control" style="border-top-right-radius:0px;border-bottom-right-radius:0px;" data-ng-model="vm.projectNameFilter" placeholder="Projekte suchen"/></td>
						<td>
							<button class="btn btn-default" type="button" style="border-left:none;border-top-left-radius:0px;border-bottom-left-radius:0px;" data-toggle="dropdown">Suchen</span>
							</button>
						</td>
						<td><span>&nbsp;</span></td>
						<td><span class="fa fa-file-pdf-o icon-hover" style="margin-right:10px;margin-top:5px;color:#777;" data-ng-click="vm.printContainer('projectsId', 'Projekte')" title="Projekte herunterladen"></span></td>
						<td><span>&nbsp;</span></td>
						<td><b>{{vm.projectUserConnections.length+1}} Projekt(e)</b> angelegt</td>
					</tr>
				</table>
				<table class="table table-striped" id="projectsId">
					<thead>
						<tr>
							<th>#</th>
							<th>
								<table>
									<tr>
										<td>Logo und Name</td>
										<td><span>&nbsp;</span></td>
										<td><span class="glyphicon glyphicon-chevron-up icon-hover" data-ng-click="orderType = '-project.name'"></span></td>
										<td><span class="glyphicon glyphicon-chevron-down icon-hover" data-ng-click="orderType = 'project.name'"></span></td>		
									</tr>
								</table>
							</th>
							<th>Beschreibung</th>
							<th>
								<table>
									<tr>
										<td>Rolle</td>
										<td><span>&nbsp;</span></td>
										<td>
											<span class="glyphicon glyphicon-sort-by-attributes icon-hover" data-ng-click="orderType = 'projectUserConnectionRole'" title="Rollen gruppieren"></span>
										</td>		
									</tr>
								</table>
							</th>
							<th>
								<table>
									<tr>
										<td>Angelegt am</td>
										<td><span>&nbsp;</span></td>
										<td><span class="glyphicon glyphicon-chevron-up icon-hover" data-ng-click="orderType = '-project.creationDate'"></span></td>
										<td><span class="glyphicon glyphicon-chevron-down icon-hover" data-ng-click="orderType = 'project.creationDate'"></span></td>		
									</tr>
								</table>
							</th>
							<th>Start</th>
							<th>Ende</th>
							<th>Dokumente</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="generalAvailableProject in vm.generalAvailableProjects track by $index" data-ng-show="vm.userAuthorizationUserContainer.userAuthorizations[3].state == true && (vm.projectNameFilter == null || vm.projectNameFilter == '')" data-ng-mouseenter="showMenu=true" data-ng-mouseleave="showMenu=false">
							<td>{{$index+1}}.</td>
							<td colspan=7>
								<table>
									<tr>
										<td>
											<div style="float: right;width: 40px; height: 20px;">
												<img data-ng-src="api/files/productlogo/VTALogo.PNG/" alt="logo" style="display: block;max-width:100%;max-height:100%;" />
											</div>
										</td>
										<td>
											<span>&nbsp;</span>
										</td>
										<td>
											<span class="glyphicon glyphicon-filter" data-ng-style="{'color': projectUserConnection.project.color}"></span>
										</td>
										<td>
											<span>&nbsp;</span>
										</td>
										<td>
											<span>&nbsp;</span>
										</td>
										<td>
											<span class="icon-hover" data-ui-sref="auth.products({userId: '{{ vm.currentUser.id }}'})">
												<b>{{generalAvailableProject.name}}</b> <span data-ng-show="generalAvailableProject.description != null">({{generalAvailableProject.description}})</span>
											</span>
										</td>
									</tr>
								</table>
							</td>
							<td colspan=2 style="min-width:200px;">
								<div class="dropdown dropdown-scroll" style="margin-top:-3px;">
								    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" style="height:22px;" data-ng-show="showMenu == true">
									    <span data-ng-show="vm.institutionOfUserFilter == null">
									    	ausw&auml;hlen
									    </span>
								    	<span class="caret"></span>
								    </button>
								    <ul class="dropdown-menu icon-hover" style="min-width:180px;">
								    	<li role="presentation" class="list-item">
								        	<table style="margin-left:10px;">
								        		<tr data-ng-show="vm.userAuthorizationUserContainer.userAuthorizations[1].state == true" data-ng-click="vm.showProjectUserManagementModal(generalAvailableProject, null)">
								        			<td><span class="glyphicon glyphicon-user icon-hover"></span></td>
								        			<td><span>&nbsp;</span></td>
								        			<td><span>Mitglieder anzeigen</span></td>
								        		</tr>
								        	</table>
								        </li>
								    </ul>
								</div>
							</td>
						</tr>
						<tr data-ng-repeat="projectUserConnection in vm.projectUserConnections | filter:vm.projectFilter(vm.projectNameFilter) | orderBy:orderType" data-ng-class="projectUserConnection.stillCreated == true ? 'stillCreated' : ''" data-ng-mouseenter="showMenu=true" data-ng-mouseleave="showMenu=false">
							<td>{{$index+2}}.</td>
							<td>
								<table>
									<tr>
										<td>
											<div style="float: right;width: 40px; height: 20px;">
												<img data-ng-src="api/files/projectlogo/{{projectUserConnection.project.logoName == null || projectUserConnection.project.logoName == '' ? 'standardLogo.png' : projectUserConnection.project.logoName}}/" alt="logo" style="display: block;max-width:100%;max-height:100%;" />
											</div>
										</td>
										<td>
											<span class="glyphicon glyphicon-folder-open" data-ng-style="{'color': projectUserConnection.project.color}"></span>
										</td>
										<td>
											<span>&nbsp;</span>
										</td>
										<td>
											<span>&nbsp;</span>
										</td>
										<td>
											<span class="icon-hover" data-ui-sref="auth.project({userId: '{{vm.currentUser.id}}', type: 'PROJECT', projectUserConnectionId: '{{ projectUserConnection.id }}', projectOrProductId: '{{ projectUserConnection.project.id }}', folderId: ''})">
												<b>{{projectUserConnection.project.name}}</b>
											</span>
										</td>
										<td>
											<span>&nbsp;</span>
										</td>
										<td>
											<span class="glyphicon glyphicon-ok" data-ng-show="projectUserConnection.defaultProject == true" checked data-ng-disabled="true" title="Als Default- Projekt gesetzt"></span>
										</td>
									</tr>
								</table>
							</td>
							<td>{{projectUserConnection.project.description}}</td>
							<td>{{projectUserConnection.projectUserConnectionRole | translate}}</td>
							<td>{{projectUserConnection.project.creationDate}}</td>
							<td>{{projectUserConnection.project.start | date:'dd.MM.yyyy'}}</td>
							<td>{{projectUserConnection.project.end | date:'dd.MM.yyyy'}}</td>
							<td><span class="icon-hover" data-ui-sref="auth.project({userId: '{{vm.currentUser.id}}', type: 'PROJECT', projectUserConnectionId: '{{ projectUserConnection.id }}', projectOrProductId: '{{ projectUserConnection.project.id }}', folderId: ''})" data-ng-init="vm.getAmountOfDocumentFilesWithUniqueName(projectUserConnection.project)">{{projectUserConnection.project.amountOfDocumentFilesWithUniqueName}}</span></td>
							<td style="min-width:100px;">
								<div class="dropdown dropdown-scroll" style="margin-top:-3px;">
								    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" style="height:22px;" data-ng-show="showMenu == true">
									    <span data-ng-show="vm.institutionOfUserFilter == null">
									    	ausw&auml;hlen
									    </span>
								    	<span class="caret"></span>
								    </button>
								    <ul class="dropdown-menu icon-hover" style="min-width:180px;">
								    	<li role="presentation" class="list-item">
								        	<table style="margin-left:10px;">
								        		<tr data-ng-show="vm.userAuthorizationUserContainer.userAuthorizations[1].state == true" data-ng-click="vm.showChangeProjectPropertiesModalService(projectUserConnection.project)">
								        			<td><span class="glyphicon glyphicon-edit icon-hover"></span></td>
								        			<td><span>&nbsp;</span></td>
								        			<td><span>Projekt editieren</span></td>
								        		</tr>
								        	</table>
								        </li>
								        <li role="presentation" class="list-item">
								        	<table style="margin-left:10px;">
								        		<tr data-ng-show="vm.userAuthorizationUserContainer.userAuthorizations[1].state == true" data-ng-click="vm.showProjectUserManagementModal(projectUserConnection.project, projectUserConnection)">
								        			<td><span class="glyphicon glyphicon-user icon-hover"></span></td>
								        			<td><span>&nbsp;</span></td>
								        			<td><span>Mitglieder anzeigen</span></td>
								        		</tr>
								        	</table>
								        </li>
								        <li role="presentation" class="list-item">
								        	<table style="margin-left:10px;">
								        		<tr data-ui-sref="auth.project({userId: '{{vm.currentUser.id}}', type: 'PROJECT', projectUserConnectionId: '{{ projectUserConnection.id }}', projectOrProductId: '{{ projectUserConnection.project.id }}', folderId: ''})">
								        			<td><span class="glyphicon glyphicon-file icon-hover"></span></td>
								        			<td><span>&nbsp;</span></td>
								        			<td><span>Dokumente anzeigen</span></td>
								        		</tr>
								        	</table>
								        </li>
								        <li role="presentation" class="list-item">
								        	<table style="margin-left:10px;">
								        		<tr data-ng-show="vm.userAuthorizationUserContainer.userAuthorizations[2].state == true" data-ng-click="vm.showYesNoDeleteModal(projectUserConnection.project)">
								        			<td><span class="glyphicon glyphicon-minus icon-hover"></span></td>
								        			<td><span>&nbsp;</span></td>
								        			<td><span>l&ouml;schen</span></td>
								        		</tr>
								        	</table>
								        </li>
								    </ul>
								</div>
							</td>
							<td>
								<span class="glyphicon glyphicon-alert errorMessage icon-hover" data-ng-show="projectUserConnection.project.deletionError == true" title="{{projectUserConnection.project.deletionErrorMessage | translate}}"></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>