<div class="productsOfTenantModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeProductsOfTenantModal()"></span>
        <h4 class="modal-title"><span class="glyphicon glyphicon-filter"></span> Auflistung aller <b>{{vm.products.length}}</b> Produkt(e)</h4>
    </div>
    <div class="modal-body">
    	
    	<table>
			<tr>
				<td><span class="glyphicon glyphicon-search"></span></td>
				<td><span>&nbsp;</span></td>
				<td><input type="text" class="form-control" placeholder="Nach Produkten suchen" data-ng-model="searchProducts" /></td>
			<tr>
		</table>
    	<br />
        <div>
        	<table class="table">
        		<thead>
        			<tr>
        				<th>#</th>
        				<th></th>
        				<th></th>
        				<th></th>
        				<th>
        					<table>
								<tr>
									<td>Artikelnummer</td>
									<td><span>&nbsp;</span></td>
									<td><span class="glyphicon glyphicon-chevron-up icon-hover sortIcon" data-ng-click="vm.orderType = '-number'"></span></td>
									<td><span class="glyphicon glyphicon-chevron-down icon-hover sortIcon" data-ng-click="vm.orderType = 'number'"></span></td>
								</tr>
							</table>
        				</th>
        				<th></th>
        				<th>
        					<table>
								<tr>
									<td>Artikelbezeichnung</td>
									<td><span>&nbsp;</span></td>
									<td><span class="glyphicon glyphicon-chevron-up icon-hover sortIcon" data-ng-click="vm.orderType = '-name'"></span></td>
									<td><span class="glyphicon glyphicon-chevron-down icon-hover sortIcon" data-ng-click="vm.orderType = 'name'"></span></td>
								</tr>
							</table>
        				</th>
        				<th></th>
        				<th>Erstellt am</th>
        			</tr>
        		</thead>
        		<tbody>
	        		<tr data-ng-repeat="product in vm.products | orderBy:vm.orderType | filter:searchProducts track by $index">
	        			<td>{{$index+1}}.</td>
	        			<td><span>&nbsp;</span></td>
	        			<td><span class="glyphicon glyphicon-filter" style="color:{{product.color}}"></span></td>
	        			<td><span>&nbsp;</span></td>
	        			<td>{{product.number}}</td>
	        			<td><span>&nbsp;</span></td>
	        			<td><b>{{product.name}}</b></td>
	        			<td><span>&nbsp;</span></td>
	        			<td>{{product.creationDate | date:'dd.MM.yyyy'}}</td>
	        		</tr>
        		</tbody>
        	</table>
        </div>
        <div data-ng-show="vm.products.length == 0">
        	Keine Produkte vorhanden
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" data-ng-click="vm.closeProductsOfTenantModal()">Schlie&szlig;en</button>
    </div>
</div>