<div class="editContactModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeEditContactModal()"></span>
        <h4 class="modal-title"><span class="glyphicon glyphicon-home"></span> Kontakt &auml;ndern</h4>
    </div>
    <div class="modal-body">
       <div class="createNewContact">
	       <create-edit-contact-directive 
	       		contact="vm.contact" 
	       		titles="vm.titles" 
	       		province-types="vm.provinceTypes" 
	       		contact-types="vm.contactTypes"
	       		country-types="vm.countryTypes" 
	       		invoker="vm.invoker" 
	       		modal-invoker="vm" 
	       		type="'EDIT'"
	       		current-user="vm.currentUser"
	       		roles="vm.roles"
				users-of-project="vm.usersOfProject"
				disabled="false">
	       	</create-edit-contact-directive>
        	<span style="color:#fff;">Bottom</span>
        </div>
    </div>
</div>