<div class="footer non-printable">
	<span style="margin-left:20px;">
		<span style="margin-top:5px;margin-left:30px;float:left;display:block;">
			<img src="/assets/img/VTALogo.PNG" alt="" style="height:30px;" />
		</span>
		<span style="margin-top:12px;margin-left:20px;float:left;display:block;">
			<img src="/assets/img/lehr.png" alt="" />
		</span>
		<span style="float:right;margin-right:20px;margin-top:15px;">
			<span>
				<span style="margin-right:10px;">&copy; 2018</span>
				<span class="icon-hover" data-toggle='modal' data-target='#info'><span class="fa fa-code-fork" aria-hidden="true"></span> Version: <b>1.0.26</b></span>
			</span>
			<span>
				<img style="margin-top:-10px;margin-left:10px;" src="/assets/img/LPMLogoSmall1.png" alt="LPM Logo" />
			</span>
		</span>
	</span>
</div>
<div class='modal fade' id='info' tabindex='-1' role='dialog' aria-hidden='true'>
	<div class='modal-dialog modal-md'>
    	<div class='modal-content'>
        	<div class='modal-header'>
            	<button type='button' class='close' data-dismiss='modal'>
                	<span aria-hidden='true'>&times;</span>
                    <span class='sr-only'>Close</span></button>
                    <h4 class='modal-title' id='myModalLabel'><span class="fa fa-code-fork" aria-hidden="true"></span> Versionsinformation Version <b>1.0.26</b> - <span style="font-size:0.8em;">01.10.2019</span></h4>
            </div>
            <div class='modal-body' style="font-weight:normal !important;">
            	<ol style="text-decoration: none;">
            		<li>
            			<ul>
            				<li>Feld Ansprechpartner f&uuml;r Kontakte eingef&uuml;hrt</li>
            				<li>Feld Ansprechpartner wird in der Spalte Ansprechpartner exportiert</li>
            			</ul>
            		</li>
            	</ol>
            	<span class="fa fa-code-fork" aria-hidden="true"></span> Versionsinformation Version <b>1.0.25</b> - <span style="font-size:0.8em;">Release am 15.09.2019</span>
            	<ol style="text-decoration: none;">
            		<li>Suche:
            			<ul>
            				<li>Suche auch nach <b>weiterer Bezeichnung</b> von Produkten</li>
            			</ul>
            		</li>
	         		<li>Produktmanagement:
	         			<ul>
	         				<li>Verd&uuml;nnungen: <b>Name von Verd&uuml;nnungen</b> am Druckformular</li>
	         				<li>Rezepte: <b>Verschieben der Reihenfolge einzelner Komponenten</b> bei Rezepten mittels Pfeiltasten</li>
	         			</ul>
	         		</li>
	         	</ol>
            	<span class="fa fa-code-fork" aria-hidden="true"></span> Versionsinformation Version <b>1.0.24</b> - <span style="font-size:0.8em;">Release am 20.02.2019</span>
            	<ol style="text-decoration: none;">
            		<li>An <b>T&auml;tigkeitsberichten angeh&auml;ngte Dokumente</b> k&ouml;nnen <b>heruntergeladen</b> und <b>gel&ouml;scht</b> werden</li>
	         		<li><b>Suchen</b> von <b>T&auml;tigkeitsberichten</b> &uuml;ber <b>angeh&auml;ngte Dokumente</b></li>
	         	</ol>
	         	<span class="fa fa-code-fork" aria-hidden="true"></span> Versionsinformation Version <b>1.0.23</b> - <span style="font-size:0.8em;">Release am 21.12.2018</span>
            	<ol style="text-decoration: none;">
	         		<li>Kontaktimport und-export:
	         			<ul>
	         				<li>Feld <b>Fortlaufende Nummer</b> zur Bearbeitung gesperrt</li>
	         				<li>Feld <b>zus&auml;tzliche Informationen</b> wird nicht exportiert/importiert</li>
	         				<li>
	         					Nur die <b>erste Vertreternummer</b> ist für den export und den import von Kontakten relevant.
								Die <b>weiteren Vertreternummern</b> im wdm werden <b>unber&uuml;hrt</b> belassen. 
								Die <b>erste Vertreternummer</b> wurde im wdm als <b>Hauptvertreter</b> ausdr&uuml;cklich gekennzeichnet.
	         				</li>
	         				<li><b>contactChangeType</b> wurde entfernt</li>
	         				<li><b>name3</b> wurde entfernt</li>
	         				<li><b>Druckfunktion</b></li>
	         			</ul>
	         		</li>
	         		<li>Dokumentenmanagement:
	         			<ul>
	         				<li><b>Dokumente</b> die bei Kontakten, Arbeitsauftr&auml;gen angeh&auml;ngt sind, k&ouml;nnen <b>nicht gel&ouml;scht</b> werden</li>
	         				<li><b>Tooltip</b> bei den beiden unterschiedlichen <b>Anhangfunktionen</b> für Arbeitsauftr&auml;gen und Kontakten</li>
	         			</ul>
	         		</li>
	         		<li>Produktmanagement:
	         			<ul>
	         				<li>
	         					<b>Mischung durchf&uuml;hren</b>-Formular erg&auml;nzt um Berechnung und Anzeige der konkreten Menge (kg/l) der Mischungskomponenten die selbst Mischungen sind
	         				</li>
	         			</ul>
	         		</li>
	         		<li>Diverse <b>Verbesserungen</b> und <b>Anpassungen</b></li>
            	</ol>
            	<span class="fa fa-code-fork" aria-hidden="true"></span> Versionsinformation Version <b>1.0.22</b> - <span style="font-size:0.8em;">Release am 22.11.2018</span>
            	<ol style="text-decoration: none;">
            		<li>
            			Admin Funktion <b>Daten-Import/Export Kontakte</b>:
            			<ul>
            				<li><b>Kontakt- Dateien</b> (csv- Format) k&ouml;nnen ins wdm eingelesen/importiert werden</li>
		            		<li><b>Importierte Kontakte</b> werden im <b>Dashboard</b> aufgelistet</li>
		            		<li><b>Importierte Kontakte</b> k&ouml;nnen mit im wdm <b>angelegten Kontakten</b> verglichen werden</li>
		            		<li><b>Importierte Kontakte</b> k&ouml;nnen unver&auml;ndert &uuml;bernommen oder ge&auml;ndert sowie best&auml;tigt oder gel&ouml;scht werden</li>
		            		<li>Im <b>Administrations- Men&uuml;</b> k&ouml;nnen <b>alle importierten Kunden- Kontakte gel&ouml;scht</b> werden</li>
		            		<li>Alle <b>importierten Kontakte</b> werden in einer <b>Datenbanktabelle zur Nachvollziehbarkeit</b> gespeichert</li>
		            		<li><b>Erzeugte und ge&auml;nderte Kontakte</b> werden zum &Uuml;berpr&uuml;fen f&uuml;r einen Export im <b>Dashboard</b> aufgelistet</li>
		            		<li>Zu <b>exportierende Kontakte</b> k&ouml;nnen f&uuml;r den <b>Export freigegeben oder gel&ouml;scht</b> werden</li>
		            		<li>&Uuml;ber <b>wdm- Services</b> k&ouml;nnen <b>Kontakte</b> und deren <b>Lieferadressen</b> f&uuml;r den <b>Export</b> abgerufen werden</li>
		            		<li>&Uuml;ber einen <b>wdm- Service</b> k&ouml;nnen <b>exportierte und freigegebene Kontakte gel&ouml;scht</b> werden</li>
		            		<li><b>Anzeige der Anzahl der importierten/exportierten Kontakte</b> (gesamt und der noch zu &uuml;berpr&uuml;fenden) sowie der Gesamtanzahl bestehender Kontakte im wdm im Dashboard</li>
            			</ul>
            		</li>
            		<li>
            			Diverse <b>Verbesserungen</b> und <b>Anpassungen</b>
            		</li>
            	</ol>
            	<span class="fa fa-code-fork" aria-hidden="true"></span> Versionsinformation Version <b>1.0.21</b> - <span style="font-size:0.8em;">Release am 29.10.2018</span>
            	<ol style="text-decoration: none;">
            		<li>Bug Fix Sichtbarkeit der Dokumente eines Produktes oder Projektes</li>
            		<li>Diverse <b>Verbesserungen</b> und <b>Anpassungen</b></li>
            	</ol>
            	<span class="fa fa-code-fork" aria-hidden="true"></span> Versionsinformation Version <b>1.0.20</b> - <span style="font-size:0.8em;">Release am 05.10.2018</span>
            	<ol style="text-decoration: none;">
            		<li>Reiter Auswertungen - Termine, T&auml;tigkeitsberichte und Anlagendetails</li>
            		<li>Diverse <b>Verbesserungen</b> und <b>Anpassungen</b></li>
            	</ol>
            	<span class="fa fa-code-fork" aria-hidden="true"></span> Versionsinformation Version <b>1.0.19</b> - <span style="font-size:0.8em;">Release am 30.09.2018</span>
            	<ol style="text-decoration: none;">
            		<li>Ein <b>Kontakt</b> wird auch &uuml;ber die <b>Eigenschaften von weiterer Standort</b> gefunden</li>
            		<li><b>Design</b>- Refactoring</li>
            		<li>Diverse <b>Verbesserungen</b> und <b>Anpassungen</b></li>
            	</ol>
            	<span class="fa fa-code-fork" aria-hidden="true"></span> Versionsinformation Version <b>1.0.18</b> - <span style="font-size:0.8em;">Release am 07.08.2018</span>
            	<ol style="text-decoration: none;">
            		<li>Wenn ein <b>Au&szlig;endienst- Mitarbeiter</b> einen Termin <b>anlegt, &auml;ndert oder l&ouml;scht</b>, wird <b>keine Email an den Kontakt</b> gesendet</li>
            		<li>Verbesserungen beim <b>Anlegen eines Termins</b></li>
            	</ol>
            	<span class="fa fa-code-fork" aria-hidden="true"></span> Versionsinformation Version <b>1.0.17</b> - <span style="font-size:0.8em;">Release am 31.07.2018</span>
            	<ol style="text-decoration: none;">
            		<li>Wenn ein <b>Au&szlig;endienst- Termin gel&ouml;scht</b> wird, werden auch alle <b>T&auml;tigkeitsberichte und Anlagendetails</b> dieses Termins <b>gel&ouml;scht</b></li>
            	</ol>
            	<span class="fa fa-code-fork" aria-hidden="true"></span> Versionsinformation Version <b>1.0.16</b> - <span style="font-size:0.8em;">Release am 12.07.2018</span>
            	<br />
            	<ol style="text-decoration: none;">
            		<li>Cross Origin eingestellt auf <b>http://192.168.186.136:4200 (intern)</b>, <b>http://vta-adm.intranet.vta-europe.com:4200 (intern)</b> und <b>https://adm.vta.cc (extern)</b></li>
            	</ol>
            	<span class="fa fa-code-fork" aria-hidden="true"></span> Versionsinformation Version <b>1.0.15</b> - <span style="font-size:0.8em;">Release am 28.06.2018</span>
            	<br />
            	<ol style="text-decoration: none;">
            		<li>Kontakte k&ouml;nnen per <b>Excel- Import</b> importiert werden (gekennzeichnet)</li>
            		<li>Beim Kontakt- Import kann der <b>Mandant der Lieferantennummer</b> angegeben werden</li>
            		<li><b>Importierte Kontakte</b> k&ouml;nnen einzeln nach Datensatz <b>gel&ouml;scht</b> werden</li>
            		<li>Bei der <b>Postleitzahl</b> im Kontakt k&ouml;nnen bis zu <b>10 Stellen</b> eingegeben werden</li>
            		<li><b>Gel&ouml;schte</b> und <b>verschobene Au&szlig;endiensttermine</b> werden <b>archiviert</b></li>
            		<li><b>Verpflichtende Anmerkungen</b> bei Verschieben oder L&ouml;schen von adm-Terminen</li>
            		<li>Kennzeichnung der <b>inaktiven Produkte</b> inklusive <b>Datum der Deaktivierung</b> und <b>Information</b></li>
            		<li>Definition Produktmanagement als Projekt</li>
					<li><b>Vertreternummern</b> bei Userprofil und Kontakten</li>
					<li>Admin Funktion <b>Kalender Termine suchen und Liste drucken</b></li>
					<li>Admin Funktion: <b>Kalender Termine - deaktivierte Termine</b></li>
					<li><b>Blink Design</b> zum hervorheben wichtiger Elemente</li>
            		<li>Diverse <b>Verbesserungen</b> und <b>Anpassungen</b></li>
                </ol>
            	<span class="fa fa-code-fork" aria-hidden="true"></span> Versionsinformation Version <b>1.0.14</b> - <span style="font-size:0.8em;">Release am 02.05.2018</span>
            	<br />
            	<ol style="text-decoration: none;">
            		<li><b>T&auml;tigkeitsbericht</b> und <b>Anlagendetails</b> k&ouml;nnen unter <b>Kontakte</b> angezeigt werden</li>
            		<li><b>Berechtigungen</b> f&uuml;r <b>T&auml;tigkeitsbericht</b> und <b>Anlagendetails</b></li>
            		<li><b>Farbeinstellungen</b> k&ouml;nnen im <b>Dashboard</b> ausgew&auml;hlt werden</li>
            		<li><b>Email- Adresse</b> kann zu einer <b>Rechnungsadresse</b> angegeben werden</li>
            		<li><b>Weitere Bezeichnung</b> kann zu einem <b>Kontakt</b> angegeben werden</li>
            		<li>Ein <b>Produkt</b> kann als <b>eingestellt</b> gekennzeichnet werden</li>
            		<li>Bugfix - <b>Suche</b> nach <b>Dokument- Tags</b></li>
            		<li>Dashboard- <b>Redesign</b></li>
            		<li>Diverse <b>Verbesserungen</b> und <b>Anpassungen</b></li>
                </ol>
            	<span class="fa fa-code-fork" aria-hidden="true"></span> Versionsinformation Version <b>1.0.13</b> - <span style="font-size:0.8em;">Release am 20.03.2018</span>
            	<br />
            	<ol style="text-decoration: none;">
            		<li><b>Produkte eines Kontaktes</b> werden in einem <b>eigenen Fenster</b> angezeigt</li>
            		<li><b>Kontakten</b> k&ouml;nnen <b>Farben zugewiesen</b> werden</li>
            		<li>Diverse <b>Verbesserungen</b> und <b>Anpassungen</b></li>
                </ol>
            	<span class="fa fa-code-fork" aria-hidden="true"></span> Versionsinformation Version <b>1.0.12</b> - <span style="font-size:0.8em;">Release am 12.03.2018</span>
            	<br />
            	<ol style="text-decoration: none;">
            		<li>Suche kann mit <b>Enter best&auml;tigt</b> werden</li>
            		<li>In der Suche m&uuml;ssen nur mehr <b>drei Zeichen</b> eingegeben werden</li>
            		<li><b>Mischung- Drucken Popup</b> kann <b>nicht mehr verschoben</b> werden, da sonst der Druckbereich abgeschnitten wird</li>
            		<li>Diverse <b>Verbesserungen</b> und <b>Anpassungen</b></li>
                </ol>
                <span class="fa fa-code-fork" aria-hidden="true"></span> Versionsinformation Version <b>1.0.11</b> - <span style="font-size:0.8em;">Release am 18.02.2018</span>
            	<br />
            	<ol style="text-decoration: none;">
            		<li><b>Polymer Promille</b> einstellbar</li>
            		<li>Verbesserung der <b>Suche</b></li>
            		<li>Diverse <b>Verbesserungen</b> und <b>Anpassungen</b></li>
                </ol>
            	<span class="fa fa-code-fork" aria-hidden="true"></span> Versionsinformation Version <b>1.0.10</b> - <span style="font-size:0.8em;">Release am 17.01.2018</span>
            	<br />
            	<ol style="text-decoration: none;">
            		<li>Verbesserung der <b>Registrierung</b> eines neuen Users</li>
            		<li><b>Formulare</b> sollten beim <b>Schlie&szlig;en des Popups</b> durch das x oder den Schlie&szlig;en Button immer <b>geleert</b> werden</li>
            		<li><b>Textfelder</b> bei den <b>Verd&uuml;nnungen</b> &auml;nderbar</li>
            		<li>Diverse <b>Verbesserungen</b> und <b>Anpassungen</b></li>
                </ol>
            	<br />
                <span class="fa fa-code-fork" aria-hidden="true"></span> Versionsinformation Version <b>1.0.9</b> - <span style="font-size:0.8em;">Release am 01.01.2018</span>
            	<br />
            	<ol style="text-decoration: none;">
            		<li><b>Dokumente</b> k&ouml;nnen &uuml;ber die <b>Suche in den Produkten</b> direkt <b>ge&ouml;ffnet</b>, <b>heruntergeladen</b> und <b>kommentiert</b> werden</li>
            		<li><b>Produkte</b> k&ouml;nnen &uuml;ber <b>Rezepte</b> gesucht werden</li>
            		<li><b>Standorte</b> k&ouml;nnen je nach User und Rolle <b>ausgeblendet</b> werden</li>
            		<li>Erste Seite des Anhangs (PDF) wird bei <b>Rezepten</b> und <b>Mischungen</b> mit ausgedruckt</li>
            		<li>Diverse <b>Verbesserungen</b> und <b>Anpassungen</b></li>
                </ol>
            	<br />
                <span class="fa fa-code-fork" aria-hidden="true"></span> Versionsinformation Version <b>1.0.8</b> - <span style="font-size:0.8em;">Release am 20.12.2017</span>
                <br />
            	<ol style="text-decoration: none;">
            		<li><b>Nach oben</b> Pfeil bei der <b>Produkt&uuml;bersicht</b></li>
            		<li><b>Suche</b> - mehrere Suchbegriffe filterbar mit <b>+Wort und/oder Zahl</b>, <b>-Wort und/oder Zahl</b> und <b>"Name"</b> </li>
            		<li>Kontakte <b>scrollbare</b> Produkte</li>
                </ol>
            	<br />
                <span class="fa fa-code-fork" aria-hidden="true"></span> Versionsinformation Version <b>1.0.7</b> - <span style="font-size:0.8em;">Release am 18.12.2017</span>
                <br />
            	<ol style="text-decoration: none;">
            		<li><b>Anzahl</b> der <b>Kontakte</b> im Userprofil einstellbar</li>
            		<li><b>Ausdrucken</b> von Rezepten, Mischungen und Verd&uuml;nnungen m&ouml;glich</li>
            		<li><b>User</b> kann unter <b>Administration</b> registriert werden</li>
            		<li>Diverse <b>Korrekturen</b> und <b>Verbesserungen</b></li>
                </ol>
            	<br />
                <span class="fa fa-code-fork" aria-hidden="true"></span> Versionsinformation Version <b>1.0.6</b> - <span style="font-size:0.8em;">Release am 13.12.2017</span>
                <br />
            	<ol style="text-decoration: none;">
            		<li><b>Verd&uuml;nnungs- Berechnung</b> korrigiert</li>
            		<li><b>Zus&auml;tze- Berechnung</b> korrigiert</li>
            		<li><b>Fl&uuml;ssigkeit</b> und <b>Feststoff</b> als Klassifizierung der Produkte eingef&uuml;hrt</li>
            		<li><b>Makierung bearbeiteter Produkte</b> verbessert</li>
            		<li><b>Berechtigungen</b> f&uuml;r das <b>Kontextmen&uuml;</b> eingef&uuml;hrt</li>
            		<li>Diverse <b>Verbesserungen</b></li>
                </ol>
            	<br />
                <span class="fa fa-code-fork" aria-hidden="true"></span> Versionsinformation Version <b>1.0.6.1-RC</b> - <span style="font-size:0.8em;">Release am 11.12.2017</span>
                <br />
            	<ol style="text-decoration: none;">
            		<li><b>Verd&uuml;nnungen</b> implementiert</li>
            		<li><b>Zus&auml;tze</b> in Rezepten verf&uuml;gbar</li>
            		<li><b>Bearbeitete Produkte</b> visuell gekennzeichnet</li>
            		<li><b>Produktklassifizierung</b> Fl&uuml;ssigkeit - Feststoff</li>
            		<li>Bei den Komponenten wird nur mehr die <b>Artikelbezeichnung</b> angezeigt</li>
            		<li>Diverse <b>Verbesserungen</b></li>
                </ol>
            	<br />
                <span class="fa fa-code-fork" aria-hidden="true"></span> Versionsinformation Version <b>1.0.5</b> - <span style="font-size:0.8em;">Release am 04.12.2017</span>
                <br />
            	<ol style="text-decoration: none;">
            		<li><b>Zus&auml;tze</b> f&uuml;r Mischungen implementiert</li>
            		<li>Diverse <b>Verbesserungen</b></li>
                </ol>
            	<br />
                <span class="fa fa-code-fork" aria-hidden="true"></span> Versionsinformation Version <b>1.0.4</b> - <span style="font-size:0.8em;">Release am 26.11.2017</span>
                <br />
            	<ol style="text-decoration: none;">
            		<li><b>Produkte</b> k&ouml;nnen &uuml;ber Dokumentnamen gesucht werden</li>
            		<li>Dokumente k&ouml;nnen f&uuml;r die gefundenen bzw. selektierten Produkte hochgeladen werden</li>
            		<li>Diverse <b>Verbesserungen</b></li>
                </ol>
            	<br />
                <span class="fa fa-code-fork" aria-hidden="true"></span> Versionsinformation Version <b>1.0.3</b> - <span style="font-size:0.8em;">Release am 12.11.2017</span>
                <br />
            	<ol style="text-decoration: none;">
            		<li><b>Dokumente</b>, welche in Kontakten, Rezepten oder Mischungen referenziert sind, k&ouml;nnen nicht gel&ouml;scht werden</li>
              		<li><b>Kontakte</b> migriert (Mehrere <b>Kundennummern</b> m&ouml;glich)</li>
              		<li><b>Adressen</b> migriert (Bundesl&auml;nder sind dazugekommen)</li>
              		<li>Angabe mehrerer <b>Lieferantennummern</b> bei Kontakten m&ouml;glich</li>
              		<li>Die Produktdichte wird <b>drei Kommastellen</b> genau angezeigt</li>
              		<li><b>Bundesl&auml;nder</b> f&uuml;r &Ouml;sterreich, Deutschland und die Schweiz verf&uuml;gbar</li>
              		<li>Diverse <b>&Auml;nderungen</b> und <b>Verbesserungen</b></li>
                </ol>
                <br />
                <span class="fa fa-code-fork" aria-hidden="true"></span> Versionsinformation Version <b>1.0.2</b> - <span style="font-size:0.8em;">Release am 29.10.2017</span>
                <br />
             	<ol style="text-decoration: none;">
              		<li><b>Kontakte</b> anlegen unter dem Reiter Kontakte</li>
              		<li><b>Kontakte:</b> Mehrere Kundennummern und Lieferantennummern m&ouml;glich</li>
             		<li><b>Kontakte:</b> Nach der Auswahl eines Landes werden die Bundesl&auml;nder nachgeladen</li>
              		<li><b>Produkte</b> anlegen unter dem Reiter Projekte - Projektmanagement</li>
              		<li><b>Rezepte und Mischungen</b> anlegen mittels Rechtsklick auf eine Produktzeile</li>
              		<li>Weitere Informationen zum Produkt mittels klick auf das Informations- Icon auf der rechten Seite der Produktzeile</li>
              		<li>Zur <b>Dokumentenablage f&uuml;r ein Produkt</b> mittels klick auf die Artikelbezeichnung oder der Artikelnummer</li>
                </ol>
            </div>
          	<div class='modal-footer'>
             	<button type='button' class='btn btn-default' data-dismiss='modal'>Schlie&szlig;en</button>
          	</div>
      	</div>
  	</div>
</div>