<div class="printMessageOrders"> 
	<div class="panel">
	  <div class="panel-heading">
	  	<div class="controlButtons non-printable">
	    	<button onClick="javascript:window.print()" type="button" class="btn btn-default printButton">Ausdrucken</button>
			<button data-ng-click="vm.closePrintMessageOrdersModal()" type="button" class="btn btn-default closeButton">Schlie&szlig;en</button>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="vm.closePrintMessageOrdersModal()">
		  		<span aria-hidden="true">&times;</span>
		  	</button>
	    </div>
	    <br />
	    <span style="float:right">{{vm.today}}</span>
	  	<h4>
	  		<b>{{vm.workingOrders.length}}</b> Arbeitsauftr&auml;ge 
	  		<span data-ng-show="vm.mode == 'SENT'">von</span>
	  		<span data-ng-show="vm.mode == 'RECEIVED'">an</span>
	  		{{vm.currentUser.title}} <b>{{vm.currentUser.firstname}} {{vm.currentUser.surname}}</b>
	  	</h4>
	  </div>
	  <div>
			<div>
				<table class="table table-striped" data-ng-show="vm.workingOrders.length > 0">
					<thead>
						<tr>
							<th>#</th>	
							<th>
								<table>
									<tr>
										<td>
											<span data-ng-show="vm.mode == 'SENT'">
												<b>An</b>
											</span>
											<span data-ng-show="vm.mode == 'RECEIVED'">
												<b>Von</b>
											</span>
										</td>
										<td><span>&nbsp;</span></td>
										<td><span class="glyphicon glyphicon-chevron-up icon-hover sortIcon non-printable" data-ng-click="vm.orderType = '-userCreatedMessage.surname'"></span></td>
										<td><span class="glyphicon glyphicon-chevron-down icon-hover sortIcon non-printable" data-ng-click="vm.orderType = 'userCreatedMessage.surname'"></span></td>
									</tr>
								</table>
							</th>
							<th>
								<table>
									<tr>
										<td>Projekt</td>
										<td><span>&nbsp;</span></td>
										<td><span class="glyphicon glyphicon-chevron-up icon-hover sortIcon non-printable" data-ng-click="vm.orderType = '-project.name'"></span></td>
										<td><span class="glyphicon glyphicon-chevron-down icon-hover sortIcon non-printable" data-ng-click="vm.orderType = 'project.name'"></span></td>
									</tr>
								</table>
							</th>
							<th></th>
							<th style="min-width: 180px;">Auftrag</th>
							<th></th>
							<th>bis</th>
							<th>Auftragsstatus</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="workingOrder in vm.workingOrders | orderBy:vm.orderType">
							<td>{{$index+1}}.</td>
							<td>
								<span data-ng-show="vm.mode == 'SENT'">
									<span class="glyphicon glyphicon-user" style="color:{{workingOrder.userReceivedMessage.color}}"></span>
									{{workingOrder.userReceivedMessage.title}} {{workingOrder.userReceivedMessage.firstname}} <b>{{workingOrder.userReceivedMessage.surname}}</b>
								</span>
								<span data-ng-show="vm.mode == 'RECEIVED'">
									<span class="glyphicon glyphicon-user" style="color:{{workingOrder.userCreatedMessage.color}}"></span>
									{{workingOrder.userCreatedMessage.title}} {{workingOrder.userCreatedMessage.firstname}} <b>{{workingOrder.userCreatedMessage.surname}}</b>
								</span>
							</td>
							<td>
								<span class="glyphicon glyphicon-folder-open" style="color:{{workingOrder.project.color}}"></span>
								{{workingOrder.project.name}}
							</td>
							<td><span>&nbsp;</span></td>
							<td>
								<div style="font-weight:bold;font-size:1.2em;background-color:#ddd;padding:5px;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.1);">Auftragsanweisung:</div>
								<div style="margin-left:20px;margin-top:8px;margin-bottom:20px;">
									<b><span data-ng-bind-html="workingOrder.communication.title"></span></b> 
									<span data-ng-bind-html="workingOrder.communication.message"></span>
								</div>
								<div data-ng-show="workingOrder.communication.attachedFileUrls.length > 0">
									<b>Anh&auml;nge</b> ({{workingOrder.communication.attachedFileUrls.length}}):
									<div data-ng-repeat="attachedFileUrl in workingOrder.communication.attachedFileUrls">
										<a href="{{attachedFileUrl.url}}">{{attachedFileUrl.fileName}}</a>
									</div>
								</div>
							</td>
							<td><span>&nbsp;</span></td>
							<td>{{workingOrder.executionDate}}</td>
							<td>
								<table data-ng-show="workingOrder.confirmationNeeded == true">
									<tr>
										<td>
											<span data-ng-show="workingOrder.read == true">
												best&auml;tigt
											</span>
											<span data-ng-show="workingOrder.read == false">
												<b>nicht</b> best&auml;tigt
											</span>
										</td>
									</tr>
								</table>
								<table>
									<tr>
										<td>
											<span data-ng-show="workingOrder.executed == true">
												erledigt
											</span>
											<span data-ng-show="workingOrder.executed == false">
												<b>nicht</b> erledigt
											</span>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
	  </div>
	</div>
</div>