@page {
        size: auto;   /* auto is the initial value */
        height: 100%;
        margin: 0mm;  /* this affects the margin in the printer settings */
    }
@media print { 
	
	.non-printable { 
    	display: none; 
    }
    .modal-content {
    	border: none !important;
    	-webkit-print-color-adjust: exact;
    }
    .modal,
    .modal * {
        overflow: visible !important;
    }
    .modal {
        position: absolute !important;
        left: 0 !important;
        top: 0 !important;
    }
}