<div class="yesNoModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeContactExportYesNoModal()"></span>
        <h4 class="modal-title"><span class="glyphicon glyphicon-minus"></span> Wollen Sie den zu exportierenden Kontakt wirklich l&ouml;schen?</h4>
    </div>
    <div class="modal-body">
        Wollen Sie den zu exportierenden Kontakt <span class="glyphicon glyphicon-home" style="color:{{vm.contactChanged.color}}"></span> <b>{{vm.contactChanged.institution}}</b> wirklich l&ouml;schen?
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" data-ng-click="vm.deleteContactExportYesNoModal()">Ja</button>
        <button class="btn btn-default" type="button" data-ng-click="vm.closeContactExportYesNoModal()">Nein</button>
    </div>
</div>