<div class="yesNoActivityModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeYesNoModal()"></span>
        <h4 class="modal-title"><span class="glyphicon glyphicon-home"></span> Wollen Sie den T&auml;tigkeitsbericht wirklich l&ouml;schen?</h4>
    </div>
    <div class="modal-body">
        Wollen Sie den T&auml;tigkeitsbericht wirklich l&ouml;schen?
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" data-ng-click="vm.yes()">Ja</button>
        <button class="btn btn-default" type="button" data-ng-click="vm.no()">Nein</button>
    </div>
</div>