<div class="communicationWorkingOrderCreation"> 
	<div class="panel">
	  <div class="panel-heading">
	  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="vm.closeCommunicationWorkingOrderCreationModal()">
	  		<span aria-hidden="true">&times;</span>
	  	</button>
	  	<h4 data-ng-switch="vm.mode">
	  		<span data-ng-switch-when="CREATE"><span class="glyphicon glyphicon-comment"></span> Neuen Arbeitsauftrag erstellen</span>
	  		<span data-ng-switch-when="EDIT"><span class="glyphicon glyphicon-comment"></span> Arbeitsauftrag editieren</span>
	  	</h4>
	  	<hr />
	  </div>
	  <div class="row clearfix">
	  	<div class="col-md-1">
	  	</div>
		<div class="col-md-10">
			<form name="createCommunicationWorkingOrderForm" class="form-horizontal" data-ng-submit="vm.createCommunicationWorkingOrder()">
				<div class="form-group">
				    <label class="control-label col-sm-3" for="title">Nachricht:<span class="mandatory">*</span></label>
				    <div class="col-sm-9">
				      <textarea class="form-control" name="message" rows="8" cols="120" data-ng-model="vm.communicationWorkingOrder.message" placeholder="Nachricht hier eingeben - erste Zeile ist der Betreff der Nachricht" data-ng-minlength="10" required></textarea>
				      <div class="errorMessage col-sm-offset-0" data-ng-show="createCommunicationWorkingOrderForm.message.$error.minlength && !createCommunicationWorkingOrderForm.message.$pristine">Der Text muss mindestens 10 Zeichen lang sein</div>
					  <div class="errorMessage col-sm-offset-0" data-ng-show="createCommunicationWorkingOrderForm.message.$error.maxlength && !createCommunicationWorkingOrderForm.message.$pristine">Der Text darf maximal 1000 Zeichen lang sein</div>
				    </div>
				</div>
			    <div class="form-group">
				    <label class="control-label col-sm-3" for="name">Projekt:<span class="mandatory">*</span></label>
				    <div class="col-sm-5">
				      	<div class="dropdown dropdown-scroll">
						    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
						    	<span data-ng-show="vm.selectedFilterProject == null">Projekt ausw&auml;hlen</span> 
						    	<span data-ng-show="vm.selectedFilterProject != null">
						    		<span class="glyphicon glyphicon-folder-open" style="color:{{vm.selectedFilterProject.color}}"></span>
						    		<b>{{vm.selectedFilterProject.name}}</b>
						    	</span> 
						    	<span class="caret"></span>
						    </button>
						    <ul class="dropdown-menu">
						        <li role="presentation">      	
						            <div class="input-group input-group-sm search-control"> 
						            	<span class="input-group-addon">
						                    <span class="glyphicon glyphicon-search"></span>
										</span>
						                <input type="text" class="form-control" placeholder="Projekt suchen" data-ng-model="query"></input>
						            </div>
						        </li>
						        <li><span>&nbsp;</span></li>
						        <li role="presentation" data-ng-repeat="project in vm.projects | filter:query">
						        	<table class="projectTable">
						        		<tr>
						        			<td style="min-width:15px;">
						        				<span data-ng-show="project.selected == true" class="glyphicon glyphicon-ok icon-hover" data-ng-click="vm.removeProject(project)"></span>
						        			</td>
						        			<td><span>&nbsp;</span></td>
						        			<td>
						        				<span class="glyphicon glyphicon-folder-open" style="color:{{project.color}}"></span>
						        				<span class="icon-hover possibleProject" data-ng-click="vm.addProject(project)">{{project.name}}</span>
						        			</td>
						        		</tr>
						        	</table> 
						        </li>
						    </ul>
						</div>
				    </div>
				</div>
				<div class="form-group">
		   	 		<label class="control-label col-sm-3 endLabel" for="startsAt">Erledigt bis:<span class="mandatory">*</span></label>
		    	 	 <div class="col-sm-5">
				    	<p class="input-group">
					    	<input type="text"
			                            class="form-control dateInput"
			                            name="executionDate"                                
			                            data-ng-model="vm.communicationWorkingOrder.executionDate"
			                            datepicker-popup="dd.MM.yyyy"
			                            is-open="vm.executionDateDatePicker"
			                            close-text="schlie&szlig;en"
			                            current-text="heute"
			                            clear-text="l&ouml;schen"
			                            datepicker-options="{startingDay: 1}"
			                            placeholder="Erledigt bis"
			                            disabled
			                            required>
			                  	<span class="input-group-btn">
			                       		<button type="button" class="btn btn-default btn-xs datePickerButton"                         		   
			                               data-ng-click="vm.openEndDatePicker($event)">
			                               <span class="glyphicon glyphicon-calendar"></span>
			                            </button>
			                  	</span>
						  </p>
				    </div>
		   	 	</div>
		   	 	<div class="form-group">
					<label class="control-label col-sm-3" for="name">Anh&auml;nge:</label>
					<div class="col-sm-1">
						<span class="btn btn-default btn-file" title="Externes Dokument hochladen">
						    <span class="glyphicon glyphicon-paperclip" aria-hidden="true" ngf-select="uploadExternalFiles($files, $invalidFiles)" multiple
						          ngf-max-height="9000" ngf-max-size="50MB"></span>
						</span>
					</div>
				    <div class="col-sm-2">
					   	<span>
					     	<span class="btn btn-default btn-file" data-ng-click="vm.addAttachmentFiles()" title="Dokument aus wdm anh&auml;ngen">
							    <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
							</span>
					    </span>
				  	</div>
				  	<div class="col-sm-1">
				  	  <span class="loadingContainer" data-ng-show="vm.uploadFiles == true">
					  	<img src="assets/img/loading.gif" />
					  </span>
				  	</div>
				  	<br />
				  	<div class="col-sm-offset-3 col-sm-9">
				  		<div data-ng-repeat="documentFile in vm.communicationWorkingOrder.selectedDocumentFiles track by $index">
					    	{{$index+1}}. 
					    	<img data-ng-src="assets/img/{{documentFile.selectedDocumentFile.ending}}.PNG" alt="" document-file-icon-dispatch title="Dateiendung {{documentFile.selectedDocumentFile.ending}}" />
					    	{{documentFile.selectedDocumentFile.fileName}} <span class="glyphicon glyphicon-minus icon-hover" data-ng-click="vm.removeAttachmentDocumentFile(documentFile)"></span>
					    </div>
					    <div data-ng-repeat="communicationAttachment in vm.communicationWorkingOrder.communicationAttachments track by $index">
							{{vm.communicationWorkingOrder.selectedDocumentFiles.length+$index+1}}. {{communicationAttachment.originalFilename}} <span class="glyphicon glyphicon-minus icon-hover" data-ng-click="vm.removeAttachment(communicationAttachment)"></span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<br />
					<div class="col-sm-offset-2 col-sm-10">
						<b>Empf&auml;nger</b> ({{vm.communicationWorkingOrder.usersSelected.length}}):
						<span class="errorMessage" data-ng-show="vm.noUsersSelected == true">Keine User ausgew&auml;hlt</span>
						<div data-ng-repeat="userSelected in vm.communicationWorkingOrder.usersSelected track by $index">
							<span class="glyphicon glyphicon-user" style="color:{{userSelected.color}}"></span>
							{{userSelected.title}} {{userSelected.firstname}} <b>{{userSelected.surname}}</b> - 
							<span class="address">{{userSelected.address.street}} {{userSelected.address.postalCode}} <b>{{userSelected.address.region}}</b></span>
		       				<span class="glyphicon glyphicon-minus icon-hover" data-ng-click="vm.removeUser(userSelected)" data-ng-hide="vm.currentUser.id == userSelected.id"></span>
						</div>
						<hr />
						<b>Alle User</b>:
						<div data-ng-show="userOfProject.user != null" data-ng-repeat="userOfProject in vm.usersOfProject track by $index">
							<div data-ng-hide="vm.userStillSelected(userOfProject.user) || vm.currentUser.id == userOfProject.user.id">
								<button class="btn btn-default btn-sm" type="button" data-toggle="dropdown" data-ng-click="vm.addUser(userOfProject.user)">
									<span class="glyphicon glyphicon-ok"></span>
							    </button>
							    <span class="glyphicon glyphicon-user" style="color:{{userOfProject.user.color}}"></span>
								{{userOfProject.user.title}} {{userOfProject.user.firstname}} <b>{{userOfProject.user.surname}}</b> - 
								<span class="address">{{userOfProject.user.address.street}} {{userOfProject.user.address.postalCode}} <b>{{contactOrUser.user.address.region}}</b></span>
							</div> 
						</div>
					</div>
				</div>
				<br />
				<br />
				<div class="form-group">
				    <label class="control-label col-sm-6" for="name"></label>
				    <div class="col-sm-offset-9 col-sm-3">
				      <button type="submit" class="btn btn-default" data-ng-disabled="createCommunicationWorkingOrderForm.$invalid">
				      	<span data-ng-show="vm.mode == 'CREATE'">anlegen</span> 
				      	<span data-ng-show="vm.mode == 'EDIT'">speichern</span> 
				      </button>
				    </div>
				</div>
			</form>
		</div>
	  </div>
	</div>
</div>