<div class="projectsOfTenantModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeProjectsOfTenantModal()"></span>
        <h4 class="modal-title">Auflistung aller Projekte</h4>
    </div>
    <div class="modal-body">
        <div data-ng-repeat="project in vm.projects track by $index">
        	{{$index+1}}. <span class="glyphicon glyphicon-folder-open" style="color:{{project.color}}"></span>  <b>{{project.name}}</b> - Erstellt am <b>{{project.creationDate | date:'dd.MM.yyyy'}}</b>
        </div>
        <div data-ng-show="vm.projects.length == 0">
        	Keine Projekte vorhanden
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" data-ng-click="vm.closeProjectsOfTenantModal()">Schlie&szlig;en</button>
    </div>
</div>