<div class="adjustmentModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeAdjustmentModal()"></span>
        <h4 class="modal-title"><span class="glyphicon glyphicon-cog"></span> Einstellungen
        	<span data-ng-switch="vm.type">
        		<span data-ng-switch-when="PRODUCTS">
        			Produkte
        		</span>
        		<span data-ng-switch-when="PROJECTS">
        			Projekte
        		</span>
        		<span data-ng-switch-when="CALENDAR_EVENTS">
        			Termine
        		</span>
        		<span data-ng-switch-when="RECEIVED_ORDERS">
        			empfangene Arbeitsauftr&auml;ge
        		</span>
        		<span data-ng-switch-when="SENT_ORDERS">
        			gesendete Arbeitsauftr&auml;ge
        		</span>
        	</span>
        </h4>
    </div>
    <div class="modal-body">
    	<br />
    	<table>
    		<tr>
    			<td>
    				W&auml;hlen Sie eine Farbe f&uuml;r diesen Bereich aus: 
    				<input type="color" value="#ff0000" data-ng-model="vm.selectedColor">
    			</td>
    			<td><span>&nbsp;</span></td>
    			<td><span>&nbsp;</span></td>
    			<td>
    				<button type="button" class="form-control" data-ng-click="vm.selectedColor = '#f9f9f9'">
						zur&uuml;cksetzen
					</button>
    			</td>
    		</tr>
    	</table>
		<br />
		<br />
    </div>
</div>