<div class="row clearfix contacts non-printable">
	<div class="breadcrumb">
		<span class="explanation"><span class="glyphicon glyphicon-home"></span> Kontakte verwalten</span>
		<span class="logo">wdm</span>
	</div>
	<div class="col-md-1 column">
    </div>
    <div class="col-md-10 column">
    	<div data-ng-show="vm.userAuthorizationUserContainer.userAuthorizations[10].state == true">
			<!-- contact -->
			<div data-ng-show="vm.showContactForm == false">
				<span class="glyphicon glyphicon-plus icon-hover pulseOnce" data-ng-click="vm.showContactForm = true"></span> 
				Neuen Kontakt anlegen</span>
			</div>
			<div class="contactsCreationMenu" data-ng-show="vm.showContactForm == true">
				<span class="glyphicon glyphicon-minus icon-hover" data-ng-click="vm.showContactForm = false"></span> 
				Neuen Kontakt anlegen ausblenden
			</div>
		</div>	
		<br />
		<div class="createNewContact" data-ng-show="vm.showContactForm">	
			<create-edit-contact-directive 
				contact="vm.contact" 
				titles="vm.titles" 
				province-types="vm.provinceTypes" 
				contact-types="vm.contactTypes"
				country-types="vm.countryTypes" 
				invoker="vm" 
				modal-invoker="" 
				type="'CREATE'"
				current-user="vm.currentUser"
				roles="vm.roles"
				users-of-project="vm.usersOfProject"
				disabled="false">
			</create-edit-contact-directive>
		</div>
		<!-- paging -->
		<div class="col-sm-offset-0">
			<nav aria-label="Page navigation" data-ng-show="vm.amountOfPages > 1 && vm.searchTrigger == false">
				<table>
					<tr>
						<td>
							 <ul class="pagination">
							    <li data-ng-click="vm.pageChange(vm.currentPage-1)" class="icon-hover">
							        <span aria-hidden="true">&laquo;</span>
							    </li>
							    <li data-ng-repeat="indexAmount in vm.amountOfPagesArray">
							    	<a data-ng-click="vm.pageChange($index)" data-ng-class="vm.isCurrentPage(indexAmount) ? 'currentSelectedPage' : ''" class="icon-hover">{{$index+1}}</a>
							    </li>
							    <li  data-ng-click="vm.pageChange(vm.currentPage+1)" class="icon-hover">
							    	<span aria-hidden="true">&raquo;</span>
							    </li>
							  </ul>
						</td>
					</tr>
				</table>
			</nav>
		</div>
		<div>
			<table>
				<tr>
					<td><span class="glyphicon glyphicon-search"></span></td>
					<td><span>&nbsp;</span></td>
					<td>
						<input type="text" class="form-control" style="width:188px;border-top-right-radius:0px;border-bottom-right-radius:0px;" data-ng-model="vm.searchContactsTerm" placeholder="Suchen (mind. 4 Zeichen)" data-ng-enter="vm.searchContacts()" />
					</td>
					<td>
						<button class="btn btn-default" type="button" style="border-left:none;border-top-left-radius:0px;border-bottom-left-radius:0px;" data-ng-click="vm.searchContacts()" data-ng-disabled="vm.loadingSearchResults == true" data-toggle="dropdown">
							Suchen
						</button>
					</td>
					<td><span>&nbsp;</span></td>
					<td><span class="glyphicon glyphicon-remove-circle icon-hover" data-ng-class="(vm.searchContactsTerm != null && vm.searchContactsTerm != '' && vm.searchContactsTerm.length > 3) ? 'errorMessage' : ''" data-ng-click="vm.removeSearchResults()" title="Suche beenden und auf die erste Seite zur&uuml;ckkehren"></span></td>
					<td><span>&nbsp;</span></td>
					<td><span class="fa fa-file-pdf-o icon-hover" style="margin-right:10px;margin-top:2px;color:#777;" data-ng-click="vm.printContainer('contactsId', 'Kontakte')" title="Kontakte herunterladen"></span></td>
					<td><span>&nbsp;</span></td>
					<td><span>&nbsp;</span></td>
					<td>Insgesamt sind <b>{{vm.amountOfContacts}} aktive(r) Kontakt(e)</b> angelegt / <b>{{vm.contacts.length}}</b> <span data-ng-show="vm.contacts.length > 1">werden</span><span data-ng-show="vm.contacts.length == 1">wird</span> angezeigt</td>
					<td><span>&nbsp;</span></td>
					<td><span>&nbsp;</span></td>
					<td>
						<div class="loadingContainer" data-ng-show="vm.loadingContacts == true">
						  	<img src="assets/img/loading.gif" />
						</div>
					</td>
					<td><span>&nbsp;</span></td>
					<td><span>&nbsp;</span></td>
					<td><span>&nbsp;</span></td>
					<td>
						<select class="form-control" name="country" data-ng-model="vm.selectedCountryImport" data-ng-options="country as country | translate for country in vm.countryTypes">
						</select>
					</td>
					<td><span>&nbsp;</span></td>
					<td>
						<div class="drop-box icon-hover" ngf-drop ngf-select data-ng-model="vm.files"
					        ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
					        accept="image/*,application/pdf,multipart/mixed" ngf-max-size="80MB" data-ng-class="uploadFiles == true ? 'uploadFiles' : ''">
					        <img src="./assets/img/Excel.PNG" alt="excel" />
					    </div>
					</td>
				<tr>
			</table>
			<table class="table table-striped" id="contactsId" data-ng-show="vm.contacts.length > 0">
				<thead>
					<tr>
						<th>#</th>
						<th>
							<table>
								<tr>
									<td>Name</td>
									<td><span>&nbsp;</span></td>
									<td><span class="glyphicon glyphicon-chevron-up icon-hover sortIcon" data-ng-click="vm.orderType = '-institution'"></span></td>
									<td><span class="glyphicon glyphicon-chevron-down icon-hover sortIcon" data-ng-click="vm.orderType = 'institution'"></span></td>
								</tr>
							</table>
						</th>
						<th>Nummer</th>
						<th>Abk&uuml;rzung</th>
						<th>
							Kunden- / Lieferantennummer(n)
						</th>
						<th>Stra&szlig;e</th>
						<th>Ort</th>
						<th>Region</th>
						<th>Land</th>
						<th>
							<table>
								<tr>
									<td>Typ(en)</td>
									<td><span>&nbsp;</span></td>
									<td><span class="glyphicon glyphicon-chevron-up icon-hover sortIcon" data-ng-click="vm.orderType = '-contactTypes'"></span></td>
									<td><span class="glyphicon glyphicon-chevron-down icon-hover sortIcon" data-ng-click="vm.orderType = 'contactTypes'"></span></td>
								</tr>
							</table>
						</th>
						<th>Laubfrosch</th>
						<th>Newsletter</th>
						<th>Produkte</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat-start="contact in vm.contacts" data-ng-init="contact.expanded = false" data-ng-mouseenter="showMenu=true" data-ng-mouseleave="showMenu=false" data-ng-class="contact.expanded == true ? 'contactExpanded' : (contact.stillCreated == true ? 'stillCreated' : '')" title="Kunde seit {{contact.customerSince}}, Kunde erstellt am {{contact.creationDate | date:'dd.MM.yyyy HH:mm'}}">
						<td>{{vm.currentPage*vm.contactPageSize+$index+1}}.</td>
						<td>
							<span class="glyphicon glyphicon-ban-circle errorMessage icon-hover" data-ng-show="contact.active == false" title="Kontakt wurde deaktiviert"></span>
							<span class="glyphicon glyphicon-home" style="color:{{contact.color}}"></span> 
							<b>{{contact.institution}}</b><br />
							<span style="margin-left:20px;display:block;" data-ng-if="contact.additionalNameInformation != null && contact.additionalNameInformation.length > 0">
							<span class="glyphicon glyphicon-th-large"></span> {{contact.additionalNameInformation || '--'}}</span>
						</td>
						<td>{{contact.number || '--'}}</td>
						<td>{{contact.shortCode}}</td>
						<td>     
							<table>
								<tr data-ng-repeat="customerNumberContainer in contact.customerNumberContainers track by $index">
									<td title="Kundennummer"><b>K</b> <i class="fa fa-truck icon-flipped" style="color:#00b" aria-hidden="true"></i></td>
									<td><span>&nbsp;</span></td>
									<td>
										<img data-ng-src="assets/img/{{customerNumberContainer.contactTenant}}.png" data-ng-show="customerNumberContainer.contactTenant != null" style="margin-top:-2px;" />
										{{(customerNumberContainer.contactTenant | translate) || '--'}} {{customerNumberContainer.customerNumber || '--'}}
									</td>
								</tr>
								<tr data-ng-repeat="deliveryNumberContainer in contact.deliveryNumberContainers track by $index">
									<td title="Lieferantennummer"><b>L</b> <i class="fa fa-truck" style="color:#f00" aria-hidden="true"></i></td>
									<td><span>&nbsp;</span></td>
									<td>
										<img data-ng-src="assets/img/{{deliveryNumberContainer.contactTenant}}.png" data-ng-show="deliveryNumberContainer.contactTenant != null" style="margin-top:-2px;" />
										{{(deliveryNumberContainer.contactTenant | translate) || '--'}} {{deliveryNumberContainer.deliveryNumber || '--'}}
									</td>
								</tr>
							</table>
						</td>
						<td>{{contact.address.street || '--'}}</td>
						<td><span data-ng-show="contact.address.postalCode != 0">{{contact.address.postalCode}}</span> {{contact.address.region || '--'}}</td>
						<td>{{(contact.address.provinceType | translate) || '--'}}</td>
						<td>
							<table>
								<tr>
									<td><img data-ng-src="assets/img/{{contact.address.country}}.png" data-ng-show="contact.address.country != null" style="margin-top:-2px;" /></td>
									<td><span>&nbsp;</span></td>
									<td>{{(contact.address.country | translate) || '--'}}</td>
								</tr>
							</table>
						</td>
						<td style="width:200px !important;">
							<div data-ng-repeat="contactType in contact.contactTypes track by $index" data-ng-switch="contactType">
								<div class="contactTypeLabel" style="margin-left:3px;">
									 <span data-ng-switch-when="LAUB_FROSCH">
									 	<span class="fa fa-circle" aria-hidden="true" style="color:#46bfbd"></span> {{(contactType | translate) || '--'}}
									 </span>
									 <span data-ng-switch-when="NEWS_LETTER">
									 	<span class="fa fa-circle" aria-hidden="true" style="color:#97bbcd"></span> {{(contactType | translate) || '--'}}
									 </span>
									 <span data-ng-switch-when="POTENTIAL_BUYER">
									 	<span class="fa fa-circle" aria-hidden="true" style="color:#f7464a"></span> {{(contactType | translate) || '--'}}
									 </span>
									 <span data-ng-switch-when="SUPPLIER">
									 	<span class="fa fa-circle" aria-hidden="true" style="color:#dcdcdc"></span> {{(contactType | translate) || '--'}}
									 </span>
									 <span data-ng-switch-when="CUSTOMER">
									 	<span class="fa fa-circle" aria-hidden="true" style="color:#ff00ff"></span> {{(contactType | translate) || '--'}}
									 </span>
									 <span data-ng-switch-when="PURCHASER">
									 	<span class="fa fa-circle" aria-hidden="true" style="color:#00ff00"></span> {{(contactType | translate) || '--'}}
									 </span>							 
									 <span data-ng-switch-when="URBAN_ANLAGE">
									 	<span class="fa fa-circle" aria-hidden="true" style="color:#00ffff"></span> {{(contactType | translate) || '--'}}
									 </span>
									 <span data-ng-switch-when="INDUSTRY">
									 	<span class="fa fa-circle" aria-hidden="true" style="color:#f0ff00"></span> {{(contactType | translate) || '--'}}
									 </span>
									 <span data-ng-switch-when="ENGINEER_OFFICE">
									 	<span class="fa fa-circle" aria-hidden="true" style="color:#22ff0f"></span> {{(contactType | translate) || '--'}}
									 </span>
									 <span data-ng-switch-when="OTHER">
									 	<span class="fa fa-circle" aria-hidden="true" style="color:#f077ff"></span> {{(contactType | translate) || '--'}}
									 </span>
								</div>
								<br />
							</div>
							<span data-ng-show="contact.contactTypes.length == 0 || contact.contactTypes == null">--</span>
						</td>
						<td>
							<div class="glyphicon glyphicon-ok-circle" style="margin-left:30px;" data-ng-show="contact.laubfrosch == true"></div>
						</td>
						<td>
							<div class="glyphicon glyphicon-ok-circle" style="margin-left:30px;" data-ng-show="contact.newsletter == true"></div>
						</td>
						<td><span data-ng-show="contact.productIds != null && contact.productIds.length > 0">{{contact.productIds.length}}</span></td>
						<td style="min-width:100px;">
							<div class="dropdown dropdown-scroll" style="margin-top:-3px;">
							    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" style="height:22px;" data-ng-show="showMenu == true">
								    <span data-ng-show="vm.institutionOfUserFilter == null">
								    	ausw&auml;hlen
								    </span>
							    	<span class="caret"></span>
							    </button>
							    <ul class="dropdown-menu icon-hover" style="min-width:180px;">
							    	<li role="presentation" class="list-item">
							        	<table style="margin-left:10px;">
							        		<tr>
							        			<td><span class="glyphicon glyphicon-info-sign icon-hover" data-ng-click="contact.expanded = !contact.expanded"></span></td>
							        			<td><span>&nbsp;</span></td>
							        			<td><span data-ng-click="contact.expanded = !contact.expanded">Kontakteigenschaften</span></td>
							        		</tr>
							        	</table>
							        </li>
							        <li role="presentation" class="list-item" data-ng-show="vm.userAuthorizationUserContainer.userAuthorizations[10].state == true">
							        	<table style="margin-left:10px;" >
							        		<tr>
							        			<td><span class="glyphicon glyphicon-edit icon-hover" data-ng-click="vm.showEditContactModal(contact); $event.stopPropagation()"></span></td>
							        			<td><span>&nbsp;</span></td>
							        			<td><span data-ng-click="vm.showEditContactModal(contact); $event.stopPropagation()">Kontakt editieren</span></td>
							        		</tr>
							        	</table>
							        </li>
							        <li role="presentation" class="list-item" data-ng-show="['ADMIN','SUPER_ADMIN'].indexOf(vm.currentUser.projectUserConnectionRole)!=-1">
							        	<table style="margin-left:10px;">
							        		<tr>
							        			<td><span class="glyphicon glyphicon-folder-open icon-hover" data-ng-click="vm.showProjectsAssignedToContactModal(contact); $event.stopPropagation()"></span></td>
							        			<td><span>&nbsp;</span></td>
							        			<td><span data-ng-click="vm.showProjectsAssignedToContactModal(contact); $event.stopPropagation()">Zuweisen zu Projekten</span></td>
							        		</tr>
							        	</table>
							        </li>
							        <li role="presentation" class="list-item" data-ng-show="['ADMIN','SUPER_ADMIN'].indexOf(vm.currentUser.projectUserConnectionRole)!=-1 && vm.contactTypesCheck(contact)">
							        	<table style="margin-left:10px;">
							        		<tr>
							        			<td><span class="glyphicon glyphicon-user icon-hover" data-ng-click="vm.showUsersAssignedToContactModall(contact);$event.stopPropagation()"></span></td>
							        			<td><span>&nbsp;</span></td>
							        			<td><span data-ng-click="vm.showUsersAssignedToContactModal(contact);$event.stopPropagation()">Zuweisen zu Personen</span></td>
							        		</tr>
							        	</table>
							        </li>
							    </ul>
							</div>
						</td>
						<td>
							<span class="glyphicon glyphicon-import icon-hover" data-ng-show="contact.imported" data-ng-class="(contact.imported && !contact.importConfirmed) ? 'errorMessage' : ''" title="Kontakt wurde importiert am {{contact.importationDate}}"></span>
						</td>
					</tr>
					<tr data-ng-if="contact.expanded == true || searchContacts.length > 0" data-ng-repeat-end="" style="background-color:#fff;">
			            <td colspan="15">
			            	<div class="categoryContainer">
				            	<span class="additionalInformationHeader"><span class="glyphicon glyphicon-envelope"></span> Ansprechpartner (zuhanden von):</span>
				            	<table class="table" style="max-width: 600px;">
				            		<tr>
				            			<td class="col-md-2">
				            				<span>{{contact.contactPerson || '--'}}</span>
				            			</td>
				            		</tr>
				            	</table>
				            </div>
			            	<div class="categoryContainer">
				            	<span class="additionalInformationHeader"><span class="glyphicon glyphicon-envelope"></span> Email- Adressen des Kontakts:</span>
				            	<table class="table" style="max-width: 600px;">
				            		<tr data-ng-repeat="email in contact.emails track by $index">
				            			<td><a href="mailto:{{email}}">{{email || '--'}}</a></td>
				            		</tr>
				            	</table>
				            </div>
			            	<div class="categoryContainer">
				            	<span class="additionalInformationHeader"><span class="glyphicon glyphicon-earphone"></span> Telefonnummern des Kontakts:</span>
				            	<table class="table" style="max-width: 600px;">
				            		<tr data-ng-repeat="telephone in contact.telephones track by $index">
				            			<td class="col-md-2"><a href="tel:{{telephone}}">{{telephone || '--'}}</a></td>
				            		</tr>
				            	</table>
				            </div>
			            	<div class="categoryContainer">
				            	<span class="additionalInformationHeader"><span class="glyphicon glyphicon-globe"></span> Homepage:</span>
				            	<table class="table" style="max-width: 600px;">
				            		<tr>
				            			<td class="col-md-2">
				            				<a href="{{contact.homepage}}" target="_blank">{{contact.homepage || '--'}}</a>
				            			</td>
				            		</tr>
				            	</table>
				            </div>
			            	<div class="categoryContainer">
				            	<span class="additionalInformationHeader"><span class="glyphicon glyphicon-pushpin"></span> zus&auml;tzliche Information:</span>
				            	<table class="table" style="max-width: 600px;">
				            		<tr>
				            			<td class="col-md-2">
				            				<span>{{contact.information || '--'}}</span>
				            			</td>
				            		</tr>
				            	</table>
				            </div>
			            	<div class="categoryContainer" data-ng-show="vm.showAccountAddress(contact.accountAddress)">
				            	<span class="additionalInformationHeader"><span class="glyphicon glyphicon-eur"></span> Rechnungsadresse:</span>
				            	<table class="table" style="max-width: 600px;">
				            		<tr>
				            			<td class="col-md-3">Stra&szlig;e:</td>
		            					<td><span>&nbsp;</span></td>
		            					<td>{{contact.accountAddress.street || '--'}}</td>
				            		</tr>
				            		<tr>
		            					<td class="col-md-3">Plz:</td>
		            					<td><span>&nbsp;</span></td>
		            					<td>{{contact.accountAddress.postalCode || '--'}}</td>
		            				</tr>
		            				<tr>
		            					<td class="col-md-3">Ort:</td>
		            					<td><span>&nbsp;</span></td>
		            					<td>{{contact.accountAddress.region || '--'}}</td>
		            				</tr>
		            				<tr>
		            					<td class="col-md-3">Bundesland:</td>
		            					<td><span>&nbsp;</span></td>
		            					<td>{{(contact.accountAddress.provinceType | translate) || '--'}}</td>
		            				</tr>
		            				<tr>
		            					<td class="col-md-3">Land:</td>
		            					<td><span>&nbsp;</span></td>
		            					<td>
		            						<img data-ng-src="assets/img/{{contact.accountAddress.country}}.png" data-ng-show="contact.accountAddress.country != null" style="margin-top:-2px;" />
		            						{{(contact.accountAddress.country | translate) || '--'}}
		            					</td>
		            				</tr>
		            				<tr>
		            					<td class="col-md-3">Email- Adresse:</td>
		            					<td><span>&nbsp;</span></td>
		            					<td>
		            						{{contact.accountAddress.email || '--'}}
		            					</td>
		            				</tr>
				            	</table>
				            </div>
			            	<div class="categoryContainer" data-ng-show="contact.contactPersons.length > 0">
				            	<span class="additionalInformationHeader"><span class="glyphicon glyphicon-user"></span> Kontaktpersonen:</span>
				            	<table class="table" data-ng-repeat="contactPerson in contact.contactPersons track by $index" style="max-width: 600px;">
				            		<tr>
				            			<td class="col-md-4">Name:</td>
				            			<td>{{contactPerson.title}} {{contactPerson.firstname || '--'}} {{contactPerson.surname || '--'}}</td>
				            		</tr>
				            		<tr>
				            			<td class="col-md-4">Abteilung:</td>
				            			<td>{{contactPerson.department || '--'}}</td>
				            		</tr>
				            		<tr data-ng-repeat="email in contactPerson.emails track by $index" >
				            			<td class="col-md-4">Email {{$index+1}}:</td>
				            			<td><a href="mailto:{{email}}">{{email || '--'}}</a></td>
				            		</tr>
				            		<tr data-ng-repeat="telephone in contactPerson.telephones track by $index" >
				            			<td class="col-md-4">Telefon {{$index+1}}:</td>
				            			<td><a href="tel:{{telephone}}">{{telephone || '--'}}</a></td>
				            		</tr>
				            		<tr>
				            			<td class="col-md-4">zus&auml;tzliche Informationen:</td>
				            			<td>{{contactPerson.additionalInformation || '--'}}</td>
				            		</tr>
				            	</table>
				            </div>
			            	<div class="categoryContainer" data-ng-show="contact.addressesWithProducts.length > 0">
				            	<span class="additionalInformationHeader"><span class="glyphicon glyphicon-home"></span> Weitere Standorte ({{contact.addressesWithProducts.length}}):</span>
				            	<div data-ng-repeat="addressWithProducts in contact.addressesWithProducts track by $index" data-ng-hide="vm.hideAddressWithProducts(addressWithProducts)" style="max-width: 600px;">
				            		<b>Standort {{$index+1}}:</b>
					            	<table class="table">
					            		<tr data-ng-hide="addressWithProducts.address.additionalInformation == null || addressWithProducts.address.additionalInformation.length == 0">
			            					<td class="col-md-3">Standortname:</td>
			            					<td><span>&nbsp;</span></td>
			            					<td>{{addressWithProducts.address.additionalInformation || '--'}}</td>
			            				</tr>
			            				<tr>
			            					<td class="col-md-3">Stra&szlig;e:</td>
			            					<td><span>&nbsp;</span></td>
			            					<td>{{addressWithProducts.address.street || '--'}}</td>
			            				</tr>
			            				<tr>
			            					<td class="col-md-3">Plz:</td>
			            					<td><span>&nbsp;</span></td>
			            					<td>{{addressWithProducts.address.postalCode || '--'}}</td>
			            				</tr>
			            				<tr>
			            					<td class="col-md-3">Ort:</td>
			            					<td><span>&nbsp;</span></td>
			            					<td>{{(addressWithProducts.address.region | translate) || '--'}}</td>
			            				</tr>
			            				<tr>
			            					<td class="col-md-3">Email:</td>
			            					<td><span>&nbsp;</span></td>
			            					<td>{{addressWithProducts.address.email || '--'}}</td>
			            				</tr>
			            				<tr>
			            					<td class="col-md-3">Tel:</td>
			            					<td><span>&nbsp;</span></td>
			            					<td>{{addressWithProducts.address.telephone || '--'}}</td>
			            				</tr>
			            				<tr>
			            					<td class="col-md-3">Bundesland:</td>
			            					<td><span>&nbsp;</span></td>
			            					<td>{{(addressWithProducts.address.provinceType | translate) || '--'}}</td>
			            				</tr>
			            				<tr>
			            					<td class="col-md-3">Land:</td>
			            					<td><span>&nbsp;</span></td>
			            					<td>
			            						<img data-ng-src="assets/img/{{addressWithProducts.address.country}}.png" data-ng-show="addressWithProducts.address.country != null" style="margin-top:-2px;" />
			            						{{(addressWithProducts.address.country | translate) || '--'}}
			            					</td>
			            				</tr>
			            				<tr>
			            					<td class="col-md-3">zus&auml;tzliche Information:</td>
			            					<td><span>&nbsp;</span></td>
			            					<td>
			            						{{addressWithProducts.address.information || '--'}}
			            					</td>
			            				</tr>
			            				<tr>
			            					<td class="col-md-3">Fortl. Nr.:</td>
			            					<td><span>&nbsp;</span></td>
			            					<td>
			            						{{addressWithProducts.address.flfId || '--'}}
			            					</td>
			            				</tr>
					            	</table>
					            	
					            	<div class="categoryContainer" data-ng-show="addressWithProducts.contactPersons.length > 0">
						            	<span class="additionalInformationHeader"><span class="glyphicon glyphicon-user"></span> Kontaktpersonen:</span>
						            	<table class="table" data-ng-repeat="contactPerson in addressWithProducts.contactPersons track by $index" style="max-width: 600px;">
						            		<tr>
						            			<td class="col-md-4">Name:</td>
						            			<td>{{contactPerson.title}} {{contactPerson.firstname || '--'}} {{contactPerson.surname || '--'}}</td>
						            		</tr>
						            		<tr>
						            			<td class="col-md-4">Abteilung:</td>
						            			<td>{{contactPerson.department || '--'}}</td>
						            		</tr>
						            		<tr data-ng-repeat="email in contactPerson.emails track by $index" >
						            			<td class="col-md-4">Email {{$index+1}}:</td>
						            			<td><a href="mailto:{{email}}">{{email || '--'}}</a></td>
						            		</tr>
						            		<tr data-ng-repeat="telephone in contactPerson.telephones track by $index" >
						            			<td class="col-md-4">Telefon {{$index+1}}:</td>
						            			<td><a href="tel:{{telephone}}">{{telephone || '--'}}</a></td>
						            		</tr>
						            		<tr>
						            			<td class="col-md-4">zus&auml;tzliche Informationen:</td>
						            			<td>{{contactPerson.additionalInformation || '--'}}</td>
						            		</tr>
						            	</table>
						            </div>
					            	
					            </div>
				            </div>
				            <div class="categoryContainer" data-ng-show="contact.agentNumberContainers.length > 0">
				            	<span class="additionalInformationHeader"><span class="glyphicon glyphicon-briefcase"></span> Vertreternummer(n):</span>
				            	<table class="table" style="max-width: 600px;">
				            		<tr data-ng-repeat="agentNumberContainer in contact.agentNumberContainers track by $index">
		            					<td>{{agentNumberContainer.customerNumber}} <span data-ng-show="$index == 0">(Hauptvertreternr.)</span></td>
				            		</tr>
				            		
		            			</table>
				            </div>
				            <div class="categoryContainer" data-ng-show="contact.contactAttachments.length > 0">
				            	<span class="additionalInformationHeader"><span class="glyphicon glyphicon-paperclip"></span> Dokumente:</span>
				            	<table class="table" style="max-width:600px;">
									<tr data-ng-repeat="attachment in contact.contactAttachments track by $index">
										<td class="col-md-1">
											{{$index+1}}. 
										</td>
										<td><span>&nbsp;</span></td>
										<td>
											<span class="icon-hover" data-ng-init="documentUrl = vm.createDocumentUrl(currentUser, product, attachment)" data-ng-click="vm.showTemplateModal(documentUrl, attachment)">
												<img data-ng-src="assets/img/{{attachment.ending}}.PNG" alt="" document-file-icon-dispatch /> {{attachment.filename}} <span style="font-size:0.8em;">({{attachment.version.substr(1)}})</span>
											</span>
										</td>
										<td><span>&nbsp;</span></td>
										<td>
											<a href="{{documentUrl}}"><span class="glyphicon glyphicon-download-alt"></span></a>
										</td>
									</tr>
								</table>
							</div>
			            </td>
			         </tr>
				</tbody>
			</table>
		</div>
		<!-- paging -->
		<div class="col-sm-offset-0">
			<nav aria-label="Page navigation" data-ng-show="vm.amountOfPages > 1 && vm.searchTrigger == false">
			  <ul class="pagination">
			    <li data-ng-click="vm.pageChange(vm.currentPage-1)" class="icon-hover">
			        <span aria-hidden="true">&laquo;</span>
			    </li>
			    <li data-ng-repeat="indexAmount in vm.amountOfPagesArray">
			    	<a data-ng-click="vm.pageChange($index)" data-ng-class="vm.isCurrentPage(indexAmount) ? 'currentSelectedPage' : ''" class="icon-hover">{{$index+1}}</a>
			    </li>
			    <li  data-ng-click="vm.pageChange(vm.currentPage+1)" class="icon-hover">
			    	<span aria-hidden="true">&raquo;</span>
			    </li>
			  </ul>
			</nav>
		</div>
    </div>
    <div class="col-md-1 column">
    </div>
</div>