.contacts {
	margin-bottom: 110px;
}
.contacts .zip {
	max-width: 80px;
} 
.contacts .createNewContact {
	display: inline-block;
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 2px;  
	height: 100%;
	width: 650px;
	margin-bottom: 30px;
}
.contacts .list-item:hover {
	background-color: #eee;
}
.editContactModal .createNewContact {
	width: 700px;
	height: 100%;
	margin-left: 70px;
}
.contacts .contactTypeLabel {
	border: 1px solid #ccc;
	padding: 2px;
	display: inline;
	border-radius: 4px;
	font-size: 0.85em;
	background-color: #f9f9f9;
}
.contacts .stillCreated {
	background-color: #d9edf7 !important;
}
.contacts .controlText {
	margin-bottom: 20px;
}
.contacts .distanceLeft {
	margin-left: 20px;
}
.contacts .currentSelectedPage {
	background-color: #eee;
}
.contacts .additionalInformationHeader {
	padding:5px;
	font-weight:bold;
}
.contacts .categoryContainer {
	background-color: #f9f9f9;
	padding:10px;
}
.projectsAssignedToContactModal .listOfProjects {
	margin-left: 20px;
}
.yesNoActivityModal .close,
.yesNoFacilityDetailsModal .close,
.deleteImportedContactsModal .close,
.usersAssignedToContactModal .close,
.contactActivityModal .close,
.contactActivityCreateEditModal .close,
.contactFacilityDetailCreateEditModal .close,
.facilityDetailsOfContactModal .close,
.productsOfContactModal .close,
.editContactModal .close,
.projectsAssignedToContactModal .close {
	float: right;
	margin-right: 5px;
	margin-top: 5px;
	font-size: 0.9em;
}
.contactFacilityDetailCreateEditModal .vorreinigungsTypes,
.facilityDetailsOfContactModal .vorreinigungsTypes {
	margin-left: 20px !important;
	padding-left:20px !important;
}
.productsOfContactModal .typeLabel {
	border: 1px solid #ccc;
	padding: 2px;
	display: inline;
	border-radius: 4px;
	font-size: 0.85em;
	background-color: #f9f9f9;
}
.productsOfContactModal .oddCLass {
	background-color: #f9f9f9;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 1px solid #eee;
}
.productsOfContactModal .evenClass {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 1px solid #eee;
}
.contactActivityModal .activityContainer,
.facilityDetailsOfContactModal .facilityDetailContainer {
	background-color:#f9f9f9;
	padding:20px;
	border: 1px solid #eee;
}
.contactFacilityDetailCreateEditModal .headline { 
	width:100%;
	background-color:#eee;
	padding:8px;
	font-weight:bold;
}
.contactAndContactImportedModal .printInfo {
	display: none;
}