@page {
    margin-top: 0.75in;
    margin-bottom: 0.75in;
    margin-left: 0.75in;
    margin-right: 0.75in;    
}
@media print { 
	
	.contactAndContactImportedModal .logo { 
    	display: inline !important;  
    }
    .contactAndContactImportedModal .printInfo {
    	display: inline !important;  
    }
	
	.non-printable { 
    	display: none; 
    }
    .contactAndContactImportedModal .modal-content {
    	border: none !important;
    	-webkit-print-color-adjust: exact;
    }
    .contactAndContactImportedModal .modal,
    .contactAndContactImportedModal .modal * {
        overflow: visible !important;
        -webkit-print-color-adjust: exact;
    }
    .contactAndContactImportedModal .modal {
    	-webkit-print-color-adjust: exact;
        position: absolute !important;
        left: 0 !important;
        top: 0 !important;
    }
}