<div>
	<br />
	<form name="createContactForm" class="form-horizontal" data-ng-submit="createContact(contact)">
	  	 <div class="col-md-12" data-ng-style="disabled && {'background-color':'#f9f9f9','padding': '20px', 'margin-top': '-20px'}">	
	  	 	<div class="form-group" data-ng-show="['SUPER_ADMIN'].indexOf(currentUser.userRole)!=-1">
			    <label class="control-label col-sm-4" for="id">Id:</label>
			    <div class="col-sm-8">
			      <input type="text" class="form-control" name="id" data-ng-disabled="true" data-ng-model="contact.id" placeholder="Id" data-ng-minlength="2" data-ng-maxlength="50">
			    </div>
			</div>
	 	 	<div class="form-group">
			    <label class="control-label col-sm-4" data-ng-class="contact.institutionChanged == true ? 'changedMarker' : ''" for="institution">Kontaktname:<span class="mandatory">*</span></label>
			    <div class="col-sm-8">
			      <input type="text" class="form-control" name="institution" data-ng-disabled="disabled" data-ng-model="contact.institution" data-ng-change="contact.institutionChanged = true" placeholder="Kontaktname" data-ng-minlength="2" data-ng-maxlength="250" required>
			    </div>
			    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.institution.$error.minlength && !createContactForm.institution.$pristine) || (type != 'CREATE' && createContactForm.institution.$error.minlength)">Kontaktname muss mindestens 2 Zeichen lang sein</div>
			    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.institution.$error.maxlength && !createContactForm.institution.$pristine) || (type != 'CREATE' && createContactForm.institution.$error.maxlength)">Kontaktname darf maximal 250 Zeichen lang sein</div>
			</div>
			<div class="form-group">
			    <label class="control-label col-sm-4" for="institution">Nummer:</label>
			    <div class="col-sm-8">
			      <input type="text" class="form-control" name="number" data-ng-disabled="disabled" data-ng-model="contact.number" placeholder="Nummer">
			    </div>
			</div>
			<div class="form-group">
			    <label class="control-label col-sm-4" data-ng-class="contact.additionalNameInformationChanged == true ? 'changedMarker' : ''" for="additionalNameInformation">Weitere Bezeichnung:</label>
			    <div class="col-sm-8">
			      <input type="text" class="form-control" name="additionalNameInformation" data-ng-disabled="disabled" data-ng-model="contact.additionalNameInformation" data-ng-change="contact.additionalNameInformationChanged = true" placeholder="Weitere Bezeichnung" data-ng-minlength="2" data-ng-maxlength="350">
			    </div>		    
			</div>
			<div class="form-group">
			    <label class="control-label col-sm-4" data-ng-class="contact.shortCodeChanged == true ? 'changedMarker' : ''" for="shortCode">Abk&uuml;rzung:</label>
			    <div class="col-sm-8">
			      <input type="text" class="form-control" name="shortCode" data-ng-disabled="disabled" data-ng-model="contact.shortCode" data-ng-change="contact.shortCodeChanged = true" placeholder="Weitere Bezeichnung" data-ng-minlength="2" data-ng-maxlength="350">
			    </div>		    
			</div>
			<div class="form-group">
			    <label class="control-label col-sm-4" data-ng-class="contact.contactPersonChanged == true ? 'changedMarker' : ''" for="contactPerson">Ansprechpartner:</label>
			    <div class="col-sm-8">
			      <input type="text" class="form-control" name="contactPerson" data-ng-disabled="disabled" data-ng-model="contact.contactPerson" data-ng-change="contact.contactPersonChanged = true" placeholder="Ansprechpartner (zuhanden von)" data-ng-minlength="2" data-ng-maxlength="350">
			    </div>		    
			</div>
			<div class="form-group">
			    <label class="control-label col-sm-4" data-ng-class="contact.customerNumberContainersChanged == true ? 'changedMarker' : ''" for="customerNumber">Kundennr.:</label>
			    <div class="col-sm-offset-4">
			    	<span class="glyphicon glyphicon-plus icon-hover" style="margin-top:8px;" data-ng-click="addCustomerNumberContainer();contact.customerNumberContainersChanged = true" data-ng-show="(contact.customerNumberContainers == null || contact.customerNumberContainers.length == 0) && disabled == false" title="Kundennummer hinzuf&uuml;gen"></span>
				    <div class="col-sm-12" style="margin-left:-17px;margin-top:1px;" data-ng-repeat="customerNumberContainer in contact.customerNumberContainers track by $index">
				    	<table>
				    		<tr>
				    			<td>
				    				<i class="fa fa-truck icon-flipped" style="color:#00b" aria-hidden="true"></i>
				    			</td>
				    			<td><span>&nbsp;</span></td>
				    			<td><img data-ng-src="assets/img/{{contact.customerNumberContainers[$index].contactTenant}}.png" data-ng-show="contact.customerNumberContainers[$index].contactTenant != null" style="margin-top:-2px;" /></td>
				    			<td><span>&nbsp;</span></td>
				    			<td>
				    				<select class="form-control" name="contactTenant_{{$index}}" style="width:110px;" data-ng-disabled="disabled" data-ng-model="contact.customerNumberContainers[$index].contactTenant" data-ng-change="contact.customerNumberContainersChanged = true" data-ng-options="country as country | translate for country in countryTypes">
									</select>
				    			</td>
				    			<td><span>&nbsp;</span></td>
				    			<td>
				    				<input type="text" class="form-control" name="customerNumber_{{$index}}" style="width:100px;" data-ng-disabled="disabled" data-ng-model="contact.customerNumberContainers[$index].customerNumber" data-ng-change="contact.customerNumberContainersChanged = true" placeholder="Kundennummer {{$index+1}}">
				    			</td>
				    			<td><span>&nbsp;</span></td>
					      		<td>
					      			<span class="glyphicon glyphicon-plus icon-hover" data-ng-click="addCustomerNumberContainer();contact.customerNumberContainersChanged = true" data-ng-show="$index == 0 && disabled == false" title="Kundennummer hinzuf&uuml;gen"></span>
					      			<span class="glyphicon glyphicon-plus icon-hover" style="color:white;" data-ng-show="$index > 0 && disabled == false" title="Kundennummer hinzuf&uuml;gen"></span>
					      		</td>
					      		<td><span>&nbsp;</span></td>
					      		<td><span class="glyphicon glyphicon-minus icon-hover" data-ng-click="removeCustomerNumberContainer($index);contact.customerNumberContainersChanged = true" data-ng-show="disabled == false" title="Kundennummer entfernen"></span></td>
				    		</tr>
				    	</table>
				    </div>
				</div>
			</div>
			<div class="form-group" data-ng-hide="type == 'SHOW'">
			    <label class="control-label col-sm-4" for="deliveryNumber">Lieferantennr.:</label>
			    <div class="col-sm-offset-4">
			    	<span class="glyphicon glyphicon-plus icon-hover" style="margin-top:8px;" data-ng-click="addDeliveryNumberContainer()" data-ng-show="(contact.deliveryNumberContainers == null || contact.deliveryNumberContainers.length == 0) && disabled == false" title="Lieferantennummer hinzuf&uuml;gen"></span>
				    <div class="col-sm-12" style="margin-left:-17px;margin-top:1px;" data-ng-repeat="deliveryNumberContainer in contact.deliveryNumberContainers track by $index">
				    	<table>
				    		<tr>
				    			<td>
				    				<i class="fa fa-truck" style="color:#f00" aria-hidden="true"></i>
				    			</td>
				    			<td><span>&nbsp;</span></td>
				    			<td><img data-ng-src="assets/img/{{contact.deliveryNumberContainers[$index].contactTenant}}.png" data-ng-show="contact.deliveryNumberContainers[$index].contactTenant != null" style="margin-top:-2px;" /></td>
				    			<td>
				    				<select class="form-control" name="contactTenant_{{$index}}" style="width:110px;" data-ng-model="contact.deliveryNumberContainers[$index].contactTenant" data-ng-options="country as country | translate for country in countryTypes">
									</select>
				    			</td>
				    			<td><span>&nbsp;</span></td>
				    			<td>
				    				<input type="text" class="form-control" name="deliveryNumber_{{$index}}" style="width:100px;" data-ng-model="contact.deliveryNumberContainers[$index].deliveryNumber" placeholder="Lieferantennummer {{$index+1}}">
				    			</td>
				    			<td><span>&nbsp;</span></td>
					      		<td>
					      			<span class="glyphicon glyphicon-plus icon-hover" data-ng-click="addDeliveryNumberContainer()" data-ng-show="$index == 0 && disabled == false" title="Lieferantennummer hinzuf&uuml;gen"></span>
					      			<span class="glyphicon glyphicon-plus icon-hover" style="color:white;" data-ng-show="$index > 0 && disabled == false" title="Lieferantennummer hinzuf&uuml;gen"></span>
					      		</td>
					      		<td><span>&nbsp;</span></td>
					      		<td><span class="glyphicon glyphicon-minus icon-hover" data-ng-click="removeDeliveryNumberContainer($index)" data-ng-show="disabled == false" title="Lieferantennummer entfernen"></span></td>
				    		</tr>
				    	</table>
				    </div>
				</div>
			</div>
			<div class="form-group" data-ng-if="contactTypesCheck(contact)">
			    <label class="control-label col-sm-4" data-ng-class="contact.agentNumberContainersChanged == true ? 'changedMarker' : ''" for="deliveryNumber">Vertreternr:</label>
			    <div class="col-sm-offset-4">
			    	<span class="glyphicon glyphicon-plus icon-hover" style="margin-top:8px;" data-ng-click="addAgentNumberContainer(contact);contact.agentNumberContainersChanged = true" data-ng-show="(contact.agentNumberContainers == null || contact.agentNumberContainers.length == 0) && disabled == false" title="Vertreternummer hinzuf&uuml;gen"></span>
				    <div class="col-sm-12" style="margin-left:-8px;margin-top:1px;" data-ng-repeat="agentNumberContainer in contact.agentNumberContainers track by $index">
				    	<table>
				    		<tr>
				    			<td><span>&nbsp;</span></td>
				    			<td><span>&nbsp;</span></td>
				    			<td>
				    				<input type="text" class="form-control" style="width:100px;" name="agentNumber_{{$index}}" data-ng-disabled="disabled == true" data-ng-change="contact.agentNumberContainersChanged = true" data-ng-model="contact.agentNumberContainers[$index].customerNumber" placeholder="Vertreternummer {{$index+1}}">
				    			</td>
				    			<td><span>&nbsp;</span></td>
					      		<td>
					      			<span class="glyphicon glyphicon-plus icon-hover" data-ng-click="addAgentNumberContainer(contact);contact.agentNumberContainersChanged = true" data-ng-show="$index == 0 && disabled == false" title="Vertreternummer hinzuf&uuml;gen"></span>
					      			<span class="glyphicon glyphicon-plus icon-hover" style="color:white;" data-ng-show="$index > 0 && disabled == false" title="Vertreternummer hinzuf&uuml;gen"></span>
					      		</td>
					      		<td><span>&nbsp;</span></td>
					      		<td><span class="glyphicon glyphicon-minus icon-hover" data-ng-click="removeAgentNumberContainer(contact, $index);contact.agentNumberContainersChanged = true" data-ng-show="disabled == false" title="Vertreternummer entfernen"></span></td>
					      		<td><span>&nbsp;</span></td>
					      		<td><span>&nbsp;</span></td>
					      		<td><span>&nbsp;</span></td>
					      		<td><span data-ng-show="$index == 0" title="nur diese Vertreternummer ({{contact.agentNumberContainers[$index].customerNumber}}) wird beim Kontaktexport exportiert">(Hauptvertreternr.)</span></td>
				    		</tr>
				    	</table>
				    </div>
				</div>
			</div>
			<div class="form-group" data-ng-hide="type == 'SHOW'">
			    <label class="control-label col-sm-4" for="name">Kontakttyp:</label>
			    <div class="col-sm-8">
			    	<span class="dropdown dropdown-scroll">
					    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" style="height:30px;">
					    	<span data-ng-show="contact.contactTypes.length > 0">
					    		<span data-ng-repeat="contactType in contact.contactTypes track by $index">{{contactType | translate}}<span data-ng-show="contact.contactTypes.length-1 > $index">,</span> </span>
						    </span>
						    <span data-ng-show="contact.contactTypes == null || contact.contactTypes.length == 0">
						    	ausw&auml;hlen
						    </span>
					    	<span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu" data-ng-click="$event.stopPropagation()" data-ng-show="disabled == false" style="min-width:180px;margin-top:7px;">
					        <li role="presentation" data-ng-repeat="contactType in contactTypes">
					        	<table>
					        		<tr>
					        			<td><span>&nbsp;</span></td>
					        			<td style="width:15px;">
					        				<span class="glyphicon glyphicon-ok icon-hover" data-ng-show="isContactTypeSelected(contact, contactType)" data-ng-click="removeContactType(contact, contactType)"></span>
					        			</td>
					        			<td><span>&nbsp;</span></td>
					        			<td>
					        				<span class="icon-hover" data-ng-click="addContactType(contact, contactType)">{{contactType | translate}}</span>
					        			</td>
					        		</tr>
					        	</table> 
					        </li>
					    </ul>
				  	</span>
			    </div>
			</div>
			<div class="form-group">
			    <label class="control-label col-sm-4" for="name">Laubfrosch:</label>
			    <div class="col-sm-8">
			    	<input type="checkbox" data-ng-model="contact.laubfrosch" />
			    </div>
			</div>
			<div class="form-group">
			    <label class="control-label col-sm-4" for="name">Newsletter:</label>
			    <div class="col-sm-8">
			    	<input type="checkbox" data-ng-model="contact.newsletter" />
			    </div>
			</div>
			<div class="form-group">
			    <label class="control-label col-sm-4" data-ng-class="contact.address.streetChanged == true ? 'changedMarker' : ''" for="street">Stra&szlig;e:</label>
			    <div class="col-sm-8">
			      <input type="text" class="form-control" name="street" data-ng-disabled="disabled" data-ng-model="contact.address.street" data-ng-change="contact.address.streetChanged = true" placeholder="Strasse" data-ng-minlength="2" data-ng-maxlength="100">
			    </div>
			    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.street.$error.minlength && !createContactForm.street.$pristine) || (type != 'CREATE' && createContactForm.street.$error.minlength)">Strasse muss mindestens 2 Zeichen lang sein</div>
			    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.street.$error.maxlength && !createContactForm.street.$pristine) || (type != 'CREATE' && createContactForm.street.$error.maxlength)">Strasse darf maximal 100 Zeichen lang sein</div>
			</div>
			<div class="form-group">
			    <label class="control-label col-sm-4" data-ng-class="contact.address.postalCodeChanged == true ? 'changedMarker' : ''" for="postalCode">Plz.:</label>
			    <div class="col-sm-3">
			      <input type="text" class="form-control zip" name="postalCode" data-ng-disabled="disabled" data-ng-model="contact.address.postalCode" data-ng-change="contact.address.postalCodeChanged = true" placeholder="Plz" data-ng-minlength="4" data-ng-maxlength="10">
			    </div>
			    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.postalCode.$error.minlength && !createContactForm.postalCode.$pristine) || (type != 'CREATE' && createContactForm.postalCode.$error.minlength)">Postleitzahl muss mindestens 4 Zeichen lang sein</div>
			    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.postalCode.$error.maxlength && !createContactForm.postalCode.$pristine) || (type != 'CREATE' && createContactForm.postalCode.$error.maxlength) ">Postleitzahl darf maximal 10 Zeichen lang sein</div>
			</div>
			<div class="form-group">
			    <label class="control-label col-sm-4" data-ng-class="contact.address.regionChanged == true ? 'changedMarker' : ''" for="region">Ort:</label>
			    <div class="col-sm-8">
			      <input type="text" class="form-control" name="region" data-ng-disabled="disabled" data-ng-model="contact.address.region" data-ng-change="contact.address.regionChanged = true" placeholder="Ort" data-ng-minlength="2" data-ng-maxlength="60">
			    </div>
			    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.region.$error.minlength && !createContactForm.region.$pristine) || (type != 'CREATE' && createContactForm.region.$error.minlength)">Ort muss mindestens 2 Zeichen lang sein</div>
			    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.region.$error.maxlength && !createContactForm.region.$pristine) || (type != 'CREATE' && createContactForm.region.$error.maxlength)">Ort darf maximal 60 Zeichen lang sein</div>
			</div>
			<div class="form-group">
			    <label class="control-label col-sm-4" data-ng-class="contact.address.countryChanged == true ? 'changedMarker' : ''" for="country">Land:</label>
				<div class="col-sm-8">    
				    <select class="form-control" name="country" data-ng-disabled="disabled" data-ng-change="changedCountry(contact.address.country);contact.address.countryChanged = true" data-ng-model="contact.address.country" data-ng-options="country as country | translate for country in countryTypes">
					</select>
				</div>
			</div>
			<div class="form-group">
			    <label class="control-label col-sm-4" data-ng-class="contact.address.provinceTypeChanged == true ? 'changedMarker' : ''" for="provinceType">Bundesland:</label>
				<div class="col-sm-8">    
				    <select class="form-control" name="provinceType" data-ng-disabled="disabled" data-ng-model="contact.address.provinceType" data-ng-change="contact.address.provinceTypeChanged = true" data-ng-options="provinceType as provinceType | translate for provinceType in provinceTypesOfCountry">
					</select>
				</div>
			</div>
			<div class="form-group">
				<div>
				    <label class="control-label col-sm-4" data-ng-class="contact.emailsChanged == true ? 'changedMarker' : ''" for="email">Email- Adresse(n):</label>
				    <div class="col-sm-offset-4">
					    <div class="col-sm-8" style="margin-top:1px;" data-ng-repeat="email in contact.emails track by $index">
						     <table>
						      	<tr>
						      		<td>
						      			<input type="email" class="form-control" data-ng-disabled="disabled" name="email_{{$index}}" data-ng-change="contact.emailsChanged = true" data-ng-model="contact.emails[$index]" placeholder="Email- Adresse {{$index+1}}" data-ng-minlength="2" data-ng-maxlength="50">
						      		</td>
						      		<td><span>&nbsp;</span></td>
						      		<td><span class="glyphicon glyphicon-plus icon-hover" data-ng-click="addContactEmail();contact.emailsChanged = true" data-ng-show="$index == 0 && disabled == false" title="Email hinzuf&uuml;gen"></span></td>
						      		<td><span>&nbsp;</span></td>
						      		<td><span class="glyphicon glyphicon-minus icon-hover" data-ng-click="removeContactEmail($index);contact.emailsChanged = true" data-ng-show="$index > 0 && disabled == false" title="Email entfernen"></span></td>
						      	<tr>
						    </table>
						    <div class="errorMessage col-sm-offset-0" data-ng-show="createContactForm.email_{{$index}}.$error.minlength && !createContactForm.email_{{$index}}.$pristine">Email muss mindestens 2 Zeichen lang sein</div>
						    <div class="errorMessage col-sm-offset-0" data-ng-show="createContactForm.email_{{$index}}.$error.maxlength && !createContactForm.email_{{$index}}.$pristine">Email darf maximal 50 Zeichen lang sein</div>
						    <div class="errorMessage col-sm-offset-0" data-ng-show="(type == 'CREATE' && createContactForm.email_{{$index}}.$invalid && !createContactForm.email_{{$index}}.$pristine) || (type != 'CREATE' && createContactForm.email_{{$index}}.$invalid && createContactForm.email_{{$index}}.$pristine)">Email ist nicht g&uuml;ltig</div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div>
				    <label class="control-label col-sm-4" data-ng-class="contact.telephonesChanged == true ? 'changedMarker' : ''" for="telephones">Telefonnummer(n):</label>
				    <div class="col-sm-offset-4">
					    <div class="col-sm-8" style="margin-top:1px;" data-ng-repeat="telephone in contact.telephones track by $index">
					      <table>
					      	<tr>
					      		<td>
					      			<input type="tel" class="form-control" data-ng-disabled="disabled" name="telephone_{{$index}}" data-ng-model="contact.telephones[$index]" data-ng-change="contact.telephonesChanged = true" placeholder="Telefonnummer {{$index+1}}" data-ng-minlength="2" data-ng-maxlength="50">
					      		</td>
					      		<td><span>&nbsp;</span></td>
					      		<td><span class="glyphicon glyphicon-plus icon-hover" data-ng-click="addContactTelephone();contact.telephonesChanged = true" data-ng-show="$index == 0 && disabled == false" title="Telefonnummer hinzuf&uuml;gen"></span></td>
					      		<td><span>&nbsp;</span></td>
					      		<td><span class="glyphicon glyphicon-minus icon-hover" data-ng-click="removeContactTelephone($index);contact.telephonesChanged = true" data-ng-show="$index > 0 && disabled == false" title="Telefonnummer entfernen"></span></td>
					      	<tr>
					      </table>
					    </div>
					    <br />
					    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.telephone_{{$index}}.$error.minlength && !createContactForm.telephone_{{$index}}.$pristine) || (type != 'CREATE' && createContactForm.telephone_{{$index}}.$error.minlength)">Telefonnummer muss mindestens 2 Zeichen lang sein</div>
					    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.telephone_{{$index}}.$error.maxlength && !createContactForm.telephone_{{$index}}.$pristine) || (type != 'CREATE' && createContactForm.telephone_{{$index}}.$error.maxlength)">Telefonnummer darf maximal 50 Zeichen lang sein</div>
					</div>
				</div>
			</div>
			<div class="form-group" data-ng-hide="type == 'SHOW'">
				<div>
				    <label class="control-label col-sm-4" for="name">Homepage:</label>
				    <div class="col-sm-8">
				      <table>
				      	<tr>
				      		<td>
				      			<input type="text" class="form-control" data-ng-disabled="disabled" name="homepage" data-ng-model="contact.homepage" placeholder="Homepage http(s)://" data-ng-minlength="2" data-ng-maxlength="150">
				      		</td>
				      	<tr>
				      </table>
				    </div>
				    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.homepage.$error.minlength && !createContactForm.homepage.$pristine) || (type != 'CREATE' && createContactForm.homepage.$error.minlength)">Homepage- URL muss mindestens 2 Zeichen lang sein</div>
				    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.homepage.$error.maxlength && !createContactForm.homepage.$pristine) || (type != 'CREATE' && createContactForm.homepage.$error.maxlength)">Homepage- URL darf maximal 150 Zeichen lang sein</div>
				</div>
			</div>
			<div class="form-group" data-ng-hide="type == 'SHOW'">
				<div>
				    <label class="control-label col-sm-4" for="projectColor">Kontaktfarbe:</label>
				    <div class="col-sm-8">
				      <input type="color" data-ng-model="contact.color">
				    </div>
				</div>
			</div>
			<div class="form-group" data-ng-hide="type == 'SHOW'">
			    <label class="control-label col-sm-4" data-ng-class="contact.informationChanged == true ? 'changedMarker' : ''" for="addInfo">zus&auml;tzliche Informationen:</label>
				<div class="col-sm-8">    
				    <textarea class="form-control" rows="4" cols="35" data-ng-disabled="disabled" name="addInfo" data-ng-model="contact.information" data-ng-change="contact.informationChanged = true"></textarea>
				</div>
			</div>
			<br data-ng-hide="type == 'SHOW'" />
			<div class="form-group" data-ng-show="type == 'CREATE'">
				<div>
				    <label class="control-label col-sm-4" for="name">Produkte am Hauptstandort:</label>
				    <div class="col-sm-8">
				    	<div style="margin-top:5px;">
					    	<div data-ng-repeat="product in contact.products track by $index">
					    		<span class="glyphicon glyphicon-filter" style="color:{{product.color}}"></span> {{product.number}} {{product.name}}
					    		<span class="glyphicon glyphicon-minus icon-hover" data-ng-click="removeProduct($index)" title="Produkt entfernen"></span>
					    	</div>
					    </div>
				      	<input type="text" 
				      	   style="margin-top:10px;"
					       class="form-control" 
						   placeholder="Produkt suchen" 
						   data-ng-model="selectedProduct"
						   typeahead="product as product.number + ' ' + product.name for product in getProductsByTerm($viewValue)"
						   typeahead-min-length="2"
						   typeahead-wait-ms="100"
						   typeahead-editable="false" 
						   typeahead-on-select="productSelected(selectedProduct); selectedProduct = null;" />
						<span data-ng-show="productStillAdded == true" class="errorMessage">Produkt bereits hinzugef&uuml;gt</span>
				    </div>
				</div>
			</div>
			<hr data-ng-hide="type == 'SHOW'" />
			<div class="controlText" data-ng-hide="type == 'SHOW'">
				<span class="glyphicon glyphicon-plus icon-hover" data-ng-show="contact.accountAddress == null && disabled == false" data-ng-click="addAccountAddress()" title="Rechnungsadresse hinzuf&uuml;gen"></span> Rechnungsadresse hinzuf&uuml;gen:
			</div>
			<br data-ng-hide="type == 'SHOW'" />
			<div data-ng-show="contact.accountAddress != null && type != 'SHOW'">
				Rechnungsadresse: <span class="glyphicon glyphicon-minus icon-hover" data-ng-click="contact.accountAddress = null" title="Rechnungsadresse entfernen"></span>
				<br />
				<br />
				<div class="form-group">
				    <label class="control-label col-sm-4" for="name">Stra&szlig;e:</label>
				    <div class="col-sm-8">
				      <input type="text" class="form-control" name="accountAddressStreet" data-ng-disabled="disabled" data-ng-model="contact.accountAddress.street" placeholder="Strasse" data-ng-minlength="2" data-ng-maxlength="100">
				    </div>
				    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.accountAddressStreet.$error.minlength && !createContactForm.accountAddressStreet.$pristine) || (type != 'CREATE' && createContactForm.accountAddressStreet.$error.minlength)">Strasse muss mindestens 2 Zeichen lang sein</div>
				    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.accountAddressStreet.$error.maxlength && !createContactForm.accountAddressStreet.$pristine) || (type != 'CREATE' && createContactForm.accountAddressStreet.$error.maxlength)">Strasse darf maximal 100 Zeichen lang sein</div>
				</div>
				<div class="form-group">
				    <label class="control-label col-sm-4" for="name">Plz.:</label>
				    <div class="col-sm-3">
				      <input type="text" class="form-control zip" name="accountAddressPostalCode" data-ng-disabled="disabled" data-ng-model="contact.accountAddress.postalCode" placeholder="Plz" data-ng-minlength="4" data-ng-maxlength="10">
				    </div>
				    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.accountAddressPostalCode.$error.minlength && !createContactForm.accountAddressPostalCode.$pristine) || (type != 'CREATE' && createContactForm.accountAddressPostalCode.$error.minlength)">Postleitzahl muss mindestens 4 Zeichen lang sein</div>
				    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.accountAddressPostalCode.$error.maxlength && !createContactForm.accountAddressPostalCode.$pristine) || (type != 'CREATE' && createContactForm.accountAddressPostalCode.$error.maxlength)">Postleitzahl darf maximal 10 Zeichen lang sein</div>
				</div>
				<div class="form-group">
				    <label class="control-label col-sm-4" for="name">Ort:</label>
				    <div class="col-sm-8">
				      <input type="text" class="form-control" name="accountAddressRegion" data-ng-disabled="disabled" data-ng-model="contact.accountAddress.region" placeholder="Ort" data-ng-minlength="2" data-ng-maxlength="60">
				    </div>
				    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.accountAddressRegion.$error.minlength && !createContactForm.accountAddressRegion.$pristine) || (type != 'CREATE' && createContactForm.accountAddressRegion.$error.minlength)">Ort muss mindestens 2 Zeichen lang sein</div>
				    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.accountAddressRegion.$error.maxlength && !createContactForm.accountAddressRegion.$pristine) || (type != 'CREATE' && createContactForm.accountAddressRegion.$error.maxlength)">Ort darf maximal 60 Zeichen lang sein</div>
				</div>
				<div class="form-group">
				    <label class="control-label col-sm-4" for="country">Land:</label>
					<div class="col-sm-8">    
					    <select class="form-control" name="accountAddressCountry" data-ng-disabled="disabled" data-ng-change="changedAccountCountry(contact.accountAddress.country)" data-ng-model="contact.accountAddress.country" data-ng-options="country as country | translate for country in countryTypes">
						</select>
					</div>
				</div>
				<div class="form-group">
				    <label class="control-label col-sm-4" for="provinceType">Bundesland:</label>
					<div class="col-sm-8">    
					    <select class="form-control" name="accountAddressProvinceType" data-ng-disabled="disabled" data-ng-model="contact.accountAddress.provinceType" data-ng-options="provinceType as provinceType | translate for provinceType in provinceTypesOfAccountCountry">
						</select>
					</div>
				</div>
				<div class="form-group">
				    <label class="control-label col-sm-4" for="name">Email- Adresse:</label>
				    <div class="col-sm-8">
				      <input type="text" class="form-control" name="accountAddressEmail" data-ng-disabled="disabled" data-ng-model="contact.accountAddress.email" placeholder="Email- Adresse" data-ng-minlength="2" data-ng-maxlength="80">
				    </div>
				    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.accountAddressEmail.$error.minlength && !createContactForm.accountAddressEmail.$pristine) || (type != 'CREATE' && createContactForm.accountAddressEmail.$error.minlength)">Email muss mindestens 2 Zeichen lang sein</div>
				    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.accountAddressEmail.$error.maxlength && !createContactForm.accountAddressEmail.$pristine) || (type != 'CREATE' && createContactForm.accountAddressEmail.$error.maxlength)">Email darf maximal 80 Zeichen lang sein</div>
				</div>
			</div>
			<hr />
			<div class="controlText">
				<span data-ng-class="contact.contactImportedAddressesImportedChanged == true ? 'changedMarker' : ''"><span class="glyphicon glyphicon-plus icon-hover" data-ng-show="disabled == false" data-ng-click="addAddressWithProducts();contact.contactImportedAddressesImportedChanged = true" title="weiteren Standort hinzuf&uuml;gen"></span> Weiteren Standort hinzuf&uuml;gen ({{contact.addressesWithProducts.length || '0'}}):</span>
			</div>
			<br />
			<div style="background-color:#f9f9f9;padding:10px;" data-ng-repeat="addressWithProducts in contact.addressesWithProducts track by $index" data-ng-hide="hideAddressWithProducts(addressWithProducts)">
				<table>
					<tr>
						<td>weiterer Standort <span data-ng-show="contact.addressesWithProducts.length > 1">{{$index+1}}</span>:</td>
						<td><span class="glyphicon glyphicon-minus icon-hover" data-ng-show="disabled == false" data-ng-click="removeContactLocation($index);contact.contactImportedAddressesImportedChanged = true" title="weiteren Standort entfernen"></span></td>
						<td><span>&nbsp;</span></td>
						<td>
							<div class="dropdown dropdown-scroll">
							    <button class="btn btn-default dropdown-toggle buttonWithNoBorder controlButton" type="button" data-toggle="dropdown" title="Standort f&uuml;r User sperren">
							    	<span class="glyphicon glyphicon-erase icon-hover"></span>
							    	<span data-ng-show="(addressWithProducts.address.userIdBlackList.length + addressWithProducts.address.rolesBlackList.length) > 0">{{addressWithProducts.address.userIdBlackList.length + addressWithProducts.address.rolesBlackList.length}}</span>
							    </button>
							    <ul class="dropdown-menu dropdownMenu" data-ng-click="$event.stopPropagation()">
							        <li>
							        	<table>
											<tr>
												<td>
										            <div class="input-group input-group-sm search-control"> 
										            	<span class="input-group-addon">
										                    <span class="glyphicon glyphicon-search"></span>
														</span>
										                <input type="text" class="form-control" placeholder="Suchen" data-ng-model="query"></input>
										            </div>
										     	</td>
							            	</tr>
							        	</table>
							        </li>
							        <li data-ng-repeat="role in roles track by $index" data-ng-show="query == '' || query == null">
							        	<table> 
							        		<tr>
							        			<td><span>&nbsp;</span></td>
							        			<td style="min-width:20px;">
							        				<span class="glyphicon glyphicon-ok icon-hover" data-ng-show="isRoleBlackListed(role, addressWithProducts.address)" data-ng-click="removeBlackListRole(addressWithProducts.address, role)"></span>
							        			</td>
							        			<td><span>&nbsp;</span></td>
							        			<td>
							        				<span data-ng-click="addBlackListRole(addressWithProducts.address, role)">
							        					<span class="icon-hover"><span class="fa fa-users"></span> {{role | translate}}</span>
							        				</span>
							        			</td>
							        		</tr>
							        	</table>
							        </li>
							        <li data-ng-repeat="user in usersOfProject | filter:query" data-ng-hide="currentUser.id == user.id || user == null">
							        	<table>
							        		<tr>
							        			<td><span>&nbsp;</span></td>
							        			<td style="min-width:20px;">
							        				<span class="glyphicon glyphicon-ok icon-hover" data-ng-show="isBlackListed(user, addressWithProducts.address)" data-ng-click="removeBlackListId(addressWithProducts.address, user)"></span>
							        			</td>
							        			<td><span>&nbsp;</span></td>
							        			<td>
							        				<span class="icon-hover" data-ng-click="addBlackListId(addressWithProducts.address, user)">
							        					 <span class="glyphicon glyphicon-user" style="color:{{user.color}}"></span> {{user.title}} {{user.firstname}} {{user.surname}}
							        				</span>
							        			</td>
							        		</tr>
							        	</table> 
							        </li>
							    </ul>
							</div>
						</td>
					</tr>
				</table>
				<div class="form-group">
				    <label class="control-label col-sm-4" data-ng-class="contact.addressesWithProducts[$index].address.additionalInformationChanged == true ? 'changedMarker' : ''" for="additionalName">Standortname:</label>
				    <div class="col-sm-8">
				      <input type="text" class="form-control" name="addressLocationAdditionalInformation_{{$index}}" data-ng-disabled="disabled" data-ng-model="contact.addressesWithProducts[$index].address.additionalInformation" data-ng-change="contact.addressesWithProducts[$index].address.additionalInformationChanged = true" placeholder="Standortname" data-ng-minlength="2" data-ng-maxlength="150">
				    </div>
				    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.addressLocationAdditionalInformation_{{$index}}.$error.minlength && !createContactForm.addressLocationAdditionalInformation.$pristine) || (type != 'CREATE' && createContactForm.addressLocationAdditionalInformation_{{$index}}.$error.minlength)">Standortname muss mindestens 2 Zeichen lang sein</div>
				    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.addressLocationAdditionalInformation_{{$index}}.$error.maxlength && !createContactForm.addressLocationAdditionalInformation.$pristine) || (type != 'CREATE' && createContactForm.addressLocationAdditionalInformation_{{$index}}.$error.maxlength)">Standortname darf maximal 150 Zeichen lang sein</div>
				</div>
				<div class="form-group">
				    <label class="control-label col-sm-4" data-ng-class="contact.addressesWithProducts[$index].address.streetChanged == true ? 'changedMarker' : ''" for="street">Stra&szlig;e:</label>
				    <div class="col-sm-8">
				      <input type="text" class="form-control" name="addressesWithProductsStreet_{{$index}}" data-ng-disabled="disabled" data-ng-model="contact.addressesWithProducts[$index].address.street" data-ng-change="contact.addressesWithProducts[$index].address.streetChanged = true" placeholder="Strasse" data-ng-minlength="2" data-ng-maxlength="100">
				    </div>
				    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.addressesWithProductsStreet_{{$index}}.$error.minlength && !createContactForm.addressesWithProductsStreet.$pristine) || (type != 'CREATE' && createContactForm.addressesWithProductsStreet_{{$index}}.$error.minlength)">Strasse muss mindestens 2 Zeichen lang sein</div>
				    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.addressesWithProductsStreet_{{$index}}.$error.maxlength && !createContactForm.addressesWithProductsStreet.$pristine) || (type != 'CREATE' && createContactForm.addressesWithProductsStreet_{{$index}}.$error.maxlength)">Strasse darf maximal 100 Zeichen lang sein</div>
				</div>
				<div class="form-group">
				    <label class="control-label col-sm-4" data-ng-class="contact.addressesWithProducts[$index].address.postalCodeChanged == true ? 'changedMarker' : ''" for="postalCode">Plz.:</label>
				    <div class="col-sm-3">
				      <input type="text" class="form-control zip" name="addressLocationPostalCode_{{$index}}" data-ng-disabled="disabled" data-ng-model="contact.addressesWithProducts[$index].address.postalCode" data-ng-change="contact.addressesWithProducts[$index].address.postalCodeChanged = true" placeholder="Plz" data-ng-minlength="4" data-ng-maxlength="10">
				    </div>
				    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.addressLocationPostalCode_{{$index}}.$error.minlength && !createContactForm.addressLocationPostalCode.$pristine) || (type != 'CREATE' && createContactForm.addressLocationPostalCode_{{$index}}.$error.minlength)">Postleitzahl muss mindestens 4 Zeichen lang sein</div>
				    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.addressLocationPostalCode_{{$index}}.$error.maxlength && !createContactForm.addressLocationPostalCode.$pristine) || (type != 'CREATE' && createContactForm.addressLocationPostalCode_{{$index}}.$error.maxlength)">Postleitzahl darf maximal 10 Zeichen lang sein</div>
				</div>
				<div class="form-group">
				    <label class="control-label col-sm-4" data-ng-class="contact.addressesWithProducts[$index].address.regionChanged == true ? 'changedMarker' : ''" for="region">Ort:</label>
				    <div class="col-sm-8">
				      <input type="text" class="form-control" name="addressLocationRegion_{{$index}}" data-ng-disabled="disabled" data-ng-model="contact.addressesWithProducts[$index].address.region" data-ng-change="contact.addressesWithProducts[$index].address.regionChanged = true" placeholder="Ort" data-ng-minlength="2" data-ng-maxlength="60">
				    </div>
				    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.addressLocationRegion_{{$index}}.$error.minlength && !createContactForm.addressLocationRegion.$pristine) || (type != 'CREATE' && createContactForm.addressLocationRegion_{{$index}}.$error.minlength)">Ort muss mindestens 2 Zeichen lang sein</div>
				    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.addressLocationRegion_{{$index}}.$error.maxlength && !createContactForm.addressLocationRegion.$pristine) || (type != 'CREATE' && createContactForm.addressLocationRegion_{{$index}}.$error.maxlength)">Ort darf maximal 60 Zeichen lang sein</div>
				</div>
				<div class="form-group">
				    <label class="control-label col-sm-4" data-ng-class="contact.addressesWithProducts[$index].address.emailChanged == true ? 'changedMarker' : ''" for="email">Email- Adresse:</label>
				    <div class="col-sm-8">
				      <input type="text" class="form-control" name="addressLocationEmail_{{$index}}" data-ng-disabled="disabled" data-ng-model="contact.addressesWithProducts[$index].address.email" data-ng-change="contact.addressesWithProducts[$index].address.emailChanged = true" placeholder="Email- Adresse" data-ng-minlength="2" data-ng-maxlength="80">
				    </div>
				    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.addressLocationEmail_{{$index}}.$error.minlength && !createContactForm.addressLocationEmail.$pristine) || (type != 'CREATE' && createContactForm.addressLocationEmail_{{$index}}.$error.minlength)">Email muss mindestens 2 Zeichen lang sein</div>
				    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.addressLocationEmail_{{$index}}.$error.maxlength && !createContactForm.addressLocationEmail.$pristine) || (type != 'CREATE' && createContactForm.addressLocationEmail_{{$index}}.$error.maxlength)">Email darf maximal 80 Zeichen lang sein</div>
				</div>
				<div class="form-group">
				    <label class="control-label col-sm-4" data-ng-class="contact.addressesWithProducts[$index].address.telephoneChanged == true ? 'changedMarker' : ''" for="telephone">Telefonnummer:</label>
				    <div class="col-sm-8">
				      <input type="text" class="form-control" name="addressLocationtTelephone_{{$index}}" data-ng-disabled="disabled" data-ng-model="contact.addressesWithProducts[$index].address.telephone" data-ng-change="contact.addressesWithProducts[$index].address.telephoneChanged = true" placeholder="Telefonnummer" data-ng-minlength="2" data-ng-maxlength="80">
				    </div>
				    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.addressLocationtTelephone_{{$index}}.$error.minlength && !createContactForm.addressLocationtTelephone.$pristine) || (type != 'CREATE' && createContactForm.addressLocationtTelephone_{{$index}}.$error.minlength)">Telefonnummer muss mindestens 2 Zeichen lang sein</div>
				    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.addressLocationtTelephone_{{$index}}.$error.maxlength && !createContactForm.addressLocationtTelephone.$pristine) || (type != 'CREATE' && createContactForm.addressLocationtTelephone_{{$index}}.$error.maxlength)">Telefonnummer darf maximal 80 Zeichen lang sein</div>
				</div>
				<div class="form-group">
				    <label class="control-label col-sm-4" data-ng-class="contact.addressesWithProducts[$index].address.countryChanged == true ? 'changedMarker' : ''" for="country">Land:</label>
					<div class="col-sm-8">    
					    <select class="form-control" name="addressLocationCountry" data-ng-disabled="disabled" data-ng-change="changedAddressLocationCountry(contact.addressesWithProducts[$index], contact.addressesWithProducts[$index].address.country);contact.addressesWithProducts[$index].address.countryChanged = true" data-ng-model="contact.addressesWithProducts[$index].address.country" data-ng-options="country as country | translate for country in countryTypes">
						</select>
					</div>
				</div>
				<div class="form-group">
				    <label class="control-label col-sm-4" data-ng-class="contact.addressesWithProducts[$index].address.provinceTypeChanged == true ? 'changedMarker' : ''" for="provinceType">Bundesland:</label>
					<div class="col-sm-8">    
					    <select class="form-control" name="addressLocationProvinceType" data-ng-disabled="disabled" data-ng-model="contact.addressesWithProducts[$index].address.provinceType" data-ng-change="contact.addressesWithProducts[$index].address.provinceTypeChanged = true" data-ng-options="provinceType as provinceType | translate for provinceType in contact.addressesWithProducts[$index].addressLocationCountries">
						</select>
					</div>
				</div>
				<div class="form-group">
				    <label class="control-label col-sm-4" data-ng-class="contact.addressesWithProducts[$index].address.flfIdChanged == true ? 'changedMarker' : ''" for="email">Fortlaufende Nummer:</label>
				    <div class="col-sm-8">
				      <input type="text" class="form-control" name="flfId_{{$index}}" data-ng-disabled="disabled || type == 'SHOW'" data-ng-model="contact.addressesWithProducts[$index].address.flfId" data-ng-change="contact.addressesWithProducts[$index].address.flfIdChanged = true" placeholder="Fortlaufende Nummer" data-ng-minlength="2" data-ng-maxlength="80">
				    </div>
				    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.flfId_{{$index}}.$error.minlength && !createContactForm.flfId_{{$index}}.$pristine) || (type != 'CREATE' && createContactForm.flfId_{{$index}}.$error.minlength)">Fortlaufende Nummer muss mindestens 2 Zeichen lang sein</div>
				    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.flfId_{{$index}}.$error.maxlength && !createContactForm.flfId_{{$index}}.$pristine) || (type != 'CREATE' && createContactForm.flfId_{{$index}}.$error.maxlength)">Fortlaufende Nummer darf maximal 80 Zeichen lang sein</div>
				</div>
				<div class="form-group">
				    <label class="control-label col-sm-4" data-ng-class="contact.addressesWithProducts[$index].address.informationChanged == true ? 'changedMarker' : ''" for="email">Information:</label>
				    <div class="col-sm-8">
				      <input type="text" class="form-control" name="information_{{$index}}" data-ng-model="contact.addressesWithProducts[$index].address.information" data-ng-change="contact.addressesWithProducts[$index].address.flfIdChanged = true" placeholder="Information" data-ng-minlength="2" data-ng-maxlength="80">
				    </div>
				    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.flfId_{{$index}}.$error.minlength && !createContactForm.information_{{$index}}.$pristine) || (type != 'CREATE' && createContactForm.information_{{$index}}.$error.minlength)">Information muss mindestens 2 Zeichen lang sein</div>
				    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.flfId_{{$index}}.$error.maxlength && !createContactForm.information_{{$index}}.$pristine) || (type != 'CREATE' && createContactForm.information_{{$index}}.$error.maxlength)">Information darf maximal 80 Zeichen lang sein</div>
				</div>
				<div class="form-group" data-ng-show="type == 'CREATE'">
				    <label class="control-label col-sm-4" for="name">Produkte am Standort:</label>
				    <div class="col-sm-8">
				    	<div style="margin-top:5px;">
					    	<div data-ng-repeat="product in addressWithProducts.products track by $index">
					    		<span class="glyphicon glyphicon-filter" style="color:{{product.color}}"></span> {{product.number}} {{product.name}}
					    		<span class="glyphicon glyphicon-minus icon-hover" data-ng-click="removeProductAtLocation($index, addressWithProducts)" title="Produkt entfernen"></span>
					    	</div>
					    </div>
				      	<input type="text" 
				      	   style="margin-top:10px;"
					       class="form-control" 
						   placeholder="Produkt suchen" 
						   data-ng-model="selectedProduct"
						   typeahead="product as product.number + ' ' + product.name for product in getProductsByTerm($viewValue)"
						   typeahead-min-length="2"
						   typeahead-wait-ms="100"
						   typeahead-editable="false" 
						   typeahead-on-select="productSelectedAtLocation(selectedProduct, addressWithProducts); selectedProduct = null;"/>
						<span data-ng-show="addressWithProducts.productStillAdded == true" class="errorMessage">Produkt bereits hinzugef&uuml;gt</span>
				    </div>
				</div>
				<br />
				<br />
				<!-- Kontaktpersonen am Standort -->
				<div>
					<div class="controlText" data-ng-hide="type == 'SHOW'">
						<span class="glyphicon glyphicon-plus icon-hover" data-ng-show="disabled == false" data-ng-click="addContactPersonToAddressesWithProducts(contact.addressesWithProducts[$index])" title="Kontaktperson f&uuml;r den Standort hinzuf&uuml;gen"></span> Kontaktperson f&uuml;r den Standort hinzuf&uuml;gen:
					</div>
					<br data-ng-hide="type == 'SHOW'" />
					<div data-ng-repeat="contactPerson in contact.addressesWithProducts[$index].contactPersons track by $index" data-ng-hide="type == 'SHOW'">
						Kontaktperson des Standortes {{$index+1}}:
						<span class="glyphicon glyphicon-minus icon-hover" data-ng-click="removeContactPersonToAddressesWithProducts($index)" data-ng-show="disabled == false" title="Kontaktperson f&uuml;r den Standort entfernen"></span>
				  	 	<div class="form-group">
						    <label class="control-label col-sm-4" for="name">Titel:</label>
						    <div class="col-sm-6">
								<select class="form-control" data-ng-disabled="disabled" data-ng-model="contact.addressesWithProducts[$index].contactPersons[$index].title" data-ng-options="title.title as title.title for title in titles" style="width:100px;">
									<option></option>                                      
								</select>
						    </div>
						</div>    	 	
						<div class="form-group">
						    <label class="control-label col-sm-4" for="name">Vorname:</label>
						    <div class="col-sm-8">
						      <input type="text" class="form-control" name="addressesWithProducts_contactPerson_firstname_{{$index}}" data-ng-disabled="disabled" data-ng-model="contact.addressesWithProducts[$parent.$index].contactPersons[$index].firstname" placeholder="Vorname" data-ng-minlength="2" data-ng-maxlength="50">
						    </div>
						    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.addressesWithProducts_contactPerson_firstname_{{$index}}.$error.minlength && !createContactForm.addressesWithProducts_contactPerson_firstname_{{$index}}.$pristine) || (type != 'CREATE' && createContactForm.addressesWithProducts_contactPerson_firstname_{{$index}}.$error.minlength)">Vorname muss mindestens 2 Zeichen lang sein</div>
						    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.addressesWithProducts_contactPerson_firstname_{{$index}}.$error.maxlength && !createContactForm.addressesWithProducts_contactPerson_firstname_{{$index}}.$pristine) || (type != 'CREATE' && createContactForm.addressesWithProducts_contactPerson_firstname_{{$index}}.$error.maxlength)">Vorname darf maximal 50 Zeichen lang sein</div>
						</div>
						<div class="form-group">
						    <label class="control-label col-sm-4" for="name">Nachname:</label>
						    <div class="col-sm-8">
						      <input type="text" class="form-control" name="addressesWithProducts_contactPerson_surname_{{$index}}" data-ng-disabled="disabled" data-ng-model="contact.addressesWithProducts[$parent.$index].contactPersons[$index].surname" placeholder="Nachname" data-ng-minlength="2" data-ng-maxlength="50">
						    </div>
						    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.addressesWithProducts_contactPerson_surname_{{$index}}.$error.minlength && !createContactForm.addressesWithProducts_contactPerson_surname_{{$index}}.$pristine) || (type != 'CREATE' && createContactForm.addressesWithProducts_contactPerson_surname_{{$index}}.$error.minlength)">Nachname muss mindestens 2 Zeichen lang sein</div>
						    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.addressesWithProducts_contactPerson_surname_{{$index}}.$error.maxlength && !createContactForm.addressesWithProducts_contactPerson_surname_{{$index}}.$pristine) || (type != 'CREATE' && createContactForm.addressesWithProducts_contactPerson_surname_{{$index}}.$error.maxlength)">Nachname darf maximal 50 Zeichen lang sein</div>
						</div>
						<div class="form-group">
						    <label class="control-label col-sm-4" for="name">Abteilung:</label>
						    <div class="col-sm-8">
						      <input type="text" class="form-control" name="addressesWithProducts_contactPerson_department_{{$index}}" data-ng-disabled="disabled" data-ng-model="contact.addressesWithProducts[$parent.$index].contactPersons[$index].department" placeholder="Abteilung" data-ng-minlength="2" data-ng-maxlength="50">
						    </div>
						    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.addressesWithProducts_contactPerson_department_{{$index}}.$error.minlength && !createContactForm.addressesWithProducts_contactPerson_department_{{$index}}.$pristine) || (type != 'CREATE' && createContactForm.addressesWithProducts_contactPerson_department_{{$index}}.$error.minlength)">Abteilung muss mindestens 2 Zeichen lang sein</div>
						    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.addressesWithProducts_contactPerson_department_{{$index}}.$error.maxlength && !createContactForm.addressesWithProducts_contactPerson_department_{{$index}}.$pristine) || (type != 'CREATE' && createContactForm.addressesWithProducts_contactPerson_department_{{$index}}.$error.maxlength)">Abteilung darf maximal 50 Zeichen lang sein</div>
						</div>
						<div class="form-group">
							<div>
							    <label class="control-label col-sm-4" for="name">Email- Adresse(n):</label>
								<div class="col-sm-offset-4">
								    <div class="col-sm-8" style="margin-top:1px;" data-ng-repeat="email in contact.addressesWithProducts[$parent.$index].contactPersons[$index].emails track by $index">
								      <table>
								      	<tr>
								      		<td>
								      			<input type="email" class="form-control" name="addressesWithProducts_contactPerson_email_{{$parent.$index}}{{$index}}" data-ng-disabled="disabled" data-ng-model="contact.addressesWithProducts[$parent.$parent.$index].contactPersons[$parent.$index].emails[$index]" placeholder="Email- Adresse {{$index+1}}" data-ng-minlength="2" data-ng-maxlength="50">
								      		</td>
								      		<td><span>&nbsp;</span></td>
								      		<td><span class="glyphicon glyphicon-plus icon-hover" data-ng-click="addContactPersonAddressesWithProductsEmail(contact.addressesWithProducts[$parent.$parent.$index].contactPersons[$parent.$index])" data-ng-show="$index == 0 && disabled == false" title="Email hinzuf&uuml;gen"></span></td>
								      		<td><span>&nbsp;</span></td>
								      		<td><span class="glyphicon glyphicon-minus icon-hover" data-ng-click="removeContactPersonAddressesWithProductsEmail(contact.addressesWithProducts, $parent.$parent.$index, $parent.$index, $index)" data-ng-show="$index > 0 && disabled == false" title="Email entfernen"></span></td>
								      	<tr>
								      </table>
								    </div>
								    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.addressesWithProducts_contactPerson_email_{{$parent.$index}}{{$index}}.$error.minlength && !createContactForm.addressesWithProducts_contactPerson_email_{{$parent.$index}}{{$index}}.$pristine) || (type != 'CREATE' && createContactForm.addressesWithProducts_contactPerson_email_{{$parent.$index}}{{$index}}.$error.minlength)">Email muss mindestens 2 Zeichen lang sein</div>
								    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.addressesWithProducts_contactPerson_email_{{$parent.$index}}{{$index}}.$error.maxlength && !createContactForm.addressesWithProducts_contactPerson_email_{{$parent.$index}}{{$index}}.$pristine) || (type != 'CREATE' && createContactForm.addressesWithProducts_contactPerson_email_{{$parent.$index}}{{$index}}.$error.maxlength)">Email darf maximal 50 Zeichen lang sein</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div>
							    <label class="control-label col-sm-4" for="name">Telefonnummer(n):</label>
							   	<div class="col-sm-offset-4">
								    <div class="col-sm-8" style="margin-top:1px;" data-ng-repeat="telephone in contact.addressesWithProducts[$parent.$index].contactPersons[$index].telephones track by $index">
								      <table>
								      	<tr>
								      		<td>
								      			<input type="tel" class="form-control" name="addressesWithProducts_contactPerson_telephone_{{$parent.$index}}{{$index}}" data-ng-disabled="disabled" data-ng-model="contact.addressesWithProducts[$parent.$parent.$index].contactPersons[$parent.$index].telephones[$index]" placeholder="Telefonnummer {{$index+1}}" data-ng-minlength="2" data-ng-maxlength="50">
								      		</td>
								      		<td><span>&nbsp;</span></td>
								      		<td><span class="glyphicon glyphicon-plus icon-hover" data-ng-click="addContactPersonAddressesWithProductsTelephone(contact.addressesWithProducts[$parent.$parent.$index].contactPersons[$parent.$index])" data-ng-show="$index == 0 && disabled == false" title="Telefonnummer hinzuf&uuml;gen"></span></td>
								      		<td><span>&nbsp;</span></td>
								      		<td><span class="glyphicon glyphicon-minus icon-hover" data-ng-click="removeContactPersonAddressesWithProductsTelephone(contact.addressesWithProducts, $parent.$parent.$index, $parent.$index, $index)" data-ng-show="$index > 0 && disabled == false" title="Telefonnummer entfernen"></span></td>
								      	<tr>
								      </table>
								    </div>
								    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.addressesWithProducts_contactPerson_telephone_{{$parent.$index}}{{$index}}.$error.minlength && !ccreateContactForm.addressesWithProducts_contactPerson_telephone_{{$parent.$index}}{{$index}}.$pristine) || (type != 'CREATE' && createContactForm.addressesWithProducts_contactPerson_telephone_{{$parent.$index}}{{$index}}.$error.minlength)">Telefonnummer muss mindestens 2 Zeichen lang sein</div>
								    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.addressesWithProducts_contactPerson_telephone_{{$parent.$index}}{{$index}}.$error.maxlength && !createContactForm.addressesWithProducts_contactPerson_telephone_{{$parent.$index}}{{$index}}.$pristine) || (type != 'CREATE' && createContactForm.addressesWithProducts_contactPerson_telephone_{{$parent.$index}}{{$index}}.$error.maxlength)">Telefonnummer darf maximal 50 Zeichen lang sein</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div>
							    <label class="control-label col-sm-4" for="name">zus&auml;tzliche Informationen:</label>
							    <div class="col-sm-8">
							      <table>
							      	<tr>
							      		<td>
							      			<textarea class="form-control" rows="4" cols="35" data-ng-disabled="disabled" data-ng-model="contact.addressesWithProducts[$parent.$index].contactPersons[$index].additionalInformation"></textarea>
							      		</td>
							      	<tr>
							      </table>
							    </div>
							</div>
						</div>
					</div>	
				</div>
			</div>
			<hr data-ng-hide="type == 'SHOW'" />
			<div class="controlText" data-ng-hide="type == 'SHOW'">
				<span class="glyphicon glyphicon-plus icon-hover" data-ng-show="disabled == false" data-ng-click="addContactPerson()" title="Kontaktperson hinzuf&uuml;gen"></span> Kontaktperson hinzuf&uuml;gen:
			</div>
			<br data-ng-hide="type == 'SHOW'" />
			<div data-ng-repeat="contactPerson in contact.contactPersons track by $index" data-ng-hide="type == 'SHOW'">
				Kontaktperson {{$index+1}}:
				<span class="glyphicon glyphicon-minus icon-hover" data-ng-click="removeContactPerson($index)" data-ng-show="disabled == false" title="Kontaktperson entfernen"></span>
		  	 	<div class="form-group">
				    <label class="control-label col-sm-4" for="name">Titel:</label>
				    <div class="col-sm-6">
						<select class="form-control" data-ng-disabled="disabled" data-ng-model="contact.contactPersons[$index].title" data-ng-options="title.title as title.title for title in titles" style="width:100px;">
							<option></option>                                      
						</select>
				    </div>
				</div>    	 	
				<div class="form-group">
				    <label class="control-label col-sm-4" for="name">Vorname:</label>
				    <div class="col-sm-8">
				      <input type="text" class="form-control" name="firstname_{{$index}}" data-ng-disabled="disabled" data-ng-model="contact.contactPersons[$index].firstname" placeholder="Vorname" data-ng-minlength="2" data-ng-maxlength="50">
				    </div>
				    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.firstname_{{$index}}.$error.minlength && !createContactForm.firstname_{{$index}}.$pristine) || (type != 'CREATE' && createContactForm.firstname_{{$index}}.$error.minlength)">Vorname muss mindestens 2 Zeichen lang sein</div>
				    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.firstname_{{$index}}.$error.maxlength && !createContactForm.firstname_{{$index}}.$pristine) || (type != 'CREATE' && createContactForm.firstname_{{$index}}.$error.maxlength)">Vorname darf maximal 50 Zeichen lang sein</div>
				</div>
				<div class="form-group">
				    <label class="control-label col-sm-4" for="name">Nachname:</label>
				    <div class="col-sm-8">
				      <input type="text" class="form-control" name="surname_{{$index}}" data-ng-disabled="disabled" data-ng-model="contact.contactPersons[$index].surname" placeholder="Nachname" data-ng-minlength="2" data-ng-maxlength="50">
				    </div>
				    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.surname_{{$index}}.$error.minlength && !createContactForm.surname_{{$index}}.$pristine) || (type != 'CREATE' && createContactForm.surname_{{$index}}.$error.minlength)">Nachname muss mindestens 2 Zeichen lang sein</div>
				    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.surname_{{$index}}.$error.maxlength && !createContactForm.surname_{{$index}}.$pristine) || (type != 'CREATE' && createContactForm.surname_{{$index}}.$error.maxlength)">Nachname darf maximal 50 Zeichen lang sein</div>
				</div>
				<div class="form-group">
				    <label class="control-label col-sm-4" for="name">Abteilung:</label>
				    <div class="col-sm-8">
				      <input type="text" class="form-control" name="department_{{$index}}" data-ng-disabled="disabled" data-ng-model="contact.contactPersons[$index].department" placeholder="Abteilung" data-ng-minlength="2" data-ng-maxlength="50">
				    </div>
				    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.department_{{$index}}.$error.minlength && !createContactForm.department_{{$index}}.$pristine) || (type != 'CREATE' && createContactForm.department_{{$index}}.$error.minlength)">Abteilung muss mindestens 2 Zeichen lang sein</div>
				    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.department_{{$index}}.$error.maxlength && !createContactForm.department_{{$index}}.$pristine) || (type != 'CREATE' && createContactForm.department_{{$index}}.$error.maxlength)">Abteilung darf maximal 50 Zeichen lang sein</div>
				</div>
				<div class="form-group">
					<div>
					    <label class="control-label col-sm-4" for="name">Email- Adresse(n):</label>
						<div class="col-sm-offset-4">
						    <div class="col-sm-8" style="margin-top:1px;" data-ng-repeat="email in contact.contactPersons[$index].emails track by $index">
						      <table>
						      	<tr>
						      		<td>
						      			<input type="email" class="form-control" name="email_{{$parent.$index}}{{$index}}" data-ng-disabled="disabled" data-ng-model="contact.contactPersons[$parent.$index].emails[$index]" placeholder="Email- Adresse {{$index+1}}" data-ng-minlength="2" data-ng-maxlength="50">
						      		</td>
						      		<td><span>&nbsp;</span></td>
						      		<td><span class="glyphicon glyphicon-plus icon-hover" data-ng-click="addContactPersonEmail($parent.$index)" data-ng-show="$index == 0 && disabled == false" title="Email hinzuf&uuml;gen"></span></td>
						      		<td><span>&nbsp;</span></td>
						      		<td><span class="glyphicon glyphicon-minus icon-hover" data-ng-click="removeContactPersonEmail($parent.$index, $index)" data-ng-show="$index > 0 && disabled == false" title="Email entfernen"></span></td>
						      	<tr>
						      </table>
						    </div>
						    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.email_{{$parent.$index}}{{$index}}.$error.minlength && !createContactForm.email_{{$parent.$index}}{{$index}}.$pristine) || (type != 'CREATE' && createContactForm.email_{{$parent.$index}}{{$index}}.$error.minlength)">Email muss mindestens 2 Zeichen lang sein</div>
						    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.email_{{$parent.$index}}{{$index}}.$error.maxlength && !createContactForm.email_{{$parent.$index}}{{$index}}.$pristine) || (type != 'CREATE' && createContactForm.email_{{$parent.$index}}{{$index}}.$error.maxlength)">Email darf maximal 50 Zeichen lang sein</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div>
					    <label class="control-label col-sm-4" for="name">Telefonnummer(n):</label>
					   	<div class="col-sm-offset-4">
						    <div class="col-sm-8" style="margin-top:1px;" data-ng-repeat="telephone in contact.contactPersons[$index].telephones track by $index">
						      <table>
						      	<tr>
						      		<td>
						      			<input type="tel" class="form-control" name="telephone_{{$parent.$index}}{{$index}}" data-ng-disabled="disabled" data-ng-model="contact.contactPersons[$parent.$index].telephones[$index]" placeholder="Telefonnummer {{$index+1}}" data-ng-minlength="2" data-ng-maxlength="50">
						      		</td>
						      		<td><span>&nbsp;</span></td>
						      		<td><span class="glyphicon glyphicon-plus icon-hover" data-ng-click="addContactPersonTelephone($parent.$index)" data-ng-show="$index == 0 && disabled == false" title="Telefonnummer hinzuf&uuml;gen"></span></td>
						      		<td><span>&nbsp;</span></td>
						      		<td><span class="glyphicon glyphicon-minus icon-hover" data-ng-click="removeContactPersonTelephone($parent.$index, $index)" data-ng-show="$index > 0 && disabled == false" title="Telefonnummer entfernen"></span></td>
						      	<tr>
						      </table>
						    </div>
						    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.telephone_{{$parent.$index}}{{$index}}.$error.minlength && !ccreateContactForm.telephone_{{$parent.$index}}{{$index}}.$pristine) || (type != 'CREATE' && createContactForm.telephone_{{$parent.$index}}{{$index}}.$error.minlength)">Telefonnummer muss mindestens 2 Zeichen lang sein</div>
						    <div class="errorMessage col-sm-offset-4" data-ng-show="(type == 'CREATE' && createContactForm.telephone_{{$parent.$index}}{{$index}}.$error.maxlength && !createContactForm.telephone_{{$parent.$index}}{{$index}}.$pristine) || (type != 'CREATE' && createContactForm.telephone_{{$parent.$index}}{{$index}}.$error.maxlength)">Telefonnummer darf maximal 50 Zeichen lang sein</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div>
					    <label class="control-label col-sm-4" for="name">zus&auml;tzliche Informationen:</label>
					    <div class="col-sm-8">
					      <table>
					      	<tr>
					      		<td>
					      			<textarea class="form-control" rows="4" cols="35" data-ng-disabled="disabled" data-ng-model="contact.contactPersons[$index].additionalInformation"></textarea>
					      		</td>
					      	<tr>
					      </table>
					    </div>
					</div>
				</div>
			</div>
			<hr data-ng-hide="type == 'SHOW'" />
			<div class="controlText" data-ng-hide="type == 'SHOW'">
				Dokumente anh&auml;ngen:
			</div>
			<table data-ng-show="contact.contactAttachments.length > 0" style="margin-left:210px;" data-ng-hide="type == 'SHOW'">
				<tr data-ng-repeat="attachment in contact.contactAttachments track by $index">
					<td>
						{{$index+1}}. 
					</td>
					<td><span>&nbsp;</span></td>
					<td>
						<span class="icon-hover" data-ng-init="documentUrl = createDocumentUrl(currentUser, attachment)" data-ng-click="showTemplateModal(documentUrl, attachment)">
						    <img data-ng-src="assets/img/{{attachment.ending}}.PNG" alt="" document-file-icon-dispatch /> {{attachment.filename}} <span style="font-size:0.8em;">({{attachment.version.substr(1)}})</span>
						</span>
					</td>
					<td><span>&nbsp;</span></td>
					<td>
						<span class="glyphicon glyphicon-minus icon-hover" data-ng-click="removeFile($index)" title="Dokument entfernen"></span>
					</td>
				</tr>
			</table>
			<br data-ng-hide="type == 'SHOW'" />
			<div style="margin-left:180px;" data-ng-hide="type == 'SHOW'">
				<input type="text" 
			       class="form-control" 
			       style="width:200px;"
				   placeholder="Dokument suchen" 
				   data-ng-model="file"
				   data-ng-disabled="disabled"
				   typeahead="document as document.fileName for document in findDocumentsByTerm($viewValue)"
				   typeahead-min-length="2"
				   typeahead-wait-ms="100"
				   typeahead-editable="true"
				   typeahead-template-url = "documentContactTemplate.htm"  />
				<script type="text/ng-template" id="documentContactTemplate.htm">
					<div class="icon-hover">
    					<table class="table">
        					<thead>
            					<tr>
                					<th style="width: 63%"></th>
                					<th style="width: 5%"></th>
                					<th style="width: 32%"></th>
            					</tr>
        					</thead>
        					<tbody>
            					<tr data-ng-click="$event.stopPropagation()">
                					<td style="border:none;"><b>{{match.model.fileName}}</b></td>
                					<td style="border:none;"><span>&nbsp;</span></td>
                					<td style="border:none;">
                    					<div data-ng-repeat="documentFileVersion in match.model.documentFileVersions">
                       						<input type="checkbox" data-ng-model="selected" ng-true-value="true" ng-false-value="false" data-ng-click="match.model.vm.attachFile(selected, match.model, documentFileVersion)" /> {{documentFileVersion.version.substr(1)}}
                    					</div>
                					</td>
            					</tr>
        					</tbody>
    					</table>
					</div>
				</script>
			</div>
			<br />
			<hr data-ng-hide="type == 'SHOW'" />
			<br />
		    <div class="form-group" data-ng-show="['SUPER_ADMIN'].indexOf(currentUser.userRole)!=-1">
				<div>
				    <label class="control-label col-sm-4" for="name">Erstelldatum:</label>
				    <div class="col-sm-4">
				     	<p class="input-group" style="width:120px;">
					    	<input type="text"
			                            class="form-control"
			                            name="developmentDate"                                
			                            data-ng-model="contact.creationDate"
			                            datepicker-popup="dd.MM.yyyy"
			                            is-open="developmentDateDatePicker"
			                            close-text="schlie&szlig;en"
			                            current-text="heute"
			                            clear-text="l&ouml;schen"
			                            datepicker-options="{startingDay: 1}"
			                            placeholder="Datum"
			                            disabled>
			                  	<span class="input-group-btn">
			                       		<button type="button" class="btn btn-default btn-xs datePickerButton"                         		   
			                               data-ng-click="openDevelopmentDateDatePicker($event)">
			                               <span class="glyphicon glyphicon-calendar"></span>
			                            </button>
			                  	</span>
			              </p>
				    </div>
				</div>
			</div>
			<div class="form-group" data-ng-show="['SUPER_ADMIN'].indexOf(currentUser.userRole)!=-1">
				<div>
				    <label class="control-label col-sm-4" for="name">Importiert:</label>
				    <div class="col-sm-4" style="margin-top:6px;">
				     	<input type="checkbox" data-ng-true-value="true" data-ng-false-value="false" data-ng-model="contact.imported" />
				    </div>
				</div>
			</div>
			<div class="form-group" data-ng-show="['SUPER_ADMIN'].indexOf(currentUser.userRole)!=-1">
				<div>
				    <label class="control-label col-sm-4" for="name">Importdatum:</label>
				    <div class="col-sm-4">
				     	<p class="input-group" style="width:120px;">
					    	<input type="text"
			                            class="form-control"
			                            name="developmentDate"                                
			                            data-ng-model="contact.importationDate"
			                            datepicker-popup="dd.MM.yyyy"
			                            is-open="importationDateDatePicker"
			                            close-text="schlie&szlig;en"
			                            current-text="heute"
			                            clear-text="l&ouml;schen"
			                            datepicker-options="{startingDay: 1}"
			                            placeholder="Datum"
			                            disabled>
			                  	<span class="input-group-btn">
			                       		<button type="button" class="btn btn-default btn-xs datePickerButton"                         		   
			                               data-ng-click="openImportationDateDatePicker($event)">
			                               <span class="glyphicon glyphicon-calendar"></span>
			                            </button>
			                  	</span>
			              </p>
				    </div>
				</div>
			</div>
			<div class="form-group" data-ng-show="['SUPER_ADMIN'].indexOf(currentUser.userRole)!=-1">
				<div>
				    <label class="control-label col-sm-4" for="name">Import best&auml;tigt:</label>
				    <div class="col-sm-4" style="margin-top:6px;">
				     	<input type="checkbox" data-ng-true-value="true" data-ng-false-value="false" data-ng-model="contact.importConfirmed" />
				    </div>
				</div>
			</div>
			<div class="form-group" data-ng-show="['SUPER_ADMIN'].indexOf(currentUser.userRole)!=-1">
				<div>
				    <label class="control-label col-sm-4" for="name">Kunde seit:</label>
				    <div class="col-sm-4">
				     	<p class="input-group" style="width:120px;">
					    	<input type="text"
			                            class="form-control"
			                            name="developmentDate"                                
			                            data-ng-model="contact.customerSince"
			                            datepicker-popup="dd.MM.yyyy"
			                            is-open="customerSinceDateDatePicker"
			                            close-text="schlie&szlig;en"
			                            current-text="heute"
			                            clear-text="l&ouml;schen"
			                            datepicker-options="{startingDay: 1}"
			                            placeholder="Datum"
			                            disabled>
			                  	<span class="input-group-btn">
			                       		<button type="button" class="btn btn-default btn-xs datePickerButton"                         		   
			                               data-ng-click="openCustomerSinceDateDatePicker($event)">
			                               <span class="glyphicon glyphicon-calendar"></span>
			                            </button>
			                  	</span>
			              </p>
				    </div>
				</div>
			</div>
			<div class="form-group" data-ng-show="type != 'SHOW'">
			    <label class="control-label col-sm-4" for="name"></label>
				<div class="col-sm-8">    
				    <div class="col-sm-offset-7 col-sm-3">
				      <button type="submit" class="btn btn-default" data-ng-disabled="createContactForm.$invalid" style="margin-left:20px;">
				      	<span data-ng-show="type == 'CREATE'"> Kontakt anlegen</span> 
				      	<span data-ng-show="type == 'EDIT'"> Kontakt &auml;ndern</span> 
				      	<span class="glyphicon glyphicon-ok successMessage" data-ng-show="createContactClicked == true"></span>
				      </button>
				    </div>
				</div>
			</div>
		</div>
	</form>
</div>	
