<div class="yesNoFolderModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeYesNoModal()"></span>
        <h4 class="modal-title">Wollen Sie den Ordner wirklich l&ouml;schen?</h4>
    </div>
    <div class="modal-body">
        <span>Wollen Sie den Ordner <b>{{vm.folder.name}}</b> wirklich l&ouml;schen?</span>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" data-ng-click="vm.yes()">Ja</button>
        <button class="btn btn-default" type="button" data-ng-click="vm.no()">Nein</button>
    </div>
</div>