<form name="createOrUpdateTimeRegistrationForm" class="form-horizontal createOrUpdateTimeRegistrationForm" data-ng-submit="createOrUpdateTimeRegistration(timeRegistration)">
	<div class="col-md-12">	
  	 	<div class="form-group">
   	 		<label class="control-label col-sm-3 startLabel" for="startsAt">Start:<span class="mandatory">*</span></label>
   	 	 	<div class="col-sm-6">
	    		<table>
		    		<tr>
		    			<td>
		    				<p class="input-group">
						    	<input type="text"
				                            class="form-control dateInput"
				                            name="startsAt"                                
				                            data-ng-model="startDate"
				                            datepicker-popup="dd.MM.yyyy"
				                            is-open="startDatePicker"
				                            close-text="schlie&szlig;en"
				                            current-text="heute"
				                            clear-text="l&ouml;schen"
				                            datepicker-options="{startingDay: 1}"
				                            placeholder="Startdatum"
				                            disabled>
				                  	<span class="input-group-btn">
				                       		<button type="button" class="btn btn-default btn-xs datePickerButton"                         		   
				                               data-ng-click="openStartDatePicker($event)">
				                               <span class="glyphicon glyphicon-calendar"></span>
				                            </button>
				                  	</span>
							  </p>
		    			</td>
		    			<td>
		    				<datetimepicker 
								hour-step="1" 
						      	minute-step="1" 
						      	data-ng-model="startTime" 
						      	show-meridian="false" 
						      	show-date="false"
						      	show-spinners="true"
						      	readonly-time="false">
						   </datetimepicker>
		    			</td>
		    		</tr>
		    	</table>
	    	</div>
   		</div>
	   	<div class="form-group">
	   	 	<label class="control-label col-sm-3 endLabel" for="startsAt">Ende:<span class="mandatory">*</span></label>
	     	 <div class="col-sm-6">
			    <table>
		    		<tr>
		    			<td>
		    				<p class="input-group">
						    	<input type="text"
				                            class="form-control dateInput"
				                            name="endsAt"                                
				                            data-ng-model="endDate"
				                            datepicker-popup="dd.MM.yyyy"
				                            is-open="endDatePicker"
				                            close-text="schlie&szlig;en"
				                            current-text="heute"
				                            clear-text="l&ouml;schen"
				                            datepicker-options="{startingDay: 1}"
				                            placeholder="Enddatum"
				                            disabled>
				                  	<span class="input-group-btn">
				                       		<button type="button" class="btn btn-default btn-xs datePickerButton"                         		   
				                               data-ng-click="openEndDatePicker($event)">
				                               <span class="glyphicon glyphicon-calendar"></span>
				                            </button>
				                  	</span>
							  </p>
		    			</td>
		    			<td>
		    				<datetimepicker 
								hour-step="1" 
						      	minute-step="1" 
						      	data-ng-model="endTime" 
						      	show-meridian="false" 
						      	show-date="false"
						      	show-spinners="true"
						      	readonly-time="false">
						   </datetimepicker>
		    			</td>
		    		</tr>
		    	</table>
		    </div>
	   	</div>
		<div class="form-group">
		    <label class="control-label col-sm-3" for="name">Projekt:<span class="mandatory">*</span></label>
		    <div class="col-sm-5">
		      	<div class="dropdown dropdown-scroll">
				    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
				    	<span data-ng-show="timeRegistration.project == null">Projekt ausw&auml;hlen</span> 
				    	<span data-ng-show="timeRegistration.project != null">
				    		<span class="glyphicon glyphicon-folder-open" style="color:{{timeRegistration.project.color}}"></span>
				    		<b>{{timeRegistration.project.name}}</b>
				    	</span> 
				    	<span class="caret"></span>
				    </button>
				    <ul class="dropdown-menu">
				        <li role="presentation">      	
				            <div class="input-group input-group-sm search-control"> 
				            	<span class="input-group-addon">
				                    <span class="glyphicon glyphicon-search"></span>
								</span>
				                <input type="text" class="form-control" placeholder="Projekt suchen" data-ng-model="query"></input>
				            </div>
				        </li>
				        <li><span>&nbsp;</span></li>
				        <li role="presentation" data-ng-repeat="project in projects | filter:query">
				        	<table class="projectTable">
				        		<tr>
				        			<td>
				        				<span data-ng-show="project.selected == true" class="glyphicon glyphicon-ok icon-hover" data-ng-click="removeProject(project)"></span>
				        				<span data-ng-show="project.selected == false">&nbsp;&nbsp;&nbsp;</span>
				        			</td>
				        			<td><span>&nbsp;</span></td>
				        			<td>
				        				<span class="glyphicon glyphicon-folder-open" style="color:{{project.color}}"></span>
				        				<span class="icon-hover possibleProject" data-ng-click="addProject(project)">{{project.name}}</span>
				        			</td>
				        		</tr>
				        	</table> 
				        </li>
				    </ul>
				</div>
		    </div>
		</div>
		<div class="form-group">
   	 		<label class="control-label col-sm-3 startLabel" for="startsAt">T&auml;tigkeitstext:<span class="mandatory">*</span></label>
   	 	 	<div class="col-sm-8">
	    		<textarea rows="5" cols="60" class="form-control" name="timeRegistrationText" data-ng-model="timeRegistration.text" data-ng-minlength="10" required></textarea>
	    		<div class="errorMessage col-sm-offset-0" data-ng-show="createOrUpdateTimeRegistrationForm.timeRegistrationText.$error.minlength && !createOrUpdateTimeRegistrationForm.timeRegistrationText.$pristine">Der Text muss mindestens 10 Zeichen lang sein</div>
				<div class="errorMessage col-sm-offset-0" data-ng-show="createOrUpdateTimeRegistrationForm.timeRegistrationText.$error.maxlength && !createOrUpdateTimeRegistrationForm.timeRegistrationText.$pristine">Der Text darf maximal 1000 Zeichen lang sein</div>
	    	</div>
   		</div>
		<br />
		<div class="form-group">
		    <label class="control-label col-sm-6" for="name"></label>
			<div class="col-sm-6">    
			    <div class="col-sm-offset-4 col-sm-7">
			      <button type="submit" class="btn btn-default createOrUpdateTimeRegistrationButton" data-ng-disabled="createOrUpdateTimeRegistrationForm.$invalid">
			      	<span data-ng-show="type == 'CREATE'">Eintrag anlegen</span> 
			      	<span data-ng-show="type == 'EDIT'">Eintrag speichern</span> 
			      </button>
			    </div>
			</div>
		</div>
		<div class="errorMessage" data-ng-show="projectNotSetError == true">Projekt wurde nicht ausgew&auml;hlt</div>
	</div>
</form>