<div class="textTemplateModal modal-movable">
	<span class="glyphicon glyphicon-move icon-hover" style="margin-left:0px;margin-top:0px !important;position: absolute;"></span>
	<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeTextTemplateModal()"></span>
	<div class="textPreviewWrapper">
		<span style="margin-left:20px;">Name: <b>{{vm.documentName}}</b> - Version <b>{{vm.version.substr(1)}}</b></span>
		<br />
		<br />
		<pre class="preview" data-ng-include src="vm.url"></pre><br />
	</div>
</div>