<div class="yesNoModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeYesNoModal()"></span>
        <h4 class="modal-title"><span class="glyphicon glyphicon-comment"></span> Wollen Sie diesen Eintrag wirklich l&ouml;schen?</h4>
    </div>
    <div class="modal-body">
        <span>Wollen Sie den Arbeitsauftrags- Eintrag an 
        <span class="glyphicon glyphicon-user" style="color:{{vm.communicationUserConnection.userReceivedMessage.color}}"></span>
        {{vm.communicationUserConnection.userReceivedMessage.title}}
        <b>{{vm.communicationUserConnection.userReceivedMessage.firstname}} {{vm.communicationUserConnection.userReceivedMessage.surname}}</b> 
        f&uuml;r das Projekt <b>{{vm.communicationUserConnection.project.name}}</b> mit dem Erledigungsdatum 
        <b>{{vm.communicationUserConnection.executionDate}}</b> wirklich l&ouml;schen?</span>
        
        <br />
        <br />
        
        <div class="errorMessage" data-ng-show="vm.communicationUserConnection.executed === false && vm.communicationUserConnection.executionDate != null">
        	Dieser Arbeitsauftrag kann nicht gel&ouml;scht werden, weil ein Erledigt- Datum gesetzt und noch nicht ausgef&uuml;hrt wurde        
        </div>
        
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" data-ng-click="vm.yes()" data-ng-disabled="vm.communicationUserConnection.executed === false && vm.communicationUserConnection.executionDate != null">Ja</button>
        <button class="btn btn-default" type="button" data-ng-click="vm.no()">Nein</button>
    </div>
</div>