<ul class="nav navbar-nav navbar-right">
	<li class="dropdown" dropdown>
    	<a href="#" class="dropdown-toggle" dropdown-toggle role="button" aria-expanded="false" style="height:56px;">
    		<img style="margin-top:-14px;margin-bottom:-10px;height:40px;width:40px;border-radius:20px;" src="{{vm.imageUrl}}" alt="ProfileImage" />
    		{{vm.user.username}} <span class="caret"></span>
    	</a>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li>
            	<a href="#" ui-sref="auth.userprofile({userId: '{{ vm.user.id }}'})">
            		<span class="glyphicon glyphicon-user"></span>
            		<translate>NAV.USERPANEL.MYPROFILE_LABEL</translate>
            	</a>
            </li>
	        <li class="divider"></li>
	        <li data-ng-click="vm.logout()">
	        	<a href="#">
	        		<span class="glyphicon glyphicon-log-out"></span>
	        		<translate>NAV.USERPANEL.LOGOUT_LABEL</translate>
	        	</a>
	        </li>
        </ul>
    </li>
</ul>