<div class="search">	
	<div class="row clearfix">
		<div class="breadcrumb">
			<span class="explanation"><span class="glyphicon glyphicon-search"></span> Suche in allen oder ausgew&auml;hlten Kategorien</span>
			<span class="logo">wdm</span>
		</div>
	    <div class="col-md-10 column">
	    	<div class="controlContainer non-printable">	
		    	<table>
		    		<tr>
		    			<td>
		    				<toggle class="searchCategorieItem" data-ng-show="vm.currentUser.userAuthorizationUserContainer.userAuthorizations[0].state == true" data-ng-init="vm.projects = false" data-ng-model="vm.projects" data-ng-click="vm.categorieChanged('PROJECTS', vm.projects)" on="<span class='glyphicon glyphicon-folder-open'></span> Projekte" off="<span class='glyphicon glyphicon-folder-open'></span> Projekte" data-width="110"></toggle>
		    				<toggle class="searchCategorieItem" data-ng-show="vm.currentUser.userAuthorizationUserContainer.userAuthorizations[3].state == true" data-ng-init="vm.products = false" data-ng-model="vm.products" data-ng-click="vm.categorieChanged('PRODUCTS', vm.products)" on="<span class='glyphicon glyphicon-filter'></span> Produkte" off="<span class='glyphicon glyphicon-filter'></span> Produkte" data-width="115"></toggle>
		    				<toggle class="searchCategorieItem" data-ng-show="vm.currentUser.userAuthorizationUserContainer.userAuthorizations[0].state == true || vm.currentUser.userAuthorizationUserContainer.userAuthorizations[3].state == true" data-ng-init="vm.files = false" data-ng-model="vm.files" data-ng-click="vm.categorieChanged('DOCUMENTS', vm.files)" on="<span class='glyphicon glyphicon-file'></span> Dokumente" off="<span class='glyphicon glyphicon-file'></span> Dokumente" data-width="130"></toggle>
		    				<toggle class="searchCategorieItem" data-ng-show="vm.currentUser.userAuthorizationUserContainer.userAuthorizations[6].state == true" data-ng-init="vm.calendar = false" data-ng-model="vm.calendar" data-ng-click="vm.categorieChanged('CALENDAR', vm.calendar)" on="<span class='glyphicon glyphicon-calendar'></span> Kalender" off="<span class='glyphicon glyphicon-calendar'></span> Kalender" data-width="120"></toggle>
		    				<toggle class="searchCategorieItem" data-ng-show="vm.currentUser.userAuthorizationUserContainer.userAuthorizations[9].state == true" data-ng-init="vm.contacts = false" data-ng-model="vm.contacts" data-ng-click="vm.categorieChanged('CONTACTS', vm.contacts)" on="<span class='glyphicon glyphicon-home'></span> Kontakte" off="<span class='glyphicon glyphicon-home'></span> Kontakte" data-width="120"></toggle>
		    				<toggle class="searchCategorieItem" data-ng-show="vm.currentUser.userAuthorizationUserContainer.userAuthorizations[12].state == true" data-ng-init="vm.communication = false" data-ng-model="vm.communication" data-ng-click="vm.categorieChanged('COMMUNICATION', vm.communication)" on="<span class='glyphicon glyphicon-comment'></span> Arbeitsauftr&auml;ge" off="<span class='glyphicon glyphicon-comment'></span> Arbeitsauftr&auml;ge" data-width="160"></toggle>
		    				<toggle class="searchCategorieItem" data-ng-show="vm.currentUser.userAuthorizationUserContainer.userAuthorizations[15].state == true" data-ng-init="vm.timeRegistration = false" data-ng-model="vm.timeRegistration" data-ng-click="vm.categorieChanged('TIME_REGISTRATION', vm.timeRegistration)" on="<span class='glyphicon glyphicon-time'></span> Zeiterfassung" off="<span class='glyphicon glyphicon-time'></span> Zeiterfassung" data-width="140"></toggle>
		    			</td>
		    		</tr>
		    	</table>
		    </div>
		   	<br />
		   	<br />
		    <div class="searchInputContainer non-printable">
		    	<table>
		    		<tr>
		    			<td><span class="glyphicon glyphicon-search"></span></td>
						<td><span>&nbsp;</span></td>
						<td><input class="form-control searchInput" type="text" style="border-top-right-radius:0px;border-bottom-right-radius:0px;" data-ng-model="vm.searchString" placeholder="Suchbegriff eingeben" data-ng-enter="vm.search()" /></td>
						<td>
							<button class="btn btn-default" type="button" data-ng-click="vm.search()" style="border-left:none;border-top-left-radius:0px;border-bottom-left-radius:0px;" data-ng-disabled="vm.loadingSearchResults == true" data-toggle="dropdown">Suchen</span>
							</button>
						</td>
						<td><span>&nbsp;</span></td>
						<td>
							<div class="dropdown dropdown-scroll">
							    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Tags <span class="caret"></span>
							    </button>
							    <ul class="dropdown-menu" data-ng-click="$event.stopPropagation()">
							        <li>
							        	<table>
											<tr>
												<td><span>&nbsp;</span></td>
												<td><span>&nbsp;</span></td>
												<td>
										            <div class="input-group input-group-sm search-control"> 
										            	<span class="input-group-addon">
										                    <span class="glyphicon glyphicon-search"></span>
														</span>
										                <input type="text" class="form-control" placeholder="Suchen" data-ng-model="query"></input>
										            </div>
										     	</td>
										     	<td><span>&nbsp;</span></td>
										     	<td><span>&nbsp;</span></td>
							            		<td><span class="glyphicon glyphicon-sort-by-alphabet icon-hover" data-ng-click="vm.labelOrder == 'name' ? vm.labelOrder = '-name' : vm.labelOrder = 'name'"></span></td>
							            		<td><span>&nbsp;</span></td>
							            		<td><span>&nbsp;</span></td>
							            		<td><span class="glyphicon glyphicon-sort-by-order icon-hover" data-ng-click="vm.labelOrder == 'labelsPredefinedType' ? vm.labelOrder = '-labelsPredefinedType' : vm.labelOrder = 'labelsPredefinedType'"></span></td>
							            		<td><span>&nbsp;</span></td>
							            		<td><span>&nbsp;</span></td>
							            	</tr>
							        	</table>
							        </li>
							        <li><span>&nbsp;</span></li>
							        <li data-ng-repeat="labelPredefined in vm.labelsPredefined | orderBy:vm.labelOrder | filter:query">
							        	<table class="labelsPredefinedTable">
							        		<tr>
							        			<td><span>&nbsp;</span></td>
							        			<td><span>&nbsp;</span></td>
							        			<td>
							        				<span class="glyphicon glyphicon-tag successMessage" data-ng-show="labelPredefined.labelsPredefinedType == 'DESCRIPTIVE'" title="Beschreibung"></span>
	    											<span class="glyphicon glyphicon-tag errorMessage" data-ng-show="labelPredefined.labelsPredefinedType == 'CONTENT'" title="Inhalt"></span>
	    											<span class="glyphicon glyphicon-tag productTagColor" data-ng-show="labelPredefined.labelsPredefinedType == 'PRODUCT_DESCRIPTIVE'" title="Produkt- Beschreibung"></span>
							        			</td>
							        			<td><span>&nbsp;</span></td>
							        			<td><span>&nbsp;</span></td>
							        			<td><span class="icon-hover" data-ng-click="vm.searchForLabel(labelPredefined.name)">{{labelPredefined.name}}</span></td>
							        		</tr>
							        	</table> 
							        </li>
							    </ul>
							</div>
						</td>
						<td><span>&nbsp;</span></td>
						<td><span class="glyphicon glyphicon-remove-circle icon-hover" data-ng-class="vm.searchString.length >= 3 ? 'errorMessage' : ''" data-ng-click="vm.removeSearchString()"></span></td>
						<td><span>&nbsp;</span></td>
						<td><span>&nbsp;</span></td>
						<td><span>&nbsp;</span></td>
						<td><span>&nbsp;</span></td>
						<td><span class="fa fa-file-pdf-o icon-hover" style="margin-right:10px;margin-top:2px;color:#777;" data-ng-click="vm.printContainer('searchResultsId', 'Suchergebnisse')" title="Suchergebnisse herunterladen"></span></td>
		    		</tr>
		    	</table>
		    </div>
		    <br />
		    <br />
		    <span data-ng-show="vm.searchResults.length == 0"><b>kein(e)</b> Ergebnis(se) gefunden</span>
		    <span data-ng-show="vm.searchResults.length > 0"><b>{{vm.searchResults.length}}</b> Ergebnis(se) gefunden:</span>
		    <div class="loadingContainer" data-ng-show="vm.loadingSearchResults">
		    	<img src="assets/img/loading.gif" />
		    </div>
		    <br />
		    <br />
		    <div id="searchResultsId">
			    <div data-ng-repeat="searchResult in vm.searchResults track by $index" data-ng-switch="searchResult.applicationCategorie" data-ng-class-odd="'odd'" data-ng-class-even="'even'">
   					<div class="row" data-ng-switch-when="PROJECTS" style="margin-top:-25px;">
		    			<div class="col-md-2">
		    				<span class="glyphicon glyphicon-folder-open" title="Projekt- Eintrag" data-ng-style="{'color': searchResult.projectUserConnection.project.color}"></span>  		
		   					<span class="icon-hover" data-ui-sref="auth.project({userId: '{{vm.currentUser.id}}', type: 'PROJECT', projectUserConnectionId: '{{ searchResult.projectUserConnection.id }}', projectOrProductId: '{{ searchResult.projectUserConnection.project.id }}', folderId: ''})">
								<span data-ng-bind-html="searchResult.projectUserConnection.project.name | typeaheadHighlight:vm.purgeSearchString(vm.searchString)"></span>
							</span>
						</div>
		    			<div class="col-md-2">
		    				<span data-ng-bind-html="searchResult.projectUserConnection.project.description | typeaheadHighlight:vm.purgeSearchString(vm.searchString)"></span>
		    				<span data-ng-show="searchResult.projectUserConnection.project.description == ''">--</span>
		    			</div>
		    			<div class="col-md-1">	
		    				{{searchResult.projectUserConnection.projectUserConnectionRole | translate}}
		    			</div>
		    			<div class="col-md-3">	
		    				am {{searchResult.projectUserConnection.project.creationDate}} angelegt
		    			</div>
						<div class="col-md-2">
							<span data-ng-show="searchResult.projectUserConnection.project.start != null"> 
								am {{searchResult.projectUserConnection.project.start | date:'dd.MM.yyyy'}} gestartet
							</span>
							<span data-ng-show="searchResult.projectUserConnection.project.start == null">
								kein Startdatum
							</span>
						</div>
						<div class="column-2">
							<span data-ng-show="searchResult.projectUserConnection.project.end != null"> 
								am {{searchResult.projectUserConnection.project.end | date:'dd.MM.yyyy' }} beendet
							</span>
							<span data-ng-show="searchResult.projectUserConnection.project.end == null">
								kein Enddatum
							</span>
						</div>
		    		</div>
		    		<div class="row" data-ng-switch-when="PRODUCTS" data-context-menu="contextMenuSearch.html" title="Erstellt am {{searchResult.product.creationDate}}">
		    			<div class="col-md-3">
		   					<span class="icon-hover" data-ui-sref="auth.project({userId: '{{vm.currentUser.id}}', type: 'PRODUCT', projectUserConnectionId: '', projectOrProductId: '{{ searchResult.product.id }}', folderId: ''})" title="{{searchResult.product.score}}">
								<span class="glyphicon glyphicon-ban-circle errorMessage icon-hover blinkText" data-ng-show="searchResult.product.inactive" title="Produkt eingestellt am {{searchResult.product.inactiveDate}}: {{searchResult.product.inactiveMessage}}"></span>
								<span class="glyphicon glyphicon-filter" data-ng-style="{'color': searchResult.product.color}"></span>  
								<span data-ng-bind-html="searchResult.product.number | typeaheadHighlight:vm.purgeSearchString(vm.searchString)"></span>		
								<span data-ng-bind-html="searchResult.product.name | typeaheadHighlight:vm.purgeSearchString(vm.searchString)"></span>
							</span>
						</div>
		    			<div class="col-md-3">
							<span class="typeLabel" style="margin-left:3px;" data-ng-repeat="type in searchResult.product.types track by $index" data-ng-switch="type">
							 <span data-ng-switch-when="LAB_CHEMICAL">
							 	<span class="fa fa-circle" aria-hidden="true" style="color:#46bfbd"></span> {{(type | translate) || '--'}}
							 </span>
							 <span data-ng-switch-when="RAW_MATERIAL">
							 	<span class="fa fa-circle" aria-hidden="true" style="color:#97bbcd"></span> {{(type | translate) || '--'}}
							 </span>
							 <span data-ng-switch-when="TRADING_GOODS">
							 	<span class="fa fa-circle" aria-hidden="true" style="color:#dcdcdc"></span> {{(type | translate) || '--'}}
							 </span>
							 <span data-ng-switch-when="BLEND">
							 	<span class="fa fa-circle" aria-hidden="true" style="color:#f7464a"></span> {{(type | translate) || '--'}}
							 </span>
						</span>
						<span data-ng-show="searchResult.product.types.length == 0">keine Art hinterlegt</span>
		    			</div>
		    			<div  class="col-md-2">
		    				<span class="badge receipeBackgroundColor" title="Anzahl der Rezepte f&uuml;r das Produkt {{searchResult.product.name}}">R {{searchResult.product.amountOfReceipes}}</span>
							<span class="badge mixtureBackgroundColor" title="Anzahl der Mischungen f&uuml;r das Produkt {{searchResult.product.name}}">M {{searchResult.product.amountOfMixtures}}</span>
							<span class="badge thinningBackgroundColor" title="Anzahl der Verd&uuml;nnungen f&uuml;r das Produkt {{searchResult.product.name}}">V {{searchResult.product.amountOfThinnings}}</span>
		    			</div>	    			
						<div class="col-md-3">
							am <b>{{searchResult.product.developmentDate.split(' ')[0] || '--'}}</b> entwickelt
						</div>
						<div class="column-1">
							<span class="glyphicon glyphicon-info-sign icon-hover" data-ng-init="searchResult.product.openAdditionalInfo = false" data-ng-click="searchResult.product.openAdditionalInfo = !searchResult.product.openAdditionalInfo"></span>
						</div>
						<div data-ng-show="searchResult.product.openAdditionalInfo == true" style="background-color:#fff;width:100%;margin-top:25px;">
							<table style="width:100%;">
								<tr >
						    		<td colspan="10">
						    			<div style="background-color:#eee;padding:2px;border-radius:4px;font-weight:bold;">
						    				<span class="glyphicon glyphicon-filter"></span> Produkteigenschaften:
						    			</div>
						    			<table class="table borderless">
						    				<tr>
						    					<td style="width:200px;">
						    						weitere Bezeichnungen:
						    					</td>
						    					<td>
						    						<span>&nbsp;</span>
						    					</td>
							    				<td>
							    					<div data-ng-repeat="name in searchResult.product.names">
														{{name}}
													</div>
												</td>
											</tr>
						    				<tr>
						    					<td style="width:200px;">
						    						Chemische Beschreibung:
						    					</td>
						    					<td>
						    						<span>&nbsp;</span>
						    					</td>
							    				<td>
													{{searchResult.product.chemicalDescription}}
												</td>
											</tr>
											<tr>
						    					<td>
						    						Dichte des Produktes:
						    					</td>
						    					<td>
						    						<span>&nbsp;</span>
						    					</td>
							    				<td>
													{{searchResult.product.density}}
												</td>
											</tr>
											<tr>
						    					<td>
						    						Gebinde[l]:
						    					</td>
						    					<td>
						    						<span>&nbsp;</span>
						    					</td>
							    				<td>
							    					<table>
							    						<tr data-ng-repeat="productFillingWeight in searchResult.product.productFillingWeights track by $index">
							    							<td>{{productFillingWeight.fillingWeight}}:</td>
							    							<td><span>&nbsp;</span></td>
							    							<td><span>&nbsp;</span></td>
							    							<td>{{productFillingWeight.information || '--'}}</td>
							    						</tr>
							    					</table>
												</td>
											</tr>
										</table>
										<div style="background-color:#eee;padding:2px;border-radius:4px;font-weight:bold;">
											<span class="glyphicon glyphicon-home"></span> Hersteller / Lieferanten:
										</div>
										<table class="table borderless">
											<tr data-ng-repeat-start="contactProduct in searchResult.product.contactsProduct track by $index">
												<td>
													{{$index+1}}. {{contactProduct.contact.institution}} {{contactProduct.contact.address.postalCode}} {{contactProduct.contact.address.region}}
													<img data-ng-src="assets/img/{{contactProduct.contact.address.country}}.png" style="margin-top:-2px;" />
												</td>
											</tr>
											<tr data-ng-repeat-end="">
												<td colspan="4">
													<div data-ng-repeat="productLocationAndOrderConstruction in contactProduct.productLocationAndOrderConstructions track by $index">
														<div class="distanceLeft"> 
															<div>
																<span class="glyphicon glyphicon-home"></span> Standort {{$index+1}}:
															</div>
															<table class="distanceLeft">
																<tr>
																	<td>Stra&szlig;e</td>
																	<td><span>&nbsp;</span></td>
																	<td>{{productLocationAndOrderConstruction.address.street}}</td>
																</tr>
																<tr>
																	<td>Ort</td>
																	<td><span>&nbsp;</span></td>
																	<td>{{productLocationAndOrderConstruction.address.postalCode}} {{productLocationAndOrderConstruction.address.region}}</td>
																</tr>
																<tr>
																	<td>Bundesland</td>
																	<td><span>&nbsp;</span></td>
																	<td>{{productLocationAndOrderConstruction.address.provinceType | translate}}</td>
																</tr>
																<tr>
																	<td>Land</td>
																	<td><span>&nbsp;</span></td>
																	<td>
																		{{productLocationAndOrderConstruction.address.country | translate}}
																		<img data-ng-src="assets/img/{{productLocationAndOrderConstruction.address.country}}.png" style="margin-top:-2px;" />
																	</td>
																</tr>
															</table>
															<div class="distanceLeft">
																<div style="background-color:#eee;max-width:210px;">
																	<span class="glyphicon glyphicon-pencil"></span> Bestellinformation Standort {{$index+1}}:<br />
																</div>
																<div class="distanceLeft">{{productLocationAndOrderConstruction.orderConstruction}}</div>
															</div>
														</div>
														<br />
													</div>
												</td>
											</tr>
										</table>
						    		</td>
						    	</tr>
							</table>
						</div>
			 <script type="text/ng-template" id="contextMenuSearch.html">
					<div style="width:400px;padding:8px;background-color:#fff;border:1px solid #ccc;border-radius:2px;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);" data-ng-hide="vm.userAuthorizationUserContainer.userAuthorizations[4].state == false || (vm.userAuthorizationUserContainer.userAuthorizations[24].state == false && vm.userAuthorizationUserContainer.userAuthorizations[27].state == false && vm.userAuthorizationUserContainer.userAuthorizations[30].state == false)">
						Optionen f&uuml;r das Produkt <span class="glyphicon glyphicon-filter" style="color:{{searchResult.product.color}}"></span> <b>{{searchResult.product.name}}</b> ({{searchResult.product.number}}):
						<br />
						<div style="padding:5px;" class="receipeBackgroundColor" data-ng-hide="vm.userAuthorizationUserContainer.userAuthorizations[24].state == false">
							<table style="margin-left:20px;margin-top:5px;" class="icon-hover">
								<tr data-ng-click="vm.createReceipe(searchResult.product, 'STANDARD_MIXTURE')" data-ng-hide="vm.userAuthorizationUserContainer.userAuthorizations[24].state == false">
									<td><span class="glyphicon glyphicon-copy"></span></td>
									<td><span>&nbsp;</span></td>
									<td>Rezept anlegen</td>
								</tr>
								<tr data-ng-click="vm.editAndDeleteReceipe(searchResult.product, 'STANDARD_MIXTURE')" data-ng-hide="vm.userAuthorizationUserContainer.userAuthorizations[25].state == false && vm.userAuthorizationUserContainer.userAuthorizations[26].state == false">
									<td><span class="glyphicon glyphicon-edit"></span></td>
									<td><span>&nbsp;</span></td>
									<td>Rezepte &auml;ndern / l&ouml;schen</td>
								</tr>	
								<tr data-ng-click="vm.historyOfReceipe(searchResult.product, 'STANDARD_MIXTURE')">
									<td><span class="glyphicon glyphicon-road"></span></td>
									<td><span>&nbsp;</span></td>
									<td>Rezept Historie (drucken)</td>
								</tr>
							</table>
						</div>
						<div style="padding:5px;" class="mixtureBackgroundColor" data-ng-hide="vm.userAuthorizationUserContainer.userAuthorizations[27].state == false">
							<table style="margin-left:20px;" class="icon-hover">
								<tr data-ng-click="vm.editReceipeToMixture(searchResult.product, 'STANDARD_MIXTURE', $event)" data-ng-hide="vm.userAuthorizationUserContainer.userAuthorizations[27].state == false">
									<td><span class="glyphicon glyphicon-copy"></span></td>
									<td><span>&nbsp;</span></td>
									<td>Mischung durchf&uuml;hren</td>
									<td><span class="errorMessage" data-ng-show="vm.noLastReceipeExists">Rezept anlegen!</span></td>
								</tr>
								<tr data-ng-click="vm.editAndDeleteMixture(searchResult.product, 'CHANGED_MIXTURE', $event)" data-ng-hide="vm.userAuthorizationUserContainer.userAuthorizations[28].state == false && vm.userAuthorizationUserContainer.userAuthorizations[29].state == false">
									<td><span class="glyphicon glyphicon-edit"></span></td>
									<td><span>&nbsp;</span></td>
									<td>Mischungen &auml;ndern / l&ouml;schen</td>
								</tr>
								<tr data-ng-click="vm.historyOfReceipe(searchResult.product, 'CHANGED_MIXTURE')">
									<td><span class="glyphicon glyphicon-road"></span></td>
									<td><span>&nbsp;</span></td>
									<td>Mischung Historie (drucken)</td>
								</tr>
							</table>
						</div>
						<div style="padding:5px;" class="thinningBackgroundColor" data-ng-hide="vm.userAuthorizationUserContainer.userAuthorizations[30].state == false">
							<table style="margin-left:20px;" class="icon-hover">
								<tr data-ng-click="vm.createThinning(searchResult.product, $event)" data-ng-hide="vm.userAuthorizationUserContainer.userAuthorizations[30].state == false">
									<td><span class="glyphicon glyphicon-copy"></span></td>
									<td><span>&nbsp;</span></td>
									<td>Verd&uuml;nnung anlegen</td>
								</tr>
								<tr data-ng-click="vm.editAndDeleteThinning(searchResult.product)" data-ng-hide="vm.userAuthorizationUserContainer.userAuthorizations[31].state == false && vm.userAuthorizationUserContainer.userAuthorizations[32].state == false">
									<td><span class="glyphicon glyphicon-edit"></span></td>
									<td><span>&nbsp;</span></td>
									<td>Verd&uuml;nnung &auml;ndern / l&ouml;schen</td>
								</tr>
								<tr data-ng-click="vm.historyOfThinning(searchResult.product, 'CHANGED_MIXTURE')">
									<td><span class="glyphicon glyphicon-road"></span></td>
									<td><span>&nbsp;</span></td>
									<td>Verd&uuml;nnung Historie (drucken)</td>
								</tr>
							</table>
						</div>
						</div>
						</script>
		    		</div>
		    		<div class="row" data-ng-switch-when="DOCUMENTS" style="margin-top:-25px;">
						<div class="col-md-4">
							<img data-ng-src="assets/img/{{searchResult.documentFile.ending}}.PNG" alt="" title="Dateiendung {{searchResult.documentFile.ending}}" />
							<span data-ng-bind-html="searchResult.documentFile.fileName | typeaheadHighlight:vm.purgeSearchString(vm.searchString)" title="{{searchResult.documentFile.documentFileVersion.size/1000}}KB"></span>
							<div style="margin-left:20px;">
								<span data-ng-show="searchResult.searchType == 'PROJECT'" class="glyphicon glyphicon-folder-open"></span>
								<span data-ng-show="searchResult.searchType == 'PRODUCT'" class="glyphicon glyphicon-filter"></span>
								<span data-ng-repeat="additionalInfo in searchResult.additionalInformation track by $index" style="font-size:0.9em;font-style:italic;">
									{{additionalInfo}} <span data-ng-show="$index < searchResult.additionalInformation.length-1">></span>
								</span>
							</div>
						</div>
		    			<div class="col-md-1">
		    				<span data-ng-show="searchResult.documentFile.documentFileVersion.responsibleUser != null">
		    					{{searchResult.documentFile.documentFileVersion.responsibleUser.title}} {{searchResult.documentFile.documentFileVersion.responsibleUser.firstname}} {{searchResult.documentFile.documentFileVersion.responsibleUser.surname}}
		    				</span>
		    				<span data-ng-show="searchResult.documentFile.documentFileVersion.responsibleText != null">
		    					{{searchResult.documentFile.documentFileVersion.responsibleText}}
		    				</span>
		    				<span data-ng-show="searchResult.documentFile.documentFileVersion.responsibleContact != null">
		    					{{searchResult.documentFile.documentFileVersion.responsibleContact.institution}}
		    				</span>
		    			</div>
		    			<div class="col-md-1">	
		    				 <span class="uploadTime">{{searchResult.documentFile.documentFileVersions[searchResult.documentFile.documentFileVersions.length-1].uploadTime}}</span>
		    			</div>
						<div class="col-md-2">
							<span class="glyphicon glyphicon-alert errorMessage" title="Keine Tags vergeben" data-ng-show="searchResult.documentFile.documentFileVersion.labels == null || searchResult.documentFile.documentFileVersion.labels.length == 0"></span>
							<span data-ng-repeat="label in searchResult.documentFile.documentFileVersion.labels track by $index">
								<span class="documentLabel" data-ng-bind-html="label.name | typeaheadHighlight:vm.purgeSearchString(vm.searchString)"></span>
							</span>
						</div>
						<div class="column-3">
							 <table>
								<tr>
									<td>
										<span class="glyphicon glyphicon-comment icon-hover" style="margin-top:7px;" data-ng-show="searchResult.documentFile.information != null && searchResult.documentFile.information.length > 0" data-ng-click="vm.showDocumentInformationModal(searchResult.documentFile)" title="Ein Kommentar zu diesem Dokument ist vorhanden"></span>
									</td>
									<td><span>&nbsp;</span></td>
									<td><span>&nbsp;</span></td>
									<td><span>&nbsp;</span></td>
									<td><span>&nbsp;</span></td>
									<td><span>({{searchResult.documentFile.documentFileVersions.length}})</span></td>
									<td><span>&nbsp;</span></td>
									<td>
										<select class="form-control versions" data-ng-model="searchResult.documentFile.documentFileVersion" data-ng-options="c as c.version.substr(1, c.version.length) + ' - ' + c.uploadTime disable when c.active == false for c in searchResult.documentFile.documentFileVersions">
										</select>
									</td>
									<td><span>&nbsp;</span></td>
									<td><span>&nbsp;</span></td>
									<td><span>&nbsp;</span></td>
									<td><span>&nbsp;</span></td>
									<td>
										<div class="dropdown dropdown-scroll">
										    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" style="height: 26px;">
											    <span>
											    	ausw&auml;hlen
											    </span>
										    	<span class="caret"></span>
										    </button>
										    <ul class="dropdown-menu">
										    	<li role="presentation">
										        	<table style="margin-left:10px;">
										        		<tr>
										        			<td><a style="color: #333;" class="glyphicon glyphicon-font icon-hover" data-ng-click="vm.showDocumentInformationModal(searchResult.documentFile)" title="Dokumenteninformation anzeigen"></a></td>
										        			<td><span>&nbsp;</span></td>
										        			<td><a style="color: #333;text-decoration:none;" class="icon-hover" data-ng-click="vm.showDocumentInformationModal(searchResult.documentFile)">Kommentar</a></td>
										        		</tr>
										        	</table>
										        </li>
										        <li role="presentation">
										        	<table style="margin-left:10px;">
										        		<tr>
										        			<td><a href="{{vm.createDocumentUrl(vm.currentUser, searchResult.documentFile.projectId, searchResult.documentFile, searchResult.documentFile.documentFileVersion)}}" class="glyphicon glyphicon-download-alt icon-hover" style="text-decoration:none;color:#000;" title="Dokument herunterladen"></a></td>
										        			<td><span>&nbsp;</span></td>
										        			<td><a href="{{vm.createDocumentUrl(vm.currentUser, searchResult.documentFile.projectId, searchResult.documentFile, searchResult.documentFile.documentFileVersion)}}" style="text-decoration:none;color:#000;" title="Dokument herunterladen">herunterladen</a></td>
										        		</tr>
										        	</table>
										        </li>
										        <li role="presentation">
										        	<table style="margin-left:10px;" data-ng-init="documentUrl = vm.createDocumentUrl(vm.currentUser, searchResult.documentFile.projectId, documentFile, searchResult.documentFile.documentFileVersion)" data-ng-click="documentUrl = vm.createDocumentUrl(vm.currentUser, searchResult.documentFile.projectId, searchResult.documentFile, searchResult.documentFile.documentFileVersion); vm.showTemplateModal(documentUrl, searchResult.documentFile, searchResult.documentFile.documentFileVersion)">
										        		<tr>
										        			<td>
										        				<span class="glyphicon glyphicon-blackboard icon-hover" title="Vorschau anzeigen"></span>
										        			</td>
										        			<td><span>&nbsp;</span></td>
										        			<td><span class="icon-hover">Vorschau anzeigen</span></td>
										        		</tr>
										        	</table>
										        </li>
										    </ul>
										</div>
									</td>
								</tr>
							</table>
						</div>	
		    		</div>
		    		<div class="row" data-ng-switch-when="FOLDERS" style="margin-top:-25px;">
		    			<div class="col-md-2">
		    				<span class="fa fa-clipboard folder-color" title="Ordner"></span>  		
		   					<span class="icon-hover">
								<span data-ui-sref="auth.project({userId: '{{vm.currentUser.id}}', type: 'PROJECT', projectUserConnectionId: '{{ searchResult.projectUserConnection.id }}', projectOrProductId: '{{ searchResult.projectUserConnection.project.id }}', folderId: '{{searchResult.folder.id}}'})" data-ng-bind-html="searchResult.folder.name | typeaheadHighlight:vm.purgeSearchString(vm.searchString)"></span>
							</span>
						</div>
						<div class="col-md-4">
							<span data-ng-repeat="additionalInfo in searchResult.additionalInformation track by $index">
								{{additionalInfo}} <span data-ng-show="$index < searchResult.additionalInformation.length-1">></span>
							</span>
						</div>
		    			<div class="col-md-3">
		    				<span data-ng-bind-html="searchResult.folder.description | typeaheadHighlight:vm.purgeSearchString(vm.searchString)"></span>
		    				<span data-ng-show="searchResult.folder.description == ''">--</span>
		    			</div>
		    			<div class="col-md-3">	
		    				am {{searchResult.folder.creationDate}} angelegt
		    			</div>
		    		</div>
		    		<div class="row" data-ng-switch-when="PRODUCT_FOLDERS" style="margin-top:-25px;">
		    			<div class="col-md-2">
		    				<span class="fa fa-clipboard folder-color" title="Ordner"></span>  		
		   					<span class="icon-hover">
								<span data-ui-sref="auth.project({userId: '{{vm.currentUser.id}}', type: 'PRODUCT', projectUserConnectionId: '', projectOrProductId: '{{ searchResult.product.id }}', folderId: '{{searchResult.folder.id}}'})" data-ng-bind-html="searchResult.folder.name | typeaheadHighlight:vm.purgeSearchString(vm.searchString)"></span>
							</span>
						</div>
						<div class="col-md-4">
							<span data-ng-repeat="additionalInfo in searchResult.additionalInformation track by $index">
								{{additionalInfo}} <span data-ng-show="$index < searchResult.additionalInformation.length-1">></span>
							</span>
						</div>
		    			<div class="col-md-3">
		    				<span data-ng-bind-html="searchResult.folder.description | typeaheadHighlight:vm.purgeSearchString(vm.searchString)"></span>
		    				<span data-ng-show="searchResult.folder.description == ''">--</span>
		    			</div>
		    			<div class="col-md-3">	
		    				am {{searchResult.folder.creationDate}} angelegt
		    			</div>
		    		</div>
		    		<div class="row" data-ng-switch-when="CALENDAR">
						<div class="col-md-2">
							<span class="glyphicon glyphicon-calendar" title="Kalender- Eintrag"></span>
							<span data-ng-bind-html="searchResult.calendarEventUserConnection.calendarEvent.title | typeaheadHighlight:vm.purgeSearchString(vm.searchString)"></span>
						</div>	    		
						<div class="col-md-2">
							<span data-ng-bind-html="searchResult.calendarEventUserConnection.calendarEvent.location | typeaheadHighlight:vm.purgeSearchString(vm.searchString)"></span>
						</div>	
						<div class="col-md-2">
							von {{searchResult.calendarEventUserConnection.calendarEvent.startsAt | date:'dd.MM.yyyy HH:mm'}}
						</div>	
						<div class="col-md-2">
							bis {{searchResult.calendarEventUserConnection.calendarEvent.endsAt | date:'dd.MM.yyyy HH:mm'}}
						</div>
						<div class="col-md-2">
							<span class="glyphicon glyphicon-folder-open" data-ng-style="{'color': searchResult.calendarEventUserConnection.calendarEvent.project.color}"></span> 
							{{searchResult.calendarEventUserConnection.calendarEvent.project.name}}
						</div>	
						<div class="col-md-2">
							<span class="glyphicon glyphicon-user icon-hover" data-ng-click="vm.showUserOfCalendarEventModal(searchResult.calendarEventUserConnection.calendarEvent)"></span>
						</div>
		    		</div>
		    		<div class="row" data-ng-switch-when="CONTACTS" title="Erstellt am {{searchResult.contact.creationDate}}">
		    			<div class="col-md-2">
		    				<span class="glyphicon glyphicon-home" style="color:{{searchResult.contact.color}}" title="Kontakt- Eintrag"></span>
							<span data-ng-bind-html="searchResult.contact.institution | typeaheadHighlight:vm.purgeSearchString(vm.searchString)" title="{{searchResult.contact.score}}"></span>	    			
		    			</div>
		    			<div class="col-md-2">
			    			<table>
								<tr data-ng-repeat="customerNumberContainer in searchResult.contact.customerNumberContainers track by $index" title="Kundennummer">
									<td><i class="fa fa-truck icon-flipped" aria-hidden="true" title="Kundennummer"></i></td>
									<td><span>&nbsp;</span></td>
									<td>
										<span data-ng-bind-html="(customerNumberContainer.contactTenant | translate) | typeaheadHighlight:vm.purgeSearchString(vm.searchString)"></span>
										<span data-ng-bind-html="customerNumberContainer.customerNumber | typeaheadHighlight:vm.purgeSearchString(vm.searchString)"></span>
									</td>
								</tr>
								<tr data-ng-repeat="deliveryNumberContainer in searchResult.contact.deliveryNumberContainers track by $index" title="Lieferantennummer">
									<td><i class="fa fa-truck" aria-hidden="true" title="Lieferantennummer"></i></td>
									<td><span>&nbsp;</span></td>
									<td>
										<span data-ng-bind-html="(deliveryNumberContainer.contactTenant | translate) | typeaheadHighlight:vm.purgeSearchString(vm.searchString)"></span>
										<span data-ng-bind-html="deliveryNumberContainer.deliveryNumber | typeaheadHighlight:vm.purgeSearchString(vm.searchString)"></span>
									</td>
								</tr>
							</table>
						</div>
						<div class="col-md-2">
							<span class="contactTypeLabel" data-ng-repeat="contactType in searchResult.contact.contactTypes track by $index">{{(contactType | translate) || '--'}}</span>
							<span data-ng-show="searchResult.contact.contactTypes.length == 0">--</span>
						</div>
		    			<div class="col-md-2" title="Strasse und Ort">
		    				<span data-ng-bind-html="searchResult.contact.address.street | typeaheadHighlight:vm.purgeSearchString(vm.searchString)"></span>
		    				<span data-ng-bind-html="searchResult.contact.address.postalCode | typeaheadHighlight:vm.purgeSearchString(vm.searchString)"></span> <span data-ng-bind-html="searchResult.contact.address.region | typeaheadHighlight:vm.purgeSearchString(vm.searchString)"></span>
		    			</div>
		    			<div class="col-md-3" title="Region und Land">
		    				<span data-ng-bind-html="((searchResult.contact.address.provinceType | translate) || '--') | typeaheadHighlight:vm.purgeSearchString(vm.searchString)"></span> in 
							<span data-ng-bind-html="((searchResult.contact.address.country | translate) || '--') | typeaheadHighlight:vm.purgeSearchString(vm.searchString)"></span>
		    			</div>
		    			<div class="col-md-1">
		    				<div class="dropdown dropdown-scroll" style="margin-top:-3px;">
							    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" style="height: 26px;">
								    <span data-ng-show="vm.institutionOfUserFilter == null">
								    	ausw&auml;hlen
								    </span>
							    	<span class="caret"></span>
							    </button>
							    <ul class="dropdown-menu icon-hover" style="min-width:180px;">
							    	<li role="presentation">
							        	<table style="margin-left:10px;">
							        		<tr>
							        			<td><span class="glyphicon glyphicon-info-sign icon-hover"  data-ng-init="searchResult.contact.expanded == false" data-ng-click="searchResult.contact.expanded = !searchResult.contact.expanded"></span></td>
							        			<td><span>&nbsp;</span></td>
							        			<td><span data-ng-click="searchResult.contact.expanded = !searchResult.contact.expanded">Kontakteigenschaften</span></td>
							        		</tr>
							        	</table>
							        </li>
							        <li role="presentation" class="list-item" data-ng-show="vm.userAuthorizationUserContainer.userAuthorizations[10].state == true">
							        	<table style="margin-left:10px;" >
							        		<tr>
							        			<td><span class="glyphicon glyphicon-edit icon-hover" data-ng-click="vm.showEditContactModal(searchResult.contact); $event.stopPropagation()"></span></td>
							        			<td><span>&nbsp;</span></td>
							        			<td><span data-ng-click="vm.showEditContactModal(searchResult.contact); $event.stopPropagation()">Kontakt editieren</span></td>
							        		</tr>
							        	</table>
							        </li>
							        <li role="presentation">
							        	<table style="margin-left:10px;" class="list-item" data-ng-show="['ADMIN','SUPER_ADMIN'].indexOf(vm.currentUser.projectUserConnectionRole)!=-1">
							        		<tr>
							        			<td><span class="glyphicon glyphicon-folder-open icon-hover" data-ng-click="vm.showProjectsAssignedToContactModal(searchResult.contact); $event.stopPropagation()"></span></td>
							        			<td><span>&nbsp;</span></td>
							        			<td><span data-ng-click="vm.showProjectsAssignedToContactModal(searchResult.contact);$event.stopPropagation()">Zuweisen zu Projekte</span></td>
							        		</tr>
							        	</table>
							        </li>
							        <li role="presentation" class="list-item" data-ng-show="['ADMIN','SUPER_ADMIN'].indexOf(vm.currentUser.projectUserConnectionRole)!=-1">
							        	<table style="margin-left:10px;">
							        		<tr>
							        			<td><span class="glyphicon glyphicon-user icon-hover" data-ng-click="vm.showUsersAssignedToContactModall(searchResult.contact);$event.stopPropagation()"></span></td>
							        			<td><span>&nbsp;</span></td>
							        			<td><span data-ng-click="vm.showUsersAssignedToContactModal(searchResult.contact);$event.stopPropagation()">Zuweisen zu Personen</span></td>
							        		</tr>
							        	</table>
							        </li>
							        <li role="presentation" class="list-item">
							        	<table style="margin-left:10px;">
							        		<tr>
							        			<td><span class="glyphicon glyphicon-filter icon-hover" data-ng-click="vm.showProductsOfContact(searchResult.contact); $event.stopPropagation()"></span></td>
							        			<td><span>&nbsp;</span></td>
							        			<td><span data-ng-click="vm.showProductsOfContact(searchResult.contact); $event.stopPropagation()">Produkte</span></td>
							        		</tr>
							        	</table>
							        </li>
							        <li role="presentation" class="list-item" data-ng-show="vm.userAuthorizationUserContainer.userAuthorizations[33].state == true">
							        	<table style="margin-left:10px;">
							        		<tr>
							        			<td><span class="glyphicon glyphicon-file icon-hover" data-ng-click="vm.showContactActivityModal(searchResult.contact)"></span></td>
							        			<td><span>&nbsp;</span></td>
							        			<td><span data-ng-click="vm.showContactActivityModal(searchResult.contact)">T&auml;tigkeitsbericht</span></td>
							        		</tr>
							        	</table>
							        </li>
							        <li role="presentation" class="list-item" data-ng-show="vm.userAuthorizationUserContainer.userAuthorizations[36].state == true">
							        	<table style="margin-left:10px;">
							        		<tr>
							        			<td><span class="glyphicon glyphicon-list icon-hover" data-ng-click="vm.showFacilityDetailsModal(searchResult.contact)"></span></td>
							        			<td><span>&nbsp;</span></td>
							        			<td><span data-ng-click="vm.showFacilityDetailsModal(searchResult.contact)">Anlagendetails</span></td>
							        		</tr>
							        	</table>
							        </li>
							        <li role="presentation" class="list-item" data-ng-show="vm.userAuthorizationUserContainer.userAuthorizations[11].state == true">
							        	<table style="margin-left:10px;" >
							        		<tr>
							        			<td><span class="glyphicon glyphicon-minus icon-hover" data-ng-click="vm.showDeleteContactModal(searchResult.contact); $event.stopPropagation()"></span></td>
							        			<td><span>&nbsp;</span></td>
							        			<td><span data-ng-click="vm.showDeleteContactModal(searchResult.contact); $event.stopPropagation()">Kontakt l&ouml;schen</span></td>
							        		</tr>
							        	</table>
							        </li>
							    </ul>
							</div>
		    			</div>
		    			<br />
		    			<div data-ng-show="searchResult.contact.expanded == true">
			    			<table style="width:100%;" class="contactTable">
			    				<tr>
						            <td colspan="10">
						            	<div class="categoryContainer">
							            	<span class="additionalInformationHeader"><span class="glyphicon glyphicon-envelope"></span> Email- Adressen des Kontakts:</span>
							            	<table class="table" style="max-width: 600px;">
							            		<tr data-ng-repeat="email in searchResult.contact.emails track by $index">
							            			<td><a href="mailto:{{email}}">{{email || '--'}}</a></td>
							            		</tr>
							            	</table>
							            </div>
						            	<div class="categoryContainer">
							            	<span class="additionalInformationHeader"><span class="glyphicon glyphicon-earphone"></span> Telefonnummern des Kontakts:</span>
							            	<table class="table" style="max-width: 600px;">
							            		<tr data-ng-repeat="telephone in searchResult.contact.telephones track by $index">
							            			<td class="col-md-2"><a href="tel:{{telephone}}">{{telephone || '--'}}</a></td>
							            		</tr>
							            	</table>
							            </div>
						            	<div class="categoryContainer">
							            	<span class="additionalInformationHeader"><span class="glyphicon glyphicon-globe"></span> Homepage:</span>
							            	<table class="table" style="max-width: 600px;">
							            		<tr>
							            			<td class="col-md-2">
							            				<a href="{{contact.homepage}}" target="_blank">{{searchResult.contact.homepage || '--'}}</a>
							            			</td>
							            		</tr>
							            	</table>
							            </div>
						            	<div class="categoryContainer">
							            	<span class="additionalInformationHeader"><span class="glyphicon glyphicon-pushpin"></span> zus&auml;tzliche Information:</span>
							            	<table class="table" style="max-width: 600px;">
							            		<tr>
							            			<td class="col-md-2">
							            				<span>{{searchResult.contact.information || '--'}}</span>
							            			</td>
							            		</tr>
							            	</table>
							            </div>
						            	<div class="categoryContainer">
							            	<span class="additionalInformationHeader"><span class="glyphicon glyphicon-eur"></span> Rechnungsadresse:</span>
							            	<table class="table" style="max-width: 600px;">
							            		<tr>
							            			<td class="col-md-3">Stra&szlig;e:</td>
					            					<td><span>&nbsp;</span></td>
					            					<td>{{searchResult.contact.accountAddress.street || '--'}}</td>
							            		</tr>
							            		<tr>
					            					<td class="col-md-3">Plz:</td>
					            					<td><span>&nbsp;</span></td>
					            					<td>{{searchResult.contact.accountAddress.postalCode || '--'}}</td>
					            				</tr>
					            				<tr>
					            					<td class="col-md-3">Ort:</td>
					            					<td><span>&nbsp;</span></td>
					            					<td>{{searchResult.contact.accountAddress.region || '--'}}</td>
					            				</tr>
					            				<tr>
					            					<td class="col-md-3">Bundesland:</td>
					            					<td><span>&nbsp;</span></td>
					            					<td>{{(searchResult.contact.accountAddress.provinceType | translate) || '--'}}</td>
					            				</tr>
					            				<tr>
					            					<td class="col-md-3">Land:</td>
					            					<td><span>&nbsp;</span></td>
					            					<td>
					            						<img data-ng-src="assets/img/{{searchResult.contact.accountAddress.country}}.png" style="margin-top:-2px;" />
					            						{{(searchResult.contact.accountAddress.country | translate) || '--'}}
					            					</td>
					            				</tr>
							            	</table>
							            </div>
						            	<div class="categoryContainer" data-ng-show="searchResult.contact.contactPersons.length > 0">
							            	<span class="additionalInformationHeader"><span class="glyphicon glyphicon-user"></span> Kontaktpersonen:</span>
							            	<table class="table" data-ng-repeat="contactPerson in searchResult.contact.contactPersons track by $index" style="max-width: 600px;">
							            		<tr>
							            			<td class="col-md-4">Name:</td>
							            			<td>{{contactPerson.title}} {{contactPerson.firstname || '--'}} {{contactPerson.surname || '--'}}</td>
							            		</tr>
							            		<tr>
							            			<td class="col-md-4">Abteilung:</td>
							            			<td>{{contactPerson.department || '--'}}</td>
							            		</tr>
							            		<tr data-ng-repeat="email in contactPerson.emails track by $index" >
							            			<td class="col-md-4">Email {{$index+1}}:</td>
							            			<td><a href="mailto:{{email}}">{{email || '--'}}</a></td>
							            		</tr>
							            		<tr data-ng-repeat="telephone in contactPerson.telephones track by $index" >
							            			<td class="col-md-4">Telefon {{$index+1}}:</td>
							            			<td><a href="tel:{{telephone}}">{{telephone || '--'}}</a></td>
							            		</tr>
							            		<tr>
							            			<td class="col-md-4">zus&auml;tzliche Informationen:</td>
							            			<td>{{contactPerson.additionalInformation || '--'}}</td>
							            		</tr>
							            	</table>
							            </div>
						            	<div class="categoryContainer" data-ng-show="searchResult.contact.addressesWithProducts.length > 0">
							            	<span class="additionalInformationHeader"><span class="glyphicon glyphicon-home"></span> Weitere Standorte:</span>
							            	<table class="table" data-ng-repeat="addressWithProducts in searchResult.contact.addressesWithProducts track by $index" data-ng-hide="vm.hideAddressWithProducts(addressWithProducts)" style="max-width: 600px;">
							            		<tr data-ng-hide="addressWithProducts.address.additionalInformation == null || addressWithProducts.address.additionalInformation.length == 0">
					            					<td class="col-md-3">Standortname:</td>
					            					<td><span>&nbsp;</span></td>
					            					<td>{{addressWithProducts.address.additionalInformation || '--'}}</td>
					            				</tr>
					            				<tr>
					            					<td class="col-md-3">Stra&szlig;e:</td>
					            					<td><span>&nbsp;</span></td>
					            					<td>{{addressWithProducts.address.street || '--'}}</td>
					            				</tr>
					            				<tr>
					            					<td class="col-md-3">Plz:</td>
					            					<td><span>&nbsp;</span></td>
					            					<td>{{addressWithProducts.address.postalCode || '--'}}</td>
					            				</tr>
					            				<tr>
					            					<td class="col-md-3">Ort:</td>
					            					<td><span>&nbsp;</span></td>
					            					<td>{{addressWithProducts.address.region || '--'}}</td>
					            				</tr>
					            				<tr>
					            					<td class="col-md-3">Email:</td>
					            					<td><span>&nbsp;</span></td>
					            					<td>{{addressWithProducts.address.email || '--'}}</td>
					            				</tr>
					            				<tr>
					            					<td class="col-md-3">Tel:</td>
					            					<td><span>&nbsp;</span></td>
					            					<td>{{addressWithProducts.address.telephone || '--'}}</td>
					            				</tr>
					            				<tr>
					            					<td class="col-md-3">Bundesland:</td>
					            					<td><span>&nbsp;</span></td>
					            					<td>{{(addressWithProducts.address.provinceType | translate) || '--'}}</td>
					            				</tr>
					            				<tr>
					            					<td class="col-md-3">Land:</td>
					            					<td><span>&nbsp;</span></td>
					            					<td>
					            						<img data-ng-src="assets/img/{{addressWithProducts.address.country}}.png" style="margin-top:-2px;" />
					            						{{(addressWithProducts.address.country | translate) || '--'}}
					            					</td>
					            				</tr>
							            	</table>
							            </div>
							            <div class="categoryContainer">
							            	<span class="additionalInformationHeader"><span class="glyphicon glyphicon-briefcase"></span> Vertreternummer(n):</span>
							            	<table class="table" style="max-width: 600px;">
							            		<tr data-ng-repeat="agentNumberContainer in searchResult.contact.agentNumberContainers track by $index">
					            					<td>{{agentNumberContainer.customerNumber}}</td>
							            		</tr>
							            		
					            			</table>
							            </div>
							            <div class="categoryContainer" data-ng-show="searchResult.contact.contactAttachments.length > 0">
							            	<span class="additionalInformationHeader"><span class="glyphicon glyphicon-paperclip"></span> Dokumente:</span>
							            	<table class="table" style="max-width:600px;">
												<tr data-ng-repeat="attachment in searchResult.contact.contactAttachments track by $index">
													<td class="col-md-1">
														{{$index+1}}. 
													</td>
													<td><span>&nbsp;</span></td>
													<td>
														<span class="icon-hover" data-ng-init="documentUrl = vm.createDocumentUrl(currentUser, product, attachment)" data-ng-click="vm.showTemplateModal(documentUrl, attachment)">
															<img data-ng-src="assets/img/{{attachment.ending}}.PNG" alt="" document-file-icon-dispatch /> {{attachment.filename}} <span style="font-size:0.8em;">({{attachment.version.substr(1)}})</span>
														</span>
													</td>
													<td><span>&nbsp;</span></td>
													<td>
														<a href="{{documentUrl}}"><span class="glyphicon glyphicon-download-alt"></span></a>
													</td>
												</tr>
											</table>
										</div>
						            </td>
						         </tr>
			    			</table>
			    		</div>
			    		<br />
			    		<br />
		    		</div>
		    		<div class="row" data-ng-switch-when="COMMUNICATION" style="margin-top:-25px;">
		    			<div data-ng-show="searchResult.communicationUserConnectionCreated != null">
			    			<div class="col-md-2">
			    				<span class="glyphicon glyphicon-comment" title="Arbeitsauftrag- Eintrag"></span>
								empfangen von 
								<span class="glyphicon glyphicon-user" style="color:{{searchResult.communicationUserConnectionCreated.userCreatedMessage.color}}"></span>
								{{searchResult.communicationUserConnectionCreated.userCreatedMessage.title}} {{searchResult.communicationUserConnectionCreated.userCreatedMessage.firstname}} <b>{{searchResult.communicationUserConnectionCreated.userCreatedMessage.surname}}</b>
			    			</div>
			    			<div class="col-md-1">
			    				{{searchResult.communicationUserConnectionCreated.project.name}} <span class="glyphicon glyphicon-folder-open" style="color:{{searchResult.communicationUserConnectionCreated.project.color}}"></span>
			    			</div>
			    			<div class="col-md-4">
			    				<div style="font-weight:bold;font-size:1.2em;background-color:#ddd;padding:5px;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.1);">Auftragsanweisung:</div>
								<div style="margin-left:20px;margin-top:8px;margin-bottom:20px;">
				    				<span data-ng-show="searchResult.communicationUserConnectionCreated.communication.title">
				    					<b><span data-ng-bind-html="searchResult.communicationUserConnectionCreated.communication.title | typeaheadHighlight:vm.purgeSearchString(vm.searchString)"></span></b>
				    				</span>
				    				<span data-ng-bind-html="searchResult.communicationUserConnectionCreated.communication.message | typeaheadHighlight:vm.purgeSearchString(vm.searchString)"></span>
			    				</div>
			    				<div data-ng-show="searchResult.communicationUserConnectionCreated.communication.attachedFileUrls.length > 0">
										<b>Anh&auml;nge</b> ({{searchResult.communicationUserConnectionCreated.communication.attachedFileUrls.length}}):
										<div data-ng-repeat="attachedFileUrl in searchResult.communicationUserConnectionCreated.communication.attachedFileUrls">
											<a href="{{attachedFileUrl.url}}">{{attachedFileUrl.fileName}}</a>
										</div>
									</div>
			    			</div>
			    			<div class="col-md-3">
			    				zu erledigen bis {{searchResult.communicationUserConnectionCreated.executionDate}}
			    			</div>
			    			<div>
			    				Erledigt: 
			    				<span class="glyphicon glyphicon-remove errorMessage" data-ng-show="searchResult.communicationUserConnectionCreated.executed == false"></span>
								<span class="glyphicon glyphicon-ok successMessage" data-ng-show="searchResult.communicationUserConnectionCreated.executed == true"></span>
			    			</div>
			    			<div class="col-md-2">
			    				empfangen: {{searchResult.communicationUserConnectionCreated.communication.receiveDate}}
		    				</div>
		    			</div>
		    			<div data-ng-show="searchResult.communicationUserConnectionReceived != null">
			    			<div class="col-md-2">
			    				<span class="glyphicon glyphicon-comment" title="Arbeitsauftrag- Eintrag"></span>
								gesendet an 
								<span class="glyphicon glyphicon-user" style="color:{{searchResult.communicationUserConnectionReceived.userReceivedMessage.color}}"></span>
								{{searchResult.communicationUserConnectionReceived.userReceivedMessage.title}} 
								{{searchResult.communicationUserConnectionReceived.userReceivedMessage.firstname}} <b>{{searchResult.communicationUserConnectionReceived.userReceivedMessage.surname}}</b>	
			    			</div>
			    			<div class="col-md-1">
			    				{{searchResult.communicationUserConnectionReceived.project.name}} <span class="glyphicon glyphicon-folder-open" style="color:{{searchResult.communicationUserConnectionReceived.project.color}}"></span>
			    			</div>
			    			<div class="col-md-4">
			    				<div style="font-weight:bold;font-size:1.2em;background-color:#ddd;padding:5px;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.1);">Auftragsanweisung:</div>
								<div style="margin-left:20px;margin-top:8px;margin-bottom:20px;">
				    				<span data-ng-show="searchResult.communicationUserConnectionReceived.communication.title">
				    					<b><span data-ng-bind-html="searchResult.communicationUserConnectionReceived.communication.title | typeaheadHighlight:vm.purgeSearchString(vm.searchString)"></span></b>
				    				</span>
				    				<span data-ng-bind-html="searchResult.communicationUserConnectionReceived.communication.message | typeaheadHighlight:vm.purgeSearchString(vm.searchString)"></span>
			    				</div>
			    				<div data-ng-show="searchResult.communicationUserConnectionReceived.communication.attachedFileUrls.length > 0">
										<b>Anh&auml;nge</b> ({{searchResult.communicationUserConnectionReceived.communication.attachedFileUrls.length}}):
										<div data-ng-repeat="attachedFileUrl in searchResult.communicationUserConnectionReceived.communication.attachedFileUrls">
											<a href="{{attachedFileUrl.url}}">{{attachedFileUrl.fileName}}</a>
										</div>
									</div>
			    			</div>
			    			<div class="col-md-2">
			    				zu erledigen bis {{searchResult.communicationUserConnectionReceived.executionDate}}
			    			</div>
			    			<div>
			    				Erledigt: 
			    				<span class="glyphicon glyphicon-remove errorMessage" data-ng-show="searchResult.communicationUserConnectionReceived.executed == false"></span>
								<span class="glyphicon glyphicon-ok successMessage" data-ng-show="searchResult.communicationUserConnectionReceived.executed == true"></span>
								Gelesen:
								<span class="glyphicon glyphicon-remove errorMessage" data-ng-show="searchResult.communicationUserConnectionReceived.read == false"></span>
								<span class="glyphicon glyphicon-ok successMessage" data-ng-show="searchResult.communicationUserConnectionReceived.read == true"></span>
			    			</div>
			    			<div class="col-md-2">
			    				empfangen: {{searchResult.communicationUserConnectionReceived.communication.receiveDate}}
		    				</div>
		    			</div>
		    		</div>
		    		<div class="row" data-ng-switch-when="TIME_REGISTRATION" style="margin-top:-25px;">
		    			<div class="col-md-1">
		    				<table>
		    					<tr>
		    						<td><span class="glyphicon glyphicon-time" title="Zeiterfassungs- Eintrag"></span></td>
		    						<td><span>&nbsp;</span></td>
		    						<td>{{searchResult.timeRegistration.dateTimeFrom | date:'dd.MM.yyyy HH:mm'}}</td>
		    					</tr>
		    				</table>
						</div>
						<div class="col-md-1">
		   					{{searchResult.timeRegistration.dateTimeUntil | date:'dd.MM.yyyy HH:mm'}}
						</div>
						<div class="col-md-1">
		   					{{searchResult.timeRegistration.timeRange}}
						</div>
						<div class="col-md-2">
		   					{{searchResult.timeRegistration.user.title}} {{searchResult.timeRegistration.user.firstname}} {{searchResult.timeRegistration.user.surname}}
						</div>
						<div class="col-md-1">
							<span class="glyphicon glyphicon-folder-open" style="color:{{searchResult.timeRegistration.project.color}}"></span>	    					
		   					{{searchResult.timeRegistration.project.name}}
						</div>
						<div class="col-md-5">
		   					<span data-ng-bind-html="searchResult.timeRegistration.text | typeaheadHighlight:vm.purgeSearchString(vm.searchString)"></span>
						</div>
		    		</div>
			    </div>
			</div>
	    </div>
	    <div class="col-md-2">
			<div data-ng-show="vm.searchHistory.length > 0" class="non-printable" style="border: 1px solid #ddd;padding:10px;border-radius:4px;" data-ng-show="vm.searchHistory.length > 0">
				<span class="glyphicon glyphicon-search"></span> <b>Letzte Suchergebnisse:</b>
				<br /><br />
				<div data-ng-repeat="searchHistory in vm.searchHistory">
					Nach <span class="icon-hover searchString" data-ng-click="vm.loadHistorySearch(searchHistory.searchString)">{{searchHistory.searchString}}</span> wurde am 
					<span class="searchDate">{{searchHistory.searchDate}}</span> gesucht und <b>{{searchHistory.amountOfResults}}</b> 
					<span data-ng-show="searchHistory.amountOfResults == 1">Ergebnis</span>
					<span data-ng-show="searchHistory.amountOfResults > 1">Ergebnisse</span> gefunden
					<br /><br />
				</div>
			</div>
		</div>
	</div>
</div>

