.search {
	margin-bottom: 110px;
}
.search .searchInputContainer {
	max-width: 750px;
}
.search strong {
	background-color: #ff0; 
	padding: 1px;
}
.search .searchString {
	color: #008be7;
	font-weight: bold;
}
.search .searchDate {
	font-size: 0.88em;
	font-style: italic;
}
.search .additionalInformationHeader {
	padding:5px;
	font-weight:bold;
}
.search .categoryContainer {
	background-color: #f9f9f9;
	padding:10px;
}
.search .contactTypeLabel {
	border: 1px solid #ccc;
	padding: 2px;
	display: inline;
	border-radius: 4px;
	font-size: 0.85em;
	background-color: #f9f9f9;
}
.search .searchInput {
	min-width: 400px;
}
.search .searchCategorieItem {
	margin-right:8px;
}
.search .selectedCategorie {
	color: #007ab9;
}
.search .descriptionText {
	font-size: 0.9em;
}
.search .dropdown-scroll .dropdown-toggle {
	max-height: 24px !important;
	padding-top: 0px;
}
.search .dropdown-scroll .possibleLabel {
	margin-left: 10px;
}
.search .loadingContainer {
	margin-left: 350px;
}
.search .loadingContainer img {
	max-height: 30px;
	max-width: 30px;
}
.search .documentLabel {
	border: 1px solid #ccc;
	padding: 2px;
	display: inline;
	border-radius: 4px;
	font-size: 0.85em;
	background-color: #f9f9f9;
}
.search .versions {
	max-height: 20px !important;
	padding: 1px;
}
.search .contactTable {
	margin-top: 30px;
}
.search .even {
	padding: 40px;
}
.search .odd {
	padding: 40px;
	background-color: #f9f9f9;
}
.search .typeLabel {
	border: 1px solid #ccc;
	padding: 2px;
	display: inline;
	border-radius: 4px;
	font-size: 0.85em;
	background-color: #f9f9f9;
}
.search .distanceLeft {
	margin-left: 20px;
}