<ul class="list-group">
	<li class="list-group-item" data-ng-repeat="communicationGroupUserConnection in communicationGroupUserConnections">
		<input type="checkbox" name="group" data-ng-model="communicationGroupUserConnection.selected" data-ng-click="communicationGroupUserConnectionSelected(communicationGroupUserConnection)" />
		<span>
	  		<span data-ng-click="showMembersOfCommunicationGroup(communicationGroupUserConnection)" class="icon-hover" title="{{communicationGroupUserConnection.communicationGroup.description}}">{{communicationGroupUserConnection.communicationGroup.name}}</span>
	  		<table style="display: inline; float:right;">
	  			<tr>
	  				<td><span class="glyphicon glyphicon-pencil icon-hover" data-ng-click="showCommunicationGroupEditModal('EDIT', communicationGroupUserConnection)"></span></td>
	  				<td>&nbsp;</td>
	  				<td><span class="glyphicon glyphicon-remove icon-hover" data-ng-click="showCommunicationGroupDeletionModal(communicationGroupUserConnection.communicationGroup, communicationGroupUserConnections)"></span></td>
	  				<td>&nbsp;</td>
	  				<td><span class="glyphicon glyphicon-th-large" style="color:{{communicationGroupUserConnection.communicationGroup.color}};"></span></td>
	  			</tr>
	  		</table>
	  	</span>
	  	<div data-ng-show="communicationGroupUserConnection.showMembers" class="communicationsOfCommunicationGroup">
	  		<div data-ng-repeat="memberOfCommunicationGroup in membersOfCommunicationGroup">
	  			{{$index+1}}. {{memberOfCommunicationGroup.user.title}} {{memberOfCommunicationGroup.user.firstname}} <b>{{memberOfCommunicationGroup.user.surname}}</b>
	  		</div>
	  	</div>
	</li>
</ul>






