<div class="changeReceipe" id="changeReceipeId{{index}}">
	<span class="glyphicon glyphicon-print icon-hover" style="float:right;color:#777;margin-right:5px;margin-top:-11px;" data-ng-click="showPrintModal(receipe)" title="ausdrucken"></span>
	<span class="fa fa-file-pdf-o icon-hover non-printable" style="float:right;color:#777;margin-right:5px;margin-top:-10px;" data-ng-click="printContainer('changeReceipeId' + index, receipeType=='CHANGED_MIXTURE' ? 'Mischung' : 'Rezept')" title="herunterladen"></span>
	<div style="margin-top:-15px;"><span class="glyphicon glyphicon-filter" style="color:{{product.color}}"></span><b>{{product.name}}</b> ({{product.number}}) 
		<span class="errorMessage blinkText" data-ng-show="product.inactive">(Produkt eingestellt am {{(product.inactiveDate | date:'dd.MM.yyyy') || '--'}}: {{product.inactiveMessage || '--'}})</span>
	</div>
	<br />
	<form name="createReceipeForm" class="form-horizontal" style="margin-left:-50px;">
	    <div class="form-group">
		    <label class="control-label col-sm-3" for="developmentDate">Datum:<span class="mandatory">*</span></label>
		    <div class="col-sm-2">
		    	<p class="input-group" style="width: 120px;">
			    	<input type="text"
	                    class="form-control"
	                    name="createReceipeDate"                                
	                    data-ng-model="receipe.date"
	                    datepicker-popup="dd.MM.yyyy"
	                    is-open="createReceipeDateDatePicker"
	                    close-text="schlie&szlig;en"
	                    current-text="heute"
	                    clear-text="l&ouml;schen"
	                    datepicker-options="{startingDay: 1}"
	                    placeholder="Datum"
	                    disabled
	                    required>
	                  	<span class="input-group-btn">
                       		<button type="button" class="btn btn-default btn-xs datePickerButton"                         		   
                               data-ng-click="openCreateReceipeDatePicker($event)" data-ng-disabled="product.inactive">
                               <span class="glyphicon glyphicon-calendar"></span>
                            </button>
	                  	</span>
	              </p>
		    </div>
		    <div class="col-sm-2">
		    	<div style="margin-top:-32px;">
		    		<datetimepicker
						hour-step="1" 
						minute-step="1" 
				      	ng-model="receipeDateTime" 
				      	show-meridian="false" 
				      	show-date="false"
				      	show-spinners="true"
				      	readonly-time="false">
				    </datetimepicker>
		    	</div>
		    </div>
		</div>
		<div class="form-group" data-ng-show="receipeType=='CHANGED_MIXTURE'">
			<label class="control-label col-sm-3" for="customer">Kunde:</label>
			<div class="col-sm-7">
				<table>
					<tr>
						<td>
							<input type="text" 
							   style="width:250px;"
						       class="form-control" 
							   placeholder="Kunde oder Freitext eingeben" 
							   data-ng-model="receipe.contactOrContactText"
							   data-ng-focus=""
							   typeahead="contact as contact.institution + ' (' + (contact.contactTenant != null ? (contact.contactTenant | translate) : '') + ' ' + contact.customerNumber + ') ' + contact.address.postalCode + ' ' + contact.address.region for contact in getContactsByTerm($viewValue)"
							   typeahead-min-length="3"
							   typeahead-wait-ms="100"
							   typeahead-on-select="contactSelected(receipe)"
							   data-ng-enter="setContactText(receipe)"
							   data-ng-disabled="product.inactive" />
						</td>
						<td><span>&nbsp;</span></td>
						<td><span class="glyphicon glyphicon-minus icon-hover" data-ng-click="receipe.contact = null;receipe.contactText = null;receipe.contactOrContactText = null;" title="Kunde entfernen"></span></td>
						<td>
							<span class="glyphicon glyphicon-ok successMessage" data-ng-show="receipe.contact.contactSelected"></span>
							<span class="glyphicon glyphicon-ok successMessage" data-ng-show="receipe.contactTextSelected"></span>
						</td>
						<td><span>&nbsp;</span></td>
						<td><span>&nbsp;</span></td>
						<td><span>&nbsp;</span></td>
						<td><span class="errorMessage" data-ng-show="receipe.contact == null && receipe.contactText == null" style="font-size:0.8em;">Noch kein Kunde eingegeben</span></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="form-group" data-ng-show="receipeType=='CHANGED_MIXTURE'">
			<label class="control-label col-sm-3" for="customer">Bestell-/Lieferschein:</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" style="width:250px;" data-ng-model="receipe.purchaseOrderNumber" data-ng-disabled="product.inactive" placeholder="Bestell-/Lieferschein" />
			</div>
		</div>
		<div class="form-group" data-ng-show="receipeType=='CHANGED_MIXTURE'">
		    <label class="control-label col-sm-3" for="description">Menge:<span class="mandatory">*</span></label>
		    <div class="col-sm-7"> 
		    	<table>
		    		<tr>
		    			<td><input class="form-control" type="number" name="amountInKilo" data-ng-model="receipe.amountInKilo" style="width:100px;" data-ng-disabled="product.inactive" data-ng-change="calculateKilogramAndLiterOfAllProducts(receipe); calculateAllReceipeAdditionals()" /></td>
		    			<td><span>&nbsp;</span></td>
		    			<td>[Kg] <span style="font-size:0.8em;color:#777">(=100%)</span></td>
		    			<td><span>&nbsp;</span></td>
		    			<td><span data-ng-show="amountInKiloError == true" class="errorMessage">Bitte die Menge eingeben</span></td>
		    		</tr>
		    	</table>
		    </div>
		</div>
		<div class="form-group">
		    <label class="control-label col-sm-3" for="description">Mischungsverh&auml;ltnis:<span class="mandatory">*</span></label>
		    <div class="col-sm-8"> 
		    	<span data-ng-show="noProductsError == true" class="errorMessage">Kein Produkt hinzugef&uuml;gt</span>
		      	<table class="table table-hover" style="border: 2px solid #eee;">
		      		<thead>
		      			<tr>
		      				<th></th>	
		      				<th></th>
		      				<th>Komponente</th>
		      				<th style="text-align:center;">Dichte [g/ml]</th>
		      				<th>Anteil [%]</th>
		      				<th data-ng-show="receipeType=='CHANGED_MIXTURE'" style="text-align:center;">Kg</th>
		      				<th data-ng-show="receipeType=='CHANGED_MIXTURE'" style="text-align:center;">Liter</th>
		      				<th data-ng-show="receipeType=='CHANGED_MIXTURE'">Info</th>
		      				<th><span class="glyphicon glyphicon-plus icon-hover" data-ng-click="addReceipeProduct()" data-ng-hide="product.inactive" title="Neue Komponente hinzuf&uuml;gen"></span></th>
		      			</tr>
		      		</thead>
		      		<tbody>
		      			<tr data-ng-repeat="receipeProduct in receipe.receipeProducts track by $index">
		      				<td>
		      					<span class="glyphicon glyphicon-arrow-up icon-hover" style="margin-top:8px;" data-ng-if="$index > 0" data-ng-click="moveUp($index)" title="Komponente nach oben verschieben"></span>
		      					<span class="glyphicon glyphicon-arrow-down icon-hover" style="margin-top:8px;" data-ng-if="$index < receipe.receipeProducts.length-1" data-ng-click="moveDown($index)" title="Komponente nach unten verschieben"></span>
		      				</td>
		      				<td style="max-width:20px;">
		      					<table>
		      						<tr>
		      							<td><span class="glyphicon glyphicon-ban-circle errorMessage icon-hover blinkText" data-ng-show="receipeProduct.product.inactive" style="margin-top:10px;" title="Produkt eingestellt am {{(receipeProduct.product.inactiveDate | date:'dd.MM.yyyy') || '--'}}: {{receipeProduct.product.inactiveMessage || '--'}}"></span></td>
		      							<td><span class="glyphicon glyphicon-filter icon-hover" data-popover-template="'productInfo.html'" data-popover-placement="bottom" data-popover-class="increase-popover-width" data-ng-click="findLastReceipesOfProductOfType(receipeProduct, receipeType)" style="margin-top:10px;color:{{receipeProduct.product.color}}"></span></td>
		      						</tr>
		      					</table>
		      					<script type="text/ng-template" id="productInfo.html">
									<div style="width:500px;">
										<div data-ng-show="toolTipProductInfo.receipeProducts.length > 0">
											Letztes Rezept von Produkt <span class="glyphicon glyphicon-filter" style="margin-top:10px;color:{{receipeProduct.product.color}}"></span> <b>{{receipeProduct.product.number}} {{receipeProduct.product.name}}</b>
											<table class="table" style="border: 2px solid #eee;">
		      									<thead>
		      										<tr>	
		      											<th></th>
		      											<th>Komponente</th>
		      											<th>Dichte [g/ml]</th>
		      											<th>Anteil [%]</th>
														<th>Kg</th>
														<th>Liter</th>
		      										</tr>
												</thead>
												<tbody>
													<tr data-ng-repeat="receipeProductOfComponent in toolTipProductInfo.receipeProducts track by $index">
														<td>{{$index+1}}.</td>
														<td>
															<span class="icon-hover" data-ng-click="showProductOverviewModalService(receipeProductOfComponent.product)">
																<span class="glyphicon glyphicon-filter" style="margin-top:10px;color:{{receipeProductOfComponent.product.color}}"></span> 
																{{getProductName(receipeProductOfComponent)}}
															</span>
														</td>
														<td>{{receipeProductOfComponent.product.density}}</td>
														<td>{{receipeProductOfComponent.percentage}}</td>
														<td><span style="float:right;" title="{{receipeProduct.kilogram}}Kg * {{receipeProductOfComponent.percentage}}% / 100">{{receipeProduct.kilogram * receipeProductOfComponent.percentage / 100 | number:1}}</span></td>
														<td><span style="float:right;" title="({{receipeProduct.kilogram}}Kg * {{receipeProductOfComponent.percentage}}% / 100) / {{receipeProductOfComponent.product.density}}&rho;">{{(receipeProduct.kilogram * receipeProductOfComponent.percentage / 100) / receipeProductOfComponent.product.density | number:1}}</span></td>
													</tr>
												</tbody>
											</table>
										</div>
										<div data-ng-show="toolTipProductInfo.receipeProducts == null">
											Es ist <b>kein Rezept</b> f&uuml;r Produkt <span class="glyphicon glyphicon-filter" style="margin-top:10px;color:{{receipeProduct.product.color}}"></span> <b>{{receipeProduct.product.number}} {{receipeProduct.product.name}}</b> vorhanden
										</div>
									</div>
								</script>
		      				</td>
		      				<td style="min-width:180px;">
     							<input type="text" 
							       class="form-control" 
							       style="border:none;box-shadow: inset 0px 0px 0px 0px #fff;"
								   placeholder="Komponente suchen" 
								   data-ng-init="receipeProduct.selectedReceipeProduct = getProductName(receipeProduct)"
								   data-ng-model="receipeProduct.selectedReceipeProduct"
								   typeahead="product as product.name for product in getProductsByTerm($viewValue)"
								   typeahead-min-length="2"
								   typeahead-wait-ms="100"
								   typeahead-editable="false" 
								   typeahead-on-select="productSelected(receipeProduct.selectedReceipeProduct, $index)"
								   data-ng-change="checkIfPercentageResultIs100(receipe.receipeProducts)"
								   autofocus 
								   title="{{receipeProduct.product.number + ' ' + receipeProduct.product.name}}"
								   data-ng-disabled="product.inactive" />
		      				</td>
			      			<td>
			      				<div data-ng-show="receipeType=='STANDARD_MIXTURE'" style="margin-top:6px;margin-left:20px;text-align:right;">
			      					{{receipeProduct.product.density | number:3}}
			      				</div>
			      				<input data-ng-show="receipeType=='CHANGED_MIXTURE'" type="number" class="form-control" pattern="[0-9]+([\.,][0-9]+)?" step="0.1" style="width:80px;border:none;box-shadow:none;" data-ng-model="receipeProduct.density" data-ng-init="(receipeType=='CHANGED_MIXTURE' && receipeProduct.density == null) ? receipeProduct.density = receipeProduct.product.density : null" data-ng-change="calculateKilogramAndLiterOfAllProducts(receipe)" />
			      			</td>
			      			<td>
			      				<input type="number" class="form-control" pattern="[0-9]+([\.,][0-9]+)?" step="0.05" style="width:80px;border:none;box-shadow:none;" data-ng-model="receipeProduct.percentage" data-ng-change="checkIfPercentageResultIs100(receipe.receipeProducts);calculateKilogramAndLiter(receipe, receipeProduct)" data-ng-disabled="receipeProduct.product.inactive || product.inactive" placeholder="%" />
			      			</td>
			      			<td data-ng-show="receipeType=='CHANGED_MIXTURE'">
			      				<div style="margin-top:8px;text-align:right;">{{receipeProduct.kilogram | number:1}}</div>
			      			</td>
			      			<td data-ng-show="receipeType=='CHANGED_MIXTURE'">
			      				<div style="margin-top:8px;text-align:right;">{{receipeProduct.liter | number:1}}</div>
			      			</td>
			      			<td data-ng-show="receipeType=='CHANGED_MIXTURE'">
			      				<input type="text" class="form-control" data-ng-model="receipeProduct.information" style="min-width:95px;" data-ng-disabled="receipeProduct.product.inactive || product.inactive" placeholder="Information" />
			      			</td>
			      			<td><span class="glyphicon glyphicon-minus icon-hover" data-ng-click="removeReceipeProduct($index)" title="Komponente entfernen"></span></td>
		      			</tr>
		      			<tr style="border:2px solid #ccc;">
		      				<td></td>
		      				<td style="max-width:20px;">&sum;</td>
		      				<td>
		      					<span style="margin-left:12px;">Gesamt</span>
		      				</td>
		      				<td></td>
		      				<td>
		      					<table>
		      						<tr>
		      							<td><span style="margin-left:5px;" data-ng-class="percentageResultIs100 == true ? 'successMessage' : 'errorMessage'" >100%</span></td>
		      							<td><span>&nbsp;</span></td>
		      							<td><span data-ng-hide="receipe.receipeProducts.percentageResult == null"> {{receipe.receipeProducts.percentageResult | number:2}}</span></td>
		      						</tr>
		      					</table>
		      				</td>
		      				<td data-ng-show="receipeType=='CHANGED_MIXTURE'"></td>
			      			<td data-ng-show="receipeType=='CHANGED_MIXTURE'"></td>
			      			<td data-ng-show="receipeType=='CHANGED_MIXTURE'"></td>
		      				<td></td>
		      			</tr>
			      	</tbody>
		      	</table>
		      </div>
	      	  <div class="col-sm-1"> 
	      	  </div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-3 icon-hover" style="margin-top:0px;padding-left:16px;" data-ng-click="addAdditionalsToProductTrigger = !addAdditionalsToProductTrigger" data-ng-show="addAdditionalsToProductTrigger == false">
				<span class="glyphicon glyphicon-plus" data-ng-hide="product.inactive" data-ng-init="receipe.receipeAdditionals == null ? addAdditionalsToProductTrigger = false : addAdditionalsToProductTrigger = true"></span> 
				Zus&auml;tze hinzuf&uuml;gen <i class="fa fa-eyedropper" aria-hidden="true"></i><br />
			</div>
		    <label class="control-label col-sm-3" for="description" data-ng-show="addAdditionalsToProductTrigger == true">Zus&auml;tze:</label>
		    <div class="col-sm-8" data-ng-show="addAdditionalsToProductTrigger == true"> 
		      	<table class="table" style="border:2px solid #eee;width:625px;">
		      		<thead>
		      			<tr>	
		      				<th></th>
		      				<th>Komponente</th>
		      				<th>Anzahl [E/t]</th>
		      				<th>Einheit</th>
		      				<th>Menge gesamt [E]</th>
		      				<th><span class="glyphicon glyphicon-plus icon-hover" style="float:right;" data-ng-hide="product.inactive" data-ng-click="addReceipeAdditional()"></span></th>
		      			</tr>
		      		</thead>
		      		<tbody>
		      			<tr data-ng-repeat="receipeAdditional in receipe.receipeAdditionals track by $index">
		      				<td style="max-width:24px;">
		      					<div class="fa fa-eyedropper" style="margin-top:10px;color:{{receipeAdditional.product.color}}" aria-hidden="true"></div>
		      				</td>
		      				<td style="min-width:180px;">
     							<input type="text" 
     							   title="Dichte: {{receipeAdditional.product.density || '--'}}"
							       class="form-control" 
							       style="border:none;box-shadow: inset 0px 0px 0px 0px #fff;"
								   placeholder="Komponente suchen" 
								   data-ng-init="receipeAdditional.selectedReceipeAdditional = getProductName(receipeAdditional)"
								   data-ng-model="receipeAdditional.selectedReceipeAdditional"
								   typeahead="product as product.name for product in getProductsByTerm($viewValue)"
								   typeahead-min-length="2"
								   typeahead-wait-ms="100"
								   typeahead-editable="false" 
								   typeahead-on-select="additionalProductSelected(receipeAdditional.selectedReceipeAdditional, $index)" 
								   data-ng-disabled="product.inactive" />
								 <span class="errorMessage" data-ng-show="receipeAdditional.productError == true">Bitte ein Produkt ausw&auml;hlen</span>
		      				</td>
		      				<td>
		      					<input type="number" class="form-control" pattern="[0-9]+([\.,][0-9]+)?" step="0.05" style="width:80px;border:none;box-shadow:none;" data-ng-model="receipeAdditional.amount" data-ng-change="calculateReceipeAdditional(receipeAdditional, $index)" placeholder="{{receipeAdditional.unityType | translate}}" />
		      				</td>
		      				<td>
		      					<select name="category" style="width:100px;" class="form-control" data-ng-model="receipeAdditional.unityType" data-ng-options="unityType | translate for unityType in unityTypes" data-ng-change="calculateReceipeAdditional(receipeAdditional, $index)">
								</select>
		      				</td>
		      				<td style="text-align:right;">
		      					<div style="margin-top:5px">{{receipeAdditional.result | number:3}}</div>
		      				</td>
		      				<td><span class="glyphicon glyphicon-minus icon-hover" style="float:right;" data-ng-hide="product.inactive" data-ng-click="removeReceipeAdditional($index)"></span></td>
		      			</tr>
			      	</tbody>
		      	</table>
		    </div>
		</div>
		<div class="form-group">
		    <label class="control-label col-sm-3" for="description">Anmerkungen:</label>
		    <div class="col-sm-8"> 
		      <textarea class="form-control" name="information" data-ng-model="receipe.information" data-ng-disabled="product.inactive" style="height:100px;overflow-x: hidden;" placeholder="Anmerkungen"></textarea>
		    </div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3" for="calendarEntry">Zugewiesene<br />Mischvorschrift:</label>
		    <div class="col-sm-9">
				<table data-ng-show="receipe.receipeAttachments.length > 0">
					<tr data-ng-repeat="attachment in receipe.receipeAttachments track by $index">
						<td>
							{{$index+1}}. 
						</td>
						<td><span>&nbsp;</span></td>
						<td>
							<span class="icon-hover" data-ng-init="documentUrl = createDocumentUrl(currentUser, product, attachment)" data-ng-click="showTemplateModal(documentUrl, attachment)">
								<img data-ng-src="assets/img/{{attachment.ending}}.PNG" alt="" document-file-icon-dispatch /> {{attachment.filename}} <span style="font-size:0.8em;">({{attachment.version.substr(1)}})</span>
							</span>
						</td>
						<td><span>&nbsp;</span></td>
						<td>
							<span class="glyphicon glyphicon-minus icon-hover" data-ng-click="removeFile($index)"></span>
						</td>
					</tr>
				</table>
				<input type="text" 
			       class="form-control" 
			       style="width: 250px;"
				   placeholder="Dokument suchen" 
				   data-ng-model="file"
				   typeahead="document as document.fileName for document in findDocumentsByTerm($viewValue)"
				   typeahead-min-length="2"
				   typeahead-wait-ms="100"
				   typeahead-editable="true"
				   typeahead-template-url = "documentReceipeTemplate.htm"
				   data-ng-disabled="product.inactive" />
			   	<script type="text/ng-template" id="documentReceipeTemplate.htm">
					<div class="icon-hover">					
						<table class="table">
							<tr data-ng-click="$event.stopPropagation()">
								<td style="border:none;"><b>{{match.model.fileName}}</b></td>
								<td style="border:none;"><span>&nbsp;</span></td>
								<td style="border:none;">
									<div data-ng-repeat="documentFileVersion in match.model.documentFileVersions">
										<input type="checkbox" data-ng-model="selected" ng-true-value="true" ng-false-value="false" data-ng-click="match.model.vm.attachFile(selected, match.model, documentFileVersion)" /> {{documentFileVersion.version.substr(1)}}
									</div>
								</td>
							</tr>
						</table>
    		  		</div>
				</script>
			</div>
		</div>
	</form>
	<div style="float:right;margin-right:80px;">
		<button class="btn btn-default" type="button" data-ng-click="createReceipe()" data-ng-show="type == 'CREATE'" data-ng-disabled="receipe.receipeProducts.length == 0 || percentageResultIs100 == false">Anlegen</button>
		<button class="btn btn-default" type="button" data-ng-click="changeReceipe()" data-ng-show="type == 'CHANGE'" data-ng-disabled="receipe.receipeProducts.length == 0 || receipe.date == null || percentageResultIs100 == false">&Auml;ndern <span data-ng-show="receipe.updated == true" class="glyphicon glyphicon-ok successMessage"></span></button>
		<span>	
			<button class="btn btn-default" style="border-top-right-radius: 0px !important;border-bottom-right-radius: 0px !important; border-right: none !important;" data-ng-show="(type=='CHANGE' && receipeType=='STANDARD_MIXTURE' && userAuthorizationUserContainer.userAuthorizations[26].state == true) || (type=='CHANGE' && receipeType=='CHANGED_MIXTURE' && userAuthorizationUserContainer.userAuthorizations[29].state == true)" data-ng-click="deleteReceipe(receipe, canDeleteReceipeOrMixture)" data-ng-disabled="canDeleteReceipeOrMixture == false">L&ouml;schen</button>
			<button type="button" style="margin-left:-5px;border-top-left-radius: 0px !important;border-bottom-left-radius: 0px !important; border-left: none !important;" class="btn btn-default" data-ng-show="(type=='CHANGE' && receipeType=='STANDARD_MIXTURE' && userAuthorizationUserContainer.userAuthorizations[26].state == true) || (type=='CHANGE' && receipeType=='CHANGED_MIXTURE' && userAuthorizationUserContainer.userAuthorizations[29].state == true)" data-toggle="button" data-ng-init="canDeleteReceipeOrMixture = false" data-ng-click="canDeleteReceipeOrMixture = !canDeleteReceipeOrMixture" title="L&ouml;schen aktiv schalten">
				<span class="glyphicon glyphicon-ban-circle"></span>
			</button>
		</span>
		<button class="btn btn-default" type="button" data-ng-click="closeCreateReceipeModal()" data-ng-show="type == 'CREATE'">Schlie&szlig;en</button>
	</div>
</div>