<div class="timeRegistrationModal modal-dialog printable">
	<div class="panel-heading" style="margin-top:-20px;">
    	<button onClick="javascript:window.print()" type="button" class="btn btn-default printButton"><span class="glyphicon glyphicon-print"></span></button>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="vm.closePrintTimeRegistrationModal()">
	  		<span aria-hidden="true">&times;</span>
	  	</button>
	    <br />
	    <br />
	    <h4>Auflistung der Zeiteintr&auml;ge</h4> <span style="float:right; margin-right: 40px;">{{vm.today | date:'dd.MM.yyyy HH:mm'}}</span>
    </div>
    <div class="modal-body">
	    <div data-ng-show="vm.timeRegistrations.length == 0">
      		Es sind keine Eintr&auml;ge vorhanden
      	</div>
	    <table class="table table-striped">
	    	<tr data-ng-repeat="timeRegistration in vm.timeRegistrations track by $index">
	    		<td>
	    			von <b>{{timeRegistration.dateTimeFrom | date:'dd.MM.yyyy HH:mm'}}</b><br />
	    			bis <b>{{timeRegistration.dateTimeUntil | date:'dd.MM.yyyy HH:mm'}}</b>
	    		</td>
	    		<td>{{timeRegistration.timeRange}}</td>
	    		<td>{{timeRegistration.user.title}} {{timeRegistration.user.firstname}} {{timeRegistration.user.surname}}</td>
	    		<td><span class="glyphicon glyphicon-folder-open" style="color:{{timeRegistration.project.color}}"></span>	    					
   					{{timeRegistration.project.name}}</td>
	    		<td>{{timeRegistration.text}}</td>
	    	</tr>
	    </table>
    </div>
</div>