<div class="printAccessControlModal">
    <div class="modal-header">
		<div class="controlButtons non-printable">
	    	<button onClick="javascript:window.print()" type="button" class="btn btn-default printButton">Ausdrucken</button>
			<button data-ng-click="vm.closePrintAccessControlModal()" type="button" class="btn btn-default closeButton">Schlie&szlig;en</button>
			<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closePrintAccessControlModal()"></span>
	    </div>
	    <br />
        <h4 class="modal-title">Zutritte</h4>
        <span style="float:right; margin-right: 50px;margin-top:-20px;">{{vm.today | date:'dd.MM.yyyy'}}</span>
    </div>
    <div class="modal-body">

		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Zeit</th>
					<th>Beschreibung</th>
					<th>Username</th>
					<th>User- Ext ID</th>
					<th>T&uuml;rname</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="accessControl in vm.accessControls track by $index">
					<td>{{$index+1}}.</td>
					<td>{{accessControl.eventDateTime}}</td>
					<td>{{accessControl.operationDescription}}</td>
					<td>{{accessControl.userName}}</td>
					<td>{{accessControl.userExtID}}</td>
					<td>{{accessControl.doorName}}</td>
				</tr>
			</tbody>
		</table>
			 
    </div>
</div>