<div class="contactFacilityDetailCreateEditModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close non-printable" data-ng-click="vm.closeContactFacilityDetailCreateEditModal()"></span>
        <h4 class="modal-title"><span class="glyphicon glyphicon-file"></span> 
        	&Auml;nderung der Anlagendetails des Termins <span class="glyphicon glyphicon-calendar"></span> 
        	<b>{{vm.facilityDetail.calendarEvent.title}}</b> in {{vm.facilityDetail.calendarEvent.location}} ({{vm.facilityDetail.calendarEvent.startsAt | date:'dd.MM.yyyy HH:mm'}} - {{vm.facilityDetail.calendarEvent.endsAt | date:'dd.MM.yyyy HH:mm'}}) f&uuml;r den Kontakt 
        	<span class="glyphicon glyphicon-home" style="color:{{vm.contact.color}}"></span> <b>{{vm.contact.institution}}</b> - 
        	<span style="font-size:0.8em;">Angelegt von <span class="glyphicon glyphicon-user" style="color:{{vm.facilityDetail.user.color}}"></span> {{vm.facilityDetail.user.title}} {{vm.facilityDetail.user.firstname}} <b>{{vm.facilityDetail.user.surname}}</b>
        	am <b>{{vm.facilityDetail.creationDate}}</b></span>
        </h4>
    </div>
    <div class="modal-body">
    	<form name="createEditContactFacilityDetailForm" class="form-horizontal" data-ng-submit="vm.updateFacilityDetail()">
    		<div class="form-group">
			    <div class="headline">0. Kontakt Id</div>
			</div>
	 	 	<div class="form-group">
			    <label class="control-label col-sm-4" for="name">Kontakt Id:<span class="mandatory">*</span></label>
			    <div class="col-sm-6">
			    	<input type="text" class="form-control" data-ng-model="vm.facilityDetail.contactId" />
			    </div>
			</div>
    		<div class="form-group">
			    <div class="headline">1. Wer liefert was?</div>
			</div>
	 	 	<div class="form-group">
			    <label class="control-label col-sm-4" for="name">VTA:<span class="mandatory">*</span></label>
			    <div class="col-sm-6">
			    	<div data-ng-repeat="activityType in vm.activityTypes">
			    		<input type="checkbox" 
			    				data-ng-model="isSelected" 
			    				data-ng-init="isSelected = vm.isActivityTypeSelected(activityType, null, 'activityType')" 
			    				data-ng-true-value="true" 
			    				data-ng-false-value="false" 
			    				data-ng-change="vm.addOrRemoveActivityType(activityType)" /> {{activityType | translate}}
			    		<div data-ng-show="activityType === 'ROUTINE_VISITATION' && vm.isTypeSelected('ROUTINE_VISITATION')">
						    <textarea class="form-control" data-ng-model="vm.facilityDetail.activityRoutineVisitationInformation" placeholder="Information zum Routinebesuch"></textarea>
						</div>
						<div data-ng-show="activityType === 'POLYMER' && vm.isTypeSelected('POLYMER')">
						    <textarea class="form-control" data-ng-model="vm.facilityDetail.activityPolymerInformation" placeholder="Information zu Polymer"></textarea>
						</div>
						<div data-ng-show="activityType === 'FAELLUNGS_MITTEL' && vm.isTypeSelected('FAELLUNGS_MITTEL')">
						    <textarea class="form-control" data-ng-model="vm.facilityDetail.activityFaellungsMittelInformation" placeholder="Information zum F&auml;llungsmittel"></textarea>
						</div>
						<div data-ng-show="activityType === 'OTHER_CHEMICALS' && vm.isTypeSelected('OTHER_CHEMICALS')">
						    <textarea class="form-control" data-ng-model="vm.facilityDetail.activityOtherChemicalsInformation" placeholder="Information zu anderen Chemikalien"></textarea>
						</div>
						<div data-ng-show="activityType === 'TECHNIQUE' && vm.isTypeSelected('TECHNIQUE')">
						    <textarea class="form-control" data-ng-model="vm.facilityDetail.activityTechniqueInformation" placeholder="Information zur Technik"></textarea>
						</div>
						<div data-ng-show="activityType === 'SERVICE' && vm.isTypeSelected('SERVICE')">
						    <textarea class="form-control" data-ng-model="vm.facilityDetail.activityServiceInformation" placeholder="Information zum Service"></textarea>
						</div>
						<div data-ng-show="activityType === 'OTHERS' && vm.isTypeSelected('OTHERS')">
						    <textarea class="form-control" data-ng-model="vm.facilityDetail.activityOtherInformation" placeholder="Information zu Sonstiges"></textarea>
						</div>
			    	</div>
			    </div>
			</div>
			<div class="form-group">
			    <label class="control-label col-sm-4" for="name">
			    	<input type="checkbox" data-ng-init="vm.facilityDetail.otherVendors.length > 0 ? otherVendorsCheckedTrigger = true : otherVendorsCheckedTrigger = false" data-ng-model="otherVendorsCheckedTrigger" /> Andere Anbieter:<span class="mandatory">*</span>
			    </label>
			    <div class="col-sm-6">
			    	<textarea class="form-control" data-ng-show="otherVendorsCheckedTrigger" data-ng-model="vm.facilityDetail.otherVendors" placeholder="Andere Anbieter"></textarea>
			    </div>
			</div>
			<div class="form-group">
			    <div class="headline">2. Anlagensituation</div>
			</div>
			<div class="form-group">
			    <label class="control-label col-sm-4" for="name">Anlagensituation:<span class="mandatory">*</span></label>
			    <div class="col-sm-6">
			    	<textarea class="form-control" data-ng-model="vm.facilityDetail.situationOfFacility" placeholder="Anlagensituation"></textarea>
			    </div>
			</div>
			<div class="form-group">
			    <div class="headline">3. EW (ausgebaut)</div>
			</div>
			<div class="form-group">
			    <label class="control-label col-sm-4" for="name">EW (ausgebaut):<span class="mandatory">*</span></label>
			    <div class="col-sm-6">
			    	<input type="text" class="form-control" style="width:100px;" data-ng-model="vm.facilityDetail.ewBuild" />
			    </div>
			</div>
			<div class="form-group">
			    <div class="headline">4. EW (belastet)</div>
			</div>
			<div class="form-group">
			    <label class="control-label col-sm-4" for="name">EW (belastet):<span class="mandatory">*</span></label>
			    <div class="col-sm-6">
			    	<input type="text" class="form-control" style="width:100px;" data-ng-model="vm.facilityDetail.ewLoaded" />
			    </div>
			</div>
			<div class="form-group">
			    <div class="headline">5. Anlagentyp</div>
			</div>
			<div class="form-group">
			    <label class="control-label col-sm-4" for="name">Einleitung:<span class="mandatory">*</span></label>
			    <div class="col-sm-6">
				    <span>
					    <input type="radio" data-ng-model="vm.facilityDetail.discharge" value="DIRECT_DISCHARGE">
					    Direkteinleitung
					</span><br/>
					<span>
					    <input type="radio" data-ng-model="vm.facilityDetail.discharge" value="INDIRECT_DISCHARGE">
					    Indirekteinleitung
					</span>
			    </div>
				<br />
			    <br />
			    <br />
			    <label class="control-label col-sm-4" for="name">Anlagentyp:<span class="mandatory">*</span></label>
			    <div class="col-sm-6">
			    	<div data-ng-repeat="facilityDetailsType in vm.facilityDetailsTypes track by $index"> 
			    		<span data-ng-show="facilityDetailsType !== 'FLOTATIONS_BECKEN' && facilityDetailsType !== 'SEDIMENTATIONS_BECKEN'">
			    			<input type="checkbox" data-ng-model="isSelected" data-ng-init="isSelected = vm.isFacilityDetailTypeSelected(facilityDetailsType)" data-ng-true-value="true" data-ng-false-value="false" data-ng-change="vm.addOrRemoveFacilityDetailsType(facilityDetailsType)" />
			    			{{facilityDetailsType | translate}}
			    		</span>
			    		<span data-ng-show="(facilityDetailsType == 'FLOTATIONS_BECKEN' || facilityDetailsType == 'SEDIMENTATIONS_BECKEN') && vm.isFacilityTypeSelected('VORREINIGUNG')">
			    			<input type="checkbox" class="vorreinigungsTypes" data-ng-model="isSelected" data-ng-init="isSelected = vm.isFacilityDetailTypeSelected(facilityDetailsType)" data-ng-true-value="true" data-ng-false-value="false" data-ng-change="vm.addOrRemoveFacilityDetailsType(facilityDetailsType)" />
			    			{{facilityDetailsType | translate}}
			    		</span>
			    		<div style="margin-left:20px;" data-ng-show="facilityDetailsType === 'FLOTATIONS_BECKEN' && vm.isFacilityTypeSelected('VORREINIGUNG')" class="form-group">
						    <textarea class="form-control" data-ng-model="vm.facilityDetail.vorreinigungInformation" placeholder="Information zum Flotationsbecken"></textarea>
						</div>
						<div data-ng-show="facilityDetailsType === 'ENTWAESSERUNGS_AGGREGAT' && vm.isFacilityTypeSelected('ENTWAESSERUNGS_AGGREGAT')" class="form-group">
						    <textarea class="form-control" data-ng-model="vm.facilityDetail.entwaesserungsAggregateInformation" placeholder="Information zum Entw&auml;sserungsaggregat"></textarea>
						</div>
			    	</div>
			    </div>
			</div>
			<div class="form-group">
			    <div class="headline">6. Sonstiges</div>
			</div>
			<div class="form-group">
			    <label class="control-label col-sm-4" for="name">Sonstiges:<span class="mandatory">*</span></label>
			    <div class="col-sm-6">
			    	<textarea class="form-control" data-ng-model="vm.facilityDetail.others" placeholder="Sonstiges"></textarea>
			    </div>
			</div>
			<br />
			<br />
			<div class="col-sm-offset-9">
				<button class="btn btn-default" type="submit">
					Speichern
				    <span class="glyphicon glyphicon-alert errorMessage" data-ng-show="vm.facilityDetailsUpdatedError"></span>
				</button>
			</div>
		</form>
		<br />
		<br />
    </div>
</div>