<div class="row clearfix communication non-printable">
	<div class="breadcrumb">
		<span class="explanation"><span class="glyphicon glyphicon-comment"></span> Empfangene und gesendete Arbeitsauftr&auml;ge</span>
		<span class="logo">wdm</span>
	</div>
	<div class="col-md-1 column">
	</div>
	<div class="col-md-10 column">
		<div class="controlContainer" style="max-height:60px;">
			<table style="margin-top:-8px;margin-left:-15px;">
				<tr>
					<td data-ng-show="vm.todoView == true">  
						<div data-ng-show="vm.userAuthorizationUserContainer.userAuthorizations[13].state == true" class="createNewTodo icon-hover" data-ng-click="vm.createNewWorkingOrderEntry()"><span class="glyphicon glyphicon-plus pulseOnce"></span> Arbeitsauftrag erstellen</div>
					</td>
					<td><span>&nbsp;</span></td>				
					<td>Projekt:</td>
					<td><span>&nbsp;</span></td>
					<td>
				      	<div class="dropdown dropdown-scroll">
						    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
						    	<span data-ng-show="vm.selectedProject == null">Projekt ausw&auml;hlen</span> 
						    	<span data-ng-show="vm.selectedProject != null">
						    		<span class="glyphicon glyphicon-folder-open" style="color:{{vm.selectedProject.color}}"></span>
						    		<b>{{vm.selectedProject.name}}</b>
						    	</span> 
						    	<span class="caret"></span>
						    </button>
						    <ul class="dropdown-menu">
						        <li role="presentation">      	
						            <div class="input-group input-group-sm search-control"> 
						            	<span class="input-group-addon">
						                    <span class="glyphicon glyphicon-search"></span>
										</span>
						                <input type="text" class="form-control" placeholder="Projekt suchen" data-ng-model="query"></input>
						            </div>
						        </li>
						        <li><span>&nbsp;</span></li>
						        <li role="presentation" data-ng-repeat="project in vm.projects | filter:query">
						        	<table class="projectTable">
						        		<tr>
						        			<td style="min-width:13px;">
						        				<span data-ng-show="project.selected == true" class="glyphicon glyphicon-ok icon-hover" data-ng-click="vm.removeSelectedProject(project)"></span>
						        			</td>
						        			<td><span>&nbsp;</span></td>
						        			<td>
						        				<span class="glyphicon glyphicon-folder-open" style="color:{{project.color}}"></span>
						        				<span class="icon-hover possibleProject" data-ng-click="vm.addSelectedProject(project)">{{project.name}}</span>
						        			</td>
						        		</tr>
						        	</table> 
						        </li>
						    </ul>
						</div>
					</td>
					<td><span>&nbsp;</span></td>
					<td>
						<div data-ng-show="vm.selectedProject.logoName != null && vm.selectedProject.logoName != ''" style="float: right;width: 80px; height: 40px;">
							<img data-ng-src="api/files/projectlogo/{{vm.selectedProject.logoName == null || vm.selectedProject.logoName == '' ? 'standardLogo.png' : vm.selectedProject.logoName}}/" alt="logo" style="display: block;max-width:100%;max-height:100%;" />
						</div>
					</td>
					<td><span>&nbsp;</span></td>
					<td>Von:</td>
					<td>
						<p class="input-group" style="margin-top:10px;max-width:120px;">
					    	<input type="text"
			                            class="form-control dateInput"
			                            name="filterStartDate"                                
			                            data-ng-model="vm.filterStartDate"
			                            datepicker-popup="dd.MM.yyyy"
			                            is-open="vm.filterStartDatePicker"
			                            close-text="schlie&szlig;en"
			                            current-text="heute"
			                            clear-text="l&ouml;schen"
			                            datepicker-options="{startingDay: 1}"
			                            placeholder="Start"
			                            disabled>
			                  	<span class="input-group-btn">
			                       		<button type="button" class="btn btn-default btn-xs datePickerButton"                         		   
			                               data-ng-click="vm.openFilterStartDatePicker($event)">
			                               <span class="glyphicon glyphicon-calendar"></span>
			                            </button>
			                  	</span>
						  </p>
					</td>
					<td><span>&nbsp;</span></td>
					<td>Bis:</td>
					<td>
						<p class="input-group" style="margin-top:10px;max-width:120px;">
					    	<input type="text"
			                            class="form-control dateInput"
			                            name="filterEndDate"                                
			                            data-ng-model="vm.filterEndDate"
			                            datepicker-popup="dd.MM.yyyy"
			                            is-open="vm.filterEndDatePicker"
			                            close-text="schlie&szlig;en"
			                            current-text="heute"
			                            clear-text="l&ouml;schen"
			                            datepicker-options="{startingDay: 1}"
			                            placeholder="Ende"
			                            disabled>
			                  	<span class="input-group-btn">
			                       		<button type="button" class="btn btn-default btn-xs datePickerButton"                         		   
			                               data-ng-click="vm.openFilterEndDatePicker($event)">
			                               <span class="glyphicon glyphicon-calendar"></span>
			                            </button>
			                  	</span>
						  </p>
					</td>
					<td>
						<button type="submit" class="btn btn-default" data-ng-click="vm.findWorkingOrdersInTimeRange()">
							Alle Auftr&auml;ge anzeigen	
					    </button>
					</td>
					<td><span>&nbsp;</span></td>
					<td>
						<span class="glyphicon glyphicon-eye-open icon-hover" data-ng-click="vm.findOpenSentAndReceivedWorkingOrders()" title="Zeige nur offene Arbeitsauftr&auml;ge an"></span>
					</td>
				</tr>
			</table>
		</div>
		<span class="errorMessage" data-ng-show="vm.selectedProject == null">Bitte ein Projekt ausw&auml;hlen</span>
	</div>
	
	<div class="row clearfix">
	    <div class="col-sm-offset-1 col-md-7 column">
	    	<br />
	    	<table style="margin-left:10px;margin-bottom:5px;">
	    		<tr>
	    			<td><span class="glyphicon glyphicon-search"></span></td>
	    			<td><span>&nbsp;</span></td>
	    			<td><input type="text" class="form-control" data-ng-model="searchString" style="width:220px;border-top-right-radius:0px;border-bottom-right-radius:0px;" placeholder="Suche nach Arbeitsauftr&auml;gen" /></td>
	    			<td>
	    				<button class="btn btn-default" type="button" style="border-left:none;border-top-left-radius:0px;border-bottom-left-radius:0px;" data-ng-click="vm.searchCalendarEvents()" data-toggle="dropdown">Suchen</span>
						</button>
	    			</td>
	    			<td><span>&nbsp;</span></td>
					<td><span class="fa fa-file-pdf-o icon-hover" style="margin-right:10px;margin-top:5px;color:#777;" data-ng-click="vm.printContainer('communicationsId', 'Arbeitsauftr&auml;ge')" title="Arbeitsauftr&auml;ge herunterladen"></span></td>
	    		</tr>
	    	</table>
	    	<!-- chat -->
	    	<div data-ng-show="vm.todoView == false">
		    	<div id="communicationHistoryContainer" class="col-md-8 grid-wrapper-div communicationHistory">
		    		<br />
					<br />
					<div data-ng-show="vm.communicationUserConnectionsOfUserAndPage.length == 0" class="noMessages">Keine Nachrichten vorhanden - Schreiben Sie eine Nachricht, indem Sie im unteren Eingabefeld eine Nachricht eingeben, rechts die Empf&auml;nger ausw&auml;hlen und danach auf den Absenden- Button klicken.</div>
					<div data-ng-repeat="communicationUserConnectionOfUserAndPage in vm.communicationUserConnectionsOfUserAndPage | filter:searchString | filter: {project: {name: vm.selectedProject.name}} | filter:vm.executedSearchFilter()" data-ng-class="communicationUserConnectionOfUserAndPage.userCreatedMessage.id != vm.currentUser.id ? 'communicationMessageOfUser media otherUserMessage' : 'communicationMessageOfUser media'">
						<img src="/assets/img/communicationLeft.png" alt="" data-ng-show="communicationUserConnectionOfUserAndPage.userCreatedMessage.id == vm.currentUser.id" style="margin-left: -26px; position: absolute;" />
						<img src="/assets/img/communicationRight.png" alt="" data-ng-show="communicationUserConnectionOfUserAndPage.userCreatedMessage.id != vm.currentUser.id" style="margin-left: 685px; position: absolute;" />
						<div style="width: 90%;">
							<span class="glyphicon glyphicon-remove icon-hover" data-ng-click="vm.archiveCommunicationUserConnection(communicationUserConnectionOfUserAndPage)"></span>
							<span class="glyphicon glyphicon-pencil icon-hover" data-ng-show="communicationUserConnectionOfUserAndPage.userCreatedMessage.id == vm.currentUser.id" data-ng-click="vm.editCommunicationMessage(communicationUserConnectionOfUserAndPage)" data-ng-class="communicationUserConnectionOfUserAndPage.messageEdit == true ? 'errorMessage' : ''"></span>
							<b>{{communicationUserConnectionOfUserAndPage.userCreatedMessage.title}} {{communicationUserConnectionOfUserAndPage.userCreatedMessage.firstname}} {{communicationUserConnectionOfUserAndPage.userCreatedMessage.surname}}</b> 
							<span class="glyphicon glyphicon-user" style="color: {{communicationUserConnectionOfUserAndPage.userCreatedMessage.color}}"></span>
							(<span class="glyphicon glyphicon-folder-open" style="color:{{communicationUserConnectionOfUserAndPage.project.color}}"></span> {{communicationUserConnectionOfUserAndPage.project.name}} )
							<span style="font-size:0.85em; font-style: italic;">{{communicationUserConnectionOfUserAndPage.communication.receiveDate}}</span>
							<span data-ng-repeat="messageGroup in communicationUserConnectionOfUserAndPage.communication.messageGroups">
								[{{messageGroup.name}} <span class="glyphicon glyphicon-th-large" style="color:{{messageGroup.color}} !important;"></span>]
							</span>
							<span style="margin-left:10px;float:right; border-radius:15px; width:42px;height:50px;background-size: 42px 50px;background-repeat: no-repeat;" data-ng-style="{'background-image': 'url(api/files/profileimage/'+ communicationUserConnectionOfUserAndPage.userCreatedMessage.profileImagePath +'/)'}"></span>
							<br />
							<div style="float: left; margin-left: 18px;">
								<span data-ng-bind-html="communicationUserConnectionOfUserAndPage.communication.title | smilies"></span>
								<div data-ng-bind-html="communicationUserConnectionOfUserAndPage.communication.message | smilies"></div>
								<br />
							</div>
							<div style="float: right;">
								<div data-ng-show="communicationUserConnectionOfUserAndPage.userCreatedMessage.id == vm.currentUser.id">
									<button class="btn btn-default btn-circle" data-ng-click="vm.showMessageReceiverOverview(communicationUserConnectionOfUserAndPage, communicationUserConnectionOfUserAndPage.confirmationNeeded)" title="&Uuml;bersicht &uuml;ber die Empf&auml;nger">
										<span class="glyphicon glyphicon-info-sign" data-ng-class="communicationUserConnectionOfUserAndPage.confirmationNeeded == true ? 'confirmationNeeded' : ''"></span>
									</button>
								</div>
								<div style="margin-top: 40px;font-size:0.8em;" data-ng-show="communicationUserConnectionOfUserAndPage.executionDate != null">
									zu erledigen bis {{communicationUserConnectionOfUserAndPage.executionDate | date:'dd.MM.yyyy'}}
									<span class="glyphicon glyphicon-alert errorMessage blinkText" data-ng-show="vm.executionDateAfterToday(communicationUserConnectionOfUserAndPage.executionDate) == true && communicationUserConnectionOfUserAndPage.executed == false"></span>
								</div>
								<div data-ng-show="communicationUserConnectionOfUserAndPage.confirmationNeeded == true && communicationUserConnectionOfUserAndPage.userCreatedMessage.id != vm.currentUser.id">
									<input type="checkbox" data-ng-disabled="communicationUserConnectionOfUserAndPage.read == true" data-ng-click="vm.communicationConfirmation(communicationUserConnectionOfUserAndPage)" data-ng-model="communicationUserConnectionOfUserAndPage.read"  />
									<span class="messageDeleteError"><b>Nachricht best&auml;tigen</b></span>
								</div>
								<div data-ng-show="communicationUserConnectionOfUserAndPage.executionDate != null && communicationUserConnectionOfUserAndPage.userCreatedMessage.id != vm.currentUser.id">
									<input type="checkbox" data-ng-click="vm.communicationOrderExecuted(communicationUserConnectionOfUserAndPage)" data-ng-model="communicationUserConnectionOfUserAndPage.executed"  />
									<span class="messageDeleteError"><b>Erledigt</b></span>
								</div>
								<div data-ng-show="communicationUserConnectionOfUserAndPage.archivationNotPossible == true" class="errorMessage">Auftrag nicht erledigt</div>
								<br />
								<br />
							</div>
							<div style="float: left;margin-left:40px;margin-top:50px;">
								<span data-ng-show="communicationUserConnectionOfUserAndPage.communication.attachedFileUrls.length > 0 && communicationUserConnectionOfUserAndPage.communication.communicationAttachments.length > 0"><b>Anh&auml;nge:</b></span>
								<div data-ng-show="communicationUserConnectionOfUserAndPage.communication.attachedFileUrls.length > 0">
									<div data-ng-repeat="attachedFileUrl in communicationUserConnectionOfUserAndPage.communication.attachedFileUrls track by $index">
										{{$index+1}}.
										<span data-ng-show="attachedFileUrl.image == true" data-ng-click="vm.showDocumentFilePreview(attachedFileUrl)">
											<img style="width:50px;margin:1px;" class="icon-hover" data-ng-src="{{attachedFileUrl.url}}" />
										</span>
										<a href="{{attachedFileUrl.url}}">{{attachedFileUrl.fileName}}</a>
									</div>
								</div>
								<div data-ng-repeat="attachment in communicationUserConnectionOfUserAndPage.communication.communicationAttachments track by $index">
									{{communicationUserConnectionOfUserAndPage.communication.attachedFileUrls.length+$index+1}}.
									<span data-ng-show="attachment.image == true" data-ng-click="vm.showImagePreview(attachment, '/api/filedownloads/filedownload/communication/', communicationUserConnectionOfUserAndPage.id, attachment.filename)">
										<img style="width: 50px;margin:1px;" class="icon-hover" data-ng-src="/api/filedownloads/filedownload/communication/{{communicationUserConnectionOfUserAndPage.id}}/{{attachment.filename}}" alt="image" />
									</span>
									<a href="/api/filedownloads/filedownload/communication/{{communicationUserConnectionOfUserAndPage.id}}/{{attachment.filename}}">{{attachment.originalFilename}}</a>
								</div>
							</div>
						</div>
					</div>
				</div>	
		   		<communication-create-form-directive data-ng-show="vm.userAuthorizationUserContainer.userAuthorizations[13].state == true" invoker="vm" confirmation="vm.confirmation" execution-date='vm.executionDate' selected-project="vm.selectedProject" current-user="vm.currentUser" selected-communication-groups="vm.selectedCommunicationGroups" selected-users="vm.selectedUsers" message="vm.message" message-edit="vm.messageEdit" communication-user-connection-of-user-and-page-edit="vm.communicationUserConnectionOfUserAndPageEdit" communication-user-connections-of-user-and-page="vm.communicationUserConnectionsOfUserAndPage"></communication-create-form-directive>
	   		</div>
	   		<!-- TODO-List -->
	   		<div data-ng-show="vm.todoView == true" id="communicationsId">
	   			<br />
		   		<div style="border:1px solid #ccc; padding:15px;">
					<div>
						<span class="communicationHeadline icon-hover" data-ng-init="hideReceivedAndOpenTable = false" data-ng-click="hideReceivedAndOpenTable = !hideReceivedAndOpenTable">
							<span style="font-size:1.2em;"><span class="glyphicon glyphicon-envelope"></span> Meine {{filteredReceivedAndOpenOrder.length}} <b>empfangenen</b> Arbeitsauftr&auml;ge:</span>
						</span>
						<span class="glyphicon glyphicon-print icon-hover" style="float:right;" data-ng-click="vm.showPrintMessageOrders('RECEIVED')" title="Arbeitsauftr&auml;ge ausdrucken"></span>
					</div>
					<br />
					<div data-ng-show="hideReceivedAndOpenTable == false">
						<div data-ng-show="filteredReceivedAndOpenOrder.length == 0">Keine Arbeitsauftr&auml;ge gefunden</div>
						<table class="table table-striped" data-ng-show="filteredReceivedAndOpenOrder.length > 0">
							<thead>
								<tr>
									<th>#</th>	
									<th>
										<table>
											<tr>
												<td><b>Empfangen von</b></td>
												<td><span>&nbsp;</span></td>
												<td><span class="glyphicon glyphicon-chevron-up icon-hover sortIcon" data-ng-click="vm.receivedOrderType = '-userCreatedMessage.surname'"></span></td>
												<td><span class="glyphicon glyphicon-chevron-down icon-hover sortIcon" data-ng-click="vm.receivedOrderType = 'userCreatedMessage.surname'"></span></td>
											</tr>
										</table>
									</th>
									<th>
										<table>
											<tr>
												<td><b>Projekt</b></td>
												<td><span>&nbsp;</span></td>
												<td><span class="glyphicon glyphicon-chevron-up icon-hover sortIcon" data-ng-click="vm.receivedOrderType = '-project.name'"></span></td>
												<td><span class="glyphicon glyphicon-chevron-down icon-hover sortIcon" data-ng-click="vm.receivedOrderType = 'project.name'"></span></td>
											</tr>
										</table>
									</th>
									<th></th>
									<th style="min-width:320px;">Auftrag</th>
									<th></th>
									<th>
										<table>
											<tr>
												<td><b>Erl.dat.</b></td>
												<td><span>&nbsp;</span></td>
												<td><span class="glyphicon glyphicon-chevron-up icon-hover sortIcon" data-ng-click="vm.receivedOrderType = '-executionDate'"></span></td>
												<td><span class="glyphicon glyphicon-chevron-down icon-hover sortIcon" data-ng-click="vm.receivedOrderType = 'executionDate'"></span></td>
											</tr>
										</table>
									</th>
									<th>
										<table>
											<tr>
												<td><b>Erledigt</b></td>
												<td><span>&nbsp;</span></td>
												<td><span class="glyphicon glyphicon-chevron-up icon-hover sortIcon" data-ng-click="vm.receivedOrderType = '-executed'"></span></td>
												<td><span class="glyphicon glyphicon-chevron-down icon-hover sortIcon" data-ng-click="vm.receivedOrderType = 'executed'"></span></td>
											</tr>
										</table>
									</th>
									<th>Erstellt</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="receivedAndOpenOrder in filteredReceivedAndOpenOrder = (vm.receivedAndOpenOrders | filter: {project: {name: vm.selectedProject.name}} | filter:searchString | orderBy:vm.receivedOrderType)" data-ng-class="vm.executionDateAfterToday(receivedAndOpenOrder.executionDate) == true && receivedAndOpenOrder.executed == false ? 'backgroundColorPulse' : ''">
									<td>{{$index+1}}.</td>
									<td>
										<span class="glyphicon glyphicon-user" style="color:{{receivedAndOpenOrder.userCreatedMessage.color}}"></span>
										{{receivedAndOpenOrder.userCreatedMessage.title}} {{receivedAndOpenOrder.userCreatedMessage.firstname}} <b>{{receivedAndOpenOrder.userCreatedMessage.surname}}</b>
									</td>
									<td>
										<span class="glyphicon glyphicon-folder-open" style="color:{{receivedAndOpenOrder.project.color}}"></span>
										{{receivedAndOpenOrder.project.name}} 
									</td>
									<td><span>&nbsp;</span></td>
									<td>
										<div style="font-weight:bold;font-size:1.2em;background-color:#ddd;padding:5px;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.1);">Auftragsanweisung:</div>
										<div style="margin-left:20px;margin-top:8px;margin-bottom:20px;">
											<b><span data-ng-bind-html="receivedAndOpenOrder.communication.title"></span></b> 
											<span data-ng-bind-html="vm.getTeasingMessage(receivedAndOpenOrder.communication.message)" data-ng-show="showWholeMessage == false"></span>
											<span data-ng-bind-html="receivedAndOpenOrder.communication.message" data-ng-show="showWholeMessage == true"></span>
											<span data-ng-show="receivedAndOpenOrder.communication.message.length > vm.teaserMessageLength && showWholeMessage == false" class="glyphicon glyphicon-arrow-down icon-hover" data-ng-init="showWholeMessage = false" data-ng-click="showWholeMessage = !showWholeMessage"></span>
											<span class="glyphicon glyphicon-arrow-up icon-hover" data-ng-show="showWholeMessage == true" data-ng-click="showWholeMessage = !showWholeMessage"></span> 
										</div>
										<div data-ng-show="receivedAndOpenOrder.communication.attachedFileUrls.length > 0">
											<span data-ng-init="amountOfAttachments = receivedAndOpenOrder.communication.attachedFileUrls.length + receivedAndOpenOrder.communication.communicationAttachments.length" data-ng-show="amountOfAttachments > 0"><b>Anh&auml;nge</b> ({{amountOfAttachments}}):</span>
											<div data-ng-show="receivedAndOpenOrder.communication.attachedFileUrls.length > 0">
												<div data-ng-repeat="attachedFileUrl in receivedAndOpenOrder.communication.attachedFileUrls track by $index">
													{{$index+1}}.
													<span data-ng-show="attachedFileUrl.image == true" data-ng-click="vm.showDocumentFilePreview(attachedFileUrl)">
														<img style="width:50px;margin:1px;" class="icon-hover" data-ng-src="{{attachedFileUrl.url}}" />
													</span>
													<a href="{{attachedFileUrl.url}}">{{attachedFileUrl.fileName}}</a>
												</div>
											</div>
										</div>
										<div data-ng-show="receivedAndOpenOrder.communication.communicationAttachments.length > 0">
											<div data-ng-repeat="attachment in receivedAndOpenOrder.communication.communicationAttachments track by $index">
												{{receivedAndOpenOrder.communication.attachedFileUrls.length+$index+1}}.
												<span data-ng-show="attachment.image == true" data-ng-click="vm.showImagePreview(attachment, '/api/filedownloads/filedownload/communication/', receivedAndOpenOrder.id, attachment.filename)">
													<img style="width: 50px;margin:1px;" class="icon-hover" data-ng-src="/api/filedownloads/filedownload/communication/{{receivedAndOpenOrder.id}}/{{attachment.filename}}" alt="image" />
												</span>
												<a href="/api/filedownloads/filedownload/communication/{{receivedAndOpenOrder.id}}/{{attachment.filename}}">{{attachment.originalFilename}}</a>
											</div>
										</div>
									</td>
									<td><span>&nbsp;</span></td>
									<td>
										{{receivedAndOpenOrder.executionDate}}
									</td>
									<td>
										<span class="glyphicon glyphicon-remove errorMessage" data-ng-show="receivedAndOpenOrder.executed == false"></span>
										<span class="glyphicon glyphicon-ok successMessage" data-ng-show="receivedAndOpenOrder.executed == true"></span>
									</td>
									<td>
										{{receivedAndOpenOrder.communication.receiveDate}}
										<div data-ng-show="receivedAndOpenOrder.archived == true"><span class="glyphicon glyphicon-oil blinkText errorMessage"></span> archiviert</div>
									</td>
									<td>
										<table data-ng-show="receivedAndOpenOrder.confirmationNeeded == true">
											<tr>
												<td><input type="checkbox" data-ng-click="vm.communicationOrderExecuted(receivedAndOpenOrder)" data-ng-model="receivedAndOpenOrder.read" data-ng-disabled="receivedAndOpenOrder.read == true" /></td>
												<td><span>&nbsp;</span></td>
												<td>Best&auml;tigen</td>
												<td><span>&nbsp;</span></td>
												<td><span class="glyphicon glyphicon-ok successMessage" data-ng-show="receivedAndOpenOrder.read == true"></span></td>
											</tr>
										</table>
										<table>
											<tr>
												<td><input type="checkbox" data-ng-click="vm.communicationOrderExecuted(receivedAndOpenOrder)" data-ng-model="receivedAndOpenOrder.executed"  /></td>
												<td><span>&nbsp;</span></td>
												<td>Erledigt</td>
												<td><span>&nbsp;</span></td>
												<td><span class="glyphicon glyphicon-ok successMessage" data-ng-show="receivedAndOpenOrder.executed == true"></span></td>
											</tr>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<br />
				<div style="border:1px solid #ccc; padding:15px;">
					<div>
						<span class="communicationHeadline icon-hover" data-ng-init="hideSentdAndOpenTable = false" data-ng-click="hideSentdAndOpenTable = !hideSentdAndOpenTable">
							<span style="font-size:1.2em;"><span class="glyphicon glyphicon-send"></span> Meine {{filteredSentAndOpenOrder.length}} <b>gesendeten</b> Arbeitsauftr&auml;ge:</span>
						</span>
						<span class="glyphicon glyphicon-print icon-hover" style="float:right;" data-ng-click="vm.showPrintMessageOrders('SENT')" title="Arbeitsauftr&auml;ge ausdrucken"></span>
					</div>
					<br />
					<div data-ng-show="hideSentdAndOpenTable == false">
						<div data-ng-show="filteredSentAndOpenOrder.length == 0">Keine Arbeitsauftr&auml;ge gefunden</div>
						<table class="table table-striped" data-ng-show="filteredSentAndOpenOrder.length > 0">
							<thead>
								<tr>	
									<th>#</th>
									<th>
										<table>
											<tr>
												<td><b>Gesendet an</b></td>
												<td><span>&nbsp;</span></td>
												<td><span class="glyphicon glyphicon-chevron-up icon-hover sortIcon" data-ng-click="vm.sentOrderType = '-userReceivedMessage.surname'"></span></td>
												<td><span class="glyphicon glyphicon-chevron-down icon-hover sortIcon" data-ng-click="vm.sentOrderType = 'userReceivedMessage.surname'"></span></td>
											</tr>
										</table>
									</th>
									<th>
										<table>
											<tr>
												<td><b>Projekt</b></td>
												<td><span>&nbsp;</span></td>
												<td><span class="glyphicon glyphicon-chevron-up icon-hover sortIcon" data-ng-click="vm.sentOrderType = '-project.name'"></span></td>
												<td><span class="glyphicon glyphicon-chevron-down icon-hover sortIcon" data-ng-click="vm.sentOrderType = 'project.name'"></span></td>
											</tr>
										</table>
									</th>
									<th></th>
									<th style="min-width:320px;">Auftrag</th>
									<th></th>
									<th>
										<table>
											<tr>
												<td><b>Erl.dat.</b></td>
												<td><span>&nbsp;</span></td>
												<td><span class="glyphicon glyphicon-chevron-up icon-hover sortIcon" data-ng-click="vm.sentOrderType = '-executionDate'"></span></td>
												<td><span class="glyphicon glyphicon-chevron-down icon-hover sortIcon" data-ng-click="vm.sentOrderType = 'executionDate'"></span></td>
											</tr>
										</table>
									</th>
									<th>
										<table>
											<tr>
												<td><b>Erledigt</b></td>
												<td><span>&nbsp;</span></td>
												<td><span class="glyphicon glyphicon-chevron-up icon-hover sortIcon" data-ng-click="vm.sentOrderType = '-executed'"></span></td>
												<td><span class="glyphicon glyphicon-chevron-down icon-hover sortIcon" data-ng-click="vm.sentOrderType = 'executed'"></span></td>
											</tr>
										</table>
									</th>
									<th>Gelesen</th>
									<th>Erstellt</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="sentAndOpenOrder in filteredSentAndOpenOrder = (vm.sentAndOpenOrders | filter: {project: {name: vm.selectedProject.name}} | filter:searchString | orderBy:vm.sentOrderType)" data-ng-class="vm.executionDateAfterToday(sentAndOpenOrder.executionDate) == true && sentAndOpenOrder.executed == false ? 'backgroundColorPulse' : ''">
									<td>{{$index+1}}.</td>
									<td>
										<span class="glyphicon glyphicon-user" style="color:{{sentAndOpenOrder.userReceivedMessage.color}}"></span>
										{{sentAndOpenOrder.userReceivedMessage.title}} {{sentAndOpenOrder.userReceivedMessage.firstname}} <b>{{sentAndOpenOrder.userReceivedMessage.surname}}</b>
									</td>
									<td>
										<span class="glyphicon glyphicon-folder-open" style="color:{{sentAndOpenOrder.project.color}}"></span>
										{{sentAndOpenOrder.project.name}}
									</td>
									<td><span>&nbsp;</span></td>
									<td>
										<div style="font-weight:bold;font-size:1.2em;background-color:#ddd;padding:5px;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.1);">Auftragsanweisung:</div>
										<div style="margin-left:20px;margin-top:8px;margin-bottom:20px;">
											<b><span data-ng-bind-html="sentAndOpenOrder.communication.title"></span></b> 
											<span data-ng-bind-html="vm.getTeasingMessage(sentAndOpenOrder.communication.message)" data-ng-show="showWholeMessage == false"></span>
											<span data-ng-bind-html="sentAndOpenOrder.communication.message" data-ng-show="showWholeMessage == true"></span>
											<span data-ng-show="sentAndOpenOrder.communication.message.length > vm.teaserMessageLength && showWholeMessage == false" class="glyphicon glyphicon-arrow-down icon-hover" data-ng-init="showWholeMessage = false" data-ng-click="showWholeMessage = !showWholeMessage"></span>
											<span class="glyphicon glyphicon-arrow-up icon-hover" data-ng-show="showWholeMessage == true" data-ng-click="showWholeMessage = !showWholeMessage"></span> 
										</div>
										<span data-ng-init="amountOfAttachments = sentAndOpenOrder.communication.attachedFileUrls.length + sentAndOpenOrder.communication.communicationAttachments.length" data-ng-show="amountOfAttachments > 0"><b>Anh&auml;nge</b> ({{amountOfAttachments}}):</span>
										<div data-ng-show="sentAndOpenOrder.communication.attachedFileUrls.length > 0">
											<div data-ng-repeat="attachedFileUrl in sentAndOpenOrder.communication.attachedFileUrls track by $index">
												{{$index+1}}.
												<span data-ng-show="attachedFileUrl.image == true" data-ng-click="vm.showDocumentFilePreview(attachedFileUrl)">
													<img style="width:50px;margin:1px;" class="icon-hover" data-ng-src="{{attachedFileUrl.url}}" />
												</span>
												<a href="{{attachedFileUrl.url}}">{{attachedFileUrl.fileName}}</a>
											</div>
										</div>
										<div data-ng-show="sentAndOpenOrder.communication.communicationAttachments.length > 0">
											<div data-ng-repeat="attachment in sentAndOpenOrder.communication.communicationAttachments track by $index">
												{{sentAndOpenOrder.communication.attachedFileUrls.length+$index+1}}.
												<span data-ng-show="attachment.image == true" data-ng-click="vm.showImagePreview(attachment, '/api/filedownloads/filedownload/communication/', sentAndOpenOrder.id, attachment.filename)">
													<img style="width: 50px;margin:1px;" class="icon-hover" data-ng-src="/api/filedownloads/filedownload/communication/{{sentAndOpenOrder.id}}/{{attachment.filename}}" alt="image" />
												</span>
												<a href="/api/filedownloads/filedownload/communication/{{sentAndOpenOrder.id}}/{{attachment.filename}}">{{attachment.originalFilename}}</a>
											</div>
										</div>
									</td>
									<td><span>&nbsp;</span></td>
									<td>
										{{sentAndOpenOrder.executionDate}}
										<span style="font-size:0.8em;">
											<span class="glyphicon glyphicon-alert errorMessage blinkText" data-ng-show="vm.executionDateAfterToday(sentAndOpenOrder.executionDate) == true && sentAndOpenOrder.executed == false"></span>
										</span>
									</td>
									<td>
										<span class="glyphicon glyphicon-remove errorMessage" data-ng-show="sentAndOpenOrder.executed == false"></span>
										<span class="glyphicon glyphicon-ok successMessage" data-ng-show="sentAndOpenOrder.executed == true"></span>
									</td>
									<td>
										<span class="glyphicon glyphicon-remove errorMessage" data-ng-show="sentAndOpenOrder.read == false"></span>
										<span class="glyphicon glyphicon-ok successMessage" data-ng-show="sentAndOpenOrder.read == true"></span>
									</td>
									<td>
										{{sentAndOpenOrder.communication.receiveDate}}
										<div data-ng-show="sentAndOpenOrder.archived == true"><span class="glyphicon glyphicon-oil blinkText errorMessage"></span> archiviert</div>
									</td>
									<td>
										<span class="glyphicon glyphicon-edit icon-hover" data-ng-show="vm.userAuthorizationUserContainer.userAuthorizations[13].state == true" data-ng-click="vm.editWorkingOrder(sentAndOpenOrder)"></span>
										<span class="glyphicon glyphicon-minus icon-hover" data-ng-show="vm.userAuthorizationUserContainer.userAuthorizations[14].state == true" data-ng-click="vm.showYesNoArchiveCommunicationUserConnection(sentAndOpenOrder)"></span>
									</td>
								</tr>
							</tbody>
						</table>
	 				</div>
				</div>
			</div>
	    </div>
	    <div class="col-md-2 column">
	    	<div data-ng-show="vm.todoView == false">
		    	<br />
				<br />
		    	<div class="icon-hover" data-ng-click="vm.showCommunicationGroupCreationModal('CREATE', null)"><span class="glyphicon glyphicon-plus"></span> Neue Gruppe anlegen</div>
		    	<br />
		    	<communication-groups-directive selected-communication-groups="vm.selectedCommunicationGroups" communication-group-user-connections="vm.communicationGroupUserConnections" current-user="vm.currentUser"></communication-groups-directive>
		    	
		    	<ul class="list-group">
				  <li data-ng-repeat="projectUserConnection in vm.projectUserConnectionsOfProject" data-ng-hide="projectUserConnection.user == null || projectUserConnection.user.id == vm.currentUser.id" class="list-group-item">
				  <input type="checkbox" data-ng-model="projectUserConnection.user.selected" data-ng-click="vm.selectedUser(projectUserConnection.user)" />
				  	<span class="username">
				  		{{projectUserConnection.user.title}} {{projectUserConnection.user.firstname}} <b>{{projectUserConnection.user.surname}}</b>
				  		<span class="glyphicon glyphicon-user" style="float:right; color:{{projectUserConnection.user.color}}"></span>
				  	</span>
				  </li>
				</ul>
			</div>
	    </div>
	</div>
	
</div>