.communication {
	margin-bottom: 110px;
}
.communication .communicationHistory {
	overflow-y:auto;
	height: 550px;
	width: 100% !important;
	margin-bottom: 30px;
}
.communication .noMessages {
	color: #aaa;
	text-align: center;
	width: 90%;
	margin-left: 10%;
}
.communication .createNewTodo {
	margin-left: 15px;
	margin-right: 15px;
}
.communication .communicationHeadline {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px; 
	background-color: #eee;
	padding: 10px;
	border-left: 5px solid #007ab9;
}

.communication .communicationMessageOfUser {
	background-color: #eee;
	padding: 10px;
	border-radius: 5px;
	width: 700px;
}
.communication .search-control {
	margin-left: 10px;
	margin-right: 10px;
}
.communication .projectTable {
	margin-left: 10px;
}
.communication .otherUserMessage {
	float: right;
	margin-bottom: 8px;
	background-color: #ddd !important;
}
.communication .noWorkingEntries {
	margin-left: 30px;
	margin-top: 20px;
}
.communication .confirmationNeeded {
	color: #f00;
}
.communication .attachmentFiles {
	margin-left: 18px;
}
.communicationGroupCreation .communicationGroupCreationTable tr td {
     border-top: none !important;
}
.communicationGroupCreation .buttonContainer {
	margin-top: 20px;
	margin-bottom: 20px;
	float: right;
}
.communicationGroupCreation .communicationGroupCreationError {
	color: #f00;
}
.communicationGroupCreation .additionalInformation {
	color: #aaa;
}
.communicationGroupDeletion .controlButtons {
	float: right;
	margin-top: 15px;
	margin-bottom: 15px;
}
.messageReceiverOverview .read {
	color: #3c763d;
	background-color: #dff0d8;
	padding: 5px;
}
.messageReceiverOverview .notRead {
	color: #9f3534;
	background-color: #f2dede;
	padding: 5px;
}
.communicationAttachmentFiles .attachButton {
	float: right;
}
.communicationWorkingOrderCreation .address {
	font-size: 0.80em;
}
.communicationWorkingOrderCreation .loadingContainer img {
	max-height: 30px;
	max-width: 30px;
}