<div class="printModal">
	<div class="modal-header non-printable" data-ng-class="vm.receipeType == 'STANDARD_MIXTURE' ? 'receipeBackgroundColor' : 'mixtureBackgroundColor'">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closePrintModal()"></span>
        <h4 class="modal-title"><span class="fa fa-flask" aria-hidden="true"></span> Drucken </h4>
    </div>
    <div class="modal-body">
    	<div style="float:left;margin-left:20px;margin-top:-10px;" class="printInfo">
    		<br />
    		Ausgedruckt am <b>{{vm.date | date:'dd.MM.yyyy HH:mm'}}</b>
    		von {{vm.currentUser.title}} {{vm.currentUser.firstname}} <b>{{vm.currentUser.surname}}</b>
    	</div>
    	<div style="float:right;margin-right:10px;">
    		<img class="logo" src="/assets/img/LPMLogo3.png" alt="wdm Logo">
    		<button class="btn btn-default non-printable" type="button" onClick="javascript:window.print()">
				<span class="glyphicon glyphicon-print"></span>
			</button>
    	</div>
    	<br />
    	<div style="background-color:#f9f9f9;padding:20px;margin-top:40px;">
    		<span data-ng-show="vm.receipeType == 'STANDARD_MIXTURE'"><b>Rezept:</b></span>
    		<span data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'"><b>Mischung:</b></span>
    		<br /><br />
    		<div style="padding:10px;background-color:white;">
		    	<table class="table">
					<tr>
						<td><b>Produkt:</b></td>
						<td class="textLeft"><span class="glyphicon glyphicon-filter" style="color:{{vm.product.color}}"></span><b>{{vm.product.name}}</b> ({{vm.product.number}})</td>
					</tr>
					<tr>
						<td><b>Erstelldatum:</b></td>
						<td class="textLeft">{{(vm.receipeOfProduct.creationDate | date:'dd.MM.yyyy HH:mm') || '--'}}</td>
					</tr>
					<tr>
						<td><b>Datum:</b></td>
						<td class="textLeft">{{(vm.receipeOfProduct.date | date:'dd.MM.yyyy HH:mm') || '--'}}</td>
					</tr>
					<tr data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'">
						<td><b>Kunde:</b></td>
						<td>
							<span data-ng-show="vm.receipeOfProduct.contact != null">
								{{vm.receipeOfProduct.contact.institution}} ({{(vm.receipeOfProduct.contact.contactTenant | translate) || '--'}} {{vm.receipeOfProduct.contact.customerNumber || '--'}}),
								{{vm.receipeOfProduct.contact.address.street || '--'}} {{vm.receipeOfProduct.contact.address.plz || '--'}} <b>{{vm.receipeOfProduct.contact.address.region || '--'}}</b>,
								{{(vm.receipeOfProduct.contact.address.country | translate) || '--'}}
								<span class="glyphicon glyphicon-home" title="Kontakt"></span>
							</span>
							<span data-ng-show="vm.receipeOfProduct.contactText != null">
								{{vm.receipeOfProduct.contactText}} <span class="glyphicon glyphicon-pencil" title="Freitext"></span>
							</span>
						</td>
					</tr>
					<tr data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'">
						<td><b>Bestell-/<br />Lieferschein:</b></td>
						<td>{{vm.receipeOfProduct.purchaseOrderNumber}}</td>
					</tr>
					<tr data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'">
						<td><b>Menge:</b></td>
						<td>{{vm.receipeOfProduct.amountInKilo}}</td>
					</tr>
					<tr>
						<td><b>Mischungs-<br />verh&auml;ltnis:</b></td>
						<td>
							<table class="table borderlessTable" style="margin-top:-8px;min-width:610px;">
								<thead>
									<tr>
										<th>Komponente</th>
										<th></th>
										<th style="text-align:right;">Dichte [g/ml]</th>
										<th></th>
										<th style="text-align:right;">Anteil [%]</th>
										<th data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'"></th>
										<th data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'" style="text-align:center;">Kg</th>
										<th data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'"></th>
										<th data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'" style="text-align:center;">Liter</th>
										<th data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'"></th>
										<th data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'">Info</th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="receipeProduct in vm.receipeOfProduct.receipeProducts">
										<td>
											<span class="icon-hover" data-ng-click="vm.showProductOverviewModalService(receipeProduct.product)" title="{{receipeProduct.product.number}}  {{receipeProduct.product.name}}"><span class="glyphicon glyphicon-filter" style="color:{{receipeProduct.product.color}}"></span> {{receipeProduct.product.name}}</span>
										</td>
										<td><span>&nbsp;</span></td>
										<td style="text-align:right;">
											<span data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'">
												{{receipeProduct.density | number:3}} 
												<span data-ng-show="receipeProduct.density != receipeProduct.product.density">({{receipeProduct.product.density}})</span>
											</span>
											<span data-ng-show="vm.receipeType == 'STANDARD_MIXTURE'">
												{{receipeProduct.product.density | number:3}}
											</span>
										</td>
										<td><span>&nbsp;</span></td>
										<td style="text-align:right;">{{receipeProduct.percentage | number:2}}</td>
										<td data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'"><span>&nbsp;</span></td>
										<td data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'" style="text-align:right;">{{receipeProduct.kilogram | number:1}}</td>
										<td data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'"><span>&nbsp;</span></td>
										<td data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'" style="text-align:right;">{{receipeProduct.liter | number:1}}</td>
										<td data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'"><span>&nbsp;</span></td>
										<td data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'">{{receipeProduct.information}}</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<tr data-ng-show="vm.receipeOfProduct.receipeAdditionals != null">
						<td><b>Zus&auml;tze:</b></td>
						<td>
							<table class="table borderlessTable">
					      		<thead>
					      			<tr>	
					      				<th>Komponente</th>
					      				<th>Anzahl [E/t]</th>
					      				<th>Einheit</th>
					      				<th>Menge gesamt [E]</th>
					      			</tr>
					      		</thead>
					      		<tbody>
					      			<tr data-ng-repeat="receipeAdditional in vm.receipeOfProduct.receipeAdditionals track by $index">
					      				<td>
											<span title="{{receipeAdditional.product.number}} {{receipeAdditional.product.name}}"><span class="fa fa-eyedropper" style="color:{{receipeAdditional.product.color}}" aria-hidden="true"></span> {{receipeAdditional.product.name}}</span>
					      				</td>
					      				<td>
					      					{{receipeAdditional.amount}}
					      				</td>
					      				<td>
					      					{{receipeAdditional.unityType | translate}}
					      				</td>
					      				<td>
					      					<div>{{receipeAdditional.result | number:3}}</div>
					      				</td>
					      			</tr>
						      	</tbody>
					      	</table>
						</td>
					</tr>
					<tr>
						<td><b>Anmerkung:</b></td>
						<td>{{vm.receipeOfProduct.information}}</td>
					</tr>
					<tr>
						<td><b>Zugewiesene Mischvorschrift:</b></td>
						<td>
							<div data-ng-repeat="receipeAttachment in vm.receipeOfProduct.receipeAttachments">
								<span>
									<img data-ng-src="assets/img/{{receipeAttachment.ending}}.PNG" alt="" document-file-icon-dispatch /> {{receipeAttachment.filename}} <span style="font-size:0.8em;" data-ng-show="receipeAttachment.version != null">({{receipeAttachment.version.substr(1)}})</span>
								</span>
							</div>
						</td>
					</tr>
				</table>
				<div data-ng-show="vm.receipeOfProduct.receipeAttachments.length > 0">
					<span class="errorMessage" style="margin-left:20px;" data-ng-show="vm.receipeOfProduct.receipeAttachments.length > 1">Nur die erste Mischvorschrift aus den Anh&auml;ngen wird aktuell ausgedruckt</span>
					<ng-pdf template-url="app/project/templates/pdfTemplate.html" class="pdfTemplateContainer" page="1" scale=1.36 canvasid="pdf-canvas" debug="true" scale="page-fit"></ng-pdf>
				</div>
			</div>
		</div>
    </div>
    <div class="modal-footer non-printable">
        <button class="btn btn-default" type="button" data-ng-click="vm.closePrintModal()">Schlie&szlig;en</button>
    </div>
</div>