<nav class="navbar navbar-default navbarTop">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">

			Auth: {{auth | json}}

            <ul class="nav navbar-nav mainMenu">
            	<li data-ui-sref="auth.dashboard({userId: '{{ vm.currentUser.id }}'})" data-ng-class="{'active': vm.state.includes('auth.dashboard')}"><a href="#"><span class="glyphicon glyphicon-th-large"></span><span class="menuText"><translate>NAV.DASHBOARD</translate></span></a></li>
            	<li data-ui-sref="auth.search({userId: '{{ vm.currentUser.id }}'})" data-ng-class="{'active': vm.state.includes('auth.search')}"><a href="#"><span class="glyphicon glyphicon-search"></span><span class="menuText">Suche</span></a></li>
            	<li data-ng-show="vm.currentUser.userAuthorizationUserContainer.userAuthorizations[0].state == true" data-ui-sref="auth.projects({userId: '{{ vm.currentUser.id }}'})" data-ng-class="{'active': vm.state.includes('auth.projects') || vm.state.includes('auth.project') || vm.state.includes('auth.products')}"><a href="#"><span class="glyphicon glyphicon-folder-open"></span><span class="menuText">Projekte</span></a></li>
            	<li data-ng-show="vm.currentUser.userAuthorizationUserContainer.userAuthorizations[6].state == true" data-ui-sref="auth.calendar({userId: '{{ vm.currentUser.id }}'})" data-ng-class="{'active': vm.state.includes('auth.calendar')}"><a href="#"><span class="glyphicon glyphicon-calendar"></span><span class="menuText"><translate>NAV.CALENDAR</translate></span></a></li>
            	<li data-ng-show="vm.currentUser.userAuthorizationUserContainer.userAuthorizations[9].state == true" data-ui-sref="auth.contacts({userId: '{{ vm.currentUser.id }}'})" data-ng-class="{'active': vm.state.includes('auth.contacts')}"><a href="#"><span class="glyphicon glyphicon-home"></span><span class="menuText">Kontakte</span></a></li>
            	<li data-ng-show="vm.currentUser.userAuthorizationUserContainer.userAuthorizations[12].state == true" data-ui-sref="auth.communication({userId: '{{ vm.currentUser.id }}'})" data-ng-class="{'active': vm.state.includes('auth.communication')}"><a href="#"><span class="glyphicon glyphicon-comment"></span><span class="menuText">Arbeitsauftr&auml;ge</span></a></li>
            	<li data-ui-sref="auth.fuel({userId: '{{ vm.currentUser.id }}'})" data-ng-class="{'active': vm.state.includes('auth.fuel')}"><a href="#"><span class="glyphicon glyphicon-road"></span><span class="menuText">Brennstoff</span></a></li>
            	<li data-ng-show="vm.currentUser.userAuthorizationUserContainer.userAuthorizations[15].state == true" data-ui-sref="auth.timeregistration({userId: '{{ vm.currentUser.id }}'})" data-ng-class="{'active': vm.state.includes('auth.timeregistration')}"><a href="#"><span class="glyphicon glyphicon-time"></span><span class="menuText">Zeiterfassung</span></a></li>
            	<li data-ng-show="vm.currentUser.userAuthorizationUserContainer.userAuthorizations[39].state == true" data-ui-sref="auth.reporting({userId: '{{ vm.currentUser.id }}'})" data-ng-class="{'active': vm.state.includes('auth.reporting')}"><a href="#"><span class="glyphicon glyphicon-dashboard"></span><span class="menuText">Auswertungen</span></a></li>
            	<li data-ng-show="vm.currentUser.userAuthorizationUserContainer.userAuthorizations[18].state == true" data-ui-sref="auth.history({userId: '{{ vm.currentUser.id }}'})" data-ng-class="{'active': vm.state.includes('auth.history')}"><a href="#"><span class="glyphicon glyphicon-align-justify"></span><span class="menuText">Verlauf</span></a></li>
            	<li data-ng-show="vm.currentUser.userAuthorizationUserContainer.userAuthorizations[21].state == true" data-ui-sref="auth.administration({userId: '{{ vm.currentUser.id }}'})" data-ng-class="{'active': vm.state.includes('auth.administration')}"><a href="#"><span class="glyphicon glyphicon-cog"></span><span class="menuText"><translate>NAV.ADMIN</translate></span></a></li>
            	<li data-ui-sref="auth.superadministration({userId: '{{ vm.currentUser.id }}'})" data-ng-show="vm.currentUser.username.toLowerCase() == 'superadmin'" data-ui-sref-active="active" title="Programmadmin"><a href="#"><span class="glyphicon glyphicon-king"></span><span class="menuText">Programmadmin</span></a></li>
            </ul>
            <as-user-nav-panel as-user="vm.currentUser"></as-user-nav-panel>
        </div>
    </div>
</nav>
