<form name="createProductForm" class="form-horizontal createProductForm">
	<div class="form-group" data-ng-show="typeOfChange=='CHANGE'">
	    <label class="control-label col-sm-3" for="number">Produkt inaktiv:</label>
	    <div class="col-sm-6"> 
			<input type="checkbox" data-ng-model="product.inactive" />
		</div>
	</div>
	<div class="form-group" data-ng-show="product.inactive">
	    <label class="control-label col-sm-3" for="developmentDate">Deaktivierungsdatum:</label>
	    <div class="col-sm-2">
	    	<p class="input-group">
		    	<input type="text"
                            class="form-control"
                            name="developmentDate"                                
                            data-ng-model="product.inactiveDate"
                            datepicker-popup="dd.MM.yyyy"
                            is-open="productInactiveDateDatePicker"
                            close-text="schlie&szlig;en"
                            current-text="heute"
                            clear-text="l&ouml;schen"
                            datepicker-options="{startingDay: 1}"
                            placeholder="Datum"
                            disabled>
                  	<span class="input-group-btn">
                       		<button type="button" class="btn btn-default btn-xs datePickerButton"                         		   
                               data-ng-click="openProductInactiveDatePicker($event)">
                               <span class="glyphicon glyphicon-calendar"></span>
                            </button>
                  	</span>
              </p>
	    </div>
	</div>
	<div class="form-group" data-ng-show="product.inactive">
	    <label class="control-label col-sm-3" for="developmentDate">Deaktivierungsinformation:</label>
	    <div class="col-sm-2">
	    	<textarea class="form-control" data-ng-model="product.inactiveMessage" style="width:420px;" placeholder="Informationen, warum das Produkt {{product.name}} ({{product.number}}) deaktiviert wurde"></textarea>
	    </div>
	</div>
	<hr data-ng-show="typeOfChange=='CHANGE'" />
	<div class="form-group">
	    <label class="control-label col-sm-3" for="number">Artikelnummer:<span class="mandatory">*</span></label>
	    <div class="col-sm-6"> 
	      <input type="text" class="form-control" data-ng-model="product.number" name="number" data-unique-product-number="{{typeOfChange}}" placeholder="Artikelnummer" data-ng-minlength="2" data-ng-maxlength="40" required>
	    </div>
	    <span class="col-sm-1 glyphicon glyphicon-filter icon-hover" style="margin-top:8px;margin-left:-20px;" data-ng-show="typeOfChange=='CREATE'" data-ng-click="showAllProductsOfTenant()" title="Zeige alle angelegten Produkte an"></span>
	    <br />
	    <br />
	    <div class="errorMessage col-sm-offset-2" data-ng-show="createProductForm.number.$error.minlength && !createProductForm.number.$pristine">Artikelnummer muss mindestens 2 Zeichen lang sein</div>
	    <div class="errorMessage col-sm-offset-2" data-ng-show="createProductForm.number.$error.maxlength && !createProductForm.number.$pristine">Artikelnummer darf maximal 40 Zeichen lang sein</div>
	    <div class="errorMessage col-sm-offset-2" data-ng-show="createProductForm.number.$error.unique && !createProductForm.number.$pristine">Artikelnummer muss eindeutig sein</div>
	</div>
	<div class="form-group">
	    <label class="control-label col-sm-3" for="name">Artikelbezeichnung:<span class="mandatory">*</span></label>
	    <div class="col-sm-6">
	      <input type="text" class="form-control" name="name" data-unique-product-name="{{typeOfChange}}" data-ng-model="product.name" placeholder="Artikelbezeichnung" data-ng-minlength="5" data-ng-maxlength="50" required>
	    </div>
	    <br />
	    <br />
	    <div class="errorMessage col-sm-offset-2" data-ng-show="createProductForm.name.$error.minlength && !createProductForm.name.$pristine">Artikelbezeichnung muss mindestens 5 Zeichen lang und eindeutig sein</div>
	    <div class="errorMessage col-sm-offset-2" data-ng-show="createProductForm.name.$error.maxlength && !createProductForm.name.$pristine">Artikelbezeichnung darf maximal 50 Zeichen lang und eindeutig sein</div>
	    <div class="errorMessage col-sm-offset-2" data-ng-show="createProductForm.name.$error.unique && !createProductForm.name.$pristine">Artikelbezeichnung muss eindeutig sein</div>
	</div>
	<div class="form-group">
	    <label class="control-label col-sm-3" for="name">Art:</label>
	    <div class="col-sm-6">
	      <span class="dropdown dropdown-scroll">
			    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" style="height:30px;">
			    	<span data-ng-show="product.types.length > 0">
			    		<span data-ng-repeat="productType in product.types track by $index">{{productType | translate}}<span data-ng-show="product.types.length-1 > $index">,</span> </span>
				    </span>
				    <span data-ng-show="product.types.length == 0">
				    	Produkt- Art(en) ausw&auml;hlen
				    </span>
			    	<span class="caret"></span>
			    </button>
			    <ul class="dropdown-menu" data-ng-click="$event.stopPropagation()" style="min-width:180px;margin-top:7px;">
			        <li role="presentation" data-ng-repeat="productType in productTypes" data-ng-switch="productType">
			        	<table>
			        		<tr>
			        			<td><span>&nbsp;</span></td>
			        			<td style="width:15px;">
			        				<span class="glyphicon glyphicon-ok icon-hover" data-ng-show="isProductTypeSelected(product, productType)" data-ng-click="removeProductType(product, productType)"></span>
			        			</td>
			        			<td><span>&nbsp;</span></td>
			        			<td>
			        				<span class="icon-hover" data-ng-switch-when="LAB_CHEMICAL" data-ng-click="addProductType(product, productType)">
									 	<span class="fa fa-circle" aria-hidden="true" style="color:#46bfbd"></span> {{(productType | translate) || '--'}}
									 </span>
									 <span class="icon-hover" data-ng-switch-when="RAW_MATERIAL" data-ng-click="addProductType(product, productType)">
									 	<span class="fa fa-circle" aria-hidden="true" style="color:#97bbcd"></span> {{(productType | translate) || '--'}}
									 </span>
									 <span class="icon-hover" data-ng-switch-when="TRADING_GOODS" data-ng-click="addProductType(product, productType)">
									 	<span class="fa fa-circle" aria-hidden="true" style="color:#f7464a"></span> {{(productType | translate) || '--'}}
									 </span>
									 <span class="icon-hover" data-ng-switch-when="BLEND" data-ng-click="addProductType(product, productType)">
									 	<span class="fa fa-circle" aria-hidden="true" style="color:#dcdcdc"></span> {{(productType | translate) || '--'}}
									 </span>
			        			</td>
			        		</tr>
			        	</table> 
			        </li>
			    </ul>
		  	</span>
	    </div>
	</div>
	<hr />
	<div class="form-group">
		<label class="control-label col-sm-3" for="name">weitere Bezeichnungen:</label>
	    <div class="col-sm-6">
			<table>
	    		<tr data-ng-repeat="name in product.names track by $index">
	    			<td>
	    				<input type="text" class="form-control" data-ng-model="product.names[$index]" name="names" placeholder="weitere Bezeichnung {{$index+1}}" data-ng-minlength="2" data-ng-maxlength="80">
	    			</td>
	    			<td><span>&nbsp;</span></td>
	    			<td>
	    				<span class="glyphicon glyphicon-plus icon-hover" data-ng-show="$index == 0" data-ng-click="addName()"></span>
	    				<span class="glyphicon glyphicon-minus icon-hover" data-ng-show="$index > 0" data-ng-click="removeName($index)"></span>
	    			</td>
	    		</tr>
	    	</table>
	    </div>
	</div>
	<div class="form-group">
	    <label class="control-label col-sm-3" for="description">Beschreibung:</label>
	    <div class="col-sm-6"> 
	      <input type="text" class="form-control" name="description" data-ng-model="product.description" placeholder="Artikelbeschreibung">
	    </div>
	</div>
	<div class="form-group">
	    <label class="control-label col-sm-3" for="number">Chemische Beschreibung:</label>
	    <div class="col-sm-6"> 
	      <input type="text" class="form-control" data-ng-model="product.chemicalDescription" name="chemicalDescription" placeholder="Chemische Beschreibung" data-ng-minlength="2" data-ng-maxlength="80">
	    </div>
	    <br />
	    <br />
	    <div class="errorMessage col-sm-offset-2" data-ng-show="createProductForm.chemicalDescription.$error.minlength && !createProductForm.chemicalDescription.$pristine">Chemische Beschreibung muss mindestens 2 Zeichen lang sein</div>
	    <div class="errorMessage col-sm-offset-2" data-ng-show="createProductForm.chemicalDescription.$error.maxlength && !createProductForm.chemicalDescription.$pristine">Chemische Beschreibung darf maximal 80 Zeichen lang sein</div>
	</div>
	<div class="form-group">
	    <label class="control-label col-sm-3" for="condition">Typ:</label>
	    <div class="col-sm-6"> 
	      	<select name="category" style="max-width: 120px;" class="form-control" data-ng-model="product.productAggregateConditionType" data-ng-options="productAggregateConditionType | translate for productAggregateConditionType in productAggregateConditionTypeEnums">
			</select>
	    </div>
	    <br />
	    <br />
	    <div class="errorMessage col-sm-offset-2" data-ng-show="createProductForm.chemicalDescription.$error.minlength && !createProductForm.chemicalDescription.$pristine">Chemische Beschreibung muss mindestens 2 Zeichen lang sein</div>
	    <div class="errorMessage col-sm-offset-2" data-ng-show="createProductForm.chemicalDescription.$error.maxlength && !createProductForm.chemicalDescription.$pristine">Chemische Beschreibung darf maximal 80 Zeichen lang sein</div>
	</div>
	<hr />
	<div class="form-group" data-ng-hide="product.productAggregateConditionType == 'HARD'">
	    <label class="control-label col-sm-3" for="number">Dichte des Produkts:</label>
	    <div class="col-sm-6"> 
	    	<table>
	    		<tr>
	    			<td><input type="number" class="form-control" pattern="[0-9]+([\.,][0-9]+)?" step="0.1" name="density" style="width:90px;" data-ng-model="product.density" placeholder="Dichte" /></td>
	    			<td><span>&nbsp;</span></td>
	    			<td><b>[g/ml]</b></td>
	    		</tr>
	    	</table>
	    </div>
	    <br />
	    <br />
	    <div class="errorMessage col-sm-offset-2" data-ng-show="createProductForm.density.$error.minlength && !createProductForm.density.$pristine">Dichte des Produktes muss mindestens 1 Zeichen lang sein</div>
	    <div class="errorMessage col-sm-offset-2" data-ng-show="createProductForm.density.$error.maxlength && !createProductForm.density.$pristine">Dichte des Produktes darf maximal 40 Zeichen lang sein</div>
	</div>
	<div class="form-group" data-ng-show="product.productFillingWeights.length > 0">
	    <label class="control-label col-sm-3" for="number">Gebinde:</label>
	    <div class="col-sm-8"> 
	    	<table class="" style="max-width:450px;">
	    		<tr data-ng-repeat-start="productFillingWeight in product.productFillingWeights track by $index">
	    			<td>
	    				{{productFillingWeight.fillingWeight}}:
	    			</td>
	    			<td><span>&nbsp;</span></td>
	    			<td style="min-width:130px;">
	    				<input type="text" class="form-control" data-ng-model="product.productFillingWeights[$index].information" name="productFillingWeights_{{$index}}" placeholder="Gebinde- Information" data-ng-minlength="2" data-ng-maxlength="7">
	    			</td>
	    			<td><span>&nbsp;</span></td>
	    		</tr>
	    		<tr data-ng-repeat-end="">
	    			<td colspan="6">
	    				<span class="errorMessage" data-ng-show="createProductForm.productFillingWeights_{{$index}}.$error.maxlength && !createProductForm.productFillingWeights_{{$index}}.$pristine">
	    					Das F&uuml;llgewicht darf maximal siebenstellig sein
	    				</span>
	    				<span class="errorMessage" data-ng-show="createProductForm.productFillingWeights_{{$index}}.$error.minlength && !createProductForm.productFillingWeights_{{$index}}.$pristine">
	    					Das F&uuml;llgewicht muss zweistellig sein
	    				</span>
	    			</td>
	    		</tr>
	    	</table>
	    </div>
	</div>
	<div class="form-group">
	    <label class="control-label col-sm-3" for="number">Hersteller / Lieferanten:</label>
	    <div class="col-sm-6"> 
	    	<div>
		    	<table>
					<tr>
						<td>
							<input type="text" 
						       class="form-control" 
							   placeholder="Hersteller / Lieferant suchen" 
							   data-ng-model="selectedContact"
							   typeahead="contact as contact.institution + ' ' + contact.address.postalCode + ' ' + contact.address.region for contact in getContactsByTerm($viewValue)"
							   typeahead-min-length="2"
							   typeahead-wait-ms="100"
							   typeahead-editable="false"
							   typeahead-on-select="addContact(selectedContact); selectedContact = null;" />
						</td>
					</tr>
		    	</table>
		    	<span class="errorMessage" data-ng-show="contactStillExists">Kontakt wurde bereits hinzugef&uuml;gt</span>
		    </div>
		    <br />
		    <span data-ng-show="product.contactsProduct.length > 0">
		    	<b>{{product.contactsProduct.length}}</b> Hersteller / Lieferanten zu Produkt <span class="glyphicon glyphicon-filter" style="color:{{product.color}}"></span> <b>{{product.name}}</b> ({{product.number}}) hinzugef&uuml;gt:
		    </span>
		    <br />
		    <br />
			<table class="table" style="margin-top:5px;">
				<tr data-ng-repeat-start="contactProduct in product.contactsProduct track by $index" style="background-color:#ccc">
					<td>{{$index+1}}.</td>
					<td>{{contactProduct.contact.institution}}</td>
					<td>
						<table>
							<tr data-ng-repeat="customerNumberContainer in contactProduct.contact.customerNumberContainers track by $index">
								<td title="Kundennummer"><b>K</b> <i class="fa fa-truck icon-flipped" style="color:#00b" aria-hidden="true"></i></td>
								<td><span>&nbsp;</span></td>
								<td>{{(customerNumberContainer.contactTenant | translate) || '--'}} {{customerNumberContainer.customerNumber || '--'}}</td>
							</tr>
							<tr data-ng-repeat="deliveryNumberContainer in contactProduct.contact.deliveryNumberContainers track by $index">
								<td title="Lieferantennummer"><b>L</b> <i class="fa fa-truck" style="color:#f00" aria-hidden="true"></i></td>
								<td><span>&nbsp;</span></td>
								<td>{{(deliveryNumberContainer.contactTenant | translate) || '--'}} {{deliveryNumberContainer.deliveryNumber || '--'}}</td>
							</tr>
						</table>
					</td>
					<td>{{contactProduct.contact.address.postalCode}} {{contactProduct.contact.address.region}}</td>
					<td>
						<span class="glyphicon glyphicon-home icon-hover" data-ng-init="showLocation = true" data-ng-click="showLocation = !showLocation" title="Alle Standorte ausblenden oder anzeigen"></span>
						<span class="glyphicon glyphicon-minus icon-hover" data-ng-click="removeContact(contactProduct)" title="Hersteller / Lieferant l&ouml;schen"></span>
					</td>
				</tr>
				<tr data-ng-repeat-end="">
					<td colspan="4" data-ng-show="showLocation">
						<div>
							<div class="distanceLeft" style="background-color:#fafafa;padding:10px;border-radius:5px;">
								<input type="checkbox" data-ng-true-value="true" data-ng-false-value="false" data-ng-model="mainAddressLocationSelected" data-ng-init="mainAddressLocationSelected = isAddressWithProductsSelected(contactProduct, contactProduct.contact.address)" data-ng-click="addOrRemoveAddressLocation(contactProduct, contactProduct.contact.address, mainAddressLocationSelected, orderConstruction)" /> 
								<b>Haupt- Standort:</b>
								<table class="distanceLeft">
									<tr>
										<td>Stra&szlig;e</td>
										<td><span>&nbsp;</span></td>
										<td>{{contactProduct.contact.address.street || '--'}}</td>
									</tr>
									<tr>
										<td>Ort</td>
										<td><span>&nbsp;</span></td>
										<td>{{contactProduct.contact.address.postalCode}} {{contactProduct.contact.address.region  || '--'}}</td>
									</tr>
									<tr>
										<td>Bundesland</td>
										<td><span>&nbsp;</span></td>
										<td>{{(contactProduct.contact.address.provinceType  | translate) || '--'}}</td>
									</tr>
									<tr>
										<td>Land</td>
										<td><span>&nbsp;</span></td>
										<td>
											<img data-ng-src="assets/img/{{contactProduct.contact.address.country}}.png" style="margin-top:-2px;" />
											{{(contactProduct.contact.address.country | translate) || '--'}}
										</td>
									</tr>
								</table>
								<textarea class="form-control distanceLeft" style="max-width:340px;margin-top:8px;" rows="6" data-ng-model="orderConstruction" data-ng-init="orderConstruction = getOrderConstruction(contactProduct, contactProduct.contact.address)" data-ng-change="addOrderConstruction(contactProduct, contactProduct.contact.address, orderConstruction)" placeholder="Bestellinformationen"></textarea>
								<span data-ng-show="contactProduct.contact.address.notSelectedError" class="errorMessage distanceLeft">Bitte Standort zuerst ausw&auml;hlen</span>
							</div>
							<br />
						</div>
						<div data-ng-repeat="addressWithProducts in contactProduct.contact.addressesWithProducts track by $index" data-ng-hide="hideAddressWithProducts(addressWithProducts)">
							<div class="distanceLeft" style="background-color:#fafafa;padding:10px;border-radius:5px;">
								<table>
									<tr>
										<td><input type="checkbox" data-ng-true-value="true" data-ng-false-value="false" data-ng-model="addressLocationSelected" data-ng-init="addressLocationSelected = isAddressWithProductsSelected(contactProduct, addressWithProducts.address)" data-ng-click="addOrRemoveAddressLocation(contactProduct, addressWithProducts.address, addressLocationSelected, orderConstruction)" /></td>
										<td><span>&nbsp;</span></td>
										<td><b>Standort {{$index+1}}:</b></td>
										<td>
											<div class="dropdown dropdown-scroll">
											    <button class="btn btn-default dropdown-toggle buttonWithNoBorder controlButton" type="button" data-toggle="dropdown" title="Standort f&uuml;r User sperren">
											    	<span class="glyphicon glyphicon-erase icon-hover"></span>
											    	<span data-ng-show="(addressWithProducts.address.userIdBlackList.length + addressWithProducts.address.rolesBlackList.length) > 0">{{addressWithProducts.address.userIdBlackList.length + addressWithProducts.address.rolesBlackList.length}}</span>
											    </button>
											    <ul class="dropdown-menu dropdownMenu" data-ng-click="$event.stopPropagation()">
											        <li>
											        	<table>
															<tr>
																<td>
														            <div class="input-group input-group-sm search-control"> 
														            	<span class="input-group-addon">
														                    <span class="glyphicon glyphicon-search"></span>
																		</span>
														                <input type="text" class="form-control" placeholder="Suchen" data-ng-model="query"></input>
														            </div>
														     	</td>
											            	</tr>
											        	</table>
											        </li>
											        <li data-ng-repeat="role in roles track by $index" data-ng-show="query == '' || query == null">
											        	<table> 
											        		<tr>
											        			<td><span>&nbsp;</span></td>
											        			<td style="min-width:20px;">
											        				<span class="glyphicon glyphicon-ok icon-hover" data-ng-show="isRoleBlackListed(role, addressWithProducts.address)" data-ng-click="removeBlackListRole(addressWithProducts.address, role)"></span>
											        			</td>
											        			<td><span>&nbsp;</span></td>
											        			<td>
											        				<span data-ng-click="addBlackListRole(addressWithProducts.address, role)">
											        					<span class="icon-hover"><span class="fa fa-users"></span> {{role | translate}}</span>
											        				</span>
											        			</td>
											        		</tr>
											        	</table>
											        </li>
											        <li data-ng-repeat="user in usersOfProject | filter:query" data-ng-hide="currentUser.id == user.id || user == null">
											        	<table>
											        		<tr>
											        			<td><span>&nbsp;</span></td>
											        			<td style="min-width:20px;">
											        				<span class="glyphicon glyphicon-ok icon-hover" data-ng-show="isBlackListed(user, addressWithProducts.address)" data-ng-click="removeBlackListId(addressWithProducts.address, user)"></span>
											        			</td>
											        			<td><span>&nbsp;</span></td>
											        			<td>
											        				<span class="icon-hover" data-ng-click="addBlackListId(addressWithProducts.address, user)">
											        					 <span class="glyphicon glyphicon-user" style="color:{{user.color}}"></span> {{user.title}} {{user.firstname}} {{user.surname}}
											        				</span>
											        			</td>
											        		</tr>
											        	</table> 
											        </li>
											    </ul>
											</div>
										</td>
									</tr>
								</table>
								<table class="distanceLeft">
									<tr>
										<td>Stra&szlig;e</td>
										<td><span>&nbsp;</span></td>
										<td>{{addressWithProducts.address.street || '--'}}</td>
									</tr>
									<tr>
										<td>Ort</td>
										<td><span>&nbsp;</span></td>
										<td>{{addressWithProducts.address.postalCode}} {{addressWithProducts.address.region || '--'}}</td>
									</tr>
									<tr>
										<td>Bundesland</td>
										<td><span>&nbsp;</span></td>
										<td>{{(addressWithProducts.address.provinceType | translate) || '--'}}</td>
									</tr>
									<tr>
										<td>Land</td>
										<td><span>&nbsp;</span></td>
										<td>
											<img data-ng-src="assets/img/{{addressWithProducts.address.country}}.png" style="margin-top:-2px;" />
											{{(addressWithProducts.address.country | translate) || '--'}}
										</td>
									</tr>
								</table>
								<textarea class="form-control distanceLeft" style="max-width:340px;margin-top:8px;" rows="6" data-ng-model="orderConstruction" data-ng-init="orderConstruction = getOrderConstruction(contactProduct, addressWithProducts.address)" data-ng-change="addOrderConstruction(contactProduct, addressWithProducts.address, orderConstruction)" placeholder="Bestellinformationen"></textarea>
								<div data-ng-show="addressWithProducts.address.notSelectedError" class="errorMessage distanceLeft">Bitte Standort zuerst ausw&auml;hlen</div>
							</div>
						</div>
					</td>
				</tr>
			</table>
	    </div>
	</div>
	<div class="form-group">
	    <label class="control-label col-sm-3" for="productColor">Produktfarbe:</label>
	    <div class="col-sm-6"> 
	      <input type="color" data-ng-model="product.color">
	    </div>
	</div>
	<div class="form-group">
	    <label class="control-label col-sm-3" for="developmentDate">Entwicklungsdatum:</label>
	    <div class="col-sm-2">
	    	<p class="input-group">
		    	<input type="text"
                            class="form-control"
                            name="developmentDate"                                
                            data-ng-model="product.developmentDate"
                            datepicker-popup="dd.MM.yyyy"
                            is-open="productDevelopmentDatePicker"
                            close-text="schlie&szlig;en"
                            current-text="heute"
                            clear-text="l&ouml;schen"
                            datepicker-options="{startingDay: 1}"
                            placeholder="Start"
                            disabled>
                  	<span class="input-group-btn">
                       		<button type="button" class="btn btn-default btn-xs datePickerButton"                         		   
                               data-ng-click="openProductDevelopmentDatePicker($event)">
                               <span class="glyphicon glyphicon-calendar"></span>
                            </button>
                  	</span>
              </p>
	    </div>
	</div>
</form>
<br />
<div class="form-group"> 
	<div class="col-sm-7">
		<span class="errorMessage" data-ng-show="noUniqueNameError == true">Artikelname nicht eindeutig</span>
		<span class="errorMessage" data-ng-show="noUniqueNumberError == true">Artikelnummer nicht eindeutig</span>
	</div>
    <div class="col-sm-5">
      <button type="submit" class="btn btn-default createProductButton" data-ng-disabled="createProductForm.$invalid" data-ng-click="createOrChangeProduct()">
      	<span data-ng-show="typeOfChange == 'CREATE'">
      		Produkt anlegen
      		<span data-ng-show="productCreatedSuccess == true" class="glyphicon glyphicon-ok successMessage"></span>
      	</span>
      	<span data-ng-show="typeOfChange == 'CHANGE'">&Auml;nderungen speichern</span>
      	<span class="glyphicon glyphicon-ok successMessage" data-ng-show="createProductClicked == true"></span>
      </button>
    </div>
</div>
<br />
<br />
<br />