<div class="calendarEventInListModal">
    <div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeCalendarEventInListModal()"></span>
        <h4 class="modal-title"><span class="glyphicon glyphicon-calendar"></span> Termine suchen und in Listenform anzeigen
        </h4>
        <div class="logo" style="float:right;margin-right:50px;margin-top:-35px;">
    		<img class="logo" src="/assets/img/LPMLogo3.png" alt="wdm Logo">
    	</div>
    </div>
    <div class="modal-body">
		<table style="margin-left:40px;margin-bottom:20px;" class="non-printable">
    		<tr>
		    	<td>Von:</td>
				<td>
					<p class="input-group" style="margin-top:10px;max-width:120px;">
				    	<input type="text"
		                            class="form-control dateInput"
		                            name="filterStartDate"                                
		                            data-ng-model="vm.filterStartDate"
		                            datepicker-popup="dd.MM.yyyy"
		                            is-open="vm.filterStartDatePicker"
		                            close-text="schlie&szlig;en"
		                            current-text="heute"
		                            clear-text="l&ouml;schen"
		                            datepicker-options="{startingDay: 1}"
		                            placeholder="Start"
		                            disabled>
		                  	<span class="input-group-btn">
		                       		<button type="button" class="btn btn-default btn-xs datePickerButton"                         		   
		                               data-ng-click="vm.openFilterStartDatePicker($event)">
		                               <span class="glyphicon glyphicon-calendar"></span>
		                            </button>
		                  	</span>
					  </p>
				</td>
				<td><span>&nbsp;</span></td>
				<td>Bis:</td>
				<td>
					<p class="input-group" style="margin-top:10px;max-width:120px;">
				    	<input type="text"
		                            class="form-control dateInput"
		                            name="filterEndDate"                                
		                            data-ng-model="vm.filterEndDate"
		                            datepicker-popup="dd.MM.yyyy"
		                            is-open="vm.filterEndDatePicker"
		                            close-text="schlie&szlig;en"
		                            current-text="heute"
		                            clear-text="l&ouml;schen"
		                            datepicker-options="{startingDay: 1}"
		                            placeholder="Ende"
		                            disabled>
		                  	<span class="input-group-btn">
		                       		<button type="button" class="btn btn-default btn-xs datePickerButton"                         		   
		                               data-ng-click="vm.openFilterEndDatePicker($event)">
		                               <span class="glyphicon glyphicon-calendar"></span>
		                            </button>
		                  	</span>
					  </p>
				</td>
				<td><span>&nbsp;</span></td>
				<td><span>&nbsp;</span></td>
				<td>
					<input type="text"
						style="max-width:150px;"
					   	class="form-control" 
						placeholder="User suchen" 
						data-ng-model="vm.selectedUser"
						data-ng-focus=""
						typeahead="user as user.firstname + ' ' + user.surname for user in vm.searchUsersByTerm($viewValue)"
						typeahead-min-length="3"
						typeahead-wait-ms="100"
						required="required" />
				</td>
				<td><span>&nbsp;</span></td>
				<td><span>&nbsp;</span></td>
				<td>
					<select name="category" class="form-control" data-ng-model="vm.selectedCalendarEventType" data-ng-options="calendarEventType | translate for calendarEventType in vm.calendarEventTypes">
					</select>
				</td>
				<td><span>&nbsp;</span></td>
				<td><span>&nbsp;</span></td>
				<td>
					<button type="button" class="btn btn-default btn-md" data-ng-click="vm.searchCalendarEvents()">
                       Suchen
                    </button>
				</td>
				<td><span>&nbsp;</span></td>
				<td>
					<span class="glyphicon glyphicon-remove-circle icon-hover" data-ng-click="vm.resetSearchCriteria()" title="Suchkriterien zur&uuml;cksetzen"></span>
				</td>
			</tr>
		</table>
		<button class="btn btn-default non-printable" type="button" style="float:right;margin-top:-60px;" onClick="javascript:window.print()">
			<span class="glyphicon glyphicon-print"></span>
		</button>
		<span data-ng-show="vm.calendarEvents.length > 0"><b>{{vm.calendarEvents.length}}</b> Termine gefunden</span>
		<br />
		<br />
		<calendar-event-in-list-directive 
			calendar-events="vm.calendarEvents">
		</calendar-event-in-list-directive>
    </div>
</div>
