<form name="createProjectForm" class="form-horizontal">
	<div class="form-group">
	    <label class="control-label col-sm-3" for="name">Projektname:<span class="mandatory">*</span></label>
	    <div class="col-sm-6">
	      <input type="text" class="form-control" name="name" data-unique-project-name="{{typeOfChange}}" data-ng-model="project.name" placeholder="Projektname" data-ng-minlength="5" data-ng-maxlength="30" required>
	    </div>
	    <span class="col-sm-1 glyphicon glyphicon-folder-open icon-hover" style="margin-top:8px;margin-left:-20px;" data-ng-click="showAllProjectsOfTenant()" title="Zeige alle angelegten Projekte an"></span>
	    <br />
	    <br />
	    <div class="errorMessage col-sm-offset-2" data-ng-show="createProjectForm.name.$error.minlength && !createProjectForm.name.$pristine">Projektname muss mindestens 5 Zeichen lang und eindeutig sein</div>
	    <div class="errorMessage col-sm-offset-2" data-ng-show="createProjectForm.name.$error.maxlength && !createProjectForm.name.$pristine">Projektname darf maximal 30 Zeichen lang und eindeutig sein</div>
	    <div class="errorMessage col-sm-offset-2" data-ng-show="createProjectForm.$error.unique && !createProjectForm.name.$pristine">Projektname muss eindeutig sein und darf keine Sonderzeichen enthalten</div>
	</div>
	<div class="form-group">
	    <label class="control-label col-sm-3" for="description">Beschreibung:</label>
	    <div class="col-sm-6"> 
	      <input type="text" class="form-control" name="description"  data-ng-model="project.description" placeholder="Projektbeschreibung">
	    </div>
	</div>
	<div class="form-group">
	    <label class="control-label col-sm-3" for="description">Projektstart:</label>
	    <div class="col-sm-4">
	    	<p class="input-group">
		    	<input type="text"
                            class="form-control projectDate"
                            name="projectStart"                                
                            data-ng-model="project.start"
                            datepicker-popup="dd.MM.yyyy"
                            is-open="projectStartDatePicker"
                            close-text="schlie&szlig;en"
                            current-text="heute"
                            clear-text="l&ouml;schen"
                            datepicker-options="{startingDay: 1}"
                            placeholder="Start"
                            disabled>
                  	<span class="input-group-btn">
                       		<button type="button" class="btn btn-default btn-xs datePickerButton"                         		   
                               data-ng-click="openProjectStartDatePicker($event)">
                               <span class="glyphicon glyphicon-calendar"></span>
                            </button>
                  	</span>
                  </p>
	    </div>
	</div>
	<div class="errorMessage col-sm-offset-3" data-ng-show="projectEndDateBeforeStartDateError == true">Projektende vor Projektstart</div>
	<div class="form-group">
	    <label class="control-label col-sm-3" for="description">Projektende:</label>
	    <div class="col-sm-4">
	    	<p class="input-group">
		    	<input type="text"
                            class="form-control projectDate"
                            name="projectEnd"                                
                            data-ng-model="project.end"
                            datepicker-popup="dd.MM.yyyy"
                            is-open="projectEndDatePicker"
                            close-text="schlie&szlig;en"
                            current-text="heute"
                            clear-text="l&ouml;schen"
                            datepicker-options="{startingDay: 1}"
                            placeholder="Ende"
                            disabled>
                  		<span class="input-group-btn">
                       		<button type="button" class="btn btn-default btn-xs datePickerButton" data-ng-click="openProjectEndDatePicker($event)">
                               	<span class="glyphicon glyphicon-calendar"></span>
                            </button>
                  		</span>
                  	</p>
	    	</div>    
	</div>
	<div class="form-group">
	    <label class="control-label col-sm-3" for="projectColor">Projektfarbe:</label>
	    <div class="col-sm-6"> 
	      <input type="color" data-ng-model="project.color">
	    </div>
	</div>
	<div class="form-group" data-ng-show="typeOfChange == 'CREATE'">
	    <label class="control-label col-sm-3" for="calendarEntry">Kalendereintrag:</label>
	    <div class="col-sm-6"> 
	      <input type="checkbox" data-ng-model="createCalendarEntry">
	    </div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-3" for="calendarEntry">Logo:</label>
	    <div class="col-sm-5"> 
	     <span class="glyphicon glyphicon-remove icon-hover" style="position: absolute;" data-ng-show="project.logoName != 'standardLogo.png' && project.logoName != ''" data-ng-click="removeProjectLogo()"></span>
	      <img data-ng-src="api/files/projectlogo/{{project.logoName == null || project.logoName == '' ? 'standardLogo.png' : project.logoName}}/" alt="logo" style="display: block;max-width:100%;max-height:100%;" />
	    </div>
	    <div class="col-sm-3">
	    	<span class="btn btn-default btn-file">
			    <span class="glyphicon glyphicon-paperclip" aria-hidden="true" ngf-select="uploadProjectLogo($files, $invalidFiles)" multiple
			          ngf-max-height="3000" ngf-max-size="5MB"></span>
			</span>
	    </div>
	</div>
</form>
<div class="form-group"> 
    <div class="col-sm-offset-7 col-sm-5">
      <button type="submit" class="btn btn-default createProjectButton" data-ng-disabled="createProjectForm.$invalid" data-ng-click="createOrChangeProject()">
      	<span data-ng-show="typeOfChange == 'CREATE'">anlegen</span><span data-ng-show="typeOfChange == 'CHANGE'">speichern</span>
      	<span class="glyphicon glyphicon-ok successMessage" data-ng-show="createProjectClicked == true"></span>
      </button>
    </div>
</div>
<br />
<br />
<br />