<div class="col-md-6 col-md-offset-3 signin">  
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Anmelden
            </div>
        </div>
        <hr />
        <form name="vm.signinForm"
              class="form-horizontal center-block"
              data-ng-submit="vm.signin(vm.user)">
            <div class="panel-body">
                <div data-ng-show="vm.signinForm.$submitted && vm.signinError"
                     class="alert alert-danger col-lg-12">
                    {{vm.signinError.error}}
                </div>
                <div class="form-group" show-errors>
                    <label class='control-label col-md-4'>Benutzer oder Email:</label>
                    <div class="col-md-8">
                        <div class="input-group">
	                   		<span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
		                    <input type="text"
		            	        class="form-control"
		                        name="vm.user.username"
		                        data-ng-model="vm.user.username"
		                        required
		                        autofocus>
	                    </div>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label class='control-label col-md-4'>Passwort:</label>

                    <div class="col-md-8">
                        <div class="input-group">
	                    	<span class="input-group-addon" id="basic-addon1"><span class="fa fa-lock fa-lg" aria-hidden="true"></span></span>
		                    <input type="password"
		                    	class="form-control"
		                        name="vm.user.password"
		                        data-ng-model="vm.user.password"  
		                        required>
		                 </div> 
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row clearfix">
                    <div class="col-md-12">
                        <button id="btn-signin" type="submit" class="btn btn-default pull-right" data-ng-disabled="vm.signinForm.$invalid">
                            Anmelden
                        </button>
                        <span class="pull-left"><a data-ui-sref="home.misrememberPassword" href="#"><span class="fa fa-unlock-alt"></span> Passwort vergessen?</a></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>