<div class="yesNoModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeYesNoModal()"></span>
        <h4 class="modal-title"><span class="glyphicon glyphicon-folder-open"></span> Wollen Sie das Projekt wirklich l&ouml;schen?</h4>
    </div>
    <div class="modal-body">
        <span>Wollen Sie das Projekt <span class="glyphicon glyphicon-folder-open" style="color:{{vm.project.color}}"></span> <b>{{vm.project.name}}</b> wirklich l&ouml;schen?</span>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" data-ng-click="vm.yes()">Ja</button>
        <button class="btn btn-default" type="button" data-ng-click="vm.no()">Nein</button>
    </div>
</div>