<!--suppress HtmlFormInputWithoutLabel -->
<div class="col-md-10 col-md-offset-1 signupForm">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">Registrieren</div>
        </div>
       <registration-directive invoker="vm" mandator="null"></registration-directive>
       <div data-ng-show="vm.signupError != null" class="errorMessage">
        	{{vm.signupError | translate}}
       </div>
	</div>
</div>
