<div class="row clearfix accesscontrol non-printable">
	<div class="breadcrumb">
		<span class="explanation"><span class="glyphicon glyphicon-log-in"></span> &Uuml;bersicht der Zutritte</span>
		<span class="logo">wdm</span>
	</div>
	<div class="col-md-1 column">
    </div>
    <div class="col-md-9 column">
    	<div class="controlContainer">
			<table>
			   <tr>
					<td>&nbsp;</td>
			   		<td>Projekte:</td>
			   		<td><span>&nbsp;</span></td>
			   		<td>
				      	<div class="dropdown dropdown-scroll">
						    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
						    	<span data-ng-show="vm.selectedProject == null">Projekt ausw&auml;hlen</span> 
						    	<span data-ng-show="vm.selectedProject != null">
							    	<span>
							    		<span class="glyphicon glyphicon-folder-open" style="color:{{vm.selectedProject.color}}"></span>
							    		<b>{{vm.selectedProject.name}}</b>
							    	</span>
							    </span>
						    	<span class="caret"></span>
						    </button>
						    <ul class="dropdown-menu">
						        <li role="presentation">      	
						            <div class="input-group input-group-sm search-control" style="margin-left:8px; margin-right:8px"> 
						            	<span class="input-group-addon">
						                    <span class="glyphicon glyphicon-search"></span>
										</span>
						                <input type="text" class="form-control" placeholder="Projekt suchen" data-ng-model="query"></input>
						            </div>
						        </li>
						        <li><span>&nbsp;</span></li>
						        <li role="presentation" data-ng-repeat="project in vm.projects | filter:query">
						        	<table class="projectTable">
						        		<tr>
						        			<td style="min-width:13px;">
						        				<span data-ng-show="project.selected == true" class="glyphicon glyphicon-ok icon-hover" data-ng-click="vm.removeSelectedProject(project)"></span>
						        			</td>
						        			<td>
						        				<span class="glyphicon glyphicon-folder-open" style="color:{{project.color}}"></span>
						        				<span class="icon-hover possibleProject" data-ng-click="vm.addSelectedProject(project)">{{project.name}}</span>
						        			</td>
						        		</tr>
						        	</table> 
						        </li>
						    </ul>
						</div>
					</td>
					<td>&nbsp;</td>
					<td>
						<div data-ng-show="vm.selectedProject.logoName != null && vm.selectedProject.logoName != ''" style="float: right;width: 80px; height: 40px;">
							<img data-ng-src="api/files/projectlogo/{{vm.selectedProject.logoName == null || vm.selectedProject.logoName == '' ? 'standardLogo.png' : vm.selectedProject.logoName}}/" alt="logo" style="display: block;max-width:100%;max-height:100%;" />
						</div>
					</td>
					<td>&nbsp;</td>
					<td>
						<p class="input-group" style="margin-top: 10px;">
					    	<input type="text"
			                            class="form-control dateInput"
			                            name="filterStartDate"                                
			                            data-ng-model="vm.filterStartDate"
			                            datepicker-popup="dd.MM.yyyy"
			                            is-open="vm.filterStartDatePicker"
			                            close-text="schlie&szlig;en"
			                            current-text="heute"
			                            clear-text="l&ouml;schen"
			                            datepicker-options="{startingDay: 1}"
			                            placeholder="Start"
			                            disabled>
			                  	<span class="input-group-btn">
			                       		<button type="button" class="btn btn-default btn-xs datePickerButton"                         		   
			                               data-ng-click="vm.openFilterStartDatePicker($event)">
			                               <span class="glyphicon glyphicon-calendar"></span>
			                            </button>
			                  	</span>
						  </p>
					</td>
					<td><span>&nbsp;</span></td>
					<td><span>&nbsp;</span></td>
					<td>
						<p class="input-group" style="margin-top: 10px;">
					    	<input type="text"
			                            class="form-control dateInput"
			                            name="filterEndDate"                                
			                            data-ng-model="vm.filterEndDate"
			                            datepicker-popup="dd.MM.yyyy"
			                            is-open="vm.filterEndDatePicker"
			                            close-text="schlie&szlig;en"
			                            current-text="heute"
			                            clear-text="l&ouml;schen"
			                            datepicker-options="{startingDay: 1}"
			                            placeholder="Ende"
			                            disabled>
			                  	<span class="input-group-btn">
			                       		<button type="button" class="btn btn-default btn-xs datePickerButton"                         		   
			                               data-ng-click="vm.openFilterEndDatePicker($event)">
			                               <span class="glyphicon glyphicon-calendar"></span>
			                            </button>
			                  	</span>
						  </p>
					</td>
					<td>
						<button type="submit" class="btn btn-default" data-ng-click="vm.getAccessControlsInRange()">
							Zutritte anzeigen	
					    </button>
					</td>
					<td><span>&nbsp;</span></td>
					<td><span>&nbsp;</span></td>
					<td><span>&nbsp;</span></td>
					<td>
						<span class="fa fa-file-pdf-o icon-hover" data-ng-click="vm.showPrintAccessControlModalService()"></span>
					</td>
					<td><span>&nbsp;</span></td>
					<td><span>&nbsp;</span></td>
					<td>
						<span data-ng-show="vm.selectProjectForPrinting" class="errorMessage">Bitte w&auml;hlen Sie ein Projekt aus</span>
					</td>
					<td><span>&nbsp;</span></td>
					<td><span>&nbsp;</span></td>
					<td>
						<span class="glyphicon glyphicon-hourglass icon-hover" title="Alle &Auml;nderungen werden live angezeigt" data-ng-class="vm.activatedLiveAccessControl == true ? 'activateLiveAccessControlActivated' : 'activateLiveAccessControlDeactivated'" data-ng-click="vm.activateLiveAccessControls()"></span>
					</td>
				</tr>
			</table>
		</div>
		<span class="errorMessage" data-ng-show="vm.selectedProject == null">Bitte ein Projekt ausw&auml;hlen</span>
		<br />
		
		<div data-ng-show="vm.accessControls.length == 0">
			Keine Zutritte vorhanden
		</div>
		<div data-ng-show="vm.accessControls.length > 0">
			<b>{{vm.accessControls.length}}</b> Zutritte vorhanden
		</div>
		
		<table class="table table-striped" data-ng-show="vm.accessControls.length > 0">
			<thead>
				<tr>
					<th>#</th>
					<th>Zeit</th>
					<th>Beschreibung</th>
					<th>Username</th>
					<th>User- Ext ID</th>
					<th>T&uuml;rname</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="accessControl in vm.accessControls track by $index">
					<td>{{$index+1}}.</td>
					<td>{{accessControl.eventDateTime}}</td>
					<td><span data-ng-bind-html="accessControl.operationDescription"></span></td>
					<td>{{accessControl.userName}}</td>
					<td>{{accessControl.userExtID}}</td>
					<td>{{accessControl.doorName}}</td>
				</tr>
			</tbody>
		</table>
    	<br />
    	<br />
    	<br />
    	<br />
    	<br />
    </div>
    <div class="col-md-2 column">
    </div>
</div>