.accesscontrol .odd {
	background-color: #f9f9f9 !important;
	padding-top: 10px;
	padding-left: 10px; 
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}              
.accesscontrol .even { 
	background-color: #fff !important;
	padding-top: 10px;
	padding-left: 10px; 
}                  
.printAccessControlModal .close {
	float: right;  
	margin-right: 5px;
	margin-top: 5px;
	font-size: 0.9em;
}              
.accesscontrol .activateLiveAccessControlActivated {
	color: red;
}
.accesscontrol .activateLiveAccessControlDeactivated {
	color: #333;
}