<div class="historyOfReceipeModal modal-movable non-printable">
	<span class="glyphicon glyphicon-move icon-hover non-printable" style="margin-left:0px;margin-top:0px !important;position: absolute;"></span>
	<div class="modal-header non-printable" data-ng-class="vm.receipeType == 'STANDARD_MIXTURE' ? 'receipeBackgroundColor' : 'mixtureBackgroundColor'">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeHistoryOfReceipeModal()"></span>
        <h4 class="modal-title" data-ng-show="vm.receipeType == 'STANDARD_MIXTURE'"><span class="fa fa-flask" aria-hidden="true"></span> Rezept- Historie </h4>
        <h4 class="modal-title" data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'"><span class="fa fa-flask" aria-hidden="true"></span> Mischungs- Historie </h4>
    </div>
    <div class="modal-body">
    	<span style="max-width:80%;margin-left:50px;font-size: 1.2em;">
    		<span data-ng-show="vm.receipesOfProduct.length > 0"><b>{{vm.receipesOfProduct.length}}</b></span> 
    		<span data-ng-show="vm.receipesOfProduct.length == 0">Keine</span> 
    		<span data-ng-show="vm.receipeType == 'STANDARD_MIXTURE'">Rezept(e) </span>
    		<span data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'">Mischung(en) </span>
    		f&uuml;r das Produkt <span class="glyphicon glyphicon-filter" style="color:{{vm.product.color}}"></span> <b>{{vm.product.name}}</b> ({{vm.product.number}}) vorhanden
    	</span>
		<table style="margin-left:50px;" class="non-printable">
			<tr>
				<td><span class="glyphicon glyphicon-search"></span></td>
				<td><span>&nbsp;</span></td>
				<td><input type="text" data-ng-model="vm.searchReceipeTerm" placeholder="Rezepte suchen" class="form-control" /></td>
				<td><span>&nbsp;</span></td>
				<td><span>&nbsp;</span></td>
				<td>Von:</td>
				<td>
					<p class="input-group" style="margin-top:10px;width:120px;">
				    	<input type="text"
		                            class="form-control"
		                            name="searchReceipeDateFrom"                                
		                            data-ng-model="vm.receipeDateFrom"
		                            datepicker-popup="dd.MM.yyyy"
		                            is-open="vm.searchReceipeDateFromDatePicker"
		                            close-text="schlie&szlig;en"
		                            current-text="heute"
		                            clear-text="l&ouml;schen"
		                            datepicker-options="{startingDay: 1}"
		                            placeholder="Datum"
		                            disabled
		                            required>
		                  	<span class="input-group-btn">
		                       		<button type="button" class="btn btn-default btn-xs datePickerButton"                         		   
		                               data-ng-click="vm.openSearchReceipeFromDatePicker($event)">
		                               <span class="glyphicon glyphicon-calendar"></span>
		                            </button>
		                  	</span>
		              </p>
				</td>
				<td><span>&nbsp;</span></td>
				<td><span>&nbsp;</span></td>
				<td>Bis:</td>
				<td>
					<p class="input-group" style="margin-top:10px;width:120px;">
				    	<input type="text"
		                            class="form-control"
		                            name="searchReceipeDateUntil"                                
		                            data-ng-model="vm.receipeDateUntil"
		                            datepicker-popup="dd.MM.yyyy"
		                            is-open="vm.searchReceipeDateUntilDatePicker"
		                            close-text="schlie&szlig;en"
		                            current-text="heute"
		                            clear-text="l&ouml;schen"
		                            datepicker-options="{startingDay: 1}"
		                            placeholder="Datum"
		                            disabled
		                            required>
		                  	<span class="input-group-btn">
		                       		<button type="button" class="btn btn-default btn-xs datePickerButton"                         		   
		                               data-ng-click="vm.openSearchReceipeUntilDatePicker($event)">
		                               <span class="glyphicon glyphicon-calendar"></span>
		                            </button>
		                  	</span>
		              </p>
				</td>
				<td><span>&nbsp;</span></td>
				<td><span>&nbsp;</span></td>
				<td><span>&nbsp;</span></td>
				<td><span>&nbsp;</span></td>
				<td><span class="glyphicon glyphicon-remove-circle icon-hover" data-ng-click="vm.findReceipesOfProductOfTypeInLastMonth()" title="Alle Rezepte f&uuml;r dieses Produkt anzeigen"></span></td>
				<td><span>&nbsp;</span></td>
				<td><span>&nbsp;</span></td>
			</tr>
		</table>
		<hr data-ng-show="vm.receipesOfProduct.length > 0" />
		<br />
		<div style="max-width:95%;margin-left:30px;">
			<table class="table table-striped" data-ng-repeat="receipeOfProduct in vm.receipesOfProduct | filter:vm.searchReceipeTerm track by $index" id="historieId{{$index}}">
				<tr>
					<td style="border:none;">{{$index+1}}.</td>
					<td style="border:none;">
						<table class="table">
							<tr>
								<td><b>Produkt:</b></td>
								<td>
									<span class="glyphicon glyphicon-filter" style="color:{{vm.product.color}}"></span><b>{{vm.product.name}}</b> ({{vm.product.number}})
									<span class="errorMessage blinkText" data-ng-show="vm.product.inactive">(Produkt eingestellt am {{(vm.product.inactiveDate | date:'dd.MM.yyyy') || '--'}}: {{vm.product.inactiveMessage || '--'}})</span>
								</td>
							</tr>
							<tr>
								<td><b>Erstelldatum:</b></td>
								<td>{{receipeOfProduct.creationDate}}</td>
							</tr>
							<tr>
								<td><b>Datum:</b></td>
								<td>{{receipeOfProduct.date}}</td>
							</tr>
							<tr data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'">
								<td><b>Kunde:</b></td>
								<td>
									<span data-ng-show="receipeOfProduct.contact != null">
										{{receipeOfProduct.contact.institution}} ({{(receipeOfProduct.contact.contactTenant | translate) || '--'}} {{receipeOfProduct.contact.customerNumber || '--'}}),
										{{receipeOfProduct.contact.address.street || '--'}} {{receipeOfProduct.contact.address.plz || '--'}} <b>{{receipeOfProduct.contact.address.region || '--'}}</b>,
										{{(receipeOfProduct.contact.address.country | translate) || '--'}}
										<span class="glyphicon glyphicon-home" title="Kontakt"></span>
									</span>
									<span data-ng-show="receipeOfProduct.contactText != null">
										{{receipeOfProduct.contactText}} <span class="glyphicon glyphicon-pencil" title="Freitext"></span>
									</span>
								</td>
							</tr>
							<tr data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'">
								<td><b>Bestell-/<br />Lieferschein:</b></td>
								<td>{{receipeOfProduct.purchaseOrderNumber}}</td>
							</tr>
							<tr data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'">
								<td><b>Menge:</b></td>
								<td>{{receipeOfProduct.amountInKilo}}</td>
							</tr>
							<tr>
								<td><b>Mischungs-<br />verh&auml;ltnis:</b></td>
								<td>
									<table class="table borderlessTable" style="margin-top:-8px;min-width:610px;">
										<thead>
											<tr>
												<th>Komponente</th>
												<th></th>
												<th style="text-align:right;">Dichte [g/ml]</th>
												<th></th>
												<th style="text-align:right;">Anteil [%]</th>
												<th data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'"></th>
												<th data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'" style="text-align:center;">Kg</th>
												<th data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'"></th>
												<th data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'" style="text-align:center;">Liter</th>
												<th data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'"></th>
												<th data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'">Info</th>
											</tr>
										</thead>
										<tbody>
											<tr data-ng-repeat="receipeProduct in receipeOfProduct.receipeProducts">
												<td>
													<span class="glyphicon glyphicon-ban-circle errorMessage icon-hover blinkText" data-ng-show="receipeProduct.product.inactive" style="margin-top:10px;" title="Produkt eingestellt am {{(receipeProduct.product.inactiveDate | date:'dd.MM.yyyy') || '--'}}: {{receipeProduct.product.inactiveMessage || '--'}}"></span>
													<span class="icon-hover" data-ng-click="vm.showProductOverviewModalService(receipeProduct.product)" title="{{receipeProduct.product.number}}  {{receipeProduct.product.name}}">
													<span class="glyphicon glyphicon-filter" style="color:{{receipeProduct.product.color}}"></span> 
													{{receipeProduct.product.name}}</span>
												</td>
												<td><span>&nbsp;</span></td>
												<td style="text-align:right;">
													<span data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'">
														{{receipeProduct.density | number:3}} 
														<span data-ng-show="receipeProduct.density != receipeProduct.product.density">({{receipeProduct.product.density}})</span>
													</span>
													<span data-ng-show="vm.receipeType == 'STANDARD_MIXTURE'">
														{{receipeProduct.product.density | number:3}}
													</span>
												</td>
												<td><span>&nbsp;</span></td>
												<td style="text-align:right;">{{receipeProduct.percentage | number:2}}</td>
												<td data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'"><span>&nbsp;</span></td>
												<td data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'" style="text-align:right;">{{receipeProduct.kilogram | number:1}}</td>
												<td data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'"><span>&nbsp;</span></td>
												<td data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'" style="text-align:right;">{{receipeProduct.liter | number:1}}</td>
												<td data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'"><span>&nbsp;</span></td>
												<td data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'">{{receipeProduct.information}}</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr data-ng-show="receipeOfProduct.receipeAdditionals != null">
								<td><b>Zus&auml;tze:</b></td>
								<td>
									<table class="table borderlessTable">
							      		<thead>
							      			<tr>	
							      				<th>Komponente</th>
							      				<th>Anzahl [E/t]</th>
							      				<th>Einheit</th>
							      				<th>Menge gesamt [E]</th>
							      			</tr>
							      		</thead>
							      		<tbody>
							      			<tr data-ng-repeat="receipeAdditional in receipeOfProduct.receipeAdditionals track by $index">
							      				<td>
													<span title="{{receipeAdditional.product.number}} {{receipeAdditional.product.name}}"><span class="fa fa-eyedropper" style="color:{{receipeAdditional.product.color}}" aria-hidden="true"></span> {{receipeAdditional.product.name}}</span>
							      				</td>
							      				<td>
							      					{{receipeAdditional.amount}}
							      				</td>
							      				<td>
							      					{{receipeAdditional.unityType | translate}}
							      				</td>
							      				<td>
							      					<div>{{receipeAdditional.result | number:3}}</div>
							      				</td>
							      			</tr>
								      	</tbody>
							      	</table>
								</td>
							</tr>
							<tr>
								<td><b>Anmerkung:</b></td>
								<td>{{receipeOfProduct.information}}</td>
							</tr>
							<tr>
								<td><b>Zugewiesene Mischvorschrift:</b></td>
								<td>
									<div data-ng-repeat="receipeAttachment in receipeOfProduct.receipeAttachments">
										<span class="icon-hover" data-ng-init="documentUrl = vm.createDocumentUrl(vm.currentUser, vm.product, receipeAttachment)" data-ng-click="vm.showTemplateModal(documentUrl, receipeAttachment)">
											<img data-ng-src="assets/img/{{receipeAttachment.ending}}.PNG" alt="" document-file-icon-dispatch /> {{receipeAttachment.filename}} <span style="font-size:0.8em;">({{receipeAttachment.version.substr(1)}})</span>
										</span>
										<a href="{{documentUrl}}"><span class="glyphicon glyphicon-download-alt non-printable" title="Herunterladen des Dokuments"></span></a>
									</div>
								</td>
							</tr>
						</table>
					</td>
					<td style="border:none;">
						<span class="fa fa-file-pdf-o icon-hover non-printable" style="margin-right:10px;margin-top:5px;color:#777;" data-ng-show="vm.receipeType == 'STANDARD_MIXTURE'" data-ng-click="vm.printContainer('historieId' + $index, 'Historie_Rezepte')" title="Rezept herunterladen"></span>
						<span class="fa fa-file-pdf-o icon-hover non-printable" style="margin-right:10px;margin-top:5px;color:#777;" data-ng-show="vm.receipeType == 'CHANGED_MIXTURE'" data-ng-click="vm.printContainer('historieId' + $index, 'Historie_Mischung')" title="Mischung herunterladen"></span>
						<span class="glyphicon glyphicon-print icon-hover" data-ng-click="vm.showPrintModal(receipeOfProduct)"></span>
					</td>
				</tr>
			</table>
		</div>
    </div>
    <div class="modal-footer non-printable">
        <button class="btn btn-default" type="button" data-ng-click="vm.closeHistoryOfReceipeModal()">Schlie&szlig;en</button>
    </div>
</div>