<div class="yesNoModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeYesNoModal()"></span>
        <h4 class="modal-title">Wollen Sie die Nachricht wirklich l&ouml;schen?</h4>
    </div>
    <div class="modal-body">
        Wollen Sie die Nachricht 
        <b>
        	<span data-ng-show="vm.communicationUserConnection.communication.title != ''">
        		{{vm.communicationUserConnection.communication.title}}
        	</span>
        	<span data-ng-show="vm.communicationUserConnection.communication.message != ''">
        		{{vm.communicationUserConnection.communication.message.substr(0,20)}}
        		<span data-ng-show="vm.communicationUserConnection.communication.message.length > 20"> ...</span>
        	</span>
        </b>, 
        <span data-ng-show="vm.type == 'SENT'"> gesendet</span>
        <span data-ng-show="vm.type == 'RECEIVED'"> empfangen </span>
        am <b>{{vm.communicationUserConnection.communication.receiveDate}}</b>
        von <span data-ng-show="vm.type == 'RECEIVED'"><b>{{vm.communicationUserConnection.userCreatedMessage.title}} {{vm.communicationUserConnection.userCreatedMessage.firstname}} {{vm.communicationUserConnection.userCreatedMessage.surname}}</b></span>
        wirklich l&ouml;schen?
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" data-ng-click="vm.yes()">Ja</button>
        <button class="btn btn-default" type="button" data-ng-click="vm.no()">Nein</button>
    </div>
</div>