<div class="pdfPreviewContainer">
	<nav class="pdf-controls" data-ng-class="getNavStyle(scroll)" style="margin-left:20px;">
		<button type="button" class="btn btn-default non-printable" data-ng-click="zoomOut()">
			<span class="glyphicon glyphicon-zoom-out"></span>
		</button>
		<button type="button" class="btn btn-default non-printable" data-ng-click="fit()">
			<span class="glyphicon glyphicon-search"></span>
		</button>
		<button type="button" class="btn btn-default non-printable" data-ng-click="zoomIn()">
			<span class="glyphicon glyphicon-zoom-in"></span>
		</button>
		<button type="button" class="btn btn-default non-printable" data-ng-click="rotate()">
			<span class="glyphicon glyphicon-repeat"></span>
		</button>
		
		<button type="button" class="btn btn-default non-printable" data-ng-click="goPrevious()">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</button>
		<button type="button" class="btn btn-default non-printable" data-ng-click="goNext()">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</button>
		<span class="non-printable">Seite <b>{{pageNum}}</b> von <b>{{pageCount}}</b>,</span>
		<span class="non-printable">zur Seite <input type="number" min="1" max="{{pageCount}}" data-ng-model="pageNum" style="width:50px;border:1px solid #eee;border-radius:4px;"></span>
		<br />
		Name: <b>{{vm.documentName}}</b> - Version <b>{{vm.version.substr(1)}}</b>
		<br />
	</nav>
	<canvas id="pdf-canvas" class="rotate0"></canvas>
</div>
