<div class="productOverviewModal modal-movable">
	<span class="glyphicon glyphicon-move icon-hover non-printable" style="margin-left:0px;margin-top:0px !important;position: absolute;"></span>
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeProductOverviewModal()"></span>
        <h4 class="modal-title">&Uuml;bersicht &uuml;ber die Produkteigenschaften des Produkts <span class="glyphicon glyphicon-filter" data-ng-style="{'color': vm.product.color}"></span> {{vm.product.number}} {{vm.product.name}}</h4>
    </div>
    <div class="modal-body">
       <table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>
						Artikelnummer
					</th>
					<th>
						Artikelbezeichnung
					</th>
					<th></th>
					<th>
						Art
					</th>
					<th>
						Angelegt am
					</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><span style="cursor: move;">{{$index+1}}.</span></td>
					<td>
						<span class="icon-hover" data-ui-sref="auth.project({userId: '{{vm.currentUser.id}}', type: 'PRODUCT', projectUserConnectionId: 'empty', projectOrProductId: vm.product.id, folderId: '' })">
							{{vm.product.number || '--'}}
						</span>
					</td>
					<td>
						<table title="Entwicklungsdatum: {{(vm.product.developmentDate.split(' ')[0]) || '--'}}">
							<tr>
								<td>
									<span class="glyphicon glyphicon-filter" data-ng-style="{'color': vm.product.color}"></span>
								</td>
								<td>
									<span>&nbsp;</span>
								</td>
								<td>
									<span>&nbsp;</span>
								</td>
								<td>
									<span class="icon-hover" data-ui-sref="auth.project({userId: '{{vm.currentUser.id}}', type: 'PRODUCT', projectUserConnectionId: 'empty', projectOrProductId: vm.product.id, folderId: ''})">
										{{vm.product.name || '--'}}
									</span>
								</td>
							</tr>
						</table>
					</td>
					<td>
						<span class="badge receipeBackgroundColor" data-ng-show="vm.product.amountOfReceipes > 0" title="Anzahl der Rezepte f&uuml;r das Produkt {{product.name}}">R {{vm.product.amountOfReceipes}}</span>
						<span class="badge mixtureBackgroundColor" data-ng-show="vm.product.amountOfMixtures > 0" title="Anzahl der Mischungen f&uuml;r das Produkt {{product.name}}">M {{vm.product.amountOfMixtures}}</span>
						<span class="badge thinningBackgroundColor" data-ng-show="vm.product.amountOfThinnings > 0" title="Anzahl der Verd&uuml;nnungen f&uuml;r das Produkt {{product.name}}">V {{vm.product.amountOfThinnings}}</span>
					</td>
					<td>
						<span class="typeLabel" style="margin-left:3px;" data-ng-repeat="type in vm.product.types track by $index" data-ng-switch="type">
							 <span data-ng-switch-when="LAB_CHEMICAL">
							 	<span class="fa fa-circle" aria-hidden="true" style="color:#46bfbd"></span> {{(type | translate) || '--'}}
							 </span>
							 <span data-ng-switch-when="RAW_MATERIAL">
							 	<span class="fa fa-circle" aria-hidden="true" style="color:#97bbcd"></span> {{(type | translate) || '--'}}
							 </span>
							 <span data-ng-switch-when="TRADING_GOODS">
							 	<span class="fa fa-circle" aria-hidden="true" style="color:#f7464a"></span> {{(type | translate) || '--'}}
							 </span>
							 <span data-ng-switch-when="BLEND">
							 	<span class="fa fa-circle" aria-hidden="true" style="color:#dcdcdc"></span> {{(type | translate) || '--'}}
							 </span>
						</span>
						<span data-ng-show="vm.product.types.length == 0 || vm.product.types == null">--</span>
					</td>
					<td>{{vm.product.creationDate | date:'dd.MM.yyyy'}}</td>
					<td>
						<span data-ng-show="vm.product.density == null && vm.product.productAggregateConditionType != 'HARD'" class="glyphicon glyphicon-tag errorMessage" title="keine Dichte eingegeben"></span>
					</td>
					<td>
						<span class="glyphicon glyphicon-tint" data-ng-show="vm.product.productAggregateConditionType == 'LIQUID'" title="Fl&uuml;ssigkeit"></span>
						<span class="glyphicon glyphicon-th-large" data-ng-show="vm.product.productAggregateConditionType == 'HARD'" title="Feststoff"></span>
					</td>
				</tr>
				<tr style="background-color:#fff;">
		    		<td colspan="8">
		    			<div style="background-color:#eee;padding:2px;border-radius:4px;font-weight:bold;">
		    				<span class="glyphicon glyphicon-filter"></span> Produkteigenschaften:
		    			</div>
		    			<table class="table borderless">
		    				<tr>
		    					<td style="width:200px;">
		    						weitere Bezeichnungen:
		    					</td>
		    					<td>
		    						<span>&nbsp;</span>
		    					</td>
			    				<td>
			    					<div data-ng-repeat="name in vm.product.names track by $index">
										{{name || '--'}}
									</div>
								</td>
							</tr>
							<tr>
		    					<td style="width:200px;">
		    						Beschreibung:
		    					</td>
		    					<td>
		    						<span>&nbsp;</span>
		    					</td>
			    				<td>
									{{vm.product.description || '--'}}
								</td>
							</tr>
		    				<tr>
		    					<td style="width:200px;">
		    						Chemische Beschreibung:
		    					</td>
		    					<td>
		    						<span>&nbsp;</span>
		    					</td>
			    				<td>
									{{vm.product.chemicalDescription || '--'}}
								</td>
							</tr>
							<tr data-ng-show="vm.product.productAggregateConditionType != 'HARD'">
		    					<td>
		    						Dichte des Produktes:
		    					</td>
		    					<td>
		    						<span>&nbsp;</span>
		    					</td>
			    				<td>
									{{vm.product.density || '--'}}
								</td>
							</tr>
							<tr>
		    					<td>
		    						Gebinde:
		    					</td>
		    					<td>
		    						<span>&nbsp;</span>
		    					</td>
			    				<td>
			    					<table>
			    						<tr data-ng-repeat="productFillingWeight in vm.product.productFillingWeights track by $index">
			    							<td>{{productFillingWeight.fillingWeight}}:</td>
			    							<td><span>&nbsp;</span></td>
			    							<td><span>&nbsp;</span></td>
			    							<td>{{productFillingWeight.information || '--'}}</td>
			    						</tr>
			    					</table>
								</td>
							</tr>
						</table>
						<div style="background-color:#eee;padding:2px;border-radius:4px;font-weight:bold;">
							<span class="glyphicon glyphicon-home"></span> Hersteller / Lieferanten:
						</div>
						<table class="table borderless">
							<tr data-ng-repeat-start="contactProduct in vm.product.contactsProduct track by $index">
								<td>{{$index+1}}. {{contactProduct.contact.institution}} - {{contactProduct.contact.address.street || '--'}}, {{contactProduct.contact.address.postalCode || '--'}} {{contactProduct.contact.address.region || '--'}}</td>
							</tr>
							<tr data-ng-repeat-end="">
								<td colspan="4">
									<div data-ng-repeat="productLocationAndOrderConstruction in contactProduct.productLocationAndOrderConstructions track by $index">
										<div class="distanceLeft"> 
											<div>
												<span class="glyphicon glyphicon-home"></span> Standort {{$index+1}}:
											</div>
											<table class="distanceLeft">
												<tr>
													<td>Standortname</td>
													<td><span>&nbsp;</span></td>
													<td>{{productLocationAndOrderConstruction.address.additionalInformation || '--'}}</td>
												</tr>
												<tr>
													<td>Stra&szlig;e</td>
													<td><span>&nbsp;</span></td>
													<td>{{productLocationAndOrderConstruction.address.street || '--'}}</td>
												</tr>
												<tr>
													<td>Ort</td>
													<td><span>&nbsp;</span></td>
													<td>{{productLocationAndOrderConstruction.address.postalCode}} {{productLocationAndOrderConstruction.address.region || '--'}}</td>
												</tr>
												<tr>
													<td>Bundesland</td>
													<td><span>&nbsp;</span></td>
													<td>{{(productLocationAndOrderConstruction.address.provinceType | translate) || '--'}}</td>
												</tr>
												<tr>
													<td>Land</td>
													<td><span>&nbsp;</span></td>
													<td>{{(productLocationAndOrderConstruction.address.country | translate) || '--'}}</td>
												</tr>
											</table>
											<div class="distanceLeft">
												<div style="background-color:#eee;max-width:210px;">
													<span class="glyphicon glyphicon-pencil"></span> Bestellinformation Standort {{$index+1}}:<br />
												</div>
												<div class="distanceLeft">{{productLocationAndOrderConstruction.orderConstruction || '--'}}</div>
											</div>
										</div>
										<br />
									</div>
								</td>
							</tr>
						</table>
		    		</td>
		    	</tr>
			</tbody>
		</table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" data-ng-click="vm.closeProductOverviewModal()">Schlie&szlig;en</button>
    </div>
</div>