<div class="projectsAssignedToContactModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeProjectAssignedToContactModal()"></span>
        <h4 class="modal-title"><span class="glyphicon glyphicon-resize-horizontal"></span> Projektmitgliedschaft von <span class="glyphicon glyphicon-home" style="color:{{vm.contact.color}}"></span> <b>{{vm.contact.institution}}</b></h4>
    </div>
    <div class="modal-body">
       <div>
       	<span class="glyphicon glyphicon-edit icon-hover" data-ng-init="addProjects = false" data-ng-click="addProjects = !addProjects" data-ng-show="addProjects == false"></span> 
       	<span class="glyphicon glyphicon-edit icon-hover" data-ng-click="addProjects = !addProjects" data-ng-show="addProjects == true"></span>
       	<b>{{vm.contact.institution}}</b> Projektmitgliedschaft bearbeiten
       </div>
       <br />
       <div class="listOfProjects" data-ng-show="addProjects == true">
       		<table class="table">
       			<thead>
       				<tr>
       					<th></th>
       					<th>Name</th>
       					<th>Beschreibung</th>
       					<th>Angelegt am</th>
       				</tr>
       			</thead>
       			<tbody>
	       			<tr data-ng-repeat="project in vm.projects track by $index">
	       				<td><input type="checkbox" data-ng-init="project.checked = vm.projectStillAdded(project)" data-ng-checked="project.checked" data-ng-model="project.checked" data-ng-change="vm.projectSelectionChanged(project, project.checked)" /> </td>
	       				<td>
	       					<span class="glyphicon glyphicon-folder-open" data-ng-style="{'color': project.color}"></span>
	       					{{project.name}}
	       				</td>
	       				<td>{{project.description || '--'}}</td>
	       				<td>{{project.creationDate}}</td>
	       			</tr>
	       		</tbody>
       		</table>
       </div>
       <br />
       <div data-ng-show="vm.projectUserConnections.length == 0">
       		Dieser Kontakt ist zu keinem Projekt zugeordnet
       </div>
       
       <table class="table table-striped" data-ng-show="vm.projectUserConnections.length > 0" style="width: 100%;">
       		<thead>
       			<tr>
       				<th>#</th>      				
       				<th>Name</th>
       				<th>Angelegt am</th>
       				<th>Projektstart</th>
       				<th>Projektende</th>
       				<th></th>
       			</tr>
       		</thead>
       		<tbody>
	       		<tr data-ng-repeat="projectUserConnection in vm.projectUserConnections">
	       			<td>{{$index+1}}.</td>
	       			<td><span class="glyphicon glyphicon-folder-open" data-ng-style="{'color': projectUserConnection.project.color}"></span> {{projectUserConnection.project.name}}</td>
	       			<td>{{projectUserConnection.project.creationDate}}</td>
	       			<td>{{projectUserConnection.project.start || '--'}}</td>
	       			<td>{{projectUserConnection.project.end || '--'}}</td>
	       			<td><span class="glyphicon glyphicon-minus icon-hover" data-ng-click="vm.projectSelectionChanged(projectUserConnection.project, false);vm.uncheckProject(projectUserConnection.project)"></span></td>
	       		</tr>
       		</tbody>
       </table>
       
    </div>
</div>