<div class="deleteFolderModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeDeleteFolderModal()"></span>
        <h4 class="modal-title">Ordner l&ouml;schen</h4>
    </div>
    <div class="modal-body">
    	<div class="form-group">
      		Wollen Sie den Ordner mit dem Namen <b>{{vm.folder.name}}</b> (Erstellt am <b>{{vm.folder.created.split(' ')[0]}}</b>) wirklich l&ouml;schen?
      	</div>
      	<div class="form-group"> 
      		<div style="float:left;" class="errorMessage">{{vm.errorCodeType | translate}}</div>
		    <div style="float:right;margin-right:35px;">
		      <button type="submit" class="btn btn-default" data-ng-click="vm.deleteFolder()">
		      	L&ouml;schen
		      </button>
		    </div>
		</div>
		<br />
		<br />
    </div>
</div>

