<form name="signupForm" class="form-horizontal" data-ng-submit="signup(user)" novalidate>
    <div class="panel-body">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="row clearfix">
                    <div class="col-md-6">
                       	<as-form-group as-label="Benutzername:">
                            <input type="text"
                                   class="form-control"
                                   name="username"
                                   data-ng-model="user.username"
                                   data-ng-minlength="5"
                                   data-ng-maxlength="32"
                                   required
                                   data-as-unique-username>
                            <span class="errorMessage" data-ng-show="signupForm.username.$error.minlength && !signupForm.username.$pristine">der Benutzername muss mindestens 5 Zeichen lang sein</span>
							<span class="errorMessage" data-ng-show="signupForm.username.$error.maxlength && !signupForm.username.$pristine">der Benutzername darf maximal 32 Zeichen lang sein</span>
                        </as-form-group>
                    </div>
                    <div class="col-md-6">
                        <as-form-group as-label="Passwort:">
                            <input type="password"
                                   class="form-control"
                                   name="password"
                                   data-ng-model="user.password"
                                   data-ng-minlength="5"
                                   data-ng-maxlength="50"
                                   required>
                            <span class="errorMessage" data-ng-show="signupForm.password.$error.minlength && !signupForm.password.$pristine">das Passwort muss mindestens 5 Zeichen lang sein</span>
		   					<span class="errorMessage" data-ng-show="signupForm.password.$error.maxlength && !signupForm.password.$pristine">das Passwort darf maximal 50 Zeichen lang sein</span>
                        </as-form-group>
                    </div>
                </div>
                <hr>
                <div class="row clearfix">
                    <div class="col-md-6">
                    	<as-form-group as-label="Titel:">
                            <input type="text"
                                   class="form-control"
                                   name="user.title"
                                   data-ng-model="user.title"
                                   data-ng-maxlength="16">
                        </as-form-group>
                        <as-form-group as-label="Vorname:">
                            <input type="text"
                                   class="form-control"
                                   name="firstname"
                                   data-ng-model="user.firstname"
                                   data-ng-minlength="2"
                                   data-ng-maxlength="32"
                                   required>
                                   <span class="errorMessage" data-ng-show="signupForm.firstname.$error.minlength && !signupForm.firstname.$pristine">der Vorname muss mindestens 2 Zeichen lang sein</span>
		   						   <span class="errorMessage" data-ng-show="signupForm.firstname.$error.maxlength && !signupForm.firstname.$pristine">der Vorname darf maximal 32 Zeichen lang sein</span>
                        </as-form-group>
                    </div>
                    <div class="col-md-6">
                    <div class="form-group">
    					<label class='control-label col-md-4'>Geschlecht:</label>
					    <div class="col-md-8 input-wrapper">
					    	<div class="btn-group">
								<label class="btn btn-default" data-ng-model="user.sex" btn-radio="'MALE'" name="sex" uncheckable required="!user.sex">Mann</label>
								<label class="btn btn-default" data-ng-model="user.sex" btn-radio="'FEMALE'" name="sex" uncheckable required="!user.sex">Frau</label>
					    	</div>
						</div>
					</div>
					<as-form-group as-label="Nachname:">
                            <input type="text"
                                   class="form-control"
                                   name="surname"
                                   data-ng-model="user.surname"
                                   data-ng-minlength="2"
                                   data-ng-maxlength="32"
                                   required>
                                   <span class="errorMessage" data-ng-show="signupForm.surname.$error.minlength && !signupForm.surname.$pristine">der Nachname muss mindestens 2 Zeichen lang sein</span>
		   						   <span class="errorMessage" data-ng-show="signupForm.surname.$error.maxlength && !signupForm.surname.$pristine">der Nachname darf maximal 32 Zeichen lang sein</span>
                        </as-form-group>
            		</div>
            	</div>
            	<hr>
            	<div class="row clearfix">
                 <div class="col-md-6">
                  <as-form-group as-label="Email:">
                  	<input type="email"
                                   class="form-control"
                                   name="email"
                                   data-ng-model="user.email"
                                   data-ng-minlength="5"
                                   data-ng-maxlength="40"
		   						   as-unique-email>
		   				   <div class="errorMessage" data-ng-show="signupForm.email.$error.minlength && !signupForm.email.$pristine">die Email- Adresse muss mindestens 5 Zeichen lang sein</div>
						   <div class="errorMessage" data-ng-show="signupForm.email.$error.maxlength && !signupForm.email.$pristine">die Email- Adresse darf maximal 40 Zeichen lang sein</div>
						   <div class="errorMessage" data-ng-show="signupForm.email.$invalid && !signupForm.email.$pristine">Email (noch) nicht g&uuml;ltige</div>
                  </as-form-group>
                 </div>
                 <div class="col-md-6">
                 	<as-form-group as-label="Telefon:">
                 		<input type="tel" 
                                    class="form-control"
                                    name="telephone"
                                    data-ng-model="user.telephone"
                                    data-ng-minlength="5"
                                    data-ng-maxlength="25">
                               <span class="errorMessage" data-ng-show="signupForm.telephone.$error.minlength && !signupForm.telephone.$pristine">die Telefonnummer muss mindestens 5 Zeichen lang sein</span>
                               <span class="errorMessage" data-ng-show="signupForm.telephone.$error.maxlength && !signupForm.telephone.$pristine">die Telefonnummer darf maximal 25 Zeichen lang sein</span>
                 	</as-form-group>
                 </div>
            	</div>
            	<hr>
            	<div class="row clearfix">
                	<div class="col-md-6">
                		<as-form-group as-label="Land:">
                 		<select class="form-control"
							name="user.address.country"
							data-ng-model="user.address.country"
							data-ng-maxlength="6"
							data-ng-minlength="4">
							<option value="austria">&Ouml;sterreich</option>
						</select>
                 	</as-form-group>
                 	<br />
                 	<as-form-group as-label="Mandant:">
                    	<input type="text"
                               class="form-control"
                               name="tenant"
                               data-ng-model="user.tenant.name"
                               data-ng-minlength="4"
                               data-ng-maxlength="50"
                               required>
                       <span class="errorMessage" data-ng-show="signupForm.tenant.$error.minlength && !signupForm.tenant.$pristine">der Mandant muss mindestens 4 Zeichen lang sein</span>
					   <span class="errorMessage" data-ng-show="signupForm.tenant.$error.maxlength && !signupForm.tenant.$pristine">der Mandant darf maximal 50 Zeichen lang sein</span>
                    </as-form-group>
                	</div>
                	<div class="col-md-6">
                		<as-form-group as-label="Postleitzahl:">
                 		<input type="text"
                                   class="form-control"
                                   name="postalCode"
                                   data-ng-model="user.address.postalCode"
                                   data-ng-maxlength="6"
                                   data-ng-minlength="4">
                                   <span class="errorMessage" data-ng-show="signupForm.postalCode.$error.minlength && !signupForm.postalCode.$pristine">die Postleitzahl muss mindestens 4 Zeichen lang sein</span>
		   						   <span class="errorMessage" data-ng-show="signupForm.postalCode.$error.maxlength && !signupForm.postalCode.$pristine">die Postleitzahl darf maximal 6 Zeichen lang sein</span>
		   						   <span class="errorMessage" data-ng-show="signupForm.postalCode.$invalid && !signupForm.postalCode.$pristine">Bitte eine Postleitzahl eingeben</span>
                 	</as-form-group>
                		<as-form-group as-label="Ort:">
                 		<input type="text"
                                   class="form-control"
                                   name="region"
                                   data-ng-model="user.address.region"
                                   data-ng-minlength="2"
                                   data-ng-maxlength="32">
                                   <span class="errorMessage" data-ng-show="signupForm.region.$error.minlength && !signupForm.region.$pristine">der Ort muss mindestens 2 Zeichen lang sein</span>
		   						   <span class="errorMessage" data-ng-show="signupForm.region.$error.maxlength && !signupForm.region.$pristine">der Ort darf maximal 32 Zeichen lang sein</span>
                		</as-form-group>
                 	<as-form-group as-label="Strasse:">
                   		<input type="text"
                                class="form-control"
                                name="street"
                                data-ng-model="user.address.street"
                                data-ng-minlength="2"
                                data-ng-maxlength="32">
                                <span class="errorMessage" data-ng-show="signupForm.street.$error.minlength && !signupForm.street.$pristine">die Strasse muss mindestens 2 Zeichen lang sein</span>
		   						<span class="errorMessage" data-ng-show="signupForm.street.$error.maxlength && !signupForm.street.$pristine">die Strasse darf maximal 32 Zeichen lang sein</span>
                  	</as-form-group>
                	</div>
            	</div>
        	</div>
    	</div>
    </div>
    <div>
        <div class="row clearfix">
        	<div class="col-md-1">
        	</div>
        	<div class="col-md-7">
        		<span data-ng-show="usernameError == true" class="errorMessage">Benutzername nicht eingegeben oder nicht g&uuml;ltig</span>
        		<span data-ng-show="passwordError == true" class="errorMessage">Passwort nicht eingegeben oder nicht g&uuml;ltig</span>
        		<span data-ng-show="firstnameError == true" class="errorMessage">Vorname nicht eingegeben oder nicht g&uuml;ltig</span>
        		<span data-ng-show="surnameError == true" class="errorMessage">Nachname nicht eingegeben oder nicht g&uuml;ltig</span>
        		<span data-ng-show="emailError == true" class="errorMessage">Email nicht eingegeben oder nicht g&uuml;ltig</span>
        		<span data-ng-show="tenantError == true" class="errorMessage">Mandant nicht eingegeben oder nicht g&uuml;ltig</span>
        		<span data-ng-switch="signupError.message">
	        		<span class="errorMessage" data-ng-switch-when="User with username or email still exists">
	        			Es existiert bereits ein User mit dem Usernamen
	        		</span>
	        		<span class="errorMessage" data-ng-switch-when="tenant not found">
	        			Mandant nicht gefunden
	        		</span>
	        		<span class="errorMessage" data-ng-switch-default>
	        			{{signupError.message}}
	        		</span>
	        	</span>
        	</div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-default pull-right" style="margin-right:15px;margin-bottom:10px;">
                    Registrieren
                </button>
            </div>
        </div>
    </div>
</form>