<div class="shiftDocumentFileModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeShiftDocumentFileModal()"></span>
        <h4 class="modal-title"><span class="glyphicon glyphicon-arrow-right"></span> Dokument verschieben nach</h4>
    </div>
    <div class="modal-body">
    	<script type="text/ng-template" id="field_renderer.html">
      		<span class="fa fa-clipboard icon-hover folder-color" data-ng-click="vm.shiftToFolder(field)"></span>
			<span style="margin-left:5px;" class="icon-hover" data-ng-click="vm.shiftToFolder(field)">{{field.name}} <span data-ng-show="field.id == vm.documentFile.folderId" class="glyphicon glyphicon-file"></span></span>
      		<ul ng-if="field.children">
          		<li ng-repeat="field in field.children" ng-include="'field_renderer.html'" style="list-style-type: none;">
          		</li>
      		</ul>
    	</script>
		<ul>
			<li class="icon-hover" data-ng-click="vm.shiftToRoot()" style="list-style-type:none;">
				<span class="glyphicon glyphicon-bookmark folder-color" style="margin-left:-3px;"></span> Dokumente <span data-ng-show="vm.documentFile.folderId == ''" class="glyphicon glyphicon-file"></span>
			</li>
		 	<li data-ng-repeat="field in vm.folderTree" data-ng-include="'field_renderer.html'" style="list-style-type: none;"></li>
		</ul>
		<br />
		<br />
		<span class="errorMessage" data-ng-show="vm.errorShiftDocumentFileStillInFolder==true">Dokument befindet sich bereits in diesem Ordner (siehe Kennzeichnung)</span>
    </div>
</div>

