<div class="createOrUpdateTimeRegistrationModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeCreateOrUpdateTimeRegistrationModal()"></span>
        <h4 class="modal-title" data-ng-show="vm.type == 'CREATE'"><span class="glyphicon glyphicon-time"></span> Zeiteintrag erzeugen</h4>
        <h4 class="modal-title" data-ng-show="vm.type == 'EDIT'"><span class="glyphicon glyphicon-time"></span> Zeiteintrag &auml;ndern</h4>
    </div>
    <div class="modal-body">
       
       <create-or-update-time-registration-directive 
       		type="vm.type" 
       		projects="vm.projects" 
       		selected-project="vm.selectedProject" 
       		time-registration="vm.timeRegistration" 
       		invoker="vm.invoker"
       		modal-invoker="vm">
       	</create-or-update-time-registration-directive>
       
    </div>
</div>