<div class="communicationGroupCreation"> 
	<div class="panel">
	  <div class="panel-heading">
	  	<button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="vm.closeCommunicationGroupCreationModal()">
	  		<span aria-hidden="true">&times;</span>
	  	</button>
	  	<h4 data-ng-switch="vm.mode">
	  		<span data-ng-switch-when="CREATE">Neue Kommunikations- Gruppe anlegen</span>
	  		<span data-ng-switch-when="EDIT">Kommunikations- Gruppe editieren</span>
	  	</h4>
	  	<hr />
	  </div>
	  <div class="row clearfix">
	  	<div class="col-md-1">
	  	</div>
		<div class="col-md-10">
			<form name="communicationGroupForm">
				<table class="table communicationGroupCreationTable">
					<tr>
				   		<td>Farbe: </td>
				  		<td>
							<table>
								<tr>
									<td><input type="color" data-ng-model="vm.communicationGroupColor"></td>
									<td></td>
								</tr>
							</table>
				        </td>
				  	</tr>
				   	<tr>
				   		<td>Name: </td>
				  		<td>
							<input type="text" 
							class="form-control" 
							name="communicationGroupName"
							placeholder="Gruppenname eingeben" 
							data-ng-model="vm.communicationGroupName"
							data-ng-minlength="5"
							data-ng-maxlength="20"
							required/>
							<div class="errorMessage" data-ng-show="communicationGroupForm.communicationGroupName.$error.minlength && !signupForm.password.$pristine">Der Name muss mind. 5 Zeichen lang sein</div>
							<div class="errorMessage" data-ng-show="communicationGroupForm.communicationGroupName.$error.maxlength && !signupForm.password.$pristine">Der Name darf max. 20 Zeichen lang sein</div>
				        </td>
				  	</tr>
				  	<tr>
				   		<td>Beschreibung: </td>
				  		<td>
							<input type="text" class="form-control" placeholder="Beschreibung eingeben" data-ng-model="vm.communicationGroupDescription"/>
				        </td>
				  	</tr>
				  	<tr>
				   		<td>Mitglied suchen: </td>
				  		<td>
				  			<table>
								<tr>
									<td>
										<input 
											type="text" 
											class="form-control" 
											placeholder="Benutzer suchen" 
											data-ng-model="vm.selectedUser"
											typeahead="user as user.firstname + ' ' + user.surname for user in vm.getUsersByTerm($viewValue)"
											typeahead-min-length="3"
											typeahead-wait-ms="100"
											typeahead-editable="false" />
									</td>
									<td><button type="submit" class="btn btn-default btn-sm" data-ng-click="vm.addUserToGroup()">hinzuf&uuml;gen</button></td>
								</tr>
							</table>
							<div class="communicationGroupCreationError" data-ng-show="vm.communicationGroupCreationError">
								User ist bereits in der Gruppe vorhanden
							</div>
				        </td>
				  	</tr>
				</table>
			</form>
			<b>Mitglieder:</b>
			<br />
			<div>
				<div data-ng-if="vm.usersOfGroup.length == 0">
					Meine Mitglieder vorhanden 
					<div class="additionalInformation">(Es m&uuml;ssen mindestens zwei Mitglieder dieser Gruppe hinzugef&uuml;gt werden)</div>
				</div>
				<div data-ng-repeat="userOfGroup in vm.usersOfGroup">
					<span class="glyphicon glyphicon-minus icon-hover" data-ng-click="vm.removeUserFromGroup(userOfGroup)" data-ng-show="userOfGroup.id != vm.currentUser.id"></span> {{userOfGroup.title}} {{userOfGroup.firstname}} {{userOfGroup.surname}}
				</div>
			</div>
			<div class="buttonContainer" data-ng-switch="vm.mode">
				<button data-ng-switch-when="CREATE" type="submit" class="btn btn-default btn-md" data-ng-click="vm.createCommunicationGroup()" data-ng-disabled="communicationGroupForm.$invalid || vm.usersOfGroup.length < 2">Gruppe anlegen</button>
				<button data-ng-switch-when="EDIT" type="submit" class="btn btn-default btn-md" data-ng-click="vm.updateCommunicationGroup()" data-ng-disabled="communicationGroupForm.$invalid || vm.usersOfGroup.length < 2">&Auml;nderungen speichern</button>
			</div>
			<br />
		</div>
	  </div>
	</div>
</div>