<div class="changeProjectPropertiesModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeChangeProjectPropertiesModal()"></span>
        <h4 class="modal-title"><span class="glyphicon glyphicon-folder-open"></span> &Auml;ndern der Projekteigenschaften</h4>
    </div>
    <div class="modal-body">
       
       <create-project-directive 
			project="vm.project" 
			project-user-connections="" 
			current-user="vm.currentUser"
			type-of-change="'CHANGE'"
			invoker="vm"
			province-types="vm.provinceTypes"
			project-data-sheet="vm.projectDataSheet">
		</create-project-directive>
       
    </div>
</div>