.products .createProductContainer .createProduct {
	margin-top: 25px;
	background-color: #fefefe;
	border: 1px solid #eee;
	border-radius: 4px; 
} 
.products .loadingContainer img {   
	margin-top: -20px;
	max-height: 30px;
	max-width: 30px;
} 
.products .uploadFiles,   
.products .drop-box:hover {
	background-image: url(../../assets/img/uploadHover.PNG);
    background-size: 100%;
    background-repeat:no-repeat;
}
.products .backgroundColor {
	background-color: rgba(0, 122, 185, 0.2) !important;
}
.increase-popover-width {
	min-width: 530px !important;
}
.editThinningModal .createThinning,
.createThinningModal .createThinning,
.editReceipeToMixtureModal .changeReceipe,
.createReceipeModal .changeReceipe,
.editReceipeModal .changeReceipe {
	background-color: #fcfcfc;
	padding-top: 15px;
	padding-bottom: 40px; 
}
.changeReceipe datetimepicker table { 
	height: 30px;
}
.products .stillCreated {
	background-color: #d9edf7 !important;
}
.products .productExpanded {
	background-color: #fcf8e3 !important;
}
.products .stillWorkedWith {
	background-color: #fcf8e3 !important;
}
.products .documentsTable tbody tr:hover {
	background-color: #eee;
}
.products .distanceLeft, 
.productOverviewModal .distanceLeft,
.changeProjectPropertiesModal .distanceLeft {
	margin-left: 20px;
}
.searchReceipesModal .close,
.printModal .close,
.printThinningModal .close,
.editThinningModal .close,
.historyOfThinningModal .close,
.createThinningModal .close,
.productOverviewModal .close,
.editReceipeToMixtureModal .close,
.historyOfReceipeModal .close,
.createReceipeModal .close,
.editReceipeModal .close,
.productsOfTenantModal .close { 
	float: right;
	margin-right: 5px;  
	margin-top: 5px;
	font-size: 0.9em;
}
.createProductForm label {
	margin-right: 10px;
}
.products .typeLabel {
	border: 1px solid #ccc;
	padding: 2px;
	display: inline;
	border-radius: 4px;
	font-size: 0.85em;
	background-color: #f9f9f9;
}
.editThinningModal datetimepicker .datetimepicker-wrapper,
.changeReceipe datetimepicker .datetimepicker-wrapper,
.createThinningModal datetimepicker .datetimepicker-wrapper {
	display: none;
}
.printModal .textRight,
.createThinningModal .textRight {
	text-align: right;
}
.historyOfThinningModal .textRight {
	text-align: right;
}
.printModal .textLeft {
	text-align: left;
}
.printThinningModal .noBorder,
.printModal .noBorder {
	border: none;	
}
.printModal .modal-body {
	font-size: 1.4em;
}
.printThinningModal .printInfo,
.printThinningModal .logo,
.printModal .printInfo,
.printModal .logo {
	display: none;
}