<div class="row clearfix products" id="top">
	<div class="breadcrumb non-printable">
		<span class="explanation"><span class="glyphicon glyphicon-filter"></span> Produkte verwalten</span>
		<span class="logo">wdm</span>
	</div>
	<div class="col-md-1 column">
    </div>
    <div class="col-md-9 column non-printable">
    	<div data-ng-show="vm.userAuthorizationUserContainer.userAuthorizations[4].state == true">
			<div data-ng-show="vm.showProductCreationTrigger == false" data-ng-click="vm.showProductCreationTrigger = !vm.showProductCreationTrigger" class="icon-hover"><span class="glyphicon glyphicon-plus pulseOnce"></span> Neues Produkt anlegen</div>
			<div data-ng-show="vm.showProductCreationTrigger == true" data-ng-click="vm.showProductCreationTrigger = !vm.showProductCreationTrigger"><span class="glyphicon glyphicon-minus icon-hover"></span> Formular zum Erstellen eines neuen Produktes ausblenden</div>
		</div>
		<div data-ng-show="vm.showProductCreationTrigger" class="row clearfix createProductContainer">
			<div class="col-md-10 createProduct">
				<br />
				<create-products-directive
					product="vm.product"
					products="vm.products"
					product-types="vm.productTypes"
					type-of-change="'CREATE'"
					current-user="vm.currentUser"
					product-aggregate-condition-type-enums="vm.productAggregateConditionTypes"
					invoker="vm"
					roles="vm.roles"
					users-of-project="vm.usersOfProject">
				</create-products-directive>
			</div>
		</div>
		<br />
		<div class="loadingContainer" data-ng-show="vm.loadingProducts == true">
		  	<img src="assets/img/loading.gif" />
		</div>
		<div>
			<table class="non-printable">
				<tr>
					<td><span class="glyphicon glyphicon-search"></span></td>
					<td><span>&nbsp;</span></td>
					<td>
					<input type="text" data-ng-model="vm.searchProductTerm" style="width:188px;border-top-right-radius:0px;border-bottom-right-radius:0px;" placeholder="Suchen (mind. 3 Zeichen)" class="form-control" autofocus data-ng-enter="vm.searchProducts()" /></td>
					<td>
						<button class="btn btn-default" type="button" style="border-left:none;border-top-left-radius:0px;border-bottom-left-radius:0px;" data-ng-click="vm.searchProducts()" data-ng-disabled="vm.loadingSearchResults == true" data-toggle="dropdown">Suchen</span>
						</button>
					</td>
					<td><span>&nbsp;</span></td>
					<td><span>&nbsp;</span></td>
					<td><span class="glyphicon glyphicon-search"></span></td>
					<td><span>&nbsp;</span></td>
					<td>
						<input type="text" data-ng-model="vm.searchProductOverDocumentsTerm" style="width:180px;border-top-right-radius:0px;border-bottom-right-radius:0px;" placeholder="Dokumente suchen" class="form-control" data-ng-enter="vm.searchProductOverDocumentFiles()" />
					</td>
					<td>
						<button class="btn btn-default" type="button" style="border-left:none;border-top-left-radius:0px;border-bottom-left-radius:0px;" data-ng-click="vm.searchProductOverDocumentFiles()" data-ng-disabled="vm.loadingSearchResults == true" data-toggle="dropdown">Suchen</span>
						</button>
					</td>
					<td><span>&nbsp;</span></td>
					<td><span>&nbsp;</span></td>
					<td><span class="glyphicon glyphicon-search"></span></td>
					<td><span>&nbsp;</span></td>
					<td data-ng-hide="vm.userAuthorizationUserContainer.userAuthorizations[24].state == false">
						<button type="submit" class="btn btn-default pull-right" style="color:#999;" data-ng-click="vm.searchReceipesTrigger = !vm.searchReceipesTrigger">
		                    Rezepte suchen
		                </button>
					</td>
					<td><span>&nbsp;</span></td>
					<td><span>&nbsp;</span></td>
					<td><span class="glyphicon glyphicon-remove-circle icon-hover" data-ng-class="(vm.clickedProduct != null || vm.reloadProducts == true || vm.searchProductTerm != null || vm.searchProductOverDocumentsTerm != null || vm.searchReceipesTrigger == true) ? 'errorMessage' : ''" data-ng-click="vm.removeSearchResults()" title="Bitte die Produkte f&uuml;r das Paging bei Gelegenheit neu laden, wenn welche hinzugef&uuml;gt oder entfernt wurden"></span></td>
					<td><span>&nbsp;</span></td>
					<td><span class="fa fa-file-pdf-o icon-hover" style="margin-right:10px;margin-top:5px;color:#777;" data-ng-click="vm.printContainer('productsId', 'Produkte')" title="Produkte herunterladen"></span></td>
					<td><span>&nbsp;</span></td>
					<td><span>&nbsp;</span></td>
					<td><span>&nbsp;</span></td>
					<td>Insgesamt sind <b>{{vm.amountOfProducts}} Produkt(e)</b> angelegt <span data-ng-show="vm.reloadProducts == false">/ <b>{{vm.products.length}}</b> <span data-ng-show="vm.products.length > 1">werden</span><span data-ng-show="vm.products.length == 1">wird</span> angezeigt</span></td>
					<td><span>&nbsp;</span></td>
				</tr>
			</table>
			<div class="searchReceipes" data-ng-show="vm.searchReceipesTrigger == true" style="max-width:70%;background-color:#f9f9f9;padding:18px;margin-top:20px;margin-bottom:20px;border:1px solid #eee;">
				<div style="margin-top:-10px;"><b>Suche von Produkten mit gleicher Rezeptur:</b></div>
				<br />
				<form name="searchReceipesForm" class="form-horizontal">
					<div class="form-group">
					    <label class="control-label col-sm-3" for="description">Mischungsverh&auml;ltnis:<span class="mandatory">*</span></label>
					    <div class="col-sm-8"> 
					      	<table class="table" style="border: 2px solid #eee;">
					      		<thead>
					      			<tr>	
					      				<th></th>
					      				<th>Komponente</th>
					      				<th style="text-align:center;">Dichte [g/ml]</th>
					      				<th>Anteil [%]</th>
					      				<th><span class="glyphicon glyphicon-plus icon-hover" data-ng-click="vm.addReceipeProduct()"></span></th>
					      			</tr>
					      		</thead>
					      		<tbody>
					      			<tr data-ng-repeat="receipeProduct in vm.receipeToSearch.receipeProducts track by $index">
					      				<td style="max-width:20px;">
					      					<span class="glyphicon glyphicon-filter icon-hover" style="margin-top:10px;color:{{receipeProduct.product.color}}"></span>
					      				</td>
					      				<td style="min-width:180px;">
			     							<input type="text" 
										       class="form-control" 
										       style="border:none;box-shadow: inset 0px 0px 0px 0px #fff;"
											   placeholder="Komponente suchen" 
											   data-ng-init="receipeProduct.selectedReceipeProduct = vm.getProductName(receipeProduct)"
											   data-ng-model="receipeProduct.selectedReceipeProduct"
											   typeahead="product as product.name for product in vm.getProductsByTerm($viewValue)"
											   typeahead-min-length="2"
											   typeahead-wait-ms="100"
											   typeahead-editable="false" 
											   typeahead-on-select="vm.productSelected(receipeProduct.selectedReceipeProduct, $index)"
											   data-ng-change="vm.checkIfPercentageResultIs100(vm.receipeToSearch.receipeProducts)"
											   autofocus 
											   title="{{receipeProduct.product.number + ' ' + receipeProduct.product.name}}"/>
					      				</td>
						      			<td>
						      				<div style="margin-top:6px;margin-left:20px;text-align:right;">
						      					{{receipeProduct.product.density | number:3}}
						      				</div>
						      			</td>
						      			<td>
						      				<input type="number" class="form-control" pattern="[0-9]+([\.,][0-9]+)?" step="0.05" style="width:80px;border:none;box-shadow:none;" data-ng-model="receipeProduct.percentage" data-ng-change="vm.checkIfPercentageResultIs100(vm.receipeToSearch.receipeProducts)" placeholder="%" />
						      			</td>
						      			<td><span class="glyphicon glyphicon-minus icon-hover" data-ng-click="vm.removeReceipeProduct($index)"></span></td>
					      			</tr>
					      			<tr style="border:2px solid #ccc;">
					      				<td style="max-width:20px;">&sum;</td>
					      				<td>
					      					<span style="margin-left:12px;">Gesamt</span>
					      				</td>
					      				<td></td>
					      				<td>
					      					<table>
					      						<tr>
					      							<td><span style="margin-left:5px;" data-ng-class="vm.percentageResultIs100 == true ? 'successMessage' : 'errorMessage'" >100%</span></td>
					      							<td><span>&nbsp;</span></td>
					      							<td><span data-ng-hide="vm.receipeToSearch.receipeProducts.percentageResult == null"> {{vm.receipeToSearch.receipeProducts.percentageResult | number:2}}</span></td>
					      						</tr>
					      					</table>
					      				</td>
					      				<td></td>
					      			</tr>
						      	</tbody>
					      	</table>
					      </div>
				      	  <div class="col-sm-1"> 
				      	  </div>
					</div>
					<button type="submit" class="btn btn-default pull-right" style="margin-right:70px;margin-top:-20px;" data-ng-disabled="vm.receipeSearchDisabled()" data-ng-click="vm.searchProductsWithSameReceipe()">
	                    Suchen
	                </button>
	                <br />
	                <br />
				</form>
				<div class="errorMessage" style="float:right;margin-right:70px;" data-ng-show="vm.products.length == 0 && vm.searchReceipesTrigger == true">Keine Produkte mit diesem Rezept gefunden</div>
				<br />
			</div>
			<div infinite-scroll="vm.loadingPagedProducts()" infinite-scroll-disabled='vm.loadingProducts' infinite-scroll-immediate-check="false" infinite-scroll-use-document-bottom="false" infinite-scroll-distance="0" id="productsId">
				<table class="table table-striped" data-ng-show="vm.products.length > 0">
					<thead>
						<tr>
							<th>#</th>
							<th></th>
							<th>
								<table>
									<tr>
										<td>Artikelnummer</td>
										<td><span>&nbsp;</span></td>
										<td><span class="glyphicon glyphicon-chevron-up icon-hover" data-ng-click="vm.orderType = '-number'"></span></td>
										<td><span class="glyphicon glyphicon-chevron-down icon-hover" data-ng-click="vm.orderType = 'number'"></span></td>		
									</tr>
								</table>
							</th>
							<th>
								<table>
									<tr>
										<td>Artikelbezeichnung</td>
										<td><span>&nbsp;</span></td>
										<td><span class="glyphicon glyphicon-chevron-up icon-hover" data-ng-click="vm.orderType = '-name'"></span></td>
										<td><span class="glyphicon glyphicon-chevron-down icon-hover" data-ng-click="vm.orderType = 'name'"></span></td>		
									</tr>
								</table>
							</th>
							<th></th>
							<th>
								Art
							</th>
							<th>
								Angelegt am
							</th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th><span data-ng-show="vm.searchProductOverDocumentsTerm != null && vm.searchProductOverDocumentsTerm.length > 2">hochladen</span></th>
						</tr>   
					</thead>
					<tbody>
						<tr data-ng-repeat-start="product in vm.products track by $index" data-context-menu="contextMenu.html" data-ng-class="(product.openAdditionalInfo == true || product.openFoundedFiles == true) ? 'productExpanded' : (product.stillCreated == true ? 'stillCreated' : (product.selected == true ? 'stillWorkedWith' : (product.inactive == true ? 'backgroundColor' : '')))">
							<td><span style="cursor: move;">{{$index+1}}.</span></td>
							<td>
								<span class="glyphicon glyphicon-ban-circle errorMessage icon-hover" data-ng-show="product.inactive == true" title="Produkt eingestellt am {{(product.inactiveDate | date:'dd.MM.yyyy') || '--'}}: {{product.inactiveMessage || '--'}}"></span>
							</td>
							<td><span class="icon-hover" data-ui-sref="auth.project({userId: '{{vm.currentUser.id}}', type: 'PRODUCT', projectUserConnectionId: 'empty', projectOrProductId: product.id, folderId: '' })">
									{{product.number || '--'}}
								</span>
							</td>
							<td title="Entwicklungsdatum: {{(product.developmentDate.split(' ')[0]) || '--'}}">
								<table>
									<tr>
										<td>
											<span class="glyphicon glyphicon-filter" data-ng-style="{'color': product.color}"></span>
										</td>
										<td>
											<span>&nbsp;</span>
										</td>
										<td>
											<span>&nbsp;</span>
										</td>
										<td>
											<span class="icon-hover" data-ui-sref="auth.project({userId: '{{vm.currentUser.id}}', type: 'PRODUCT', projectUserConnectionId: 'empty', projectOrProductId: product.id, folderId: ''})">
												<b>{{product.name || '--'}}</b>
											</span>
										</td>
									</tr>
								</table>
							</td>
							<td>
								<span class="badge receipeBackgroundColor" data-ng-show="product.amountOfReceipes > 0" title="Anzahl der Rezepte f&uuml;r das Produkt {{product.name}}">R {{product.amountOfReceipes}}</span>
								<span class="badge mixtureBackgroundColor" data-ng-show="product.amountOfMixtures > 0" title="Anzahl der Mischungen f&uuml;r das Produkt {{product.name}}">M {{product.amountOfMixtures}}</span>
								<span class="badge thinningBackgroundColor" data-ng-show="product.amountOfThinnings > 0" title="Anzahl der Verd&uuml;nnungen f&uuml;r das Produkt {{product.name}}">V {{product.amountOfThinnings}}</span>
							</td>
							<td>
								<span class="typeLabel" style="margin-left:3px;" data-ng-repeat="type in product.types track by $index" data-ng-switch="type">
									 <span data-ng-switch-when="LAB_CHEMICAL">
									 	<span class="fa fa-circle" aria-hidden="true" style="color:#46bfbd"></span> {{(type | translate) || '--'}}
									 </span>
									 <span data-ng-switch-when="RAW_MATERIAL">
									 	<span class="fa fa-circle" aria-hidden="true" style="color:#97bbcd"></span> {{(type | translate) || '--'}}
									 </span>
									 <span data-ng-switch-when="TRADING_GOODS">
									 	<span class="fa fa-circle" aria-hidden="true" style="color:#f7464a"></span> {{(type | translate) || '--'}}
									 </span>
									 <span data-ng-switch-when="BLEND">
									 	<span class="fa fa-circle" aria-hidden="true" style="color:#dcdcdc"></span> {{(type | translate) || '--'}}
									 </span>
								</span>
								<span data-ng-show="product.types.length == 0 || product.types == null">--</span>
							</td>
							<td>{{product.creationDate | date:'dd.MM.yyyy'}}</td>
							<td>
								<span class="glyphicon glyphicon-tint" data-ng-show="product.productAggregateConditionType == 'LIQUID'" title="Fl&uuml;ssigkeit"></span>
								<span class="glyphicon glyphicon-th-large" data-ng-show="product.productAggregateConditionType == 'HARD'" title="Feststoff"></span>
							</td>
							<td>
								<span data-ng-show="product.density == null && product.productAggregateConditionType != 'HARD'" class="glyphicon glyphicon-tag errorMessage" title="keine Dichte eingegeben"></span>
							</td>
							<td>
								<span class="glyphicon glyphicon-info-sign icon-hover" data-ng-init="product.openAdditionalInfo = false" data-ng-click="product.openAdditionalInfo = !product.openAdditionalInfo; product.openFoundedFiles = false;" title="Weitere Informationen &uuml;ber dieses Produkt anzeigen"></span>
							</td>
							<td>
								<span class="glyphicon glyphicon-edit icon-hover" data-ng-show="vm.userAuthorizationUserContainer.userAuthorizations[4].state == true" data-ng-click="vm.showChangeProductPropertiesModalService(product);$event.stopPropagation()" title="Produkt editieren"></span>
							</td>
							<td>
								<span data-ng-show="vm.userAuthorizationUserContainer.userAuthorizations[5].state == true">
									<span class="glyphicon glyphicon-minus icon-hover" title="Produkt l&ouml;schen" data-ng-click="vm.showYesNoDeleteProductModal(product);$event.stopPropagation()" title="Produkt l&ouml;schen"></span>
								</span>
							</td>
							<td>
								<table data-ng-show="vm.searchProductOverDocumentsTerm != null && vm.searchProductOverDocumentsTerm.length > 2">
									<tr>
										<td>
											<div  style="text-align:center;">
												<input type="checkbox" data-ng-model="product.uploadDocumentFile" />
											</div>
										</td>
										<td>
											<span>&nbsp;</span>
										</td>
										<td><span data-ng-show="product.uploadedDocumentFileSuccessful == true" class="glyphicon glyphicon-ok successMessage"></span></td>
										<td>
											<span>&nbsp;</span>
										</td>
										<td>
											<span>&nbsp;</span>
										</td>
										<td>
											<span class="fa fa-file icon-hover" data-ng-init="product.openFoundedFiles = false" data-ng-click="product.openFoundedFiles = !product.openFoundedFiles;product.openAdditionalInfo = false" aria-hidden="true" title="gefundene Dokumente anzeigen"></span>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr data-ng-show="product.openAdditionalInfo == true || product.openFoundedFiles == true" data-ng-repeat-end="" style="background-color:#fff;">
				    		<td colspan="14" data-ng-if="product.openAdditionalInfo == true">
				    			<div style="background-color:#eee;padding:2px;border-radius:4px;font-weight:bold;">
				    				<span class="glyphicon glyphicon-filter"></span> Produkteigenschaften:
				    			</div>
				    			<table class="table borderless">
				    				<tr>
				    					<td style="width:200px;">
				    						weitere Bezeichnungen:
				    					</td>
				    					<td>
				    						<span>&nbsp;</span>
				    					</td>
					    				<td>
					    					<div data-ng-repeat="name in product.names track by $index">
												{{name || '--'}}
											</div>
										</td>
									</tr>
									<tr>
				    					<td style="width:200px;">
				    						Beschreibung:
				    					</td>
				    					<td>
				    						<span>&nbsp;</span>
				    					</td>
					    				<td>
											{{product.description || '--'}}
										</td>
									</tr>
				    				<tr>
				    					<td style="width:200px;">
				    						Chemische Beschreibung:
				    					</td>
				    					<td>
				    						<span>&nbsp;</span>
				    					</td>
					    				<td>
											{{product.chemicalDescription || '--'}}
										</td>
									</tr>
									<tr data-ng-show="product.productAggregateConditionType != 'HARD'">
				    					<td>
				    						Dichte des Produktes [g/ml]:
				    					</td>
				    					<td>
				    						<span>&nbsp;</span>
				    					</td>
					    				<td>
											{{product.density || '--'}}
										</td>
									</tr>
									<tr>
				    					<td>
				    						Gebinde [l]:
				    					</td>
				    					<td>
				    						<span>&nbsp;</span>
				    					</td>
					    				<td>
					    					<table>
					    						<tr data-ng-repeat="productFillingWeight in product.productFillingWeights track by $index">
					    							<td>{{productFillingWeight.fillingWeight}}:</td>
					    							<td><span>&nbsp;</span></td>
					    							<td><span>&nbsp;</span></td>
					    							<td>{{productFillingWeight.information || '--'}}</td>
					    							<td><span>&nbsp;</span></td>
					    							<td>Kg</td>
					    						</tr>
					    					</table>
										</td>
									</tr>
								</table>
								<div style="background-color:#eee;padding:2px;border-radius:4px;font-weight:bold;">
									<span class="glyphicon glyphicon-home"></span> Hersteller / Lieferanten:
								</div>
								<table class="table borderless">
									<tr data-ng-repeat-start="contactProduct in product.contactsProduct track by $index">
										<td>
											{{$index+1}}. {{contactProduct.contact.institution}} - {{contactProduct.contact.address.street || '--'}}, {{contactProduct.contact.address.postalCode || '--'}} {{contactProduct.contact.address.region || '--'}}
											<img data-ng-src="assets/img/{{contactProduct.contact.address.country}}.png" style="margin-top:-2px;" />
										</td>
									</tr>
									<tr data-ng-repeat-end="">
										<td colspan="4">
											<div data-ng-repeat="productLocationAndOrderConstruction in contactProduct.productLocationAndOrderConstructions track by $index" data-ng-hide="vm.hideAddressWithProducts(productLocationAndOrderConstruction)">
												<div class="distanceLeft"> 
													<div>
														<span class="glyphicon glyphicon-home"></span> Standort {{$index+1}}:
													</div>
													<table class="distanceLeft">
														<tr>
															<td>Standortname</td>
															<td><span>&nbsp;</span></td>
															<td>{{productLocationAndOrderConstruction.address.additionalInformation || '--'}}</td>
														</tr>
														<tr>
															<td>Stra&szlig;e</td>
															<td><span>&nbsp;</span></td>
															<td>{{productLocationAndOrderConstruction.address.street || '--'}}</td>
														</tr>
														<tr>
															<td>Ort</td>
															<td><span>&nbsp;</span></td>
															<td>{{productLocationAndOrderConstruction.address.postalCode}} {{productLocationAndOrderConstruction.address.region || '--'}}</td>
														</tr>
														<tr>
															<td>Bundesland</td>
															<td><span>&nbsp;</span></td>
															<td>{{(productLocationAndOrderConstruction.address.provinceType | translate) || '--'}}</td>
														</tr>
														<tr>
															<td>Land</td>
															<td><span>&nbsp;</span></td>
															<td><img data-ng-src="assets/img/{{productLocationAndOrderConstruction.address.country}}.png" style="margin-top:-2px;" /> {{(productLocationAndOrderConstruction.address.country | translate) || '--'}}</td>
														</tr>
													</table>
													<div class="distanceLeft">
														<div style="background-color:#eee;max-width:210px;">
															<span class="glyphicon glyphicon-pencil"></span> Bestellinformation Standort {{$index+1}}:<br />
														</div>
														<div class="distanceLeft">{{productLocationAndOrderConstruction.orderConstruction || '--'}}</div>
													</div>
												</div>
												<br />
											</div>
										</td>
									</tr>
								</table>
				    		</td>
				    		<td colspan="13" data-ng-if="product.openFoundedFiles == true">
				    			<table class="table documentsTable">
									<thead>
										<tr>
											<th colspan="2">
												Name
											</th>
											<th>
												Ersteller
											</th>
											<th>
												Typ
											</th>
											<th>
												Hochg.
											</th>
											<th style="min-width: 220px !important;">Tags</th>
											<th>Versionen</th>
											<th></th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr data-ng-repeat="documentFile in product.documentFiles track by $index" data-ng-mouseenter="showMenu=true" data-ng-mouseleave="showMenu=false">
											<td colspan="2" title="{{documentFileVersion.size/1000}}KB">{{documentFile.fileName}}</td>
											<td>{{documentFileVersion.responsibleUserOrContact}}</td>
											<td><img data-ng-src="assets/img/{{documentFile.ending}}.PNG" alt="" document-file-icon-dispatch title="Dateiendung {{documentFile.ending}}" /></td>
											<td><span>{{documentFile.documentFileVersions[documentFile.documentFileVersions.length-1].uploadTime}}</span></td>
											<td>
												<span class="glyphicon glyphicon-alert errorMessage" data-ng-show="documentFileVersion.labels == null || documentFileVersion.labels.length == 0" title="Keine Tags vergeben"></span>
												<span data-ng-repeat="label in documentFileVersion.labels track by $index">
													<span data-ng-class="label.labelsPredefinedType == 'DESCRIPTIVE' ? 'documentLabelDescriptive' : (label.labelsPredefinedType == 'CONTENT' ? 'documentLabelContent' : 'documentLabelProductDescriptive')">
														{{label.name}}
														<span class="glyphicon glyphicon-remove icon-hover removeLabel" data-ng-show="(vm.type == 'PROJECT' && vm.userAuthorizationUserContainer.userAuthorizations[1].state == true) || (vm.type == 'PRODUCT' && vm.userAuthorizationUserContainer.userAuthorizations[4].state == true)" data-ng-click="vm.removeLabel(documentFile, documentFileVersion, label)"></span>
													</span>
												</span>
											</td>
											<td>
												<table class="versionTable" data-ng-show="documentFile.documentFileVersions.length > 1">
													<tr>
														<td><span>({{documentFile.documentFileVersions.length}})</span></td>
														<td><span>&nbsp;</span></td>
														<td>
															<select class="form-control versions" data-ng-init="documentFileVersion = documentFile.documentFileVersions[documentFile.documentFileVersions.length-1];" data-ng-model="documentFileVersion" data-ng-options="c as c.version.substr(1, c.version.length) + ' - ' + c.uploadTime disable when c.active == false for c in documentFile.documentFileVersions">
															</select>
														</td>
													</tr>
												</table>
												<span data-ng-show="documentFile.documentFileVersions.length == 1">({{documentFile.documentFileVersions.length}}) {{documentFile.documentFileVersions[0].version.substr(1)}}</span>
											</td>
											<td>
												<span class="glyphicon glyphicon-comment icon-hover" style="margin-top:7px;" data-ng-show="documentFile.information != null && documentFile.information.length > 0" data-ng-click="vm.showDocumentInformationModal(documentFile, vm.userAuthorizationUserContainer)" title="Ein Kommentar zu diesem Dokument ist vorhanden"></span>
											</td>
											<td style="min-width: 100px;">
												<div class="dropdown dropdown-scroll">
												    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" style="height: 26px;" data-ng-show="showMenu == true">
													    <span data-ng-show="vm.institutionOfUserFilter == null">
													    	ausw&auml;hlen
													    </span>
												    	<span class="caret"></span>
												    </button>
												    <ul class="dropdown-menu">
												    	<li role="presentation">
												        	<table style="margin-left:10px;">
												        		<tr>
												        			<td><a style="color: #333;" class="glyphicon glyphicon-font icon-hover" data-ng-click="vm.showDocumentInformationModal(documentFile, vm.userAuthorizationUserContainer)" title="Dokumenteninformation anzeigen"></a></td>
												        			<td><span>&nbsp;</span></td>
												        			<td><a style="color: #333;text-decoration:none;" class="icon-hover" data-ng-click="vm.showDocumentInformationModal(documentFile, vm.userAuthorizationUserContainer)">Kommentar</a></td>
												        		</tr>
												        	</table>
												        </li>
												        <li role="presentation">
												        	<table style="margin-left:10px;">
												        		<tr>
												        			<td><a href="{{vm.createDocumentUrl(vm.currentUser, documentFile.projectId, documentFile, documentFileVersion)}}" class="glyphicon glyphicon-download-alt icon-hover" style="text-decoration:none;color:#000;" title="Dokument herunterladen"></a></td>
												        			<td><span>&nbsp;</span></td>
												        			<td><a href="{{vm.createDocumentUrl(vm.currentUser, documentFile.projectId, documentFile, documentFileVersion)}}" style="text-decoration:none;color:#000;" title="Dokument herunterladen">herunterladen</a></td>
												        		</tr>
												        	</table>
												        </li>
												        <li role="presentation">
												        	<table style="margin-left:10px;" data-ng-init="documentUrl = vm.createDocumentUrl(vm.currentUser, documentFile.projectId, documentFile, documentFileVersion)" data-ng-click="documentUrl = vm.createDocumentUrl(vm.currentUser, documentFile.projectId, documentFile, documentFileVersion); vm.showTemplateModal(documentUrl, documentFile, documentFileVersion)">
												        		<tr>
												        			<td>
												        				<span class="glyphicon glyphicon-blackboard icon-hover" title="Vorschau anzeigen"></span>
												        			</td>
												        			<td><span>&nbsp;</span></td>
												        			<td><span class="icon-hover">Vorschau anzeigen</span></td>
												        		</tr>
												        	</table>
												        </li>
												    </ul>
												</div>
											</td>
										</tr>
									</tbody>
				    			</table>
				    		</td>
				    	</tr>
				   <script type="text/ng-template" id="contextMenu.html">
					<div style="width:400px;padding:8px;background-color:#fff;border:1px solid #ccc;border-radius:2px;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);" data-ng-hide="vm.userAuthorizationUserContainer.userAuthorizations[3].state == false || (vm.userAuthorizationUserContainer.userAuthorizations[24].state == false && vm.userAuthorizationUserContainer.userAuthorizations[27].state == false && vm.userAuthorizationUserContainer.userAuthorizations[30].state == false)">
						Optionen f&uuml;r das Produkt <span class="glyphicon glyphicon-filter" style="color:{{product.color}}"></span> <b>{{product.name}}</b> ({{product.number}}):
						<br />
						<div style="padding:5px;" class="receipeBackgroundColor" data-ng-hide="vm.userAuthorizationUserContainer.userAuthorizations[24].state == false">
							<table style="margin-left:20px;margin-top:5px;" class="icon-hover">
								<tr data-ng-click="vm.createReceipe(product, 'STANDARD_MIXTURE')" data-ng-hide="vm.userAuthorizationUserContainer.userAuthorizations[24].state == false">
									<td><span class="glyphicon glyphicon-copy"></span></td>
									<td><span>&nbsp;</span></td>
									<td>Rezept erstellen</td>
								</tr>
								<tr data-ng-click="vm.editAndDeleteReceipe(product, 'STANDARD_MIXTURE')" data-ng-hide="vm.userAuthorizationUserContainer.userAuthorizations[25].state == false && vm.userAuthorizationUserContainer.userAuthorizations[26].state == false">
									<td><span class="glyphicon glyphicon-edit"></span></td>
									<td><span>&nbsp;</span></td>
									<td>Rezepte &auml;ndern / l&ouml;schen</td>
								</tr>	
								<tr data-ng-click="vm.historyOfReceipe(product, 'STANDARD_MIXTURE')">
									<td><span class="glyphicon glyphicon-road"></span></td>
									<td><span>&nbsp;</span></td>
									<td>Rezept Historie (drucken)</td>
								</tr>
							</table>
						</div>
						<div style="padding:5px;" class="mixtureBackgroundColor" data-ng-hide="vm.userAuthorizationUserContainer.userAuthorizations[27].state == false">
							<table style="margin-left:20px;" class="icon-hover">
								<tr data-ng-click="vm.editReceipeToMixture(product, 'STANDARD_MIXTURE', $event)" data-ng-hide="vm.userAuthorizationUserContainer.userAuthorizations[27].state == false">
									<td><span class="glyphicon glyphicon-copy"></span></td>
									<td><span>&nbsp;</span></td>
									<td>Mischung durchf&uuml;hren</td>
									<td><span class="errorMessage" data-ng-show="vm.noLastReceipeExists">Rezept erstellen!</span></td>
								</tr>
								<tr data-ng-click="vm.editAndDeleteMixture(product, 'CHANGED_MIXTURE', $event)" data-ng-hide="vm.userAuthorizationUserContainer.userAuthorizations[28].state == false && vm.userAuthorizationUserContainer.userAuthorizations[29].state == false">
									<td><span class="glyphicon glyphicon-edit"></span></td>
									<td><span>&nbsp;</span></td>
									<td>Mischungen &auml;ndern / l&ouml;schen</td>
								</tr>
								<tr data-ng-click="vm.historyOfReceipe(product, 'CHANGED_MIXTURE')">
									<td><span class="glyphicon glyphicon-road"></span></td>
									<td><span>&nbsp;</span></td>
									<td>Mischung Historie (drucken)</td>
								</tr>
							</table>
						</div>
						<div style="padding:5px;" class="thinningBackgroundColor" data-ng-hide="vm.userAuthorizationUserContainer.userAuthorizations[30].state == false">
							<table style="margin-left:20px;" class="icon-hover">
								<tr data-ng-click="vm.createThinning(product, $event)" data-ng-hide="vm.userAuthorizationUserContainer.userAuthorizations[30].state == false">
									<td><span class="glyphicon glyphicon-copy"></span></td>
									<td><span>&nbsp;</span></td>
									<td>Verd&uuml;nnung erstellen</td>
								</tr>
								<tr data-ng-click="vm.editAndDeleteThinning(product)" data-ng-hide="vm.userAuthorizationUserContainer.userAuthorizations[31].state == false && vm.userAuthorizationUserContainer.userAuthorizations[32].state == false">
									<td><span class="glyphicon glyphicon-edit"></span></td>
									<td><span>&nbsp;</span></td>
									<td>Verd&uuml;nnung &auml;ndern / l&ouml;schen</td>
								</tr>
								<tr data-ng-click="vm.historyOfThinning(product, 'CHANGED_MIXTURE')">
									<td><span class="glyphicon glyphicon-road"></span></td>
									<td><span>&nbsp;</span></td>
									<td>Verd&uuml;nnung Historie (drucken)</td>
								</tr>
							</table>
						</div>
						</div>
						</script>
					</tbody>
				</table>
			</div>
		</div>
		<br />
		<br />
		<br />
		<div style="position:fixed;top:86%;left:92%;background-color:#eee;padding:20px;border-radius:20px;" class="icon-hover" data-ng-show="vm.products.length > 20" title="Nach oben">
			<table>
				<tr>
					<td><div class="glyphicon glyphicon-menu-up icon-hover" style="font-size:2em;" data-ng-click="vm.gotoTop()"></div></td>
				</tr>
			</table>
		</div>
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
    </div>
    <div class="col-md-2 column non-printable">
    	<div data-ng-show="vm.searchProductOverDocumentsTerm != null && vm.searchProductOverDocumentsTerm.length > 2 && vm.products.length > 0">
	    	<upload-document-file-directive 
				files="vm.files"
				upload-files="vm.uploadFiles"
				successful-uploaded-files="vm.successfulUploadedFiles"
				failed-uploaded-files="vm.failedUploadedFiles">
			</upload-document-file-directive>
		</div>
    </div>
</div>