<div class="contactsYesNoModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeContactsYesNoModal()"></span>
        <h4 class="modal-title">
        	<span class="glyphicon glyphicon-minus"></span> Alle Kunden- Kontakte in {{vm.selectedCountry | translate}} l&ouml;schen?
        </h4>
    </div>
    <div class="modal-body">
       	Wollen Sie <b>alle Kunden- Kontakte</b> in 
       	<img data-ng-src="assets/img/{{vm.selectedCountry}}.png" data-ng-show="vm.selectedCountry != null" style="margin-top:-2px;" />
       	<b>{{vm.selectedCountry | translate}}</b> wirklich l&ouml;schen?
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" data-ng-click="vm.contactsDeleteAll()">Ja</button>
        <button class="btn btn-default" type="button" data-ng-click="vm.closeContactsYesNoModal()">Nein</button>
    </div>
</div>