<div class="reporting">	
	<div class="row clearfix">
		<div class="breadcrumb non-printable">
			<span class="explanation"><span class="glyphicon glyphicon-dashboard"></span> Auswertungen</span>
			<span class="logo">wdm</span>
		</div>
		<div class="col-md-1 column">
		</div>
	    <div class="col-md-10 column">
	    	<div class="controlContainer">
		    	<table class="non-printable" style="margin-top:-8px;">
					<tr>
						<td><span class="controlLabel">Von:</span></td>
						<td>
				     		<p class="input-group" style="margin-top:10px;max-width:120px;">
			                       <input type="text"
			                              class="form-control"
			                              name="from"                                
			                              data-ng-model="vm.from"
			                              datepicker-popup="dd.MM.yyyy"
			                              is-open="vm.fromTrigger"
			                              close-text="schlie&szlig;en"
			                              current-text="heute"
			                              clear-text="l&ouml;schen"
			                              datepicker-options="{startingDay: 1}"
			                              disabled>
			                   	<span class="input-group-btn">
		                        		<button type="button" class="btn btn-default btn-xs"                         		   
		                                data-ng-click="vm.openFrom($event)">
		                                <span class="glyphicon glyphicon-calendar"></span>
		                             	</button>
			                   	</span>
			                     </p>
			     		</td>
			     		<td><span>&nbsp;</span></td>
						<td><span>&nbsp;</span></td>
						<td><span class="controlLabel">Bis:</span></td>
						<td>
				     		<p class="input-group" style="margin-top:10px;max-width:120px;">
			                         <input type="text"
			                                class="form-control"
			                                name="until"                                
			                                data-ng-model="vm.until"
			                                datepicker-popup="dd.MM.yyyy"
			                                is-open="vm.untilTrigger"
			                                close-text="schlie&szlig;en"
			                                current-text="heute"
			                                clear-text="l&ouml;schen"
			                                datepicker-options="{startingDay: 1}"
			                                disabled>
			                     		<span class="input-group-btn">
			                          		<button type="button" class="btn btn-default btn-xs"                         		   
			                                 data-ng-click="vm.openUntil($event)">
			                                  <span class="glyphicon glyphicon-calendar"></span>
			                               </button>
			                     </span>
			                     </p>
			     		</td>
						<td><span>&nbsp;</span></td>
						<td>
							<input type="text" 
							   	class="form-control" 
								placeholder="User suchen"
								data-ng-model="vm.selectedUser"
								typeahead="user as (user.contactUserType | translate) + ': ' + (user.institution != null ? user.institution : '') + ' ' + (user.firstname != null ? user.firstname : '') + ' ' + (user.surname != null ? user.surname : '') + ' ' + (user.email != null ? user.email : '') for user in vm.findUsersOrContactsBySearchString($viewValue)"
								typeahead-min-length="3"
								typeahead-wait-ms="100"
								typeahead-editable="false"
								required="required" />
						</td>
						<td><span>&nbsp;</span></td>
						<td><span>&nbsp;</span></td>
						<td>
							<button type="button" class="btn btn-default" aria-label="Left Align" data-ng-click="vm.search()">
							  Anzeigen
							</button>
						</td>
						<td><span>&nbsp;</span></td>
						<td><span>&nbsp;</span></td>
						<td><span>&nbsp;</span></td>
						<td>
							<button class="btn btn-default non-printable" type="button" onClick="javascript:window.print()">
								<span class="glyphicon glyphicon-print"></span>
							</button>
						</td>
			    	</tr>
				</table>
			</div>
			<div class="loadingContainer" data-ng-show="vm.loadingTrigger == true">
			  	<img src="assets/img/loading.gif" />
			  	<span class="loadingText">Termine, T&auml;tigkeitsberichte und Anlagendetails werden geladen, bitte etwas Geduld ...</span>
			</div>
			<div data-ng-show="vm.reportingContainers.length > 0"><br /><b>{{vm.reportingContainers.length}}</b> Termine gefunden</div>
			<div style="margin-bottom:10px;border:1px solid #ccc;border-radius:8px;max-width:1000px;" data-ng-repeat="reportingContainer in vm.reportingContainers track by $index">
				<div style="background:#eee;font-size:1.5em;font-weight:bold;">
					{{collapse}}
					<span style="margin-left:5px;">Termin {{$index+1}}</span>
					<div class="glyphicon glyphicon-arrow-up icon-hover" style="float:right;font-size:0.8em;" data-ng-if="reportingContainer.collapse == false" data-ng-click="reportingContainer.collapse = !reportingContainer.collapse"></div>
					<div class="glyphicon glyphicon-arrow-down icon-hover" style="float:right;font-size:0.8em;" data-ng-if="reportingContainer.collapse == true" data-ng-click="reportingContainer.collapse = !reportingContainer.collapse"></div>
				</div>
				<div data-ng-show="reportingContainer.collapse == false">
					<div>
						<calendar-event-in-list-directive 
							calendar-events="[reportingContainer.calendarEvent]">
						</calendar-event-in-list-directive>
					</div>
					<br />
					<div style="margin-left:5px;" data-ng-if="reportingContainer.activities.length == 0">
						kein T&auml;tigkeitsbericht vorhanden
					</div>
					<div data-ng-repeat="activity in reportingContainer.activities track by $index">
						<table class="table table-striped">
							<tr>
								<td>{{$index+1}}.</td>
								<td>
									<contact-activity-directive
										invoker="vm"
										calendar-event="reportingContainer.calendarEvent"
										activity="activity"
										activity-types="vm.activityTypes"
										user="reportingContainer.user"
										contact="reportingContainer.contact"
										user-authorization-user-container="vm.userAuthorizationUserContainer"
										type="'ONLY_SHOW'">
									</contact-activity-directive>
								</td>
							</tr>
						</table>
					</div>
					<br />
					<div style="margin-left:5px;" data-ng-if="reportingContainer.facilityDetails.length == 0">
						keine Anlagendetails vorhanden
					</div>
					<div data-ng-repeat="facilityDetail in reportingContainer.facilityDetails track by $index">
						<table class="table table-striped">
							<tr>
								<td>{{$index+1}}.</td>
								<td>
									<contact-facility-details-directive
						    			invoker="vm"
						    			calendar-event="reportingContainer.calendarEvent"
										facility-detail="facilityDetail"
										activity-types="vm.activityTypes"
										facility-details-types="vm.facilityDetailsTypes"
										user="reportingContainer.user"
										contact="reportingContainer.contact"
										user-authorization-user-container="vm.userAuthorizationUserContainer"
										type="'ONLY_SHOW'">
						    		</contact-facility-details-directive>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<br /><br /><br /><br />
	    </div>
	</div>
</div>

