<div class="imgTemplateModal modal-movable">
	<span class="glyphicon glyphicon-move icon-hover" style="margin-left:0px;margin-top:0px !important;position: absolute;"></span>
	<div class="imgPreviewWrapper">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeImgTemplateModal()"></span>
		<span style="margin-left:20px;">Name: <b>{{vm.documentName}}</b> - Version: <b>{{vm.version.substr(1)}}</b></span>
		<img data-ng-src="{{vm.url}}" alt="image" style="display: block;max-width: 100%;max-height: 100%;" />
	</div>
</div>