<div class="createFolderModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeCreateFolderModal()"></span>
        <h4 class="modal-title" data-ng-show="vm.type == 'CREATE'"><span class="fa fa-clipboard "></span> Ordner erstellen</h4>
        <h4 class="modal-title" data-ng-show="vm.type == 'UPDATE'"><span class="fa fa-clipboard"></span> Ordner &auml;ndern</h4>
    </div>
    <div class="modal-body">
       <form name="createFolderForm" class="form-horizontal">
			<div class="form-group">
			    <label class="control-label col-sm-3" for="name">Name:<span class="mandatory">*</span></label>
			    <div class="col-sm-6">
			      <input type="text" class="form-control" name="name" data-ng-model="vm.folder.name" placeholder="Ordnername" data-ng-minlength="3" data-ng-maxlength="30" required>
			    </div>
			    <br />
			    <br />
			    <div class="errorMessage col-sm-offset-2" data-ng-show="createFolderForm.name.$error.minlength && !createFolderForm.name.$pristine">Ordnername muss mindestens 3 Zeichen lang und eindeutig sein</div>
			    <div class="errorMessage col-sm-offset-2" data-ng-show="createFolderForm.name.$error.maxlength && !createFolderForm.name.$pristine">Ordnername darf maximal 30 Zeichen lang und eindeutig sein</div>
			</div>
			<div class="form-group">
			    <label class="control-label col-sm-3" for="description">Beschreibung:</label>
			    <div class="col-sm-6"> 
			      <input type="text" class="form-control" name="description"  data-ng-model="vm.folder.description" placeholder="Beschreibung">
			    </div>
			</div>
			<div class="form-group"> 
				<div class="col-sm-1">
				</div>
				<div class="col-sm-5">
					<span class="errorMessage" data-ng-show="vm.folderWithNameStillExistsError == true">Ordner bereits vorhanden</span>
				</div>
			    <div class="col-sm-6">
			      <button type="submit" class="btn btn-default createFolderButton" data-ng-disabled="createFolderForm.$invalid" data-ng-click="vm.createOrUpdateFolder()">
			      	<span data-ng-show="vm.type == 'CREATE'">Ordner anlegen</span>
			      	<span data-ng-show="vm.type == 'UPDATE'">Ordner &auml;ndern</span>
			      	<span class="glyphicon glyphicon-ok successMessage" data-ng-show="createFolderClicked == true"></span>
			      </button>
			    </div>
			</div>
		</form>
    </div>
</div>

