<div class="communicationMessageModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeCommunicationMessageModal()"></span>
        <table>
        	<tr>
        		<td><h4 class="modal-title">Nachricht</h4></td> 
        		<td><span>&nbsp;</span></td>
        		<td><span data-ng-show="vm.type == 'SENT'">geschrieben</span><span data-ng-show="vm.type == 'RECEIVED'">empfangen</span> von {{vm.communicationUserConnectionSent.userCreatedMessage.title}} {{vm.communicationUserConnectionSent.userCreatedMessage.firstname}} {{vm.communicationUserConnectionSent.userCreatedMessage.surname}} am {{vm.communicationUserConnectionSent.communication.receiveDate}}</td>
        	</tr>
        </table>
    </div>
    <div class="modal-body">
       
       <div data-ng-bind-html="vm.communicationUserConnectionSent.communication.title | smilies"></div>
       <div data-ng-bind-html="vm.communicationUserConnectionSent.communication.message | smilies"></div>
       <br />
       
       <div class="attachmentFiles" data-ng-show="vm.communicationUserConnectionSent.communication.attachedFileUrls.length > 0">
			<b>Anh&auml;nge:</b>
			<div data-ng-repeat="attachedFileUrl in vm.communicationUserConnectionSent.communication.attachedFileUrls">
				<a href="{{attachedFileUrl.url}}">{{attachedFileUrl.fileName}}</a>
			</div>
		</div>
       
       <div class="additionalInformation">
       	   <hr />
	       <div data-ng-show="vm.communicationUserConnectionSent.confirmationNeeded == true">
	       		<input type="checkbox" data-ng-show="vm.type == 'RECEIVED'" data-ng-disabled="vm.communicationUserConnectionSent.read == true" data-ng-model="vm.communicationUserConnectionSent.read" data-ng-click="vm.updateCommunicationUserConnection(vm.communicationUserConnectionSent, 'READ')" /> 
	       			Lesebest&auml;tigung wurde angefordert 
	       			<span data-ng-show="vm.communicationUserConnectionSent.read == true"> und best&auml;tigt</span>
	       			<span data-ng-show="vm.communicationUserConnectionSent.read == false"> und noch <b>nicht</b> best&auml;tigt</span>
	       		<span data-ng-show="vm.readUpdateSuccessful == true" class="glyphicon glyphicon-ok successMessage"></span>
	       </div>
	       <br />
		   <div data-ng-show="vm.communicationUserConnectionSent.executionDate != null">Erledigung bis: <b>{{vm.communicationUserConnectionSent.executionDate}}</b></div>
		   <table data-ng-show="vm.communicationUserConnectionSent.executionDate != null">
		   		<tr>
		   			<td><input type="checkbox" data-ng-show="vm.type == 'RECEIVED'" data-ng-model="vm.communicationUserConnectionSent.executed" data-ng-click="vm.updateCommunicationUserConnection(vm.communicationUserConnectionSent, 'EXECUTED')" /></td>
		   			<td><span>&nbsp;</span></td>
		   			<td>
		   				<div data-ng-show="vm.communicationUserConnectionSent.executed == true">
				       		wurde bereits erledigt
				       	</div>
				        <div data-ng-show="(vm.communicationUserConnectionSent.executed == null || vm.communicationUserConnectionSent.executed == false)">
				       		wurde noch <b>nicht</b> erledigt
				        </div>
		   			</td>
		   			<td><span>&nbsp;</span></td>
		   			<td>
		   				<span data-ng-show="vm.executedUpdateSuccessful == true" class="glyphicon glyphicon-ok successMessage"></span>
		   			</td>
		   		</tr>
			</table>
	 	</div>
    </div>
</div>