<div data-ng-show="calendarEvents.length > 0">
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Titel und Ort</th>
				<th>Start</th>
				<th>End</th>
				<th>Typ</th>
				<th>Anmerkung</th>
				<th>Best.</th>
				<th>Interessent</th>
			</tr>
		</thead>
		<tr data-ng-repeat="calendarEvent in calendarEvents track by $index" data-ng-class="calendarEvent.archived ? 'archived' : ''">
			<td>{{$index+1}}.</td>
			<td>
				<span data-ng-bind-html="calendarEvent.title"></span> <span data-ng-show="calendarEvent.projectName != null">(Projekt: {{calendarEvent.projectName}})</span>
				<div data-ng-repeat="calendarEventUserConnection in calendarEvent.calendarEventUserConnections track by $index" style="margin-left:20px;font-size:0.85em;">
					<span data-ng-if="calendarEventUserConnection.user != null"><span class="glyphicon glyphicon-user" style="color:{{calendarEventUserConnection.user.color}}"></span> {{calendarEventUserConnection.user.firstname}} {{calendarEventUserConnection.user.surname}}</span>
					<span data-ng-if="calendarEventUserConnection.contact != null"><span class="glyphicon glyphicon-home" style="color:{{calendarEventUserConnection.contact.color}}"></span> {{calendarEventUserConnection.contact.institution}}</span>
				</div>
			</td>
			<td>
				{{calendarEvent.startsAt | date:'dd.MM.yyyy HH:mm'}}
			</td>
			<td>
				{{calendarEvent.endsAt | date:'dd.MM.yyyy HH:mm'}}
			</td>
			<td>
				<span title="{{calendarEvent.archivedHistoryType | translate}}" data-ng-switch="calendarEvent.calendarEventType">
					<span data-ng-switch-when="OUTSIDE_WORK"><span class="glyphicon glyphicon-briefcase"></span> {{calendarEvent.calendarEventType | translate}}</span>
					<span data-ng-switch-when="MEETING"><span class="fa fa-users"></span> {{calendarEvent.calendarEventType | translate}}</span>
					<span data-ng-switch-when="PRIVATE_DATE"><span class="glyphicon glyphicon-tree-deciduous"></span> {{calendarEvent.calendarEventType | translate}}</span>
				</span>
			</td>
			<td>
				{{calendarEvent.information}}
			</td>
			<td>
				<span data-ng-show="calendarEvent.calendarEventType == 'OUTSIDE_WORK'">
					<span class="glyphicon glyphicon-remove errorMessage" data-ng-show="calendarEvent.confirmed == null || calendarEvent.confirmed == false"></span>
					<span class="glyphicon glyphicon-ok successMessage" data-ng-show="calendarEvent.confirmed == true"></span>
				</span>
			</td>
			<td>
				<span class="glyphicon glyphicon-ok" data-ng-if="calendarEvent.createContact == true"></span>
			</td>
		</tr>
	</table>
</div>