<div class="editThinningModal modal-movable non-printable">
	<span class="glyphicon glyphicon-move icon-hover" style="margin-left:0px;margin-top:0px !important;position: absolute;"></span>
	<div class="modal-header thinningBackgroundColor">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeEditThinningModal()"></span>
        <h4 class="modal-title"><span class="fa fa-flask" aria-hidden="true"></span> Verd&uuml;nnungen f&uuml;r das Produkt <span class="glyphicon glyphicon-filter" style="color:{{vm.product.color}}"></span> <b>{{vm.product.name}}</b> ({{vm.product.number}}) &auml;ndern oder l&ouml;schen</h4>
    </div>
    <div class="modal-body">
    	<div data-ng-show="vm.thinningsOfProduct.length == 0" style="max-width:80%;margin-left:50px;font-size: 1.2em;">
			Keine Verd&uuml;nnung(en) f&uuml;r das Produkt <span class="glyphicon glyphicon-filter" style="color:{{vm.product.color}}"></span> <b>{{vm.product.name}}</b> ({{vm.product.number}}) vorhanden 
		</div>
		<div data-ng-show="vm.thinningsOfProduct.length > 0" style="max-width:80%;margin-left:50px;">
			<b>{{vm.thinningsOfProduct.length}}</b> Verd&uuml;nnung(en) f&uuml;r das Produkt <span class="glyphicon glyphicon-filter" style="color:{{vm.product.color}}"></span> <b>{{vm.product.name}}</b> ({{vm.product.number}}) gefunden 
		</div>
		<table style="margin-left:50px;">
			<tr>
				<td><span class="glyphicon glyphicon-search"></span></td>
				<td><span>&nbsp;</span></td>
				<td>
					<input type="text" data-ng-model="vm.searchThinningTerm" placeholder="Verd&uuml;nnungen suchen" class="form-control" />
				</td>
				<td><span>&nbsp;</span></td>
				<td><span>&nbsp;</span></td>
				<td>Von:</td>
				<td>
					<p class="input-group" style="margin-top:10px;width:120px;">
				    	<input type="text"
		                            class="form-control"
		                            name="searchThinningDateFrom"                                
		                            data-ng-model="vm.thinningDateFrom"
		                            datepicker-popup="dd.MM.yyyy"
		                            is-open="vm.searchThinningDateFromDatePicker"
		                            close-text="schlie&szlig;en"
		                            current-text="heute"
		                            clear-text="l&ouml;schen"
		                            datepicker-options="{startingDay: 1}"
		                            placeholder="Datum"
		                            disabled
		                            required>
		                  	<span class="input-group-btn">
		                       		<button type="button" class="btn btn-default btn-xs datePickerButton"                         		   
		                               data-ng-click="vm.openSearchThinningFromDatePicker($event)">
		                               <span class="glyphicon glyphicon-calendar"></span>
		                            </button>
		                  	</span>
		              </p>
				</td>
				<td><span>&nbsp;</span></td>
				<td><span>&nbsp;</span></td>
				<td>Bis:</td>
				<td>
					<p class="input-group" style="margin-top:10px;width:120px;">
				    	<input type="text"
		                            class="form-control"
		                            name="searchThinningDateUntil"                                
		                            data-ng-model="vm.thinningDateUntil"
		                            datepicker-popup="dd.MM.yyyy"
		                            is-open="vm.searchThinningDateUntilDatePicker"
		                            close-text="schlie&szlig;en"
		                            current-text="heute"
		                            clear-text="l&ouml;schen"
		                            datepicker-options="{startingDay: 1}"
		                            placeholder="Datum"
		                            disabled
		                            required>
		                  	<span class="input-group-btn">
		                       		<button type="button" class="btn btn-default btn-xs datePickerButton"                         		   
		                               data-ng-click="vm.openSearchThinningUntilDatePicker($event)">
		                               <span class="glyphicon glyphicon-calendar"></span>
		                            </button>
		                  	</span>
		              </p>
				</td>
				<td><span>&nbsp;</span></td>
				<td><span>&nbsp;</span></td>
				<td><span>&nbsp;</span></td>
				<td><span>&nbsp;</span></td>
				<td><span class="glyphicon glyphicon-remove-circle icon-hover" data-ng-click="vm.findThinningsOfProductOfTypeInLastMonth()" title="Alle Verd&uuml;nnungen f&uuml;r dieses Produkt anzeigen"></span></td>
			</tr>
		</table>
		<hr data-ng-show="vm.receipesOfProduct.length > 0" />
		<br />
    	<div data-ng-repeat="thinningOfProduct in vm.thinningsOfProduct | filter:vm.searchThinningTerm track by $index">
    		<br />
	    	<create-thinning-directive 
	    		index="$index"
				thinning="thinningOfProduct" 
				product="vm.product"
				products="vm.products" 
				invoker="vm"
				type="'EDIT'"
				current-user="vm.currentUser"
				user-authorization-user-container="vm.userAuthorizationUserContainer"
				polymer-promille="vm.polymerPromille">
			</create-thinning-directive>
		</div>
	</div>
	<div class="modal-footer">
        <button class="btn btn-default" type="button" data-ng-click="vm.closeEditThinningModal()">Schlie&szlig;en</button>
    </div>
	<br />
</div>
