@media all and (max-width: 1930px) {
	.project .drop-box {
		font-size: 0.6em;
		width: 160px;
		height: 105px; 
	}
	.project .uploadedFilesInfo {
		margin-left: 10px;
		width: 170px;
	}
}
@media all and (max-width: 1550px) {
	.project .searchInput {
		min-width: 150px;
	}
	.project .versionTable {
		min-width: 105px;	
	}
	.project .documentFileResponsibleUser {
		width: 150px;
	}
	
	.project .uploadTimeColumn {
		min-width: 50px;
	}
	.project .documentNameColumn {
		width: 300px !important;
	}
}
@media all and (max-width: 1370px) {
	.project .documentFileType {
			display: none;
		}
}
@media all and (max-width: 1300px) {
	.project .uploadTimeColumn,
	.project .documentFileNumber {
			display: none;
		}
}