.project {
	margin-bottom: 110px;
}
.project .toast {
	margin-top: 63px;
	margin-right: 15px !important;
}
.project .infoSign { 
	color: #007ab9;
}
.project .toast .alert {  
	background-color: rgba(250, 250, 250); 
	color: #000;
	border-top: 1px solid #eee; 
	border-bottom: 1px solid #ccc;
	border-left: 14px solid #007ab9;
	box-shadow: 5px 5px 2px #999;
}
.project .button {
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    padding: 10px;
    margin: 10px;
    width: 70px;
}
.project .documentsTable thead {
	background-color: #fafafa;
} 
.project .list-item:hover {
	background-color: #eee;
}
.project .uploadFiles,
.project .drop-box:hover {
	background-image: url(../../assets/img/uploadHover.PNG);
    background-size: 100%;
    background-repeat:no-repeat;
}
.project .searchInput {
	min-width: 240px;
}
.project .versionTable {
	min-width: 188px;
}
.project .documentAssignedToUser {
	color: #f00;
}
.project .uploadedFilesInfo {
	margin-left: 10px;
	width: 400px;
}
.project .loadingContainer img {
	margin-top: -20px;
	max-height: 30px;
	max-width: 30px;
}
.project .fileUploadText {
	font-size: 1.5em;	
}
.project .controlButton {
	width: 40px;
}
.project .versions {
	max-height: 20px !important;
	padding: 1px;
}
.project .currentSelectedPage {
	background-color: #eee;
}
.project .documentFileResponsibleUser {
	height: 25px;
	width: 180px;
}
.project .dragover {
    border: 5px dashed #7d7d7d;
    outline:2px #fff solid;
	outline-offset:-6px;
}
.project .amountOfDocuments {
	float: right;
	margin-top: -20px;
}
.project .editable-controls input {
	border: 1px solid #eee;
}
.project .editable-controls input {
	border: 1px solid #eee;
}
.project .editable-buttons {
	display: none !important;
}
.project .foundedLabelPredefined {
	margin-top: 20px;
	margin-bottom: 20px;
}
.project .colorContainer{
	width: 10px;
	height: 10px;
}
.project .removeLabel {
	color: #aaa; 
}
.project .uploadTimeColumn {
	min-width: 100px;
}
.project .search-control {
    padding: 5px 10px;
}
.project .dropdown-scroll .possibleLabel {
	margin-left: 10px;
}
.project .labelsPredefinedTable {
	margin-left: 2px;
}
.project .responsibleUserOrContactClass {
	border: none;
}
.noTemplateModal .close,
.deleteFolderModal .close,
.createFolderModal .close,
.textTemplateModal .close,
.imgTemplateModal .close,
.pdfTemplateModal .close,
.htmlTemplateModal .close,
.roleOfAssignedUserIsBlackListedModal .close,
.shiftDocumentFileModal .close {
	float: right;
	margin-right: 5px;
	margin-top: 5px;
	font-size: 0.9em;
}
.textTemplateModal .textPreviewWrapper .preview {
	background-color: #fff !important;
	border: none;	
}
.pdfPreviewContainer .rotate0 {
	-webkit-transform: rotate(0deg); transform: rotate(0deg); 
}
.pdfPreviewContainer .rotate90 {
	-webkit-transform: rotate(90deg); transform: rotate(90deg);
}
.pdfPreviewContainer .rotate180 {
	-webkit-transform: rotate(180deg); transform: rotate(180deg);
}
.pdfPreviewContainer .rotate270 {
	-webkit-transform: rotate(270deg); transform: rotate(270deg);
}
.pdfPreviewContainer .pdfTemplateContainer { 
	display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center; 
}