<div class="row clearfix project">
	<div class="breadcrumb">
		<span class="explanation"><span class="glyphicon glyphicon-file"></span> Dokumente</span>
		<span class="logo">wdm</span>
	</div>
	<toast class="toast"></toast>  
	<div class="col-md-10">
		<div class="controlContainer">
			<table style="height:40px;">
				<tr>
					<td><span>&nbsp;</span></td>
					<td><span>&nbsp;</span></td>
					<td>
						<span data-ng-show="vm.type == 'PROJECT'">
							<span class="icon-hover" data-ng-click="vm.selectBreadCrumbFolder(null)" title="{{vm.projectOrProduct.description}}">
								<span class="icon-hover" data-ui-sref="auth.projects({userId: '{{ vm.currentUser.id }}'})">Projekte</span> > 
								<span data-ng-show="vm.type == 'PROJECT'">
									<span class="glyphicon glyphicon-folder-open icon-hover" data-ng-style="{'color': vm.projectOrProduct.color}" data-ng-click="vm.selectBreadCrumbFolder(null)"></span>
								</span>
								<span data-ng-show="vm.type == 'PRODUCT'">
									<span class="glyphicon glyphicon-filter icon-hover" data-ng-style="{'color': vm.projectOrProduct.color}" data-ng-click="vm.selectBreadCrumbFolder(null)"></span>
								</span>
								Projekt <b>{{vm.projectOrProduct.name}}</b></span> (Erstellt am {{vm.projectOrProduct.creationDate}})
						</span>
						<span data-ng-show="vm.type == 'PRODUCT'">
							<span class="icon-hover" data-ng-click="vm.selectBreadCrumbFolder(null)" title="{{vm.projectOrProduct.description}}">
								<span class="icon-hover" data-ui-sref="auth.products({userId: '{{ vm.currentUser.id }}', productId: '{{vm.projectOrProduct.id}}' })">Produkte</span> >
								<span data-ng-show="vm.type == 'PROJECT'">
									<span class="glyphicon glyphicon-folder-open icon-hover" data-ng-style="{'color': vm.projectOrProduct.color}" data-ng-click="vm.selectBreadCrumbFolder(null)"></span>
								</span>
								<span data-ng-show="vm.type == 'PRODUCT'">
									<span class="glyphicon glyphicon-filter icon-hover" data-ng-style="{'color': vm.projectOrProduct.color}" data-ng-click="vm.selectBreadCrumbFolder(null)"></span>
								</span>
								Produkt <b>{{vm.projectOrProduct.name}}</b></span> (Erstellt am {{vm.projectOrProduct.creationDate}})
						</span>
					</td>
					<td><span>&nbsp;</span></td>
					<td><span>&nbsp;</span></td>
					<td data-ng-show="vm.type == 'PROJECT'">
						<div style="float:right;width:70px;height:40px;">
							<img data-ng-show="vm.type == 'PROJECT'" data-ng-src="api/files/projectlogo/{{vm.projectOrProduct.logoName == null || vm.projectOrProduct.logoName == '' ? 'standardLogo.png' : vm.projectOrProduct.logoName}}/" alt="logo" style="display: block;max-width:100%;max-height:100%;" />
						</div>
					</td>
					<td><span>&nbsp;</span></td>
					<td style="border-left: 1px solid #ccc;" data-ng-show="(vm.type == 'PROJECT' && vm.userAuthorizationUserContainer.userAuthorizations[1].state == true) || (vm.type == 'PRODUCT' && vm.userAuthorizationUserContainer.userAuthorizations[4].state == true)"><span>&nbsp;</span></td>
					<td><span>&nbsp;</span></td>
					<td><span>&nbsp;</span></td>
					<td><span>&nbsp;</span></td>
					<td><span>&nbsp;</span></td>
					<td><span>&nbsp;</span></td>
					<td><span>&nbsp;</span></td>
					<td>
						<table class="icon-hover" data-ng-click="vm.showCreateProjectFolderModal(vm.projectOrProduct)" data-ng-show="(vm.type == 'PROJECT' && vm.userAuthorizationUserContainer.userAuthorizations[1].state == true) || (vm.type == 'PRODUCT' && vm.userAuthorizationUserContainer.userAuthorizations[4].state == true)">
							<tr>
								<td>
									<span class="fa fa-clipboard folder-color" style="font-size:2.0em;" title="Ordner erstellen"></span>
								</td>
							</tr>
						</table>
					</td>
					<td><span>&nbsp;</span></td>
					<td><span>&nbsp;</span></td>
					<td><span>&nbsp;</span></td>
					<td><span>&nbsp;</span></td>
					<td><span>&nbsp;</span></td>
					<td><span>&nbsp;</span></td>
					<td style="border-left: 1px solid #ccc;" data-ng-show="(vm.type == 'PROJECT' && vm.userAuthorizationUserContainer.userAuthorizations[1].state == true) || (vm.type == 'PRODUCT' && vm.userAuthorizationUserContainer.userAuthorizations[4].state == true)"><span>&nbsp;</span></td>
					<td><span>&nbsp;</span></td>
					<td><span>&nbsp;</span></td>
					<td><span>&nbsp;</span></td>
					<td>
						<table>
							<tr>
								<td><span class="glyphicon glyphicon-search"></span></td>
								<td><span>&nbsp;</span></td>
								<td>
									<input type="text" class="form-control" style="width:160px;border-top-right-radius:0px;border-bottom-right-radius:0px;" data-ng-model="vm.documentFileAndFolderSearchString" placeholder="Suchen" />
								</td>
								<td>
									<button class="btn btn-default" type="button" style="border-left:none;border-top-left-radius:0px;border-bottom-left-radius:0px;" data-ng-click="vm.searchDocumentFiles()" data-ng-disabled="vm.loadingSearchResults == true" data-toggle="dropdown">Suchen</span>
									</button>
								</td>
								<td><span>&nbsp;</span></td>
								<td><span class="glyphicon glyphicon-remove-circle icon-hover" data-ng-class="vm.documentFileAndFolderSearchString.length >= 3 ? 'errorMessage' : ''" data-ng-show="vm.documentFileAndFolderSearchString.length > 0" data-ng-click="vm.removeSearchString()"></span></td>
								<td><span>&nbsp;</span></td>
								<td>
									<div class="dropdown dropdown-scroll">
									    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Tags <span class="caret"></span>
									    </button>
									    <ul class="dropdown-menu" data-ng-click="$event.stopPropagation()">
									        <li>
									        	<table>
													<tr>
														<td><span>&nbsp;</span></td>
														<td>
												            <div class="input-group input-group-sm search-control"> 
												            	<span class="input-group-addon">
												                    <span class="glyphicon glyphicon-search"></span>
																</span>
												                <input type="text" class="form-control" placeholder="Suchen" data-ng-model="query"></input>
												            </div>
												     	</td>
									            		<td><span class="glyphicon glyphicon-sort-by-alphabet icon-hover" data-ng-click="vm.labelOrder == 'name' ? vm.labelOrder = '-name' : vm.labelOrder = 'name'"></span></td>
									            		<td><span>&nbsp;</span></td>
									            		<td><span>&nbsp;</span></td>
									            		<td><span class="glyphicon glyphicon-sort-by-order icon-hover" data-ng-click="vm.labelOrder == 'labelsPredefinedType' ? vm.labelOrder = '-labelsPredefinedType' : vm.labelOrder = 'labelsPredefinedType'"></span></td>
										            	<td><span>&nbsp;</span></td>
										            	<td><span class="glyphicon glyphicon-tag icon-hover" data-ng-init="vm.type == 'PRODUCT' ? onlyProductDescriptive = true : onlyProjectDescriptive = true" data-ng-click="vm.type == 'PRODUCT' ? onlyProductDescriptive = !onlyProductDescriptive : onlyProjectDescriptive = !onlyProjectDescriptive"></span></td>
									            	</tr>
									        	</table>
									        </li>
									        <li data-ng-repeat="labelPredefined in vm.allLabelsPredefined | orderBy:vm.labelOrder | filter:query" data-ng-hide="vm.type == 'PRODUCT' && onlyProductDescriptive == true ? (labelPredefined.labelsPredefinedType == 'CONTENT' || labelPredefined.labelsPredefinedType == 'DESCRIPTIVE') : (onlyProjectDescriptive == true ? labelPredefined.labelsPredefinedType == 'PRODUCT_DESCRIPTIVE' : '')">
									        	<table class="labelsPredefinedTable">
									        		<tr>
									        			<td><span>&nbsp;</span></td>
									        			<td><span>&nbsp;</span></td>
									        			<td>
									        				<span class="glyphicon glyphicon-tag successMessage" data-ng-show="labelPredefined.labelsPredefinedType == 'DESCRIPTIVE'" title="Beschreibung"></span>
			    											<span class="glyphicon glyphicon-tag errorMessage" data-ng-show="labelPredefined.labelsPredefinedType == 'CONTENT'" title="Inhalt"></span>
			    											<span class="glyphicon glyphicon-tag productTagColor" data-ng-show="labelPredefined.labelsPredefinedType == 'PRODUCT_DESCRIPTIVE'" title="Produkt- Beschreibend"></span>
									        			</td>
									        			<td><span>&nbsp;</span></td>
									        			<td><span>&nbsp;</span></td>
									        			<td><span class="icon-hover" data-ng-click="vm.searchForLabel(labelPredefined.name)">{{labelPredefined.name}}</span></td>
									        		</tr>
									        	</table> 
									        </li>
									    </ul>
									</div>
								</td>
								<td><span>&nbsp;</span></td>
								<td><span>&nbsp;</span></td>
								<td><span>&nbsp;</span></td>
								<td><span>&nbsp;</span></td>
								<td>
									<table>
										<tr>
											<td><input type="checkbox" data-ng-model="vm.assignedDocumentFiles" data-ng-click="vm.findAssignedDocumentFiles(0)" /></td>
											<td><span>&nbsp;</span></td>
											<td><span class="glyphicon glyphicon-user"></span> Mir zugewiesen</td>
										</tr>
										<tr data-ng-show="vm.canSeeConfidentialDocumentFiles">
											<td><input type="checkbox" data-ng-model="vm.confidentDocumentFiles" data-ng-click="vm.pageChange(0)" /></td>
											<td><span>&nbsp;</span></td>
											<td><span class="fa fa-key"></span> Vertrauliche Doks</td>
										</tr>
									</table>
								</td>
								<td><span>&nbsp;</span></td>
								<td><span>&nbsp;</span></td>
								<td><span>&nbsp;</span></td>
								<td><span>&nbsp;</span></td>
								<td><span>&nbsp;</span></td>
								<td><span>&nbsp;</span></td>
								<td>
									<div style="margin-top:-22px;" data-ng-show="vm.documentFileAndFolderSearchString.length > 0"><b>{{vm.pagedDocumentFiles.length}}</b> Dokumente gefunden</div>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
		<br />
		<div class="col-md-10">
			<table style="float:left;border:1px solid #eee;background-color:#fafafa;margin-left:-15px;margin-top:-10px;font-style:italic;">
				<tr>
					<td data-ng-click="vm.selectBreadCrumbFolder(null)">
						<span class="icon-hover" style="margin:5px;"><span class="glyphicon glyphicon-bookmark icon-hover"></span> Dokumente <span data-ng-show="vm.breadCrumbFolderContainer.breadCrumbOfFolders.length > 0">></span> </span>
					</td>
					<td data-ng-repeat="breadCrumbFolder in vm.breadCrumbFolderContainer.breadCrumbOfFolders track by $index" data-ng-click="vm.selectBreadCrumbFolder(breadCrumbFolder)">
						<span class="icon-hover" style="margin:5px;"> <span class="fa fa-clipboard"></span> {{breadCrumbFolder.name}} <span data-ng-show="$index < vm.breadCrumbFolderContainer.breadCrumbOfFolders.length-1">> </span></span> 
					</td>
				</tr>
			</table>
			<!-- paging -->
			<nav aria-label="Page navigation" data-ng-show="vm.amountOfPages > 1 && vm.assignedDocumentFiles == false && vm.documentFileAndFolderSearchString.length == 0" style="text-align:center;margin-top:-25px;">
			  <ul class="pagination">
			    <li data-ng-click="vm.pageChange(vm.currentPage-1)" class="icon-hover">
			        <span aria-hidden="true">&laquo;</span>
			    </li>
			    <li data-ng-repeat="indexAmount in vm.amountOfPagesArray">
			    	<a data-ng-click="vm.pageChange($index)" data-ng-class="vm.isCurrentPage(indexAmount) ? 'currentSelectedPage' : ''" class="icon-hover">{{$index+1}}</a>
			    </li>
			    <li  data-ng-click="vm.pageChange(vm.currentPage+1)" class="icon-hover">
			    	<span aria-hidden="true">&raquo;</span>
			    </li>
			  </ul>
			</nav>			
		</div>
		<table class="table documentsTable" data-ng-show="vm.pagedDocumentFiles.length > 0 || vm.folders.length > 0">
			<thead class="headerContainer">
				<tr>
					<th></th>
					<th colspan="2">
						<table>
							<tr>
								<td>Name</td>
								<td><span>&nbsp;</span></td>
								<td><span class="glyphicon glyphicon-chevron-down icon-hover" data-ng-click="vm.changeOrderType('fileName')"></span></td>
								<td><span class="glyphicon glyphicon-chevron-up icon-hover" data-ng-click="vm.changeOrderType('-fileName')"></span></td>
							</tr>
						</table>
					</th>
					<th>
						Ersteller
					</th>
					<th class="documentFileType">
						<table>
							<tr>
								<td>Typ</td>
								<td><span>&nbsp;</span></td>
								<td><span class="glyphicon glyphicon-chevron-down icon-hover" data-ng-click="vm.changeOrderType('ending')"></span></td>
								<td><span class="glyphicon glyphicon-chevron-up icon-hover" data-ng-click="vm.changeOrderType('-ending')"></span></td>
							</tr>
						</table>
					</th>
					<th class="uploadTimeColumn">
						<table>
							<tr>
								<td>Hochg.</td>
							</tr>
						</table>
					</th>
					<th style="min-width: 220px !important;">Tags</th>
					<th></th>
					<th>Versionen</th>
					<th colspan="2"></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<!-- Folder -->
				<tr data-ng-repeat="folder in vm.folders" data-ng-mouseenter="showMenu=true" data-ng-mouseleave="showMenu=false">
					<td colspan="11">
						<table data-ng-click="vm.selectFolder(folder)">
							<tr>
								<td><span class="fa fa-clipboard icon-hover folder-color" style="font-size:1.6em;"></span></td>
								<td><span>&nbsp;</span></td>
								<td><span>&nbsp;</span></td>
								<td><span class="icon-hover" title="{{folder.description}}">{{folder.name}}</span></td>
								<td><span>&nbsp;</span></td>
								<td><span>&nbsp;</span></td>
								<td><span data-ng-show="folder.description != null && folder.description.length > 0" style="font-size:0.9em;">({{folder.description}})</span></td>
							</tr>
						</table>
					</td>
					<td colspan="2" style="min-width:100px;">
						<div class="dropdown dropdown-scroll">
						    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" style="height: 26px;" data-ng-show="showMenu == true">
							    <span data-ng-show="vm.institutionOfUserFilter == null">
							    	ausw&auml;hlen
							    </span>
						    	<span class="caret"></span>
						    </button>
						    <ul class="dropdown-menu">
						        <li role="presentation" data-ng-click="vm.showUpdateProjectFolderModal(folder)">
						        	<span class="glyphicon glyphicon glyphicon-edit icon-hover" style="margin-left:10px;"></span>
						        	<span class="icon-hover">Ordner bearbeiten</span>
						        </li>
						        <li role="presentation" data-ng-click="vm.showDeleteFolderModal(folder)">
						        	<span class="glyphicon glyphicon-minus icon-hover" style="margin-left:10px;"></span>
						        	<span class="icon-hover">Ordner l&ouml;schen</span>
						        </li>
						    </ul>
						</div>
					</td>
				</tr>
				<!-- Documents -->
				<tr data-ng-repeat="documentFile in vm.pagedDocumentFiles track by $index" data-ng-class="documentFile.stillUploaded == true ? 'alert alert-warning' : ''" data-ng-mouseenter="showMenu=true" data-ng-mouseleave="showMenu=false">
					<td>{{vm.currentPage*vm.documentFilePageSize+$index+1}}.</td>
					<td class="documentNameColumn" colspan="2" style="min-width: 200px;">
						<span data-ng-show="(vm.type == 'PROJECT' && vm.userAuthorizationUserContainer.userAuthorizations[1].state == false) || (vm.type == 'PRODUCT' && vm.userAuthorizationUserContainer.userAuthorizations[4].state == false)" title="{{documentFile.documentFileVersion.size/1000}}KB"><b>{{documentFile.fileName}}</b></span>
						<span data-ng-show="(vm.type == 'PROJECT' && vm.userAuthorizationUserContainer.userAuthorizations[1].state == true) || (vm.type == 'PRODUCT' && vm.userAuthorizationUserContainer.userAuthorizations[4].state == true)" editable-text="documentFile.fileName" onaftersave="vm.updateDocumentFile(documentFile, true)" title="{{documentFile.documentFileVersion.size/1000}}KB"><b>{{documentFile.fileName}}</b></span>
						<span data-ng-show="documentFile.nameLengthError == true" class="glyphicon glyphicon-alert errorMessage" title="der Dokumentenname muss mindestens 3 Zeichen lang sein"></span> 
					</td>
					<td>
						<table>
							<tr>
								<td>
									<input type="text"
										data-ng-disabled="(vm.type == 'PROJECT' && vm.userAuthorizationUserContainer.userAuthorizations[1].state == false) || (vm.type == 'PRODUCT' && vm.userAuthorizationUserContainer.userAuthorizations[4].state == false)" 
									   	class="form-control documentFileResponsibleUser" 
										placeholder="Ersteller/Info" 
										data-ng-model="documentFile.documentFileVersion.responsibleUserOrContact"
										data-ng-focus=""
										data-ng-class="documentFile.documentFileVersion.responsibleUserOrContact != null ? 'responsibleUserOrContactClass' : ''"
										typeahead="user as user.institution + ' ' + (user.firstname != null ? user.firstname : '') + ' ' + (user.surname != null ? user.surname : '') + ' ' + (user.email != null ? user.email : '') + ' ' + ' ' + (user.contactUserType | translate) for user in vm.findContactAndUserBySearchString($viewValue)"
										typeahead-min-length="3"
										typeahead-wait-ms="100"
										typeahead-on-select="vm.prepareForUpdateDocumentFile(documentFile, documentFile.documentFileVersion)"
										data-ng-enter="vm.prepareForUpdateDocumentFile(documentFile, documentFile.documentFileVersion)"
										required="required" />
								</td>
								<td><span>&nbsp;</span></td>
								<td>
									<span data-ng-show="documentFile.setContactOrUserError == true" class="glyphicon glyphicon-alert errorMessage"></span>
									<span data-ng-show="documentFile.setContactOrUserSuccess == true" class="glyphicon glyphicon-ok successMessage"></span>
								</td>
							</tr>
						</table>
					</td>
					<td class="documentFileType">
						<img data-ng-src="assets/img/{{documentFile.ending}}.PNG" alt="" document-file-icon-dispatch title="Dateiendung {{documentFile.ending}}" />
					</td>
					<td><span>{{documentFile.documentFileVersions[documentFile.documentFileVersions.length-1].uploadTime}}</span></td>
					<td>
						<span class="glyphicon glyphicon-alert errorMessage" title="Keine Tags vergeben" data-ng-show="documentFile.documentFileVersion.labels == null || documentFile.documentFileVersion.labels.length == 0"></span>
						<span data-ng-repeat="label in documentFile.documentFileVersion.labels track by $index">
							<span data-ng-class="label.labelsPredefinedType == 'DESCRIPTIVE' ? 'documentLabelDescriptive' : (label.labelsPredefinedType == 'CONTENT' ? 'documentLabelContent' : 'documentLabelProductDescriptive')">
								{{label.name}}
								<span class="glyphicon glyphicon-remove icon-hover removeLabel" data-ng-show="(vm.type == 'PROJECT' && vm.userAuthorizationUserContainer.userAuthorizations[1].state == true) || (vm.type == 'PRODUCT' && vm.userAuthorizationUserContainer.userAuthorizations[4].state == true)" data-ng-click="vm.removeLabel(documentFile, documentFile.documentFileVersion, label)"></span>
							</span>
						</span>
					</td>
					<td>
						<table data-ng-show="(vm.type == 'PROJECT' && vm.userAuthorizationUserContainer.userAuthorizations[1].state == true) || (vm.type == 'PRODUCT' && vm.userAuthorizationUserContainer.userAuthorizations[4].state == true)">
							<tr>
								<td>
									<span class="glyphicon glyphicon-ok successMessage" data-ng-show="documentFile.labelUpdated == true"></span>
								</td>
								<td><span>&nbsp;</span></td>
								<td>
									<div class="dropdown dropdown-scroll">
									    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" data-ng-click="vm.setSelectedLabels(documentFile.documentFileVersion)">Tags <span class="caret"></span>
									    </button>
									    <ul class="dropdown-menu" data-ng-click="$event.stopPropagation()" style="max-height:500px;overflow-y:auto;">
									        <li>
									        	<table>
													<tr>
														<td>
												            <div class="input-group input-group-sm search-control"> 
												            	<span class="input-group-addon">
												                    <span class="glyphicon glyphicon-search"></span>
																</span>
												                <input type="text" class="form-control" placeholder="Suchen" data-ng-model="query"></input>
												            </div>
												     	</td>
									            		<td><span class="glyphicon glyphicon-sort-by-alphabet icon-hover" data-ng-click="vm.labelOrder == 'name' ? vm.labelOrder = '-name' : vm.labelOrder = 'name'"></span></td>
									            		<td><span>&nbsp;</span></td>
									            		<td><span class="glyphicon glyphicon-sort-by-order icon-hover" data-ng-click="vm.labelOrder == 'labelsPredefinedType' ? vm.labelOrder = '-labelsPredefinedType' : vm.labelOrder = 'labelsPredefinedType'"></span></td>
									            		<td><span>&nbsp;</span></td>
									            		<td><span class="glyphicon glyphicon-tag icon-hover" data-ng-init="vm.type == 'PRODUCT' ? onlyProductDescriptive = true : onlyProjectDescriptive = true" data-ng-click="vm.type == 'PRODUCT' ? onlyProductDescriptive = !onlyProductDescriptive : onlyProjectDescriptive = !onlyProjectDescriptive"></span></td>
									            	</tr>
									        	</table>
									        </li>
									        <li data-ng-repeat="labelPredefined in vm.allLabelsPredefined | orderBy:vm.labelOrder | filter:query" data-ng-hide="vm.type == 'PRODUCT' && onlyProductDescriptive == true ? (labelPredefined.labelsPredefinedType == 'CONTENT' || labelPredefined.labelsPredefinedType == 'DESCRIPTIVE') : (onlyProjectDescriptive == true ? labelPredefined.labelsPredefinedType == 'PRODUCT_DESCRIPTIVE' : '')">
									        	<table class="labelsPredefinedTable">
									        		<tr>
									        			<td><span>&nbsp;</span></td>
									        			<td style="min-width:15px;">
									        				<span data-ng-show="vm.isLabelSelected(labelPredefined, documentFile.documentFileVersion)" class="glyphicon glyphicon-ok icon-hover" data-ng-click="vm.removeLabel(documentFile, documentFile.documentFileVersion, labelPredefined)"></span>
									        			</td>
									        			<td><span>&nbsp;</span></td>
									        			<td>
									        				<span class="glyphicon glyphicon-tag successMessage" data-ng-show="labelPredefined.labelsPredefinedType == 'DESCRIPTIVE'" title="Beschreibung"></span>
			    											<span class="glyphicon glyphicon-tag errorMessage" data-ng-show="labelPredefined.labelsPredefinedType == 'CONTENT'" title="Inhalt"></span>
			    											<span class="glyphicon glyphicon-tag productTagColor" data-ng-show="labelPredefined.labelsPredefinedType == 'PRODUCT_DESCRIPTIVE'" title="Produkt- Beschreibung"></span>
									        			</td>
									        			<td><span class="icon-hover possibleLabel" data-ng-click="vm.addLabel(documentFile, labelPredefined, documentFile.documentFileVersion); labelPredefined.selected = true;">{{labelPredefined.name}}</span></td>
									        		</tr>
									        	</table> 
									        </li>
									    </ul>
									</div>
								</td>
							</tr>
						</table>
					</td>
					<td>
						<table class="versionTable">
							<tr>
								<td><span data-ng-show="documentFile.documentFileVersions.length > 1">({{documentFile.documentFileVersions.length}})</span></td>
								<td><span>&nbsp;</span></td>
								<td>
									<select class="form-control versions" data-ng-value="vm.setDocumentFileVersion(documentFile)" data-ng-model="documentFile.selectedDocumentFileVersion" data-ng-options="c as c.version.substr(1, c.version.length) + ' - ' + c.uploadTime disable when c.active == false for c in documentFile.documentFileVersions" data-ng-show="documentFile.documentFileVersions.length > 1">
									</select>
								</td>
							</tr>
						</table>
					</td>
					<td>
						<span class="glyphicon glyphicon-comment icon-hover" style="margin-top:7px;" data-ng-show="documentFile.information != null && documentFile.information.length > 0" data-ng-click="vm.showDocumentInformationModal(documentFile, vm.userAuthorizationUserContainer)" title="Ein Kommentar zu diesem Dokument ist vorhanden"></span>
					</td>
					<td colspan="2">
						<table data-ng-show="vm.type == 'PROJECT'">
							<tr>
								<td>
									<div class="dropdown dropdown-scroll">
									    <button class="btn btn-default dropdown-toggle buttonWithNoBorder controlButton" type="button" data-toggle="dropdown" title="Dokument f&uuml;r Rollen und User sperren">
									    	<span class="glyphicon glyphicon-erase icon-hover"></span>
									    	<span data-ng-show="documentFile.userIdBlackList.length > 0">{{documentFile.userIdBlackList.length}}</span>
									    </button>
									    <ul class="dropdown-menu dropdownMenu" data-ng-click="$event.stopPropagation()">
									        <li>
									        	<table>
													<tr>
														<td>
												            <div class="input-group input-group-sm search-control"> 
												            	<span class="input-group-addon">
												                    <span class="glyphicon glyphicon-search"></span>
																</span>
												                <input type="text" class="form-control" placeholder="Suchen" data-ng-model="query"></input>
												            </div>
												     	</td>
									            	</tr>
									        	</table>
									        </li>
									        <li data-ng-repeat="projectUserConnection in vm.projectUserConnectionsOfProject | filter:query" data-ng-hide="vm.currentUser.id == projectUserConnection.user.id || projectUserConnection.user == null || vm.isWhiteListedExclusion(documentFile, projectUserConnection.user)">
									        	<table>
									        		<tr>
									        			<td><span>&nbsp;</span></td>
									        			<td style="min-width:20px;">
									        				<span class="glyphicon glyphicon-ok icon-hover" data-ng-show="vm.isBlackListed(projectUserConnection.user, documentFile)" data-ng-click="vm.removeBlackListId(documentFile, projectUserConnection.user, vm.userAuthorizationUserContainer)"></span>
									        			</td>
									        			<td><span>&nbsp;</span></td>
									        			<td>
									        				<span class="icon-hover" data-ng-click="vm.addBlackListId(documentFile, projectUserConnection.user, vm.userAuthorizationUserContainer)">
									        					<span class="glyphicon glyphicon-user" style="color:{{projectUserConnection.user.color}}"></span> {{projectUserConnection.user.title}} {{projectUserConnection.user.firstname}} {{projectUserConnection.user.surname}}
									        				</span>
									        			</td>
									        		</tr>
									        	</table> 
									        </li>
									    </ul>
									</div>	
								</td>
								<td>
									<div class="dropdown dropdown-scroll">
									    <button class="btn btn-default dropdown-toggle buttonWithNoBorder" type="button" data-toggle="dropdown" title="Dokument einem User zuweisen">
									    	<span class="glyphicon glyphicon-user icon-hover" data-ng-class="vm.isCurrentUserWhiteListed(documentFile) == true ? 'documentAssignedToUser' : ''"></span>
									    	<span data-ng-show="documentFile.userIdWhiteList.length > 0">{{documentFile.userIdWhiteList.length}}</span>
									    </button>
									    <ul class="dropdown-menu dropdownMenu" data-ng-click="$event.stopPropagation()">
									        <li>
									        	<table>
													<tr>
														<td>
												            <div class="input-group input-group-sm search-control"> 
												            	<span class="input-group-addon">
												                    <span class="glyphicon glyphicon-search"></span>
																</span>
												                <input type="text" class="form-control" placeholder="Suchen" data-ng-model="query"></input>
												            </div>
												     	</td>
									            	</tr>
									        	</table>
									        </li>
									        <li data-ng-repeat="projectUserConnection in vm.projectUserConnectionsOfProject | filter:query" data-ng-hide="projectUserConnection.user == null || vm.isBlackListedExclusion(documentFile, projectUserConnection.user)">
									        	<table>
									        		<tr>
									        			<td><span>&nbsp;</span></td>
									        			<td style="min-width:20px;">
									        				<span class="glyphicon glyphicon-ok icon-hover" data-ng-show="vm.isWhiteListed(projectUserConnection.user, documentFile)" data-ng-click="vm.removeWhiteListId(documentFile, projectUserConnection.user, vm.userAuthorizationUserContainer)"></span>
									        			</td>
									        			<td><span>&nbsp;</span></td>
									        			<td>
									        				<span class="icon-hover" data-ng-click="vm.addWhiteListId(documentFile, projectUserConnection.user, vm.userAuthorizationUserContainer)">
									        					<span class="glyphicon glyphicon-user" style="color:{{projectUserConnection.user.color}}"></span> {{projectUserConnection.user.title}} {{projectUserConnection.user.firstname}} {{projectUserConnection.user.surname}} <span style="font-size:0.7em;">({{projectUserConnection.projectUserConnectionRole | translate}})</span>
									        				</span>
									        			</td>
									        		</tr>
									        	</table> 
									        </li>
									    </ul>
									</div>	
								</td>
								<td><span>&nbsp;</span></td>
								<td>
									<button class="btn btn-default buttonWithNoBorder" type="button" data-ng-click="documentFile.confident = !documentFile.confident; vm.updateDocumentFile(documentFile, false)" data-ng-disabled="vm.userAuthorizationUserContainer.userAuthorizations[1].state == false" data-ng-show="vm.canSeeConfidentialDocumentFiles == true">
								    	<span class="fa fa-key icon-hover" data-ng-class="documentFile.confident == true ? 'errorMessage' : ''" title="Dokument als vertraulich makieren"></span>
								    </button>
								</td>
							</tr>
						</table>
						<table data-ng-show="vm.type == 'PRODUCT'">
							<tr>
								<td>
									<div class="dropdown dropdown-scroll">
									    <button class="btn btn-default dropdown-toggle buttonWithNoBorder controlButton" type="button" data-toggle="dropdown" title="Dokument f&uuml;r Rollen und User sperren">
									    	<span class="glyphicon glyphicon-erase icon-hover"></span>
									    	<span data-ng-show="(documentFile.userIdBlackList.length + documentFile.rolesBlackList.length) > 0">{{documentFile.userIdBlackList.length + documentFile.rolesBlackList.length}}</span>
									    </button>
									    <ul class="dropdown-menu dropdownMenu" data-ng-click="$event.stopPropagation()" style="max-height:500px;overflow-y:auto;">
									        <li>
									        	<table>
													<tr>
														<td>
												            <div class="input-group input-group-sm search-control"> 
												            	<span class="input-group-addon">
												                    <span class="glyphicon glyphicon-search"></span>
																</span>
												                <input type="text" class="form-control" placeholder="Suchen" data-ng-model="query"></input>
												            </div>
												     	</td>
									            	</tr>
									        	</table>
									        </li>
									        <li data-ng-repeat="role in vm.roles track by $index" data-ng-show="query == '' || query == null" style="background-color:#eee;">
									        	<table> 
									        		<tr>
									        			<td><span>&nbsp;</span></td>
									        			<td style="min-width:20px;">
									        				<span class="glyphicon glyphicon-ok icon-hover" data-ng-show="vm.isRoleBlackListed(role, documentFile)" data-ng-click="vm.removeBlackListRole(documentFile, role, vm.userAuthorizationUserContainer)"></span>
									        			</td>
									        			<td><span>&nbsp;</span></td>
									        			<td>
									        				<span data-ng-click="vm.addBlackListRole(documentFile, role, vm.userAuthorizationUserContainer)">
									        					<span class="icon-hover"><span class="fa fa-users"></span> {{role | translate}}</span>
									        				</span>
									        			</td>
									        		</tr>
									        	</table>
									        </li>
									        <li data-ng-repeat="user in vm.usersOfProject | filter:query" data-ng-hide="vm.currentUser.id == user.id || user == null || vm.isWhiteListedExclusion(documentFile, user)">
									        	<table>
									        		<tr>
									        			<td><span>&nbsp;</span></td>
									        			<td style="min-width:20px;">
									        				<span class="glyphicon glyphicon-ok icon-hover" data-ng-show="vm.isBlackListed(user, documentFile)" data-ng-click="vm.removeBlackListId(documentFile, user, vm.userAuthorizationUserContainer)"></span>
									        			</td>
									        			<td><span>&nbsp;</span></td>
									        			<td>
									        				<span class="icon-hover" data-ng-click="vm.addBlackListId(documentFile, user, vm.userAuthorizationUserContainer)">
									        					 <span class="glyphicon glyphicon-user" style="color:{{user.color}}"></span> {{user.title}} {{user.firstname}} {{user.surname}}
									        				</span>
									        			</td>
									        		</tr>
									        	</table> 
									        </li>
									    </ul>
									</div>	
								</td>
								<td>
									<div class="dropdown dropdown-scroll">
									    <button class="btn btn-default dropdown-toggle buttonWithNoBorder" type="button" data-toggle="dropdown" title="Dokument einem User zuweisen">
									    	<span class="glyphicon glyphicon-user icon-hover" data-ng-class="vm.isCurrentUserWhiteListed(documentFile) == true ? 'documentAssignedToUser' : ''"></span>
									    	<span data-ng-show="documentFile.userIdWhiteList.length > 0">{{documentFile.userIdWhiteList.length}}</span>
									    </button>
									    <ul class="dropdown-menu dropdownMenu" data-ng-click="$event.stopPropagation()" style="max-height:500px;overflow-y:auto;">
									        <li>
									        	<table>
													<tr>
														<td>
												            <div class="input-group input-group-sm search-control"> 
												            	<span class="input-group-addon">
												                    <span class="glyphicon glyphicon-search"></span>
																</span>
												                <input type="text" class="form-control" placeholder="Suchen" data-ng-model="query"></input>
												            </div>
												     	</td>
									            	</tr>
									        	</table>
									        </li>
									        <li data-ng-repeat="user in vm.usersOfProject | filter:query" data-ng-hide="user == null || vm.isBlackListedExclusion(documentFile, user)">
									        	<table>
									        		<tr>
									        			<td><span>&nbsp;</span></td>
									        			<td style="min-width:20px;">
									        				<span class="glyphicon glyphicon-ok icon-hover" data-ng-show="vm.isWhiteListed(user, documentFile)" data-ng-click="vm.removeWhiteListId(documentFile, user, vm.userAuthorizationUserContainer)"></span>
									        			</td>
									        			<td><span>&nbsp;</span></td>
									        			<td>
									        				<span class="icon-hover" data-ng-click="vm.addWhiteListId(documentFile, user, vm.userAuthorizationUserContainer)">
									        					<span class="glyphicon glyphicon-user" style="color:{{user.color}}"></span> {{user.title}} {{user.firstname}} {{user.surname}}
									        				</span>
									        			</td>
									        		</tr>
									        	</table> 
									        </li>
									    </ul>
									</div>	
								</td>
								<td>
									<button class="btn btn-default buttonWithNoBorder" type="button" data-ng-click="documentFile.confident = !documentFile.confident; vm.updateDocumentFile(documentFile, false)" data-ng-disabled="vm.userAuthorizationUserContainer.userAuthorizations[4].state == false" data-ng-show="vm.canSeeConfidentialDocumentFiles == true">
								    	<span class="fa fa-key icon-hover" data-ng-class="documentFile.confident == true ? 'errorMessage' : ''" title="Dokument als vertraulich makieren"></span>
								    </button>
								</td>
							</tr>
						</table>
					</td>
					<td style="min-width: 100px;">
						<div class="dropdown dropdown-scroll">
							<span class="glyphicon glyphicon-alert errorMessage" data-ng-show="vm.referenceToCommunicationError == true" title="Referenz zu Arbeitsauftr&auml;gen vorhanden"></span>
							<span class="glyphicon glyphicon-alert errorMessage" data-ng-show="vm.referenceToRecipeError == true" title="Referenz zu Rezepten oder Mischungen vorhanden"></span>
							<span class="glyphicon glyphicon-alert errorMessage" data-ng-show="vm.referenceToContactError == true" title="Referenz zu Kontakten vorhanden"></span>
						    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" style="height: 26px;" data-ng-show="showMenu == true">
							    <span data-ng-show="vm.institutionOfUserFilter == null">
							    	ausw&auml;hlen
							    </span>
						    	<span class="caret"></span>
						    </button>
						    <ul class="dropdown-menu">
						    	<li role="presentation" class="list-item">
						        	<table style="margin-left:10px;">
						        		<tr >
						        			<td><span class="glyphicon glyphicon-font icon-hover" data-ng-click="vm.showDocumentInformationModal(documentFile, vm.userAuthorizationUserContainer)" title="Dokumenteninformation anzeigen"></span></td>
						        			<td><span>&nbsp;</span></td>
						        			<td><span class="icon-hover" data-ng-click="vm.showDocumentInformationModal(documentFile, vm.userAuthorizationUserContainer)">Kommentar</span></td>
						        		</tr>
						        	</table>
						        </li>
						        <li role="presentation" class="list-item">
						        	<table style="margin-left:10px;">
						        		<tr>
						        			<td><a href="{{vm.createDocumentUrl(vm.currentUser, vm.projectOrProduct, documentFile, documentFile.documentFileVersion)}}" style="color:#333;" class="glyphicon glyphicon-download-alt icon-hover" title="Dokument herunterladen"></a></td>
						        			<td><span>&nbsp;</span></td>
						        			<td><a href="{{vm.createDocumentUrl(vm.currentUser, vm.projectOrProduct, documentFile, documentFile.documentFileVersion)}}" style="color:#333;text-decoration:none;">herunterladen</a></td>
						        		</tr>
						        	</table>
						        </li>
						        <li role="presentation" class="list-item">
						        	<table style="margin-left:10px;" data-ng-init="documentUrl = vm.createDocumentUrl(vm.currentUser, vm.projectOrProduct, documentFile, documentFile.documentFileVersion)" data-ng-click="documentUrl = vm.createDocumentUrl(vm.currentUser, vm.projectOrProduct, documentFile, documentFile.documentFileVersion); vm.showTemplateModal(documentUrl, documentFile, documentFile.documentFileVersion)">
						        		<tr>
						        			<td>
						        				<span class="glyphicon glyphicon-blackboard icon-hover" style="color: #333;" title="Vorschau anzeigen"></span>
						        			</td>
						        			<td><span>&nbsp;</span></td>
						        			<td><span class="icon-hover" style="color: #333;">Vorschau anzeigen</span></td>
						        		</tr>
						        	</table>
						        </li>
						        <li role="presentation" class="list-item" data-ng-show="(vm.type == 'PROJECT' && vm.userAuthorizationUserContainer.userAuthorizations[1].state == true) || (vm.type == 'PRODUCT' && vm.userAuthorizationUserContainer.userAuthorizations[4].state == true)">
							        <table style="margin-left:10px;" ngf-select="vm.uploadNewDocumentVersion($file, documentFile)"
										   ngf-multiple="false" ngf-allow-dir="false"
										   accept="image/*,application/pdf,multipart/mixed" ngf-max-size="20MB">
							        	<tr>
							        		<td>
							        			<div class="glyphicon glyphicon-open-file icon-hover" style="color: #333;" title="Neue Version dieses Dokumentes hochladen">
											    </div>	
							        		</td>
							        		<td><span>&nbsp;</span></td>
						        			<td><span class="icon-hover" style="color: #333;">Version hochladen</span></td>
							        	</tr>
							        </table>
						        </li>
						        <li role="presentation" class="list-item" data-ng-show="(vm.type == 'PROJECT' && vm.userAuthorizationUserContainer.userAuthorizations[1].state == true) || (vm.type == 'PRODUCT' && vm.userAuthorizationUserContainer.userAuthorizations[4].state == true)">
							        <table style="margin-left:10px;" data-ng-click="vm.showShiftModal(documentFile)">
						        		<tr>
						        			<td>
						        				<span class="glyphicon glyphicon-arrow-right icon-hover" style="color: #333;" title="Dokument verschieben"></span>
						        			</td>
						        			<td><span>&nbsp;</span></td>
						        			<td><span class="icon-hover" style="color: #333;">verschieben</span></td>
						        		</tr>
						        	</table>
						        </li>
						        <li role="presentation" class="list-item" data-ng-show="(vm.type == 'PROJECT' && vm.userAuthorizationUserContainer.userAuthorizations[1].state == true && documentFile.documentFileVersions.length > 1) || (vm.type == 'PRODUCT' && vm.userAuthorizationUserContainer.userAuthorizations[4].state == true && documentFile.documentFileVersions.length > 1)">
							        <table style="margin-left:10px;" data-ng-click="vm.showYesNoDeleteModal(documentFile, documentFile.documentFileVersion, 'DELETE_VERSION')">
							        	<tr>
							        		<td>
							        			<span class="glyphicon glyphicon-minus icon-hover" style="color: #333;" title="Dokument deaktivieren"></span>
							        		</td>
							        		<td><span>&nbsp;</span></td>
						        			<td><span class="icon-hover" style="color: #333;">deaktivieren</span></td>
							        	</tr>
							        </table>
						        </li>
						        <li role="presentation" class="list-item" data-ng-show="(vm.type == 'PROJECT' && vm.userAuthorizationUserContainer.userAuthorizations[2].state == true) || (vm.type == 'PRODUCT' && vm.userAuthorizationUserContainer.userAuthorizations[5].state == true)" data-ng-click="vm.showYesNoDeleteModal(documentFile, null, 'DELETE_ALL_VERSIONS')">
							        <table style="margin-left:10px;">
							        	<tr>
							        		<td>
							        			<span class="glyphicon glyphicon-minus-sign icon-hover" style="color: #333;" title="Alle Version der Dokumente l&ouml;schen"></span>
							        		</td>
							        		<td><span>&nbsp;</span></td>
						        			<td><span class="icon-hover" style="color: #333;">l&ouml;schen</span></td>
							        	</tr>
							        </table>
						        </li>
						    </ul>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<br />
		<br />			
	</div>
	<div class="col-md-1">
		<upload-document-file-directive data-ng-show="(vm.type == 'PROJECT' && vm.userAuthorizationUserContainer.userAuthorizations[1].state == true) || (vm.type == 'PRODUCT' && vm.userAuthorizationUserContainer.userAuthorizations[4].state == true)"
			files="vm.files"
			upload-files="vm.uploadFiles"
			successful-uploaded-files="vm.successfulUploadedFiles"
			failed-uploaded-files="vm.failedUploadedFiles">
		</upload-document-file-directive>
	</div>
</div>