<div class="roleOfAssignedUserIsBlackListedModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeRoleOfAssignedUserIsBlackListedModal()"></span>
        <h4 class="modal-title">Die Rolle dieses Users ist gesperrt</h4>
    </div>
    <div class="modal-body">
    	<br />
    	Sie wollen dem User <span class="glyphicon glyphicon-user" style="color:{{vm.user.color}}"></span> {{vm.user.title}} {{vm.user.firstname}} <b>{{vm.user.surname}}</b> das Dokument <b>{{vm.documentFile.fileName}}</b> zuweisen.
    	Dieses Dokument ist f&uuml;r User mit der Rolle <b>{{vm.user.projectUserConnectionRole | translate}}</b> gesperrt.
    	<br />
    	<br />
	</div>
</div>