<div class="usersAssignedToContactModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeUsersAssignedToContactModal()"></span>
        <h4 class="modal-title"><span class="glyphicon glyphicon-resize-horizontal"></span> Usermitgliedschaft von <span class="glyphicon glyphicon-home" style="color:{{vm.contact.color}}"></span> <b>{{vm.contact.institution}}</b></h4>
    </div>
    <div class="modal-body">
       <div>
       	<span class="glyphicon glyphicon-edit icon-hover" data-ng-init="addUsers = false" data-ng-click="addUsers = !addUsers" data-ng-show="addUsers == false"></span> 
       	<span class="glyphicon glyphicon-edit icon-hover" data-ng-click="addUsers = !addUsers" data-ng-show="addUsers == true"></span>
       	<b>{{vm.contact.institution}}</b> Usermitgliedschaft bearbeiten
       </div>
       <br />
       <div class="listOfUsers" data-ng-show="addUsers == true" style="max-height:300px;overflow-y:auto;">
       		<input type="text" class="form-control" style="width:250px;" data-ng-model="userSearchString" placeholder="User suchen" />
       		<table class="table">
       			<thead>
       				<tr>
       					<th></th>
       					<th>Name</th>
       					<th></th>
       				</tr>
       			</thead>
       			<tbody>
	       			<tr data-ng-repeat="user in vm.users | filter:userSearchString track by $index">
	       				<td><input type="checkbox" data-ng-init="user.checked = vm.userStillAdded(user)" data-ng-checked="user.checked" data-ng-model="user.checked" data-ng-change="vm.userSelectionChanged(user, user.checked)" /></td>
	       				<td>
	       					<span class="glyphicon glyphicon-user" data-ng-style="{'color': user.color}"></span>
	       					{{user.title}} {{user.firstname}} {{user.surname}}
	       				</td>
	       				<td>
	       					<span class="glyphicon glyphicon-ok successMessage" data-ng-show="user.addedUserToContactTrigger == true"></span>
	       					<span class="glyphicon glyphicon-ok successMessage" data-ng-show="user.removedUserFromContactTrigger == true"></span>
	       				</td>
	       			</tr>
	       		</tbody>
       		</table>
       </div>
       <br />
       <div data-ng-show="vm.projectUserConnections.length == 0">
       	Zu diesem Kontakt ist kein User zugeordnet
       </div>
       
       <table class="table table-striped" data-ng-show="vm.projectUserConnections.length > 0" style="width: 100%;">
       		<thead>
       			<tr>
       				<th>#</th>      				
       				<th>Name</th>
       				<th></th>
       			</tr>
       		</thead>
       		<tbody>
	       		<tr data-ng-repeat="projectUserConnection in vm.projectUserConnections">
	       			<td>{{$index+1}}.</td>
	       			<td>
	       				<span class="glyphicon glyphicon-user" data-ng-style="{'color': projectUserConnection.user.color}"></span> 
	       				{{projectUserConnection.user.title}} {{projectUserConnection.user.firstname}} {{projectUserConnection.user.surname}}
	       			</td>
	       			<td>
	       				<span class="glyphicon glyphicon-minus icon-hover" data-ng-click="vm.userSelectionChanged(projectUserConnection.user, false);vm.uncheckUser(projectUserConnection.user)"></span>
	       			</td>
	       		</tr>
       		</tbody>
       </table>
    </div>
</div>