<div class="deletionCalendarEventModal">
    <div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeCalendarEventDeletionModal()"></span>
        <h4 class="modal-title"><span class="glyphicon glyphicon-calendar"></span> Diesen Termin wirklich l&ouml;schen?</h4>
    </div>
    <div class="modal-body">
        <div>
        	Wollen Sie 
        	<div data-ng-if="vm.calendarEvent.serialDate == true" style="margin-left: 40px;">
        		<br />
		  		<div><input type="checkbox" data-ng-model="vm.deleteSerialDates" /> alle Termine des Serientermins</div>
		  		<div><input type="checkbox" data-ng-model="vm.deleteUniqueDate" /> nur diesen Termin</div>
		  		<br />
		  	</div>
		  	<span data-ng-if="vm.calendarEvent.serialDate == null || vm.calendarEvent.serialDate == false">diesen Termin </span>mit dem Titel <span ng-bind-html="vm.calendarEvent.title"></span> <span class="dateTime">(<b>{{vm.calendarEvent.startsAt | date:'dd.MM.yyyy HH:mm'}}</b> - <b>{{vm.calendarEvent.endsAt | date:'dd.MM.yyyy HH:mm'}}</b>)</span> <b>({{vm.calendarEvent.calendarEventType | translate}})</b> wirklich l&ouml;schen?
         </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" data-ng-disabled="vm.calendarEvent.serialDate == true && !vm.deleteSerialDates && !vm.deleteUniqueDate" data-ng-click="vm.calendarEventDeletion()">L&ouml;schen</button>
        <button class="btn btn-default" type="button" data-ng-click="vm.closeCalendarEventDeletionModal()">Abbrechen</button>
    </div>
</div>
