.signupForm .errorMessage {
	color: #f00;
	font-size: 0.85em;
	font-weight: bold;
}
.misrememberPassword .explanation {
	font-size: 0.85em;
}
.signin .browserInfo {
	color: #aaa;
	text-align: center;
}