<div class="container">
	<div class="row clearfix">
		<div class="page-header">
		</div>
		<div class="col-md-6 col-md-offset-3">
		    <div class="btn-group btn-group-justified" role="group" style="margin-bottom: 10px;">
		        <a class="btn btn-default" role="button" ui-sref="home.signin" ui-sref-active="active">Anmelden</a>
		        <a class="btn btn-default" role="button" ui-sref="home.signup" ui-sref-active="active">Registrieren</a>
		    </div>
		</div> 
	</div>
	<div class="row clearfix">
		<div ui-view>
		</div>
	</div>
</div>