<div class="printCalendarEventsModal modal-dialog printable">    
    <div class="controlButtons">
    	<button onClick="javascript:window.print()" type="button" class="btn btn-default printButton"><span class="glyphicon glyphicon-print"></span></button>
		<span class="glyphicon glyphicon-remove close" style="margin-right:20px;margin-top:-10px;" data-ng-click="vm.closeCalendarEventPrintModal()"></span>
    </div>
    <br />
    <div class="modal-body">
    	<div data-ng-show="vm.calendarEvents.length > 0">
	      	<b>{{vm.calendarEvents.length}}</b> Termine <span data-ng-show="vm.calendarEventSearchString != null && vm.calendarEventSearchString.length > 0">(gefiltert nach <b>{{vm.calendarEventSearchString}})</b></span>:
	      	<br />
	      	<br />
	      	<table class="table table-hover">
	      		<thead>
	      			<tr>
	      				<th class="largerHeaderColumnFrom">
	      					<table>
								<tr>
									<td>Von</td>
									<td><span>&nbsp;</span></td>
									<td><span class="glyphicon glyphicon-chevron-up icon-hover sortIcon" data-ng-click="vm.orderType = '-startsAt'"></span></td>
									<td><span class="glyphicon glyphicon-chevron-down icon-hover sortIcon" data-ng-click="vm.orderType = 'startsAt'"></span></td>
								</tr>
							</table>
	      				</th>
	      				<th class="largerHeaderColumnUntil">
							<table>
								<tr>
									<td>Bis</td>
									<td><span>&nbsp;</span></td>
									<td><span class="glyphicon glyphicon-chevron-up icon-hover sortIcon" data-ng-click="vm.orderType = '-endsAt'"></span></td>
									<td><span class="glyphicon glyphicon-chevron-down icon-hover sortIcon" data-ng-click="vm.orderType = 'endsAt'"></span></td>
								</tr>
							</table>
						</th>
						<th>
							<table>
								<tr>
									<td>Projekt</td>
									<td><span>&nbsp;</span></td>
									<td><span class="glyphicon glyphicon-chevron-up icon-hover sortIcon" data-ng-click="vm.orderType = '-projectName'"></span></td>
									<td><span class="glyphicon glyphicon-chevron-down icon-hover sortIcon" data-ng-click="vm.orderType = 'projectName'"></span></td>
								</tr>
							</table>
						</th>
	      				<th>
	      					<table>
								<tr>
									<td>Beschreibung</td>
									<td><span>&nbsp;</span></td>
									<td><span class="glyphicon glyphicon-chevron-up icon-hover sortIcon" data-ng-click="vm.orderType = '-title'"></span></td>
									<td><span class="glyphicon glyphicon-chevron-down icon-hover sortIcon" data-ng-click="vm.orderType = 'title'"></span></td>
								</tr>
							</table>
	      				</th>
	      			<tr>
	      		</thead>
	      		<tbody>
		      		<tr data-ng-repeat="calendarEvent in vm.calendarEvents | orderBy:vm.orderType track by $index">
		      			<td><span>{{calendarEvent.startsAt | date:'EEE dd.MM.yyyy HH:mm'}}</span></td>
		      			<td><span>{{calendarEvent.endsAt | date:'dd.MM.yyyy HH:mm'}}</span></td>
		      			<td><span>{{calendarEvent.projectName}}</span></td>
		      			<td>
		      				<span data-ng-bind-html="calendarEvent.title"></span>
		      				<span data-ng-show="calendarEvent.serialDate == true">(S)</span>
		      			</td>
		      		</tr>
	      		</tbody>
	      	</table>
      	</div>
      	<div data-ng-show="vm.calendarEvents.length == 0">
      		Es sind keine Termine vorhanden
      	</div>
    </div>
</div>