<div data-ng-show="executionDate != null">
	<div data-ng-show="selectedProject != null">Ausgew&auml;hltes Projekt: <b>{{selectedProject.name}}</b></div>
	<div data-ng-show="selectedProject == null" class="errorMessage">Bitte ein Projekt ausw&auml;hlen</div>
</div>
<div class="input-group">
     <span class="input-group-addon">
   		Lesebest&auml;tigung: <input type="checkbox" data-ng-model="confirmation"><br /><br />
   		
   		<p class="input-group">
	    	<input type="text"
                     class="form-control dateInput"
                     name="startsAt"                                
                     data-ng-model="executionDate"
                     datepicker-popup="dd.MM.yyyy"
                     is-open="executionDatePicker"
                     close-text="schlie&szlig;en"
                     current-text="heute"
                     clear-text="l&ouml;schen"
                     datepicker-options="{startingDay: 1}"
                     placeholder="Erledigt bis"
                     disabled>
           	<span class="input-group-btn">
                		<button type="button" class="btn btn-default btn-xs"                         		   
                        data-ng-click="openExecutionDatePicker($event)">
                        <span class="glyphicon glyphicon-calendar"></span>
                     </button>
           	</span>
		  </p>
  	</span>
   	<textarea rows="8" class="form-control" data-ng-model="message" aria-label="message" placeholder="Nachricht hier eingeben - erste Zeile ist der Betreff der Nachricht">
   		<span data-ng-bind-html="message"></span>
   	</textarea>
   	<div class="input-group-btn">	
	   	<span>
	     	<span class="btn btn-default btn-file" data-ng-click="addAttachmentFiles()">
			    <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
			</span>
			<button type="submit" class="btn btn-default" data-ng-click="sendMessage()" data-ng-disabled="executionDate != null && selectedProject == null">Absenden</button>
	    </span>
  	</div>
</div>
<div data-ng-show="selectedDocumentFiles.length > 0">
	<b>Anh&auml;nge:</b>
	<div data-ng-repeat="selectedDocumentFile in selectedDocumentFiles">
		{{$index+1}}. <b>{{selectedDocumentFile.selectedDocumentFile.fileName}}</b> (<i>{{selectedDocumentFile.documentFileVersion.version.substr(1)}}</i>, Hochgeladen am <i>{{selectedDocumentFile.documentFileVersion.uploadTime}}</i>)
	</div>
	<br />
</div>
<div class="errorMessage" data-ng-show="noMessageError == true">Keine Nachricht eingegeben</div>
<div class="errorMessage" data-ng-show="noUserSelectedError == true">Keine Mitarbeiter oder Kommunikationsgruppen ausgew&auml;hlt</div>