.dashboard {
	margin-bottom: 110px;
}
.dashboard .toast {
	margin-top: 58px;
	margin-right: 15px !important;
}   
.dashboard .infoSign { 
	color: #007ab9;
}      
.dashboard .typeLabel {
	border: 1px solid #ccc;
	padding: 2px;
	display: inline;
	border-radius: 4px;
	font-size: 0.85em;
	background-color: #f9f9f9;
}  
.dashboard .widgetHeader {
	background: linear-gradient(to right, #eee, #f7f7f7); 
	max-width: 98%;
	color:#000;
	margin-top:-32px;
}  
.dashboard .cog {
	float:right;
	margin-top:-55px;
	margin-right:-22px;
	color:#bbb;
}
.dashboard .glyphiconStyle {
	background-color:#007ab9;
	border-bottom-right-radius:8px;
	border-top-left-radius:8px;
	font-size: 2.5em;
	padding:14px;
	color:#fff;
	margin-left:-30px;
	box-shadow: 3px 2px 4px 0 rgba(0, 0, 0, 0.1), 3px 3px 4px 0 rgba(0, 0, 0, 0.19);
}
.dashboard .dashboardLink {
	float:right;
	margin-top:-35px !important;
	background-color:#eee;
	padding:15px;
	margin-right:-31px;
	color:#007ab9;
}
.dashboard .dashboardHeadline {
	font-size:1.5em;
	background-color: #eee;
	padding-top:29px;
	padding-left:8px;
	padding-right:20px;
	padding-bottom:10px;
}
.dashboard .toast .alert {
	background-color: rgba(250, 250, 250); 
	color: #000;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #ccc;
	border-left: 14px solid #007ab9;
	box-shadow: 5px 5px 2px #999;
}
.dashboard .lastLogin {
	position: absolute;
	right: 30px;
	top: 10px;
	color: white;
	font-size: 0.9em;
}
.dashboard .projectName {  
	font-weight: bold;
}
.dashboard .projectContainer {
	max-height: 250px; 
	overflow-y:auto;
}
.dashboard .confirmationNeeded {
	color: #f00;
}
.dashboard .noEntries {
	margin-left: 45px;
	margin-top:10px;
}
.dashboard .container {
	background-color: #f9f9f9;
	margin-bottom: 20px;
	padding: 30px;
	border-radius: 8px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
}
.dashboard .projectSelected {
	color: #3170b2;
	background-color: #d9edf7;
	padding: 8px;
}
.dashboard .projectDescription {
	margin-left: 10px;
	font-size: 0.9em;
	font-style: italic;
}
.dashboard .documentSize {
	font-size: 0.8em;
	float: right;
	margin-left: 10px;
	font-weight: bold;
}
.dashboard .documentDate,
.dashboard .projectDate {
	font-size: 0.8em;
	float: right;
}
.dashboard .newDocumentContainer {
	border: 1px solid #ccc;
	min-height: 400px; 
	margin-top: 40px;
}
.dashboard .newDocument {
	margin-top: 170px;
	font-size: 1.8em;
	font-weight: bold;
	-webkit-transform: rotate(-90deg);   
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.dashboard .button {
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    padding: 10px;
    margin: 10px;
    width: 70px;
}
.dashboard .drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 100px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}
.dashboard .dragover {
    border: 5px dashed #7D7D7D;
}
.dashboard .colorContainer {
	width: 10px;
	height: 10px;
}
.dashboard .messages {
	max-height: 250px;
	overflow-y:auto;
}
.contactAndContactImportedModal .close,
.adjustmentModal .close {
	float: right;
	margin-right: 5px;
	margin-top: 5px;
	font-size: 0.9em;
}
.communicationMessageModal .additionalInformation {
	font-size: 0.85em;
}
.contactAndContactImportedModal .header {
	font-weight: bold;
	background-color:#eee;
	padding:10px;
}
.contactAndContactImportedModal .changedMarker {
	background-color: #F2FF00;	
	padding-bottom: 5px;
}