<div class="row clearfix dashboard non-printable">
	<div class="breadcrumb">
		<span class="explanation"><span class="glyphicon glyphicon-th-large"></span> Dashboard</span>
		<div style="float:right;font-size:0.8em;margin-top:10px;" data-ng-show="vm.lastLogin.loginDateTime != null && vm.lastLogin.loginDateTime != ''">Letzter Login: {{vm.lastLogin.loginDateTime}}</div>
		<span class="logo">wdm</span>
	</div>
	<toast class="toast"></toast>
    <div class="col-md-6 column">
    	<div class="container col-md-12 column" data-ng-show="['ADMIN', 'SUPER_ADMIN'].indexOf(vm.currentUser.projectUserConnectionRole)!=-1" style="background-color:{{vm.currentUser.colorOfContactsImported}}">
    		<div class="widgetHeader">
		    	<span class="glyphicon glyphicon-home glyphiconStyle"></span>
		    	<span class="dashboardHeadline">
		    		<span style="position:relative;top:-8px;">
						Meine zu &uuml;berpr&uuml;fenden <b>Kontakte</b>
						<span class="badge icon-hover" style="background-color:#007ab9" data-ng-show="vm.contactAndContactImportedContainers.length > 0" data-ui-sref="auth.contacts({userId: '{{ vm.currentUser.id }}'})" title="Zu importierende Kontakte">{{vm.amountOfContactsImported}}</span>
						<span class="badge icon-hover" style="background-color:#007ab9" data-ng-show="vm.contactAndContactImportedContainers.length > 0" data-ui-sref="auth.contacts({userId: '{{ vm.currentUser.id }}'})" title="Zu exportierende Kontakte">{{vm.amountOfContactsToExport}}</span>
					</span>
		    	</span> 
		    </div>
	    	<span class="glyphicon glyphicon-cog icon-hover cog" data-ng-click="vm.showAdjustmentModal('CONTACTS')" title="Kontakte"></span>
	    	<div class="dashboardLink icon-hover" style="margin-top:-10px;" data-ui-sref="auth.contacts({userId: '{{ vm.currentUser.id }}'})" title="Termine">
        		<span class="glyphicon glyphicon-chevron-right"></span>
        	</div>
        	<span class="noEntries">
        		<br />
        		<br />
        		<span style="margin-left:45px;display:block;">
        			
        			<span class="glyphicon glyphicon-home"></span> Kontakte insgesamt: <b>{{vm.amountOfContacts || '0'}}</b><br />
        			<span class="glyphicon glyphicon-import"></span> Importierte Kontakte: <b>{{vm.amountOfContactsImported || '0'}}</b><br />
        			<span class="glyphicon glyphicon-ok"></span> Importierte best&auml;tigte Kontakte insgesamt: <b>{{vm.amountOfContactsPreviousImported || '0'}}</b>
        		</span>
        	</span>
        	<span class="glyphicon glyphicon-refresh icon-hover" data-ng-show="vm.amountOfContactsImported.length > 0" data-ng-click="vm.contactAndContactImportedContainers = [];vm.loadContactsImported(0)"></span>
        	<div class="loadingContainer" data-ng-show="vm.loadingContactsImported == true">
			  	<img src="assets/img/loading.gif" />
			</div>
			<div class="icon-hover" style="float:right;" data-ng-show="vm.contactAndContactImportedContainers.length < 5" data-ng-click="vm.contactAndContactImportedContainers = [];vm.loadContactsImported(0)"><span class="glyphicon glyphicon-refresh"></span> Nachladen importierter Kontakte</div>
			<div data-ng-show="vm.contactAndContactImportedContainers.length > 0" style="background-color:#eee;padding:10px;"><b><span class="glyphicon glyphicon-import"></span> Zu importierende Kontakte</b> ({{vm.contactAndContactImportedContainers.length}} / {{vm.amountOfContactsImported}}):
				<span class="errorMessage" style="float:right;" data-ng-show="vm.contactImportedConfirmed == true">importierter Kontakt wurde best&auml;tigt</span>
        		<span class="errorMessage" style="float:right;" data-ng-show="vm.contactImportedDeleted == true">importierter Kontakt wurde gel&ouml;scht</span>
			</div>
			<div style="max-height:300px;overflow-y:auto;">
				<div infinite-scroll="vm.loadingPagedContactsImported()" 
					infinite-scroll-parent="true">
		        	<table class="table" data-ng-show="vm.contactAndContactImportedContainers.length > 0">
		        		<thead>
		        			<tr>
		        				<th>#</th>
		        				<th>bestehender Kontakt</th>
		        				<th>importierter Kontakt</th>
		        				<th>anzeigen/best&auml;tigen/l&ouml;schen</th>
		        			</tr>
		        		</thead>
		        		<tbody>
			        		<tr class="backgroundColorPulse" data-ng-repeat="contactAndContactImportedContainer in vm.contactAndContactImportedContainers track by $index">
			        			<td>{{$index+1}}.</td>
			        			<td>
			        				<span class="glyphicon glyphicon-ban-circle errorMessage icon-hover" data-ng-show="contactAndContactImportedContainer.contact.active == false" title="Kontakt wurde deaktiviert"></span>
			        				<span class="glyphicon glyphicon-home" style="color:{{contactAndContactImportedContainer.contact.color}}" data-ng-show="contactAndContactImportedContainer.contact != null"></span>
			        				{{contactAndContactImportedContainer.contact.institution || '--'}}
			        			</td>
			        			<td title="{{vm.getCustomerNumbers(contactAndContactImportedContainer.contactImported.customerNumberContainers)}} - Neuer Kunde: {{contactAndContactImportedContainer.contactImported.newContact == true ? 'ja' : 'nein'}}">
			        				<span class="glyphicon glyphicon-home" style="color:{{contactAndContactImportedContainer.contactImported.color}}"></span>
			        				{{contactAndContactImportedContainer.contactImported.customerNumberContainers[0].customerNumber || '--'}}
			        				<b>{{contactAndContactImportedContainer.contactImported.institution || '--'}}</b>
			        				{{contactAndContactImportedContainer.contactImported.address.street || '--'}}
			        				{{contactAndContactImportedContainer.contactImported.address.region || '--'}}
			        				<img data-ng-src="assets/img/{{contactAndContactImportedContainer.contactImported.address.country}}.png" style="margin-top:-2px;" />
			        			</td>
			        			<td>
			        				<button class="btn btn-default" type="button" data-ng-click="vm.showContactAndContactImported(contactAndContactImportedContainer, $index)" title="Importierten Kontakte dem bestehenden Kontakt gegen&uuml;berstellen">
										<span class="glyphicon glyphicon-duplicate"></span>
									</button>
									<button class="btn btn-default" type="button" data-ng-init="contactAndContactImportedContainer.clicked == false" data-ng-disabled="contactAndContactImportedContainer.clicked == true" data-ng-click="contactAndContactImportedContainer.clicked = true;vm.confirmContactImported(contactAndContactImportedContainer, $index)" title="Importierten Kontakt best&auml;tigen">
										<span class="glyphicon glyphicon-ok"></span>
									</button>
									<button class="btn btn-default" type="button" data-ng-click="vm.showDeleteContactImported(contactAndContactImportedContainer.contactImported, $index)" title="Importieren Kontakt l&ouml;schen">
										<span class="glyphicon glyphicon-minus"></span>
									</button>
			        			</td>
			        		</tr>
			        	</tbody>
		        	</table>
		        </div>
		     </div>
        	<div data-ng-show="vm.contactAndContactImportedContainers.length == 0" class="noEntries">Keine importierten Kontakte vorhanden</div>
        	<div>
        		<hr />
        		<br />
        		<span style="margin-left:45px;display:block;">
        			<span class="glyphicon glyphicon-export"></span> Zu exportierende Kontakte insgesamt: <b>{{vm.amountOfContactsChanged || '0'}}</b><br />
        			<span class="glyphicon glyphicon-ok"></span> Zu exportierende best&auml;tigte Kontakte: <b>{{vm.amountOfCommittedContactsChanged || '0'}}</b><br />
        		</span>
        		<br />
        		<div data-ng-show="vm.contactsChanged.length > 0" style="background-color:#eee;padding:10px;"><span class="glyphicon glyphicon-export"></span> <b>Zu exportierende Kontakte</b> ({{vm.contactsChanged.length}} / {{vm.amountOfContactsToExport}})
        			<span class="errorMessage" style="float:right;" data-ng-show="vm.contactToExportConfirmed == true">Zu exportierender Kontakt wurde exportiert</span>
        			<span class="errorMessage" style="float:right;" data-ng-show="vm.contactToExportDeleted == true">Zu exportierender Kontakt wurde gel&ouml;scht</span>
        		</div>
        		<div style="max-height:300px;overflow-y:auto;">
					<div infinite-scroll="vm.loadingPagedContactsToExport()" 
						infinite-scroll-parent="true">
		        		<table class="table" data-ng-show="vm.contactsChanged.length > 0">
		        			<thead>
		        				<tr>
		        					<th>#</th>
		        					<th>Zu exportierender Kontakt</th>
		        					<th>anzeigen/best&auml;tigen/l&ouml;schen</th>
		        				</tr>
		        			</thead>
			        			<tr class="backgroundColorPulse" data-ng-repeat="contactChanged in vm.contactsChanged track by $index">
			        				<td>{{$index+1}}.</td>
			        				<td>
			        					<span class="glyphicon glyphicon-home" style="color:{{contactChanged.color}}"></span>
			        					{{contactChanged.institution}}
			        					{{contactChanged.address.street || '--'}}
					        			{{contactChanged.address.region || '--'}}
					        			<img data-ng-src="assets/img/{{contactChanged.address.country}}.png" style="margin-top:-2px;" />
					        			{{(contactChanged.address.country | translate) || '--'}}
			        				</td>
			        				<td>
				        				<button class="btn btn-default" type="button" data-ng-click="vm.showContactChanged(contactChanged, $index)" title="Zu exportierenden Kontakt anzeigen">
											<span class="glyphicon glyphicon-file"></span>
										</button>
										<button class="btn btn-default" type="button" data-ng-click="vm.commitContactChanged(contactChanged, $index)" title="Zu exportierenden Kontakt best&auml;tigen">
											<span class="glyphicon glyphicon-ok"></span>
										</button>
										<button class="btn btn-default" type="button" data-ng-click="vm.showDeleteContactExport(contactChanged, $index)"  title="Zu exportierenden Kontakt l&ouml;schen">
											<span class="glyphicon glyphicon-minus"></span>
										</button>
				        			</td>
			        			</tr>
		        		</table>
		        	</div>
		        </div>
        	</div> 
        	<div data-ng-show="vm.contactsChanged.length == 0" class="noEntries">Keine zu exportierenden Kontakte vorhanden</div>	
    	</div>
    	<div class="container col-md-12 column" data-ng-show="vm.userAuthorizationUserContainer.userAuthorizations[3].state == true || vm.currentUser.userAuthorizationUserContainer.userAuthorizations[0].state == true" style="background-color:{{vm.currentUser.colorOfProducts}}">
    		<!-- products -->
    		<div data-ng-show="vm.userAuthorizationUserContainer.userAuthorizations[3].state == true">
	    		<div class="widgetHeader">
	    			<table>
	    				<tr>
	    					<td>
	    						<span class="glyphicon glyphicon-filter glyphiconStyle"></span> 
	    						<span class="dashboardHeadline">
	    							<span style="position:relative;top:-8px;">
		    							Meine 
		    							<b><span data-ui-sref="auth.products({userId: '{{ vm.currentUser.id }}'})" class="icon-hover">Produkte</span></b>
		    							<span class="badge icon-hover" style="background-color:#007ab9" data-ng-show="vm.productsOfUser.length > 0" data-ui-sref="auth.products({userId: '{{ vm.currentUser.id }}'})">{{vm.productsOfUser.length}}</span>
		    						</span>
	    						</span>
	    						<span>&nbsp;</span>
	    					</td>
	    					<td><span>&nbsp;</span></td>
	    					<td><span>&nbsp;</span></td>
	    					<td><span class="glyphicon glyphicon-search"></span></td>
	    					<td><span>&nbsp;</span></td>
	    					<td>
	    						<input type="text" 
							       class="form-control" 
								   placeholder="Produkt hinzuf&uuml;gen" 
								   data-ng-model="vm.selectedProduct"
								   typeahead="product as product.number + ' ' + product.name for product in vm.getProductsByTerm($viewValue)"
								   typeahead-min-length="2"
								   typeahead-wait-ms="100"
								   typeahead-editable="false" 
								   typeahead-on-select="vm.productSelected(vm.selectedProduct)" />
	    					</td>
	    					<td><span>&nbsp;</span></td>
	    					<td>
	    						<span class="glyphicon glyphicon-ok successMessage" data-ng-show="vm.addedProductSuccess"></span>
	    						<span data-ng-show="vm.addProjectError" class="errorMessage">Produkt bereits hinzugef&uuml;gt</span>
	    					</td>
	    				</tr>
	    			</table>
	    		</div>
	    		<div class="glyphicon glyphicon-cog icon-hover cog" data-ng-click="vm.showAdjustmentModal('PRODUCTS')" title="Produkte und Projekte"></div>
    			<div class="dashboardLink icon-hover" data-ui-sref="auth.products({userId: '{{ vm.currentUser.id }}'})" title="Produkte">
	        		<span class="glyphicon glyphicon-chevron-right"></span>
	        	</div>
	    		<div>
	    			<div class="loadingContainer" data-ng-show="vm.productsOfUser == null">
					  	<img src="assets/img/loading.gif" />
					</div>
					<table data-ng-hide="vm.data.length == 0 && vm.productsOfUser.length == 0">
						<tr>
							<td>
				    			<table>
				    				<tr>
				    					<td>
					    					<div style="width:160px;height:160px;">
					    						<div class="loadingContainer" data-ng-show="vm.data.length == 0" style="padding-top:80px;padding-left:60px;">
												  	<img src="assets/img/loading.gif" />
												</div>
							    				<canvas id="pie" class="chart chart-pie" chart-data="vm.data" chart-labels="vm.labels" chart-options="vm.options"></canvas>
							    			</div>
							    			<span style="margin-left:30px;"><b>{{vm.amountOfProducts}}</b> Produkt(e) angelegt</span>
						    			</td>
				    				</tr>
				    				
				    			</table>
				    		</td>
							<td>
				    			<table data-ng-show="vm.productsOfUser.length > 0">
				    				<tr>
				    					<td>
					    					<table class="table">
							    				<thead>
							    					<tr>
							    						<th>#</th>
							    						<th>Nr</th>
							    						<th>Produktbezeichnung</th>
							    						<th>Art</th>
							    						<th></th>
							    					</tr>
							    				</thead>
							    				<tr data-ng-repeat="product in vm.productsOfUser track by $index">
							    					<td>{{$index+1}}.</td>
							    					<td><span data-ui-sref="auth.project({userId: '{{vm.currentUser.id}}', type: 'PRODUCT', projectUserConnectionId: 'empty', projectOrProductId: '{{product.id}}', folderId: ''})">{{product.number}}</span></td>
							    					<td><span class="icon-hover" data-ui-sref="auth.project({userId: '{{vm.currentUser.id}}', type: 'PRODUCT', projectUserConnectionId: 'empty', projectOrProductId: '{{product.id}}', folderId: ''})"><span class="glyphicon glyphicon-filter" style="color:{{product.color}}"></span> {{product.name}}</span></td>
							    					<td>
														<span class="typeLabel" style="margin-left:3px;" data-ng-repeat="type in product.types" data-ng-switch="type">
															<span data-ng-switch-when="LAB_CHEMICAL">
															 	<span class="fa fa-circle" aria-hidden="true" style="color:#46bfbd"></span> {{(type | translate) || '--'}}
															 </span>
															 <span data-ng-switch-when="RAW_MATERIAL">
															 	<span class="fa fa-circle" aria-hidden="true" style="color:#97bbcd"></span> {{(type | translate) || '--'}}
															 </span>
															 <span data-ng-switch-when="TRADING_GOODS">
															 	<span class="fa fa-circle" aria-hidden="true" style="color:#f7464a"></span> {{(type | translate) || '--'}}
															 </span>
															 <span data-ng-switch-when="BLEND">
															 	<span class="fa fa-circle" aria-hidden="true" style="color:#dcdcdc"></span> {{(type | translate) || '--'}}
															 </span>
														</span>
													</td>
							    					<td><span class="glyphicon glyphicon-minus icon-hover" data-ng-click="vm.removeProduct(product)"></span></td>
							    				</tr>
							    			</table>
							    		</td>
				    				</tr>
				    			</table>
				    		</td>
				    	</tr>
		    		</table>
		    	</div>
		    	<div data-ng-show="vm.productsOfUser.length == 0" class="noEntries">Keine Produkte vorhanden</div>
		    </div>
	    </div>
	    <div class="container col-md-12 column" data-ng-show="vm.userAuthorizationUserContainer.userAuthorizations[3].state == true || vm.currentUser.userAuthorizationUserContainer.userAuthorizations[0].state == true" style="background-color:{{vm.currentUser.colorOfProjects}}">
	    	<!-- projects -->
    		<div data-ng-show="vm.currentUser.userAuthorizationUserContainer.userAuthorizations[0].state == true">
	    		<div class="widgetHeader">
		    			<table>
		    				<tr>
		    					<td>
									<span class="glyphicon glyphicon-folder-open glyphiconStyle"></span> 
		    						<span class="dashboardHeadline">
		    							<span style="position:relative;top:-8px;">
		    								Meine 
		    								<b><span data-ui-sref="auth.projects({userId: '{{ vm.currentUser.id }}'})" class="icon-hover">Projekte</span></b>
		    								<span class="badge icon-hover" style="background-color:#007ab9" data-ng-show="vm.projectUserConnections.length > 0" data-ui-sref="auth.projects({userId: '{{ vm.currentUser.id }}'})">{{vm.projectUserConnections.length}}</span>
		    							</span>
		    						</span>
		    						<span>&nbsp;</span>
		    					</td>
		    					<td><span>&nbsp;</span></td>
		    					<td><span>&nbsp;</span></td>
		    					<td><span class="glyphicon glyphicon-search"></span></td>
		    					<td><span>&nbsp;</span></td>
		    					<td>
		    						<input type="text" 
								       class="form-control" 
									   placeholder="Projekt hinzuf&uuml;gen" 
									   data-ng-model="vm.selectedProjectUserConnection"
									   typeahead="projectUserConnection as projectUserConnection.project.name for projectUserConnection in vm.getProjectUserConnectionsByTerm($viewValue)"
									   typeahead-min-length="2"
									   typeahead-wait-ms="100"
									   typeahead-editable="false" 
									   typeahead-on-select="vm.projectUserConnectionSelected(vm.selectedProjectUserConnection)" />
		    					</td>
		    					<td><span>&nbsp;</span></td>
		    					<td>
		    						<span class="glyphicon glyphicon-ok successMessage" data-ng-show="vm.addedProjectUserConnectionSuccess"></span>
		    						<span data-ng-show="vm.addProjectUserConnectionError" class="errorMessage">Projekt bereits hinzugef&uuml;gt</span>
		    					</td>
		    				</tr>
		    			</table>
		    		</div>
	    			<div class="glyphicon glyphicon-cog icon-hover cog" data-ng-click="vm.showAdjustmentModal('PROJECTS')" title="Produkte und Projekte"></div>
			    	<div class="dashboardLink icon-hover" data-ui-sref="auth.projects({userId: '{{ vm.currentUser.id }}'})" title="Projekte">
		        		<span class="glyphicon glyphicon-chevron-right"></span>
		        	</div>
			    	<div class="projectContainer">
			    		<div class="loadingContainer" data-ng-show="vm.projectUserConnections == null">
						  	<img src="assets/img/loading.gif" />
						</div>
			    		<table class="table table-striped" data-ng-show="vm.projectUserConnections.length > 0">
							<thead>
								<tr>
									<th>#</th>
									<th>Projektname</th>
									<th>Meine Rolle</th>
									<th>Angelegt am</th>
									<th>Anzahl Dokumente</th>
									<th data-ng-show="vm.projectUserConnections.length > 1"></th>
									<th></th>
								</tr>
							</thead>
							<tr data-ng-repeat="projectUserConnection in vm.projectUserConnections" data-ng-class="projectUserConnection.selected == true ? 'alert alert-info' : ''">
								<td>{{$index+1}}.</td>
								<td>
									<table>
										<tr>
											<td>
												<div style="float: right;width: 40px; height: 20px;">
													<img data-ng-src="api/files/projectlogo/{{projectUserConnection.project.logoName == null || projectUserConnection.project.logoName == '' ? 'standardLogo.png' : projectUserConnection.project.logoName}}/" alt="logo" style="display: block;max-width:100%;max-height:100%;" />
												</div>
											</td>
											<td>
												<span>&nbsp;</span>
											</td>
											<td>
												<span class="glyphicon glyphicon-folder-open" data-ng-style="{'color': projectUserConnection.project.color}"></span>
											</td>
											<td>
												<span>&nbsp;</span>
											</td>
											<td>
												<span>&nbsp;</span>
											</td>
											<td>
												<span class="icon-hover" data-ui-sref="auth.project({userId: '{{vm.currentUser.id}}', type: 'PROJECT', projectUserConnectionId: '{{ projectUserConnection.id }}', projectOrProductId: '{{ projectUserConnection.project.id }}', folderId: ''})">
													{{projectUserConnection.project.name}}
												</span>
											</td>
										</tr>
									</table>
								</td>
								<td>{{projectUserConnection.projectUserConnectionRole | translate}}</td>
								<td>{{projectUserConnection.project.creationDate}}</td>
								<td><span class="icon-hover" data-ng-init="vm.getAmountOfDocumentFilesWithUniqueName(projectUserConnection.project)" data-ui-sref="auth.project({userId: '{{vm.currentUser.id}}', type: 'PROJECT', projectUserConnectionId: '{{ projectUserConnection.id }}', projectOrProductId: '{{ projectUserConnection.project.id }}', folderId: ''})">{{projectUserConnection.project.amountOfDocumentFilesWithUniqueName}}</span></td>
								<td data-ng-show="vm.projectUserConnections.length > 1">
									<input type="checkbox" name="project" data-ng-model="projectUserConnection.defaultProject" data-ng-checked="projectUserConnection.defaultProject" data-ng-value="projectUserConnection.defaultProject" data-ng-click="vm.setAsDefaultProject(projectUserConnection)" title="Projekt als Defaultprojekt setzen" />
									<span data-ng-show="projectUserConnection.updatedSuccessfully == true" class="glyphicon glyphicon-ok successMessage"></span>
								</td>
								<td><span class="glyphicon glyphicon-minus icon-hover" data-ng-click="vm.removeProjectUserConnection(projectUserConnection)"></span></td>
							</tr>
						</table>
					</div>
		    	<div data-ng-show="vm.projectUserConnections.length == 0" class="noEntries">Keine Projekte vorhanden</div>
		    </div>
	    </div>
    	<div class="container col-md-12 column" style="background-color:{{vm.currentUser.colorOfCalendarEvents}}">
    		<div class="widgetHeader">
		    	<span class="glyphicon glyphicon-calendar glyphiconStyle"></span>
		    	<span class="dashboardHeadline">
		    		<span style="position:relative;top:-8px;">
						Meine <b>Termine</b>
						<span class="badge icon-hover" style="background-color:#007ab9" data-ng-show="vm.calendarEventsOfNextWeeks.length > 0" data-ui-sref="auth.calendar({userId: '{{ vm.currentUser.id }}'})">{{vm.calendarEventsOfNextWeeks.length}}</span>
					</span>
		    	</span> 
		    </div>
	    	<span class="glyphicon glyphicon-cog icon-hover cog" data-ng-click="vm.showAdjustmentModal('CALENDAR_EVENTS')" title="Termine"></span>
	    	<div class="dashboardLink icon-hover" style="margin-top:-10px;" data-ui-sref="auth.calendar({userId: '{{ vm.currentUser.id }}'})" title="Termine">
        		<span class="glyphicon glyphicon-chevron-right"></span>
        	</div>
	    	<table class="table table-striped" data-ng-show="vm.calendarEventsOfNextWeeks.length > 0" style="margin-top:20px;">
	    		<tbody>
		    		<tr data-ng-repeat="calendarEvent in vm.calendarEventsOfNextWeeks | orderBy:'startsAt'" data-ng-class="calendarEvent.remainingDays == 0 ? 'backgroundColorPulse' : ''">
		    			<td>
		    				<span data-ng-bind-html="calendarEvent.title"></span>
		    				<span data-ng-show="calendarEvent.serialDate == true" title="Serientermin">(S)</span>
		    			</td>
		    			<td>
		    				<table>
		    					<tr>
		    						<td>
		    							<span class="glyphicon glyphicon-folder-open" data-ng-style="{'color': calendarEvent.color.primary}"></span>
		    						</td>
		    						<td>
										<span>&nbsp;</span>
									</td>
									<td>
										<span>&nbsp;</span>
									</td>
									<td>
										{{calendarEvent.projectName || '--'}}
									</td>
		    					</tr>
		    				</table>
		    			</td>
		    			<td>
		    				<span data-ng-show="vm.datesAreEqual(calendarEvent.startsAt, calendarEvent.endsAt) == false">{{calendarEvent.startsAt | date:'EEE dd.MM.yyyy HH:mm'}}</span>
		    				<span data-ng-show="vm.datesAreEqual(calendarEvent.startsAt, calendarEvent.endsAt) == true">{{calendarEvent.startsAt | date:'EEE dd.MM.yyyy'}}:</span>
		    				<span data-ng-show="vm.datesAreEqual(calendarEvent.startsAt, calendarEvent.endsAt) == true">{{calendarEvent.startsAt | date:'HH:mm'}} - </span> 
		    				<span data-ng-show="vm.datesAreEqual(calendarEvent.startsAt, calendarEvent.endsAt) == true">{{calendarEvent.endsAt | date:'HH:mm'}}</span>
		    			</td>
		    			<td>
		    				<span data-ng-show="vm.datesAreEqual(calendarEvent.startsAt, calendarEvent.endsAt) == false">{{calendarEvent.endsAt | date:'EEE dd.MM.yyyy HH:mm'}}</span>
		    			</td>
		    			<td>
		    				<span data-ng-show="calendarEvent.remainingDays > 0">in {{calendarEvent.remainingDays}} Tag(en)</span>
				    		<span data-ng-show="calendarEvent.remainingDays == 0">heute</span>
		    			</td>
		    		</tr>
		    	</tbody>
	    	</table>
    		<div data-ng-show="vm.calendarEventsOfNextWeeks.length == 0" class="noEntries">Keine Termine vorhanden</div>
    	</div>	
    </div>
    <div class="col-md-6 column">
    	<div class="container col-md-12" style="background-color:{{vm.currentUser.colorOfReceivedOrders}}">
    		<div class="widgetHeader">
	        	<div class="glyphicon glyphicon-envelope glyphiconStyle" aria-hidden="true"></div>
		    	<span class="dashboardHeadline">
		    		<span style="position:relative;top:-8px;">
						Meine <b>empfangenen</b> und <b>offenen</b> Arbeitsauftr&auml;ge
						<span class="badge icon-hover" style="background-color:#007ab9" data-ng-show="vm.receivedAndOpenOrders.length > 0" data-ui-sref="auth.communication({userId: '{{ vm.currentUser.id }}'})">{{vm.receivedAndOpenOrders.length}}</span>
					</span>
		    	</span>
		    </div> 
	    	<span class="glyphicon glyphicon-cog icon-hover cog" data-ng-click="vm.showAdjustmentModal('RECEIVED_ORDERS')" title="Empfangene Arbeitsauftr&auml;ge"></span>
	    	<div class="dashboardLink icon-hover" style="margin-top:-10px;" data-ui-sref="auth.communication({userId: '{{ vm.currentUser.id }}'})" title="Empfangene offene Arbeitsauftr&auml;ge">
        		<span class="glyphicon glyphicon-chevron-right"></span>
        	</div>
	       	<br />
			<div>
				<table class="table table-striped" data-ng-show="vm.receivedAndOpenOrders.length > 0">
					<thead>
						<tr>
							<th>#</th>	
							<th>
								<table>
									<tr>
										<td><b>Von</b></td>
										<td><span>&nbsp;</span></td>
										<td><span class="glyphicon glyphicon-chevron-up icon-hover sortIcon" data-ng-click="vm.receivedOrderType = '-userCreatedMessage.surname'"></span></td>
										<td><span class="glyphicon glyphicon-chevron-down icon-hover sortIcon" data-ng-click="vm.receivedOrderType = 'userCreatedMessage.surname'"></span></td>
									</tr>
								</table>
							</th>
							<th>
								<table>
									<tr>
										<td><b>Projekt</b></td>
										<td><span>&nbsp;</span></td>
										<td><span class="glyphicon glyphicon-chevron-up icon-hover sortIcon" data-ng-click="vm.receivedOrderType = '-project.name'"></span></td>
										<td><span class="glyphicon glyphicon-chevron-down icon-hover sortIcon" data-ng-click="vm.receivedOrderType = 'project.name'"></span></td>
									</tr>
								</table>
							</th>
							<th></th>
							<th>Arbeitsauftrag</th>
							<th></th>
							<th>
								<table>
									<tr>
										<td><b>Erl.dat.</b></td>
										<td><span>&nbsp;</span></td>
										<td><span class="glyphicon glyphicon-chevron-up icon-hover sortIcon" data-ng-click="vm.receivedOrderType = '-executionDate'"></span></td>
										<td><span class="glyphicon glyphicon-chevron-down icon-hover sortIcon" data-ng-click="vm.receivedOrderType = 'executionDate'"></span></td>
									</tr>
								</table>
							</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="receivedAndOpenOrder in vm.receivedAndOpenOrders | filter: {project: {name: vm.selectedProject.name}} | orderBy:'vm.receivedOrderType'" data-ng-class="vm.executionDateAfterToday(receivedAndOpenOrder.executionDate) == true && receivedAndOpenOrder.executed == false ? 'backgroundColorPulse' : ''">
							<td>{{$index+1}}.</td>
							<td>
								<span class="glyphicon glyphicon-user" style="color:{{receivedAndOpenOrder.userCreatedMessage.color}}"></span> {{receivedAndOpenOrder.userCreatedMessage.title}} {{receivedAndOpenOrder.userCreatedMessage.firstname}} <b>{{receivedAndOpenOrder.userCreatedMessage.surname}}</b>
							</td>
							<td>
								<span class="glyphicon glyphicon-folder-open" style="color:{{receivedAndOpenOrder.project.color}}"></span> {{receivedAndOpenOrder.project.name}}
							</td>
							<td><span>&nbsp;</span></td>
							<td>
								<div style="font-weight:bold;font-size:1.2em;background-color:#ddd;padding:5px;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.1);">Auftragsanweisung:</div>
								<div style="margin-left:20px;margin-top:8px;margin-bottom:20px;">
									<b><span data-ng-bind-html="receivedAndOpenOrder.communication.title"></span></b> 
									<span data-ng-bind-html="vm.getTeasingMessage(receivedAndOpenOrder.communication.message)" data-ng-show="showWholeMessage == false"></span>
									<span data-ng-bind-html="receivedAndOpenOrder.communication.message" data-ng-show="showWholeMessage == true"></span>
									<span class="icon-hover" data-ng-show="receivedAndOpenOrder.communication.message.length > vm.teaserMessageLength && showWholeMessage == false" data-ng-init="showWholeMessage = false" data-ng-click="showWholeMessage = !showWholeMessage">
										...
										<span class="glyphicon glyphicon-arrow-down"></span>
									</span>
									<span class="glyphicon glyphicon-arrow-up icon-hover" data-ng-show="showWholeMessage == true" data-ng-click="showWholeMessage = !showWholeMessage"></span> 
								</div>
								<div data-ng-show="receivedAndOpenOrder.communication.attachedFileUrls.length > 0">
									<b>Anh&auml;nge</b> ({{receivedAndOpenOrder.communication.attachedFileUrls.length + receivedAndOpenOrder.communication.communicationAttachments.length}}):
									<div data-ng-repeat="attachedFileUrl in receivedAndOpenOrder.communication.attachedFileUrls">
										<a href="{{attachedFileUrl.url}}">{{attachedFileUrl.fileName}}</a>
									</div>
									<div data-ng-repeat="attachment in receivedAndOpenOrder.communication.communicationAttachments">
										<a href="/api/filedownloads/filedownload/communication/{{receivedAndOpenOrder.id}}/{{attachment.filename}}">{{attachment.originalFilename}}</a>
									</div>
								</div>
							</td>
							<td><span>&nbsp;</span></td>
							<td>
								{{receivedAndOpenOrder.executionDate}}
							</td>
							<td>
								<table data-ng-show="receivedAndOpenOrder.confirmationNeeded == true">
									<tr>
										<td><input type="checkbox" data-ng-click="vm.communicationOrderExecuted(receivedAndOpenOrder)" data-ng-model="receivedAndOpenOrder.read" data-ng-disabled="receivedAndOpenOrder.read == true"  /></td>
										<td><span>&nbsp;</span></td>
										<td>Best&auml;tigen</td>
									</tr>
								</table>
								<table>
									<tr>
										<td><input type="checkbox" data-ng-click="vm.communicationOrderExecuted(receivedAndOpenOrder)" data-ng-model="receivedAndOpenOrder.executed" /></td>
										<td><span>&nbsp;</span></td>
										<td>Erledigt</td>
									</tr>
								</table>
							</td>
							<td>
								<span class="glyphicon glyphicon-alert errorMessage blinkText" data-ng-show="vm.executionDateAfterToday(receivedAndOpenOrder.executionDate) == true && receivedAndOpenOrder.executed == false"></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div data-ng-show="vm.receivedAndOpenOrders.length == 0" class="noEntries">Keine empfangenen und offenen Arbeitsauftr&auml;ge vorhanden</div>
		</div>
		<br />
		<div class="container col-md-12" style="background-color:{{vm.currentUser.colorOfSentOrders}}">
			<div class="widgetHeader">
				<div class="glyphicon glyphicon-send glyphiconStyle" aria-hidden="true"></div>
		    	<span class="dashboardHeadline">
		    		<span style="position:relative;top:-8px;">
						Meine <b>gesendeten</b> und <b>offenen</b> Arbeitsauftr&auml;ge
						<span class="badge icon-hover" style="background-color:#007ab9" data-ng-show="vm.sentAndOpenOrders.length > 0" data-ui-sref="auth.communication({userId: '{{ vm.currentUser.id }}'})">{{vm.sentAndOpenOrders.length}}</span>
					</span>
		    	</span>
		    </div>
	    	<span class="glyphicon glyphicon-cog icon-hover cog" data-ng-click="vm.showAdjustmentModal('SENT_ORDERS')" title="Gesendete offene Arbeitsauftr&auml;ge"></span> 
	    	<div class="dashboardLink icon-hover" style="margin-top:-10px;" data-ui-sref="auth.communication({userId: '{{ vm.currentUser.id }}'})" title="Gesendete offene Arbeitsauftr&auml;ge">
        		<span class="glyphicon glyphicon-chevron-right"></span>
        	</div>
	       	<br />
			<div>
				<table class="table table-striped" data-ng-show="vm.sentAndOpenOrders.length > 0">
					<thead>
						<tr>	
							<th>#</th>
							<th>
								<table>
									<tr>
										<td><b>An</b></td>
										<td><span>&nbsp;</span></td>
										<td><span class="glyphicon glyphicon-chevron-up icon-hover sortIcon" data-ng-click="vm.sentOrderType = '-userReceivedMessage.surname'"></span></td>
										<td><span class="glyphicon glyphicon-chevron-down icon-hover sortIcon" data-ng-click="vm.sentOrderType = 'userReceivedMessage.surname'"></span></td>
									</tr>
								</table>
							</th>
							<th>
								<table>
									<tr>
										<td><b>Projekt</b></td>
										<td><span>&nbsp;</span></td>
										<td><span class="glyphicon glyphicon-chevron-up icon-hover sortIcon" data-ng-click="vm.sentOrderType = '-project.name'"></span></td>
										<td><span class="glyphicon glyphicon-chevron-down icon-hover sortIcon" data-ng-click="vm.sentOrderType = 'project.name'"></span></td>
									</tr>
								</table>
							</th>
							<th></th>
							<th>Arbeitsauftrag</th>
							<th></th>
							<th>
								<table>
									<tr>
										<td><b>Erl.dat.</b></td>
										<td><span>&nbsp;</span></td>
										<td><span class="glyphicon glyphicon-chevron-up icon-hover sortIcon" data-ng-click="vm.sentOrderType = '-executionDate'"></span></td>
										<td><span class="glyphicon glyphicon-chevron-down icon-hover sortIcon" data-ng-click="vm.sentOrderType = 'executionDate'"></span></td>
									</tr>
								</table>
							</th>	
							<th></th>						
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="sentAndOpenOrder in vm.sentAndOpenOrders | filter: {project: {name: vm.selectedProject.name}} | orderBy:vm.sentOrderType" data-ng-class="vm.executionDateAfterToday(sentAndOpenOrder.executionDate) == true && sentAndOpenOrder.executed == false ? 'backgroundColorPulse' : ''">
							<td>{{$index+1}}.</td>
							<td>
								<span class="glyphicon glyphicon-user" style="color:{{sentAndOpenOrder.userCreatedMessage.color}}"></span>
								{{sentAndOpenOrder.userReceivedMessage.title}} {{sentAndOpenOrder.userReceivedMessage.firstname}} <b>{{sentAndOpenOrder.userReceivedMessage.surname}}</b>
							</td>
							<td>
								<span class="glyphicon glyphicon-folder-open" style="color:{{sentAndOpenOrder.project.color}}"></span> {{sentAndOpenOrder.project.name}}
							</td>
							<td><span>&nbsp;</span></td>
							<td>
								<div style="font-weight:bold;font-size:1.2em;background-color:#ddd;padding:5px;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.1);">Auftragsanweisung:</div>
								<div style="margin-left:20px;margin-top:8px;margin-bottom:20px;">
									<b><span data-ng-bind-html="sentAndOpenOrder.communication.title"></span></b> 
									<span data-ng-bind-html="vm.getTeasingMessage(sentAndOpenOrder.communication.message)" data-ng-show="showWholeMessage == false"></span>
									<span data-ng-bind-html="sentAndOpenOrder.communication.message" data-ng-show="showWholeMessage == true"></span>
									<span class="icon-hover" data-ng-show="sentAndOpenOrder.communication.message.length > vm.teaserMessageLength && showWholeMessage == false" data-ng-init="showWholeMessage = false" data-ng-click="showWholeMessage = !showWholeMessage">
										...
										<span class="glyphicon glyphicon-arrow-down"></span>
									</span>
									<span class="glyphicon glyphicon-arrow-up icon-hover" data-ng-show="showWholeMessage == true" data-ng-click="showWholeMessage = !showWholeMessage"></span> 
								</div>
								<div data-ng-show="sentAndOpenOrder.communication.attachedFileUrls.length > 0">
									<b>Anh&auml;nge</b> ({{sentAndOpenOrder.communication.attachedFileUrls.length + sentAndOpenOrder.communication.communicationAttachments.length}}):
									<div data-ng-repeat="attachedFileUrl in sentAndOpenOrder.communication.attachedFileUrls">
										<a href="{{attachedFileUrl.url}}">{{attachedFileUrl.fileName}}</a>
									</div>
									<div data-ng-repeat="attachment in sentAndOpenOrder.communication.communicationAttachments">
										<a href="/api/filedownloads/filedownload/communication/{{sentAndOpenOrder.id}}/{{attachment.filename}}">{{attachment.originalFilename}}</a>
									</div>
								</div>
							</td>
							<td><span>&nbsp;</span></td>
							<td>
								{{sentAndOpenOrder.executionDate}}
							</td>						
							<td>
								<span class="glyphicon glyphicon-alert errorMessage blinkText" data-ng-show="vm.executionDateAfterToday(sentAndOpenOrder.executionDate) == true && sentAndOpenOrder.executed == false"></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div data-ng-show="vm.receivedAndOpenOrders.length == 0" class="noEntries">Keine gesendeten und offenen Arbeitsauftr&auml;ge vorhanden</div>
		</div>
    </div>
</div>