<div class="htmlTemplateModal modal-movable">
	<span class="glyphicon glyphicon-move icon-hover" style="margin-left:0px;margin-top:0px !important;position: absolute;"></span>
	<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeHtmlTemplateModal()"></span>
	<div class="htmlPreviewWrapper">
		<span style="margin-left:20px;">Name: <b>{{vm.documentName}}</b> - Version <b>{{vm.version.substr(1)}}</b></span>
		<br />
		<br />
		<div data-ng-include="vm.url" style="margin-left:10px; max-width:560px !important;"></div><br />
	</div>
</div>