<div class="col-md-6 col-md-offset-3 misrememberPassword">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Passwort zur&uuml;cksetzen
            </div>
        </div>
        <form name="misrememberPasswordForm"
              class="form-horizontal center-block"
              data-ng-submit="vm.misrememberPassword(vm.emailAddress)">
            <div class="panel-body">
                <div data-ng-show="vm.misrememberPasswordForm.$submitted && vm.misrememberPasswordError"
                     class="alert alert-danger col-lg-12">
                    {{vm.misrememberPasswordError.error}}
                </div>
                <div class="form-group" show-errors>
                    <label class='control-label col-md-4'>Ihre Email-Adresse:</label>

                    <div class="col-md-8">
                        <input type="text"
                               class="form-control"
                               name="emailAddress"
                               data-ng-model="vm.emailAddress"
                               required>
                    </div>
                </div>
                <div class="explanation">
                Es wird ein neues Passwort an die eingegebene Email- Adresse versendet.
                Mit diesem Passwort k&ouml;nnen Sie sich dann wieder einloggen. Bitte nicht vergessen, 
                nach dem einloggen das Passwort unter <b>Mein Profil</b> auf ein von Ihnen gew&uuml;nschtes Passwort <b>&auml;ndern</b>.
                </div>
            </div>
            <div class="panel-footer">
                <div class="row clearfix">
                    <div class="col-md-12">
                        <button id="btn-signin" type="submit" class="btn btn-default pull-right" data-ng-disabled="vm.misrememberPasswordForm.$invalid">
                            absenden
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>      