<div class="contactActivityCreateEditModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close non-printable" data-ng-click="vm.closeContactActivityCreateEditModal()"></span>
        <h4 class="modal-title"><span class="glyphicon glyphicon-file"></span> 
        	&Auml;nderung der T&auml;tigkeit des Termins <span class="glyphicon glyphicon-calendar"></span> 
        	<b>{{vm.activity.calendarEvent.title}}</b> in {{vm.activity.calendarEvent.location}} ({{vm.activity.calendarEvent.startsAt | date:'dd.MM.yyyy HH:mm'}} - {{vm.activity.calendarEvent.endsAt | date:'dd.MM.yyyy HH:mm'}}) f&uuml;r den Kontakt 
        	<span class="glyphicon glyphicon-home" style="color:{{vm.contact.color}}"></span> <b>{{vm.contact.institution}}</b> - 
        	<span style="font-size:0.8em;">Angelegt von <span class="glyphicon glyphicon-user" style="color:{{vm.activity.user.color}}"></span> {{vm.activity.user.title}} {{vm.activity.user.firstname}} <b>{{vm.activity.user.surname}}</b>
        	am <b>{{vm.activity.creationDate}}</b></span>
        </h4>
    </div>
    <div class="modal-body">
    	<form name="createEditContactActivityForm" class="form-horizontal" data-ng-submit="vm.updateActivity()">
	 	 	<div class="form-group">
			    <label class="control-label col-sm-4" for="name">Kontakt Id:</label>
			    <div class="col-sm-6">
			    	<input type="text" class="form-control" data-ng-model="vm.activity.contactId" />
			    </div>
			</div>
	 	 	<div class="form-group">
			    <label class="control-label col-sm-4" for="name">Typen:<span class="mandatory">*</span></label>
			    <div class="col-sm-6">
			    	<div data-ng-repeat="activityType in vm.activityTypes track by $index">
			    		<input type="checkbox" data-ng-model="isSelected" data-ng-init="isSelected = vm.isActivityTypeSelected(activityType)" data-ng-true-value="true" data-ng-false-value="false" data-ng-change="vm.addOrRemoveActivityType(activityType);" /> {{activityType | translate}}
			    	</div>
			    </div>
			</div>
			<div class="form-group">
			    <label class="control-label col-sm-4" for="name">Kommentar zur T&auml;tigkeit:<span class="mandatory">*</span></label>
			    <div class="col-sm-6">
			      <textarea class="form-control" data-ng-model="vm.activity.additionalInformation" placeholder="Kommentar zur T&auml;tigkeit" data-ng-minlength="2" data-ng-maxlength="500"></textarea>
			    </div>	
			</div>
			<div class="form-group">
			    <label class="control-label col-sm-4" for="name">Anh&auml;nge:</label>
			    <div class="col-sm-6">
			      	<span data-ng-if="vm.activity.activityDocumentFiles == null || vm.activity.activityDocumentFiles.length == 0">Keine Anh&auml;nge</span>
					<div data-ng-repeat="activityDocumentFile in vm.activity.activityDocumentFiles track by $index">
						{{activityDocumentFile.originalFileName}} 
						<a href="/api/filedownloads/filedownload/{{getFileNameWithoutExtension(activityDocumentFile)}}/{{getFileNameExtension(activityDocumentFile)}}/activityfile"><span class="glyphicon glyphicon-download-alt"></span></a>
						<span class="glyphicon glyphicon-minus icon-hover" data-ng-click="vm.cancelFile(activityDocumentFile)"></span>
					</div>
			    </div>	
			</div>
			<br />
			<br />
			<div class="col-sm-offset-9">
				<button class="btn btn-default" type="submit">
					Speichern
				    <span class="glyphicon glyphicon-alert errorMessage" data-ng-show="vm.activityUpdatedError"></span>
				</button>
			</div>
		</form>
		<br />
		<br />
    </div>
</div>