<div class="yesNoModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeYesNoModal()"></span>
        <h4 class="modal-title"><span ng-bind-html="vm.headerContent"></span></h4>
    </div>
    <div class="modal-body">
        <span ng-bind-html="vm.detailContent"></span>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" data-ng-click="vm.yes()">Ja</button>
        <button class="btn btn-default" type="button" data-ng-click="vm.no()">Nein</button>
    </div>
</div>
