<div class="yesNoModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeProductYesNoModal()"></span>
        <h4 class="modal-title"><span class="glyphicon glyphicon-filter"></span> Wollen Sie das Produkt wirklich l&ouml;schen?</h4>
    </div>
    <div class="modal-body">
        <span data-ng-show="vm.contactsReferencedToProduct.length == 0">Wollen Sie das Produkt <span class="glyphicon glyphicon-filter" data-ng-style="{'color': vm.product.color}"></span> <b>{{vm.product.number}} / {{vm.product.name}}</b>, angelegt am <b>{{vm.product.creationDate | date:'dd.MM.yyyy'}}</b>, wirklich l&ouml;schen?</span>
        <div data-ng-show="vm.contactsReferencedToProduct.length > 0">
        	Das Produkt <span class="glyphicon glyphicon-filter" data-ng-style="{'color': vm.product.color}"></span> <b>{{vm.product.number}} {{vm.product.name}}</b> kann nicht gel&ouml;scht werden, da folgende Kontakte 
        	auf dieses Produkt referenzieren:
        	<br />
        	<div style="margin-left:50px; margin-top:10px;">
	        	<div data-ng-repeat="contactReferencedToProduct in vm.contactsReferencedToProduct">
	        		<span class="glyphicon glyphicon-home"></span> {{contactReferencedToProduct.institution}}
	        	</div>
	        </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" data-ng-click="vm.yes()" data-ng-disabled="vm.contactsReferencedToProduct.length > 0">Ja</button>
        <button class="btn btn-default" type="button" data-ng-click="vm.no()">Nein</button>
    </div>
</div>