<div class="createThinningModal modal-movable non-printable">
	<span class="glyphicon glyphicon-move icon-hover" style="margin-left:0px;margin-top:0px !important;position: absolute;"></span>
	<div class="modal-header thinningBackgroundColor">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeCreateThinningModal()"></span>
        <h4 class="modal-title"><span class="fa fa-flask" aria-hidden="true"></span> Verd&uuml;nnung f&uuml;r das Produkt <span class="glyphicon glyphicon-filter" style="color:{{vm.product.color}}"></span> <b>{{vm.product.name}}</b> ({{vm.product.number}}) erstellen</h4>
    </div>
    <div class="modal-body">
    	<br />
		<create-thinning-directive 
			index="0"
			thinning="vm.thinning" 
			product="vm.product"
			products="vm.products" 
			invoker="vm"
			type="'CREATE'"
			current-user="vm.currentUser"
			user-authorization-user-container="vm.userAuthorizationUserContainer"
			polymer-promille="vm.polymerPromille">
		</create-thinning-directive>
    </div>
    <br />
    <div data-ng-show="vm.allThinningsOfProduct.length > 0" style="max-width:80%;margin-left:50px;">
		<br />
		<span class="icon-hover" data-ng-init="showAllThinningsOfProduct = false" data-ng-click="showAllThinningsOfProduct = false" data-ng-show="showAllThinningsOfProduct == true"><span class="glyphicon glyphicon-minus"></span> Alle f&uuml;r das Produkt <span class="glyphicon glyphicon-filter" style="color:{{vm.product.color}}"></span> <b>{{vm.product.name}}</b> ({{vm.product.number}}) angelegten Verd&uuml;nnungen ausblenden</span>
		<span class="icon-hover" data-ng-click="showAllThinningsOfProduct = true" data-ng-show="showAllThinningsOfProduct == false"><span class="glyphicon glyphicon-plus"></span> Alle <b>{{vm.allThinningsOfProduct.length}}</b> f&uuml;r das Produkt <span class="glyphicon glyphicon-filter" style="color:{{vm.product.color}}"></span> <b>{{vm.product.name}}</b> ({{vm.product.number}}) angelegten Verd&uuml;nnungen anzeigen</span>
	</div>
	<div style="max-width:80%;margin-left:50px;" data-ng-show="showAllThinningsOfProduct == true">
		<table class="table table-striped" data-ng-repeat="thinningOfProduct in vm.allThinningsOfProduct track by $index">
			<tr>
				<td style="border:none;">{{$index+1}}.</td>
				<td style="border:none;">
					<table class="table">
						<tr>
							<td colspan="2" style="border-bottom: 1px solid #fff;border-top: 0px solid #fff;"><div style="margin-left:8px;display:block;"><b>Anmerkung:</b> {{thinningOfProduct.informationTop || '--'}}</div></td>
						</tr>
						<tr>
							<td>
								<table class="table">
									<tr>
										<td><b>Datum:</b></td>
										<td>{{thinningOfProduct.date}}</td>
									</tr>
									<tr>
										<td><b>{{thinningOfProduct.labelLeft1 || '--'}} [%]:</b></td>
										<td class="textRight"><b>{{thinningOfProduct.ironContent | number:3}}</b></td>
									</tr>
									<tr>
										<td><b>Zielgehalt [%]:</b></td>
										<td class="textRight"><b>{{thinningOfProduct.targetContent | number:3}}</b></td>
									</tr>
									<tr>
										<td><b>Dichte <span style="font-weight:normal;font-size:0.9em;">({{thinningOfProduct.labelLeft2 || '--'}})</span> [g/ml]:</b></td>
										<td class="textRight"><b>{{thinningOfProduct.density | number:3}}</b></td>
									</tr>
									<tr>
										<td><b>Menge <span style="font-weight:normal;font-size:0.9em;">(Ziel)</span> [L]:</b></td>
										<td class="textRight"><b>{{thinningOfProduct.amountLiter | number:3}}</b></td>
									</tr>
									<tr>
										<td><b>Masse <span style="font-weight:normal;font-size:0.9em;">(Ziel)</span> [Kg]:</b></td>
										<td class="textRight"><b>{{thinningOfProduct.amount | number:3}}</b></td>
									</tr>
								</table>
							</td>
							<td>
								<table class="table">
									<tr>
										<td><b>{{thinningOfProduct.labelRight1 || '--'}} [L]:</b></td>
										<td class="textRight"><b>{{thinningOfProduct.iron | number:3}}</b></td>
									</tr>
									<tr>
										<td><b>Wasser [L]:</b></td>
										<td class="textRight"><b>{{thinningOfProduct.water | number:3}}</b></td>
									</tr>
									<tr>
										<td><b>Polymer hinzugeben [g]:</b></td>
										<td class="textRight"><span data-ng-show="thinningOfProduct.polymer"><b>{{(thinningOfProduct.amountLiter * vm.polymerPromille * 8.5) | number:3}}</b></span></td>
									</tr>
									<tr>
										<td><b>Ascorbins&auml;ure hinzugeben [Kg]:</b></td>
										<td class="textRight"><span data-ng-show="thinningOfProduct.ascorbinSaeure"><b>{{(thinningOfProduct.iron * 0.01) | number:3}}</b></span></td>
									</tr>
									<tr>
										<td><b>Wasser Endergebnis [L]:</b></td>
										<td class="textRight"><b>{{thinningOfProduct.waterAmountCalculated | number:3}}</b></td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="border:none;"><div style="margin-left:8px;display:block;"><b>Anmerkung:</b> {{thinningOfProduct.information || '--'}}</div></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
	<br />
</div>
