<div class="activityContainer">
 	<div style="font-size:1.2em;padding:5px;background-color:#eee;"><span class="glyphicon glyphicon-calendar"></span> 
 		<b>{{calendarEvent.title || '--'}}</b> 
 		{{calendarEvent.location || '--'}} 
 		<span style="font-weight:bold;" data-ng-if="contact != null">
 			<span class="glyphicon glyphicon-home" style="color:{{contact.color}}" title="{{contact.id}}"></span> 
 			<span data-ng-if="contact == null" style="color:#f00;">
 				({{contact.id || '--'}})
 			</span> 
 			{{contact.institution || '--'}}
 		 </span>
 		 <span style="font-size:0.8em;color:#777;" data-ng-if="contact == null">kein Kontakt</span>
 		<span class="glyphicon glyphicon-time"></span>
 		<span data-ng-bind-html="formatStartEndDateTime(calendarEvent.startsAt, calendarEvent.endsAt)"></span>
 		<span class="glyphicon glyphicon-minus icon-hover" style="font-size:0.8em;float:right;" data-ng-show="userAuthorizationUserContainer.userAuthorizations[35].state == true && type == 'EDIT'" data-ng-click="showRemoveActivity(activity)"></span>		
 		<span class="glyphicon glyphicon-edit icon-hover" style="font-size:0.8em;float:right;margin-right:5px;" data-ng-show="userAuthorizationUserContainer.userAuthorizations[34].state == true && (type == 'EDIT' || type == 'ONLY_SHOW')"  data-ng-click="showContactActivityCreateEditModal(activity)"></span>	
 	</div>
  <span style="float:right">
  	<span class="glyphicon glyphicon-user" style="color:{{user.color}}"></span> 
  	{{user.title}} {{user.firstname}} <b>{{user.surname}}</b> - <b>{{activity.creationDate}}</b>
  </span>
  <br />
	<table class="table">
		<tr>
			<td><b>T&auml;tigkeit:</b></td>
			<td>
				<table class="table table-striped">
					<tr data-ng-repeat="activityType in activity.activityTypes track by $index">
						<td>{{activityType | translate}}</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td><b>Kommentar zur T&auml;tigkeit:</b></td>
			<td>
				{{activity.additionalInformation}}
			</td>
		</tr>
		<tr>
			<td><b>Anh&auml;nge:</b></td>
			<td>
				<span data-ng-if="activity.activityDocumentFiles == null || activity.activityDocumentFiles.length == 0">Keine Anh&auml;nge</span>
				<div data-ng-repeat="activityDocumentFile in activity.activityDocumentFiles track by $index">
					{{activityDocumentFile.originalFileName}} <a href="/api/filedownloads/filedownload/{{getFileNameWithoutExtension(activityDocumentFile)}}/{{getFileNameExtension(activityDocumentFile)}}/activityfile"><span class="glyphicon glyphicon-download-alt"></span></a>
				</div>
			</td>
		</tr>
	</table>
</div>
<br />