.history {
	margin-bottom: 110px;
}
.history .accent {
	color: #008be7;
}
.history .date {
	font-size: 0.8em;
	font-style: italic;
}  
.history .historyLine {
	margin-bottom: 5px; 
}
.history .currentSelectedPage {
	background-color: #eee;
}