<div class="row clearfix history">
	<div class="breadcrumb">
		<span class="explanation"><span class="glyphicon glyphicon-align-justify"></span> Verlauf der Aktivit&auml;ten</span>
		<span class="logo">wdm</span>
	</div>
	<div class="col-md-1 column">
    </div>
    <div class="col-md-9 column">
	<div class="controlContainer" style="max-height:60px;">	
		<table style="margin-top:-8px;">
			<tr>
				<td><span class="controlLabel">Von:</span></td>
					<td>
			     		<p class="input-group" style="margin-top:10px;max-width:120px;">
		                       <input type="text"
		                              class="form-control"
		                              name="historyFrom"                                
		                              ng-model="vm.historyFrom"
		                              datepicker-popup="dd.MM.yyyy"
		                              is-open="vm.historyFromTrigger"
		                              close-text="schlie&szlig;en"
		                              current-text="heute"
		                              clear-text="l&ouml;schen"
		                              datepicker-options="{startingDay: 1}"
		                              disabled>
		                   	<span class="input-group-btn">
	                        		<button type="button" class="btn btn-default btn-xs"                         		   
	                                data-ng-click="vm.openHistoryFrom($event)">
	                                <span class="glyphicon glyphicon-calendar"></span>
	                             	</button>
		                   	</span>
		                     </p>
		     		</td>
		     		<td><span>&nbsp;</span></td>
					<td><span>&nbsp;</span></td>
					<td><span class="controlLabel">Bis:</span></td>
					<td>
			     		<p class="input-group" style="margin-top:10px;max-width:120px;">
		                         <input type="text"
		                                class="form-control"
		                                name="historyUntil"                                
		                                ng-model="vm.historyUntil"
		                                datepicker-popup="dd.MM.yyyy"
		                                is-open="vm.historyUntilTrigger"
		                                close-text="schlie&szlig;en"
		                                current-text="heute"
		                                clear-text="l&ouml;schen"
		                                datepicker-options="{startingDay: 1}"
		                                disabled>
		                     		<span class="input-group-btn">
		                          		<button type="button" class="btn btn-default btn-xs"                         		   
		                                 data-ng-click="vm.openHistoryUntil($event)">
		                                  <span class="glyphicon glyphicon-calendar"></span>
		                               </button>
		                     </span>
		                     </p>
		     		</td>
		     		<td><span>&nbsp;</span></td>
					<td><span>&nbsp;</span></td>
		     		<td>
						<button type="button" class="btn btn-default submitButton" aria-label="Left Align" data-ng-click="vm.getHistory()">
						  Anzeigen
						</button>
						<span class="glyphicon glyphicon-alert errorMessage" data-ng-show="vm.historyError == true" title="Von und Bis Datum muss gesetzt sein"></span>
					</td>
					<td><span>&nbsp;</span></td>
					<td><span>&nbsp;</span></td>
					<td>
						<span class="fa fa-file-pdf-o icon-hover" style="margin-right:10px;margin-top:5px;color:#777;" data-ng-click="vm.printContainer('historieId', 'Verlauf')" title="Verlauf herunterladen"></span>
					</td>
	     		</tr>
	     	</table>
	     </div>
		<br />
		<br />
		<div class="row clearfix">
    		<div class="col-md-8 column">
				<!-- paging -->				
				<nav aria-label="Page navigation" data-ng-show="vm.amountOfPages > 1">
				  <ul class="pagination">
				    <li data-ng-click="vm.pageChange(vm.currentPage-1)" class="icon-hover">
				        <span aria-hidden="true">&laquo;</span>
				    </li>
				    <li data-ng-repeat="indexAmount in vm.amountOfPagesArray">
				    	<a data-ng-click="vm.pageChange($index)" data-ng-class="vm.isCurrentPage(indexAmount) ? 'currentSelectedPage' : ''" class="icon-hover">{{$index+1}}</a>
				    </li>
				    <li  data-ng-click="vm.pageChange(vm.currentPage+1)" class="icon-hover">
				    	<span aria-hidden="true">&raquo;</span>
				    </li>
				  </ul>
				</nav>
			</div>	
		</div>	
		
		<div data-ng-show="vm.histories.length == 0">
			Keine Eintr&auml;ge f&uuml;r den Zeitraum gefunden
		</div>
		<div id="historieId">
			<div class="row clearfix historyLine" data-ng-repeat="history in vm.histories | orderBy:actionDate">
				<span class="glyphicon glyphicon-pushpin"></span>
				{{vm.currentPage*vm.historyPageSize+$index+1}}.
				<span class="accent">{{history.user.title}} {{history.user.firstname}} {{history.user.surname}}</span> 
				(<b>{{(history.user.projectUserConnectionRole || '--' ) | translate}}</b>)		
				<span data-ng-show="history.historyType == 'NEW_FILE_UPLOADED'">
					hat im Projekt <span class="accent"><b>{{history.projectName}}</b></span> ein <i>Dokument</i> hochgeladen (Dokumentenname: <b>{{history.message}}</b>)
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'NEW_VERSION_UPLOADED'">
					hat im Projekt <span class="accent"><b>{{history.projectName}}</b></span> eine neue <i>Dokumenten- Version</i> hochgeladen (Dokumentenname: <b>{{history.message}}</b>)
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'LOGGED_IN'">
					hat sich eingeloggt
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'SIGNED_UP'">
					wurde im System angemeldet
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'MISREMEMBER_PASSWORD'">
					hat das Passwort vergessen - eine Email wurde gesendet
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'CREATED_FOLDER'">
					hat im Projekt <span class="accent"><b>{{history.projectName}}</b></span> 
					einen neuen <i>Ordner</i> angelegt: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'UPDATED_FOLDER'">
					hat im Projekt <span class="accent"><b>{{history.projectName}}</b></span> 
					einen <i>Ordner</i> ge&auml;ndert: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'DELETED_FOLDER'">
					hat im Projekt <span class="accent"><b>{{history.projectName}}</b></span> 
					einen <i>Ordner</i> gel&ouml;scht: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'CREATED_NEW_CONTACT'">
					hat einen neuen <i>Kontakt</i> angelegt: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'UPDATED_CONTACT'">
					hat einen <i>Kontakt</i> ge&auml;ndert: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'UPDATED_CONTACT_IN_ADM'">
					hat einen <i>Kontakt</i> im ADM ge&auml;ndert: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'SEARCHED_CONTACT'">
					hat <i>Kontakte</i> gesucht mittels der Suche nach: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'ADDED_PRODUCT_TO_CONTACT'">
					hat ein <i>Produkt</i> einem Kontakt hinzugef&uuml;gt: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'REMOVED_PRODUCT_TO_CONTACT'">
					hat ein <i>Produkt</i> von einem Kontakt entfernt: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'IMPORTED_CONTACT'">
					hat <i>Kontakte aus einer Excel- Liste</i> importiert: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'DELETED_IMPORTED_CONTACT'">
					hat <i>aus einer Excel- Liste</i> importierte Kontakte gel&ouml;scht: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'CONTACT_IMPORTED_CONFIRMED'">
					hat einen <i>Kontakt</i> importiert: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'MERGE_CONTACTS_WITH_ADDRESSES_AND_SAVE'">
					hat <i>Adress - und Lieferadress- Dateien</i> importiert: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'MERGE_CONTACTS_WITH_ADDRESSES_OF_STANDARD_PATH_AND_SAVE'">
					hat <i>Adress - und Lieferadress- Dateien</i> importiert &uuml;ber die Standard- Pfade in application.properties: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'CREATED_CONTACT_CHANGED'">
					hat einen <i>Kontakt</i> ge&auml;ndert, dadurch ist ein zu exportierender Kontakt entstanden: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'GET_CREATED_CHANGED_DELETED_CONTACTS_CHANGED'">
					hat angelegte, ge&auml;nderte und/oder gel&ouml;schte Kontakte abgerufen <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'GET_CREATED_CHANGED_DELETED_ADDRESSES_CHANGED'">
					hat Lieferadressen der angelegten, ge&auml;nderten und/oder gel&ouml;schten Kontakte abgerufen <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'UPDATED_CONTACT_CHANGED'">
					hat einen <i>zu exportierenden Kontakt</i> ge&auml;ndert: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'COMMITED_CONTACT_CHANGED'">
					hat einen <i>ge&auml;nderten Kontakt</i> f&uuml;r den Export freigegeben: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'DELETED_CONTACT_CHANGED'">
					hat einen <i>zu exportierenden Kontakt</i> gel&ouml;scht: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'DELETE_COMMITTED_CONTACTS_CHANGED'">
					hat alle <i>zu exportierenden und best&auml;tigten Kontakt</i> gel&ouml;scht <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'DELETED_CONTACT_IMPORTED'">
					hat einen <i>importierten Kontakt</i> gel&ouml;scht: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'DELETED_ALL_CONTACTS_IMPORTED'">
					hat alle <i>importierten Kontakte</i> gel&ouml;scht: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'CREATED_USER'">
					hat sich im System angemeldet als: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'UPDATED_USER'">
					hat den User ge&auml;ndert: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'DELETED_USER'">
					hat den User gel&ouml;scht: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'UPDATED_USER_CHANGED_PASSWORD'">
					hat das Passwort ge&auml;ndert f&uuml;r: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'CREATED_USER_AUTHORIZATION_USER_CONTAINER'">
					hat die Berechtigungen angelegt f&uuml;r: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'UPDATED_USER_AUTHORIZATION_USER_CONTAINER'">
					hat die Berechtigungen ge&auml;ndert f&uuml;r: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'DELETED_USER_AUTHORIZATION_USER_CONTAINER'">
					hat die Berechtigungen gel&ouml;scht f&uuml;r: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'DELETED_CONTACT'">
					hat einen <i>Kontakt</i> gel&ouml;scht: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'DEACTIVATE_CONTACT'">
					hat einen <i>Kontakt</i> deaktiviert: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'CREATED_PROJECT'">
					hat hat ein <i>Projekt</i> angelegt: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'UPDATED_PROJECT'">
					hat ein <i>Projekt</i> ge&auml;ndert: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'DELETED_PROJECT'">
					ein <i>Projekt</i> gel&ouml;scht: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'SEARCHED_PROJECT'">
					hat <i>Projekte</i> gesucht mittels der Suche: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'CREATED_PRODUCT'">
					hat ein <i>Produkt</i> angelegt: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'UPDATED_PRODUCT'">
					hat ein <i>Produkt</i> ge&auml;ndert: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'DELETED_PRODUCT'">
					hat ein <i>Produkt</i> gel&ouml;scht: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'SEARCHED_PRODUCT'">
					hat <i>Produkte</i> gesucht mittels der Suche nach: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'CREATED_RECEIPE'">
					hat ein <i>Rezept</i> f&uuml;r das Produkt <b>{{history.message}}</b> angelegt
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'UPDATED_RECEIPE'">
					hat ein <i>Rezept</i> f&uuml;r das Produkt <b>{{history.message}}</b> ge&auml;ndert
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'DELETED_RECEIPE'">
					hat ein <i>Rezept</i> f&uuml;r das Produkt <b>{{history.message}}</b> gel&ouml;scht
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'CREATED_MIXTURE'">
					hat ein <i>Mischung</i> f&uuml;r das Produkt <b>{{history.message}}</b> angelegt
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'UPDATED_MIXTURE'">
					hat ein <i>Mischung</i> f&uuml;r das Produkt <b>{{history.message}}</b> ge&auml;ndert
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'DELETED_MIXTURE'">
					hat ein <i>Mischung</i> f&uuml;r das Produkt <b>{{history.message}}</b> gel&ouml;scht
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'CREATED_THINNING'">
					hat eine <i>Verd&uuml;nnung</i> f&uuml;r das Produkt <b>{{history.message}}</b> angelegt
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'UPDATED_THINNING'">
					hat eine <i>Verd&uuml;nnung</i> f&uuml;r das Produkt <b>{{history.message}}</b> ge&auml;ndert
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'DELETED_THINNING'">
					hat eine <i>Verd&uuml;nnung</i> f&uuml;r das Produkt <b>{{history.message}}</b> gel&ouml;scht
					<span class="date">{{history.actionDate}}</span>
				</span> 
				<span data-ng-show="history.historyType == 'ADD_USER_OR_CONTACT_TO_PROJECT'">
					hat einen neuen <i>Kontakt</i> zum Projekt <span class="accent"><b>{{history.projectName}}</b></span> hinzugef&uuml;gt: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'UPDATED_DOCUMENT_FILE'">
					hat ein <i>Dokument</i> im Projekt <span class="accent"><b>{{history.projectName}}</b></span> ge&auml;ndert <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'DELETED_DOCUMENT_FILE'">
					hat ein <i>Dokument</i> im Projekt <span class="accent"><b>{{history.projectName}}</b></span> gel&ouml;scht <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'SEARCHED_DOCUMENT_FILE'">
					hat <i>Dokumente</i> gesucht mittels der Suche <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'ADDED_NEW_LABEL'">
					hat ein neues <i>Label</i> angelegt: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'DELETED_NEW_LABEL'">
					hat ein <i>Label</i> gel&ouml;scht: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'CREATED_CALENDAR_EVENT'">
					hat einen <i>Termin</i> erstellt: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'UPDATED_CALENDAR_EVENT'">
					hat einen <i>Termin</i> ge&auml;ndert: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'DELETED_CALENDAR_EVENT'">
					hat einen <i>Termin</i> gel&ouml;scht: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'DEACTIVATED_CALENDAR_EVENT'">
					hat einen <i>Termin</i> deaktiviert: <b>{{history.message}}</b> (L&ouml;schen oder verschieben eines Termins)
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'CREATE_WORKING_BOOK_ENTRY'">
					hat einen <i>Anlagenbuch- Eintrag</i> erstellt f&uuml;r das Projekt: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'UPDATED_WORKING_BOOK_ENTRY'">
					hat einen <i>Anlagenbuch- Eintrag</i> ver&auml;ndert f&uuml;r das Projekt: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'DELETED_WORKING_BOOK_ENTRY'">
					hat einen <i>Anlagenbuch- Eintrag</i> gel&ouml;scht f&uuml;r das Projekt: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'CREATED_COMMUNICATION_ENTRY'">
					hat einen <i>Arbeitsauftrag</i> erstellt f&uuml;r: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'UPDATED_COMMUNICATION_ENTRY'">
					hat einen <i>Arbeitsauftrag</i> ver&auml;ndert f&uuml;r: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'DELETED_COMMUNICATION_ENTRY'">
					hat einen <i>Arbeitsauftrag</i> gel&ouml;scht f&uuml;r: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'CREATED_TIMEREGISTRATION_ENTRY'">
					hat einen <i>Zeiteintrag</i> erstellt f&uuml;r: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'UPDATED_TIMEREGISTRATION_ENTRY'">
					hat einen <i>Zeiteintrag</i> ver&auml;ndert f&uuml;r: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'DELETED_TIMEREGISTRATION_ENTRY'">
					hat einen <i>Zeiteintrag</i> gel&ouml;scht f&uuml;r: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'DUPLICATE_USER'">
					hat <i>User- Eigenschaften</i> dupliziert: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'CREATED_ACTIVITY'">
					hat eine <i>T&auml;tigkeit</i> angelegt: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'UPDATED_ACTIVITY'">
					hat eine <i>T&auml;tigkeit</i> ver&auml;ndert: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'DELETED_ACTIVITY'">
					hat eine <i>T&auml;tigkeit</i> gel&ouml;scht: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'CREATED_FACILITY_DETAIL'">
					hat <i>Anlagendetails</i> angelegt: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'UPDATED_FACILITY_DETAIL'">
					hat <i>Anlagendetails</i> ver&auml;ndert: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'DELETED_FACILITY_DETAIL'">
					hat <i>Anlagendetails</i> gel&ouml;scht: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'GENERAL_SEARCH'">
					hat im <i>Suchreiter</i> gesucht nach: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'READ_ACTIVITIES_OVER_REPORTING'">
					hat unter <i>Auswertungen</i> nach T&auml;tigkeiten gesucht: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
				<span data-ng-show="history.historyType == 'READ_FACILITY_DETAILS_OVER_REPORTING'">
					hat unter <i>Auswertungen</i> nach Anlagendetails gesucht: <b>{{history.message}}</b>
					<span class="date">{{history.actionDate}}</span>
				</span>
			</div>
		</div>
		<div class="row clearfix">
    		<div class="col-md-8 column">
				<!-- paging -->				
				<nav aria-label="Page navigation" data-ng-show="vm.amountOfPages > 1">
				  <ul class="pagination">
				    <li data-ng-click="vm.pageChange(vm.currentPage-1)" class="icon-hover">
				        <span aria-hidden="true">&laquo;</span>
				    </li>
				    <li data-ng-repeat="indexAmount in vm.amountOfPagesArray">
				    	<a data-ng-click="vm.pageChange($index)" data-ng-class="vm.isCurrentPage(indexAmount) ? 'currentSelectedPage' : ''" class="icon-hover">{{$index+1}}</a>
				    </li>
				    <li  data-ng-click="vm.pageChange(vm.currentPage+1)" class="icon-hover">
				    	<span aria-hidden="true">&raquo;</span>
				    </li>
				  </ul>
				</nav>
			</div>	
		</div>	
		<br />
		<br />
		<br />
    </div>
    <div class="col-md-2 column">
    </div>
</div>