.administration { 
	margin-bottom: 140px;
}
.administration .adminContainer {
	border: 1px solid #ccc;
	padding: 15px;
	border-radius: 2px;
	background-color: #f9f9f9;
	box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.2), 1px 3px 6px 0 rgba(0, 0, 0, 0.3);
}   
.administration .containerWidth {  
	max-width: 660px;
}
.administration .labelsContainer .firstColumn {
	min-width: 15px;
}
.administration .description {
	font-weight: bold;
}
.administration .userTable tr {
	line-height: 26px;
}
.administration .labelContainer {
	height:400px;
	overflow-y: auto;
}
.administration .tabHeading {
	text-decoration: none;
	color: #000;  
}
.administration .odd {
	background-color: #eee;
}
.contactsYesNoModal .close,
.contactsImportedYesNoModal .close {
	float: right;
	margin-right: 5px;
	margin-top: 5px;
	font-size: 0.9em;
}