<div class="administration">	
	<div class="row clearfix">
		<div class="breadcrumb">
			<span class="explanation"><span class="glyphicon glyphicon-cog"></span> Administration</span>
			<span class="logo">wdm</span>
		</div>
		<div class="col-md-1"></div>
	    <div class="col-md-10 column">
	    	<tabset>
	    		<tab active="true">	
					<tab-heading class="tabHeading">
						<span class="glyphicon glyphicon-ok"></span>
						User- Berechtigungen
					</tab-heading>
					<br />
			    	<br />
					<div class="adminContainer">
						<b>Berechtigungen:</b> ({{vm.allUsers.length}} User angelegt) <span class="successMessage" data-ng-show="vm.userAuthenticationUserContainerTrigger == true">Berechtigungs&auml;nderungen gespeichert</span>
						<br />
						<br />
						<table>
							<tr>
								<td><span class="glyphicon glyphicon-user"></span></td>
								<td><span>&nbsp;</span></td>
								<td><input type="text" class="form-control" style="max-width:200px;" data-ng-model="searchUserForAuthentication" placeholder="User suchen" /></td>
							</tr>
						</table>
		    			<br />
		    			<br />
		    			<table class="table table-striped header-fixed">
		    				<thead>
		    					<tr>
		    						<th>#</th>
		    						<th><span class="glyphicon glyphicon-user"></span><br />User</th>
		    						<th><span class="glyphicon glyphicon-folder-open"></span><br />Proj.</th>
		    						<th><span class="glyphicon glyphicon-filter"></span><br />Prod.</th>
		    						<th><span class="fa fa-flask"></span><br />Rezepte</th>
		    						<th><span class="fa fa-flask"></span><br />Misch.</th>
		    						<th><span class="fa fa-flask"></span><br />Verd.</th>
		    						<th><span class="glyphicon glyphicon-calendar"></span><br />Kalender</th>
		    						<th><span class="glyphicon glyphicon-home"></span><br />Kontakte</th>
		    						<th><span class="glyphicon glyphicon-home"></span><br />T&auml;tigk.</th>
		    						<th><span class="glyphicon glyphicon-home"></span><br />Anl.Det.</th>
		    						<th><span class="glyphicon glyphicon-comment"></span><br />Arb. Auftr.</th>
		    						<th><span class="glyphicon glyphicon-time"></span><br />Zeiterf.</th>
		    						<th><span class="glyphicon glyphicon-dashboard"></span><br />Ausw.</th>
		    						<th><span class="glyphicon glyphicon-align-justify"></span><br />Verlauf</th>
		    						<th><span class="glyphicon glyphicon-cog"></span><br />Admin</th>
		    						<th></th>
		    					</tr>
		    				</thead>
		    				<tbody style="height:120px;overflow-y:auto;overflow-x:hidden;">
		    					<tr data-ng-repeat="user in vm.allUsers | filter:searchUserForAuthentication track by $index" data-ng-style="!user.active && {'color': '#aaa'}">
		    						<td>{{$index+1}}.</td> 
		    						<td>
		    							<span class="glyphicon glyphicon-user" style="color:{{user.color}}"></span> 
		    							<span data-ng-if="user.active == true">{{user.title}} {{user.firstname}} <b>{{user.surname}}</b></span>
		    							<span style="text-decoration:line-through;" data-ng-if="user.active == false">{{user.title}} {{user.firstname}} <b>{{user.surname}}</b></span>
		    							<br />
		    							<span style="margin-left:20px;">(Username: {{user.username}})</span><br />
		    							<span style="margin-left:20px;" data-ng-show="user.projectUserConnectionRole != null">(Rolle: {{(user.projectUserConnectionRole | translate) || '--'}})</span>
		    						</td>
		    						<!-- Projects -->
		    						<td style="font-size:0.85em;">
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[0])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[0].state == true" title="Projekte"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[0])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[0].state == false" title="Projekte"> </span>L<br />
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[1])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[1].state == true" title="Projekte"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[1])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[1].state == false" title="Projekte"> </span>S<br />
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[2])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[2].state == true" title="Projekte"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[2])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[2].state == false" title="Projekte"> </span>E
		    						</td>
		    						<!-- Products -->
		    						<td style="font-size:0.85em;">
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[3])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[3].state == true" title="Produkte"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[3])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[3].state == false" title="Produkte"> </span>L<br />
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[4])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[4].state == true" title="Produkte"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[4])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[4].state == false" title="Produkte"> </span>S<br />
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[5])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[5].state == true" title="Produkte"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[5])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[5].state == false" title="Produkte"> </span>E
		    						</td>
		    						<!-- Rezepte -->
		    						<td style="font-size:0.85em;">
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[24])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[24].state == true" title="Rezepte"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[24])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[24].state == false" title="Rezepte"> </span>L<br />
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[25])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[25].state == true" title="Rezepte"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[25])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[25].state == false" title="Rezepte"> </span>S<br />
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[26])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[26].state == true" title="Rezepte"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[26])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[26].state == false" title="Rezepte"> </span>E
		    						</td>
		    						<!-- Mischungen -->
		    						<td style="font-size:0.85em;">
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[27])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[27].state == true" title="Mischungen"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[27])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[27].state == false" title="Mischungen"> </span>L<br />
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[28])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[28].state == true" title="Mischungen"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[28])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[28].state == false" title="Mischungen"> </span>S<br />
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[29])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[29].state == true" title="Mischungen"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[29])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[29].state == false" title="Mischungen"> </span>E
		    						</td>
		    						<!-- Verduennungen -->
		    						<td style="font-size:0.85em;">
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[30])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[30].state == true" title="Verd&uuml;nnungen"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[30])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[30].state == false" title="Verd&uuml;nnungen"> </span>L<br />
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[31])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[31].state == true" title="Verd&uuml;nnungen"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[31])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[31].state == false" title="Verd&uuml;nnungen"> </span>S<br />
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[32])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[32].state == true" title="Verd&uuml;nnungen"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[32])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[32].state == false" title="Verd&uuml;nnungen"> </span>E
		    						</td>
		    						<!-- Calendar -->
		    						<td style="font-size:0.85em;">
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[6])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[6].state == true" title="Kalender"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[6])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[6].state == false" title="Kalender"> </span>L<br />
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[7])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[7].state == true" title="Kalender"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[7])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[7].state == false" title="Kalender"> </span>S<br />
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[8])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[8].state == true" title="Kalender"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[8])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[8].state == false" title="Kalender"> </span>E
		    						</td>
		    						<!-- Contact -->
		    						<td style="font-size:0.85em;">
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[9])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[9].state == true" title="Kontakte"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[9])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[9].state == false" title="Kontakte"> </span>L<br />
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[10])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[10].state == true" title="Kontakte"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[10])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[10].state == false" title="Kontakte"> </span>S<br />
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[11])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[11].state == true" title="Kontakte"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[11])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[11].state == false" title="Kontakte"> </span>E
		    						</td>
		    						<!-- Taetigkeitsbericht -->
		    						<td style="font-size:0.85em;">
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[33])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[33].state == true" title="Taetigkeitsbericht"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[33])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[33].state == false" title="Taetigkeitsbericht"> </span>L<br />
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[34])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[34].state == true" title="Taetigkeitsbericht"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[34])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[34].state == false" title="Taetigkeitsbericht"> </span>S<br />
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[35])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[35].state == true" title="Taetigkeitsbericht"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[35])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[35].state == false" title="Taetigkeitsbericht"> </span>E
		    						</td>
		    						<!-- Anlagendetails -->
		    						<td style="font-size:0.85em;">
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[36])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[36].state == true" title="Anlagendetails"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[36])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[36].state == false" title="Anlagendetails"> </span>L<br />
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[37])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[37].state == true" title="Anlagendetails"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[37])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[37].state == false" title="Anlagendetails"> </span>S<br />
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[38])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[38].state == true" title="Anlagendetails"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[38])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[38].state == false" title="Anlagendetails"> </span>E
		    						</td>
		    						<!-- Communication -->
		    						<td style="font-size:0.85em;">
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[12])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[12].state == true" title="Arbeitsauftr&auml;ge"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[12])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[12].state == false" title="Arbeitsauftr&auml;ge"> </span>L<br />
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[13])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[13].state == true" title="Arbeitsauftr&auml;ge"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[13])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[13].state == false" title="Arbeitsauftr&auml;ge"> </span>S<br />
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[14])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[14].state == true" title="Arbeitsauftr&auml;ge"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[14])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[14].state == false" title="Arbeitsauftr&auml;ge"> </span>E
		    						</td>
		    						<!-- Time registration -->
		    						<td style="font-size:0.85em;">
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[15])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[15].state == true" title="Zeiterfassung"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[15])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[15].state == false" title="Zeiterfassung"> </span>L<br />
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[16])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[16].state == true" title="Zeiterfassung"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[16])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[16].state == false" title="Zeiterfassung"> </span>S<br />
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[17])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[17].state == true" title="Zeiterfassung"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[17])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[17].state == false" title="Zeiterfassung"> </span>E
		    						</td>
		    						<!-- reporting -->
		    						<td style="font-size:0.85em;">
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[39])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[39].state == true" title="Auswertungen"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[39])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[39].state == false" title="Auswertungen"> </span>L<br />
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[40])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[40].state == true" title="Auswertungen"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[40])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[40].state == false" title="Auswertungen"> </span>S<br />
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[41])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[41].state == true" title="Auswertungen"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[41])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[41].state == false" title="Auswertungen"> </span>E
		    						</td>
		    						<!-- history -->		    						
		    						<td style="font-size:0.85em;">
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[18])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[18].state == true" title="Verlauf"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[18])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[18].state == false" title="Verlauf"> </span>L<br />
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[19])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[19].state == true" title="Verlauf"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[19])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[19].state == false" title="Verlauf"> </span>S<br />
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[20])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[20].state == true" title="Verlauf"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[20])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[20].state == false" title="Verlauf"> </span>E
		    						</td>
		    						<!-- administration -->
		    						<td style="font-size:0.85em;">
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[21])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[21].state == true" title="Administration"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[21])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[21].state == false" title="Administration"> </span>L<br />
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[22])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[22].state == true" title="Administration"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[22])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[22].state == false" title="Administration"> </span>S<br />
		    							<span class="glyphicon glyphicon-ok icon-hover successMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[23])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[23].state == true" title="Administration"></span>
		    							<span class="glyphicon glyphicon-remove icon-hover errorMessage" data-ng-click="vm.saveUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer, user.userAuthorizationUserContainer.userAuthorizations[23])" data-ng-show="user.userAuthorizationUserContainer.userAuthorizations[23].state == false" title="Administration"> </span>E
		    						</td>
		    						<td>
		    							<span data-ng-show="user.userAuthorizationUserContainer == null">
			    							<select name="userRole" data-ng-change="vm.updateUserAuthorizationUserContainer(user, projectUserConnectionRole)" data-ng-model="projectUserConnectionRole" class="form-control" data-ng-options="projectUserConnectionRole | translate for projectUserConnectionRole in vm.projectUserConnectionRoles">
											</select>
										</span>
										<span data-ng-show="user.userAuthorizationUserContainer != null && vm.userAuthorizationUserContainer.userAuthorizations[23].state == true" class="glyphicon glyphicon-pencil icon-hover" data-ng-click="vm.deleteUserAuthorizationUserContainer(user, user.userAuthorizationUserContainer)"></span>
		    						</td>
		    					</tr>
		    				</tbody>
		    			</table>
		    			<br />
		    			<br />
		    		</div>
				</tab>
			    <tab active="false">	
					<tab-heading class="tabHeading">
						<span class="glyphicon glyphicon-user"></span>
						User duplizieren
					</tab-heading>
					<br />
			    	<br />
					<div class="adminContainer containerWidth">
						<b>User duplizieren:</b>
						<br />
				    	<br />
			    		<table>
			    			<tr>
			    				<td>Von:</td>
			    				<td><span>&nbsp;</span></td>
			    				<td>
			    					<select name="category" style="max-width: 250px;" class="form-control" data-ng-model="vm.duplicateUserFrom" data-ng-options="user.title + ' ' + user.firstname + ' ' + user.surname for user in vm.allUsers">
									</select>
			    				</td>
			    				<td><span>&nbsp;</span></td>
			    				<td>
			    					<span class="glyphicon glyphicon-alert errorMessage" data-ng-show="vm.duplicateUserFromSelectionError == true"></span>
			    				</td>
			    			</tr>
			    		</table>
						<br />
						<table>
			    			<tr>
			    				<td>Nach:</td>
			    				<td><span>&nbsp;</span></td>
			    				<td>
			    					<select name="category" style="max-width: 250px;" class="form-control" data-ng-model="vm.duplicateUserTo" data-ng-options="user.title + ' ' + user.firstname + ' ' + user.surname for user in vm.allUsers">
									</select>
			    				</td>
			    				<td><span>&nbsp;</span></td>
			    				<td>
			    					<span class="glyphicon glyphicon-alert errorMessage" data-ng-show="vm.duplicateUserToSelectionError == true"></span>
			    				</td>
			    			</tr>
			    		</table>
						<br />
						<button type="button" class="btn btn-default btn" data-ng-disabled="vm.duplicationSecurity == false" data-ng-click="vm.duplicateUser()" style="margin-left:140px;">
						  duplizieren
						</button>
						<input type="checkbox" data-ng-model="vm.duplicationSecurity" data-ng-true-value="true" data-ng-false-value="false" />
						<br />
						<br />
						<div data-ng-show="vm.userDuplicationSuccess == true" class="successMessage">
							Es wurden {{vm.duplicateUserTo.title}} {{vm.duplicateUserTo.firstname}} {{vm.duplicateUserTo.surname}} die Berechtigungen, alle Projekte und Kalendereintr&auml;ge von
						    {{vm.duplicateUserFrom.title}} {{vm.duplicateUserFrom.firstname}} {{vm.duplicateUserFrom.surname}} zugewiesen!
						</div>
						<div data-ng-show="vm.userDuplicationError == true" class="errorMessage">
							Beim duplizieren vom User {{vm.duplicateUserTo.title}} {{vm.duplicateUserTo.firstname}} {{vm.duplicateUserTo.surname}} zum User
						    {{vm.duplicateUserFrom.title}} {{vm.duplicateUserFrom.firstname}} {{vm.duplicateUserFrom.surname}} ist etwas schief gegangen!
						</div>
			    	</div>
				</tab>
				<tab active="false">	
					<tab-heading class="tabHeading">
						<span class="fa fa-user-plus"></span>
						User registrieren
					</tab-heading>
					<br />
			    	<br />
					<div class="adminContainer" style="max-width:800px;">
			    		<registration-directive invoker="vm" mandator="null"></registration-directive>
				       	<div data-ng-show="vm.signupError != null" class="errorMessage">
				        	{{vm.signupError | translate}}
				       	</div>
				       	<div style="float:right;" class="successMessage" data-ng-show="vm.userRegistered == true">User wurde registriert</div>
				       	<br />
			    	</div>
				</tab>
				<tab active="false">	
					<tab-heading class="tabHeading">
						<span class="fa fa-search"></span>
						User suchen
					</tab-heading>
					<br />
			    	<br />
					<div class="adminContainer containerWidth">
						<b>Suchen von Usern:</b>
						<br />
						<br />
						<table>
							<tr>
								<td><span class="glyphicon glyphicon-user"></span></td>
								<td><span>&nbsp;</span></td>
								<td><input type="text" name="name" data-ng-change="vm.searchUsersByTerm(term)" data-ng-minlength="3" data-ng-model="term" class="form-control" placeholder="Suchen von Usern" autofocus></td>
							</tr>
						</table>
				    	<br />
				    	<span data-ng-show="vm.foundedUsers.length > 0"><b>{{vm.foundedUsers.length}}</b> User gefunden:</span>
				    	<br />
				    	<br />
				    	<div data-ng-repeat="foundedUser in vm.foundedUsers track by $index">
					    	<table class="table table-striped">
					    		<tr>
					    			<td><span class="description">Username:</span></td>
					    			<td>
					    				<span editable-text="foundedUser.username" onaftersave="vm.updateUser(foundedUser, 'username')">{{foundedUser.username}}</span>
					    				<span data-ng-show="foundedUser.usernameSuccess == true" class="glyphicon glyphicon-ok successMessage"></span>
					    				<span data-ng-show="foundedUser.usernameError == true" class="glyphicon glyphicon-alert errorMessage"></span>
					    			</td>
					    		</tr>
					    		<tr>
					    			<td><span class="description">Name:</span></td>
					    			<td>
					    				<span class="glyphicon glyphicon-user" style="color:{{foundedUser.color}}"></span>
					    				<span editable-text="foundedUser.title" onaftersave="vm.updateUser(foundedUser, 'name')">{{foundedUser.title || '--'}}</span> 
					    				<span editable-text="foundedUser.firstname" onaftersave="vm.updateUser(foundedUser, 'name')">{{foundedUser.firstname || '--'}}</span> 
					    				<span editable-text="foundedUser.surname" onaftersave="vm.updateUser(foundedUser, 'name')">{{foundedUser.surname || '--'}}</span>
					    				<span data-ng-show="foundedUser.nameSuccess == true" class="glyphicon glyphicon-ok successMessage"></span>
					    				<span data-ng-show="foundedUser.nameError == true" class="glyphicon glyphicon-alert errorMessage"></span>
					    			</td>
					    		</tr>
					    		<tr>
					    			<td><span class="description">Land:</span></td>
					    			<td>
					    				<span editable-text="foundedUser.address.country" onaftersave="vm.updateUser(foundedUser, 'country')">{{foundedUser.address.country || '--'}}</span>
					    				<span data-ng-show="foundedUser.countrySuccess == true" class="glyphicon glyphicon-ok successMessage"></span>
					    				<span data-ng-show="foundedUser.countryError == true" class="glyphicon glyphicon-alert errorMessage"></span>
					    			</td>
					    		</tr>
					    		<tr>
					    			<td><span class="description">Ort:</span></td>
					    			<td>
					    				<span editable-text="foundedUser.address.postalCode" onaftersave="vm.updateUser(foundedUser, 'location')">{{foundedUser.address.postalCode || '--'}}</span> 
					    				<span editable-text="foundedUser.address.region" onaftersave="vm.updateUser(foundedUser, 'location')">{{foundedUser.address.region || '--'}}</span>
					    				<span data-ng-show="foundedUser.locationSuccess == true" class="glyphicon glyphicon-ok successMessage"></span>
					    				<span data-ng-show="foundedUser.locationError == true" class="glyphicon glyphicon-alert errorMessage"></span>
					    			</td>
					    		</tr>
					    		<tr>
					    			<td><span class="description">Stra&szlig;e:</span></td>
					    			<td>
					    				<span editable-text="foundedUser.address.street" onaftersave="vm.updateUser(foundedUser, 'street')">{{foundedUser.address.street || '--'}}</span>
					    				<span data-ng-show="foundedUser.streetSuccess == true" class="glyphicon glyphicon-ok successMessage"></span>
					    				<span data-ng-show="foundedUser.streetError == true" class="glyphicon glyphicon-alert errorMessage"></span>
					    			</td>
					    		</tr>
					    		<tr>
					    			<td><span class="description">Telefon:</span></td>
					    			<td>
					    				<span editable-text="foundedUser.telephone" onaftersave="vm.updateUser(foundedUser, 'telephone')">{{foundedUser.telephone || '--'}}</span>
					    				<span data-ng-show="foundedUser.telephoneSuccess == true" class="glyphicon glyphicon-ok successMessage"></span>
					    				<span data-ng-show="foundedUser.telephoneError == true" class="glyphicon glyphicon-alert errorMessage"></span>
					    			</td>
					    		</tr>
					    		<tr>
					    			<td><span class="description">Email:</span></td>
					    			<td>
					    				<span editable-text="foundedUser.email" onaftersave="vm.updateUser(foundedUser, 'email')">{{foundedUser.email || '--'}}</span>
					    				<span data-ng-show="foundedUser.emailSuccess == true" class="glyphicon glyphicon-ok successMessage"></span>
					    				<span data-ng-show="foundedUser.emailError == true" class="glyphicon glyphicon-alert errorMessage"></span>
					    			</td>
					    		</tr>
					    		<tr>
					    			<td><span class="description">Email aktiv:</span></td>
					    			<td>
					    				<input type="checkbox" data-ng-model="foundedUser.emailActive" data-ng-change="vm.updateUser(foundedUser, 'emailActive')">
					    				<span data-ng-show="foundedUser.emailActiveSuccess == true" class="glyphicon glyphicon-ok successMessage"></span>
					    				<span data-ng-show="foundedUser.emailActiveError == true" class="glyphicon glyphicon-alert errorMessage"></span>
					    			</td>
					    		</tr>
					    		<tr>
					    			<td><span class="description">Mandant:</span></td>
					    			<td>
					    				{{vm.currentUser.tenant.name}} 
					    			</td>
					    		</tr>
					    		<tr>
					    			<td><span class="description">Rolle:</span></td>
					    			<td>
					    				<table>
					    					<tr>
					    						<td>
					    							<select name="category" style="max-width: 250px;" class="form-control" data-ng-model="foundedUser.projectUserConnectionRole" data-ng-change="vm.updateUser(foundedUser, 'role')" data-ng-options="projectUserConnectionRole | translate for projectUserConnectionRole in vm.projectUserConnectionRoles">
													</select>
					    						</td>
					    						<td><span>&nbsp;</span></td>
					    						<td>
					    							<span data-ng-show="foundedUser.roleSuccess == true" class="glyphicon glyphicon-ok successMessage"></span>
					    							<span data-ng-show="foundedUser.roleError == true" class="glyphicon glyphicon-alert errorMessage"></span>
					    						</td>
					    					</tr>
					    				</table>
					    			</td>
					    		</tr>
					    		<tr>
					    			<td><span class="description">User aktiv:</span></td>
					    			<td>
					    				<input type="checkbox" data-ng-model="foundedUser.active" data-ng-change="vm.updateUser(foundedUser, 'userActive')">
					    				<span data-ng-show="foundedUser.userActiveSuccess == true" class="glyphicon glyphicon-ok successMessage"></span>
					    				<span data-ng-show="foundedUser.userActiveError == true" class="glyphicon glyphicon-alert errorMessage"></span>
					    			</td>
					    		</tr>
					    		<tr>
					    			<td><span class="description">Neues Passwort:</span></td>
					    			<td>
					    				<span editable-text="foundedUser.password" onaftersave="vm.updatePassword(foundedUser, 'password')">{{foundedUser.password || '--'}}</span>
					    				<span data-ng-show="foundedUser.passwordSuccess == true" class="glyphicon glyphicon-ok successMessage"></span>
					    				<span data-ng-show="foundedUser.passwordError == true" class="glyphicon glyphicon-alert errorMessage"></span>
					    				(min. 8 Zeichen)
					    			</td>
					    		</tr>
					    		<tr data-ng-if="foundedUser.projectUserConnectionRole == 'EXTERNAL_WORKER'">
					    			<td><span class="description">alle Kontakte abfragbar:</span></td>
					    			<td>
					    				<input type="checkbox" data-ng-model="foundedUser.allContactsAvailable" data-ng-change="vm.updateUser(foundedUser, 'allContactsAvailable')">
					    				<span style="font-size:0.8em;color:#777;">(keine Einschr&auml;nkung &uuml;ber Vertreternummern)</span>
					    				<span data-ng-show="foundedUser.allContactsAvailableSuccess == true" class="glyphicon glyphicon-ok successMessage"></span>
					    				<span data-ng-show="foundedUser.allContactsAvailableError == true" class="glyphicon glyphicon-alert errorMessage"></span>
					    			</td>
					    		</tr>
					    		<tr data-ng-if="foundedUser.allContactsAvailable == null || foundedUser.allContactsAvailable == false">
					    			<td><span class="description">Vertreternummer(n):</span></td>
					    			<td>
					    				<span class="glyphicon glyphicon-plus icon-hover" data-ng-show="foundedUser.agentNumberContainers == null || foundedUser.agentNumberContainers.length == 0" data-ng-click="vm.addAgentNumberContainer(foundedUser)" title="Vertreternummer dem User hinzuf&uuml;gen"></span>
					    				<table>
					    					<tr data-ng-repeat="agentNumberContainer in foundedUser.agentNumberContainers track by $index">
								    			<td>
								    				<input type="text" class="form-control" name="customerNumber_{{$index}}" data-ng-model="foundedUser.agentNumberContainers[$index].customerNumber" data-ng-change="vm.updateUser(foundedUser, 'agentNumberContainers')" placeholder="Vertreternummer {{$index+1}}">
								    			</td>
								    			<td><span>&nbsp;</span></td>
								    			<td>
								    				<span class="glyphicon glyphicon-plus icon-hover" data-ng-show="$index == 0" data-ng-click="vm.addAgentNumberContainer(foundedUser)" title="Vertreternummer dem User hinzuf&uuml;gen"></span>
								    				<span class="glyphicon glyphicon-minus icon-hover" data-ng-click="vm.removeAgentNumberContainer(foundedUser, $index)" title="Vertreternummer vom User entfernen"></span>
								    			</td>
								    		</tr>
					    				</table>	
					    				<span data-ng-show="foundedUser.agentNumberContainersSuccess == true" class="glyphicon glyphicon-ok successMessage"></span>
					    				<span data-ng-show="foundedUser.agentNumberContainersError == true" class="glyphicon glyphicon-alert errorMessage"></span>
					    			</td>
					    		</tr>
					    		<tr>
					    			<td><span>&nbsp;</span></td>
					    			<td>
					    				<button type="button" class="btn btn-default btn" style="float:right;" data-ng-click="vm.showYesNoAdministrationModalService(foundedUser)">
										  User l&ouml;schen
										</button>
										<span class="glyphicon glyphicon-ok successMessage" data-ng-show="foundedUser.userDeleted == true"></span>
										<span class="glyphicon glyphicon-alert errorMessage" data-ng-show="foundedUser.userDeletionError == true" title="{{foundedUser.userDeletionErrorMessage | translate}}"></span>
					    			</td>
					    		</tr>
					    	</table>
					    	<br />
					    	<br />
				    	</div>
				    </div>
				</tab>				
				<tab active="false">	
					<tab-heading class="tabHeading">
						<span class="glyphicon glyphicon-envelope"></span>
						Email- Versand
					</tab-heading>
					<br />
			    	<br />
					<div class="adminContainer containerWidth">
						<b>Email- Versand einstellen:</b>
						<br />
						<br />
				    	<button type="button" class="btn btn-default btn" aria-label="Left Align" data-ng-click="vm.sendCalendarEventRememberingMessage()">
						  <span class="glyphicon glyphicon-calendar"></span> Kalendertermine Email senden
						</button>
						<span class="glyphicon glyphicon-ok successMessage" data-ng-show="vm.sendCalendarEventRememberingMessageTrigger == true"></span>
						<br />
						<br />
						<table>
							<tr data-ng-repeat="calendarEventScheduleDay in vm.calendarEventScheduleDays track by $index">
								<td><input type="number" class="form-control" style="width:70px;" data-ng-model="calendarEventScheduleDay.days" data-ng-change="vm.updateCalendarEventScheduleDay(calendarEventScheduleDay)" /></td>
								<td><span>&nbsp;</span></td>
								<td>Tag(e)</td>
								<td><span>&nbsp;</span></td>
								<td>
									<span class="glyphicon glyphicon-plus icon-hover" data-ng-show="$index == 0" data-ng-click="vm.addCalendarEventScheduleDay()"></span>
									<span class="glyphicon glyphicon-minus icon-hover" data-ng-show="$index > 0" data-ng-click="vm.removeCalendarEventScheduleDay(calendarEventScheduleDay)"></span>
								</td>
								<td><span>&nbsp;</span></td>
								<td><span class="glyphicon glyphicon-ok successMessage" data-ng-show="calendarEventScheduleDay.calendarEventScheduleDayUpdated == true"></span></td>
							  </tr>
						</table>
						<br />
						<hr />
						<br />
						<button type="button" class="btn btn-default btn" aria-label="Left Align" data-ng-click="vm.sendHistoryMessages()">
						  <span class="glyphicon glyphicon-align-justify"></span> &Auml;nderungs- Historie von gestern senden
						</button>
						<span class="glyphicon glyphicon-ok successMessage" data-ng-show="vm.sendHistoryMessageTrigger == true"></span>
						<br />
						<br />
						<hr />
						<br />
						<button type="button" class="btn btn-default btn" aria-label="Left Align" data-ng-click="vm.sendCalendarEventOutsideWorkRememberingMessages()">
						  <span class="glyphicon glyphicon-envelope"></span> Au&szlig;endienst- Erinnerungs- Emails senden
						</button>
						<span class="glyphicon glyphicon-ok successMessage" data-ng-show="vm.sendCalendarEventOutsideWorkRememberingMessageTrigger == true"></span>
					</div>
					<br />
					<div class="adminContainer containerWidth">
						<b>Email- Versand testen</b>
						<br />
						<br />
						<table>
							<tr>
								<td>
									<input type="text" class="form-control" style="max-width:200px;" data-ng-model="testEmailAddress" placeholder="Email- Adresse" />
								</td>
								<td><span>&nbsp;</span></td>
								<td>
									<button type="button" class="btn btn-default btn" style="float:right;" data-ng-click="vm.sendTestEmail(testEmailAddress)">
										  Senden
									</button>
								</td>
								<td><span>&nbsp;</span></td>
								<td>
									<span data-ng-show="vm.testEmailSent == true" class="glyphicon glyphicon-ok successMessage"></span>
								</td>
							</tr>
						</table>
					</div>
				</tab>
				<tab active="false">	
					<tab-heading class="tabHeading">
						<span class="glyphicon glyphicon-info-sign"></span>
						Rolleninfo
					</tab-heading>
					<br />
			    	<br />
					<div class="adminContainer containerWidth">
			    		<span class="glyphicon glyphicon-info-sign"></span> <b>Vertrauliche</b> Dokumente sind f&uuml;r folgende <b>Rollen</b> sichtbar:
			    		<br /><br />
			    		 {{'ADMIN' | translate }}<br />
			    		 {{'GENERAL_MANAGER' | translate }}<br />
			    		 {{'PROJECT_MANAGER' | translate }}<br />
			    		 {{'LABOR' | translate }}<br />
			        </div>
				</tab>
				<tab active="false">	
					<tab-heading class="tabHeading">
						<span class="glyphicon glyphicon-tag"></span>
						Tags
					</tab-heading>
					<br />
			    	<br />
			    	<div class="adminContainer containerWidth">
			    		<b><span class="glyphicon glyphicon-tag"></span> Neuen Tag eingeben</b>:
			    		<br />
			    		<br />
			    		<table>
			    			<tr>
			    				<td><input type="text" class="form-control input" data-ng-model="vm.newLabel" data-ng-enter="vm.addNewLabel(vm.newLabel)" placeholder="mit Enter best&auml;tigen" /></td>
			    				<td><span>&nbsp;</span></td>
			    				<td><span>&nbsp;</span></td>
			    				<td>
			    					<input type="checkbox" data-ng-model="vm.labelsPredefinedType" data-ng-true-value="'DESCRIPTIVE'" /> beschreibend <span class="glyphicon glyphicon-tag successMessage"></span><br />
			    					<input type="checkbox" data-ng-model="vm.labelsPredefinedType" data-ng-true-value="'CONTENT'" /> Inhalt <span class="glyphicon glyphicon-tag errorMessage"></span><br />
			    					<input type="checkbox" data-ng-model="vm.labelsPredefinedType" data-ng-true-value="'PRODUCT_DESCRIPTIVE'" /> produktbeschreibend <span class="glyphicon glyphicon-tag productTagColor"></span>
			    				</td>
			    				<td><span>&nbsp;</span></td>
			    				<td><span>&nbsp;</span></td>
			    				<td><span data-ng-show="vm.createLabelClicked == true" class="glyphicon glyphicon-ok successMessage"></span></td>
			    			</tr>
			    		</table>
			    		<div class="errorMessage" data-ng-show="vm.labelStillExistsError">
			    			Dieses Label existiert bereits!
			    		</div>
			    		<div class="errorMessage" data-ng-show="vm.labelsPredefinedTypeError">
			    			Bitte den Typ dieses Labels ausw&auml;hlen
			    		</div>
			    		<br />
			    		<div class="labelContainer">
			    			<table>
			    				<thead>
				    				<tr>
				    					<th>#</th>
				    					<th></th>
				    					<th></th>
				    					<th></th>
				    					<th>
				    						<table>
												<tr>
													<td><span class="glyphicon glyphicon-chevron-down icon-hover sortIcon lightGrayMessage" data-ng-click="vm.orderType = 'labelsPredefinedType'"></span></td>
													<td><span class="glyphicon glyphicon-chevron-up icon-hover sortIcon lightGrayMessage" data-ng-click="vm.orderType = '-labelsPredefinedType'"></span></td>
												</tr>
											</table>
				    					</th>
				    					<th></th>
				    					<th>
				    						<table>
												<tr>
													<td><span class="glyphicon glyphicon-chevron-down icon-hover sortIcon lightGrayMessage" data-ng-click="vm.orderType = 'name'"></span></td>
													<td><span class="glyphicon glyphicon-chevron-up icon-hover sortIcon lightGrayMessage" data-ng-click="vm.orderType = '-name'"></span></td>
												</tr>
											</table>
				    					</th>
				    					<th></th>
				    					<th></th>
				    				</tr>
				    			</thead>
				    			<tbody>
				    				<tr data-ng-repeat="labelPredefined in vm.allLabelsPredefined | orderBy:vm.orderType track by $index">
				    					<td class="firstColumn">{{$index+1}}.</td>
				    					<td><span>&nbsp;</span></td>
				    					<td><span>&nbsp;</span></td>
				    					<td><span>&nbsp;</span></td>
				    					<td>
				    						<span class="glyphicon glyphicon-tag successMessage" data-ng-show="labelPredefined.labelsPredefinedType == 'DESCRIPTIVE'" title="Beschreibung"></span>
				    						<span class="glyphicon glyphicon-tag errorMessage" data-ng-show="labelPredefined.labelsPredefinedType == 'CONTENT'" title="Inhalt"></span>
				    						<span class="glyphicon glyphicon-tag productTagColor" data-ng-show="labelPredefined.labelsPredefinedType == 'PRODUCT_DESCRIPTIVE'" title="Produkt- Beschreibung"></span>
				    					</td>
				    					<td><span>&nbsp;</span></td>
				    					<td><span data-ng-class="labelPredefined.stillExists == true ? 'errorMessage' : ''">{{labelPredefined.name}}</span></td>
				    					<td><span>&nbsp;</span></td>
				    					<td><span class="glyphicon glyphicon-minus icon-hover lightGrayMessage" data-ng-show="vm.userAuthorizationUserContainer.userAuthorizations[23].state == true" data-ng-click="vm.deleteLabel(labelPredefined)"></span></td>
				    				</tr>
				    			</tbody>
			    			</table>
			    		</div>
			    	</div>
			    </tab>
			    <tab active="false">	
					<tab-heading class="tabHeading">
						<span class="glyphicon glyphicon-import"></span>
						Kontakt- Import
					</tab-heading>
					<br />
			    	<br />
			    	<div class="adminContainer containerWidth" style="height:600px;">
						<b><span class="glyphicon glyphicon-home"></span> Importierte Kontakte l&ouml;schen:</b>
						<br />
						<br />
						<button type="button" class="btn btn-default btn" data-ng-disabled="vm.amountOfContactsImported == 0" data-ng-click="vm.showDeleteAllContactsImported()">
						  Alle {{vm.amountOfContactsImported}} <b>importierten Kontakte</b> l&ouml;schen
						</button>
						<span class="errorMessage" data-ng-show="vm.amountOfContactsImported == 0">
							Keine importierten Kontakte vorhanden
						</span>
						<br />
						<br />
						<span class="errorMessage" data-ng-show="vm.contactsImportedDeleted == true">Alle importierten Kontakte wurden gel&ouml;scht</span>
			    		<br />
			    		<hr />
			    		<br />
			    		<b><i class="fa fa-truck icon-flipped" aria-hidden="true" title="Kunden"></i> Kunden- Kontakte l&ouml;schen:</b>
			    		<br />
						<br />
						<table>
							<tr>
								<td>
									<select class="form-control" name="country" data-ng-model="vm.selectedCountry" data-ng-options="country as country | translate for country in vm.countryTypes">
									</select>
								</td>
								<td><span>&nbsp;</span></td>
								<td>
									<button type="button" class="btn btn-default btn" data-ng-disabled="vm.amountOfContacts == 0 || vm.selectedCountry == null" data-ng-click="vm.showDeleteAllCustomerContacts()">
									  Alle <b>Kunden- Kontakte</b> in <b>{{(vm.selectedCountry | translate) || '--'}}</b> l&ouml;schen
									</button>
								</td>
							</tr>
						</table>
						<span class="errorMessage" data-ng-show="vm.amountOfContacts == 0">
							Keine Kontakte vorhanden
						</span>
						<div style="color:#aaa;">Alle Kontakte des eingestellten Landes mit mindestens einer Kundennummer und welche keine Lieferantennummer haben, werden gel&ouml;scht</div>
						<br />
						<span class="errorMessage" data-ng-show="vm.contactsDeleted == true">Alle Kunden- Kontakte in {{vm.selectedCountry | translate}} wurden gel&ouml;scht</span>
			    		<br />
						<hr />
						<br />
			    		<b><span class="glyphicon glyphicon-cloud-upload"></span> Zu importierende Dateien hochladen:</b>
			    		<br />
			    		<br />
			    		<button type="button" class="btn btn-default btn"
			    			ngf-drop ngf-select data-ng-model="vm.contactFiles"
					        ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
					        accept="image/*,application/pdf,multipart/mixed" ngf-max-size="80MB">
							<b>Lieferadressen</b>- Datei hochladen
						</button>
						<br />
						<br />
			    		<button type="button" class="btn btn-default btn"
			    			ngf-drop ngf-select data-ng-model="vm.addressFiles"
					        ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
					        accept="image/*,application/pdf,multipart/mixed" ngf-max-size="80MB">
							<b>Adress</b>- Datei hochladen
						</button>
						<br />
						<br />
						<div class="errorMessage" data-ng-show="vm.pathContactSet == true">Lieferadressen- Datei Pfad gesetzt</div>
						<div class="errorMessage" data-ng-show="vm.pathAddressSet == true">Adress- Datei Pfad gesetzt</div>
						<br />
						<br />
			    	</div>
			    	<br />
			    	<div class="adminContainer containerWidth" style="height:250px;">
			    		<b><span class="glyphicon glyphicon-import"></span> Kontakte importieren:</b>
			    		<br />
			    		<br />
			    		<table class="table">
			    			<tr>
			    				<td><span>Pfad zur <b>Lieferadressen</b>- Datei</span></td>
			    				<td><input type="text" class="form-control" data-ng-class="vm.pathContactSet == true ? 'errorMessage' : ''" data-ng-model="vm.pathContact" /></td>
			    			</tr>
			    			<tr>
			    				<td><span>Pfad zur <b>Adress</b>- Datei</span></td>
			    				<td><input type="text" class="form-control" data-ng-class="vm.pathAddressSet == true ? 'errorMessage' : ''" data-ng-model="vm.pathAddress" /></td>
			    			</tr>
			    		</table>
			    		<table style="float:right;margin-right:10px;">
			    			<tr>
			    				<td>
			    					<div class="loadingContainer" data-ng-show="vm.mergeContactsWithAddressesAndSaveTrigger == true">
									  	<img src="assets/img/loading.gif" />
									  	<span class="loadingText">Kontakte werden importiert, bitte etwas Geduld ...</span>     
									</div>
			    				</td>
			    				<td><span>&nbsp;</span></td>
			    				<td>
			    					<button type="button" class="btn btn-default btn" data-ng-disabled="vm.mergeContactsWithAddressesAndSaveTrigger == true" data-ng-click="vm.mergeContactsWithAddressesAndSave(vm.pathAddress, vm.pathContact)">
									  Kontakte importieren
									  <span class="glyphicon glyphicon-ok successMessage" data-ng-show="vm.mergeContactsWithAddressesAndSaveSuccess == true"></span>
									</button>
			    				</td>
			    			</tr>
			    		</table>
			    		<span class="successMessage" data-ng-show="vm.mergeContactsWithAddressesAndSaveSuccess == true">{{vm.amountOfContactsImported}} Kontakt(e) importiert</span>
			    		<span class="errorMessage" data-ng-show="vm.systemImportNoPathAddressError == true">Bitte Pfad zur Adress- Datei eingeben</span>
			    		<span class="errorMessage" data-ng-show="vm.systemImportNoPathContactError == true">Bitte Pfad zur Lieferadress- Datei eingeben</span>
			    		<span class="errorMessage" data-ng-show="vm.systemImportContactFileNotFoundError == true">Lieferadressen- Datei nicht gefunden</span>
			    		<span class="errorMessage" data-ng-show="vm.systemImportAddressFileNotFoundError == true">Adress- Datei nicht gefunden</span>
			    		<span class="errorMessage" data-ng-show="vm.systemImportAddressFileNotReadableError == true">Lieferadress- Datei nicht lesbar</span>
			    		<span class="errorMessage" data-ng-show="vm.systemImportContactFileNotReadableError == true">Adress- Datei nicht lesbar</span>
			    		<span class="errorMessage" data-ng-show="vm.generalSystemImportError == true">Fehler beim Kontakt- Import aufgetreten</span>
			    	</div>
			    	<br />
			    	<div class="adminContainer containerWidth" style="height:125px;">
			    		<b><span class="glyphicon glyphicon-import"></span> Kontakte importieren &uuml;ber den Standardpfad</b> (konfiguriert in application.properties):
			    		<br />
			    		<br />
			    		<table style="float:right;margin-right:10px;">
			    			<tr>
			    				<td>
			    					<div class="loadingContainer" data-ng-show="vm.mergeContactsWithAddressesAndSaveOfStandardPathTrigger == true">
									  	<img src="assets/img/loading.gif" />
									  	<span class="loadingText">Kontakte werden importiert, bitte etwas Geduld ...</span>     
									</div>
			    				</td>
			    				<td><span>&nbsp;</span></td>
			    				<td>
			    					<button type="button" class="btn btn-default btn" data-ng-click="vm.mergeContactsWithAddressesAndSaveOfStandardPath()" data-ng-disabled="vm.mergeContactsWithAddressesAndSaveOfStandardPathTrigger == true">
									  Kontakte importieren
									</button>
			    				</td>
			    			</tr>
			    		</table>
			    		<span class="errorMessage" data-ng-show="vm.systemImportContactFileOfStandardPathNotFoundError == true">Datei(en) nicht gefunden</span>
			    	</div>
			    </tab>
			</tabset>		    
	    </div>
	</div>
</div>