<div class="contactAndContactImportedModal" id="contactAndContactImported">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close non-printable" data-ng-click="vm.closeContactAndContactImportedModal()"></span>
		<h4><span class="glyphicon glyphicon-home"></span> Gegen&uuml;berstellung bestehender Kontakt - importierter Kontakt</h4>
		<span class="non-printable"><button style="float:right;" onClick="javascript:window.print()" type="button" class="btn btn-default printButton"><span class="glyphicon glyphicon-print icon-hover"></span></button></span>
		<br class="non-printable" />
		<br class="non-printable" />
    </div>
    <div class="modal-body">
    	<div class="printInfo">
	    	<div style="float:left;margin-top:-10px;" class="printInfo">
	    		<br />
	    		Ausgedruckt am <b>{{vm.date | date:'dd.MM.yyyy HH:mm'}}</b>
	    		von {{vm.currentUser.title}} {{vm.currentUser.firstname}} <b>{{vm.currentUser.surname}}</b>
	    	</div>	
	    	<div style="float:right;margin-right:10px;" class="logo">
	    		<img class="logo" src="/assets/img/LPMLogo3.png" alt="wdm Logo">
	    	</div>
	   		<br />
	   		<br />
	   		<br />
	   		<br />
   		</div>
    	<div class="row clearfix">
	    	<div class="col-md-6 column">
	    		<div data-ng-show="vm.contactAndContactImportedContainer.contact == null">
	    			<span class="header">kein bestehender Kontakt vorhanden</span>
	    		</div>
	    		<div data-ng-show="vm.contactAndContactImportedContainer.contact != null">
					<span class="header">
						bestehender Kontakt
						<span class="glyphicon glyphicon-ban-circle errorMessage icon-hover" data-ng-show="vm.contactAndContactImportedContainer.contact.active == false" title="Kontakt wurde deaktiviert"></span>
					</span>
					<br />
					<br />
					<create-edit-contact-directive
						contact="vm.contactAndContactImportedContainer.contact" 
						titles="vm.titles" 
						province-types="vm.provinceTypes" 
						contact-types="vm.contactTypes"
						country-types="vm.countryTypes" 
						invoker="vm" 
						modal-invoker="" 
						type="'SHOW'"
						current-user="vm.currentUser"
						roles="vm.roles"
						users-of-project="null"
						disabled="true">
					</create-edit-contact-directive>
	    		</div>
	    	</div>
	    	<div class="col-md-6 column">
	    		<div data-ng-show="vm.contactAndContactImportedContainer.contactImported == null">
	    			<span class="header">kein importierter Kontakt vorhanden</span>
	    		</div>
	    		<div data-ng-show="vm.contactAndContactImportedContainer.contactImported != null">
	    			<span class="header">importierter Kontakt</span>
	    			<br />
	    			<br />
		    			<create-edit-contact-directive 
							contact="vm.contactAndContactImportedContainer.contactImported" 
							titles="vm.titles" 
							province-types="vm.provinceTypes" 
							contact-types="vm.contactTypes"
							country-types="vm.countryTypes" 
							invoker="vm" 
							modal-invoker="" 
							type="'SHOW'"
							current-user="vm.currentUser"
							roles="vm.roles"
							users-of-project="null"
							disabled="false">
						</create-edit-contact-directive>
	    		</div>
	    	</div>
	    </div>
    </div>
    <div class="modal-footer non-printable" style="border:none;">
    	<button class="btn btn-default" type="button" data-ng-click="vm.confirmContactImported()">Best&auml;tigen</button>
        <button class="btn btn-default" type="button" data-ng-click="vm.closeContactAndContactImportedModal()">Schlie&szlig;en</button>
    </div>
</div>