<div class="facilityDetailContainer">
	  <div style="font-size:1.2em;padding:5px;background-color:#eee;"><span class="glyphicon glyphicon-calendar"></span> 
	  	<b>{{calendarEvent.title}}</b> 
	  	{{calendarEvent.location}} 
	  	<span style="font-weight:bold;" data-ng-if="contact != null"><span class="glyphicon glyphicon-home" style="color:{{contact.color}}" title="{{contact.id}}"></span> <span data-ng-if="contact == null" style="color:#f00;">({{contact.id || '--'}})</span> {{contact.institution || '--'}}</span>
	  	<span style="font-size:0.8em;color:#777;" data-ng-if="contact == null">kein Kontakt</span>
	  	<span class="glyphicon glyphicon-time"></span>
	  	<span data-ng-bind-html="formatStartEndDateTime(calendarEvent.startsAt, calendarEvent.endsAt)"></span>
	  	<span class="glyphicon glyphicon-minus icon-hover" style="font-size:0.8em;float:right;" data-ng-show="userAuthorizationUserContainer.userAuthorizations[38].state == true && type == 'EDIT'" data-ng-click="showRemoveFacilityDetail(facilityDetail)" title="Anlagendetails l&ouml;schen"></span>		
	  	<span class="glyphicon glyphicon-edit icon-hover" style="font-size:0.8em;float:right;margin-right:5px;" data-ng-show="userAuthorizationUserContainer.userAuthorizations[37].state == true && (type == 'EDIT' || type == 'ONLY_SHOW')" data-ng-click="showContactFacilityDetailCreateEditModal(facilityDetail)" title="Anlagendetails editieren"></span>
	  </div>
	  <span style="float:right"><span class="glyphicon glyphicon-user" style="color:{{user.color}}"></span> 
	  	{{user.title || '--'}} {{user.firstname || '--'}} <b>{{user.surname || '--'}}</b> - <b>{{facilityDetail.creationDate || '--'}}</b>
	  </span>
	  <br />
 	  <table class="table">
 		<tr>
 			<td><b>1. Wer liefert was:</b></td>
 			<td>
 				<b>VTA:</b>
 				
 				<table class="table table-striped">
 					<tr data-ng-repeat="activityType in facilityDetail.activityTypes track by $index">
 						<td>{{activityType | translate}}</td>
 						<td>
 							<span data-ng-show="activityType == 'ROUTINE_VISITATION' && facilityDetail.activityRoutineVisitationInformation != null && facilityDetail.activityRoutineVisitationInformation.length > 0"> 
   						<b>Zusatzinformation:</b> {{facilityDetail.activityRoutineVisitationInformation}}
   					</span>
   					<span data-ng-show="activityType == 'POLYMER' && facilityDetail.activityPolymerInformation != null && facilityDetail.activityPolymerInformation.length > 0"> 
   						<b>Zusatzinformation:</b> {{facilityDetail.activityPolymerInformation}}
   					</span>
   					<span data-ng-show="activityType == 'FAELLUNGS_MITTEL' && facilityDetail.activityFaellungsMittelInformation != null && facilityDetail.activityFaellungsMittelInformation.length > 0"> 
   						<b>Zusatzinformation:</b> {{facilityDetail.activityFaellungsMittelInformation}}
   					</span>
   					<span data-ng-show="activityType == 'OTHER_CHEMICALS' && facilityDetail.activityOtherChemicalsInformation != null && facilityDetail.activityOtherChemicalsInformation.length > 0"> 
   						<b>Zusatzinformation:</b> {{facilityDetail.activityOtherChemicalsInformation}}
   					</span>
   					<span data-ng-show="activityType == 'TECHNIQUE' && facilityDetail.activityTechniqueInformation != null && facilityDetail.activityTechniqueInformation.length > 0"> 
   						<b>Zusatzinformation:</b> {{facilityDetail.activityTechniqueInformation}}
   					</span>
   					<span data-ng-show="activityType == 'SERVICE' && facilityDetail.activityServiceInformation != null && facilityDetail.activityServiceInformation.length > 0"> 
   						<b>Zusatzinformation:</b> {{facilityDetail.activityServiceInformation}}
   					</span>
   					<span data-ng-show="activityType == 'OTHERS' && facilityDetail.activityOtherInformation != null && facilityDetail.activityOtherInformation.length > 0"> 
   						<b>Zusatzinformation:</b> {{facilityDetail.activityOtherInformation}}
   					</span>
 						</td>
 					</tr>
 				</table>		       					
 				<b>Andere Anbieter:</b><br />
 				{{facilityDetail.otherVendors || '--'}}
 			</td>
 		</tr>
 		<tr>
 			<td><b>2. Anlagensituation:</b></td>
 			<td>
 				{{facilityDetail.situationOfFacility}}
 			</td>
 		</tr>
 		<tr>
 			<td><b>3. EW (ausgebaut):</b></td>
 			<td>
 				{{facilityDetail.ewBuild}}
 			</td>
 		</tr>
 		<tr>
 			<td><b>4. EW (belastet):</b></td>
 			<td>
 				{{facilityDetail.ewLoaded}}
 			</td>
 		</tr>
 		<tr>
 			<td><b>5. Anlagentyp:</b></td>
 			<td>
 				{{facilityDetail.discharge | translate}}
 				<br />
 				<br />
 				<br />
 				<table class="table table-striped">
 					<tr data-ng-repeat="facilityDetailType in facilityDetail.facilityDetailsTypes track by $index">
 						<td>
 							<span data-ng-class="(facilityDetailType == 'SEDIMENTATIONS_BECKEN' || facilityDetailType == 'FLOTATIONS_BECKEN') ? 'vorreinigungsTypes' : ''">
 								{{facilityDetailType | translate}}	
 							</span>
 						</td>
 						<td>
 							<span data-ng-show="facilityDetailType == 'VORREINIGUNG' && facilityDetail.vorreinigungInformation != null && facilityDetail.vorreinigungInformation.length > 0"> 
   						<b>Zusatzinformation:</b> {{facilityDetail.vorreinigungInformation}}
   					</span>
 							<span data-ng-show="facilityDetailType == 'ENTWAESSERUNGS_AGGREGAT' && facilityDetail.entwaesserungsAggregateInformation != null && facilityDetail.entwaesserungsAggregateInformation.length > 0"> 
   						<b>Zusatzinformation:</b> {{facilityDetail.entwaesserungsAggregateInformation}}
   					</span>
 						</td>
 					</tr>
 				</table>
 			</td>
 		</tr>
 		<tr>
 			<td><b>6. Sonstiges:</b></td>
 			<td>
 				{{facilityDetail.others}}
 			</td>
 		</tr>
		</table>
	</div>
	<br />