<div class="historyOfThinningModal modal-movable non-printable">
	<span class="glyphicon glyphicon-move icon-hover non-printable" style="margin-left:0px;margin-top:0px !important;position: absolute;"></span>
	<div class="modal-header non-printable thinningBackgroundColor">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeHistoryOfThinningModal()"></span>
        <h4 class="modal-title"><span class="fa fa-flask" aria-hidden="true"></span> Verd&uuml;nnungs- Historie </h4>
    </div>
    <div class="modal-body">
    	<span style="max-width:80%;margin-left:50px;font-size: 1.2em;">
    		<span data-ng-show="vm.thinningsOfProduct.length > 0"><b>{{vm.thinningsOfProduct.length}}</b> Verd&uuml;nnung(en)</span> 
    		<span data-ng-show="vm.thinningsOfProduct.length == 0">Keine Verd&uuml;nnungen</span> 
    		f&uuml;r das Produkt <span class="glyphicon glyphicon-filter" style="color:{{vm.product.color}}"></span> <b>{{vm.product.name}}</b> ({{vm.product.number}}) vorhanden
    	</span>
		<table style="margin-left:50px;" class="non-printable">
			<tr>
				<td><span class="glyphicon glyphicon-search"></span></td>
				<td><span>&nbsp;</span></td>
				<td><input type="text" data-ng-model="vm.searchReceipeTerm" placeholder="Verd&uuml;nnungen suchen" class="form-control" /></td>
				<td><span>&nbsp;</span></td>
				<td><span>&nbsp;</span></td>
				<td>Von:</td>
				<td>
					<p class="input-group" style="margin-top:10px;width:120px;">
				    	<input type="text"
		                            class="form-control"
		                            name="searchReceipeDateFrom"                                
		                            data-ng-model="vm.thinningDateFrom"
		                            datepicker-popup="dd.MM.yyyy"
		                            is-open="vm.searchThinningDateFromDatePicker"
		                            close-text="schlie&szlig;en"
		                            current-text="heute"
		                            clear-text="l&ouml;schen"
		                            datepicker-options="{startingDay: 1}"
		                            placeholder="Datum"
		                            disabled
		                            required>
		                  	<span class="input-group-btn">
		                       		<button type="button" class="btn btn-default btn-xs datePickerButton"                         		   
		                               data-ng-click="vm.openSearchThinningFromDatePicker($event)">
		                               <span class="glyphicon glyphicon-calendar"></span>
		                            </button>
		                  	</span>
		              </p>
				</td>
				<td><span>&nbsp;</span></td>
				<td><span>&nbsp;</span></td>
				<td>Bis:</td>
				<td>
					<p class="input-group" style="margin-top:10px;width:120px;">
				    	<input type="text"
		                            class="form-control"
		                            name="searchReceipeDateUntil"                                
		                            data-ng-model="vm.thinningDateUntil"
		                            datepicker-popup="dd.MM.yyyy"
		                            is-open="vm.searchThinningDateUntilDatePicker"
		                            close-text="schlie&szlig;en"
		                            current-text="heute"
		                            clear-text="l&ouml;schen"
		                            datepicker-options="{startingDay: 1}"
		                            placeholder="Datum"
		                            disabled
		                            required>
		                  	<span class="input-group-btn">
		                       		<button type="button" class="btn btn-default btn-xs datePickerButton"                         		   
		                               data-ng-click="vm.openSearchThinningUntilDatePicker($event)">
		                               <span class="glyphicon glyphicon-calendar"></span>
		                            </button>
		                  	</span>
		              </p>
				</td>
				<td><span>&nbsp;</span></td>
				<td><span>&nbsp;</span></td>
				<td><span>&nbsp;</span></td>
				<td><span>&nbsp;</span></td>
				<td><span class="glyphicon glyphicon-remove-circle icon-hover" data-ng-click="vm.findThinningsOfProductOfTypeInLastMonth()" title="Alle Verd&uuml;nnungen f&uuml;r dieses Produkt anzeigen"></span></td>
				<td><span>&nbsp;</span></td>
				<td><span>&nbsp;</span></td>
			</tr>
		</table>
		<hr data-ng-show="vm.receipesOfProduct.length > 0" />
		<br />
		<table class="table table-striped" data-ng-repeat="thinningOfProduct in vm.thinningsOfProduct track by $index" id="historieId{{$index}}">
			<tr>
				<td style="border:none;">{{$index+1}}.</td>
				<td style="border:none;">
					<table class="table">
						<tr>
							<td colspan="2" style="border-bottom: 1px solid #fff;border-top: 0px solid #fff;"><div style="margin-left:8px;display:block;"><b>Anmerkung:</b> {{thinningOfProduct.informationTop || '--'}}</div></td>
						</tr>
						<tr style="border:none;">
							<td>
								<table class="table">
									<tr>
										<td><b>Datum:</b></td>
										<td>{{(thinningOfProduct.date | date:'dd.MM.yyyy HH:mm') || '--'}}</td>
									</tr>
									<tr>
										<td><b>{{thinningOfProduct.labelLeft1}} [%]:</b></td>
										<td class="textRight"><b>{{thinningOfProduct.ironContent | number:3}}</b></td>
									</tr>
									<tr>
										<td><b>Zielgehalt [%]:</b></td>
										<td class="textRight"><b>{{thinningOfProduct.targetContent | number:3}}</b></td>
									</tr>
									<tr>
										<td><b>Dichte <span style="font-weight:normal;font-size:0.9em;">({{thinningOfProduct.labelLeft2}})</span> [g/ml]:</b></td>
										<td class="textRight"><b>{{thinningOfProduct.density | number:3}}</b></td>
									</tr>
									<tr>
										<td><b>Menge <span style="font-weight:normal;font-size:0.9em;">(Ziel)</span> [L]:</b></td>
										<td class="textRight"><b>{{thinningOfProduct.amountLiter | number:3}}</b></td>
									</tr>
									<tr>
										<td><b>Masse <span style="font-weight:normal;font-size:0.9em;">(Ziel)</span> [Kg]:</b></td>
										<td class="textRight"><b>{{thinningOfProduct.amount | number:3}}</b></td>
									</tr>
								</table>
							</td>
							<td>
								<table class="table">
									<tr>
										<td><b>{{thinningOfProduct.labelRight1}} [L]:</b></td>
										<td class="textRight"><b>{{thinningOfProduct.iron | number:3}}</b></td>
									</tr>
									<tr>
										<td><b>Wasser [L]:</b></td>
										<td class="textRight"><b>{{thinningOfProduct.water | number:3}}</b></td>
									</tr>
									<tr>
										<td><b>Polymer hinzugeben [g]</b> ({{thinningOfProduct.polymerPromille*1000}}&permil;)<b>:</b></td>
										<td class="textRight"><span style="font-weight:normal;font-size:0.9em;">(-{{thinningOfProduct.polymerSubtract}} [L])</span> <span data-ng-show="thinningOfProduct.polymer"><b>{{(thinningOfProduct.amountLiter * thinningOfProduct.polymerPromille * 8.5) | number:3}}</b></span></td>
									</tr>
									<tr>
										<td><b>Ascorbins&auml;ure hinzugeben [Kg]:</b></td>
										<td class="textRight"><span style="font-weight:normal;font-size:0.9em;">(-{{thinningOfProduct.ascorbinSaeureSubtract}} [L])</span> <span data-ng-show="thinningOfProduct.ascorbinSaeure"><b>{{(thinningOfProduct.iron * 0.01) | number:3}}</b></span></td>
									</tr>
									<tr>
										<td><b>Wasser Endergebnis [L]:</b></td>
										<td class="textRight"><b>{{thinningOfProduct.waterAmountCalculated | number:3}}</b></td>
									</tr>
								</table>
								
							</td>
						</tr>
						<tr>
							<td colspan="2" style="border:none;"><div style="margin-left:8px;display:block;"><b>Anmerkung:</b> {{thinningOfProduct.information || '--'}}</div></td>
						</tr>
					</table>
				</td>
				<td style="border:none;">
					<span class="fa fa-file-pdf-o icon-hover non-printable" style="margin-right:10px;margin-top:5px;color:#777;" data-ng-click="vm.printContainer('historieId' + $index, 'Historie_Mischung')" title="Mischung herunterladen"></span><br />
					<span class="glyphicon glyphicon-print icon-hover" data-ng-click="vm.showPrintThinningModal(thinningOfProduct)"></span>
				</td>
			</tr>
		</table>
    </div>
    <div class="modal-footer non-printable">
        <button class="btn btn-default" type="button" data-ng-click="vm.closeHistoryOfThinningModal()">Schlie&szlig;en</button>
    </div>
</div>