<div class="userOfCalendarEventModal">
    <div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeUserOfCalendarEventModal()"></span>
        <h4 class="modal-title">Mitglieder des Termins</h4>
    </div>
    <div class="modal-body">
    	
    	Kontakte und User, welche zum Termin <b><span data-ng-bind-html="vm.calendarEvent.title"></span> ({{vm.calendarEvent.calendarEventType | translate}})</b> eingeladen sind:
    	<br />
    	<br />	
       	<table class="table table-striped">
       		<tr data-ng-repeat="calendarEventUserConnection in vm.calendarEventUserConnections track by $index">
       			<td>{{$index+1}}.</td>
       			<td>
       				<div data-ng-show="calendarEventUserConnection.user != null" title="{{calendarEventUserConnection.user.email}}">
       					<span class="glyphicon glyphicon-user" style="color:{{calendarEventUserConnection.user.color}}"></span>
       					{{calendarEventUserConnection.user.title}} {{calendarEventUserConnection.user.firstname}} <b>{{calendarEventUserConnection.user.surname}}</b> - {{calendarEventUserConnection.user.address.street}} {{calendarEventUserConnection.user.address.postalCode}} <b>{{calendarEventUserConnection.user.address.region}}</b> 
       					<span data-ng-show="calendarEventUserConnection.emailActive == true" class="emailInfo">(Email <b>aktiv</b>)</span>
       					<span data-ng-show="calendarEventUserConnection.emailActive == false" class="emailInfo">(<i>keine Email</i>)</span>
       				</div>
       				<div data-ng-show="calendarEventUserConnection.contact != null" title="{{calendarEventUserConnection.contact.email}}">
       					<span class="glyphicon glyphicon-home" style="color:{{calendarEventUserConnection.contact.color}}"></span>
       					{{calendarEventUserConnection.contact.institution}} {{calendarEventUserConnection.contact.title}} <b>{{calendarEventUserConnection.contact.firstname}}</b> {{calendarEventUserConnection.contact.surname}} - {{calendarEventUserConnection.contact.address.street}} {{calendarEventUserConnection.contact.address.postalCode}} <b>{{calendarEventUserConnection.contact.address.region}}</b>
       				 	<span data-ng-show="calendarEventUserConnection.emailActive == true" class="emailInfo" title="{{calendarEventUserConnection.contact.emails}}">(Email <b>aktiv</b>)</span>
       				 	<span data-ng-show="calendarEventUserConnection.emailActive == false" class="emailInfo">(<i>keine Email</i>)</span>
       				 	<div class="contactPersons" data-ng-repeat="contactPerson in calendarEventUserConnection.contactPersons">
       				 		<span class="glyphicon glyphicon-user"></span> {{contactPerson.title}} {{contactPerson.firstname}} <b>{{contactPerson.surname}}</b>
       						<div class="contactPersonEmails" data-ng-repeat="email in contactPerson.emails">
       							<span class="glyphicon glyphicon-envelope"></span> {{email || '--'}}<br />
       						</div>
       				 	</div>
       				 </div>
       			</td>
       		</tr>
       	</table>	
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" data-ng-click="vm.closeUserOfCalendarEventModal()">Schlie&szlig;en</button>
    </div>
</div>