<div class="contactActivityModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close non-printable" data-ng-click="vm.closeContactActivityModal()"></span>
        <h4 class="modal-title"><span class="glyphicon glyphicon-file"></span> T&auml;tigkeiten des Kontaktes <span class="glyphicon glyphicon-home" style="color:{{vm.contact.color}}"></span> <b>{{vm.contact.institution}}</b></h4>
    </div>
    <div class="modal-body">
    	<table style="margin-left:40px;margin-bottom:20px;" class="non-printable">
    		<tr>
		    	<td>Von:</td>
				<td>
					<p class="input-group" style="margin-top:10px;max-width:120px;">
				    	<input type="text"
		                            class="form-control dateInput"
		                            name="filterStartDate"                                
		                            data-ng-model="vm.filterStartDate"
		                            datepicker-popup="dd.MM.yyyy"
		                            is-open="vm.filterStartDatePicker"
		                            close-text="schlie&szlig;en"
		                            current-text="heute"
		                            clear-text="l&ouml;schen"
		                            datepicker-options="{startingDay: 1}"
		                            placeholder="Start"
		                            disabled>
		                  	<span class="input-group-btn">
		                       		<button type="button" class="btn btn-default btn-xs datePickerButton"                         		   
		                               data-ng-click="vm.openFilterStartDatePicker($event)">
		                               <span class="glyphicon glyphicon-calendar"></span>
		                            </button>
		                  	</span>
					  </p>
				</td>
				<td><span>&nbsp;</span></td>
				<td>Bis:</td>
				<td>
					<p class="input-group" style="margin-top:10px;max-width:120px;">
				    	<input type="text"
		                            class="form-control dateInput"
		                            name="filterEndDate"                                
		                            data-ng-model="vm.filterEndDate"
		                            datepicker-popup="dd.MM.yyyy"
		                            is-open="vm.filterEndDatePicker"
		                            close-text="schlie&szlig;en"
		                            current-text="heute"
		                            clear-text="l&ouml;schen"
		                            datepicker-options="{startingDay: 1}"
		                            placeholder="Ende"
		                            disabled>
		                  	<span class="input-group-btn">
		                       		<button type="button" class="btn btn-default btn-xs datePickerButton"                         		   
		                               data-ng-click="vm.openFilterEndDatePicker($event)">
		                               <span class="glyphicon glyphicon-calendar"></span>
		                            </button>
		                  	</span>
					  </p>
				</td>
			</tr>
		</table>
		<button class="btn btn-default non-printable" type="button" style="float:right;margin-top:-60px;" onClick="javascript:window.print()">
			<span class="glyphicon glyphicon-print"></span>
		</button>
    	<div data-ng-if="vm.activities == null || vm.activities.length == 0">
    		keine T&auml;tigkeiten vorhanden
    	</div>
    	
    	<div data-ng-repeat="activity in vm.activities track by $index" data-ng-if="vm.activities.length > 0">		
			<contact-activity-directive
				invoker="vm"
				calendar-event="activity.calendarEvent"
				activity="activity"
				activity-types="vm.activityTypes"
				user="activity.user"
				contact="activity.contact"
				user-authorization-user-container="vm.userAuthorizationUserContainer"
				type="'EDIT'">
			</contact-activity-directive>
       	</div>
    </div>
</div>