<div class="projectUserManagementModal">  
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close" data-ng-click="vm.closeProjectUserManagementModal()"></span>
        <h4 class="modal-title">Projekt- Mitglieder <span class="glyphicon glyphicon-folder-open" data-ng-style="{'color': vm.project.color}"></span> <b>{{vm.project.name}}</b></h4>
    </div>
    <div class="modal-body">
       <div class="projectUserConnectionsOfSelectedProjectAddForm">
			<div class="addNewUser">
				<div class="glyphicon glyphicon-plus icon-hover" data-ng-show="!vm.addUserContainer" data-ng-click="addUserContainer = true">
				</div>
				Neuen User hinzuf&uuml;gen
			</div>
			<br />
			<br />
			<div class="projectUserConnectionsOfSelectedProject row clearfix">
				<table class="table table-striped" data-ng-show="vm.projectUserConnectionsOfProject.length > 0">
					<tr data-ng-repeat="projectUserConnectionOfProject in vm.projectUserConnectionsOfProject">
						<td>{{$index+1}}.</td>
						<td>
							<span data-ng-show="projectUserConnectionOfProject.user != null">
								<span class="glyphicon glyphicon-user" style="color:{{projectUserConnectionOfProject.user.color}}"></span>
								{{projectUserConnectionOfProject.user.title}} {{projectUserConnectionOfProject.user.firstname}} <b>{{projectUserConnectionOfProject.user.surname}}</b>
							</span>
							<span data-ng-show="projectUserConnectionOfProject.contact != null">
								<span class="glyphicon glyphicon-home" style="color:{{projectUserConnectionOfProject.contact.color}}"></span>
								{{projectUserConnectionOfProject.contact.institution}}
							</span>
						</td>
						<td>
							<table>
								<tr>
									<td>
										<select class="form-control" required="required" data-ng-disabled="projectUserConnectionOfProject.contact != null" data-ng-change="vm.changeProjectUserConnectionRole(projectUserConnectionOfProject)" data-ng-model="projectUserConnectionOfProject.projectUserConnectionRole" data-ng-options="projectUserConnectionRole as projectUserConnectionRole | translate for projectUserConnectionRole in vm.projectUserConnectionRoles">
										</select>
									</td>
									<td><span>&nbsp;</span></td>
									<td><span class="glyphicon glyphicon-ok successMessage" data-ng-show="projectUserConnectionOfProject.updateSuccessfully == true"></span></td>
								</tr>
							</table>
						</td>
						<td><span class="glyphicon glyphicon-minus icon-hover" data-ng-hide="vm.currentUser.id == projectUserConnectionOfProject.user.id" data-ng-click="vm.removeUserFromProject(projectUserConnectionOfProject)"></span></td>
					</tr>
				</table>
			</div>
			<span class="errorMessage" data-ng-show="vm.documentsAssignerError == true">Dem User sind Dokumente zugewiesen, deshalb ist dieser nicht l&ouml;schbar</span>
		</div>
		<br />
		<div class="row clearfix">
			<div class="col-md-3">
			</div>
			<div class="col-md-5">
				<div class="addUserContainer" data-ng-show="addUserContainer">
					<div class="form-group">
						<span class="glyphicon glyphicon-minus icon-hover" data-ng-click="addUserContainer = false"></span> Mitglied hinzuf&uuml;gen:
					</div>
					<div class="form-group">
						<input type="text" 
						   	class="form-control" 
							placeholder="Mitarbeiter suchen" 
							data-ng-model="vm.selectedUser"
							typeahead="user as user.institution + ' ' + user.firstname + ' ' + user.surname + ' ' + user.email + ' ' + (user.contactUserType | translate) for user in vm.findContactAndUserBySearchString($viewValue)"
							typeahead-min-length="3"
							typeahead-wait-ms="100"
							typeahead-editable="false"
							typeahead-on-select="vm.userOrContactSelected()" 
							required="required" />
					</div>
					<div class="form-group">
						<select class="form-control" required="required" data-ng-model="vm.selectedProjectUserConnectionRole" data-ng-options="projectUserConnectionRole as projectUserConnectionRole | translate for projectUserConnectionRole in vm.projectUserConnectionRoles">
							<option style="display:none" value="">-- Projektrolle ausw&auml;hlen --</option>
						</select>
					</div>
					<div class="form-group"> 
					    <div class="col-sm-offset-8 col-sm-4">
					      <button type="submit" class="btn btn-default" data-ng-click="vm.addUserToProject()">hinzuf&uuml;gen</button>
					    </div>
					</div>
					<br />
					<br />
					<div class="errorMessage" data-ng-show="vm.userStillExist">Dieser User ist bereits Mitglied</div>
				</div>
			</div>
		</div>
		<br />
		<br />
    </div>
</div>