<div class="contactAndContactImportedModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close non-printable" data-ng-click="vm.closeContactChangedModal()"></span>
		<h4><span class="glyphicon glyphicon-home"></span> Zu exportierender Kontakt</h4>
		<span class="non-printable"><button style="float:right;" onClick="javascript:window.print()" type="button" class="btn btn-default printButton"><span class="glyphicon glyphicon-print icon-hover"></span></button></span>
		<br class="non-printable" />
		<br class="non-printable" />
    </div>
    <div class="modal-body">
    
    	<div class="printInfo">
	    	<div style="float:left;margin-top:-10px;" class="printInfo">
	    		<br />
	    		Ausgedruckt am <b>{{vm.date | date:'dd.MM.yyyy HH:mm'}}</b>
	    		von {{vm.currentUser.title}} {{vm.currentUser.firstname}} <b>{{vm.currentUser.surname}}</b>
	    	</div>	
	    	<div style="float:right;margin-right:10px;" class="logo">
	    		<img class="logo" src="/assets/img/LPMLogo3.png" alt="wdm Logo">
	    	</div>
	   		<br />
	   		<br />
   		</div>
    	<br />
    	<b data-ng-show="vm.contactChanged.newContact == true">Neu importierter Kontakt:</b>
    	<div style="float:right;font-weight:bold;">({{vm.contactChanged.contactChangedType | translate}})</div>
    	<br />
    	<br />
    	<create-edit-contact-directive
			contact="vm.contactChanged" 
			titles="vm.titles" 
			province-types="vm.provinceTypes" 
			contact-types="vm.contactTypes"
			country-types="vm.countryTypes" 
			invoker="vm" 
			modal-invoker="" 
			type="'SHOW'"
			current-user="vm.currentUser"
			roles="vm.roles"
			users-of-project="null"
			disabled="true">
		</create-edit-contact-directive>
    </div>
    <div class="modal-footer non-printable" style="border:none;">
    	<button class="btn btn-default" type="button" data-ng-click="vm.confirmContactChanged()">Exportieren</button>
        <button class="btn btn-default" type="button" data-ng-click="vm.closeContactChangedModal()">Schlie&szlig;en</button>
    </div>
</div>