.userProfile .cursorPointer {
	cursor: pointer;
}
.userProfile .userProfileGrid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	width: 100%;
}
.userProfile .userProfileGrid:after,
.userProfile .userProfileItem:before {
	content: '';
	display: table;
}
.userProfile .formatText {
	font-size: 0.8em;
}
.userProfile .userProfileGrid:after {
	clear: both;
}
.userProfile .userProfileGrid li {
	width: 210px;
	height: 220px;
	display: inline-block;
}
.userProfile .userProfileItem {
	width: 100%;
	height: 100%;
	position: relative;
	cursor: default;
	box-shadow: inset 0 0 0 8px rgba(255,255,255,0.1);
	transition: all 0.4s ease-in-out;
}
.userProfile .userProfileImage { 
	background-repeat: no-repeat;
	background-size: cover;
}
.userProfile .userProfileImage .uploadContainer {
	text-align: center;
	padding-top: 60px;
}
.userProfile .ch-info {
	position: absolute;
	background: rgba(217,237,247, 0.5);
	width: inherit;
	height: inherit;
	border-radius: 50%;
	opacity: 0;	
	transition: all 0.4s ease-in-out;
	transform: scale(0);
	-webkit-backface-visibility: hidden;
}
.userProfile .userProfileItem:hover {
	box-shadow: inset 0 0 0 1px rgba(255,255,255,0.8);
}
.userProfile .userProfileItem:hover .ch-info {
	transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
.userProfile .userProfileItem:hover .ch-info p {
	opacity: 1;
}
.userProfile .weekContainer {
	max-width: 600px;
	min-width: 600px;
	margin-top: 10px;
	background-color: #eee;
	padding: 20px;
}
.userProfile .changePassword {
	margin-top: 30px;
	max-width: 170px;
}
.userProfile .times {
    padding: 2px;
    margin-left: 2px;
    border: 1px solid #ddd;
    color: #000;
    background-color: #fff;
    display: inline;   
    float: left;
}
.userProfile .weekTableHeader {
	min-width: 400px;
}
.userProfile .weekTable {
	margin-left: 20px;
	margin-top: 20px;
}
.userProfile .timeType span {
	font-size: 0.8em;
	color: #777;
}
.userProfile .viewType {
	width: 150px;
	height: 30px;
}
.changePasswordForm .errorMessage {
	color: #f00;
}