<div class="row clearfix userProfile">
	<div class="breadcrumb">
		<span class="explanation"><span class="glyphicon glyphicon-user"></span> Mein Profil</span>
		<span class="logo">wdm</span>
	</div>
	<div class="col-md-2">
		<div class="userProfile">	
			<ul class="userProfileGrid">
				<li>
					<div class="userProfileItem userProfileImage" data-ng-style="{'background-image': 'url(api/files/profileimage/'+ vm.currentUser.profileImagePath +'/)'}">
						<div class="ch-info">
							<div class="uploadContainer">
								<b>Bild hochladen</b><br />
								<span class="formatText">(Format: 270 x 300)</span><br /><br />
								<button type="submit" class="btn btn-default btn-lg" data-ngf-select="vm.uploadProfileImage($files, $invalidFiles)" data-ngf-multiple="false" data-ngf-pattern="'.png,.jpg,.jpeg,.PNG,.JPG,.JPEG'" data-ngf-max-height="1000" data-ngf-max-size="5MB">Hochladen</button>
							</div>
						</div>
					</div>
				</li>
			</ul>			
		</div>		
	</div>
	<div class="col-md-4">
		<dl class="dl-horizontal">
			<dt><translate>USERLABELS.PROFILE.USERNAME_LABEL</translate>:</dt>
			<dd><span>{{ vm.currentUser.username }}</span></dd>
			<dt><translate>USERLABELS.PROFILE.NAME_LABEL</translate>:</dt>
			<dd>
				<span editable-text="vm.currentUser.title" onaftersave="vm.updateUser('name')">{{vm.currentUser.title || '--'}}</span>
				<span editable-text="vm.currentUser.firstname" onaftersave="vm.updateUser('name')">{{vm.currentUser.firstname }}</span>
				<span editable-text="vm.currentUser.surname" onaftersave="vm.updateUser('name')">{{vm.currentUser.surname }}</span>
				<span data-ng-show="vm.nameSuccess == true" class="glyphicon glyphicon-ok successMessage"></span>
			</dd>
			<dt><translate>USERLABELS.PROFILE.COUNTRY_LABEL</translate>:</dt>
			<dd>
				<span editable-text="vm.currentUser.address.country" onaftersave="vm.updateUser('country')">{{vm.currentUser.address.country || '--'}}</span>
				<span data-ng-show="vm.countrySuccess == true" class="glyphicon glyphicon-ok successMessage"></span>
			</dd>
			<dt><translate>USERLABELS.PROFILE.REGION_LABEL</translate>:</dt>
			<dd>
				<span editable-text="vm.currentUser.address.postalCode" onaftersave="vm.updateUser('location')">{{ vm.currentUser.address.postalCode || '--'}}</span>
				<span editable-text="vm.currentUser.address.region" onaftersave="vm.updateUser('location')">{{vm.currentUser.address.region|| '--'}}</span>
				<span data-ng-show="vm.locationSuccess == true" class="glyphicon glyphicon-ok successMessage"></span>
			</dd>
			<dt><translate>USERLABELS.PROFILE.STREET_LABEL</translate>:</dt>
			<dd>
				<span editable-text="vm.currentUser.address.street" onaftersave="vm.updateUser('street')">{{vm.currentUser.address.street|| '--'}}</span>
				<span data-ng-show="vm.streetSuccess == true" class="glyphicon glyphicon-ok successMessage"></span>
			</dd>
			<dt><translate>USERLABELS.PROFILE.TELEPHONE_LABEL</translate>:</dt>
			<dd>
				<span editable-text="vm.currentUser.telephone" onaftersave="vm.updateUser('telephone')">{{vm.currentUser.telephone || '--'}}</span>
				<span data-ng-show="vm.telephoneSuccess == true" class="glyphicon glyphicon-ok successMessage"></span>
				<div data-ng-show="vm.currentUser.anotherTelephones.length == 0 || vm.currentUser.anotherTelephones == null">
					<span editable-text="vm.currentUser.anotherTelephones[0]" onaftersave="vm.updateUser('anotherTelephone')">{{vm.currentUser.anotherTelephones[0] || '--'}}</span>
				</div>
				<div data-ng-repeat="telephone in vm.currentUser.anotherTelephones">
					<span editable-text="telephone" onaftersave="vm.updateUser('anotherTelephone')">{{telephone || '--'}}</span>
				</div>
				<span data-ng-show="vm.currentUser.anotherTelephones.length > 0" editable-text="vm.currentUser.anotherTelephones[vm.currentUser.anotherTelephones.length]" onaftersave="vm.updateUser('anotherTelephone')">{{vm.currentUser.anotherTelephones[vm.currentUser.anotherTelephones.length] || '--'}}</span>
				<span data-ng-show="vm.anotherTelephoneSuccess == true" class="glyphicon glyphicon-ok successMessage"></span>
			</dd>
			<dt>Default- Email:</dt>
			<dd>
				<span editable-text="vm.currentUser.email" onaftersave="vm.updateUser('email')">{{vm.currentUser.email}}</span>
				<span data-ng-show="vm.emailSuccess == true" class="glyphicon glyphicon-ok successMessage"></span>
			</dd>
			<dt>Emails:</dt>
			<dd>
				<div data-ng-show="vm.currentUser.anotherEmails.length == 0 || vm.currentUser.anotherEmails == null">
					<span editable-text="vm.currentUser.anotherEmails[0]" onaftersave="vm.updateUser('anotherEmail')">{{vm.currentUser.anotherEmails[0] || '--'}}</span>
				</div>
				<div data-ng-repeat="email in vm.currentUser.anotherEmails">
					<span editable-text="email" onaftersave="vm.updateUser('anotherEmail')">{{email || '--'}}</span>
				</div>
				<span data-ng-show="vm.currentUser.anotherEmails.length > 0" editable-text="vm.currentUser.anotherEmails[vm.currentUser.anotherEmails.length]" onaftersave="vm.updateUser('anotherEmail')">{{vm.currentUser.anotherEmails[vm.currentUser.anotherEmails.length] || '--'}}</span>
				<span data-ng-show="vm.anotherEmailSuccess == true" class="glyphicon glyphicon-ok successMessage"></span>
			</dd>
			<dt>Farbe:</dt>
			<dd>
				<form data-ng-submit="vm.submitColor('color')">
					<table>
						<tr>
							<td><input type="color" data-ng-model="vm.currentUser.color"></td>
							<td><button type="submit" class="btn btn-default btn-xs" style="margin-top:-2px;">Farbe speichern</button></td>
						</tr>
					</table>
			     </form>
			     <span data-ng-show="vm.colorSuccess == true" class="glyphicon glyphicon-ok successMessage"></span>
			</dd>
			<dt>Mandant:</dt>
			<dd>
				{{vm.currentUser.tenant.name}} 
			</dd>
			<dt>Produkt- Rolle:</dt>
			<dd>
				{{(vm.currentUser.projectUserConnectionRole | translate) || '--'}} 
			</dd>
			<dt>Anzahl Suchresultate:</dt>
			<dd>
				<table>
					<tr>
						<td><input class="form-control" style="max-width:80px;" type="number" name="searchHistoryAmount" min="0" max="100" data-ng-model="vm.currentUser.searchHistoryAmount" data-ng-change="vm.updateUser('searchHistoryAmount')"></td>
						<td><span>&nbsp;</span></td>
						<td><span data-ng-show="vm.searchHistoryAmountSuccess == true" class="glyphicon glyphicon-ok successMessage"></span></td>
					</tr>
				</table>
			</dd>
			<dt>Anzahl Kontakte:</dt>
			<dd>
				<table>
					<tr>
						<td><input class="form-control" style="max-width:80px;" type="number" name="contactAmount" min="0" max="100" data-ng-model="vm.currentUser.contactPageSize" data-ng-change="vm.updateUser('contactPageSize')"></td>
						<td><span>&nbsp;</span></td>
						<td><span data-ng-show="vm.contactPageSizeSuccess == true" class="glyphicon glyphicon-ok successMessage"></span></td>
					</tr>
				</table>
			</dd>
			<dt></dt>
			<dd><button type="button" class="list-group-item changePassword" data-ng-click="vm.showChangePasswordModalService()"><translate>USERLABELS.PROFILE.CHANGE_PASSWORD.LABEL</translate></button></dd>
		</dl>
	</div>
	
</div>