<div class="deleteImportedContactsModal">
	<div class="modal-header">
		<span class="glyphicon glyphicon-remove close non-printable" data-ng-click="vm.closeDeleteImportedContactsModal()"></span>
        <h4 class="modal-title"><span class="glyphicon glyphicon-import"></span>
        	Importierte Kontakte l&ouml;schen  
        </h4>
    </div>
    <div class="modal-body">
    
    	<table style="max-width:700px;">
    		<tr>
    			<td>Zu l&ouml;schender Bulk: </td>
    			<td><span>&nbsp;</span></td>
    			<td>
    				<select name="contactImportationDateGroup" style="width:350px;" class="form-control" data-ng-model="vm.selectedContactImportationDateGroup" data-ng-options="'Importiert am: ' + contactImportationDateGroup.importationDate + ', Anzahl: ' + contactImportationDateGroup.total for contactImportationDateGroup in vm.contactImportationDateGroups">
					</select>
				</td>
    		</tr>
    	</table>
    	<span class="errorMessage" style="margin-left:130px;" data-ng-show="vm.contactImportationDateGroupNotSelectedError">Bitte w&auml;hlen Sie einen Bulk aus</span>
    	<br />
    	<button type="button" style="float:right;margin-right:90px;" class="btn btn-default" data-ng-click="vm.deleteImportedContactsOfBulk()">
      		Kontakte des ausgew&auml;hlten Bulks l&ouml;schen
      	</button>
      	<div class="loadingContainer" style="float:right;margin-right:5px;" data-ng-show="vm.contactImportationDateGroupsTrigger">
		  	<img src="assets/img/loading.gif" />
		</div>
      	<br />
    	<br />
    	<br />
    	<span class="glyphicon glyphicon-info-sign"></span> Es werden nur <u>nicht best&auml;tigte Kontakte</u> aus dem ausgew&auml;hlten Bulk gel&ouml;scht
    	
    </div>
</div>